Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

remove upgrade contract option
  contrib/localnet/orchestrator/start-zetae2e.sh
Due: none

chore: improve HeaderByNumber error message (#3356)
  zetaclient/chains/evm/rpc/rpc.go
Due: zetaclient

resolve comments 1
  changelog.md
  cmd/zetaclientd/main.go
  cmd/zetatool/inbound_ballot/bitcoin.go
  cmd/zetatool/inbound_ballot/evm.go
  cmd/zetatool/inbound_ballot/inbound.go
  cmd/zetatool/inbound_ballot/solana.go
Due: none

remove minimum rent exempt check for SPL tokens
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/evm_hooks_test.go
  x/crosschain/keeper/v2_zevm_inbound.go
Due: zetacore

format files and rename ChainId to ChainID
  cmd/zetatool/inbound/bitcoin.go
  cmd/zetatool/inbound/evm.go
  cmd/zetatool/inbound/inbound.go
  cmd/zetatool/inbound/solana.go
  cmd/zetatool/main.go
Due: none

fix(ci): set github token for setup-buf (#3366)
  .github/workflows/generate-files.yml
Due: none

chore(e2e): improve balance error messages
  e2e/runner/balances.go
Due: none

chore(e2e): improve balance error messages (#3375)
  e2e/runner/balances.go
Due: none

chore: upgrade attest-build-provenance
  .github/workflows/publish-release.yml
Due: none

lower default SPL withdraw amount in E2E to ensure min rent exempt is not checked
  e2e/e2etests/e2etests.go
Due: none

add changelog entry
  changelog.md
Due: none

add readme
  cmd/zetatool/README.md
  cmd/zetatool/inbound/bitcoin.go
  cmd/zetatool/inbound/evm.go
  cmd/zetatool/inbound/inbound.go
  cmd/zetatool/inbound/solana.go
  cmd/zetatool/main.go
Due: none

add warning for unconfirmed inbound
  cmd/zetatool/inbound/bitcoin.go
  cmd/zetatool/inbound/evm.go
  cmd/zetatool/inbound/inbound.go
  cmd/zetatool/inbound/solana.go
Due: none

add comment to explain why rent exempt check is only applied to Solana gas token
  x/crosschain/keeper/evm_hooks.go
Due: zetacore

have zetacore feed latest gas price to pending Bitcoin CCTXs
  testutil/sample/crypto.go
  x/crosschain/keeper/abci.go
  x/crosschain/keeper/abci_test.go
  x/crosschain/module.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/revert_options_test.go
  x/observer/types/crosschain_flags.go
Due: zetacore

fix spellings
  cmd/zetatool/inbound/bitcoin.go
  cmd/zetatool/inbound/evm.go
  cmd/zetatool/inbound/inbound.go
  cmd/zetatool/inbound/solana.go
Due: none

fix format for error messages
  cmd/zetatool/inbound/bitcoin.go
  cmd/zetatool/inbound/evm.go
  cmd/zetatool/inbound/inbound.go
  cmd/zetatool/inbound/solana.go
Due: none

fix unit test compile error
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
Due: zetaclient

improve solana tx broadcasting in e2e tests
  e2e/e2etests/test_solana_whitelist_spl.go
  e2e/e2etests/test_spl_deposit.go
  e2e/e2etests/test_spl_deposit_and_call.go
  e2e/e2etests/test_spl_withdraw.go
  e2e/e2etests/test_spl_withdraw_and_create_receiver_ata.go
  e2e/runner/balances.go
  e2e/runner/setup_solana.go
  e2e/runner/solana.go
  e2e/runner/verify.go
Due: none

add sample config and update btc client
  cmd/zetatool/README.md
  cmd/zetatool/config/config.go
  cmd/zetatool/config/config_test.go
  cmd/zetatool/config/sample_config.json
  cmd/zetatool/inbound/bitcoin.go
  cmd/zetatool/inbound/evm.go
  cmd/zetatool/inbound/inbound.go
  cmd/zetatool/inbound/solana.go
Due: none

add sample config and update btc client
  cmd/zetatool/inbound/bitcoin.go
  cmd/zetatool/inbound/evm.go
  cmd/zetatool/inbound/inbound.go
  cmd/zetatool/inbound/solana.go
  docs/cli/zetatool/filterdeposit.md
  docs/cli/zetatool/overview.md
  docs/cli/zetatool/readme.md
Due: none

handle solana errors
  cmd/zetatool/inbound/inbound.go
  cmd/zetatool/inbound/solana.go
Due: none

remove unused imports
  cmd/zetatool/inbound/solana.go
Due: none

format log lines
  cmd/zetatool/config/config.go
  cmd/zetatool/inbound/bitcoin.go
Due: none

fix: remove minimum rent exempt check for SPL token withdrawals (#3374)
  changelog.md
  e2e/e2etests/e2etests.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/evm_hooks_test.go
  x/crosschain/keeper/v2_zevm_inbound.go
Due: zetacore

update condition
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
Due: zetacore

chore: upgrade attest-build-provenance (#3376)
  .github/workflows/publish-release.yml
Due: none

proto add new chain types
  docs/openapi/openapi.swagger.yaml
  pkg/chains/chains.go
  pkg/chains/chains.pb.go
  proto/zetachain/zetacore/pkg/chains/chains.proto
  typescript/zetachain/zetacore/pkg/chains/chains_pb.d.ts
Due: pkg

Fix edge-case for block sub.
  zetaclient/zetacore/client_subscriptions.go
Due: zetaclient

add new chains
  docs/cli/zetacored/cli.md
  docs/openapi/openapi.swagger.yaml
  pkg/chains/chain_test.go
  pkg/chains/chains.go
  pkg/chains/chains.pb.go
  pkg/chains/chains_test.go
  proto/zetachain/zetacore/pkg/chains/chains.proto
  typescript/zetachain/zetacore/pkg/chains/chains_pb.d.ts
Due: pkg

remove zetacored cli from generation
  docs/cli/zetacored/cli.md
Due: none

Refactor `rpc` to `client`
  zetaclient/chains/evm/client/client.go
  zetaclient/chains/evm/client/client_live_test.go
  zetaclient/chains/evm/signer/signer.go
Due: zetaclient

changelog
  changelog.md
Due: none

update readme based on comments
  docs/cli/zetatool/readme.md
Due: none

adding auto generated cli.md
  docs/cli/zetacored/cli.md
Due: none

bump ethermint
  app/app.go
  go.mod
  go.sum
  testutil/keeper/keeper.go
Due: none

fmt
  cmd/zetacored/root.go
  docs/cli/zetacored/cli.md
  server/start.go
  testutil/keeper/keeper.go
  x/crosschain/simulation/operation_gas_price_voter.go
  x/observer/simulation/operations.go
Due: none

use json object for error messages
  e2e/e2etests/legacy/test_erc20_deposit_refund.go
  e2e/e2etests/test_eth_deposit_and_call_revert.go
  e2e/e2etests/test_eth_deposit_and_call_revert_with_call.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/evm_test.go
  x/fungible/types/evm_error_message.go
  x/fungible/types/evm_error_message_test.go
Due: zetacore
