Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

fix: tighten MtA proof bounds in tss-lib (#4569)
  changelog.md
  go.mod
  go.sum
Due: none

fix: skip forged non-protocol v2 outbound logs
  zetaclient/chains/evm/observer/v2_outbound.go
  zetaclient/chains/evm/observer/v2_outbound_test.go
Due: zetaclient

fix: skip forged non-protocol v1 outbound logs
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/outbound_test.go
Due: zetaclient

chore: add ZCNode-228 attack simulation verification script
  e2e/scripts/verify_zcnode228.go
Due: none

fix: tighten MtA proof bounds in tss-lib (backport v37) (#4571)
  go.mod
  go.sum
Due: none

fix: disable arbitrary call in signer
  zetaclient/chains/evm/signer/outbound_data.go
  zetaclient/chains/evm/signer/outbound_data_test.go
Due: zetaclient

fix: cancel arbitrary call CCTX in signer
  zetaclient/chains/evm/signer/outbound_data.go
  zetaclient/chains/evm/signer/outbound_data_test.go
  zetaclient/chains/evm/signer/v2_signer.go
  zetaclient/chains/evm/signer/v2_signer_test.go
Due: zetaclient

fix: vote outbound failed for cancelled arbitrary call CCTX
  e2e/e2etests/test_erc20_withdraw_and_arbitrary_call.go
  e2e/e2etests/test_eth_withdraw_and_arbitrary_call.go
  e2e/e2etests/test_zeta_withdraw_and_arbitrary_call.go
  e2e/e2etests/test_zevm_to_evm_arbitrary_call.go
  zetaclient/chains/evm/observer/outbound.go
Due: zetaclient

test: cover arbitrary call cancellation bypass in observer
  zetaclient/chains/evm/observer/outbound_test.go
Due: zetaclient

fix: narrow arbitrary-call cancel to GatewayEVM.execute path only
  e2e/e2etests/test_erc20_withdraw_and_arbitrary_call.go
  e2e/e2etests/test_zeta_withdraw_and_arbitrary_call.go
  zetaclient/chains/evm/common/cctx.go
  zetaclient/chains/evm/common/cctx_test.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/evm/signer/v2_signer.go
  zetaclient/chains/evm/signer/v2_signer_test.go
Due: zetaclient

test: assert ZRC20 refund on cancelled arbitrary-call CCTX
  e2e/e2etests/test_eth_withdraw_and_arbitrary_call.go
Due: none

test: gate observer cancel predicate on V2, add no-asset-call signer test
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/evm/signer/v2_signer_test.go
Due: zetaclient

fix: cancel V2 GatewayEVM.execute arbitrary calls (backport v37)
  e2e/e2etests/test_eth_withdraw_and_arbitrary_call.go
  e2e/e2etests/test_zevm_to_evm_arbitrary_call.go
  zetaclient/chains/evm/common/cctx.go
  zetaclient/chains/evm/common/cctx_test.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/evm/signer/v2_signer.go
  zetaclient/chains/evm/signer/v2_signer_test.go
Due: zetaclient

test: relax refund assertion to a lower bound
  e2e/e2etests/test_eth_withdraw_and_arbitrary_call.go
Due: none

test: relax refund assertion to a lower bound (match v38)
  e2e/e2etests/test_eth_withdraw_and_arbitrary_call.go
Due: none

test: fix misleading subtest name (return false, not true)
  zetaclient/chains/evm/observer/outbound_test.go
Due: zetaclient

test: capture revert-recipient balance after the withdraw tx mines
  e2e/e2etests/test_eth_withdraw_and_arbitrary_call.go
Due: none

test: replace vacuous self-transfer check, guard OutboundParams index
  e2e/e2etests/test_eth_withdraw_and_arbitrary_call.go
  zetaclient/chains/evm/observer/outbound.go
Due: zetaclient

fix: cancel V2 GatewayEVM.execute arbitrary calls (v38) (#4575)
  e2e/e2etests/test_eth_withdraw_and_arbitrary_call.go
  e2e/e2etests/test_zevm_to_evm_arbitrary_call.go
  zetaclient/chains/evm/common/cctx.go
  zetaclient/chains/evm/common/cctx_test.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/evm/signer/v2_signer.go
  zetaclient/chains/evm/signer/v2_signer_test.go
Due: zetaclient

chore(ci): increase zetae2e artifact retention to 400 days
  .github/workflows/ci.yml
Due: none

chore: log V2 arbitrary-call cancellation in signer + observer
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/signer/v2_signer.go
Due: zetaclient

fix: also cancel arbitrary calls reaching executeWithERC20
  e2e/e2etests/test_erc20_withdraw_and_arbitrary_call.go
  zetaclient/chains/evm/common/cctx.go
  zetaclient/chains/evm/common/cctx_test.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/evm/signer/v2_signer.go
Due: zetaclient

fix: also cancel arbitrary calls reaching executeWithERC20 (v38)
  e2e/e2etests/test_erc20_withdraw_and_arbitrary_call.go
  e2e/e2etests/test_zeta_withdraw_and_arbitrary_call.go
  zetaclient/chains/evm/common/cctx.go
  zetaclient/chains/evm/common/cctx_test.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/evm/signer/v2_signer.go
Due: zetaclient

fix: address Greptile P2 comments
  e2e/e2etests/test_zeta_withdraw_and_arbitrary_call.go
  zetaclient/chains/evm/observer/outbound.go
Due: zetaclient

fix: extract isArbitraryCallCancellation to a local variable
  zetaclient/chains/evm/observer/outbound.go
Due: zetaclient

fix(zetaclient/v38): also cancel arbitrary calls reaching executeWithERC20 (#4580)
  e2e/e2etests/test_erc20_withdraw_and_arbitrary_call.go
  e2e/e2etests/test_zeta_withdraw_and_arbitrary_call.go
  zetaclient/chains/evm/common/cctx.go
  zetaclient/chains/evm/common/cctx_test.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/evm/signer/v2_signer.go
Due: zetaclient

fix: cancel V2 arbitrary calls in zetaclient signer (backport v37) (#4576)
  e2e/e2etests/test_erc20_withdraw_and_arbitrary_call.go
  e2e/e2etests/test_eth_withdraw_and_arbitrary_call.go
  e2e/e2etests/test_zevm_to_evm_arbitrary_call.go
  zetaclient/chains/evm/common/cctx.go
  zetaclient/chains/evm/common/cctx_test.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/evm/signer/v2_signer.go
  zetaclient/chains/evm/signer/v2_signer_test.go
Due: zetaclient

chore: fix comment formatting and typos across codebase
  x/crosschain/keeper/gas_payment.go
  x/fungible/keeper/evm.go
Due: zetacore

update ledger to v0.16.0
  go.mod
  go.sum
Due: none

chore: update ledger and various Go dependencies
  go.mod
  go.sum
Due: none

fix(crosschain): cap gas refunds by event-paid fee
  docs/openapi/openapi.swagger.yaml
  docs/spec/generated.md
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  proto/zetachain/zetacore/crosschain/tx.proto
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.ts
  typescript/zetachain/zetacore/crosschain/tx_pb.ts
  x/crosschain/keeper/msg_server_vote_outbound.go
  x/crosschain/keeper/msg_server_vote_outbound_test.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/inbound_parsing.go
  x/crosschain/types/message_vote_inbound.go
  x/crosschain/types/tx.pb.go
Due: zetacore

fix(crosschain): reject paused zrc20 v2 inbounds
  x/crosschain/keeper/v2_zevm_inbound.go
  x/crosschain/keeper/v2_zevm_inbound_test.go
Due: zetacore

fix(zetaclient): snapshot telemetry peer data
  zetaclient/metrics/telemetry.go
  zetaclient/metrics/telemetry_test.go
  zetaclient/tss/healthcheck.go
Due: zetaclient

fix(observer): cap ballots pagination limit
  x/observer/keeper/grpc_query_ballot.go
  x/observer/keeper/grpc_query_ballot_test.go
Due: zetacore

fix(sui): cancel on withdraw build errors
  zetaclient/chains/sui/signer/signer_test.go
  zetaclient/chains/sui/signer/signer_tx.go
Due: zetaclient

fix(crosschain): guard revert gas limit conversion
  x/crosschain/keeper/cctx_utils.go
  x/crosschain/keeper/cctx_utils_test.go
  x/crosschain/keeper/gas_payment.go
  x/crosschain/keeper/gas_payment_test.go
Due: zetacore

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/*.go, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, cmd/zetatool/**/*, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, simulation/*.go, pkg/contracts/**/*.go
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/*.go, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, cmd/zetatool/**/*, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, simulation/*.go, pkg/contracts/**/*.go
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/*.go, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, cmd/zetatool/**/*, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, simulation/*.go, pkg/contracts/**/*.go
