Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      common:
        if_ci_failed: error
        target: 60%
        flags:
          - common

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    carryforward: true
    paths:
      - "x/"
  zetaclient:
    carryforward: true
    paths:
      - "zetaclient/"
  common:
    carryforward: true
    paths:
      - "common/"

ignore:
  - "x/**/client/"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - "*.pb.gw.go"
  - "*.json"
  - ".github/"
  - "app/"
  - "cmd/"
  - "contrib/"
  - "docs/"
  - "rpc/"
  - "proto/"
  - "scripts/"
  - "server/"
  - "testutil/"
  - "typescript/"

Revert
  zetaclient/config/types.go
Due: zetaclient

Add todo
  zetaclient/config/types.go
Due: zetaclient

test: add unit tests for crosschain evm hooks (#1787)
  changelog.md
  cmd/zetae2e/local/bitcoin.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_bitcoin_withdraw_invalid.go
  testutil/keeper/keeper.go
  testutil/sample/crosschain.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/evm_hooks_test.go
  x/crosschain/keeper/gas_payment.go
Due: zetacore

rename policy address
  contrib/localnet/scripts/start-zetacored.sh
  docs/openapi/openapi.swagger.yaml
  proto/authority/policies.proto
  testutil/sample/authority.go
  typescript/authority/policies_pb.d.ts
  x/authority/keeper/policies.go
  x/authority/keeper/policies_test.go
  x/authority/module.go
  x/authority/types/client_ctx.go
  x/authority/types/genesis_test.go
  x/authority/types/message_update_policies_test.go
  x/authority/types/policies.go
  x/authority/types/policies.pb.go
  x/authority/types/policies_test.go
  x/observer/keeper/msg_server_update_crosschain_flags.go
  x/observer/migrations/v7/migrate.go
  x/observer/migrations/v7/migrate_test.go
  x/observer/types/message_crosschain_flags.go
  x/observer/types/message_crosschain_flags_test.go
Due: zetacore

Update x/emissions/types/keys.go
  x/emissions/types/keys.go
Due: none

chore: rebase v14 (#1828)
  Dockerfile-upgrade
  app/setup_handlers.go
  changelog.md
  x/crosschain/migrations/v5/migrate.go
  x/crosschain/migrations/v5/migrate_test.go
  x/crosschain/module.go
  zetaclient/bitcoin/bitcoin_client.go
Due: zetacore, zetaclient

Adapt new e2e test
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_bitcoin_withdraw_invalid.go
Due: none

add more unit tests for utils
  zetaclient/evm/utils.go
  zetaclient/evm/utils_test.go
Due: zetaclient

renamed archived blobtx file
  zetaclient/testdata/evm/chain_5_blobtx_ethrpc_0xe707854eb6d7fec630d1e7c29683d71fb0a293eb8794be27a07240d69ee201da.json
Due: zetaclient

added entry to changelog
  changelog.md
Due: none

PR comments
  cmd/zetae2e/run.go
Due: none

PR comments
  zetaclient/config/types.go
  zetaclient/core_context/zeta_core_context_test.go
Due: zetaclient

disable gosec error
  zetaclient/evm/inbounds.go
Due: zetaclient

fix bitcoin credentials
  contrib/localnet/docker-compose-upgrade-light.yml
  contrib/localnet/docker-compose-upgrade.yml
  contrib/localnet/docker-compose.yml
  contrib/localnet/orchestrator/start.sh
  contrib/localnet/scripts/start-zetaclientd.sh
  e2e/config/config.go
  zetaclient/config/config_chain.go
Due: zetaclient

add more tests
  x/authority/keeper/policies_test.go
  x/observer/migrations/v7/migrate_test.go
Due: zetacore

change comments
  docs/spec/emissions/messages.md
  x/emissions/client/cli/tx_withdraw_emissions..go
  x/emissions/keeper/msg_server_withdraw_emissions.go
  x/emissions/keeper/msg_server_withdraw_emissions_test.go
  x/emissions/keeper/withdrawable_emissions.go
Due: zetacore

add description for test
  x/emissions/keeper/msg_server_withdraw_emissions_test.go
Due: zetacore

feat: message withdraw emissions (#1825)
  changelog.md
  docs/cli/zetacored/zetacored_tx_emissions.md
  docs/cli/zetacored/zetacored_tx_emissions_withdraw-emission.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/emissions/messages.md
  proto/emissions/tx.proto
  testutil/keeper/emissions.go
  testutil/keeper/mocks/emissions/bank.go
  testutil/keeper/mocks/emissions/emission.go
  typescript/emissions/index.d.ts
  typescript/emissions/tx_pb.d.ts
  x/emissions/client/cli/tx.go
  x/emissions/client/cli/tx_withdraw_emissions..go
  x/emissions/keeper/msg_server_withdraw_emissions.go
  x/emissions/keeper/msg_server_withdraw_emissions_test.go
  x/emissions/keeper/withdrawable_emissions.go
  x/emissions/keeper/withdrawable_emissions_test.go
  x/emissions/types/errors.go
  x/emissions/types/expected_keepers.go
  x/emissions/types/message_withdraw_emissions.go
  x/emissions/types/message_withdraw_emissons_test.go
  x/emissions/types/tx.pb.go
Due: zetacore

address comments
  zetaclient/evm/base_transaction_data.go
  zetaclient/evm/base_transaction_data_test.go
  zetaclient/evm/evm_signer.go
  zetaclient/evm/evm_signer_test.go
Due: zetaclient

renamed file
  zetaclient/evm/outbound_transaction_data.go
  zetaclient/evm/outbound_transaction_data_test.go
Due: zetaclient

chore: fix v14 changelog
  changelog.md
Due: none

fix: missing directory in codecov
  codecov.yml
Due: none

refactor inbound vote
  proto/crosschain/cross_chain_tx.proto
  testutil/keeper/authority.go
  x/crosschain/keeper/cctx.go
  x/crosschain/keeper/cctx_utils.go
  x/crosschain/keeper/cctx_utils_test.go
  x/crosschain/keeper/evm_deposit.go
  x/crosschain/keeper/evm_deposit_test.go
  x/crosschain/keeper/evm_hooks_test.go
  x/crosschain/keeper/msg_server_vote_inbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/types/cross_chain_tx.pb.go
Due: zetacore

fix typo
  .github/workflows/docker-build-and-push.yml
Due: none

updated
  changelog.md
Due: none

backport/add a AddressTaproot type that satisfies btcutil.Address interface
  common/bitcoin/address_taproot.go
  common/bitcoin/address_taproot_test.go
Due: common

add unit tests for ProcessZEVMDeposit
  x/crosschain/keeper/cctx_utils.go
  x/crosschain/keeper/cctx_utils_test.go
  x/crosschain/keeper/gas_payment.go
Due: zetacore

support taproot in DecodeBtcAddress
  common/address.go
  common/address_test.go
  common/bitcoin/address_taproot_test.go
Due: common

minor tweak
  common/bitcoin/address_taproot_test.go
Due: common

Update changelog.md
  changelog.md
Due: none

add failure for failing test
  Makefile
Due: none

update changelog
  changelog.md
Due: none

fix tests
  testutil/network/genesis_state.go
  x/authority/types/message_update_policies_test.go
  x/authority/types/policies_test.go
  x/crosschain/keeper/evm_hooks_test.go
  x/observer/keeper/msg_server_remove_chain_params_test.go
  x/observer/keeper/nonce_to_cctx_test.go
  x/observer/keeper/nonces_test.go
  x/observer/keeper/observer_set_test.go
  x/observer/keeper/pending_nonces_test.go
  x/observer/keeper/tss_funds_migrator_test.go
  x/observer/keeper/tss_test.go
  x/observer/keeper/utils_test.go
Due: zetacore

goimport
  testutil/network/genesis_state.go
Due: none

chore: fix v14 changelog (#1839)
  changelog.md
Due: none

PR comments
  changelog.md
Due: none
