Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

remove extra tr line
  .github/workflows/e2e.yml
Due: none

Add tr line back
  .github/workflows/e2e.yml
Due: none

Add support for more commands
  zetaclient/chains/bitcoin/client/client.go
  zetaclient/chains/bitcoin/client/commands.go
  zetaclient/chains/bitcoin/client/mockgen.go
  zetaclient/testutils/mocks/bitcoin_client.go
Due: zetaclient

Add prom metrics
  zetaclient/chains/bitcoin/client/client.go
  zetaclient/metrics/metrics.go
Due: zetaclient

Fix e2e
  cmd/zetaclientd/inbound.go
  cmd/zetae2e/config/clients.go
  e2e/config/config.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_crosschain_swap.go
  e2e/runner/accounting.go
  e2e/runner/balances.go
  e2e/runner/bitcoin.go
  e2e/runner/clients.go
  e2e/runner/runner.go
  e2e/runner/setup_bitcoin.go
Due: none

Port helpers from btc rpc/rpc.go
  zetaclient/chains/bitcoin/client/commands.go
  zetaclient/chains/bitcoin/client/helpers.go
Due: zetaclient

Add prom metrics [2]
  zetaclient/chains/bitcoin/client/client.go
  zetaclient/metrics/metrics.go
Due: zetaclient

Make appContext update deterministic
  zetaclient/context/app.go
Due: zetaclient

BTC Client mocks. Drop old interface/mocks
  zetaclient/chains/bitcoin/client/client.go
  zetaclient/chains/bitcoin/client/helpers.go
  zetaclient/chains/bitcoin/client/mockgen.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/testutils/mocks/bitcoin_client.go
  zetaclient/testutils/mocks/btc_rpc.go
Due: zetaclient

Fix zetaclient/... unit tests
  zetaclient/chains/bitcoin/common/fee.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
  zetaclient/chains/bitcoin/observer/rpc_status.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/bitcoin/signer/signer_test.go
  zetaclient/orchestrator/bootstrap_test.go
  zetaclient/orchestrator/v2_bootstrap.go
  zetaclient/orchestrator/v2_orchestrator_test.go
  zetaclient/testutils/testrpc/rpc_btc.go
Due: zetaclient

Implement BTC client
  zetaclient/chains/bitcoin/client/client.go
  zetaclient/chains/bitcoin/client/client_cmd.go
Due: zetaclient

Drop RPC package
  zetaclient/chains/bitcoin/rpc/rpc.go
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
Due: zetaclient

Port rpc_live_test
  zetaclient/chains/bitcoin/client/client_test.go
  zetaclient/chains/bitcoin/client/commands.go
  zetaclient/chains/bitcoin/client/helpers.go
Due: zetaclient

Update changelog
  changelog.md
Due: none

Add ISC license
  zetaclient/chains/bitcoin/client/client.go
Due: zetaclient

add solana support
  cmd/zetatool/config/config.go
  cmd/zetatool/config/config_test.go
  cmd/zetatool/filterdeposit/filterdeposit.go
  cmd/zetatool/filterdeposit/filterdeposit_test.go
  cmd/zetatool/inbound_ballot/bitcoin.go
  cmd/zetatool/inbound_ballot/evm.go
  cmd/zetatool/inbound_ballot/inbound.go
  cmd/zetatool/inbound_ballot/solana.go
  cmd/zetatool/main.go
  zetaclient/chains/solana/observer/inbound.go
Due: zetaclient

chore: improve HeaderByNumber error message
  zetaclient/chains/evm/rpc/rpc.go
Due: zetaclient

fixes e2e tests working
  cmd/zetae2e/local/monitor_block_production.go
  contrib/localnet/scripts/start-zetaclientd.sh
  contrib/localnet/scripts/start-zetacored.sh
  contrib/rpctest/init.sh
  docs/cli/zetacored/cli.md
  go.mod
  go.sum
  precompiles/bank/bank.go
  precompiles/staking/method_get_rewards.go
  precompiles/staking/method_get_shares.go
  precompiles/staking/staking.go
  rpc/backend/call_tx.go
  testutil/keeper/keeper.go
  testutil/network/util.go
  x/crosschain/simulation/operations.go
Due: none

register aborted CCTX for Bitcoin inbound that carries insufficient deposit fee
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/local/local.go
  docs/spec/crosschain/messages.md
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_bitcoin_deposit.go
  e2e/e2etests/test_bitcoin_deposit_abort_with_low_deposit_fee.go
  e2e/e2etests/test_bitcoin_deposit_and_call_revert.go
  e2e/e2etests/test_bitcoin_deposit_and_call_revert_with_dust.go
  e2e/e2etests/test_bitcoin_deposit_and_withdraw_with_dust.go
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/e2etests/test_bitcoin_donation.go
  e2e/e2etests/test_bitcoin_std_deposit.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call_revert.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call_revert_other_address.go
  e2e/e2etests/test_crosschain_swap.go
  e2e/e2etests/test_stress_btc_deposit.go
  e2e/runner/bitcoin.go
  proto/zetachain/zetacore/crosschain/tx.proto
  typescript/zetachain/zetacore/crosschain/tx_pb.d.ts
  x/crosschain/client/cli/tx_vote_inbound.go
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/types/cctx.go
  x/crosschain/types/inbound_parsing.go
  x/crosschain/types/message_vote_inbound.go
  x/crosschain/types/message_vote_inbound_test.go
  x/crosschain/types/tx.pb.go
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/zetacore/tx.go
Due: zetacore, zetaclient

Remove redundant method from observer.RPC
  zetaclient/chains/bitcoin/observer/observer.go
Due: zetaclient

Fix raw request
  zetaclient/chains/bitcoin/client/commands.go
Due: zetaclient

Reduce metrics cardinality
  zetaclient/chains/bitcoin/client/client.go
  zetaclient/metrics/metrics.go
Due: zetaclient

Update changelog.md
  changelog.md
Due: none

update protocol contract
  go.mod
  go.sum
Due: none

add uniswap in pkg
  pkg/contracts/uniswap/lib/contracts/libraries/transferhelper.sol/transferhelper.go
  pkg/contracts/uniswap/v2-core/contracts/interfaces/ierc20.sol/ierc20.go
  pkg/contracts/uniswap/v2-core/contracts/interfaces/iuniswapv2callee.sol/iuniswapv2callee.go
  pkg/contracts/uniswap/v2-core/contracts/interfaces/iuniswapv2erc20.sol/iuniswapv2erc20.go
  pkg/contracts/uniswap/v2-core/contracts/interfaces/iuniswapv2factory.sol/iuniswapv2factory.go
  pkg/contracts/uniswap/v2-core/contracts/interfaces/iuniswapv2pair.sol/iuniswapv2pair.go
  pkg/contracts/uniswap/v2-core/contracts/libraries/math.sol/math.go
  pkg/contracts/uniswap/v2-core/contracts/libraries/safemath.sol/safemath.go
  pkg/contracts/uniswap/v2-core/contracts/libraries/uq112x112.sol/uq112x112.go
  pkg/contracts/uniswap/v2-core/contracts/uniswapv2erc20.sol/uniswapv2erc20.go
  pkg/contracts/uniswap/v2-core/contracts/uniswapv2factory.sol/uniswapv2factory.go
  pkg/contracts/uniswap/v2-core/contracts/uniswapv2pair.sol/uniswapv2pair.go
  pkg/contracts/uniswap/v2-periphery/contracts/interfaces/ierc20.sol/ierc20.go
  pkg/contracts/uniswap/v2-periphery/contracts/interfaces/iuniswapv2router01.sol/iuniswapv2router01.go
  pkg/contracts/uniswap/v2-periphery/contracts/interfaces/iuniswapv2router02.sol/iuniswapv2router02.go
  pkg/contracts/uniswap/v2-periphery/contracts/interfaces/iweth.sol/iweth.go
  pkg/contracts/uniswap/v2-periphery/contracts/libraries/safemath.sol/safemath.go
  pkg/contracts/uniswap/v2-periphery/contracts/libraries/uniswapv2library.sol/uniswapv2library.go
  pkg/contracts/uniswap/v2-periphery/contracts/uniswapv2router02.sol/uniswapv2router02.go
  pkg/contracts/uniswap/v3-core/contracts/interfaces/callback/iuniswapv3swapcallback.sol/iuniswapv3swapcallback.go
  pkg/contracts/uniswap/v3-core/contracts/interfaces/iuniswapv3factory.sol/iuniswapv3factory.go
  pkg/contracts/uniswap/v3-core/contracts/interfaces/iuniswapv3pool.sol/iuniswapv3pool.go
  pkg/contracts/uniswap/v3-core/contracts/interfaces/pool/iuniswapv3poolactions.sol/iuniswapv3poolactions.go
  pkg/contracts/uniswap/v3-core/contracts/interfaces/pool/iuniswapv3poolderivedstate.sol/iuniswapv3poolderivedstate.go
  pkg/contracts/uniswap/v3-core/contracts/interfaces/pool/iuniswapv3poolevents.sol/iuniswapv3poolevents.go
  pkg/contracts/uniswap/v3-core/contracts/interfaces/pool/iuniswapv3poolimmutables.sol/iuniswapv3poolimmutables.go
  pkg/contracts/uniswap/v3-core/contracts/interfaces/pool/iuniswapv3poolowneractions.sol/iuniswapv3poolowneractions.go
  pkg/contracts/uniswap/v3-core/contracts/interfaces/pool/iuniswapv3poolstate.sol/iuniswapv3poolstate.go
  pkg/contracts/uniswap/v3-periphery/contracts/interfaces/iquoter.sol/iquoter.go
  pkg/contracts/uniswap/v3-periphery/contracts/interfaces/iswaprouter.sol/iswaprouter.go
Due: pkg

changelogs
  changelog.md
Due: none

update codecov ignore
  codecov.yml
Due: none

refactor(zetacore): delete ballots after maturity (#2863)
  changelog.md
  docs/cli/zetacored/cli.md
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/observer/query.proto
  testutil/keeper/mocks/emissions/observer.go
  testutil/sample/logger.go
  typescript/zetachain/zetacore/observer/query_pb.d.ts
  x/emissions/abci.go
  x/emissions/abci_test.go
  x/emissions/keeper/events.go
  x/emissions/types/expected_keepers.go
  x/observer/client/cli/query.go
  x/observer/client/cli/query_ballot.go
  x/observer/keeper/ballot.go
  x/observer/keeper/ballot_test.go
  x/observer/keeper/export_private_functions_test.go
  x/observer/keeper/grpc_query_ballot.go
  x/observer/keeper/grpc_query_ballot_test.go
  x/observer/keeper/migrator.go
  x/observer/migrations/v9/migrate.go
  x/observer/migrations/v9/migrate_test.go
  x/observer/module.go
  x/observer/types/ballot_test.go
  x/observer/types/query.pb.go
  x/observer/types/query.pb.gw.go
Due: zetacore

fix(ci): set github token for setup-buf
  .github/workflows/generate-files.yml
Due: none

feat(btc): implement new btc rpc package (#3349)
  changelog.md
  cmd/zetaclientd/inbound.go
  cmd/zetae2e/config/clients.go
  e2e/config/config.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_crosschain_swap.go
  e2e/runner/accounting.go
  e2e/runner/balances.go
  e2e/runner/bitcoin.go
  e2e/runner/clients.go
  e2e/runner/runner.go
  e2e/runner/setup_bitcoin.go
  zetaclient/chains/bitcoin/client/client.go
  zetaclient/chains/bitcoin/client/client_test.go
  zetaclient/chains/bitcoin/client/commands.go
  zetaclient/chains/bitcoin/client/helpers.go
  zetaclient/chains/bitcoin/client/mockgen.go
  zetaclient/chains/bitcoin/common/fee.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
  zetaclient/chains/bitcoin/observer/rpc_status.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
  zetaclient/chains/bitcoin/rpc/rpc.go
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/bitcoin/signer/signer_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/context/app.go
  zetaclient/metrics/metrics.go
  zetaclient/orchestrator/bootstrap_test.go
  zetaclient/orchestrator/v2_bootstrap.go
  zetaclient/orchestrator/v2_orchestrator_test.go
  zetaclient/testutils/mocks/bitcoin_client.go
  zetaclient/testutils/mocks/btc_rpc.go
  zetaclient/testutils/testrpc/rpc_btc.go
Due: zetaclient

refactor naming
  docs/zetacore/status_message.md
  x/crosschain/keeper/cctx_gateway_observers.go
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
Due: zetacore

update unit tests for insufficient deposit fee
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/witness_test.go
Due: zetaclient

add changelog entry
  changelog.md
Due: none

add errorMessage param to GetInboundVoteMessage method
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/zetacore/tx.go
  zetaclient/zetacore/tx_test.go
Due: zetaclient

remove filterdeposit
  cmd/zetatool/config/config.go
  cmd/zetatool/filterdeposit/btc.go
  cmd/zetatool/filterdeposit/evm.go
  cmd/zetatool/filterdeposit/filterdeposit.go
  cmd/zetatool/filterdeposit/filterdeposit_test.go
  cmd/zetatool/inbound_ballot/evm.go
  cmd/zetatool/inbound_ballot/inbound.go
  cmd/zetatool/main.go
Due: none

make generate
  docs/cli/zetacored/cli.md
Due: none

add configuration for testnet and mainnet
  cmd/zetatool/config/config.go
  cmd/zetatool/config/config_test.go
  cmd/zetatool/inbound_ballot/evm.go
  cmd/zetatool/inbound_ballot/inbound.go
Due: none

improve error messages
  cmd/zetatool/inbound_ballot/bitcoin.go
  cmd/zetatool/inbound_ballot/inbound.go
  cmd/zetatool/inbound_ballot/solana.go
  cmd/zetatool/main.go
Due: none

add changelog
  changelog.md
  cmd/zetaclientd/inbound.go
  cmd/zetaclientd/main.go
  cmd/zetatool/config/config.go
  cmd/zetatool/inbound_ballot/bitcoin.go
  cmd/zetatool/inbound_ballot/evm.go
  cmd/zetatool/inbound_ballot/inbound.go
  cmd/zetatool/inbound_ballot/solana.go
  cmd/zetatool/main.go
  zetaclient/chains/solana/observer/inbound.go
Due: zetaclient

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
