Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      common:
        if_ci_failed: error
        target: 60%
        flags:
          - common

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    carryforward: true
    paths:
      - "x/"
  zetaclient:
    carryforward: true
    paths:
      - "zetaclient/"
  common:
    carryforward: true
    paths:
      - "common/"

ignore:
  - "x/**/client/"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - "*.pb.gw.go"
  - "*.json"
  - ".github/"
  - "app/"
  - "cmd/"
  - "contrib/"
  - "docs/"
  - "rpc/"
  - "proto/"
  - "scripts/"
  - "server/"
  - "testutil/"
  - "typescript/"

Address PR comments
  zetaclient/chains/evm/signer/gas.go
  zetaclient/chains/evm/signer/gas_test.go
Due: zetaclient

fmt
  zetaclient/orchestrator/bootstrap.go
Due: zetaclient

Fix e2e upgrade tests
  e2e/e2etests/test_eth_withdraw.go
  e2e/runner/runner.go
Due: none

fix OutboundID generation to make the identifier more unique
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound.go
Due: zetaclient

fix(zetaclient): use name in pending tx metric
  zetaclient/context/chain.go
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

feat(zetaclient): add generic rpc metrics (#2597)
  changelog.md
  zetaclient/chains/evm/signer/signer.go
  zetaclient/metrics/metrics.go
  zetaclient/metrics/metrics_test.go
  zetaclient/orchestrator/bootstrap.go
Due: zetaclient

Address PR comments
  pkg/ticker/ticker.go
Due: none

feat(pkg): add `ticker` package (#2617)
  pkg/ticker/ticker.go
  pkg/ticker/ticker_test.go
  zetaclient/chains/evm/observer/inbound.go
Due: zetaclient

feat(zetaclient)!: Add support for EIP-1559 gas fees (#2634)
  changelog.md
  e2e/e2etests/test_eth_withdraw.go
  e2e/runner/runner.go
  zetaclient/chains/evm/observer/observer_gas.go
  zetaclient/chains/evm/signer/gas.go
  zetaclient/chains/evm/signer/gas_test.go
  zetaclient/chains/evm/signer/outbound_data.go
  zetaclient/chains/evm/signer/outbound_data_test.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_test.go
Due: zetaclient

feat: background worker routines to shutdown client for migration (#2538)
  changelog.md
  cmd/zetaclientd-supervisor/lib.go
  cmd/zetaclientd-supervisor/main.go
  cmd/zetaclientd/start.go
  contrib/localnet/docker-compose.yml
  pkg/bg/bg.go
  pkg/bg/bg_test.go
  pkg/retry/retry.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/maintenance/tss_listener.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/client_query_observer.go
  zetaclient/zetacore/client_query_test.go
Due: zetaclient

rebase develop
  e2e/runner/trackers.go
Due: none

chore: fix docker build warnings
  Dockerfile-localnet
  contrib/localnet/orchestrator/Dockerfile.fastbuild
Due: none

initialize deposit and call
  pkg/constant/constant.go
  x/crosschain/keeper/msg_server_refund_aborted_tx_test.go
  x/fungible/keeper/v2_deposits.go
  x/fungible/keeper/v2_evm.go
  x/fungible/types/errors.go
  x/observer/types/chain_params.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/testutils/mocks/chain_params.go
Due: zetacore, zetaclient

refactor: delete all trackers when finalizing CCTX (#2615)
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/runner/trackers.go
  testutil/keeper/crosschain.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/observer/keeper/pending_nonces_test.go
Due: zetacore

fix(ci): use FullCommit and align version.sh logic
  .goreleaser.yaml
  version.sh
Due: none

chore: fix docker build warnings (#2645)
  Dockerfile-localnet
  contrib/localnet/orchestrator/Dockerfile.fastbuild
Due: none

chore: use static release version for upgrade handler
  app/setup_handlers.go
  contrib/localnet/scripts/start-upgrade-orchestrator.sh
Due: none

fix(zetaclient): use name in pending tx metric (#2642)
  zetaclient/context/chain.go
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

fix(ci): use FullCommit and align version.sh logic (#2646)
  .goreleaser.yaml
  version.sh
Due: none

fix(ci): use FullCommit and align version logic (#2647)
  .goreleaser.yaml
  app/setup_handlers.go
  contrib/localnet/scripts/start-upgrade-orchestrator.sh
  version.sh
Due: none

rebase develop
  cmd/zetae2e/local/local.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
Due: zetacore

add deposit and call
  go.mod
  go.sum
  x/fungible/keeper/deposits.go
  x/fungible/keeper/v2_deposits.go
Due: zetacore

lint
  cmd/zetacored/docs.go
Due: none

implement E2E test
  Makefile
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_v2_erc20_deposit_and_call.go
  e2e/e2etests/test_v2_eth_deposit_and_call.go
  e2e/runner/v2_evm.go
  e2e/runner/v2_setup_zeta.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/evm_test.go
  x/fungible/keeper/v2_deposits_test.go
Due: zetacore

refactor
  cmd/zetacored/docs.go
Due: none

move contracts
  pkg/contracts/erc1967proxy/ERC1967Proxy.abi
  pkg/contracts/erc1967proxy/ERC1967Proxy.bin
  pkg/contracts/erc1967proxy/ERC1967Proxy.go
  pkg/contracts/erc1967proxy/bindings.go
  pkg/contracts/testdappv2/TestDAppV2.abi
  pkg/contracts/testdappv2/TestDAppV2.bin
  pkg/contracts/testdappv2/TestDAppV2.go
  pkg/contracts/testdappv2/TestDAppV2.json
  pkg/contracts/testdappv2/TestDAppV2.sol
  pkg/contracts/testdappv2/bindings.go
Due: none

fix evm deploy ZRC20
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/local/local.go
  e2e/runner/runner.go
  e2e/runner/v2_setup_evm.go
  e2e/runner/v2_setup_zeta.go
  e2e/txserver/zeta_tx_server.go
  go.mod
  go.sum
  testutil/keeper/fungible.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/evm_test.go
Due: zetacore

deposit and call local test
  x/fungible/keeper/evm_test.go
  x/fungible/keeper/v2_deposits.go
  x/fungible/keeper/v2_deposits_test.go
  x/fungible/keeper/v2_evm.go
Due: zetacore

complete deposit and call test
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/stress.go
  e2e/e2etests/test_v2_eth_deposit.go
  e2e/e2etests/test_v2_eth_deposit_and_call.go
  e2e/runner/runner.go
  e2e/runner/setup_zeta.go
  e2e/runner/v2_setup_evm.go
  e2e/runner/v2_setup_zeta.go
  e2e/txserver/zeta_tx_server.go
  x/crosschain/keeper/evm_deposit.go
  x/fungible/keeper/evm_test.go
  x/fungible/keeper/v2_deposits.go
  x/fungible/keeper/v2_deposits_test.go
  x/fungible/keeper/v2_evm.go
  x/observer/types/chain_params.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/testutils/mocks/chain_params.go
Due: zetacore, zetaclient

debug crosschainswap
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_crosschain_swap.go
Due: none

add validation for authorization list
  x/authority/migrations/v2/migrate.go
  x/authority/types/genesis.go
  x/authority/types/genesis_test.go
Due: zetacore

add changelog
  changelog.md
Due: none

debud btc swap
  cmd/zetae2e/local/local.go
Due: none

configure observer relayer key for Solana; remove hardcoded solana test key from zetaclient code
  cmd/zetaclientd/init.go
  cmd/zetaclientd/solana_test_key.go
  cmd/zetae2e/config/localnet.yml
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetaclientd.sh
  e2e/config/config.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/withdraw.go
  zetaclient/config/types.go
  zetaclient/keys/relayer_keys.go
  zetaclient/orchestrator/bootstrap.go
Due: zetaclient
