Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

feat(e2e): add populate-addresses command (#3812)
  cmd/zetae2e/balances.go
  cmd/zetae2e/bitcoin_address.go
  cmd/zetae2e/config/config_test.go
  cmd/zetae2e/local/config.go
  cmd/zetae2e/populate_addresses.go
  cmd/zetae2e/root.go
  cmd/zetae2e/run.go
  cmd/zetae2e/setup_bitcoin.go
  cmd/zetae2e/show_tss.go
  e2e/config/config.go
  e2e/runner/legacy_setup_evm.go
Due: none

fix: prevent withdraw with invalid Sui address (#3802)
  changelog.md
  e2e/e2etests/test_sui_deposit_and_call.go
  e2e/e2etests/test_sui_withdraw_restricted_address.go
  pkg/chains/chain.go
  pkg/chains/chain_test.go
  pkg/contracts/sui/address.go
  pkg/contracts/sui/address_test.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/evm_hooks_test.go
Due: zetacore, pkg

fix: TONDepositAndCall test
  e2e/runner/ton.go
Due: none

Update TONDepositAndCall to follow the same logic as TONDeposit
  e2e/runner/ton.go
Due: none

debug: Add log messages in TONDepositAndCall
  e2e/runner/ton.go
Due: none

verify the cctx with the correct sender addr
  e2e/e2etests/test_ton_deposit_and_call.go
Due: none

debug: remove after fixing the error
  e2e/runner/ton.go
Due: none

add optional status param to tonWaitForInboundCCTX
  e2e/runner/ton.go
Due: none

refactor: set zeta protocol fee to zero (#3813)
  changelog.md
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/types/keys.go
Due: zetacore

improve sui withdraw and call e2e test
  changelog.md
  e2e/e2etests/test_sui_withdraw_and_call.go
Due: none

simplify json integer extraction; fix code generate; improve comment
  pkg/contracts/sui/coin.go
  pkg/contracts/sui/gateway.go
  pkg/contracts/sui/withdraw_and_call_ptb.go
  zetaclient/chains/sui/observer/observer.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/signer/withdraw_and_call.go
  zetaclient/testutils/mocks/sui_client.go
  zetaclient/testutils/mocks/sui_gen.go
Due: zetaclient, pkg

debug: Add log to identify where the Reverted TX is failing
  e2e/runner/ton.go
  e2e/utils/zetacore.go
Due: none

debug: reorder validation, remove excessive debug and add verification for the cctx
  e2e/runner/ton.go
Due: none

improve readability of function getWithdrawAndCallObjectRefs
  pkg/contracts/sui/withdraw_and_call_ptb.go
  zetaclient/chains/sui/signer/signer_tx.go
  zetaclient/chains/sui/signer/withdraw_and_call.go
Due: zetaclient, pkg

debug: Add gas-related message. Increase gas because revert is expensive
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_ton_deposit_refund.go
Due: none

move PTB argument related function to pkg contracts
  pkg/contracts/sui/ptb_argument.go
  zetaclient/chains/sui/signer/signer_tx.go
  zetaclient/chains/sui/signer/withdraw_and_call.go
Due: zetaclient, pkg

add pkg contracts for sui withdraw and call
  pkg/contracts/sui/coin_test.go
  pkg/contracts/sui/ptb_argument_test.go
  pkg/contracts/sui/withdraw_and_call_ptb.go
  pkg/contracts/sui/withdraw_and_call_ptb_test.go
  zetaclient/chains/sui/signer/withdraw_and_call.go
Due: zetaclient, pkg

fix gosec
  zetaclient/chains/sui/signer/withdraw_and_call.go
Due: zetaclient

Hide encoding internal & improve semantics
  e2e/e2etests/test_solana_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_solana_deposit_and_call_revert_with_call_that_reverts.go
  e2e/runner/solana.go
  pkg/contracts/solana/gateway_message.go
  pkg/contracts/solana/instruction.go
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient, pkg

improve execute type comment
  pkg/contracts/solana/gateway_message.go
Due: pkg

feat: integrate execute revert (#3790)
  changelog.md
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/solana.go
  contrib/localnet/solana/connected.so
  contrib/localnet/solana/gateway.so
  contrib/localnet/solana/start-solana.sh
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_solana_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_solana_deposit_and_call_revert_with_call_that_reverts.go
  e2e/e2etests/test_solana_withdraw_and_call.go
  e2e/e2etests/test_spl_withdraw_and_call.go
  e2e/runner/setup_solana.go
  e2e/runner/solana.go
  go.mod
  go.sum
  pkg/contracts/solana/gateway.go
  pkg/contracts/solana/gateway.json
  pkg/contracts/solana/gateway_message.go
  pkg/contracts/solana/gateway_message_test.go
  pkg/contracts/solana/instruction.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/observer/outbound_test.go
  zetaclient/chains/solana/signer/execute.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/testdata/solana/chain_901_outbound_tx_result_4QjCYR4CfS5RFUQuRS8W68ZpBgqd91zZmC5Z1M4uyh4BeZWnB6NtRMxwwZttyre344zX6vTme2Eum94BHQ5Xk9Tf.json
Due: zetaclient, pkg

fixes after merge
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient

lint
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient

Revert default value to 1TON
  e2e/e2etests/e2etests.go
Due: none

check if relayed message matches either raw string or hex-encoded.
  e2e/runner/ton.go
Due: none

TONDepositAndCall: Set reasonable gas limit for revert
  e2e/runner/ton.go
Due: none

debug: Add extra logging info to deposit_refund test
  e2e/e2etests/test_ton_deposit_refund.go
Due: none

Fix nil pointer, update revert gas logic and add more logging
  e2e/e2etests/test_ton_deposit_refund.go
  e2e/runner/ton.go
Due: none

Remove extra logging and conditions.
  e2e/e2etests/test_ton_deposit_refund.go
Due: none

simplify the code for sui contract fields assignment
  cmd/zetae2e/config/contracts.go
Due: none

feat: integrate execute spl revert (#3797)
  changelog.md
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/performance.go
  contrib/localnet/solana/connected_spl.so
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_spl_deposit.go
  e2e/e2etests/test_spl_deposit_and_call.go
  e2e/e2etests/test_spl_deposit_and_call_revert.go
  e2e/e2etests/test_spl_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_spl_deposit_and_call_revert_with_call_that_reverts.go
  e2e/e2etests/test_stress_spl_deposit.go
  e2e/runner/solana.go
  go.mod
  go.sum
  pkg/contracts/solana/gateway.go
  pkg/contracts/solana/gateway.json
  pkg/contracts/solana/gateway_message.go
  pkg/contracts/solana/gateway_message_test.go
  pkg/contracts/solana/instruction.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/observer/outbound_test.go
  zetaclient/chains/solana/signer/execute.go
  zetaclient/chains/solana/signer/execute_spl.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/testdata/solana/chain_901_outbound_tx_result_4yYoLWeVwjRiLk4sf8aqnk41CRFFQZNLHxixybn7rU5R5YUjWnY5zfrdyevopkLmTLqQA6qL5Dwsrkz5NusKYoSo.json
Due: zetaclient, pkg

set retry gas limit if evm outbound is successful
  zetaclient/chains/evm/observer/outbound.go
Due: zetaclient

use actual gas budget in the CCTX for PTB transaction
  pkg/contracts/sui/ptb_argument.go
  zetaclient/chains/sui/signer/withdraw_and_call.go
Due: zetaclient, pkg

get latest version of TSS SUI coin object for gas payment
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/signer/withdraw_and_call.go
  zetaclient/testutils/mocks/sui_client.go
  zetaclient/testutils/mocks/sui_gen.go
Due: zetaclient

add constant for retry gas limit
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/sui/observer/outbound.go
  zetaclient/chains/ton/observer/outbound.go
  zetaclient/zetacore/constant.go
Due: zetaclient

Remove commented code
  e2e/runner/ton.go
Due: none

improve naming and add additional sui contract pkg unit test
  pkg/contracts/sui/gateway_test.go
  pkg/contracts/sui/ptb_argument.go
  pkg/contracts/sui/ptb_argument_test.go
  pkg/contracts/sui/withdraw_and_call_ptb_test.go
  zetaclient/chains/sui/signer/withdraw_and_call.go
Due: zetaclient, pkg

Set the approved amount to be significantly higher than the withdrawal amount
  e2e/e2etests/test_ton_withdrawal.go
Due: none

Check current allowance before approving. Only performs approval if necessary
  e2e/runner/ton.go
Due: none

fix: ton_deposit_and_call in localnet
  e2e/e2etests/test_ton_deposit_and_call.go
  e2e/utils/contracts.go
Due: none

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
