Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

make specs
  docs/spec/generated.md
Due: none

docs: generate spec in a single file (#4001)
  docs/spec/authority/messages.md
  docs/spec/crosschain/messages.md
  docs/spec/crosschain/overview.md
  docs/spec/emissions/messages.md
  docs/spec/emissions/overview.md
  docs/spec/fungible/messages.md
  docs/spec/fungible/overview.md
  docs/spec/generated.md
  docs/spec/lightclient/messages.md
  docs/spec/observer/messages.md
  docs/spec/observer/overview.md
  scripts/gen-spec.go
Due: none

fixing upgrade tests wip
  app/setup_handlers.go
  go.mod
  go.sum
Due: none

use tagged sui docker image mainnet-v1.51.5-dev for E2E test
  contrib/localnet/docker-compose.yml
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  e2e/contracts/sui/example-authenticated-call/Move.toml
  e2e/contracts/sui/protocol-contracts-sui-upgrade/Move.toml
Due: none

replace sui v1.41.1 by v1.51.5
  e2e/contracts/sui/example-arbitrary-call/Move.toml
Due: none

progress with upgrade tests
  go.mod
  go.sum
Due: none

add a migration script to remove sui balance for gas stability pool
  x/fungible/keeper/migrator.go
  x/fungible/migrations/v4/migrate.go
  x/fungible/migrations/v4/migrate_test.go
  x/fungible/module.go
Due: zetacore

update effective gas limit for SUI withdraw to disable stability pool calculations
  x/fungible/keeper/migrator.go
  x/fungible/migrations/v4/migrate.go
  x/fungible/migrations/v4/migrate_test.go
  zetaclient/chains/sui/observer/observer_test.go
  zetaclient/chains/sui/observer/outbound.go
Due: zetacore, zetaclient

add changelog
  changelog.md
  x/fungible/keeper/migrator.go
  x/fungible/migrations/v4/migrate.go
  x/fungible/migrations/v4/migrate_test.go
  zetaclient/chains/sui/observer/observer_test.go
  zetaclient/chains/sui/observer/outbound.go
Due: zetacore, zetaclient

add changelog
  changelog.md
Due: none

fix test
  pkg/bg/bg_test.go
Due: pkg

fix err parsing
  zetaclient/zetacore/broadcast.go
Due: zetaclient

add sui accounting check
  cmd/zetae2e/local/sui.go
  e2e/runner/accounting.go
Due: none

changelog
  changelog.md
Due: none

apply zetaclient fix
  zetaclient/chains/sui/observer/observer_test.go
  zetaclient/chains/sui/observer/outbound.go
Due: zetaclient

set 0 effective gas limit for sui and ton
  zetaclient/chains/sui/observer/observer_test.go
  zetaclient/chains/sui/observer/outbound.go
  zetaclient/chains/ton/observer/outbound.go
Due: zetaclient

merge cherry pick
  zetaclient/chains/sui/observer/observer_test.go
  zetaclient/chains/sui/observer/outbound.go
  zetaclient/chains/ton/observer/outbound.go
Due: zetaclient

changelogs
  changelog.md
Due: none

set back masxGasLimit
  zetaclient/chains/ton/observer/inbound.go
Due: zetaclient

chore: synchronize changelogs with v32 (#4006)
  changelog.md
Due: none

fix: use 0 for effective gas limit for Sui and TON (#4019)
  changelog.md
  zetaclient/chains/sui/observer/observer_test.go
  zetaclient/chains/sui/observer/outbound.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/outbound.go
Due: zetaclient

add migration script to burn stabilty pool sui gas balances
  Makefile
  x/fungible/keeper/migrator.go
  x/fungible/migrations/v3/migrate.go
  x/fungible/migrations/v3/migrate_test.go
  x/fungible/migrations/v4/migrate.go
  x/fungible/migrations/v4/migrate_test.go
  x/fungible/module.go
Due: zetacore

chore: fix inconsistent function name in comment (#4012)
  pkg/contracts/solana/instruction.go
Due: pkg

group sui E2E packages into 'sui' sub dir
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  e2e/runner/setup_sui.go
Due: none

add migration script to burn stabilty pool sui gas balances
  Makefile
  e2e/e2etests/e2etests.go
  x/fungible/keeper/migrator.go
  x/fungible/migrations/v3/migrate.go
  x/fungible/migrations/v3/migrate_test.go
  x/fungible/migrations/v4/migrate.go
  x/fungible/migrations/v4/migrate_test.go
  x/fungible/module.go
Due: zetacore

add logAndSkip function to make the code more readable
  x/fungible/migrations/v4/migrate.go
Due: zetacore

update changelog
  changelog.md
Due: none

correct typo and add gitignore file back to example package
  e2e/contracts/sui/example/.gitignore
  e2e/e2etests/test_sui_token_withdraw_and_call_revert_with_call.go
  zetaclient/chains/sui/signer/withdraw_and_call.go
Due: zetaclient

resolve comments
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_zeta_withdraw_and_call_revert_with_call.go
  e2e/runner/zevm.go
  x/crosschain/keeper/v2_zevm_inbound.go
  x/fungible/keeper/abort.go
Due: zetacore

fixing upgrade tests
  app/ante/sig_verification.go
  cmd/zetae2e/local/evm.go
Due: none

add makefile target
  Makefile
  e2e/e2etests/e2etests.go
Due: none

add assertions for stability pool balance before and after the upgrade
  Makefile
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/runner/upgrade.go
Due: none

get balance from the gateway
  e2e/runner/accounting.go
  e2e/runner/sui_gateway_balance.go
  e2e/runner/sui_gateway_balance_test.go
Due: none

lint fixes
  app/ante/sig_verification.go
  app/setup_handlers.go
Due: none

add artificaly balance to stabilty pool for v32 -> v33 upgrades
  cmd/zetae2e/local/local.go
  e2e/runner/upgrade.go
Due: none

update semver check
  e2e/runner/upgrade.go
Due: none

cleaning some todos
  cmd/zetacored/add_observer_list.go
  cmd/zetacored/genaccounts.go
  simulation/simulation.go
  simulation/simulation_test.go
Due: none

update semver check
  e2e/runner/runner.go
  e2e/runner/upgrade.go
Due: none
