Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

add enabled chain query to zetacliet tests
  proto/lightclient/query.proto
  x/lightclient/keeper/grpc_query_header_enabled_chains.go
  x/lightclient/types/query.pb.go
  x/lightclient/types/query.pb.gw.go
  zetaclient/zetabridge/query.go
  zetaclient/zetabridge/query_test.go
  zetaclient/zetabridge/tx_test.go
Due: zetacore, zetaclient

generate files 4
  docs/openapi/openapi.swagger.yaml
  typescript/lightclient/query_pb.d.ts
Due: none

updated
  changelog.md
Due: none

ci: added local development testing node sync docker compose (#2070)
  Dockerfile
  Makefile
  changelog.md
  contrib/athens3/zetacored/docker-compose.yml
  contrib/docker-scripts/start.sh
  contrib/mainnet/zetacored/docker-compose.yml
  contrib/rpc/bitcoind-mainnet/docker-compose.yml
  contrib/rpc/ethereum/Dockerfile
  contrib/rpc/ethereum/docker-compose.yml
  contrib/rpc/zetacored/docker-compose.yml
  contrib/rpc/zetacored/init_docker_compose.sh
  contrib/rpc/zetacored/kill_docker_compose.sh
  contrib/rpc/zetacored/networks/.athens3
  contrib/rpc/zetacored/networks/.athens3-localbuild
  contrib/rpc/zetacored/networks/.mainnet
  contrib/rpc/zetacored/networks/.mainnet-localbuild
  readme.md
Due: none

fix unit tests
  e2e/e2etests/test_pause_zrc20.go
  pkg/authorizations/authorizations.go
  x/authority/keeper/policies_test.go
  x/fungible/keeper/msg_server_pause_zrc20.go
  x/fungible/keeper/msg_server_pause_zrc20_test.go
  x/fungible/keeper/msg_server_unpause_zrc20_test.go
Due: zetacore

modify signature for isAuthorized
  x/authority/keeper/policies.go
  x/authority/keeper/policies_test.go
  x/crosschain/keeper/msg_server_add_to_intx_tracker.go
  x/crosschain/keeper/msg_server_add_to_outtx_tracker.go
  x/crosschain/keeper/msg_server_migrate_tss_funds.go
  x/crosschain/keeper/msg_server_refund_aborted_tx.go
  x/crosschain/keeper/msg_server_remove_out_tx_tracker.go
  x/crosschain/keeper/msg_server_update_rate_limiter_flags.go
  x/crosschain/keeper/msg_server_update_tss.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
  x/crosschain/types/expected_keepers.go
  x/fungible/keeper/msg_server_deploy_fungible_coin_zrc20.go
  x/fungible/keeper/msg_server_remove_foreign_coin.go
  x/fungible/types/expected_keepers.go
  x/lightclient/types/expected_keepers.go
  x/observer/types/expected_keepers.go
Due: zetacore

set module versions in Init chain
  app/app.go
Due: none

refactor: update go-tss (#2094)
  changelog.md
  cmd/zetaclientd/keygen_tss.go
  cmd/zetaclientd/start.go
  go.mod
  go.sum
  zetaclient/tss/tss_signer.go
Due: zetaclient

docs: add instruction to use Bitcoin in local testing
  LOCAL_TESTING.md
Due: none

chore: update codeowners
  .github/CODEOWNERS
Due: none

move docs in new file
  docs/development/DEPLOY_NODES.md
  docs/development/LOCAL_TESTING.md
  docs/development/RELEASES.md
Due: none

update readme
  readme.md
Due: none

initiated rate limiter refactor and added metrics
  docs/openapi/openapi.swagger.yaml
  pkg/math/float.go
  pkg/math/float_test.go
  proto/crosschain/query.proto
  proto/crosschain/rate_limiter_flags.proto
  testutil/sample/crosschain.go
  typescript/crosschain/query_pb.d.ts
  typescript/crosschain/rate_limiter_flags_pb.d.ts
  x/crosschain/keeper/cctx_utils.go
  x/crosschain/keeper/cctx_utils_test.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit_test.go
  x/crosschain/keeper/rate_limiter_flags.go
  x/crosschain/keeper/rate_limiter_flags_test.go
  x/crosschain/types/query.pb.go
  x/crosschain/types/query.pb.gw.go
  x/crosschain/types/rate_limiter_flags.pb.go
  zetaclient/core_context/zeta_core_context.go
  zetaclient/core_context/zeta_core_context_test.go
  zetaclient/interfaces/interfaces.go
  zetaclient/metrics/metrics.go
  zetaclient/ratelimiter/rate_limiter.go
  zetaclient/ratelimiter/rate_limiter_test.go
  zetaclient/testutils/stub/core_bridge.go
  zetaclient/zetabridge/query.go
  zetaclient/zetabridge/query_test.go
  zetaclient/zetacore_observer.go
  zetaclient/zetacore_observer_test.go
Due: zetacore, zetaclient

create new message types
  proto/observer/tx.proto
  x/observer/keeper/msg_server.go
  x/observer/types/message_enable_cctx_flags.go
  x/observer/types/message_enable_cctx_flags_test.go
  x/observer/types/tx.pb.go
Due: zetacore

test: fix and unit tests for query pending cctx within rate limit (#2060)
  changelog.md
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  docs/cli/zetacored/zetacored_query_crosschain.md
  docs/cli/zetacored/zetacored_query_crosschain_list_pending_cctx_within_rate_limit.md
  docs/openapi/openapi.swagger.yaml
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_erc20_withdraw.go
  e2e/e2etests/test_eth_deposit.go
  e2e/e2etests/test_eth_withdraw.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/e2etests/test_rate_limiter.go
  e2e/e2etests/test_update_bytecode_connector.go
  e2e/e2etests/test_zeta_withdraw.go
  e2e/runner/evm.go
  e2e/runner/zeta.go
  e2e/utils/evm.go
  pkg/coin/coin.go
  pkg/coin/coin_test.go
  proto/crosschain/query.proto
  testutil/keeper/mocks/crosschain/fungible.go
  typescript/crosschain/query_pb.d.ts
  x/crosschain/client/cli/query.go
  x/crosschain/client/cli/query_cctx_rate_limit.go
  x/crosschain/keeper/grpc_query_cctx.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit_test.go
  x/crosschain/types/expected_keepers.go
  x/crosschain/types/query.pb.go
  x/fungible/keeper/foreign_coins.go
  x/fungible/keeper/foreign_coins_test.go
  x/observer/types/chain_params.go
  zetaclient/interfaces/interfaces.go
  zetaclient/testutils/stub/core_bridge.go
  zetaclient/zetabridge/query.go
  zetaclient/zetacore_observer.go
Due: zetacore, zetaclient

chore: update codeowners (#2103)
  .github/CODEOWNERS
Due: none

more conflict resolution
  Dockerfile-upgrade
  Makefile
Due: none

docs: make readme shorter and put specific docs in specific files (#2104)
  docs/development/DEPLOY_NODES.md
  docs/development/LOCAL_TESTING.md
  docs/development/RELEASES.md
  readme.md
Due: none

add cli commands for enable and disable cctx flags
  docs/cli/zetacored/zetacored_tx_fungible.md
  docs/cli/zetacored/zetacored_tx_fungible_pause-zrc20.md
  docs/cli/zetacored/zetacored_tx_fungible_unpause-zrc20.md
  docs/cli/zetacored/zetacored_tx_observer.md
  docs/cli/zetacored/zetacored_tx_observer_disable-cctx-flags.md
  docs/cli/zetacored/zetacored_tx_observer_enable-cctx-flags.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/fungible/messages.md
  docs/spec/observer/messages.md
  pkg/authorizations/authorizations.go
  proto/observer/tx.proto
  testutil/sample/observer.go
  typescript/fungible/tx_pb.d.ts
  typescript/observer/tx_pb.d.ts
  x/observer/client/cli/tx.go
  x/observer/client/cli/tx_disable_cctx_flags.go
  x/observer/client/cli/tx_enable_cctx_flags.go
  x/observer/keeper/msg_server.go
  x/observer/keeper/msg_server_disable_cctx_flags.go
  x/observer/keeper/msg_server_disable_cctx_flags_test.go
  x/observer/keeper/msg_server_enable_cctx_flags.go
  x/observer/keeper/msg_server_enable_cctx_flags_test.go
  x/observer/keeper/msg_server_update_crosschain_flags.go
  x/observer/keeper/msg_server_update_crosschain_flags_test.go
  x/observer/keeper/msg_server_update_gas_price_increase_flags.go
  x/observer/keeper/msg_server_update_gas_price_increase_flags_test.go
  x/observer/types/codec.go
  x/observer/types/message_disable_cctx_flags.go
  x/observer/types/message_disable_cctx_flags_test.go
  x/observer/types/message_update_crosschain_flags.go
  x/observer/types/message_update_crosschain_flags_test.go
  x/observer/types/message_update_gas_price_increase_flags.go
  x/observer/types/message_update_gas_price_increase_flags_test.go
  x/observer/types/tx.pb.go
Due: zetacore

added more unit tests and updated changelog
  changelog.md
  x/crosschain/keeper/grpc_query_cctx_rate_limit.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit_test.go
  zetaclient/zetacore_observer.go
Due: zetacore, zetaclient

print more details from rate limiter output
  zetaclient/zetacore_observer.go
Due: zetaclient

reorder observer methods declaration
  zetaclient/zetacore_observer.go
Due: zetaclient

fix unit test
  zetaclient/core_context/zeta_core_context_test.go
Due: zetaclient

docs: resynchronize changelogs for v16.0.0 (#2098)
  changelog.md
Due: none

docs: add instruction to use Bitcoin in local testing (#2102)
  docs/development/LOCAL_TESTING.md
Due: none

Update pkg/chains/chain.go
  pkg/chains/chain.go
Due: none

add check for duplicated chain id
  x/lightclient/keeper/block_header_verification_test.go
  x/lightclient/keeper/grpc_query_header_enabled_chains.go
  x/lightclient/keeper/grpc_query_header_enabled_chains_test.go
  x/lightclient/keeper/msg_server_disable_block_header_verification.go
  x/lightclient/keeper/msg_server_enable_block_header_verification.go
  x/lightclient/types/block_header_verification.go
  x/lightclient/types/block_header_verification_test.go
  x/lightclient/types/genesis.go
  x/lightclient/types/genesis_test.go
Due: zetacore

moved state irrelevant methods to types; renaming and cleaning
  changelog.md
  cmd/zetae2e/local/local.go
  testutil/sample/crosschain.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit_test.go
  x/crosschain/keeper/rate_limiter_flags.go
  x/crosschain/keeper/rate_limiter_flags_test.go
  x/crosschain/types/rate_limiter_flags.go
  x/crosschain/types/rate_limiter_flags_test.go
  zetaclient/core_context/zeta_core_context.go
  zetaclient/core_context/zeta_core_context_test.go
  zetaclient/ratelimiter/rate_limiter_test.go
  zetaclient/zetacore_observer.go
  zetaclient/zetacore_observer_test.go
Due: zetacore, zetaclient

code indentation and update variable
  zetaclient/zetacore_observer.go
Due: zetaclient

replace with
  zetaclient/core_context/zeta_core_context.go
Due: zetaclient

add legacy genesis structs
  cmd/zetacored/parse_genesis.go
  proto/crosschain/genesis.proto
  proto/fungible/genesis.proto
  x/crosschain/types/genesis.go
  x/crosschain/types/genesis.pb.go
  x/fungible/types/genesis.go
  x/fungible/types/genesis.pb.go
Due: zetacore

chore: fix function names
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/run.go
  pkg/chains/address_taproot.go
  rpc/backend/node_info.go
Due: none

outbound data
  .github/actions/upgrade-testing/configs/config.toml
  contrib/localnet/zetacored/common/config.toml
  contrib/localnet/zetacored/zetacored_zetacore0/config/config.toml
  contrib/localnet/zetacored/zetacored_zetacore1/config/config.toml
  x/crosschain/types/message_vote_on_observed_outbound_tx.go
  zetaclient/evm/evm_signer.go
  zetaclient/evm/outbound_data.go
  zetaclient/evm/outbound_data_test.go
Due: zetacore, zetaclient

refactor CLI
  x/crosschain/client/cli/cli_cctx.go
  x/crosschain/client/cli/query_cctx.go
  x/crosschain/client/cli/tx.go
  x/crosschain/client/cli/tx_vote_inbound.go
  x/crosschain/client/cli/tx_vote_outbound.go
  x/crosschain/client/cli/tx_vote_stuck_cctx.go
Due: zetacore

run e2e with imported data
  cmd/zetacored/parse_genesis.go
  contrib/localnet/docker-compose.yml
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetaclientd.sh
  contrib/localnet/scripts/start-zetacored.sh
  x/fungible/keeper/deposits.go
Due: zetacore

proto
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  proto/zetachain/zetacore/crosschain/events.proto
  proto/zetachain/zetacore/crosschain/genesis.proto
  proto/zetachain/zetacore/crosschain/inbound_hash_to_cctx.proto
  proto/zetachain/zetacore/crosschain/inbound_tracker.proto
  proto/zetachain/zetacore/crosschain/last_block_height.proto
  proto/zetachain/zetacore/crosschain/outbound_tracker.proto
  proto/zetachain/zetacore/crosschain/query.proto
  proto/zetachain/zetacore/crosschain/tx.proto
  proto/zetachain/zetacore/observer/params.proto
  x/crosschain/client/cli/query_inbound_hash_to_cctx.go
  x/crosschain/client/cli/query_inbound_tracker.go
  x/crosschain/client/cli/query_outbound_tracker.go
  x/crosschain/client/cli/tx_add_inbound_tracker.go
  x/crosschain/client/cli/tx_add_outbound_tracker.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/events.pb.go
  x/crosschain/types/genesis.pb.go
  x/crosschain/types/in_tx_hash_to_cctx.pb.go
  x/crosschain/types/inbound_hash_to_cctx.pb.go
  x/crosschain/types/inbound_tracker.pb.go
  x/crosschain/types/last_block_height.pb.go
  x/crosschain/types/outbound_tracker.pb.go
  x/crosschain/types/query.pb.go
  x/crosschain/types/query.pb.gw.go
  x/crosschain/types/tx.pb.go
  x/observer/types/params.pb.go
Due: zetacore

Path conditions:
  zetacore: any of: x/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  zetaclient: any of: zetaclient/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  common: any of: common/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
