Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      common:
        if_ci_failed: error
        target: 60%
        flags:
          - common

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    carryforward: true
    paths:
      - "x/"
  zetaclient:
    carryforward: true
    paths:
      - "zetaclient/"
  common:
    carryforward: true
    paths:
      - "common/"

ignore:
  - "x/**/client/"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - "*.pb.gw.go"
  - "*.json"
  - ".github/"
  - "app/"
  - "cmd/"
  - "contrib/"
  - "docs/"
  - "rpc/"
  - "proto/"
  - "scripts/"
  - "server/"
  - "testutil/"
  - "typescript/"

fix(`zetaclient`): add zetaclient evm outbound tx index by nonce to supplement outtx tracker (#2735)
  changelog.md
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/inbound_test.go
  zetaclient/chains/evm/observer/observer_gas_test.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/evm/signer/sign_test.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_admin_test.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/orchestrator/bootstap_test.go
  zetaclient/testutils/constant.go
  zetaclient/testutils/mocks/evm_rpc.go
  zetaclient/testutils/testdata.go
  zetaclient/testutils/types/ethrpc.go
Due: zetaclient

support multiple btc chain config
  cmd/zetaclientd/debug.go
  cmd/zetaclientd/start.go
  cmd/zetaclientd/start_utils.go
  zetaclient/config/config_chain.go
  zetaclient/config/types.go
  zetaclient/config/types_test.go
  zetaclient/context/app_test.go
  zetaclient/context/chain.go
  zetaclient/context/chain_test.go
  zetaclient/orchestrator/bootstap_test.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/orchestrator_test.go
Due: zetaclient

E2E demo
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/ton.go
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/wait-for-ton.sh
  e2e/e2etests/test_ton_deposit.go
  e2e/runner/clients.go
  e2e/runner/runner.go
  e2e/runner/setup_ton.go
  e2e/runner/ton.go
  e2e/runner/ton/accounts.go
  e2e/runner/ton/accounts_test.go
  e2e/runner/ton/clients.go
  e2e/runner/ton/coin.go
  e2e/runner/ton/deployer.go
  e2e/runner/ton/gateway.go
  zetaclient/chains/ton/config.go
Due: zetaclient

Add TON_TESTS labeled tests
  .github/workflows/e2e.yml
Due: none

Update changelog
  changelog.md
Due: none

Fix gosec
  e2e/runner/ton/coin.go
  e2e/runner/ton/deployer.go
Due: none

Skip ton tests w/o --test-ton
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/init.go
  cmd/zetae2e/local/local.go
Due: none

Remove todos
  e2e/runner/ton/accounts.go
Due: none

Fix typo
  e2e/runner/ton/deployer.go
Due: none

fix(zetacore): add default cctx list pagination size
  x/crosschain/keeper/grpc_query_cctx.go
Due: zetacore

add unit tests
  x/crosschain/keeper/grpc_query_cctx.go
  x/crosschain/keeper/grpc_query_cctx_test.go
Due: zetacore

chore: sync v20 changelog
  changelog.md
Due: none

fix(zetacore): add default cctx list pagination size (#2871)
  x/crosschain/keeper/grpc_query_cctx.go
  x/crosschain/keeper/grpc_query_cctx_test.go
Due: zetacore

debug test
  Makefile
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_admin_transactions.go
  e2e/e2etests/test_precompiles_staking.go
Due: none

add function to cleanup delegation
  Makefile
  cmd/zetae2e/local/local.go
Due: none

add changelog
  Makefile
  changelog.md
  e2e/e2etests/test_admin_transactions.go
  e2e/e2etests/test_precompiles_staking.go
Due: none

Fix typo; update ton image
  cmd/zetae2e/local/ton.go
  contrib/localnet/docker-compose.yml
Due: none

run precompiles after upgrade
  contrib/localnet/orchestrator/start-zetae2e.sh
Due: none

add proto files
  pkg/chains/chains.go
  pkg/chains/chains.pb.go
  proto/zetachain/zetacore/pkg/chains/chains.proto
Due: none

chore(zetaclient): improve logging by adding and moving data to attributes
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/evm/observer/observer.go
Due: zetaclient

chore: sync v20 changelog (#2872)
  changelog.md
Due: none

keep BitcoinConfig to be backward compatible
  changelog.md
  cmd/zetaclientd/start_utils.go
  zetaclient/config/config_chain.go
  zetaclient/config/types.go
  zetaclient/config/types_test.go
Due: zetaclient

unified param 'rpcAlertLatency' as type int64 when passing cfg.RPCAlertLatency to NewObserver()
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/chains/solana/observer/observer.go
  zetaclient/common/env.go
  zetaclient/orchestrator/bootstrap.go
Due: zetaclient

feat: add Solana RPC status check and some refactor around RPC status check (#2751)
  changelog.md
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
  zetaclient/chains/bitcoin/observer/rpc_status.go
  zetaclient/chains/bitcoin/rpc/rpc.go
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/observer/rpc_status.go
  zetaclient/chains/evm/rpc/rpc.go
  zetaclient/chains/evm/rpc/rpc_live_test.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/chains/solana/observer/observer.go
  zetaclient/chains/solana/observer/observer_test.go
  zetaclient/chains/solana/observer/outbound_test.go
  zetaclient/chains/solana/observer/rpc_status.go
  zetaclient/chains/solana/rpc/rpc.go
  zetaclient/chains/solana/rpc/rpc_live_test.go
  zetaclient/common/constant.go
  zetaclient/common/env.go
  zetaclient/config/config_chain.go
  zetaclient/config/types.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/testutils/mocks/solana_rpc.go
Due: zetaclient

clean accidentially included changelog entry during merge; improve unit test
  changelog.md
  zetaclient/orchestrator/orchestrator_test.go
Due: zetaclient

fix(zetaclient): add block by number result nil check
  zetaclient/chains/evm/observer/observer.go
Due: zetaclient

chore: log panic line in ticker error
  pkg/ticker/ticker.go
  pkg/ticker/ticker_test.go
Due: none

fix(zetaclient): add block by number result nil check (#2882)
  zetaclient/chains/evm/observer/observer.go
Due: zetaclient

Update changelog.md
  changelog.md
Due: none

fix: support multiple runs for precomplies e2e test (#2874)
  changelog.md
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/e2etests/test_precompiles_staking.go
Due: none

add unit tests for new chain
  pkg/chains/chain.go
  pkg/chains/chain_test.go
  pkg/chains/chains.go
Due: none

remove extra changelog entry
  changelog.md
Due: none

update e2e.yml gh workflow
  .github/workflows/e2e.yml
Due: none

Bring back brackets formatting in yml
  contrib/localnet/docker-compose.yml
Due: none

feat(ton): TON localnet integration (#2833)
  .github/workflows/e2e.yml
  Makefile
  changelog.md
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/init.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/ton.go
  contrib/localnet/docker-compose.yml
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/wait-for-ton.sh
  e2e/config/config.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_ton_deposit.go
  e2e/runner/clients.go
  e2e/runner/logger.go
  e2e/runner/runner.go
  e2e/runner/setup_ton.go
  e2e/runner/ton/accounts.go
  e2e/runner/ton/accounts_test.go
  e2e/runner/ton/clients.go
  e2e/runner/ton/coin.go
  e2e/runner/ton/deployer.go
  e2e/runner/ton/gateway.compiled.json
  go.mod
  go.sum
  zetaclient/chains/ton/config.go
  zetaclient/chains/ton/observer/observer_test.go
Due: zetaclient

add changelog
  changelog.md
  zetaclient/config/types.go
Due: zetaclient

fix: add pubkey to tss vote (#2844)
  changelog.md
  x/observer/keeper/msg_server_vote_tss_test.go
  x/observer/types/message_vote_tss.go
  x/observer/types/message_vote_tss_test.go
Due: zetacore

chore: log panic line in ticker error (#2881)
  pkg/ticker/ticker.go
  pkg/ticker/ticker_test.go
Due: none

refactor update info message
  proto/zetachain/zetacore/authority/tx.proto
  testutil/testdata/types/chain.json
  x/authority/client/cli/tx_update_chain_info.go
  x/authority/client/cli/tx_update_chain_info_test.go
  x/authority/keeper/msg_server_remove_chain_info.go
  x/authority/keeper/msg_server_update_chain_info.go
  x/authority/keeper/msg_server_update_chain_info_test.go
  x/authority/types/message_update_chain_info.go
  x/authority/types/tx.pb.go
Due: zetacore
