Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

fix: prevent invalid Sui withdraw address from blocking the outbound (#3801)
  changelog.md
  e2e/e2etests/test_sui_withdraw.go
  pkg/contracts/sui/crypto.go
  pkg/contracts/sui/crypto_test.go
  zetaclient/chains/sui/signer/signer_tx.go
Due: zetaclient, pkg

add address check
  pkg/contracts/sui/crypto.go
  pkg/contracts/sui/crypto_test.go
Due: pkg

add check
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/evm_hooks_test.go
Due: zetacore

e2e test
  e2e/e2etests/test_sui_withdraw_restricted_address.go
Due: none

changelog
  changelog.md
Due: none

fix: modify end blocker order to avoid panic when reducing MaxValidators (#3786)
  app/app.go
  app/modules.go
  changelog.md
  cmd/zetacored/parse_genesis.go
  contrib/localnet/orchestrator/proposals_e2e_end/reduce_max_validators.json
Due: none

debug: Add log messages for CCTX
  e2e/runner/ton.go
Due: none

debug: Add logging for CCTX
  e2e/runner/ton.go
Due: none

fix: use the chain var instead of calling a function
  e2e/runner/ton.go
Due: none

debug: log all the CCTX
  e2e/runner/ton.go
Due: none

make e2e sui setup cleaner; deploy example package
  e2e/contracts/sui/bin.go
  e2e/contracts/sui/example/Move.toml
  e2e/contracts/sui/token.mv
  e2e/runner/runner.go
  e2e/runner/setup_sui.go
Due: none

Revert changes not required to CI E2E
  e2e/runner/setup_ton.go
Due: none

docs: clarify purpose of transaction query workflow in README
  .github/actions/transaction-query/README.md
Due: none

ci: fix transaction-query job by using absolute paths and explicit permissions
  .github/workflows/ci.yml
Due: none

fix: improve error handling in transaction query script
  .github/actions/transaction-query/validate-transactions.sh
Due: none

fix: ensure output files exist even when API calls fail
  .github/actions/transaction-query/validate-transactions.sh
Due: none

simple zevm to sol call
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_zevm_to_solana_call.go
  e2e/runner/solana.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/v2_zevm_inbound.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/observer/outbound_test.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/testdata/solana/chain_901_outbound_tx_result_4QH54TrUEeXTCrpNbM4h7WzZrxEfhx4R9iHu2FcPF553w8VJ3Tftqf8ca2CnyZUJBNZ1vNidnKcDv4VSUoynBPP.json
Due: zetacore, zetaclient

lint
  e2e/e2etests/test_zevm_to_solana_call.go
Due: none

Fix cctx list order
  e2e/runner/zevm.go
Due: none

fix(e2e): cctx list order (#3808)
  e2e/runner/zevm.go
Due: none

refactor(e2e): allow using all UTXOs for deposits (#3774)
  e2e/e2etests/test_bitcoin_deposit.go
  e2e/e2etests/test_bitcoin_deposit_and_call_revert.go
  e2e/e2etests/test_bitcoin_deposit_and_call_revert_with_dust.go
  e2e/e2etests/test_bitcoin_deposit_and_withdraw_with_dust.go
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/e2etests/test_bitcoin_deposit_invalid_memo_revert.go
  e2e/e2etests/test_bitcoin_donation.go
  e2e/e2etests/test_crosschain_swap.go
  e2e/runner/bitcoin.go
Due: none

unit test for logs parsing
  testutil/sample/crosschain.go
  x/crosschain/keeper/evm_hooks_test.go
Due: zetacore

outbound unit test
  zetaclient/chains/solana/observer/outbound_test.go
Due: zetaclient

Increase CCTX timeout to 10min
  e2e/runner/ton.go
Due: none

evm hooks unit tests
  testutil/sample/crosschain.go
  x/crosschain/keeper/evm_hooks_test.go
Due: zetacore

Update CCTX mining timeout param
  e2e/runner/ton.go
Due: none

Revert cctx list order
  e2e/runner/zevm.go
Due: none

Add logs for TONDeposit params and depositFee
  e2e/e2etests/test_ton_deposit.go
Due: none

Move Deposit Fee log to the list of params
  e2e/e2etests/test_ton_deposit.go
Due: none

add sui Example package information to E2E runner
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/contracts.go
  e2e/config/config.go
  e2e/runner/runner.go
  e2e/runner/setup_sui.go
  e2e/runner/sui.go
  go.mod
  go.sum
  testutil/sample/crypto.go
Due: none

Update filter and add more debug messages around TX status
  e2e/runner/ton.go
Due: none

fix unit test
  x/crosschain/keeper/evm_hooks_test.go
Due: zetacore

fix encoding
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/evm_hooks_test.go
Due: zetacore

changelog change
  changelog.md
Due: none

Update .github/actions/transaction-query/README.md
  .github/actions/transaction-query/README.md
Due: none

debug: Wait some time for the tx to be processed
  e2e/runner/ton.go
Due: none

debug: Improve log messages
  e2e/runner/ton.go
Due: none

Add better logging and improve polling to scan recent txs
  e2e/e2etests/test_ton_deposit.go
Due: none
