Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

update go mod
  go.mod
  go.sum
Due: none

add unit test for newly added btc client helpers
  zetaclient/chains/bitcoin/client/helpers_test.go
  zetaclient/testutils/testrpc/rpc.go
  zetaclient/testutils/testrpc/rpc_btc.go
  zetaclient/testutils/testrpc/rpc_evm.go
Due: zetaclient

rename TEST_PK_BTC as BTC_TEST_PK
  zetaclient/chains/bitcoin/client/client_rbf_test.go
  zetaclient/common/env.go
Due: zetaclient

export NetParams from bitcoin client
  zetaclient/chains/bitcoin/client/client.go
  zetaclient/chains/bitcoin/client/client_test.go
  zetaclient/chains/bitcoin/client/helpers.go
  zetaclient/chains/bitcoin/client/helpers_test.go
  zetaclient/chains/bitcoin/client/mockgen.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/testutils/mocks/bitcoin_client.go
Due: zetaclient

add prefix flag when hexing a value
  zetaclient/testutils/testrpc/rpc_btc.go
  zetaclient/testutils/testrpc/rpc_evm.go
Due: none

add default handler as fallback
  zetaclient/testutils/testrpc/rpc.go
Due: none

test: allow custom gasLimit in ERC20 withdrawAndCall E2E test (#3972)
  changelog.md
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_erc20_withdraw_and_call.go
  e2e/e2etests/test_erc20_withdraw_and_call_no_message.go
  e2e/e2etests/test_erc20_withdraw_revert_and_abort.go
  e2e/runner/zevm.go
Due: none

chore: upgrade go-tss for message ordering fix (#3968)
  go.mod
  go.sum
Due: none

Add ton.call operation
  .golangci.yml
  pkg/contracts/ton/gateway_msg.go
  pkg/contracts/ton/gateway_parse.go
  pkg/contracts/ton/gateway_test.go
  pkg/contracts/ton/gateway_tx.go
  pkg/contracts/ton/testdata/08-call-abi.json
Due: pkg

vote inbound call
  pkg/contracts/ton/gateway_msg.go
  testutil/sample/ton.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/inbound_test.go
Due: zetaclient, pkg

resolve comments 1
  changelog.md
  e2e/e2etests/test_migrate_connector_funds.go
  e2e/e2etests/test_v2_zeta_deposit.go
  e2e/runner/evm.go
Due: none

fixing couple config issues
  cmd/zetacored/add_observer_list.go
  cmd/zetacored/config/config.go
  cmd/zetacored/genaccounts.go
  cmd/zetacored/root.go
  simulation/simulation.go
Due: none

debugging fixes
  app/ante/ante_test.go
  app/ante/gas_wanted.go
  app/ante/handler_options.go
  app/ante/sig_verification.go
  app/ante/system_tx_priority_decorator_test.go
  app/ante/vesting_test.go
  app/app.go
  cmd/zetacored/root.go
  e2e/txserver/zeta_tx_server.go
  pkg/mempool/senders_with_nonce.go
  pkg/rpc/clients.go
  pkg/rpc/clients_ethermint.go
  server/json_rpc.go
  simulation/simulation.go
  zetaclient/zetacore/client.go
Due: zetaclient, pkg

bump rc
  app/app.go
  app/modules.go
  cmd/zetacored/keys.go
  cmd/zetacored/root.go
  go.mod
  go.sum
Due: none

ante handler fixes e2e tests passing
  app/ante/ante.go
  go.mod
  go.sum
Due: none

update ton's gateway code
  pkg/contracts/ton/gateway.compiled.json
Due: none

use more descriptive comment; improve naming
  zetaclient/chains/bitcoin/client/helpers_test.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/testutils/testrpc/rpc.go
  zetaclient/testutils/testrpc/rpc_btc.go
Due: zetaclient

fix: use the correct sender address for Bitcoin inscription based inbound (#3964)
  changelog.md
  e2e/e2etests/test_bitcoin_std_memo_inscribed_deposit_and_call.go
  zetaclient/chains/bitcoin/client/client.go
  zetaclient/chains/bitcoin/client/client_rbf_test.go
  zetaclient/chains/bitcoin/client/client_test.go
  zetaclient/chains/bitcoin/client/helpers.go
  zetaclient/chains/bitcoin/client/helpers_test.go
  zetaclient/chains/bitcoin/client/mockgen.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
  zetaclient/common/env.go
  zetaclient/testutils/mempool_client.go
  zetaclient/testutils/mocks/bitcoin_client.go
  zetaclient/testutils/testrpc/rpc.go
  zetaclient/testutils/testrpc/rpc_btc.go
  zetaclient/testutils/testrpc/rpc_evm.go
Due: zetaclient

e2e: ton_to_zevm_call
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_ton_call.go
  e2e/runner/ton.go
  e2e/utils/contracts.go
  pkg/contracts/ton/gateway_send.go
  zetaclient/chains/ton/rpc/client_live_test.go
Due: zetaclient, pkg

synchronize this backport PR with the main PR 3964
  zetaclient/chains/bitcoin/client/client.go
  zetaclient/chains/bitcoin/client/client_rbf_test.go
  zetaclient/chains/bitcoin/client/client_test.go
  zetaclient/chains/bitcoin/client/helpers.go
  zetaclient/chains/bitcoin/client/helpers_test.go
  zetaclient/chains/bitcoin/client/mockgen.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/common/env.go
  zetaclient/testutils/mocks/bitcoin_client.go
  zetaclient/testutils/testrpc/rpc.go
  zetaclient/testutils/testrpc/rpc_btc.go
  zetaclient/testutils/testrpc/rpc_evm.go
Due: zetaclient

fix(backport/v31): use the correct sender address for Bitcoin inscription based inbound (#3970)
  e2e/e2etests/test_bitcoin_std_memo_inscribed_deposit_and_call.go
  zetaclient/chains/bitcoin/client/client.go
  zetaclient/chains/bitcoin/client/client_rbf_test.go
  zetaclient/chains/bitcoin/client/client_test.go
  zetaclient/chains/bitcoin/client/helpers.go
  zetaclient/chains/bitcoin/client/helpers_test.go
  zetaclient/chains/bitcoin/client/mockgen.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
  zetaclient/common/env.go
  zetaclient/testutils/mempool_client.go
  zetaclient/testutils/mocks/bitcoin_client.go
  zetaclient/testutils/testrpc/rpc.go
  zetaclient/testutils/testrpc/rpc_btc.go
  zetaclient/testutils/testrpc/rpc_evm.go
Due: zetaclient

fix sim tests
  app/export.go
  simulation/simulation_test.go
Due: none

add changelog
  .github/workflows/sim.yml
  app/export.go
  changelog.md
Due: none

add error checks
  app/export.go
Due: none

Add increaseSeqno parsing
  pkg/contracts/ton/gateway_msg.go
  pkg/contracts/ton/gateway_parse.go
  pkg/contracts/ton/gateway_test.go
  pkg/contracts/ton/gateway_tx.go
  pkg/contracts/ton/testdata/09-increase-seqno.json
Due: pkg

evm chain id fixes
  app/ante/ante_test.go
  app/ante/handler_options.go
  app/ante/system_tx_priority_decorator_test.go
  app/ante/vesting_test.go
  app/encoding.go
  cmd/zetacored/root.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/zetacored/common/app.toml
  e2e/txserver/zeta_tx_server.go
  server/config/config.go
  server/config/toml.go
  server/start.go
  simulation/simulation.go
  zetaclient/zetacore/client.go
Due: zetaclient

ton: signer: increase_seqno integration
  pkg/contracts/ton/gateway_msg.go
  pkg/contracts/ton/gateway_send.go
  testutil/sample/ton.go
  zetaclient/chains/ton/signer/signer.go
  zetaclient/chains/ton/signer/signer_compose.go
  zetaclient/chains/ton/signer/signer_test.go
  zetaclient/chains/ton/signer/signer_tracker.go
  zetaclient/compliance/compliance.go
Due: zetaclient, pkg

use evm module gas wanted ante handler
  app/ante/gas_wanted.go
  app/ante/handler_options.go
  app/ante/interfaces.go
  app/app.go
  cmd/zetacored/keys.go
  testutil/keeper/keeper.go
Due: none

ton: observer: increase_seqno integration
  pkg/contracts/ton/gateway_tx.go
  zetaclient/chains/ton/observer/outbound.go
  zetaclient/chains/ton/signer/signer_tracker.go
  zetaclient/chains/ton/ton.go
Due: zetaclient, pkg

add empty test dapp
  e2e/contracts/testdappempty/TestDAppEmpty.abi
  e2e/contracts/testdappempty/TestDAppEmpty.bin
  e2e/contracts/testdappempty/TestDAppEmpty.go
  e2e/contracts/testdappempty/TestDAppEmpty.json
  e2e/contracts/testdappempty/TestDAppEmpty.sol
  e2e/contracts/testdappempty/bindings.go
Due: none

add test
  cmd/zetae2e/local/evm.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_eth_withdraw_and_call_big_payload.go
Due: none

test: fix sim tests (#3983)
  .github/workflows/sim.yml
  app/export.go
  changelog.md
  simulation/simulation_test.go
Due: none

generate
  cmd/zetae2e/local/evm.go
  e2e/e2etests/test_eth_withdraw_and_call_big_payload.go
Due: none

update gomod
  e2e/e2etests/test_eth_withdraw_and_call_big_payload.go
  go.mod
  go.sum
Due: none

fix imports
  cmd/zetae2e/config/contracts.go
  contrib/rpctest/main.go
  e2e/runner/legacy_setup_evm.go
  e2e/runner/runner.go
Due: none

smaller message
  e2e/e2etests/test_eth_withdraw_and_call_big_payload.go
Due: none

add TSS to pauser role
  e2e/runner/setup_evm.go
Due: none

update rpc methods fork from rc2
  rpc/apis.go
  rpc/backend/account_info.go
  rpc/backend/backend.go
  rpc/backend/blocks.go
  rpc/backend/call_tx.go
  rpc/backend/chain_info.go
  rpc/backend/filters.go
  rpc/backend/node_info.go
  rpc/backend/sign_tx.go
  rpc/backend/tracing.go
  rpc/backend/tx_info.go
  rpc/backend/utils.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/net/api.go
  rpc/websockets.go
  server/config/config.go
Due: none

test: add deployment of connector V2 to e2e test (#3975)
  changelog.md
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/local/local.go
  contrib/rpctest/main.go
  e2e/config/config.go
  e2e/e2etests/e2etests.go
  e2e/runner/legacy_setup_evm.go
  e2e/runner/runner.go
  e2e/runner/setup_evm.go
  go.mod
  go.sum
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/fungible/keeper/evm_gateway.go
  x/fungible/keeper/evm_gateway_test.go
Due: zetacore
