Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

add changelog entry
  changelog.md
Due: none

fix(e2e): improve upgrade version logic (#2544)
  .github/workflows/e2e.yml
  contrib/localnet/orchestrator/start-zetae2e.sh
Due: none

remove cancel cause
  cmd/zetaclientd/start.go
  pkg/bg/bg.go
  zetaclient/zetacore/client_tss_migration_listners.go
Due: zetaclient

limit max txs in priority mempool
  cmd/zetacored/root.go
  pkg/mempool/priority_nonce_mempool.go
Due: none

changelog
  changelog.md
Due: none

make solana migration optional
  e2e/e2etests/test_migrate_tss.go
  x/crosschain/keeper/msg_server_update_tss.go
  x/crosschain/types/expected_keepers.go
  x/observer/keeper/chain_params.go
Due: zetacore

fix: limit max txs in priority mempool (#2547)
  changelog.md
  cmd/zetacored/root.go
  pkg/mempool/priority_nonce_mempool.go
Due: none

add query to check authorization
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/config/config.go
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/runner/runner.go
  e2e/txserver/zeta_tx_server.go
Due: none

format
  cmd/zetae2e/config/clients.go
  e2e/runner/runner.go
  e2e/txserver/zeta_tx_server.go
Due: none

fix lint
  e2e/txserver/zeta_tx_server.go
Due: none

fix: check Solana account rent exempt in zetacore to avoid outbound failure (#2545)
  changelog.md
  pkg/constant/constant.go
  testutil/sample/crosschain.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/evm_hooks_test.go
Due: zetacore

refactor(`authority`): adjust permissions to be more restrictive (#2542)
  changelog.md
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/config/config.go
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/runner/runner.go
  e2e/runner/setup_zeta.go
  e2e/txserver/zeta_tx_server.go
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
Due: zetacore

Implement chain registry
  zetaclient/context/chain.go
  zetaclient/context/chain_test.go
Due: zetaclient

Fix priorityFees for existing state
  x/crosschain/keeper/gas_price.go
  x/crosschain/keeper/msg_server_vote_gas_price_test.go
Due: zetacore

make solana outbound tracker goroutine working
  e2e/runner/setup_solana.go
  pkg/contract/solana/gateway.go
  pkg/contract/solana/gateway_message.go
  pkg/contract/solana/types.go
  x/observer/types/chain_params.go
  zetaclient/chains/solana/observer/gas_price.go
  zetaclient/chains/solana/observer/observer.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/signer/signer.go
Due: zetacore, zetaclient

additional edge-case
  x/crosschain/keeper/msg_server_vote_gas_price_test.go
Due: zetacore

add unit tests
  changelog.md
  e2e/e2etests/test_migrate_tss.go
  testutil/keeper/mocks/crosschain/observer.go
  x/crosschain/keeper/msg_server_update_tss.go
  x/crosschain/keeper/msg_server_update_tss_test.go
  x/crosschain/types/expected_keepers.go
  x/observer/keeper/chain_params.go
  x/observer/keeper/chain_params_test.go
Due: zetacore

get all foreign chains unit test
  x/observer/keeper/chain_params_test.go
Due: zetacore

Typo fix in zetaclient log
  zetaclient/chains/evm/observer/inbound.go
Due: zetaclient

Typo fix in zetaclient log (#2561)
  zetaclient/chains/evm/observer/inbound.go
Due: zetaclient

add unit test for chains supporting migration
  x/crosschain/keeper/msg_server_update_tss.go
  x/crosschain/keeper/msg_server_update_tss_test.go
Due: zetacore

fix(zetacore): voteGasPrice: fix priorityFees for existing state (#2559)
  x/crosschain/keeper/gas_price.go
  x/crosschain/keeper/msg_server_vote_gas_price_test.go
Due: zetacore

add unit test for chains supporting migration
  x/crosschain/keeper/msg_server_update_tss.go
  x/crosschain/keeper/msg_server_update_tss_test.go
  x/observer/keeper/chain_params_test.go
Due: zetacore

allow solana gateway address to update
  pkg/contract/solana/gateway.go
  x/observer/types/chain_params.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/observer/observer.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/orchestrator_test.go
  zetaclient/testutils/mocks/chain_clients.go
  zetaclient/testutils/mocks/chain_signer.go
Due: zetacore, zetaclient

rebase develop
  x/observer/keeper/chain_params.go
Due: zetacore

rebase develop
  changelog.md
  testutil/keeper/mocks/crosschain/observer.go
  x/crosschain/keeper/msg_server_update_tss.go
  x/crosschain/keeper/msg_server_update_tss_test.go
  x/crosschain/types/expected_keepers.go
  x/observer/keeper/chain_params_test.go
Due: zetacore

integrate sub methods of SignMsgWithdraw and SignWithdrawTx
  e2e/runner/setup_solana.go
  pkg/contract/solana/gateway_message.go
  pkg/contract/solana/gateway_message_test.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/orchestrator_test.go
Due: zetaclient

update protocol contracts package
  e2e/runner/logger.go
  e2e/runner/zeta.go
  go.mod
  go.sum
  testutil/sample/crosschain.go
Due: none

refactor(`pkg/chains`): deprecate `ChainName` field in `Chain` object (#2541)
  changelog.md
  docs/openapi/openapi.swagger.yaml
  docs/releases/v19_breaking_changes.md
  docs/releases/v19_observer_migration.md
  pkg/chains/chain.go
  pkg/chains/chain_test.go
  pkg/chains/chains.go
  pkg/chains/chains.pb.go
  pkg/chains/chains_test.go
  proto/zetachain/zetacore/pkg/chains/chains.proto
  testutil/keeper/crosschain.go
  testutil/sample/sample.go
  testutil/testdata/types/chain_info.json
  typescript/zetachain/zetacore/pkg/chains/chains_pb.d.ts
  x/authority/client/cli/tx_update_chain_info_test.go
  x/authority/types/chain_info_test.go
  x/authority/types/genesis_test.go
  x/authority/types/message_update_chain_info_test.go
  x/crosschain/keeper/cctx_utils.go
  x/crosschain/keeper/cctx_utils_test.go
  x/crosschain/keeper/msg_server_update_tss_test.go
  x/crosschain/migrations/v5/migrate.go
  x/fungible/keeper/grpc_query_gas_stability_pool_test.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/context/app.go
  zetaclient/context/app_test.go
  zetaclient/metrics/telemetry.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/zetacore/client_query_test.go
  zetaclient/zetacore/tx_test.go
Due: zetacore, zetaclient

update config and runner
  cmd/zetae2e/config/contracts.go
  e2e/config/config.go
  e2e/runner/runner.go
Due: none

Rewrite test-cases for AppContext
  zetaclient/context/app.go
  zetaclient/context/app_test.go
  zetaclient/context/chain.go
Due: zetaclient

add connectors
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_migrate_tss.go
  e2e/runner/setup_evm.go
  e2e/utils/evm.go
Due: none

refactor to add a filter chain function
  pkg/chains/chain_filters.go
  pkg/chains/chains.go
  testutil/keeper/mocks/crosschain/observer.go
  x/crosschain/keeper/msg_server_update_tss.go
  x/crosschain/keeper/msg_server_update_tss_test.go
  x/crosschain/types/expected_keepers.go
  x/observer/keeper/chain_params.go
  x/observer/keeper/chain_params_test.go
Due: zetacore

move filter to pkg
  pkg/chains/chain_filters.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit.go
  x/crosschain/keeper/msg_server_update_tss.go
  x/crosschain/types/expected_keepers.go
  x/observer/keeper/chain_params.go
Due: zetacore

init contract deploy
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/local/local.go
  e2e/runner/runner.go
  e2e/runner/v2_setup_evm.go
  e2e/runner/v2_setup_zeta.go
Due: none

remove ibc modules
  app/app.go
  app/init_genesis.go
Due: none

upgrade handler
  app/setup_handlers.go
Due: none

add more unit tests
  pkg/chains/chain_filters.go
  pkg/chains/chain_filters_test.go
  testutil/keeper/mocks/crosschain/observer.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit.go
  x/crosschain/keeper/msg_server_update_tss.go
  x/crosschain/keeper/msg_server_update_tss_test.go
  x/crosschain/types/expected_keepers.go
  x/observer/keeper/chain_params.go
  x/observer/keeper/chain_params_test.go
Due: zetacore

format code
  pkg/chains/chain_filters_test.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit.go
Due: zetacore

Path conditions:
  zetacore: any of: x/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  zetaclient: any of: zetaclient/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  common: any of: common/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
