Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      common:
        if_ci_failed: error
        target: 60%
        flags:
          - common

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    carryforward: true
    paths:
      - "x/"
  zetaclient:
    carryforward: true
    paths:
      - "zetaclient/"
  common:
    carryforward: true
    paths:
      - "common/"

ignore:
  - "x/**/client/"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - "*.pb.gw.go"
  - "*.json"
  - ".github/"
  - "app/"
  - "cmd/"
  - "contrib/"
  - "docs/"
  - "rpc/"
  - "proto/"
  - "scripts/"
  - "server/"
  - "testutil/"
  - "typescript/"

add todo with issue
  precompiles/prototype/prototype.go
  precompiles/staking/staking.go
Due: none

chore: remove go-tss imports from observer/types (#2799)
  x/observer/client/cli/tx_vote_blame.go
  x/observer/client/cli/utils.go
  x/observer/client/cli/utils_test.go
  x/observer/types/utils.go
  zetaclient/zetacore/client_vote.go
Due: zetacore, zetaclient

docs: remove the note for July release observer migration
  docs/releases/v19_observer_migration.md
Due: none

Improve start-zetae2e.sh
  contrib/localnet/orchestrator/start-zetae2e.sh
Due: none

docs: remove the note for July release observer migration (#2814)
  docs/releases/v19_observer_migration.md
Due: none

Fix typo
  contrib/localnet/orchestrator/start-zetae2e.sh
Due: none

chore: use btcsuite/btcd/btcec/v2 in x/crosschain/types (#2804)
  x/crosschain/types/tx_body_verification.go
Due: zetacore

debugging calling precompiles through contract
  e2e/contracts/teststaking/TestStaking.abi
  e2e/contracts/teststaking/TestStaking.bin
  e2e/contracts/teststaking/TestStaking.go
  e2e/contracts/teststaking/TestStaking.json
  e2e/contracts/teststaking/TestStaking.sol
  e2e/contracts/teststaking/bindings.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_precompiles_staking.go
  precompiles/staking/staking.go
  precompiles/staking/staking_test.go
Due: none

Replace Snapshot API on localnet scripts for consuming state exports
  contrib/localnet/scripts/import-data.sh
Due: none

fix: use relative path for openapi handler
  docs/openapi/openapi.go
  docs/openapi/openapi.html
Due: none

discard error
  docs/openapi/openapi.go
Due: none

fix: use relative path for openapi handler (#2820)
  docs/openapi/openapi.go
  docs/openapi/openapi.html
Due: none

remove unused functions from emissions module
  proto/zetachain/zetacore/emissions/params.proto
  proto/zetachain/zetacore/emissions/query.proto
  x/emissions/client/cli/query.go
  x/emissions/client/cli/query_get_emmisons_factors.go
  x/emissions/keeper/block_rewards_components.go
  x/emissions/keeper/block_rewards_components_test.go
  x/emissions/keeper/grpc_query_get_emmisons_factors.go
  x/emissions/keeper/grpc_query_get_emmisons_factors_test.go
  x/emissions/keeper/params_test.go
  x/emissions/migrations/v3/migrate.go
  x/emissions/migrations/v3/migrate_test.go
  x/emissions/types/params.go
  x/emissions/types/params.pb.go
  x/emissions/types/params_legacy.go
  x/emissions/types/params_test.go
  x/emissions/types/query.pb.go
  x/emissions/types/query.pb.gw.go
Due: zetacore

refactor(e2e): add functions for funding zevm accounts in`start-zetae2e.sh` (#2816)
  contrib/localnet/orchestrator/start-zetae2e.sh
Due: none

backport v2 migration test
  .github/workflows/e2e.yml
  Makefile
  changelog.md
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/v2.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetacored.sh
  e2e/config/config.go
  e2e/runner/accounting.go
  e2e/runner/evm.go
  e2e/runner/v2_migration.go
  e2e/runner/v2_setup_evm.go
  e2e/runner/v2_setup_zeta.go
  e2e/txserver/authority.go
  x/fungible/keeper/msg_server_update_gateway_contract.go
  x/fungible/keeper/msg_server_update_gateway_contract_test.go
  x/fungible/keeper/v2_evm.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/orchestrator/orchestrator.go
Due: zetacore, zetaclient

go mod
  go.mod
  go.sum
Due: none

PR comment and bug fix with validators append
  precompiles/staking/staking.go
Due: none

add missing prototype precompile test to call precompile through contract
  cmd/zetae2e/local/local.go
  e2e/contracts/testprototype/TestPrototype.abi
  e2e/contracts/testprototype/TestPrototype.bin
  e2e/contracts/testprototype/TestPrototype.go
  e2e/contracts/testprototype/TestPrototype.json
  e2e/contracts/testprototype/TestPrototype.sol
  e2e/contracts/testprototype/bindings.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_precompiles_prototype.go
Due: none

fund precompile acc and add to gen accounts
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetacored.sh
Due: none

changelog
  changelog.md
Due: none

update changelog
  changelog.md
Due: none

Solana inbound fix
  e2e/runner/solana.go
  pkg/contracts/solana/gateway.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/testdata/solana/chain_901_inbound_tx_result_5LuQMorgd11p8GWEw6pmyHCDtA26NUyeNFhLWPNk2oBoM9pkag1LzhwGSRos3j4TJLhKjswFhZkGtvSGdLDkmqsk.json
  zetaclient/testdata/solana/chain_901_inbound_tx_result_MS3MPLN7hkbyCZFwKqXcg8fmEvQMD74fN6Ps2LSWXJoRxPW5ehaxBorK9q1JFVbqnAvu9jXm6ertj7kT7HpYw1j.json
  zetaclient/testutils/constant.go
Due: zetaclient

make generate
  zetaclient/chains/solana/observer/inbound.go
Due: zetaclient

fix changelog
  changelog.md
Due: none

add bitcoin inscription and bitcoin fixes
  contrib/localnet/bitcoin-sidecar/Dockerfile
  contrib/localnet/bitcoin-sidecar/js/package.json
  contrib/localnet/bitcoin-sidecar/js/src/client.ts
  contrib/localnet/bitcoin-sidecar/js/src/index.ts
  contrib/localnet/bitcoin-sidecar/js/src/script.ts
  contrib/localnet/bitcoin-sidecar/js/src/tsconfig.json
  contrib/localnet/bitcoin-sidecar/js/src/util.ts
  contrib/localnet/docker-compose.yml
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_extract_bitcoin_inscription_memo.go
  e2e/runner/bitcoin.go
  e2e/runner/inscription.go
  e2e/runner/solana.go
  zetaclient/chains/bitcoin/fee.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/rpc/rpc.go
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/signer/withdraw.go
  zetaclient/testutils/mocks/solana_rpc.go
Due: zetaclient

goimport
  zetaclient/chains/bitcoin/fee.go
  zetaclient/chains/bitcoin/rpc/rpc.go
Due: zetaclient

fix pr link
  changelog.md
Due: none

chore: change snapshots API on contrib/localnet/scripts to consume state exports (#2819)
  contrib/localnet/scripts/import-data.sh
Due: none

add fixed block rewards to params
  proto/zetachain/zetacore/emissions/params.proto
  x/emissions/abci.go
  x/emissions/types/message_update_params_test.go
  x/emissions/types/params.go
  x/emissions/types/params.pb.go
  x/emissions/types/params_test.go
Due: zetacore

fix: backport Solana inbound fix (#2824)
  changelog.md
  e2e/runner/solana.go
  pkg/contracts/solana/gateway.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/testdata/solana/chain_901_inbound_tx_result_5LuQMorgd11p8GWEw6pmyHCDtA26NUyeNFhLWPNk2oBoM9pkag1LzhwGSRos3j4TJLhKjswFhZkGtvSGdLDkmqsk.json
  zetaclient/testdata/solana/chain_901_inbound_tx_result_MS3MPLN7hkbyCZFwKqXcg8fmEvQMD74fN6Ps2LSWXJoRxPW5ehaxBorK9q1JFVbqnAvu9jXm6ertj7kT7HpYw1j.json
  zetaclient/testutils/constant.go
Due: zetaclient

fix unit test
  e2e/config/config.go
Due: none

feat: backport Bitcoin inscription support (#2825)
  changelog.md
  contrib/localnet/bitcoin-sidecar/Dockerfile
  contrib/localnet/bitcoin-sidecar/js/package.json
  contrib/localnet/bitcoin-sidecar/js/src/client.ts
  contrib/localnet/bitcoin-sidecar/js/src/index.ts
  contrib/localnet/bitcoin-sidecar/js/src/script.ts
  contrib/localnet/bitcoin-sidecar/js/src/tsconfig.json
  contrib/localnet/bitcoin-sidecar/js/src/util.ts
  contrib/localnet/docker-compose.yml
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_extract_bitcoin_inscription_memo.go
  e2e/runner/bitcoin.go
  e2e/runner/inscription.go
  e2e/runner/solana.go
  zetaclient/chains/bitcoin/fee.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/rpc/rpc.go
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/signer/withdraw.go
  zetaclient/testutils/mocks/solana_rpc.go
Due: zetaclient

add migration script
  proto/zetachain/zetacore/emissions/params.proto
  x/emissions/keeper/keeper.go
  x/emissions/migrations/v3/migrate_test.go
  x/emissions/migrations/v4/migrate.go
  x/emissions/migrations/v4/migrate_test.go
  x/emissions/types/legacy_params.go
  x/emissions/types/legacy_params_test.go
  x/emissions/types/params.pb.go
Due: zetacore

add unit test for migration v4
  testutil/sample/sample.go
  x/emissions/genesis_test.go
  x/emissions/keeper/keeper.go
  x/emissions/keeper/params_test.go
  x/emissions/migrations/v3/migrate.go
  x/emissions/migrations/v3/migrate_test.go
  x/emissions/migrations/v4/migrate.go
  x/emissions/migrations/v4/migrate_test.go
  x/emissions/types/errors.go
  x/emissions/types/types.go
Due: zetacore

generate files
  changelog.md
  docs/cli/zetacored/cli.md
  docs/openapi/openapi.swagger.yaml
  docs/releases/v20_breaking_changes.md
  precompiles/prototype/IPrototype.go
  proto/zetachain/zetacore/emissions/params.proto
  typescript/zetachain/zetacore/emissions/params_pb.d.ts
  typescript/zetachain/zetacore/emissions/query_pb.d.ts
  x/emissions/abci.go
  x/emissions/abci_test.go
  x/emissions/keeper/migrator.go
  x/emissions/keeper/params_test.go
  x/emissions/migrations/v4/migrate.go
  x/emissions/migrations/v4/migrate_test.go
  x/emissions/module.go
  x/emissions/types/legacy_params_test.go
  x/emissions/types/message_update_params_test.go
  x/emissions/types/params.pb.go
Due: zetacore

split tests into 2 files
  e2e/e2etests/test_precompiles_prototype_through_contract.go
Due: none

pr comments and refactorings
  cmd/zetae2e/local/local.go
  e2e/contracts/teststaking/TestStaking.abi
  e2e/contracts/teststaking/TestStaking.bin
  e2e/contracts/teststaking/TestStaking.go
  e2e/contracts/teststaking/TestStaking.json
  e2e/contracts/teststaking/TestStaking.sol
  e2e/e2etests/test_precompiles_staking.go
  e2e/e2etests/test_precompiles_staking_through_contract.go
  e2e/runner/runner.go
  pkg/rpc/clients.go
  precompiles/staking/staking.go
  precompiles/staking/staking_test.go
Due: none

update sample genesis doc
  testutil/sample/sample.go
Due: none
