Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

migration test
  e2e/e2etests/test_migrate_erc20_custody_funds.go
  e2e/e2etests/test_v2_migration.go
Due: none

refactor some parts of bech32 functions
  precompiles/prototype/prototype.go
  precompiles/prototype/prototype_test.go
Due: none

remove migration as test
  e2e/e2etests/e2etests.go
  e2e/runner/v2_migration.go
Due: none

feat: add e2e test stateful contract (#2703)
  Makefile
  app/app.go
  changelog.md
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/precompiles.go
  codecov.yml
  e2e/config/config.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_precompiles_prototype.go
  precompiles/precompiles.go
  precompiles/precompiles_test.go
  precompiles/prototype/IPrototype.abi
  precompiles/prototype/IPrototype.go
  precompiles/prototype/IPrototype.json
  precompiles/prototype/IPrototype.sol
  precompiles/prototype/bindings.go
  precompiles/prototype/prototype.go
  precompiles/prototype/prototype_test.go
  precompiles/types/errors.go
  precompiles/types/errors_test.go
  precompiles/types/types.go
  precompiles/types/types_test.go
  scripts/bindings-stateful-precompiles.sh
Due: none

add migration option
  Makefile
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/v2.go
Due: none

generate
  cmd/zetae2e/local/v2.go
  e2e/runner/v2_migration.go
  e2e/txserver/authority.go
Due: none

update test order
  cmd/zetae2e/local/local.go
Due: none

Update e2e/e2etests/test_extract_bitcoin_inscription_memo.go
  e2e/e2etests/test_extract_bitcoin_inscription_memo.go
Due: none

formatting
  x/crosschain/keeper/evm_hooks.go
  x/fungible/keeper/deposits.go
  x/fungible/keeper/evm.go
Due: zetacore

return nil neither both op_ret nor inscription found
  e2e/e2etests/test_extract_bitcoin_inscription_memo.go
  e2e/runner/bitcoin.go
  e2e/runner/inscription.go
  zetaclient/chains/bitcoin/observer/witness.go
Due: zetaclient

new generated mocks
  testutil/keeper/mocks/crosschain/fungible.go
Due: none

require not err
  e2e/e2etests/test_extract_bitcoin_inscription_memo.go
  e2e/runner/bitcoin.go
Due: none

Update e2e/runner/bitcoin.go
  e2e/runner/bitcoin.go
Due: none

more comments
  e2e/runner/bitcoin.go
  e2e/runner/inscription.go
Due: none

make some fixes
  Makefile
  cmd/zetae2e/local/local.go
  e2e/runner/accounting.go
  e2e/runner/v2_migration.go
  e2e/runner/v2_setup_zeta.go
  e2e/txserver/zeta_tx_server.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/evm/observer/v2_inbound.go
Due: zetaclient

make generate
  cmd/zetae2e/local/local.go
  zetaclient/chains/evm/observer/v2_inbound.go
Due: zetaclient

fix gateway address
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

fix lint
  cmd/zetae2e/local/bitcoin.go
  e2e/e2etests/test_extract_bitcoin_inscription_memo.go
  e2e/runner/inscription.go
Due: none

Update changelog.md
  changelog.md
Due: none

Update zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/inbound.go
Due: zetaclient

enable live test by ENABLE_LIVE_TEST environment variable
  zetaclient/chains/base/observer.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/rpc/rpc.go
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/rpc/rpc.go
  zetaclient/chains/evm/rpc/rpc_live_test.go
  zetaclient/chains/solana/observer/observer.go
  zetaclient/chains/solana/rpc/rpc.go
  zetaclient/chains/solana/rpc/rpc_live_test.go
  zetaclient/common/env.go
  zetaclient/config/types.go
  zetaclient/orchestrator/bootstrap.go
Due: zetaclient

unified RPC error alert message
  zetaclient/chains/bitcoin/rpc/rpc.go
  zetaclient/chains/evm/rpc/rpc.go
  zetaclient/chains/solana/rpc/rpc.go
Due: zetaclient

Updated labels on infra bugs
  .github/ISSUE_TEMPLATE/syncing.yaml
Due: none

skip precompile tests during upgrade
  cmd/zetae2e/local/local.go
Due: none

reduce cctx time to try getting CI to run successfully
  e2e/utils/zetacore.go
Due: none

increase cctx timeout
  e2e/utils/zetacore.go
Due: none

increase timeout for tss migration tests
  .github/workflows/e2e.yml
Due: none

test: update tss address on connectors and custody contracts (#2661)
  .github/workflows/e2e.yml
  Makefile
  changelog.md
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/migration.go
  cmd/zetae2e/local/post_migration.go
  cmd/zetae2e/local/tss_migration.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/e2etests/test_crosschain_swap.go
  e2e/e2etests/test_message_passing_external_chains_revert_fail.go
  e2e/e2etests/test_migrate_tss.go
  e2e/e2etests/test_zrc20_swap.go
  e2e/runner/admin_evm.go
  e2e/utils/zetacore.go
  x/crosschain/keeper/msg_server_migrate_tss_funds.go
  x/crosschain/keeper/msg_server_migrate_tss_funds_test.go
  x/crosschain/types/cmd_cctxs.go
  x/crosschain/types/errors.go
Due: zetacore

upgrade to btcec/v2
  e2e/runner/setup_bitcoin.go
  x/crosschain/types/tx_body_verification.go
  zetaclient/chains/bitcoin/fee_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/bitcoin/signer/signer_keysign_test.go
  zetaclient/chains/bitcoin/signer/signer_test.go
  zetaclient/hsm/hsm_signer_test.go
Due: zetacore, zetaclient

implementation of bitcoin depositor fee V2
  zetaclient/chains/bitcoin/fee.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/rpc/rpc.go
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
Due: zetaclient

fix lint
  e2e/runner/inscription.go
Due: none

add changelog entry
  changelog.md
Due: none

attached tracking issue# for TODO; formatted comments to be go idiomatic
  zetaclient/chains/bitcoin/fee.go
  zetaclient/chains/bitcoin/observer/inbound.go
Due: zetaclient

disable live test in CI
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
Due: zetaclient

fixed rename
  zetaclient/chains/evm/observer/inbound.go
Due: zetaclient

fixed rename
  changelog.md
Due: none

revert the manual test in localnet e2e
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/signer/outbound_tracker_reporter.go
Due: zetaclient

fix unit test
  zetaclient/chains/evm/observer/inbound_test.go
Due: zetaclient

Path conditions:
  zetacore: any of: x/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  zetaclient: any of: zetaclient/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  common: any of: common/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
