Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

refactor: remove index field in ballot (#4205)
  changelog.md
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/observer/ballot.proto
  simulation/state.go
  testutil/sample/observer.go
  typescript/zetachain/zetacore/observer/ballot_pb.ts
  x/observer/keeper/ballot.go
  x/observer/keeper/ballot_test.go
  x/observer/keeper/grpc_query_ballot_test.go
  x/observer/keeper/msg_server_vote_blame_test.go
  x/observer/keeper/msg_server_vote_tss.go
  x/observer/keeper/vote_inbound_test.go
  x/observer/keeper/vote_outbound_test.go
  x/observer/keeper/voting.go
  x/observer/keeper/voting_test.go
  x/observer/migrations/v11/migrate_test.go
  x/observer/types/ballot.pb.go
  x/observer/types/ballot_test.go
Due: zetacore

update comments for legacy cctx and refactor unit tests to use the parent function ManageUnusedGasFee
  docs/zetacore/gas_fee.md
  docs/zetacore/managment_for_unused_gas_fee.md
  x/crosschain/keeper/msg_server_vote_outbound.go
  x/crosschain/keeper/msg_server_vote_outbound_test.go
Due: zetacore

refactor: remove `MsgUpdateERC20CustodyPauseStatus` and `MsgMigrateERC20CustodyFunds` (#4199)
  changelog.md
  cmd/zetae2e/local/local.go
  docs/openapi/openapi.swagger.yaml
  docs/spec/generated.md
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_migrate_erc20_custody_funds.go
  e2e/e2etests/test_pause_erc20_custody.go
  pkg/constant/constant.go
  proto/zetachain/zetacore/crosschain/legacy_msgs.proto
  proto/zetachain/zetacore/crosschain/tx.proto
  typescript/zetachain/zetacore/crosschain/legacy_msgs_pb.ts
  typescript/zetachain/zetacore/crosschain/tx_pb.ts
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
  x/crosschain/keeper/msg_server_migrate_erc20_custody_funds.go
  x/crosschain/keeper/msg_server_migrate_erc20_custody_funds_test.go
  x/crosschain/keeper/msg_server_update_erc20_custody_pause_status.go
  x/crosschain/keeper/msg_server_update_erc20_custody_pause_status_test.go
  x/crosschain/simulation/operation_update_erc20_pause_status.go
  x/crosschain/simulation/operation_whitelist_erc20.go
  x/crosschain/simulation/operations.go
  x/crosschain/types/cmd_cctxs.go
  x/crosschain/types/cmd_cctxs_test.go
  x/crosschain/types/codec.go
  x/crosschain/types/legacy_msgs.go
  x/crosschain/types/legacy_msgs.pb.go
  x/crosschain/types/message_migrate_erc20_custody_funds.go
  x/crosschain/types/message_migrate_erc20_custody_funds_test.go
  x/crosschain/types/message_update_erc20_custody_pause_status.go
  x/crosschain/types/message_update_erc20_custody_pause_status_test.go
  x/crosschain/types/tx.pb.go
  zetaclient/chains/evm/signer/signer_admin.go
  zetaclient/chains/evm/signer/signer_admin_test.go
Due: zetacore, zetaclient, pkg

enable NoAssetCall from Bitcoin
  cmd/zetae2e/local/bitcoin.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_bitcoin_to_zevm_call.go
  e2e/e2etests/test_bitcoin_to_zevm_call_abort.go
  e2e/runner/runner.go
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
Due: zetaclient

add changelog entry
  changelog.md
Due: none

improve comment and log print
  e2e/runner/runner.go
  zetaclient/chains/bitcoin/observer/inbound.go
Due: zetaclient

adjust non zevm chain test cases
  x/crosschain/keeper/msg_server_vote_outbound.go
  x/crosschain/keeper/msg_server_vote_outbound_test.go
Due: zetacore

fix lint errors
  x/crosschain/keeper/msg_server_vote_outbound.go
Due: zetacore

apply comment
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/e2etests/test_solana_whitelist_spl.go
  e2e/e2etests/test_whitelist_erc20.go
Due: none

refactor: rename whitelistERC20 into whitelistAsset (#4203)
  changelog.md
  docs/cli/zetacored/cli.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/generated.md
  e2e/e2etests/test_migrate_chain_support.go
  e2e/e2etests/test_solana_whitelist_spl.go
  e2e/e2etests/test_whitelist_erc20.go
  pkg/constant/constant.go
  proto/zetachain/zetacore/crosschain/events.proto
  proto/zetachain/zetacore/crosschain/legacy_msgs.proto
  proto/zetachain/zetacore/crosschain/tx.proto
  typescript/zetachain/zetacore/crosschain/events_pb.ts
  typescript/zetachain/zetacore/crosschain/legacy_msgs_pb.ts
  typescript/zetachain/zetacore/crosschain/tx_pb.ts
  x/authority/keeper/migrator.go
  x/authority/migrations/v6/migrate.go
  x/authority/migrations/v6/migrate_test.go
  x/authority/module.go
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
  x/crosschain/client/cli/cli_whitelist_asset.go
  x/crosschain/client/cli/tx.go
  x/crosschain/keeper/msg_server_whitelist_asset.go
  x/crosschain/keeper/msg_server_whitelist_asset_test.go
  x/crosschain/simulation/operation_whitelist_asset.go
  x/crosschain/simulation/operations.go
  x/crosschain/types/cmd_cctxs.go
  x/crosschain/types/cmd_cctxs_test.go
  x/crosschain/types/codec.go
  x/crosschain/types/events.pb.go
  x/crosschain/types/legacy_msgs.go
  x/crosschain/types/legacy_msgs.pb.go
  x/crosschain/types/message_whitelist_asset.go
  x/crosschain/types/message_whitelist_asset_test.go
  x/crosschain/types/tx.pb.go
  zetaclient/chains/evm/signer/signer_admin.go
  zetaclient/chains/evm/signer/signer_admin_test.go
Due: zetacore, zetaclient, pkg

fix gas limit issue in upgrade test
  Makefile
  contrib/localnet/scripts/start-zetacored.sh
  e2e/runner/setup_zevm.go
  e2e/runner/upgrade.go
  e2e/txserver/zeta_tx_server.go
Due: none

test: fix flaky Solana depositAndCall tests (#4113)
  e2e/e2etests/legacy/test_eth_deposit_call.go
  e2e/e2etests/test_solana_deposit_call.go
  e2e/e2etests/test_solana_to_zevm_call.go
  e2e/e2etests/test_spl_deposit_and_call.go
  e2e/e2etests/test_ton_call.go
  e2e/e2etests/test_ton_deposit_and_call.go
  e2e/runner/testdapp.go
  e2e/utils/contracts.go
Due: none

test: fix flaky Solana SPL deposit balance check (#4142)
  e2e/e2etests/test_spl_deposit.go
  e2e/runner/solana.go
  e2e/utils/balance_change.go
  e2e/utils/zetacore.go
Due: none

test(`e2e`): add a gas limit option for ZEVM to EVM call tests (#4145)
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_zevm_to_evm_call.go
  e2e/e2etests/test_zevm_to_evm_call_revert.go
  e2e/e2etests/test_zevm_to_evm_call_revert_and_abort.go
  e2e/runner/zevm.go
Due: none

test: use pre-deployed example dapp V2 contract in e2e tests (#4158)
  e2e/e2etests/helpers.go
  e2e/e2etests/test_solana_deposit_call.go
  e2e/e2etests/test_solana_to_zevm_call.go
  e2e/e2etests/test_spl_deposit_and_call.go
  e2e/e2etests/test_ton_call.go
  e2e/e2etests/test_ton_deposit_and_call.go
Due: none

test: fix flaky depositAndCall test that failed on sender assertion (#4165)
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call.go
  e2e/e2etests/test_bitcoin_std_memo_inscribed_deposit_and_call.go
  e2e/e2etests/test_erc20_deposit_and_call.go
  e2e/e2etests/test_erc20_deposit_and_call_no_message.go
  e2e/e2etests/test_erc20_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_eth_deposit_and_call.go
  e2e/e2etests/test_eth_deposit_and_call_no_message.go
  e2e/e2etests/test_eth_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_evm_to_zevm_call.go
  e2e/e2etests/test_solana_deposit_call.go
  e2e/e2etests/test_solana_to_zevm_call.go
  e2e/e2etests/test_solana_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_spl_deposit_and_call.go
  e2e/e2etests/test_sui_deposit_and_call.go
  e2e/e2etests/test_sui_token_deposit_and_call.go
  e2e/e2etests/test_sui_token_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_sui_withdraw_revert_with_call.go
  e2e/e2etests/test_ton_call.go
  e2e/e2etests/test_ton_deposit_and_call.go
  e2e/e2etests/test_zeta_deposit_and_call.go
  e2e/e2etests/test_zeta_deposit_and_call_no_message.go
  e2e/e2etests/test_zevm_to_evm_call_revert.go
  e2e/runner/testdapp.go
Due: none

fix compile
  e2e/e2etests/test_sui_token_withdraw_and_call_revert_with_call_legacy.go
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call_legacy.go
Due: none

chore: resync changelogs with v36 changes
  changelog.md
Due: none

chore(backport/v36): cherry pick e2e tests changes for live networks (#4220)
  e2e/e2etests/e2etests.go
  e2e/e2etests/helpers.go
  e2e/e2etests/legacy/test_eth_deposit_call.go
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call.go
  e2e/e2etests/test_bitcoin_std_memo_inscribed_deposit_and_call.go
  e2e/e2etests/test_erc20_deposit_and_call.go
  e2e/e2etests/test_erc20_deposit_and_call_no_message.go
  e2e/e2etests/test_erc20_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_eth_deposit_and_call.go
  e2e/e2etests/test_eth_deposit_and_call_no_message.go
  e2e/e2etests/test_eth_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_evm_to_zevm_call.go
  e2e/e2etests/test_solana_deposit_call.go
  e2e/e2etests/test_solana_to_zevm_call.go
  e2e/e2etests/test_solana_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_spl_deposit.go
  e2e/e2etests/test_spl_deposit_and_call.go
  e2e/e2etests/test_sui_deposit_and_call.go
  e2e/e2etests/test_sui_token_deposit_and_call.go
  e2e/e2etests/test_sui_token_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_sui_token_withdraw_and_call_revert_with_call_legacy.go
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call_legacy.go
  e2e/e2etests/test_sui_withdraw_revert_with_call.go
  e2e/e2etests/test_ton_call.go
  e2e/e2etests/test_ton_deposit_and_call.go
  e2e/e2etests/test_zeta_deposit_and_call.go
  e2e/e2etests/test_zeta_deposit_and_call_no_message.go
  e2e/e2etests/test_zevm_to_evm_call.go
  e2e/e2etests/test_zevm_to_evm_call_revert.go
  e2e/e2etests/test_zevm_to_evm_call_revert_and_abort.go
  e2e/runner/solana.go
  e2e/runner/testdapp.go
  e2e/runner/zevm.go
  e2e/utils/balance_change.go
  e2e/utils/contracts.go
  e2e/utils/zetacore.go
Due: none

feat: provide error information in CCTX struct when Bitcoin deposit fail (#4211)
  changelog.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/generated.md
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_bitcoin_deposit_abort_with_low_deposit_fee.go
  e2e/e2etests/test_bitcoin_deposit_invalid_memo_revert.go
  e2e/utils/require.go
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  proto/zetachain/zetacore/crosschain/tx.proto
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.ts
  typescript/zetachain/zetacore/crosschain/tx_pb.ts
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/cctx_gateway_zevm_test.go
  x/crosschain/keeper/cctx_test.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/message_vote_inbound.go
  x/crosschain/types/message_vote_inbound_test.go
  x/crosschain/types/tx.pb.go
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
Due: zetacore, zetaclient

add zeta ante
  Makefile
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/runner/upgrade_v36.go
Due: none

add to upgrade test regular
  Makefile
Due: none

add to upgrade test regular
  Makefile
  cmd/zetae2e/local/local.go
Due: none

fix comments 2
  x/crosschain/keeper/msg_server_vote_inbound.go
  x/crosschain/keeper/msg_server_vote_inbound_test.go
Due: zetacore

update out of gas test
  e2e/e2etests/e2etests.go
Due: none

update out of gas test
  contrib/localnet/scripts/start-zetacored.sh
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_admin_transactions.go
  e2e/e2etests/test_deposit_and_call_out_of_gas.go
  e2e/runner/zevm.go
Due: none

fix: re-check for finalized ballot when executing inbound vote to create cctx (#4197)
  changelog.md
  x/crosschain/keeper/msg_server_vote_inbound.go
  x/crosschain/keeper/msg_server_vote_inbound_test.go
Due: zetacore

fix comments and rebase develop
  testutil/keeper/mocks/crosschain/fungible.go
  x/crosschain/keeper/export_private_functions_test.go
  x/crosschain/keeper/msg_server_vote_outbound.go
  x/crosschain/keeper/msg_server_vote_outbound_test.go
  x/crosschain/types/constant.go
  x/crosschain/types/expected_keepers.go
  x/crosschain/types/keys.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/evm_test.go
  x/fungible/keeper/refund_gas_fee.go
  x/fungible/keeper/refund_gas_fee_test.go
  x/observer/keeper/migrator.go
  x/observer/migrations/v11/migrate.go
  x/observer/migrations/v11/migrate_test.go
  x/observer/migrations/v12/migrate.go
  x/observer/migrations/v12/migrate_test.go
  x/observer/module.go
Due: zetacore

fix tss migration test
  cmd/zetae2e/local/local.go
  e2e/runner/zevm.go
Due: none

revert bitcoin NoAssetCall that carries large excessive funds
  cmd/zetae2e/local/bitcoin.go
  docs/openapi/openapi.swagger.yaml
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_bitcoin_deposit_abort_with_low_deposit_fee.go
  e2e/e2etests/test_bitcoin_deposit_invalid_memo_revert.go
  e2e/e2etests/test_bitcoin_to_zevm_call_excessive_funds_revert.go
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.ts
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/cctx_gateway_zevm_test.go
  x/crosschain/types/cross_chain_tx.pb.go
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
Due: zetacore, zetaclient

add statement to ErrParamsStabilityPoolPercentage
  x/observer/types/chain_params.go
Due: zetacore

fix lint issues 1
  e2e/runner/zevm.go
Due: none

adjust btc inbound parsing order; fix test name
  x/crosschain/keeper/cctx_gateway_zevm_test.go
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/bitcoin/observer/inbound.go
Due: zetacore, zetaclient

Update x/crosschain/keeper/msg_server_vote_outbound.go
  x/crosschain/keeper/msg_server_vote_outbound.go
Due: zetacore

fix comments 3
  x/crosschain/keeper/msg_server_vote_outbound.go
  x/crosschain/keeper/msg_server_vote_outbound_test.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/constant.go
  x/observer/types/chain_params.go
Due: zetacore

improve function and variable names
  e2e/e2etests/test_bitcoin_to_zevm_call_excessive_funds_revert.go
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
Due: zetaclient

ad changelog
  changelog.md
Due: none

remove commented code
  server/start.go
Due: none

update v2 zeta version
  cmd/zetae2e/local/local.go
  contrib/localnet/scripts/start-zetacored.sh
Due: none
