Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

use go-mask to mask sensitive information in zetaclient config file
  cmd/zetaclientd/start.go
  cmd/zetaclientd/start_utils.go
  go.mod
  go.sum
  zetaclient/config/types.go
  zetaclient/config/types_test.go
Due: zetaclient

fix e2etest failure by renaming btc node user: smoketest --> e2etest
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/config/localnet.yml
  contrib/localnet/docker-compose.yml
  e2e/config/config.go
Due: none

increase post gas limit for TX to post TSS to zetacore
  zetaclient/zetacore/client_vote.go
  zetaclient/zetacore/constant.go
Due: zetaclient

add changelog
  changelog.md
Due: none

change e2etest --> smoketest; change Signet chain id as 18333
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/config/localnet.yml
  contrib/localnet/docker-compose.yml
  e2e/config/config.go
  pkg/chains/chains.go
  zetaclient/config/config_chain.go
Due: zetaclient

feat: support multiple btc chain config (#2870)
  changelog.md
  cmd/zetaclientd/debug.go
  cmd/zetaclientd/start.go
  cmd/zetaclientd/start_utils.go
  go.mod
  go.sum
  pkg/chains/chains.go
  zetaclient/config/config_chain.go
  zetaclient/config/types.go
  zetaclient/config/types_test.go
  zetaclient/context/app_test.go
  zetaclient/context/chain.go
  zetaclient/context/chain_test.go
  zetaclient/orchestrator/bootstap_test.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/orchestrator_test.go
Due: zetaclient

fix precision issue when depositing BTC to tss address
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/runner/bitcoin.go
Due: none

add changelog entry
  changelog.md
Due: none

resolved changelog conflict
  changelog.md
Due: none

fix(zetaclient): increase gas limit for TSS vote (#2894)
  changelog.md
  zetaclient/zetacore/client_vote.go
  zetaclient/zetacore/constant.go
Due: zetaclient

Add liteapi wrapper client; locate first tx
  zetaclient/chains/ton/liteapi/client.go
  zetaclient/chains/ton/liteapi/client_live_test.go
  zetaclient/chains/ton/liteapi/client_test.go
Due: zetaclient

second round of reviews
  precompiles/bank/bank.go
  precompiles/bank/const.go
  precompiles/bank/method_withdraw.go
Due: none

test: add bitcoin e2e test deposit_call (#2895)
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/runner/bitcoin.go
Due: none

create bank account when instantiating bank
  cmd/zetae2e/config/localnet.yml
  contrib/localnet/scripts/start-zetacored.sh
  precompiles/bank/bank.go
  precompiles/bank/method_balance_of.go
  precompiles/bank/method_deposit.go
  precompiles/bank/method_withdraw.go
  precompiles/precompiles.go
  precompiles/types/errors.go
  precompiles/types/errors_test.go
Due: none

resolver comments
  docs/spec/authority/messages.md
  proto/zetachain/zetacore/authority/tx.proto
  typescript/zetachain/zetacore/authority/tx_pb.d.ts
  x/authority/keeper/msg_server_update_chain_info.go
  x/authority/types/tx.pb.go
Due: zetacore

Add TON tx scraper
  pkg/contracts/ton/gateway_test.go
  pkg/contracts/ton/testdata/01.json
  pkg/contracts/ton/testdata/readme.md
  pkg/contracts/ton/testdata/scraper.go
Due: none

fix(zetacore): add default cctx list pagination size (#2871)
  x/crosschain/keeper/grpc_query_cctx.go
  x/crosschain/keeper/grpc_query_cctx_test.go
Due: zetacore

fix(zetaclient): add block by number result nil check (#2882)
  zetaclient/chains/evm/observer/observer.go
Due: zetaclient

chore: log panic line in ticker error (#2881)
  pkg/ticker/ticker.go
  pkg/ticker/ticker_test.go
Due: none

fix error match
  pkg/chains/address_test.go
Due: none

go mod tidy
  go.mod
  go.sum
Due: none

remove CalcDepositorFeeV2; add unit tests; migration mock btc client to Mockery
  e2e/runner/bitcoin.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/bitcoin/fee.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
  zetaclient/testdata/btc/chain_8332_msgtx_847139aa65aa4a5ee896375951cbf7417cfc8a4d6f277ec11f40cd87319f04aa.json
  zetaclient/testutils/mocks/btc_rpc_mock.go
Due: zetaclient

replace manual btc rpc mock with Mockery
  zetaclient/testutils/mocks/btc_rpc.go
  zetaclient/testutils/mocks/btc_rpc_mock.go
Due: zetaclient

e2e: add good and bad scenarios
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/precompiles.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_precompiles_bank.go
  e2e/utils/require.go
  precompiles/bank/method_withdraw.go
Due: none

modify fmt
  precompiles/types/types.go
Due: none

chore: group input into eventData struct
  precompiles/bank/logs.go
  precompiles/bank/method_deposit.go
  precompiles/bank/method_withdraw.go
Due: none

feat: add persistent localnet docker-compose
  .gitignore
  contrib/localnet/docker-compose-persistent.yml
  contrib/localnet/docker-compose.yml
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetaclientd.sh
Due: none

move createRPCClientAndLoadTx to testutils package as CreateBTCRPCAndLoadTx
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/witness_test.go
  zetaclient/testutils/testrpc/rpc_btc.go
Due: zetaclient

move GetSenderAddressByVin to inbound.go as it's for inbound observation
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/observer.go
Due: zetaclient

docs: document bank's methods
  precompiles/bank/method_balance_of.go
  precompiles/bank/method_deposit.go
  precompiles/bank/method_withdraw.go
Due: none

makefile examples
  Makefile
  contrib/localnet/docker-compose.yml
  contrib/localnet/grafana/grafana.ini
Due: none

add unit test for IsBlockConfirmed
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/bitcoin/observer/inbound.go
Due: zetaclient

remove unused constants
  zetaclient/chains/bitcoin/fee.go
Due: zetaclient

e2e tests and modifications for authenticated call
  cmd/zetae2e/local/v2.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_v2_zevm_to_evm_call.go
  e2e/runner/v2_zevm.go
  go.mod
  go.sum
  pkg/contracts/testdappv2/TestDAppV2.abi
  pkg/contracts/testdappv2/TestDAppV2.bin
  pkg/contracts/testdappv2/TestDAppV2.go
  pkg/contracts/testdappv2/TestDAppV2.json
  pkg/contracts/testdappv2/TestDAppV2.sol
  pkg/contracts/testgatewayzevmcaller/TestGatewayZEVMCaller.abi
  pkg/contracts/testgatewayzevmcaller/TestGatewayZEVMCaller.bin
  pkg/contracts/testgatewayzevmcaller/TestGatewayZEVMCaller.go
  pkg/contracts/testgatewayzevmcaller/TestGatewayZEVMCaller.json
  pkg/contracts/testgatewayzevmcaller/TestGatewayZEVMCaller.sol
  pkg/contracts/testgatewayzevmcaller/bindings.go
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  proto/zetachain/zetacore/crosschain/tx.proto
  x/crosschain/client/cli/tx_vote_inbound.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/v2_zevm_inbound.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/message_vote_inbound.go
  x/crosschain/types/message_vote_inbound_test.go
  x/crosschain/types/tx.pb.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/evm/signer/v2_sign.go
  zetaclient/chains/evm/signer/v2_signer.go
  zetaclient/zetacore/tx.go
Due: zetacore, zetaclient

chore: generate files with suffix .gen.go
  codecov.yml
  precompiles/bank/IBank.gen.go
  precompiles/bank/bindings.go
  precompiles/prototype/IPrototype.gen.go
  precompiles/prototype/bindings.go
  precompiles/staking/IStaking.gen.go
  precompiles/staking/bindings.go
Due: none

chore: assert errors with errorIs
  precompiles/types/errors_test.go
Due: none

chore: reset e2e test by resetting allowance
  e2e/e2etests/test_precompiles_bank.go
Due: none

Path conditions:
  zetacore: any of: x/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  zetaclient: any of: zetaclient/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  common: any of: common/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
