Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

fix: integrate deposit fee and audit fixes (#3232)
  contrib/localnet/solana/gateway.so
  e2e/runner/solana.go
  pkg/contracts/solana/gateway.go
  pkg/contracts/solana/gateway.json
  pkg/contracts/solana/testdata/aY8yLDze6nHSRi7L5REozKAZY1aAyPJ6TfibiqQL5JGwgSBkYux5z5JfXs5ed8LZqpXUy4VijoU3x15mBd66ZGE.json
Due: pkg

fix: integrate withdraw spl create ata fix (#3238)
  contrib/localnet/solana/gateway.so
  contrib/localnet/solana/start-solana.sh
  e2e/e2etests/test_spl_withdraw_and_create_receiver_ata.go
  e2e/runner/setup_solana.go
  e2e/runner/solana.go
  pkg/contracts/solana/gateway.go
  pkg/contracts/solana/gateway.json
  pkg/contracts/solana/instruction.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/withdraw_spl.go
Due: zetaclient, pkg

chore: add bitcoin rpc whitelist warning
  zetaclient/chains/interfaces/interfaces.go
Due: zetaclient

add operation UpdateErc20PauseStatus
  x/crosschain/keeper/msg_server_update_rate_limiter_flags.go
  x/crosschain/simulation/operation_abort_stuck_cctx.go
  x/crosschain/simulation/operation_refund_aborted_cctx.go
  x/crosschain/simulation/operation_update_erc20_pause_status.go
  x/crosschain/simulation/operation_vote_outbound.go
  x/crosschain/simulation/operations.go
Due: zetacore

add additional checks to whitelist erc20
  pkg/coin/coin.go
  testutil/sample/crypto.go
  x/crosschain/keeper/refund.go
  x/crosschain/simulation/operation_migrate_erc20_custody_funds.go
  x/crosschain/simulation/operation_refund_aborted_cctx.go
  x/crosschain/simulation/operations.go
Due: zetacore, pkg

fix: solana backports (#3239)
  contrib/localnet/solana/gateway.so
  contrib/localnet/solana/start-solana.sh
  e2e/e2etests/test_spl_withdraw_and_create_receiver_ata.go
  e2e/runner/setup_solana.go
  e2e/runner/solana.go
  pkg/contracts/solana/gateway.go
  pkg/contracts/solana/gateway.json
  pkg/contracts/solana/instruction.go
  pkg/contracts/solana/testdata/aY8yLDze6nHSRi7L5REozKAZY1aAyPJ6TfibiqQL5JGwgSBkYux5z5JfXs5ed8LZqpXUy4VijoU3x15mBd66ZGE.json
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/withdraw_spl.go
Due: zetaclient, pkg

Update zetaclient/chains/evm/observer/v2_inbound_tracker.go
  zetaclient/chains/evm/observer/v2_inbound_tracker.go
Due: zetaclient

chore: add bitcoin rpc whitelist warning (#3240)
  zetaclient/chains/interfaces/interfaces.go
Due: zetaclient

comments
  x/crosschain/types/status.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/v2_inbound_tracker.go
Due: zetacore, zetaclient

fix: support v2 inbound trackers from contract call
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/v2_inbound_tracker.go
Due: zetaclient

fix: support v2 inbound trackers from contract call (#3241)
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/v2_inbound_tracker.go
Due: zetaclient

feat(zetaclient): disable EIP-1559 (#3222)
  e2e/e2etests/test_eth_withdraw.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/signer/gas.go
  zetaclient/chains/evm/signer/sign_test.go
  zetaclient/chains/evm/signer/signer.go
Due: zetaclient

add default gas prices to the state
  simulation/state.go
  testutil/sample/crosschain.go
  x/crosschain/simulation/operation_abort_stuck_cctx.go
  x/crosschain/simulation/operation_migrate_erc20_custody_funds.go
  x/crosschain/simulation/operations.go
Due: none

add default gas prices to the state
  x/crosschain/simulation/operation_migrate_erc20_custody_funds.go
Due: none

use the ZEVM address decoded from memo as Receiver in MsgVoteInbound
  e2e/e2etests/test_solana_deposit.go
  e2e/e2etests/test_solana_deposit_call.go
  e2e/e2etests/test_spl_deposit.go
  e2e/e2etests/test_spl_deposit_and_call.go
  zetaclient/chains/solana/observer/inbound.go
Due: zetaclient

add Receiver check in unit test
  zetaclient/chains/solana/observer/inbound_test.go
Due: zetaclient

add changelog entry
  changelog.md
Due: none

update zeta accounting genesis
  simulation/simulation_test.go
  x/crosschain/genesis.go
  x/crosschain/keeper/cctx.go
  x/crosschain/keeper/msg_server_abort_stuck_cctx.go
Due: zetacore

prevent updating zeta accounting twice during genesis
  x/crosschain/genesis.go
  x/crosschain/keeper/cctx.go
  x/crosschain/keeper/cctx_test.go
Due: zetacore

update operation whitelist erc20 to not try whitelisting duplicate assets
  x/crosschain/genesis.go
  x/crosschain/simulation/operation_whitelist_erc20.go
Due: zetacore

add check for aborted status when finalizing an outbound
  Makefile
  simulation/simulation_test.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/simulation/decoders.go
Due: zetacore

disable EIP-1559 (#3237)
  e2e/e2etests/test_eth_withdraw.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/signer/gas.go
  zetaclient/chains/evm/signer/sign_test.go
  zetaclient/chains/evm/signer/signer.go
Due: zetaclient

chore: update codeowner
  .github/CODEOWNERS
Due: none

add check for aborted status when finalizing an outbound
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
Due: zetacore

add check for aborted status when finalizing an outbound
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/crosschain/types/errors.go
Due: zetacore

fix all inbound solana signature query to avoid version0 error
  zetaclient/chains/solana/observer/inbound_tracker.go
  zetaclient/chains/solana/rpc/rpc.go
  zetaclient/chains/solana/rpc/rpc_live_test.go
Due: zetaclient

skip unsupported solana inbound tracker hash
  zetaclient/chains/solana/observer/inbound_tracker.go
Due: zetaclient

chore: update codeowner (#3245)
  .github/CODEOWNERS
Due: none

fix: query solana inbound signatures using max version0 to avoid errors (#3246)
  zetaclient/chains/solana/observer/inbound_tracker.go
  zetaclient/chains/solana/rpc/rpc.go
  zetaclient/chains/solana/rpc/rpc_live_test.go
Due: zetaclient

chore: use protocol-engineering team for codeowner
  .github/CODEOWNERS
Due: none

chore: use protocol-engineering team for codeowner (#3249)
  .github/CODEOWNERS
Due: none

move relayer key checking after the tss keysign to unblock Athens3
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient

print relayer key fileName if not found
  zetaclient/keys/relayer_key.go
Due: zetaclient

fix: move relayer key check after tss keysign (#3250)
  zetaclient/chains/solana/signer/signer.go
  zetaclient/keys/relayer_key.go
Due: zetaclient

cherry pick athens3 hotfixes
  zetaclient/chains/solana/observer/inbound_tracker.go
  zetaclient/chains/solana/rpc/rpc.go
  zetaclient/chains/solana/rpc/rpc_live_test.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/keys/relayer_key.go
Due: zetaclient

todo test
  zetaclient/chains/evm/observer/v2_inbound_tracker.go
Due: zetaclient

remove v2 migration tests
  .github/workflows/e2e.yml
  Makefile
  cmd/zetae2e/local/local.go
  e2e/runner/v2_migration.go
Due: none

more renaming
  cmd/zetae2e/local/erc20.go
  cmd/zetae2e/local/ethereum.go
  cmd/zetae2e/local/evm.go
  cmd/zetae2e/local/legacy.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/v2.go
  cmd/zetae2e/local/zevm_mp.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_deposit_and_call_swap.go
  e2e/e2etests/test_erc20_deposit.go
  e2e/e2etests/test_erc20_deposit_and_call.go
  e2e/e2etests/test_erc20_deposit_and_call_no_message.go
  e2e/e2etests/test_erc20_deposit_and_call_revert.go
  e2e/e2etests/test_erc20_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_erc20_deposit_restricted_address.go
  e2e/e2etests/test_erc20_withdraw.go
  e2e/e2etests/test_erc20_withdraw_and_arbitrary_call.go
  e2e/e2etests/test_erc20_withdraw_and_call.go
  e2e/e2etests/test_erc20_withdraw_and_call_no_message.go
  e2e/e2etests/test_erc20_withdraw_and_call_revert.go
  e2e/e2etests/test_erc20_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_eth_deposit.go
  e2e/e2etests/test_eth_deposit_and_call.go
  e2e/e2etests/test_eth_deposit_and_call_no_message.go
  e2e/e2etests/test_eth_deposit_and_call_revert.go
  e2e/e2etests/test_eth_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_eth_withdraw.go
  e2e/e2etests/test_eth_withdraw_and_arbitrary_call.go
  e2e/e2etests/test_eth_withdraw_and_call.go
  e2e/e2etests/test_eth_withdraw_and_call_no_message.go
  e2e/e2etests/test_eth_withdraw_and_call_revert.go
  e2e/e2etests/test_eth_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_eth_withdraw_and_call_through_contract.go
  e2e/e2etests/test_evm_to_zevm_call.go
  e2e/e2etests/test_zevm_to_evm_arbitrary_call.go
  e2e/e2etests/test_zevm_to_evm_call.go
  e2e/e2etests/test_zevm_to_evm_call_through_contract.go
Due: none

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
