Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

fix: extend min gas limit check (#14)
  zetaclient/chains/evm/signer/gas.go
  zetaclient/chains/evm/signer/gas_test.go
Due: zetaclient

refactor: revert back tss sign batch for solana outbounds (#17)
  zetaclient/chains/solana/signer/execute.go
  zetaclient/chains/solana/signer/execute_spl.go
  zetaclient/chains/solana/signer/increment_nonce.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/whitelist.go
  zetaclient/chains/solana/signer/withdraw.go
  zetaclient/chains/solana/signer/withdraw_spl.go
Due: zetaclient

fix: increment nonce if prep fails (#6)
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_solana_withdraw_and_call.go
  e2e/e2etests/test_solana_withdraw_and_call_invalid_msg_encoding.go
  e2e/e2etests/test_solana_withdraw_and_call_revert_with_call.go
  e2e/runner/solana.go
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient

use increment nonce as fallback for all outbounds (#7)
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_solana_withdraw_revert_executable_receiver.go
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient

fix: fetch zrc20 with correct chain ID in refund abort (#5)
  x/crosschain/keeper/abort.go
  x/crosschain/keeper/abort_test.go
Due: zetacore

fix: cherry pick solana fixes (#11)
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_solana_withdraw_and_call.go
  e2e/e2etests/test_solana_withdraw_and_call_invalid_msg_encoding.go
  e2e/e2etests/test_solana_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_solana_withdraw_revert_executable_receiver.go
  e2e/runner/solana.go
  zetaclient/chains/solana/signer/execute.go
  zetaclient/chains/solana/signer/execute_spl.go
  zetaclient/chains/solana/signer/increment_nonce.go
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient

refactor: revert back tss sign batch for solana outbounds (#16)
  zetaclient/chains/solana/signer/execute.go
  zetaclient/chains/solana/signer/execute_spl.go
  zetaclient/chains/solana/signer/increment_nonce.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/whitelist.go
  zetaclient/chains/solana/signer/withdraw.go
  zetaclient/chains/solana/signer/withdraw_spl.go
Due: zetaclient

feat(tss): bump go-tss to v0.6.0 (#3843)
  go.mod
  go.sum
Due: none

fix: backport for v30 patches (#3867)
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_solana_withdraw_and_call.go
  e2e/e2etests/test_solana_withdraw_and_call_invalid_msg_encoding.go
  e2e/e2etests/test_solana_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_solana_withdraw_revert_executable_receiver.go
  e2e/runner/solana.go
  zetaclient/chains/evm/signer/gas.go
  zetaclient/chains/evm/signer/gas_test.go
  zetaclient/chains/solana/signer/execute.go
  zetaclient/chains/solana/signer/execute_spl.go
  zetaclient/chains/solana/signer/increment_nonce.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/whitelist.go
  zetaclient/chains/solana/signer/withdraw.go
  zetaclient/chains/solana/signer/withdraw_spl.go
Due: zetaclient

fix: backport for v29 patches (#3868)
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_solana_withdraw_and_call.go
  e2e/e2etests/test_solana_withdraw_and_call_invalid_msg_encoding.go
  e2e/e2etests/test_solana_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_solana_withdraw_revert_executable_receiver.go
  e2e/runner/solana.go
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient

fix: backport for develop patches (#3869)
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_solana_withdraw_and_call.go
  e2e/e2etests/test_solana_withdraw_and_call_invalid_msg_encoding.go
  e2e/e2etests/test_solana_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_solana_withdraw_revert_executable_receiver.go
  e2e/runner/solana.go
  x/crosschain/keeper/abort.go
  x/crosschain/keeper/abort_test.go
  zetaclient/chains/solana/signer/execute.go
  zetaclient/chains/solana/signer/execute_spl.go
  zetaclient/chains/solana/signer/increment_nonce.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/whitelist.go
  zetaclient/chains/solana/signer/withdraw.go
  zetaclient/chains/solana/signer/withdraw_spl.go
Due: zetacore, zetaclient

PR comments
  zetaclient/chains/ton/observer/inbound.go
Due: zetaclient

Minor e2e improvements
  cmd/zetaclientd-supervisor/lib.go
  cmd/zetaclientd-supervisor/main.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/tss_migration.go
  contrib/localnet/scripts/start-zetaclientd.sh
Due: none

Rollback mutex
  zetaclient/config/config.go
Due: zetaclient

Fix unit test
  zetaclient/chains/ton/observer/inbound_test.go
Due: zetaclient

Fix e2e
  e2e/runner/ton.go
Due: none

move helper func BTCWithdraw to a bitcoin runner method
  cmd/zetae2e/local/bitcoin.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_bitcoin_withdraw_rbf.go
  e2e/runner/bitcoin.go
Due: none

add private key length check in conversion
  pkg/contracts/sui/crypto.go
  pkg/contracts/sui/crypto_test.go
Due: pkg

group gateway upgrade test in a sub function
  cmd/zetae2e/local/local.go
  e2e/runner/solana_gateway_upgrade.go
  e2e/runner/sui_gateway_upgrade.go
  e2e/runner/upgrade.go
Due: none

improve naming and add back deleted e2e log print
  e2e/config/config.go
  e2e/runner/runner.go
  e2e/runner/setup_sui.go
  e2e/runner/sui_gateway_upgrade.go
Due: none

fix gosec errors
  e2e/runner/setup_sui.go
  e2e/runner/sui_gateway_upgrade.go
Due: none

move sui client.yaml copying to Dockerfile; improve naming
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/runner/sui_gateway_upgrade.go
Due: none

migration test
  x/observer/migrations/v11/migrate.go
  x/observer/migrations/v11/migrate_test.go
Due: zetacore

output sui gateway upgrade response in JSON format to extract package ID in a reliable way
  cmd/zetae2e/local/local.go
  e2e/runner/solana_gateway_upgrade.go
  e2e/runner/sui_gateway_upgrade.go
  e2e/runner/upgrade.go
Due: none

fix gosec G306 error
  e2e/runner/sui_gateway_upgrade.go
Due: none

uncomment previously commented tests during development
  cmd/zetae2e/local/local.go
Due: none

feat(ton): add compliance checks for inbounds (#3864)
  changelog.md
  cmd/zetaclientd-supervisor/lib.go
  cmd/zetaclientd-supervisor/main.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/tss_migration.go
  contrib/localnet/scripts/start-zetaclientd.sh
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_ton_deposit_restricted_address.go
  e2e/runner/ton.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/inbound_test.go
  zetaclient/chains/ton/observer/observer_test.go
  zetaclient/compliance/compliance.go
Due: zetaclient

mocks: unify TON client & gateway account id
  zetaclient/chains/ton/observer/observer.go
  zetaclient/chains/ton/observer/observer_test.go
  zetaclient/chains/ton/observer/outbound_test.go
  zetaclient/chains/ton/signer/signer_test.go
  zetaclient/testutils/constant.go
  zetaclient/testutils/mocks/ton_gen.go
  zetaclient/testutils/mocks/ton_liteclient.go
  zetaclient/testutils/mocks/ton_signerliteclient.go
Due: zetaclient

Enable TON bootstrap test case
  zetaclient/orchestrator/v2_bootstrap.go
  zetaclient/orchestrator/v2_bootstrap_test.go
Due: zetaclient

minor code-style improvement
  zetaclient/orchestrator/contextupdater_test.go
  zetaclient/orchestrator/v2_bootstrap_test.go
  zetaclient/orchestrator/v2_orchestrator_test.go
Due: zetaclient

Drop V2 prefix
  cmd/zetaclientd/start.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/bootstrap_test.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/orchestrator_test.go
Due: zetaclient

add changelog
  app/app_test.go
  changelog.md
  x/observer/keeper/migrator.go
  x/observer/migrations/v11/migrate.go
  x/observer/migrations/v11/migrate_test.go
Due: zetacore

Fix codegen
  zetaclient/chains/ton/signer/signer.go
  zetaclient/testutils/mocks/ton_liteclient.go
Due: zetaclient

feat(zetaclient): ton client mocks & orchestrator renaming (#3873)
  cmd/zetaclientd/start.go
  zetaclient/chains/ton/observer/observer.go
  zetaclient/chains/ton/observer/observer_test.go
  zetaclient/chains/ton/observer/outbound_test.go
  zetaclient/chains/ton/signer/signer.go
  zetaclient/chains/ton/signer/signer_test.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/bootstrap_test.go
  zetaclient/orchestrator/contextupdater_test.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/orchestrator_test.go
  zetaclient/testutils/constant.go
  zetaclient/testutils/mocks/ton_gen.go
  zetaclient/testutils/mocks/ton_liteclient.go
  zetaclient/testutils/mocks/ton_signerliteclient.go
Due: zetaclient

add more description to README file to explain the sui upgrade package used in e2e test; unify the solana and sui upgrade test assertion style
  e2e/contracts/sui/protocol-contracts-sui-upgrade/README.md
  e2e/runner/solana_gateway_upgrade.go
  e2e/runner/upgrade.go
Due: none

test: add sui gateway upgrade E2E test (#3866)
  changelog.md
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  contrib/localnet/sui/sui_client.yaml
  e2e/config/config.go
  e2e/contracts/sui/gateway.mv
  e2e/contracts/sui/protocol-contracts-sui-upgrade/.gitignore
  e2e/contracts/sui/protocol-contracts-sui-upgrade/Move.toml
  e2e/contracts/sui/protocol-contracts-sui-upgrade/README.md
  e2e/contracts/sui/protocol-contracts-sui-upgrade/sources/evm.move
  e2e/contracts/sui/protocol-contracts-sui-upgrade/sources/gateway.move
  e2e/runner/runner.go
  e2e/runner/setup_sui.go
  e2e/runner/solana_gateway_upgrade.go
  e2e/runner/sui.go
  e2e/runner/sui_gateway_upgrade.go
  e2e/runner/upgrade.go
  pkg/contracts/sui/crypto.go
  pkg/contracts/sui/crypto_test.go
Due: pkg

update package
  go.mod
  go.sum
Due: none

fix upgrade test failure in CI
  cmd/zetae2e/local/bitcoin.go
  e2e/e2etests/e2etests.go
Due: none
