Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

Forward docker pprof in e2e
  contrib/localnet/docker-compose.yml
Due: none

Forward pprof in e2e docker
  cmd/zetaclientd/start.go
  contrib/localnet/docker-compose.yml
Due: none

Simplify VerifySignature
  zetaclient/tss/crypto.go
  zetaclient/tss/keygen.go
  zetaclient/tss/service.go
Due: zetaclient

Fix typo
  cmd/zetaclientd/start.go
Due: none

Fix batch signature verification
  zetaclient/tss/crypto.go
  zetaclient/tss/service.go
  zetaclient/tss/service_test.go
Due: zetaclient

Add readme
  zetaclient/tss/readme.md
Due: none

Fix typo
  cmd/zetaclientd/start.go
  zetaclient/chains/evm/observer/outbound.go
Due: zetaclient

feat: add testnet4 params
  pkg/chains/bitcoin.go
  pkg/chains/bitcoin_test.go
  pkg/chains/bitcoin_testnet4.go
  pkg/chains/chain_test.go
  pkg/crypto/tss_test.go
  x/observer/keeper/grpc_query_tss_test.go
Due: zetacore, pkg

stop e2e test from erroring out if uniswap pair already exists
  e2e/e2etests/test_v2_deposit_and_call_swap.go
Due: none

more fixes
  pkg/chains/chain.go
  pkg/chains/chain_test.go
Due: pkg

print error for pair exists revert
  e2e/e2etests/test_crosschain_swap.go
  e2e/e2etests/test_v2_deposit_and_call_swap.go
  e2e/e2etests/test_zrc20_swap.go
Due: none

match pending revert for v21 dtc dust amount withdraw
  e2e/e2etests/test_bitcoin_deposit_and_call_revert_with_dust.go
  e2e/utils/zetacore.go
Due: none

remove dust withdraw from v21 previous version tests
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/e2etests/test_bitcoin_deposit_and_call_revert_with_dust.go
  e2e/utils/zetacore.go
Due: none

remove dust withdraw from v21 previous version tests
  e2e/utils/zetacore.go
Due: none

add comment for v23
  contrib/localnet/orchestrator/start-zetae2e.sh
Due: none

adjust code format
  e2e/e2etests/test_bitcoin_deposit_and_call_revert_with_dust.go
Due: none

move ValidateBasic checking right before posting the vote msg
  testutil/sample/crosschain.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/logs/fields.go
Due: zetaclient

chore: use jsdelivr for swagger css/js
  docs/openapi/openapi.html
Due: none

make generate
  cmd/zetae2e/local/local.go
Due: none

revert skip btc dust
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
Due: none

remove flag name
  cmd/zetae2e/local/local.go
Due: none

newline
  cmd/zetae2e/local/local.go
Due: none

lint
  cmd/zetae2e/local/local.go
Due: none

test: fix upgrade tests (#3196)
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/e2etests/test_bitcoin_deposit_and_call_revert_with_dust.go
  e2e/e2etests/test_crosschain_swap.go
  e2e/e2etests/test_v2_deposit_and_call_swap.go
  e2e/e2etests/test_zrc20_swap.go
Due: none

fix: fix Bitcoin incorrect 'origin' in zContext caused by revertAddress option (#3192)
  changelog.md
  e2e/e2etests/test_bitcoin_std_deposit_and_call_revert_other_address.go
  testutil/sample/crosschain.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/revert_options.go
  x/crosschain/types/revert_options_test.go
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/bitcoin/observer/event_test.go
Due: zetacore, zetaclient

test: `e2e` add withdraw emissions (#3151)
  changelog.md
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetacored.sh
  e2e/config/config.go
  e2e/runner/emissions.go
  e2e/runner/runner.go
  e2e/runner/setup_zeta.go
  e2e/txserver/zeta_tx_server.go
  e2e/utils/zetacore.go
  pkg/rpc/clients.go
Due: pkg

disable precompile
  precompiles/precompiles.go
Due: none

disable tests
  cmd/zetae2e/local/local.go
Due: none

Fix typos in healthcheck
  zetaclient/tss/healthcheck.go
Due: zetaclient

Address PR comments [1]
  zetaclient/tss/setup.go
Due: zetaclient

docs: changelog for v23 (#3190)
  changelog.md
Due: none

Address PR comments [2]
  zetaclient/chains/bitcoin/signer/signer_test.go
Due: zetaclient

Address PR comments [3] (improve errors clarity)
  zetaclient/tss/crypto.go
  zetaclient/tss/service.go
Due: zetaclient

chore: use jsdelivr for swagger css/js (#3197)
  docs/openapi/openapi.html
Due: none

Address PR comments [4]
  changelog.md
  zetaclient/metrics/metrics.go
  zetaclient/tss/config.go
  zetaclient/tss/keygen.go
  zetaclient/tss/setup.go
Due: zetaclient

Remove redundant methods from app context
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/context/app.go
  zetaclient/context/app_test.go
  zetaclient/orchestrator/bootstap_test.go
  zetaclient/orchestrator/contextupdater.go
  zetaclient/orchestrator/contextupdater_test.go
  zetaclient/orchestrator/orchestrator_test.go
Due: zetaclient

Address PR comments [5]
  pkg/cosmos/cosmos.go
  zetaclient/tss/crypto.go
Due: zetaclient, pkg

increase erc20 values
  cmd/zetae2e/local/erc20.go
  e2e/runner/evm.go
Due: none

consolidate function call
  e2e/e2etests/test_erc20_deposit_refund.go
  e2e/runner/liquidity.go
Due: none

lint
  e2e/e2etests/test_erc20_deposit_refund.go
  e2e/runner/liquidity.go
Due: none
