Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

feat(`fungible`): add a message to burn funds in the fungible module (#4063)
  changelog.md
  cmd/zetae2e/local/local.go
  docs/openapi/openapi.swagger.yaml
  docs/spec/generated.md
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_burn_fungible_module_asset.go
  e2e/txserver/bank.go
  proto/zetachain/zetacore/fungible/tx.proto
  testutil/keeper/mocks/fungible/bank.go
  typescript/zetachain/zetacore/fungible/tx_pb.ts
  x/authority/keeper/migrator.go
  x/authority/migrations/v4/migrate.go
  x/authority/migrations/v4/migrate_test.go
  x/authority/module.go
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
  x/fungible/keeper/msg_server_burn_fungible_module_asset.go
  x/fungible/keeper/msg_server_burn_fungible_module_asset_test.go
  x/fungible/types/codec.go
  x/fungible/types/errors.go
  x/fungible/types/expected_keepers.go
  x/fungible/types/message_burn_fungible_module_asset.go
  x/fungible/types/message_burn_fungible_module_asset_test.go
  x/fungible/types/tx.pb.go
Due: zetacore

test(`e2e`): add e2e test to check withdraw with custom gas limit (#4058)
  cmd/zetae2e/local/evm.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_eth_withdraw_custom_gas_limit.go
  e2e/e2etests/test_sui_withdraw_restricted_address.go
  e2e/runner/bitcoin.go
  e2e/runner/solana.go
  e2e/runner/sui.go
  e2e/runner/ton.go
  e2e/runner/zevm.go
  go.mod
  go.sum
Due: none

disable sui authenticated call temporarily and wait for gateway upgrade
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  e2e/contracts/sui/bin/bin.go
  e2e/contracts/sui/bin/connected_legacy.mv
  e2e/contracts/sui/bin/gateway_legacy.mv
  e2e/contracts/sui/bin/token_legacy.mv
  e2e/contracts/sui/protocol-contracts-sui-upgrade-legacy/.gitignore
  e2e/contracts/sui/protocol-contracts-sui-upgrade-legacy/Move.toml
  e2e/contracts/sui/protocol-contracts-sui-upgrade-legacy/README.md
  e2e/contracts/sui/protocol-contracts-sui-upgrade-legacy/sources/evm.move
  e2e/contracts/sui/protocol-contracts-sui-upgrade-legacy/sources/gateway.move
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_sui_token_withdraw_and_call_legacy.go
  e2e/e2etests/test_sui_token_withdraw_and_call_revert_with_call_legacy.go
  e2e/e2etests/test_sui_withdraw_and_call_legacy.go
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call_legacy.go
  e2e/runner/setup_sui.go
  e2e/runner/sui.go
  pkg/contracts/sui/errors.go
  pkg/contracts/sui/errors_test.go
  pkg/contracts/sui/withdraw_and_call.go
  pkg/contracts/sui/withdraw_and_call_test.go
  zetaclient/chains/sui/signer/signer_test.go
  zetaclient/chains/sui/signer/signer_tx.go
  zetaclient/chains/sui/signer/tss_owned_object.go
  zetaclient/chains/sui/signer/withdraw_and_call.go
  zetaclient/chains/sui/signer/withdraw_and_call_test.go
Due: zetaclient, pkg

add changelog and TODO comment
  changelog.md
  zetaclient/chains/sui/signer/signer_tx.go
Due: zetaclient

Revert "uncomment sui"
  Makefile
Due: none

Revert "tmp sui fix"
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  e2e/contracts/sui/protocol-contracts-sui-upgrade/Move-old.toml
  e2e/contracts/sui/protocol-contracts-sui-upgrade/sources/gateway-old.move
Due: none

add unit test and live test for zetacore hostname support
  cmd/zetaclientd/initconfig.go
  cmd/zetaclientd/start.go
  contrib/localnet/scripts/start-zetaclientd.sh
  zetaclient/config/types.go
  zetaclient/config/types_test.go
  zetaclient/zetacore/client_test.go
Due: zetaclient

generate
  cmd/zetae2e/local/local.go
  e2e/runner/runner.go
  e2e/runner/upgrade.go
  e2e/runner/v33.0.0_upgrade.go
Due: none

PR comments
  cmd/zetae2e/local/config.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/e2etests/test_zeta_deposit.go
  e2e/runner/setup_evm.go
  e2e/runner/setup_zevm.go
  e2e/runner/v33.0.0_upgrade.go
Due: none

fix renaming
  cmd/zetae2e/local/local.go
Due: none

add changelog entry; fix gosec and clean unused code
  changelog.md
  zetaclient/config/types.go
  zetaclient/zetacore/client_test.go
Due: zetaclient

change to AddPostUpgradeHandler
  cmd/zetae2e/local/local.go
  e2e/runner/upgrade.go
Due: none

rename file to upgrade_v33.go
  e2e/runner/upgrade_v33.go
Due: none

remove support for v1 revert address for BTC
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
Due: zetacore

add changelog
  changelog.md
Due: none

fixing zetacored docs with chain id
  cmd/zetacored/docs.go
  cmd/zetacored/root.go
  docs/cli/zetacored/cli.md
  scripts/gen-docs-zetacored.sh
Due: none

remove file export_private_functions_test.go
  x/fungible/keeper/deposits.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/export_private_functions_test.go
  x/fungible/keeper/zeta.go
Due: zetacore

fix: disable sui authenticated call temporarily until gateway upgrade (#4067)
  changelog.md
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  e2e/contracts/sui/bin/bin.go
  e2e/contracts/sui/bin/connected_legacy.mv
  e2e/contracts/sui/bin/gateway_legacy.mv
  e2e/contracts/sui/bin/token_legacy.mv
  e2e/contracts/sui/protocol-contracts-sui-upgrade-legacy/.gitignore
  e2e/contracts/sui/protocol-contracts-sui-upgrade-legacy/Move.toml
  e2e/contracts/sui/protocol-contracts-sui-upgrade-legacy/README.md
  e2e/contracts/sui/protocol-contracts-sui-upgrade-legacy/sources/evm.move
  e2e/contracts/sui/protocol-contracts-sui-upgrade-legacy/sources/gateway.move
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_sui_token_withdraw_and_call_legacy.go
  e2e/e2etests/test_sui_token_withdraw_and_call_revert_with_call_legacy.go
  e2e/e2etests/test_sui_withdraw_and_call_legacy.go
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call_legacy.go
  e2e/runner/setup_sui.go
  e2e/runner/sui.go
  pkg/contracts/sui/errors.go
  pkg/contracts/sui/errors_test.go
  pkg/contracts/sui/withdraw_and_call.go
  pkg/contracts/sui/withdraw_and_call_test.go
  zetaclient/chains/sui/signer/signer_test.go
  zetaclient/chains/sui/signer/signer_tx.go
  zetaclient/chains/sui/signer/tss_owned_object.go
  zetaclient/chains/sui/signer/withdraw_and_call.go
  zetaclient/chains/sui/signer/withdraw_and_call_test.go
Due: zetaclient, pkg

Revert "fixing zetacored docs with chain id"
  cmd/zetacored/docs.go
  cmd/zetacored/root.go
  docs/cli/zetacored/cli.md
  scripts/gen-docs-zetacored.sh
Due: none

uncomment sui in upgrade tests
  Makefile
Due: none

fix issues after merge
  e2e/e2etests/test_sui_token_withdraw_and_call_legacy.go
  e2e/e2etests/test_sui_token_withdraw_and_call_revert_with_call_legacy.go
  e2e/e2etests/test_sui_withdraw_and_call_legacy.go
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call_legacy.go
Due: none

update admin
  cmd/zetae2e/local/admin.go
  cmd/zetae2e/local/legacy.go
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/e2etests/test_update_bytecode_connector.go
  e2e/runner/evm.go
  e2e/runner/legacy_zevm.go
  e2e/runner/zevm.go
Due: none

sui upgrade tests fixes
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/sui.go
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  e2e/contracts/sui/protocol-contracts-sui-upgrade-legacy/Move.toml
  e2e/runner/setup_sui.go
Due: none

fix upgrade tests light and linter
  Makefile
  e2e/runner/upgrade_v33.go
Due: none

linter
  e2e/e2etests/helpers.go
  e2e/runner/upgrade.go
Due: none

fix(cosmos-evm): upgrade tests (#4062)
  Makefile
  cmd/zetae2e/local/config.go
  cmd/zetae2e/local/evm.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/sui.go
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/contracts/sui/protocol-contracts-sui-upgrade-legacy/Move.toml
  e2e/e2etests/helpers.go
  e2e/e2etests/test_zeta_deposit.go
  e2e/runner/runner.go
  e2e/runner/setup_evm.go
  e2e/runner/setup_sui.go
  e2e/runner/setup_zevm.go
  e2e/runner/upgrade.go
  e2e/runner/upgrade_v33.go
Due: none

fix: ratelimiting race condition vuln
  zetaclient/tss/ratelimit/ratelimit.go
  zetaclient/tss/ratelimit/ratelimit_test.go
Due: zetaclient

fix: ratelimiting race condition vuln
  changelog.md
Due: none

fix: correct atomic implementation to prevent underflow
  zetaclient/tss/ratelimit/ratelimit.go
  zetaclient/tss/ratelimit/ratelimit_test.go
Due: zetaclient

refactor: simplify rate limiter Release() implementation
  zetaclient/tss/ratelimit/ratelimit.go
Due: zetaclient

fix: correct order of operations in rate limiter Release()
  zetaclient/tss/ratelimit/ratelimit.go
Due: zetaclient

add function comment
  e2e/e2etests/test_opcodes.go
Due: none

admin test failure investigation
  e2e/runner/accounting.go
Due: none

PR comments
  cmd/zetacored/config/activators.go
  cmd/zetacored/config/chain_id.go
  cmd/zetacored/config/config.go
  cmd/zetae2e/local/config.go
  cmd/zetae2e/local/local.go
  e2e/runner/logger.go
  simulation/simulation.go
Due: none

fix admin upgrade tests
  Makefile
Due: none

latest cosmos evm changes wip
  app/ante/interfaces.go
  app/app.go
  contrib/rpcimportable/go.mod
  go.mod
  go.sum
  testutil/keeper/keeper.go
  testutil/keeper/mocks/fungible/evm.go
  x/fungible/keeper/evm.go
  x/fungible/types/expected_keepers.go
Due: zetacore

bump
  contrib/rpcimportable/go.mod
  go.mod
  go.sum
Due: none

add opcode contract
  e2e/contracts/opcode/Opcode.abi
  e2e/contracts/opcode/Opcode.bin
  e2e/contracts/opcode/Opcode.go
  e2e/contracts/opcode/Opcode.json
  e2e/contracts/opcode/Opcode.sol
  e2e/contracts/opcode/bindings.go
Due: none

add tests
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_opcodes.go
Due: none

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
