Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      common:
        if_ci_failed: error
        target: 60%
        flags:
          - common

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    carryforward: true
    paths:
      - "x/"
  zetaclient:
    carryforward: true
    paths:
      - "zetaclient/"
  common:
    carryforward: true
    paths:
      - "common/"

ignore:
  - "x/**/client/"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - "*.pb.gw.go"
  - "*.json"
  - ".github/"
  - "app/"
  - "cmd/"
  - "contrib/"
  - "docs/"
  - "rpc/"
  - "proto/"
  - "scripts/"
  - "server/"
  - "testutil/"
  - "typescript/"

chore: use v18 in upgrade tests (#2537)
  Makefile
Due: none

add background threads
  cmd/zetaclientd-supervisor/lib.go
  cmd/zetaclientd-supervisor/main.go
  cmd/zetaclientd/start.go
  contrib/localnet/docker-compose.yml
  pkg/bg/bg.go
  zetaclient/context/app.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/zetacore/background_threads.go
  zetaclient/zetacore/client_query_observer.go
Due: zetaclient

make SOL withdraw e2e test passing
  cmd/zetae2e/local/local.go
  contrib/localnet/docker-compose.yml
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetacored.sh
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_solana_deposit.go
  e2e/e2etests/test_solana_withdraw.go
  e2e/runner/setup_solana.go
  pkg/contract/solana/types.go
  x/observer/types/chain_params.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/solana/observer/gas_price.go
  zetaclient/chains/solana/observer/observer.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/orchestrator/orchestrator.go
Due: zetacore, zetaclient

add cancel for child context
  Makefile
  cmd/zetaclientd/start.go
  zetaclient/zetacore/background_threads.go
Due: zetaclient

add comments
  Makefile
  cmd/zetaclientd-supervisor/lib.go
  cmd/zetaclientd/start.go
  pkg/bg/bg.go
  zetaclient/zetacore/background_threads.go
Due: zetaclient

remove commented code
  cmd/zetaclientd-supervisor/lib.go
  cmd/zetaclientd-supervisor/main.go
  cmd/zetaclientd/start.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/zetacore/background_threads.go
  zetaclient/zetacore/client_query_observer.go
Due: zetaclient

add default constant backoff
  pkg/retry/retry.go
  zetaclient/zetacore/background_threads.go
Due: zetaclient

generate files
  cmd/zetaclientd/start.go
  zetaclient/zetacore/background_threads.go
Due: zetaclient

Update zetaclient/chains/bitcoin/tx_script.go
  zetaclient/chains/bitcoin/tx_script.go
Due: zetaclient

add additional tags for identification on nightly performance test runs
  .github/actions/performance-tests/art.yaml
  .github/workflows/ci-nightly-performance-testing.yaml
Due: none

fix(`e2e`): remove hardcoded value for approval in withdrawal tests (#2527)
  e2e/e2etests/test_erc20_withdraw.go
  e2e/e2etests/test_eth_withdraw.go
  e2e/e2etests/test_eth_withdraw_restricted_address.go
Due: none

Add `IncreaseUintByPercent`
  pkg/math/cosmos_uint.go
  pkg/math/cosmos_uint_test.go
Due: none

add name field
  pkg/chains/chains.go
  pkg/chains/chains.pb.go
  pkg/chains/chains_test.go
  proto/zetachain/zetacore/pkg/chains/chains.proto
Due: none

chain name read
  pkg/chains/chain.go
  testutil/keeper/crosschain.go
  x/crosschain/keeper/cctx_utils.go
  x/crosschain/keeper/msg_server_update_tss_test.go
  x/crosschain/migrations/v5/migrate.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/context/app.go
  zetaclient/metrics/telemetry.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/zetacore/client_query_test.go
  zetaclient/zetacore/tx_test.go
Due: zetacore, zetaclient

write
  pkg/chains/chain_test.go
  testutil/sample/sample.go
  testutil/testdata/types/chain_info.json
  x/authority/client/cli/tx_update_chain_info_test.go
  x/authority/types/chain_info_test.go
  x/authority/types/genesis_test.go
  x/authority/types/message_update_chain_info_test.go
  x/crosschain/keeper/cctx_utils_test.go
  x/fungible/keeper/grpc_query_gas_stability_pool_test.go
  zetaclient/context/app_test.go
  zetaclient/zetacore/client_query_test.go
  zetaclient/zetacore/tx_test.go
Due: zetacore, zetaclient

format
  docs/openapi/openapi.swagger.yaml
  typescript/zetachain/zetacore/pkg/chains/chains_pb.d.ts
Due: none

fix unit test
  pkg/chains/chain.go
  pkg/chains/chain_test.go
Due: none

breaking change note
  docs/releases/v19_breaking_changes.md
  docs/releases/v19_observer_migration.md
Due: none

changelogs
  changelog.md
Due: none

change authorization
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
Due: zetacore

Bump priorityFee when needed
  pkg/math/cosmos_uint_test.go
  x/crosschain/keeper/abci.go
  x/crosschain/keeper/abci_test.go
  x/crosschain/keeper/gas_payment.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
  x/crosschain/types/outbound_params.go
Due: zetacore

fix db path error
  zetaclient/orchestrator/bootstrap.go
Due: zetaclient

goimports
  zetaclient/orchestrator/bootstrap.go
Due: zetaclient

fix permissions
  e2e/e2etests/test_migrate_chain_support.go
  e2e/runner/setup_zeta.go
Due: none

resolve comments 1
  cmd/zetaclientd-supervisor/main.go
  cmd/zetaclientd/start.go
  pkg/bg/bg.go
  zetaclient/zetacore/client_tss_migration_listners.go
Due: zetaclient

resolve comments 1
  cmd/zetaclientd/start.go
Due: none

fix test permissions
  e2e/runner/setup_zeta.go
  e2e/txserver/zeta_tx_server.go
Due: none

chore(zetaclient): rename zetacoreContext
  cmd/zetaclientd/start.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/context/app.go
  zetaclient/context/app_test.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/orchestrator_test.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/client_worker.go
  zetaclient/zetacore/tx_test.go
Due: zetaclient

comments
  x/crosschain/keeper/cctx_utils.go
  zetaclient/chains/bitcoin/observer/inbound.go
Due: zetacore, zetaclient

refactor addresses
  e2e/runner/setup_zeta.go
  e2e/txserver/zeta_tx_server.go
Due: none

chore(zetaclient): rename zetacoreContext (#2543)
  cmd/zetaclientd/start.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/context/app.go
  zetaclient/context/app_test.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/orchestrator_test.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/client_worker.go
  zetaclient/zetacore/tx_test.go
Due: zetaclient

resolve comments 2
  cmd/zetaclientd-supervisor/main.go
Due: none

Fix typo
  zetaclient/chains/evm/observer/observer_gas.go
Due: zetaclient

add additional tags for identification on nightly performance test runs (#2539)
  .github/actions/performance-tests/art.yaml
  .github/workflows/ci-nightly-performance-testing.yaml
Due: none

check solana minimum rent exempt and also added receiver address validation
  pkg/constant/constant.go
  testutil/sample/crosschain.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/evm_hooks_test.go
Due: zetacore

rename to callback to clarify terminiology
  pkg/bg/bg.go
  zetaclient/zetacore/client_tss_migration_listners.go
Due: zetaclient

fix mainnet import timeout
  .github/workflows/e2e.yml
Due: none

fix(e2e): improve upgrade version logic
  contrib/localnet/orchestrator/start-zetae2e.sh
Due: none
