Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

improve comments; print elapsed time if preflight check failed
  zetaclient/orchestrator/preflight_metrics_reporter.go
  zetaclient/orchestrator/v2_orchestrator.go
Due: zetaclient

Update x/observer/client/cli/tx_update_gas_price_increase_flags.go
  x/observer/client/cli/tx_update_gas_price_increase_flags.go
Due: none

Delete rc-release workflow
  .github/workflows/rc-release.yml
Due: none

chore: Delete rc-release workflow (#3727)
  .github/workflows/rc-release.yml
Due: none

fix: add improve check for gas limit patch
  zetaclient/chains/evm/signer/gas.go
Due: zetaclient

fix: add improve check for gas limit patch (#3732)
  zetaclient/chains/evm/signer/gas.go
Due: zetaclient

add additional check
  zetaclient/chains/evm/signer/gas.go
Due: zetaclient

fix: fix solana withdraw and call outbounds (#3717) (#3729)
  changelog.md
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient

add the reason for priority fee validation in message MsgVoteGasPrice
  x/crosschain/types/message_vote_gas_price.go
Due: zetacore

set priority fee as a signal even if additional fees is not needed
  x/crosschain/keeper/abci.go
  x/crosschain/keeper/abci_test.go
Due: zetacore

Update zetaclient/chains/evm/signer/gas.go
  zetaclient/chains/evm/signer/gas.go
Due: zetaclient

fix(v28): improve the check for the gas limit patch (#3733)
  zetaclient/chains/evm/signer/gas.go
Due: zetaclient

improve logging
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient

update constant identifier to consensusVersion
  x/authority/keeper/migrator.go
  x/authority/module.go
  x/crosschain/keeper/migrator.go
  x/crosschain/module.go
  x/emissions/keeper/migrator.go
  x/emissions/module.go
  x/fungible/module.go
  x/observer/keeper/migrator.go
  x/observer/module.go
Due: none

add new field to cctx structure to track user gas burned
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  proto/zetachain/zetacore/observer/params.proto
  x/crosschain/keeper/cctx_gateway_observers.go
  x/crosschain/keeper/cctx_test.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/gas_payment.go
  x/crosschain/keeper/initiate_outbound.go
  x/crosschain/keeper/msg_server_vote_inbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/v2_zevm_inbound.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/errors.go
  x/crosschain/types/expected_keepers.go
  x/crosschain/types/inbound_parsing.go
  x/crosschain/types/should_pay_gas.go
  x/fungible/keeper/gas_stability_pool.go
  x/observer/types/params.pb.go
Due: zetacore

revert a few renamings because we will continue to use one single BTC gas price multiplier
  pkg/math/integer.go
  zetaclient/chains/bitcoin/client/client_test.go
  zetaclient/chains/bitcoin/common/fee.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/witness_test.go
  zetaclient/common/constant.go
  zetaclient/zetacore/client_vote.go
  zetaclient/zetacore/tx.go
  zetaclient/zetacore/tx_test.go
Due: zetaclient, pkg

refactor: improve cctx error message for out of gas errrors when creating outbound (#3709)
  changelog.md
  x/crosschain/keeper/cctx_utils.go
  x/crosschain/keeper/gas_payment.go
  x/crosschain/keeper/gas_payment_test.go
  x/crosschain/types/keys.go
Due: zetacore

fix: add min gas limit for non-gas outbound transactions (develop rebase) (#3726)
  zetaclient/chains/evm/signer/gas.go
Due: zetaclient

refactor: remove historical migration scripts (#3701)
  x/authority/keeper/migrator.go
  x/authority/migrations/v2/migrate.go
  x/authority/migrations/v2/migrate_test.go
  x/authority/module.go
  x/crosschain/keeper/migrator.go
  x/crosschain/migrations/v2/legacytypes.go
  x/crosschain/migrations/v2/migrate.go
  x/crosschain/migrations/v3/migrate.go
  x/crosschain/migrations/v4/migrate.go
  x/crosschain/migrations/v4/migrate_test.go
  x/crosschain/module.go
  x/emissions/keeper/migrator.go
  x/emissions/migrations/v4/migrate.go
  x/emissions/migrations/v4/migrate_test.go
  x/emissions/module.go
  x/fungible/module.go
  x/observer/keeper/migrator.go
  x/observer/migrations/v8/migrate.go
  x/observer/migrations/v8/migrate_test.go
  x/observer/migrations/v9/migrate.go
  x/observer/migrations/v9/migrate_test.go
  x/observer/module.go
Due: zetacore

update binary
  e2e/contracts/sui/evm.mv
Due: none

chore: update sui contract in e2e test to include evm address check (#3707)
  e2e/contracts/sui/bin.go
  e2e/contracts/sui/evm.mv
  e2e/contracts/sui/gateway.mv
  e2e/runner/setup_sui.go
Due: none

refactor: set `sender` and `senderEVM` in Message context (#3700)
  changelog.md
  e2e/contracts/example/Example.abi
  e2e/contracts/example/Example.bin
  e2e/contracts/example/Example.go
  e2e/contracts/example/Example.json
  e2e/contracts/example/Example.sol
  e2e/contracts/testdappv2/TestDAppV2.abi
  e2e/contracts/testdappv2/TestDAppV2.bin
  e2e/contracts/testdappv2/TestDAppV2.go
  e2e/contracts/testdappv2/TestDAppV2.json
  e2e/contracts/testdappv2/TestDAppV2.sol
  e2e/e2etests/e2etests.go
  e2e/e2etests/legacy/test_eth_deposit_call.go
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call.go
  e2e/e2etests/test_bitcoin_std_memo_inscribed_deposit_and_call.go
  e2e/e2etests/test_solana_deposit_call.go
  e2e/e2etests/test_spl_deposit_and_call.go
  e2e/e2etests/test_sui_deposit_and_call.go
  e2e/e2etests/test_ton_deposit_and_call.go
  e2e/runner/bitcoin.go
  e2e/utils/contracts.go
  go.mod
  go.sum
  x/fungible/keeper/deposits.go
  x/fungible/keeper/evm_gateway.go
Due: zetacore

add changelog entry
  changelog.md
Due: none

feat(zetaclient): preflight RPC health metrics before fully enabling a chain (#3710)
  changelog.md
  zetaclient/chains/base/observer.go
  zetaclient/chains/bitcoin/client/client_test.go
  zetaclient/chains/bitcoin/client/helpers.go
  zetaclient/chains/bitcoin/client/mockgen.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/rpc_status.go
  zetaclient/chains/bitcoin/observer/utxos.go
  zetaclient/chains/evm/client/client.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/solana/observer/observer.go
  zetaclient/chains/solana/rpc/rpc.go
  zetaclient/chains/solana/rpc/rpc_live_test.go
  zetaclient/chains/sui/observer/observer.go
  zetaclient/chains/ton/liteapi/client.go
  zetaclient/chains/ton/liteapi/client_live_test.go
  zetaclient/chains/ton/observer/observer.go
  zetaclient/metrics/metrics.go
  zetaclient/metrics/telemetry.go
  zetaclient/orchestrator/preflight_metrics_reporter.go
  zetaclient/orchestrator/v2_orchestrator.go
  zetaclient/testutils/mocks/bitcoin_client.go
  zetaclient/testutils/mocks/ton_liteclient.go
Due: zetaclient

fix SUI balance and show SUI zrc20
  e2e/runner/balances.go
Due: none

fix file format
  e2e/runner/balances.go
Due: none

chore: upload zetae2e build
  .github/workflows/ci.yml
Due: none

chore: upload zetae2e build (#3735)
  .github/workflows/ci.yml
Due: none

bump add outbound tracker gas limit
  zetaclient/zetacore/constant.go
Due: zetaclient

bump correct const
  zetaclient/zetacore/constant.go
Due: zetaclient

e2e: Print SUI USDC token balance on SUI
  e2e/runner/balances.go
Due: none

e2e: print USDC.SUI ZRC20 token balance
  e2e/runner/balances.go
Due: none

chore: tune zetae2e run
  cmd/zetae2e/main.go
  cmd/zetae2e/run.go
Due: none

remove the method OutboundFeeRateFromCCTXRate; add additional field in OutboundData to handle fee bumping
  zetaclient/chains/bitcoin/client/helpers.go
  zetaclient/chains/bitcoin/client/mockgen.go
  zetaclient/chains/bitcoin/common/fee.go
  zetaclient/chains/bitcoin/common/fee_test.go
  zetaclient/chains/bitcoin/signer/outbound_data.go
  zetaclient/chains/bitcoin/signer/outbound_data_test.go
  zetaclient/chains/bitcoin/signer/sign_rbf.go
  zetaclient/chains/bitcoin/signer/sign_rbf_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/testutils/mocks/bitcoin_client.go
Due: zetaclient

Update cmd/zetae2e/run.go
  cmd/zetae2e/run.go
Due: none

add unit tests
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/observer/params.proto
  testutil/keeper/mocks/crosschain/fungible.go
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.d.ts
  typescript/zetachain/zetacore/observer/params_pb.d.ts
  x/crosschain/keeper/cctx_gateway_observers.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/crosschain/types/inbound_parsing.go
  x/crosschain/types/should_pay_gas.go
  x/fungible/keeper/gas_stability_pool.go
  x/observer/types/params.pb.go
Due: zetacore

adjust fee bumper to use new fee rate fed by zetacore
  zetaclient/chains/bitcoin/signer/fee_bumper.go
  zetaclient/chains/bitcoin/signer/fee_bumper_test.go
  zetaclient/chains/bitcoin/signer/sign_rbf_test.go
Due: zetaclient

fix lint
  e2e/runner/balances.go
Due: none

Add support for retrieveing and displaying TON balances
  e2e/runner/balances.go
Due: none
