Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

add changelog
  Makefile
  changelog.md
  contrib/localnet/scripts/start-zetaclientd.sh
  setup-local-zetaclient.sh
Due: none

Fix job name to fix dependency graph
  .github/workflows/publish-release-legacy.yml
Due: none

add changelog
  Makefile
  contrib/localnet/scripts_python/download_snapshot.py
  contrib/localnet/scripts_python/start-zetaclient-dry.py
Due: none

update comments
  contrib/localnet/scripts_python/download_snapshot.py
Due: none

update puthon scripts to use toml files directly
  Dockerfile-localnet
  contrib/localnet/scripts_python/download_snapshot.py
  contrib/localnet/scripts_python/start-zetaclient-dry.py
  contrib/localnet/scripts_python/start-zetacored-livenode.py
Due: none

test: add new chaos mode profiles (#4440)
  Makefile
  changelog.md
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/test_runner.go
  cmd/zetae2e/local/timeouts.go
  contrib/localnet/chaosprofiles/profile2.json
  contrib/localnet/chaosprofiles/profile3.json
  contrib/localnet/chaosprofiles/profile4.json
  contrib/localnet/chaosprofiles/profile5.json
  contrib/localnet/chaosprofiles/profile6.json
  contrib/localnet/chaosprofiles/profile7.json
  contrib/localnet/chaosprofiles/profile8.json
  contrib/localnet/chaosprofiles/profile9.json
  e2e/utils/zetacore.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/solana/signer/execute.go
  zetaclient/chains/zrepo/client.go
  zetaclient/mode/chaos/chaos.go
  zetaclient/mode/chaos/generate/sample.json
  zetaclient/mode/chaos/generated.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/testutils/mocks/zetacore.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/client_monitor.go
Due: zetaclient

simplify logic in scripts
  contrib/localnet/scripts_python/start-zetaclient-dry.py
  contrib/localnet/scripts_python/start-zetacored-livenode.py
Due: none

docs: update protocol contracts EVM link in readme
  readme.md
Due: none

fix: fix Sui example deployment by removing gateway object reference (#4414)
  changelog.md
  e2e/contracts/sui/example/sources/example.move
  zetaclient/chains/sui/signer/withdraw_and_call.go
Due: zetaclient

loop directly on nonce range other than on map
  zetaclient/chains/base/signer_batch_sign.go
Due: zetaclient

simplify logic in scripts
  contrib/localnet/scripts_python/download_snapshot.py
  contrib/localnet/scripts_python/start-zetaclient-dry.py
  contrib/localnet/scripts_python/start-zetacored-livenode.py
Due: none

split func PrepareForKeysign into two separate method, one for reading one for writing
  zetaclient/chains/base/signer_batch_sign.go
  zetaclient/chains/base/signer_batch_sign_test.go
  zetaclient/chains/evm/evm.go
Due: zetaclient

add live test to show top-20 UTXO balance
  zetaclient/chains/bitcoin/client/client_test.go
Due: zetaclient

add changelog entry
  changelog.md
Due: none

migrate btc funds twice
  contrib/localnet/docker-compose.yml
  e2e/e2etests/test_migrate_tss.go
Due: none

feat: a sequential batch TSS keysign scheduler for EVM chain (#4427)
  changelog.md
  cmd/zetae2e/local/performance.go
  pkg/math/pairing.go
  pkg/math/pairing_test.go
  pkg/scheduler/context.go
  pkg/scheduler/tickers.go
  testutil/sample/crypto.go
  zetaclient/chains/base/signer.go
  zetaclient/chains/base/signer_batch_info.go
  zetaclient/chains/base/signer_batch_info_test.go
  zetaclient/chains/base/signer_batch_sign.go
  zetaclient/chains/base/signer_batch_sign_test.go
  zetaclient/chains/base/signer_test.go
  zetaclient/chains/evm/evm.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/signer/outbound_data.go
  zetaclient/chains/evm/signer/outbound_data_test.go
  zetaclient/chains/evm/signer/sign.go
  zetaclient/chains/evm/signer/sign_test.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_admin.go
  zetaclient/chains/evm/signer/signer_admin_test.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/chains/evm/signer/v2_sign.go
  zetaclient/chains/evm/signer/v2_signer.go
  zetaclient/chains/tssrepo/client.go
  zetaclient/chains/zrepo/client.go
  zetaclient/chains/zrepo/zrepo.go
  zetaclient/dry/dry.go
  zetaclient/metrics/metrics.go
  zetaclient/mode/chaos/generate/sample.json
  zetaclient/mode/chaos/generated.go
  zetaclient/testutils/mocks/tss.go
  zetaclient/testutils/mocks/zetacore.go
  zetaclient/tss/service.go
  zetaclient/tss/service_test.go
Due: zetaclient, pkg

refactor: remove obsolete // +build tag
  rpc/namespaces/ethereum/debug/trace_fallback.go
Due: none

refactor: omit unnecessary reassignment (#4447)
  e2e/e2etests/legacy/test_rate_limiter.go
  e2e/e2etests/test_stress_sui_deposit.go
  e2e/e2etests/test_stress_sui_withdraw.go
  e2e/utils/zetacore.go
  pkg/chains/chain_test.go
  pkg/os/path_test.go
  x/crosschain/genesis.go
  x/crosschain/keeper/abci_test.go
  x/crosschain/keeper/cctx_test.go
  x/crosschain/keeper/grpc_query_gas_price_test.go
  x/crosschain/keeper/grpc_query_last_block_height_test.go
  x/crosschain/keeper/msg_server_vote_inbound_tx_test.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/crosschain/simulation/decoders_test.go
  x/emissions/simulation/decoders_test.go
  x/fungible/keeper/evm_hooks_test.go
  x/fungible/simulation/decoders_test.go
  x/fungible/types/message_pause_zrc20_test.go
  x/fungible/types/message_unpause_zrc20_test.go
  x/observer/genesis.go
  x/observer/keeper/grpc_query_node_account_test.go
  x/observer/keeper/grpc_query_nonces_test.go
  x/observer/keeper/grpc_query_tss_test.go
  x/observer/simulation/decoders_test.go
  x/observer/types/ballot_test.go
Due: zetacore, pkg

update spacing to fix lint
  e2e/e2etests/test_migrate_tss.go
Due: none

allow uppercase receiver address in Bitcoin withdrawal
  e2e/runner/bitcoin.go
  pkg/chains/address_test.go
  zetaclient/chains/bitcoin/common/tx_script.go
  zetaclient/chains/bitcoin/common/tx_script_test.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
Due: zetaclient, pkg

add e2e test for zetaclient minimum version
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_operational_flags.go
Due: none

block zetaclient to run if minimum version is not set
  zetaclient/maintenance/shutdown_listener.go
  zetaclient/maintenance/shutdown_listener_test.go
Due: zetaclient

revert the check on empty minimum version
  zetaclient/maintenance/shutdown_listener.go
  zetaclient/maintenance/shutdown_listener_test.go
Due: zetaclient

create an optional alternate version for zetaclient in upgrade tests
  Dockerfile-localnet
  Makefile
Due: none

create an optional alternate version for zetaclient in upgrade tests
  changelog.md
Due: none

add comment to explain reason for chunking BTC funds migration
  e2e/e2etests/test_migrate_tss.go
Due: none

Update changelog.md
  changelog.md
Due: none

use old version for zetacored version directly
  Dockerfile-localnet
  Makefile
Due: none

test: update tss migration test migrate btc fund in two chunks (#4463)
  contrib/localnet/docker-compose.yml
  e2e/e2etests/test_migrate_tss.go
Due: none

continue monitoring if operational flags RPC query failed
  zetaclient/maintenance/shutdown_listener.go
Due: zetaclient

fix: accept uppercase receiver address in Bitcoin withdrawal (#4471)
  changelog.md
  e2e/runner/bitcoin.go
  pkg/chains/address_test.go
  zetaclient/chains/bitcoin/common/tx_script.go
  zetaclient/chains/bitcoin/common/tx_script_test.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
Due: zetaclient, pkg

ignore overwrite errors for config file
  Makefile
  cmd/zetae2e/local/local.go
Due: none

split versioning for zetacored ,zetaclient and zetae2e
  Dockerfile-localnet
  Makefile
  contrib/localnet/orchestrator/start-zetae2e.sh
  docs/development/LOCAL_TESTING.md
  e2e/runner/upgrade.go
Due: none

simplify second run check
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/runner/upgrade.go
Due: none

update changelog
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/runner/upgrade.go
Due: none

update changelog
  cmd/zetae2e/local/local.go
Due: none

test: add separate versions for zetaclient ,zetacore and zetae2e binaries when used in e2e tests (#4476)
  Dockerfile-localnet
  Makefile
  changelog.md
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  docs/development/LOCAL_TESTING.md
  e2e/runner/upgrade.go
Due: none

test tss migration with remove observer
  Makefile
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/tss_migration.go
  docs/openapi/openapi.swagger.yaml
  docs/spec/generated.md
  e2e/runner/emissions.go
  e2e/txserver/zeta_tx_server.go
  proto/zetachain/zetacore/observer/tx.proto
  typescript/zetachain/zetacore/observer/tx_pb.ts
  x/observer/keeper/last_observer_count.go
  x/observer/keeper/msg_server_remove_observer.go
  x/observer/types/codec.go
  x/observer/types/message_remove_observer.go
  x/observer/types/tx.pb.go
Due: zetacore

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
