Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

add back ton sidecar config
  cmd/zetae2e/config/local.yml
Due: none

Restructure files
  zetaclient/tss/crypto.go
  zetaclient/tss/keygen.go
  zetaclient/tss/service.go
  zetaclient/tss/service_test.go
Due: zetaclient

add more checks to zrc20 is valid
  precompiles/bank/method_deposit.go
  precompiles/bank/method_withdraw.go
  precompiles/staking/method_distribute.go
  precompiles/staking/method_get_validators_test.go
  precompiles/types/coin.go
  precompiles/types/coin_test.go
Due: none

add randomised outbound message
  simulation/state.go
  testutil/sample/crosschain.go
  x/crosschain/keeper/msg_server_vote_inbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/simulation/operations.go
  x/crosschain/simulation/operations_test.go
Due: zetacore

add cointype randomisation to inbound message
  testutil/sample/crosschain.go
  x/crosschain/keeper/msg_server_vote_inbound_tx.go
  x/crosschain/simulation/operations.go
Due: zetacore

comments
  cmd/zetae2e/run.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/v2_inbound_tracker.go
Due: zetaclient

fix: support tracker processing for v2 inbounds (#3179)
  changelog.md
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/run.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_inbound_trackers.go
  e2e/runner/zeta.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/v2_inbound_tracker.go
Due: zetaclient

add v2 deposit and call with swap test
  cmd/zetae2e/local/v2.go
  e2e/contracts/zevmswap/ZEVMSwapApp.abi
  e2e/contracts/zevmswap/ZEVMSwapApp.bin
  e2e/contracts/zevmswap/ZEVMSwapApp.go
  e2e/contracts/zevmswap/ZEVMSwapApp.json
  e2e/contracts/zevmswap/ZEVMSwapApp.sol
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_v2_deposit_and_call_swap.go
Due: none

changelog
  changelog.md
Due: none

docs: changelog for v23
  changelog.md
Due: none

PR comments
  e2e/e2etests/e2etests.go
Due: none

Implement TSS Setup Flow
  zetaclient/tss/config.go
  zetaclient/tss/service.go
  zetaclient/tss/setup.go
Due: zetaclient

Adapt some test cases; fix typo
  zetaclient/tss/config_test.go
  zetaclient/tss/setup.go
  zetaclient/tss/tss_signer_test.go
Due: zetaclient

Merge pubkey.go with crypto.go
  zetaclient/tss/crypto.go
  zetaclient/tss/crypto_test.go
  zetaclient/tss/pubkey.go
Due: zetaclient

feat(zetaclient): enable pprof http server
  cmd/zetaclientd/start.go
Due: none

Add tss key pass alongside with hotkey pass
  zetaclient/tss/setup.go
Due: zetaclient

Simplify start.go; drop old tss from zetaclient
  cmd/zetaclientd/start.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/tss/concurrent_keysigns_tracker.go
  zetaclient/tss/concurrent_keysigns_tracker_test.go
  zetaclient/tss/tss_signer.go
Due: zetaclient

fmt
  cmd/zetaclientd/start.go
Due: none

feat(zetaclient): enable pprof http server (#3182)
  changelog.md
  cmd/zetaclientd/start.go
Due: none

Fix cyclic imports
  cmd/zetaclientd/initconfig.go
  cmd/zetaclientd/start.go
  cmd/zetaclientd/utils.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/tss/keygen.go
  zetaclient/tss/service.go
  zetaclient/tss/service_test.go
  zetaclient/tss/setup.go
Due: zetaclient

chore: upgrade bitcoin-core to 27.2
  contrib/localnet/docker-compose.yml
  e2e/runner/setup_bitcoin.go
Due: none

fix incorrect zContext origin caused by the replacement of sender address on BTC inbound revert
  testutil/sample/crosschain.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/revert_options.go
  x/crosschain/types/revert_options_test.go
  zetaclient/chains/bitcoin/observer/event.go
Due: zetacore, zetaclient

Upgrade to 28.0
  contrib/localnet/docker-compose.yml
Due: none

add changelog entry
  changelog.md
Due: none

fix unit test failure
  zetaclient/chains/bitcoin/observer/event_test.go
Due: zetaclient

rename CheckEventProcessability as IsEventProcessable
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
Due: zetaclient

rename InboundProcessability as InboundCategory
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/types/event.go
  zetaclient/types/event_test.go
Due: zetaclient

remove btc inbound duplidate log fields
  zetaclient/chains/solana/observer/inbound.go
Due: zetaclient

remove duplicate log fields; add some function comments to improve readibality
  zetaclient/chains/bitcoin/observer/inbound.go
Due: zetaclient

test(e2e): add e2e test for v2 deposit and call with swap (#3188)
  changelog.md
  cmd/zetae2e/local/v2.go
  e2e/contracts/zevmswap/ZEVMSwapApp.abi
  e2e/contracts/zevmswap/ZEVMSwapApp.bin
  e2e/contracts/zevmswap/ZEVMSwapApp.go
  e2e/contracts/zevmswap/ZEVMSwapApp.json
  e2e/contracts/zevmswap/ZEVMSwapApp.sol
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_v2_deposit_and_call_swap.go
Due: none

Revamp TSS mock. Fix unit tests across zetaclient
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/base/signer_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
  zetaclient/chains/bitcoin/observer/rpc_status.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/bitcoin/signer/signer_keysign_test.go
  zetaclient/chains/bitcoin/signer/signer_test.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/inbound_test.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/signer/sign.go
  zetaclient/chains/evm/signer/sign_test.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_admin_test.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/chains/solana/observer/observer_test.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/observer/outbound_test.go
  zetaclient/chains/ton/observer/inbound_test.go
  zetaclient/chains/ton/observer/observer_test.go
  zetaclient/chains/ton/observer/outbound.go
  zetaclient/chains/ton/signer/signer_test.go
  zetaclient/orchestrator/bootstap_test.go
  zetaclient/testutils/constant.go
  zetaclient/testutils/mocks/tss.go
  zetaclient/testutils/mocks/tss_signer.go
  zetaclient/tss/crypto.go
  zetaclient/tss/crypto_test.go
Due: zetaclient

Remove tss historical list from outbound evm cctx
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/outbound_test.go
Due: zetaclient

TSS healthcheck
  cmd/zetaclientd/start.go
  zetaclient/tss/healthcheck.go
  zetaclient/tss/service.go
  zetaclient/tss/setup.go
Due: zetaclient

Update e2e/runner/emissions.go
  e2e/runner/emissions.go
Due: none

add reviewed changes
  changelog.md
  e2e/e2etests/test_precompiles_distribute.go
  e2e/e2etests/test_precompiles_distribute_through_contract.go
  precompiles/staking/IStaking.abi
  precompiles/staking/IStaking.gen.go
  precompiles/staking/IStaking.json
  precompiles/staking/IStaking.sol
  precompiles/staking/logs.go
  precompiles/staking/method_claim_rewards.go
  precompiles/staking/method_get_rewards_test.go
  precompiles/staking/method_get_validators.go
  precompiles/staking/method_get_validators_test.go
  precompiles/staking/staking.go
  precompiles/types/coin_test.go
Due: none

check btc sender address in the CCTX struct
  e2e/e2etests/test_bitcoin_std_deposit_and_call_revert_other_address.go
Due: none

Fix flaky case when GetTSS() returns an empty string
  zetaclient/tss/keygen.go
  zetaclient/tss/setup.go
Due: zetaclient

Update changelog
  changelog.md
Due: none

Fix typos
  zetaclient/tss/setup.go
Due: zetaclient
