Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

fix unit test
  zetaclient/zetacore/tx_test.go
Due: zetaclient

add changelog entry
  changelog.md
Due: none

try to skip header proof in e2e tests
  contrib/localnet/orchestrator/start-zetae2e.sh
Due: none

fix: skip calling 'GetBlockHeaderEnabledChains()' to bypass API error (#2704)
  changelog.md
  contrib/localnet/orchestrator/start-zetae2e.sh
  zetaclient/zetacore/client.go
  zetaclient/zetacore/tx_test.go
Due: zetaclient

do not submit pending outbound hash to tracker to avoid invalid hash
  changelog.md
  go.sum
  zetaclient/evm/evm_client.go
  zetaclient/evm/evm_signer.go
Due: zetaclient

update changelog version and log print
  changelog.md
  zetaclient/evm/evm_client.go
Due: zetaclient

try fixing tss migration E2E failure by increase timeout
  e2e/utils/zetacore.go
  zetaclient/chains/evm/observer/outbound.go
Due: zetaclient

fix unit tests
  x/crosschain/keeper/evm_deposit_test.go
Due: zetacore

fix: adjust evm outbound tracker reporter to avoid submitting invalid hashes (#2628)
  changelog.md
  e2e/utils/zetacore.go
  pkg/constant/constant.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/signer.go
  zetaclient/chains/evm/constant.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/rpc/rpc.go
  zetaclient/chains/evm/rpc/rpc_live_test.go
  zetaclient/chains/evm/signer/outbound_data.go
  zetaclient/chains/evm/signer/outbound_data_test.go
  zetaclient/chains/evm/signer/outbound_tracker_reporter.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/signer/outbound_tracker_reporter.go
  zetaclient/logs/fields.go
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

add e2e test for coin type zeta
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/e2etests/test_zeta_deposit.go
  e2e/e2etests/test_zeta_deposit_new_address.go
  e2e/e2etests/test_zeta_deposit_restricted_address.go
  e2e/runner/zeta.go
  e2e/utils/require.go
Due: none

update e2e tests
  contrib/localnet/bitcoin-sidecar/Dockerfile
  contrib/localnet/bitcoin-sidecar/js/package.json
  contrib/localnet/bitcoin-sidecar/js/src/client.ts
  contrib/localnet/bitcoin-sidecar/js/src/index.ts
  contrib/localnet/bitcoin-sidecar/js/src/reveal.ts
  contrib/localnet/bitcoin-sidecar/js/src/script.ts
  contrib/localnet/bitcoin-sidecar/js/src/util.ts
  contrib/localnet/bitcoin-sidecar/js/tsconfig.json
  contrib/localnet/docker-compose.yml
  e2e/e2etests/test_extract_bitcoin_inscription_memo.go
  e2e/runner/bitcoin.go
  e2e/runner/inscription.go
  zetaclient/chains/bitcoin/observer/inbound.go
Due: zetaclient

test
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_extract_bitcoin_inscription_memo.go
Due: none

feat: implement `MsgMigrateERC20CustodyFunds` to migrate the funds from the ERC20Custody to a new contracts (#2630)
  changelog.md
  cmd/zetae2e/local/local.go
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_migrate_erc20_custody_funds.go
  pkg/constant/constant.go
  proto/zetachain/zetacore/crosschain/events.proto
  proto/zetachain/zetacore/crosschain/tx.proto
  testutil/sample/crosschain.go
  typescript/zetachain/zetacore/crosschain/events_pb.d.ts
  typescript/zetachain/zetacore/crosschain/tx_pb.d.ts
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
  x/crosschain/keeper/cctx_utils.go
  x/crosschain/keeper/msg_server_migrate_erc20_custody_funds.go
  x/crosschain/keeper/msg_server_migrate_erc20_custody_funds_test.go
  x/crosschain/keeper/msg_server_migrate_tss_funds.go
  x/crosschain/keeper/msg_server_migrate_tss_funds_test.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
  x/crosschain/types/cmd_cctxs.go
  x/crosschain/types/cmd_cctxs_test.go
  x/crosschain/types/events.pb.go
  x/crosschain/types/keys.go
  x/crosschain/types/message_migrate_erc20_custody_funds.go
  x/crosschain/types/message_migrate_erc20_custody_funds_test.go
  x/crosschain/types/tx.pb.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_admin.go
  zetaclient/chains/evm/signer/signer_admin_test.go
  zetaclient/chains/evm/signer/signer_test.go
Due: zetacore, zetaclient

only selected tests
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
Due: none

add support for revert gas limit
  docs/openapi/openapi.swagger.yaml
  e2e/e2etests/test_v2_erc20_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_v2_eth_deposit_and_call_revert_with_call.go
  e2e/runner/v2_evm.go
  e2e/runner/v2_zevm.go
  go.mod
  go.sum
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.d.ts
  x/crosschain/keeper/cctx_utils.go
  x/crosschain/keeper/gas_payment.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/message_vote_inbound_test.go
  x/crosschain/types/revert_options.go
Due: zetacore

add tests
  cmd/zetae2e/local/bitcoin.go
Due: none

fix tests
  e2e/e2etests/test_v2_erc20_deposit.go
  e2e/e2etests/test_v2_erc20_deposit_and_call.go
  e2e/e2etests/test_v2_erc20_deposit_and_call_revert.go
  e2e/e2etests/test_v2_erc20_withdraw.go
  e2e/e2etests/test_v2_erc20_withdraw_and_call.go
  e2e/e2etests/test_v2_erc20_withdraw_and_call_revert.go
  e2e/e2etests/test_v2_erc20_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_v2_eth_deposit.go
  e2e/e2etests/test_v2_eth_deposit_and_call.go
  e2e/e2etests/test_v2_eth_deposit_and_call_revert.go
  e2e/e2etests/test_v2_eth_withdraw.go
  e2e/e2etests/test_v2_eth_withdraw_and_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_call_revert.go
  e2e/e2etests/test_v2_eth_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_v2_evm_to_zevm_call.go
  e2e/e2etests/test_v2_zevm_to_evm_call.go
Due: none

add liquidity test
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_operation_add_liquidity_erc20.go
  e2e/e2etests/test_v2_erc20_deposit.go
  e2e/e2etests/test_v2_evm_to_zevm_call.go
Due: none

fix liquidity test
  e2e/e2etests/test_operation_add_liquidity_erc20.go
  e2e/e2etests/test_operation_add_liquidity_eth.go
Due: none

update url
  contrib/localnet/bitcoin-sidecar/js/src/client.ts
  contrib/localnet/bitcoin-sidecar/js/src/index.ts
  e2e/runner/bitcoin.go
  e2e/runner/inscription.go
Due: none

Update proto/zetachain/zetacore/pkg/coin/coin.proto
  proto/zetachain/zetacore/pkg/coin/coin.proto
Due: none

add first e2e test
  app/app.go
  changelog.md
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_precompiles_regular.go
  precompiles/regular/IRegular.sol
  precompiles/regular/IRegularABI.go
  precompiles/regular/IRegularABI.json
  precompiles/regular/regular.go
  precompiles/testutil/errors.go
  precompiles/testutil/events.go
  precompiles/testutil/logs.go
Due: none

more logs
  e2e/runner/bitcoin.go
Due: none

Update x/crosschain/types/revert_options.go
  x/crosschain/types/revert_options.go
Due: zetacore

more logs
  e2e/e2etests/test_extract_bitcoin_inscription_memo.go
  e2e/runner/bitcoin.go
Due: none

add RegularCaller contract to e2e
  e2e/e2etests/test_precompiles_regular.go
  precompiles/regular/testutil/RegularCaller.abi
  precompiles/regular/testutil/RegularCaller.bin
  precompiles/regular/testutil/RegularCaller.go
  precompiles/regular/testutil/RegularCaller.json
  precompiles/regular/testutil/RegularCaller.sol
Due: none

update
  e2e/runner/bitcoin.go
  e2e/runner/inscription.go
Due: none

remove older validate for chain
  x/crosschain/types/validate.go
Due: zetacore

logs
  e2e/runner/inscription.go
Due: none

Stefan comments
  pkg/coin/coin.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/evm_hooks.go
  zetaclient/chains/evm/observer/outbound_test.go
Due: zetacore, zetaclient

Borja comments
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/evm_hooks.go
  x/fungible/keeper/v2_evm.go
  zetaclient/chains/evm/observer/v2_outbound.go
Due: zetacore, zetaclient

add signer to deployment
  e2e/e2etests/test_precompiles_regular.go
  precompiles/regular/regular.go
Due: none

handle json
  e2e/runner/inscription.go
Due: none

dmitry review
  docs/openapi/openapi.swagger.yaml
  typescript/zetachain/zetacore/pkg/coin/coin_pb.d.ts
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/fungible/keeper/v2_evm.go
  zetaclient/chains/evm/cctx.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/evm/observer/v2_outbound.go
  zetaclient/chains/evm/signer/v2_sign.go
  zetaclient/chains/evm/signer/v2_signer.go
  zetaclient/zetacore/client_monitor.go
Due: zetacore, zetaclient

fix unit tests
  testutil/sample/crosschain.go
  x/crosschain/client/querytests/cctx.go
  x/crosschain/client/querytests/cli_test.go
  x/crosschain/client/querytests/gas_price.go
  x/crosschain/client/querytests/inbound_hash.go
  x/crosschain/client/querytests/inbound_tracker.go
  x/crosschain/client/querytests/last_block_height.go
  x/crosschain/client/querytests/outbound_tracker.go
  x/crosschain/client/querytests/suite.go
  x/crosschain/keeper/cctx_test.go
  x/crosschain/keeper/grpc_query_inbound_hash_to_cctx_test.go
  x/crosschain/keeper/initiate_outbound_test.go
  x/crosschain/types/message_vote_inbound.go
  x/crosschain/types/message_vote_inbound_test.go
  x/crosschain/types/revert_options.go
  x/fungible/keeper/v2_deposits_test.go
  x/observer/client/querytests/chain_nonces.go
  x/observer/client/querytests/cli_test.go
  x/observer/client/querytests/crosschain_flags.go
  x/observer/client/querytests/keygen.go
  x/observer/client/querytests/node_account.go
  x/observer/client/querytests/suite.go
  x/observer/client/querytests/tss.go
  zetaclient/testdata/cctx/chain_1_cctx_inbound_ERC20_0x4ea69a0e2ff36f7548ab75791c3b990e076e2a4bffeb616035b239b7d33843da.go
  zetaclient/testdata/cctx/chain_1_cctx_inbound_Gas_0xeaec67d5dd5d85f27b21bef83e01cbdf59154fd793ea7a22c297f7c3a722c532.go
  zetaclient/testdata/cctx/chain_1_cctx_inbound_Zeta_0xf3935200c80f98502d5edc7e871ffc40ca898e134525c42c2ae3cbc5725f9d76.go
  zetaclient/zetacore/tx_test.go
Due: zetacore, zetaclient

feat: parse inscription like witness data (#2524)
  changelog.md
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/tokenizer.go
  zetaclient/chains/bitcoin/tx_script.go
  zetaclient/chains/bitcoin/tx_script_test.go
Due: zetaclient

feat: detect memo in btc txn from OP_RETURN and inscription (#2533)
  changelog.md
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
  zetaclient/testdata/btc/chain_8332_inbound_raw_result_37777defed8717c581b4c0509329550e344bdc14ac38f71fc050096887e535c8.json
  zetaclient/testdata/btc/chain_8332_inbound_raw_result_7a57f987a3cb605896a5909d9ef2bf7afbf0c78f21e4118b85d00d9e4cce0c2c.json
Due: zetaclient

Path conditions:
  zetacore: any of: x/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  zetaclient: any of: zetaclient/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  common: any of: common/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
