Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

add nonZRC20 token e2e test
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_precompiles_distribute.go
Due: none

add fee collector balance check
  e2e/e2etests/test_precompiles_distribute.go
  e2e/e2etests/test_precompiles_distribute_through_contract.go
  precompiles/bank/bank.go
  precompiles/bank/method_balance_of.go
  precompiles/bank/method_deposit.go
  precompiles/bank/method_test.go
  precompiles/bank/method_withdraw.go
  precompiles/prototype/prototype.go
  precompiles/staking/method_distribute.go
  precompiles/staking/method_distribute_test.go
  precompiles/staking/method_get_shares.go
  precompiles/staking/method_move_stake.go
  precompiles/staking/method_move_stake_test.go
  precompiles/staking/method_stake.go
  precompiles/staking/method_stake_test.go
  precompiles/staking/method_unstake.go
  precompiles/staking/method_unstake_test.go
  precompiles/staking/staking.go
Due: none

Address PR comments [1]
  pkg/contracts/ton/gateway.go
  pkg/contracts/ton/gateway_parse.go
  pkg/contracts/ton/gateway_send.go
  zetaclient/chains/ton/liteapi/client.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/observer.go
  zetaclient/chains/ton/signer/signer.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/testutils/mocks/chain_clients.go
Due: zetaclient, pkg

fix(e2e): wrong evm client used for TestDAppV2ZEVM (#3060)
  cmd/zetae2e/config/contracts.go
Due: none

fix: bump go tss to remove dht (#3058)
  go.mod
  go.sum
Due: none

Address PR comments [2]
  e2e/e2etests/test_ton_withdrawal.go
  e2e/runner/setup_ton.go
  pkg/contracts/ton/gateway_test.go
  testutil/sample/ton.go
  testutil/sample/ton_test.go
  zetaclient/chains/ton/config.go
  zetaclient/chains/ton/observer/inbound_test.go
Due: zetaclient, pkg

Address PR comments [3]
  zetaclient/chains/ton/config.go
  zetaclient/chains/ton/observer/observer.go
Due: zetaclient

Address PR comments [4]
  pkg/contracts/ton/gateway_parse.go
Due: pkg

Bump ton-docker image version
  contrib/localnet/docker-compose.yml
Due: none

test(e2e): reduce gas limit used for withdraw and call
  e2e/runner/v2_zevm.go
Due: none

try 200k
  e2e/runner/v2_zevm.go
Due: none

250k
  e2e/runner/v2_zevm.go
Due: none

Trigger Sim Tests on Labeled PRs or when any file from x/**/* is changed
  .github/workflows/sim.yaml
Due: none

check for err while DepositZRC20
  precompiles/staking/method_distribute_test.go
Due: none

use random string for payloads
  e2e/e2etests/helpers.go
  e2e/e2etests/test_v2_erc20_deposit_and_call.go
  e2e/e2etests/test_v2_erc20_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_v2_erc20_withdraw_and_arbitrary_call.go
  e2e/e2etests/test_v2_erc20_withdraw_and_call.go
  e2e/e2etests/test_v2_erc20_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_v2_eth_deposit_and_call.go
  e2e/e2etests/test_v2_eth_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_arbitrary_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_call_through_contract.go
  e2e/e2etests/test_v2_evm_to_zevm_call.go
  e2e/e2etests/test_v2_zevm_to_evm_arbitrary_call.go
  e2e/e2etests/test_v2_zevm_to_evm_call.go
  e2e/e2etests/test_v2_zevm_to_evm_call_through_contract.go
Due: none

use latest go-tss from PR#34
  go.mod
  go.sum
Due: none

update sim.yaml
  .github/workflows/sim.yaml
Due: none

Update sim.yaml jobs needs
  .github/workflows/sim.yaml
Due: none

chore: upgrade cometbft to v0.37.12 (#3045)
  Dockerfile-localnet
  Makefile
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  go.mod
  go.sum
Due: none

update codecov.yml
  codecov.yml
Due: none

revert back to using keygen for whitelist peers
  cmd/zetaclientd/start.go
  pkg/rpc/clients_observer.go
  pkg/rpc/clients_test.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/context/app.go
  zetaclient/context/app_test.go
  zetaclient/orchestrator/bootstap_test.go
  zetaclient/orchestrator/orchestrator_test.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/tx_test.go
Due: zetaclient, pkg

chore: use v21 as upgrade base
  Makefile
  e2e/e2etests/test_eth_withdraw.go
Due: none

fix lint
  e2e/e2etests/helpers.go
  e2e/e2etests/test_v2_erc20_deposit_and_call.go
  e2e/e2etests/test_v2_erc20_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_v2_erc20_withdraw_and_arbitrary_call.go
  e2e/e2etests/test_v2_erc20_withdraw_and_call.go
  e2e/e2etests/test_v2_erc20_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_v2_eth_deposit_and_call.go
  e2e/e2etests/test_v2_eth_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_arbitrary_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_call_through_contract.go
  e2e/e2etests/test_v2_evm_to_zevm_call.go
  e2e/e2etests/test_v2_zevm_to_evm_arbitrary_call.go
  e2e/e2etests/test_v2_zevm_to_evm_call.go
  e2e/e2etests/test_v2_zevm_to_evm_call_through_contract.go
Due: none

renaming
  e2e/e2etests/helpers.go
  e2e/e2etests/test_v2_erc20_deposit_and_call.go
  e2e/e2etests/test_v2_erc20_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_v2_erc20_withdraw_and_arbitrary_call.go
  e2e/e2etests/test_v2_erc20_withdraw_and_call.go
  e2e/e2etests/test_v2_erc20_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_v2_eth_deposit_and_call.go
  e2e/e2etests/test_v2_eth_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_arbitrary_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_call_through_contract.go
  e2e/e2etests/test_v2_evm_to_zevm_call.go
  e2e/e2etests/test_v2_zevm_to_evm_arbitrary_call.go
  e2e/e2etests/test_v2_zevm_to_evm_call.go
  e2e/e2etests/test_v2_zevm_to_evm_call_through_contract.go
Due: none

gosec
  pkg/contracts/ton/gateway.go
  pkg/contracts/ton/gateway_parse.go
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient, pkg

Fix: Naming in Protobuf
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  x/crosschain/types/cross_chain_tx.pb.go
Due: none

Delete docs/openapi/openapi.swagger.yaml
  docs/openapi/openapi.swagger.yaml
Due: none

add tss signature to whitelist spl mint
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/config/localnet.yml
  contrib/localnet/solana/gateway.so
  pkg/contracts/solana/gateway.json
  pkg/contracts/solana/gateway_message.go
  pkg/contracts/solana/instruction.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/whitelist.go
Due: zetaclient, pkg

Revert "chore: upgrade cometbft to v0.37.12 (#3045)"
  Dockerfile-localnet
  Makefile
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  go.mod
  go.sum
Due: none

only revert go.mod changes
  Dockerfile-localnet
  Makefile
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  go.mod
Due: none

chore: revert cometbft upgrade (#3065)
  go.mod
  go.sum
Due: none

feat: whitelist connection gater (#3028)
  changelog.md
  cmd/zetaclientd/start.go
  go.mod
  go.sum
  zetaclient/tss/tss_signer.go
Due: zetaclient

fix CI
  e2e/e2etests/test_precompiles_distribute.go
  precompiles/staking/method_get_all_validators.go
Due: none

chore: set lower tally params for localnet
  contrib/localnet/scripts/start-zetacored.sh
Due: none

fix gosec
  precompiles/staking/method_get_all_validators.go
Due: none

modify CreateCoinSet to accept a common.Address
  precompiles/bank/method_deposit.go
  precompiles/bank/method_withdraw.go
  precompiles/staking/method_distribute.go
  precompiles/types/coin.go
  precompiles/types/coin_test.go
Due: none

fix lint
  precompiles/staking/method_get_all_validators.go
Due: none

decrease gas limit
  e2e/runner/v2_zevm.go
Due: none
