Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

chore: remove the deprecated 'BitcoinConfig' from zetaclient config
  zetaclient/config/types.go
  zetaclient/config/types_test.go
Due: zetaclient

add changes to changelog
  changelog.md
Due: none

undo changelog auto format
  changelog.md
Due: none

change chore to refactor
  changelog.md
Due: none

fix unit test
  rpc/backend/backend_suite_test.go
  rpc/backend/call_tx_test.go
Due: none

fix lint issue
  zetaclient/config/types.go
Due: zetaclient

improve naming of helper functions in E2E runner
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call.go
  e2e/e2etests/test_bitcoin_std_memo_inscribed_deposit_and_call.go
  e2e/runner/bitcoin.go
Due: none

refactor: remove the deprecated 'BitcoinConfig' from zetaclient config (#4052)
  changelog.md
  zetaclient/config/types.go
  zetaclient/config/types_test.go
Due: zetaclient

mitigate e2e test timeout
  Makefile
Due: none

test: make Bitcoin inscription based depositAndCall compatible for live network (#4040)
  Makefile
  changelog.md
  e2e/e2etests/e2etests.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call.go
  e2e/e2etests/test_bitcoin_std_memo_inscribed_deposit_and_call.go
  e2e/e2etests/test_bitcoin_withdraw_rbf.go
  e2e/e2etests/test_eth_deposit_and_call_big_payload.go
  e2e/e2etests/test_eth_withdraw_and_call_big_payload.go
  e2e/runner/bitcoin.go
  zetaclient/chains/bitcoin/observer/utxos.go
Due: zetaclient

unified the verification of ZRC20 balance change in E2E tests
  e2e/e2etests/test_bitcoin_deposit.go
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/e2etests/test_bitcoin_std_deposit.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call_revert_and_abort.go
  e2e/e2etests/test_bitcoin_std_memo_inscribed_deposit_and_call.go
  e2e/e2etests/test_erc20_deposit.go
  e2e/e2etests/test_erc20_deposit_and_call.go
  e2e/e2etests/test_erc20_deposit_and_call_no_message.go
  e2e/e2etests/test_erc20_deposit_revert_and_abort.go
  e2e/e2etests/test_eth_deposit_and_call.go
  e2e/e2etests/test_eth_deposit_liquidity_cap.go
  e2e/e2etests/test_eth_deposit_revert_and_abort.go
  e2e/e2etests/test_solana_deposit.go
  e2e/e2etests/test_solana_deposit_through_program.go
  e2e/e2etests/test_spl_deposit.go
  e2e/e2etests/test_spl_deposit_and_call.go
  e2e/e2etests/test_sui_deposit.go
  e2e/e2etests/test_sui_token_deposit.go
  e2e/e2etests/test_sui_token_deposit_and_call.go
  e2e/e2etests/test_ton_deposit.go
  e2e/e2etests/test_ton_deposit_and_call.go
  e2e/runner/runner.go
  e2e/utils/zetacore.go
Due: none

add changelog entry
  changelog.md
Due: none

wrap zeta mint in temp context
  changelog.md
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/solana.go
  cmd/zetae2e/local/sui.go
  cmd/zetae2e/local/tss_migration.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/runner/accounting.go
  e2e/runner/run.go
  pkg/memo/memo.go
  pkg/memo/memo_test.go
  x/fungible/keeper/deposits.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/zeta.go
  zetaclient/chains/bitcoin/observer/event.go
Due: zetacore, zetaclient, pkg

fix metrics typo
  zetaclient/chains/sui/sui.go
Due: zetaclient

fix(sui): metrics typo (#4055)
  zetaclient/chains/sui/sui.go
Due: zetaclient

refactor: use slices.Equal to simplify code (#4044)
  zetaclient/context/app.go
Due: zetaclient

cleanup some todos
  app/ante/ante.go
  app/ante/fees.go
  app/ante/handler_options.go
  app/ante/interfaces.go
  readme.md
  rpc/backend/tracing.go
  simulation/simulation.go
  x/observer/migrations/v11/migrate.go
Due: zetacore

rebase
  cmd/zetae2e/local/local.go
Due: none

new rpc related changes
  rpc/backend/backend.go
  rpc/backend/chain_info.go
  rpc/backend/chain_info_test.go
  rpc/backend/client_test.go
  rpc/backend/utils.go
  rpc/namespaces/ethereum/debug/trace.go
  rpc/namespaces/ethereum/debug/trace_fallback.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/eth/filters/filters.go
Due: none

add changelog
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/legacy/test_zeta_deposit_and_call_abort.go
  e2e/runner/accounting.go
  e2e/runner/legacy_zevm.go
  e2e/runner/run.go
  x/fungible/keeper/deposits.go
  x/fungible/keeper/evm.go
Due: zetacore

add changelog
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/legacy/test_zeta_deposit_and_call_abort.go
  e2e/runner/accounting.go
  e2e/runner/legacy_zevm.go
  e2e/runner/run.go
  x/fungible/keeper/deposits.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/gas_coin_and_pool.go
  zetaclient/chains/evm/observer/inbound.go
Due: zetacore, zetaclient

adjust comments
  e2e/e2etests/e2etests.go
  e2e/e2etests/legacy/test_zeta_deposit_and_call_abort.go
  e2e/runner/accounting.go
  e2e/runner/legacy_zevm.go
  e2e/runner/run.go
  x/fungible/keeper/deposits.go
Due: zetacore

Update cmd/zetae2e/config/contracts.go
  cmd/zetae2e/config/contracts.go
Due: none

fix gas pool zeta calcualation
  e2e/runner/accounting.go
Due: none

add unit test for executeWithMintedZeta
  x/fungible/keeper/export_private_functions_test.go
  x/fungible/keeper/zeta.go
  x/fungible/keeper/zeta_test.go
Due: zetacore

imports
  go.mod
  go.sum
Due: none

add test
  cmd/zetae2e/local/evm.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_eth_withdraw_custom_gas_limit.go
  e2e/runner/zevm.go
Due: none

fix interface
  e2e/e2etests/test_sui_withdraw_restricted_address.go
  e2e/runner/bitcoin.go
  e2e/runner/solana.go
  e2e/runner/sui.go
  e2e/runner/ton.go
Due: none

fix tsts
  e2e/e2etests/test_eth_withdraw_custom_gas_limit.go
Due: none

bump cosmos evm
  contrib/rpcimportable/go.mod
  go.mod
  go.sum
Due: none

fix comments 1
  e2e/runner/accounting.go
Due: none

remove legacy unused condition
  e2e/utils/zetacore.go
Due: none

use updated cctx struct to check status
  e2e/e2etests/test_eth_deposit_liquidity_cap.go
Due: none

ensure e2e test argument is a valid uint64
  e2e/e2etests/test_spl_deposit.go
  e2e/e2etests/test_spl_deposit_and_call.go
Due: none

use blocktime irreverent retry interval when waiting for balance change; rename function as WaitAndVerifyZRC20BalanceChange
  e2e/e2etests/test_bitcoin_deposit.go
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/e2etests/test_bitcoin_std_deposit.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call_revert_and_abort.go
  e2e/e2etests/test_bitcoin_std_memo_inscribed_deposit_and_call.go
  e2e/e2etests/test_erc20_deposit.go
  e2e/e2etests/test_erc20_deposit_and_call.go
  e2e/e2etests/test_erc20_deposit_and_call_no_message.go
  e2e/e2etests/test_erc20_deposit_revert_and_abort.go
  e2e/e2etests/test_eth_deposit_and_call.go
  e2e/e2etests/test_eth_deposit_liquidity_cap.go
  e2e/e2etests/test_eth_deposit_revert_and_abort.go
  e2e/e2etests/test_solana_deposit.go
  e2e/e2etests/test_solana_deposit_through_program.go
  e2e/e2etests/test_spl_deposit.go
  e2e/e2etests/test_spl_deposit_and_call.go
  e2e/e2etests/test_sui_deposit.go
  e2e/e2etests/test_sui_token_deposit.go
  e2e/e2etests/test_sui_token_deposit_and_call.go
  e2e/e2etests/test_ton_deposit.go
  e2e/e2etests/test_ton_deposit_and_call.go
  e2e/utils/zetacore.go
Due: none

cleanup mempool fork
  app/app.go
  app/signer.go
  cmd/zetacored/root.go
  go.mod
  go.sum
  pkg/mempool/custom_proposal_handler.go
  pkg/mempool/custom_proposal_handler_test.go
  pkg/mempool/mempool_test.go
  pkg/mempool/priority_nonce_mempool.go
  pkg/mempool/priority_nonce_mempool_test.go
  pkg/mempool/senders_with_nonce.go
Due: pkg
