Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

refactor: disable precompile for v23 (#3198)
  cmd/zetae2e/local/local.go
  precompiles/precompiles.go
Due: none

Address PR comments [6] (test coverage)
  zetaclient/tss/config.go
  zetaclient/tss/config_test.go
  zetaclient/tss/crypto_test.go
  zetaclient/tss/service_test.go
  zetaclient/tss/testdata/pre-params.json
Due: zetaclient

add eth liquidity
  e2e/e2etests/test_erc20_deposit_refund.go
  e2e/utils/require.go
Due: none

chore: use v22 as base in upgrade tests
  Makefile
Due: none

feat: add testnet4 params (#3195)
  pkg/chains/bitcoin.go
  pkg/chains/bitcoin_test.go
  pkg/chains/bitcoin_testnet4.go
  pkg/chains/chain.go
  pkg/chains/chain_test.go
  pkg/crypto/tss_test.go
  x/observer/keeper/grpc_query_tss_test.go
Due: zetacore, pkg

v22.1.1
  Makefile
Due: none

Fix TSS migration test
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/e2etests/test_migrate_tss.go
  e2e/runner/bitcoin.go
Due: none

increase deposit amount
  e2e/e2etests/test_erc20_deposit_refund.go
Due: none

chore: use v22 as base in upgrade tests (#3200)
  Makefile
Due: none

cleanup changelog
  changelog.md
Due: none

chore: use jsdelivr for swagger css/js (#3197)
  docs/openapi/openapi.html
Due: none

test(e2e): fix add liquidity occasional error (tentative) (#3199)
  cmd/zetae2e/local/erc20.go
  e2e/e2etests/test_erc20_deposit_refund.go
  e2e/runner/evm.go
  e2e/runner/liquidity.go
  e2e/utils/require.go
Due: none

chore: upgrade bitcoin-core to 28.0 (#3191)
  contrib/localnet/docker-compose.yml
  e2e/runner/setup_bitcoin.go
Due: none

fix unit test
  zetaclient/chains/ton/observer/observer_test.go
Due: zetaclient

make gaslimit match testnet3
  e2e/txserver/zeta_tx_server.go
Due: none

HACK: add testnet4 and signet to localnet
  contrib/localnet/scripts/start-zetaclientd.sh
  contrib/localnet/scripts/zetaclient-config-overlay.json
  e2e/txserver/zeta_tx_server.go
  x/observer/genesis.go
  x/observer/types/chain_params.go
Due: zetacore

add cointype gas
  Makefile
  simulation/state.go
  testutil/sample/crosschain.go
  testutil/sample/crypto.go
  x/crosschain/keeper/evm_deposit.go
  x/crosschain/keeper/msg_server_vote_inbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/refund.go
  x/crosschain/simulation/operation_add_inbound_tracker.go
  x/crosschain/simulation/operations.go
  x/fungible/keeper/deposits.go
Due: zetacore

move btc revert address test to advanced group to avoid upgrade test failure
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_bitcoin_deposit_and_call_revert.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call_revert.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call_revert_other_address.go
Due: none

add changelog entry
  changelog.md
Due: none

Fix btc issue
  e2e/e2etests/test_migrate_tss.go
Due: none

fix solana testnet unsupported version 0
  go.mod
  go.sum
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/rpc/rpc.go
  zetaclient/chains/solana/rpc/rpc_live_test.go
Due: zetaclient

correct variable name; explicitly return a 'skip' flag to be more redable
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/rpc/rpc.go
  zetaclient/chains/solana/rpc/rpc_live_test.go
Due: zetaclient

add cointype erc20
  Makefile
  simulation/state.go
  testutil/sample/crosschain.go
  x/crosschain/keeper/evm_deposit.go
  x/crosschain/keeper/msg_server_vote_inbound_tx.go
  x/crosschain/simulation/operations.go
  x/fungible/keeper/deposits.go
Due: zetacore

fix unit test
  pkg/crypto/privkey.go
  pkg/crypto/privkey_test.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/keys/relayer_key.go
Due: zetaclient, pkg

add outbound tracker
  x/crosschain/keeper/cctx_utils.go
  x/crosschain/keeper/msg_server_add_outbound_tracker.go
  x/crosschain/keeper/msg_server_vote_inbound_tx.go
  x/crosschain/simulation/operation_add_outbound_tracker.go
  x/crosschain/simulation/operation_gas_price_voter.go
  x/crosschain/simulation/operation_vote_inbound.go
  x/crosschain/simulation/operation_vote_outbound.go
  x/crosschain/simulation/operations.go
  x/crosschain/types/keys.go
  x/crosschain/types/outbound_tracker.go
Due: zetacore

do not check for delegator in tx.origin or contract.CallerAddress
  precompiles/staking/methiod_claim_rewards_test.go
  precompiles/staking/method_claim_rewards.go
  precompiles/types/address.go
Due: none

update changelog
  changelog.md
Due: none

fixes based on PR review
  e2e/e2etests/test_precompiles_distribute_and_claim.go
  e2e/e2etests/test_precompiles_distribute_and_claim_through_contract.go
  precompiles/staking/method_claim_rewards.go
  precompiles/staking/method_claim_rewards_test.go
Due: none

fix test
  precompiles/staking/method_get_validators_test.go
Due: none

fix(zetaclient): distinguish between known and connected peers
  zetaclient/metrics/telemetry.go
  zetaclient/tss/healthcheck.go
  zetaclient/tss/service.go
Due: zetaclient

improve outbound tracker nonce selection
  x/crosschain/simulation/operation_add_outbound_tracker.go
Due: none

added InboundCategoryUnknown; logs fields cleaning; renaming
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/evm/observer/v2_inbound_tracker.go
  zetaclient/types/event.go
Due: zetaclient

chore: revert go-tss to v21/v22 version
  cmd/zetaclientd/start.go
  go.mod
  go.sum
  zetaclient/tss/tss_signer.go
Due: zetaclient

test: move btc revertAddress test to advanced group to avoid upgrade test failure (#3205)
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_bitcoin_deposit_and_call_revert.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call_revert.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call_revert_other_address.go
Due: none

Simplify RPC API
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/rpc/rpc.go
  zetaclient/chains/solana/rpc/rpc_live_test.go
Due: zetaclient

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
