Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

Fix setPendingNonce
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound.go
Due: zetaclient

increase pending Bitcoin CCTX gas price to median value; burn gas fee from gas stability pool
  x/crosschain/keeper/abci.go
Due: zetacore

fix reverter contract
  testutil/contracts/Reverter.abi
  testutil/contracts/Reverter.bin
  testutil/contracts/Reverter.go
  testutil/contracts/Reverter.json
  testutil/contracts/Reverter.sol
Due: none

rebuild bin
  testutil/contracts/Reverter.bin
  testutil/contracts/Reverter.go
  testutil/contracts/Reverter.json
Due: none

refactor: use protocol contracts V2 with Solana deposits (#3432)
  changelog.md
  e2e/e2etests/test_solana_deposit_and_call_revert.go
  pkg/contracts/solana/inbound.go
  pkg/contracts/solana/inbound_test.go
  testutil/contracts/Reverter.abi
  testutil/contracts/Reverter.bin
  testutil/contracts/Reverter.go
  testutil/contracts/Reverter.json
  testutil/contracts/Reverter.sol
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/types/event.go
Due: zetaclient, pkg

don't use GasPriorityFee as it's always empty
  zetaclient/chains/bitcoin/signer/outbound_data.go
  zetaclient/chains/bitcoin/signer/outbound_data_test.go
  zetaclient/chains/bitcoin/signer/signer_test.go
Due: zetaclient

refactor: consolidate version normalization logic
  app/setup_handlers.go
  e2e/runner/runner.go
  pkg/constant/version.go
  zetaclient/maintenance/shutdown_listener.go
  zetaclient/maintenance/shutdown_listener_test.go
Due: zetaclient, pkg

add unit tests for CheckAndUpdateCCTXGasPriceBTC
  x/crosschain/keeper/abci_test.go
Due: zetacore

update changelog
  changelog.md
Due: none

update constant description and move chainID to where it's used
  x/crosschain/keeper/abci.go
Due: zetacore

feat(zetaclient): process first solana transaction faster
  zetaclient/chains/solana/solana.go
Due: zetaclient

simplify unit tests
  x/crosschain/keeper/abci_test.go
Due: zetacore

add extra field RetryIntervalBTC to the GasPriceIncreaseFlags struct
  docs/cli/zetacored/cli.md
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/observer/crosschain_flags.proto
  testutil/sample/observer.go
  typescript/zetachain/zetacore/observer/crosschain_flags_pb.d.ts
  x/crosschain/keeper/abci.go
  x/crosschain/keeper/abci_test.go
  x/observer/client/cli/tx_update_gas_price_increase_flags.go
  x/observer/types/crosschain_flags.go
  x/observer/types/crosschain_flags.pb.go
  x/observer/types/message_update_gas_price_increase_flags.go
  x/observer/types/message_update_gas_price_increase_flags_test.go
Due: zetacore

add withdraw tx checks
  cmd/zetatool/ballot/ballot.go
  cmd/zetatool/ballot/bitcoin.go
  cmd/zetatool/ballot/solana.go
  cmd/zetatool/cctx/cctx_details.go
  cmd/zetatool/cctx/cctx_status.go
  cmd/zetatool/chains/evm.go
  cmd/zetatool/chains/zetachain.go
  cmd/zetatool/cli/cctx_tracker.go
  cmd/zetatool/cli/inbound_ballot.go
  cmd/zetatool/config/config.go
  cmd/zetatool/tracker/track_cctx.go
  pkg/rpc/clients_crosschain.go
  zetaclient/zetacore/tx.go
Due: zetaclient, pkg

sol withdraw and call and e2e test
  cmd/zetae2e/local/local.go
  contrib/localnet/solana/Dockerfile
  contrib/localnet/solana/connected-keypair.json
  contrib/localnet/solana/connected.so
  contrib/localnet/solana/gateway.so
  contrib/localnet/solana/start-solana.sh
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_solana_withdraw_and_call.go
  e2e/runner/setup_solana.go
  e2e/runner/solana.go
  pkg/contracts/solana/gateway.go
  pkg/contracts/solana/gateway.json
  pkg/contracts/solana/gateway_message.go
  pkg/contracts/solana/instruction.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/signer/execute.go
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient, pkg

fmt
  pkg/contracts/solana/gateway_message.go
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient, pkg

chore: changelogs v27
  changelog.md
Due: none

add chains package
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/local/evm.go
  cmd/zetae2e/local/local.go
  cmd/zetatool/ballot/ballot.go
  cmd/zetatool/ballot/solana.go
  cmd/zetatool/cctx/ballot_test.go
  cmd/zetatool/cctx/cctx_details.go
  cmd/zetatool/cctx/cctx_status.go
  cmd/zetatool/cctx/inbound.go
  cmd/zetatool/cctx/outbound.go
  cmd/zetatool/cctx/zetachain.go
  cmd/zetatool/chains/bitcoin.go
  cmd/zetatool/chains/evm.go
  cmd/zetatool/chains/solana.go
  cmd/zetatool/cli/cctx_tracker.go
  cmd/zetatool/cli/inbound_ballot.go
  cmd/zetatool/config/config.go
  cmd/zetatool/main.go
  e2e/e2etests/test_eth_deposit.go
  e2e/e2etests/test_eth_withdraw.go
Due: none

add unit test for mainnet ballots
  cmd/zetatool/cctx/cctx_details.go
  cmd/zetatool/cctx/cctx_status.go
  cmd/zetatool/cctx/inbound.go
  cmd/zetatool/cctx/inbound_test.go
  cmd/zetatool/cctx/zetachain.go
  cmd/zetatool/cli/cctx_tracker.go
  cmd/zetatool/cli/inbound_ballot.go
Due: none

feat(zetaclient): process first solana transaction faster (#3433)
  zetaclient/chains/solana/solana.go
Due: zetaclient

set GasPriorityFee to same value as GasPrice when bumping bitcoin gas fee
  x/crosschain/keeper/abci.go
  x/crosschain/keeper/abci_test.go
  x/crosschain/types/errors.go
  x/crosschain/types/message_vote_gas_price.go
  x/crosschain/types/message_vote_gas_price_test.go
Due: zetacore

chore: changelogs v27 (#3451)
  changelog.md
Due: none

chore: bump cometbft version to v0.38.17
  go.mod
  go.sum
Due: none

try gosec fork
  .github/workflows/sast-linters.yml
Due: none

try setup go
  .github/workflows/sast-linters.yml
Due: none

another test
  .github/workflows/sast-linters.yml
Due: none

push back zeta fork
  .github/workflows/sast-linters.yml
Due: none

docs(changelogs): add breaking changes for v27
  changelog.md
Due: none

Update changelog.md
  changelog.md
Due: none

docs(changelogs): add breaking changes for v27 (#3453)
  changelog.md
Due: none

chore: use v26 as reference for upgrade test
  Makefile
Due: none

chore: bump cometbft version to v0.38.17 (#3452)
  .github/workflows/sast-linters.yml
  go.mod
  go.sum
Due: none

chore: use v26 as reference for upgrade test (#3454)
  Makefile
Due: none

commit test
  pkg/constant/version_test.go
Due: pkg

fix: upgrade cometbft (v26)
  go.mod
  go.sum
Due: none

changelog
  changelog.md
Due: none

refactor(e2e): use context cancellation rather than exit/panic (#3406)
  cmd/zetae2e/balances.go
  cmd/zetae2e/bitcoin_address.go
  cmd/zetae2e/config/config.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/monitor_block_production.go
  cmd/zetae2e/run.go
  cmd/zetae2e/setup_bitcoin.go
  cmd/zetae2e/show_tss.go
  cmd/zetae2e/stress.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/e2etests/e2etests.go
  e2e/runner/e2etest.go
  e2e/runner/run.go
  e2e/runner/runner.go
Due: none

add outbound support for bitcoin and solana
  Makefile
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/local/evm.go
  cmd/zetae2e/local/local.go
  cmd/zetatool/cctx/cctx_details.go
  cmd/zetatool/cctx/inbound.go
  cmd/zetatool/cctx/outbound.go
  cmd/zetatool/cctx/zetachain.go
  cmd/zetatool/chains/bitcoin.go
  cmd/zetatool/chains/evm.go
  cmd/zetatool/chains/solana.go
  cmd/zetatool/cli/cctx_tracker.go
  cmd/zetatool/cli/inbound_ballot.go
  cmd/zetatool/context/context.go
  cmd/zetatool/main.go
  e2e/e2etests/test_eth_deposit.go
  pkg/rpc/clients_crosschain.go
  x/observer/migrations/v9/migrate.go
Due: zetacore, pkg

fix: upgrade cometbft (v26) (#3456)
  changelog.md
  cmd/zetae2e/balances.go
  cmd/zetae2e/bitcoin_address.go
  cmd/zetae2e/config/config.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/monitor_block_production.go
  cmd/zetae2e/run.go
  cmd/zetae2e/setup_bitcoin.go
  cmd/zetae2e/show_tss.go
  cmd/zetae2e/stress.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/e2etests/e2etests.go
  e2e/runner/e2etest.go
  e2e/runner/run.go
  e2e/runner/runner.go
  go.mod
  go.sum
Due: none
