Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

add tload and tstore check
  e2e/contracts/opcode/Opcode.abi
  e2e/contracts/opcode/Opcode.bin
  e2e/contracts/opcode/Opcode.go
  e2e/contracts/opcode/Opcode.json
  e2e/contracts/opcode/Opcode.sol
  e2e/e2etests/test_opcodes.go
Due: none

add function comment
  e2e/e2etests/test_opcodes.go
Due: none

update solidity code
  e2e/contracts/opcode/Opcode.bin
  e2e/contracts/opcode/Opcode.go
  e2e/contracts/opcode/Opcode.json
  e2e/contracts/opcode/Opcode.sol
Due: none

forking rpc changes
  rpc/apis.go
  rpc/backend/account_info.go
  rpc/backend/backend.go
  rpc/backend/blocks.go
  rpc/backend/call_tx.go
  rpc/backend/chain_info.go
  rpc/backend/node_info.go
  rpc/backend/sign_tx.go
  rpc/backend/tx_info.go
  rpc/backend/tx_pool.go
  rpc/backend/utils.go
  rpc/ethereum/pubsub/pubsub.go
  rpc/ethereum/pubsub/pubsub_test.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/debug/trace.go
  rpc/namespaces/ethereum/debug/trace_fallback.go
  rpc/namespaces/ethereum/debug/utils.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  rpc/namespaces/ethereum/eth/filters/filters.go
  rpc/namespaces/ethereum/eth/filters/subscription.go
  rpc/namespaces/ethereum/eth/filters/utils.go
  rpc/namespaces/ethereum/miner/api.go
  rpc/namespaces/ethereum/net/api.go
  rpc/namespaces/ethereum/txpool/api.go
  rpc/namespaces/ethereum/web3/api.go
  rpc/types/errors.go
  rpc/websockets.go
  server/flags/flags.go
  server/start.go
Due: none

add staking interface
  e2e/contracts/istaking/IStaking.abi
  e2e/contracts/istaking/IStaking.bin
  e2e/contracts/istaking/IStaking.go
  e2e/contracts/istaking/IStaking.json
  e2e/contracts/istaking/IStaking.sol
  e2e/contracts/istaking/bindings.go
Due: none

add precompile test
  e2e/e2etests/test_precompiles.go
Due: none

remove balance verification in admin tests
  cmd/zetae2e/local/local.go
Due: none

update proto files to use protoc-gen-es v2.6.3
  cmd/zetae2e/local/local.go
Due: none

fix imports
  x/fungible/keeper/zeta_test.go
Due: zetacore

add param for precompile
  contrib/localnet/scripts/start-zetacored.sh
Due: none

unit tests and ci fixes
  rpc/backend/backend.go
  rpc/backend/node_info.go
  rpc/backend/tx_info.go
  rpc/backend/tx_info_test.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/debug/trace.go
  rpc/namespaces/ethereum/debug/utils.go
  testutil/keeper/keeper.go
Due: none

ci fixes
  rpc/backend/node_info.go
  testutil/keeper/fungible.go
Due: none

gosec
  rpc/backend/node_info.go
Due: none

trigger ci
  cmd/zetae2e/local/local.go
Due: none

link issues to TODOs
  cmd/zetacored/root.go
  cmd/zetae2e/local/evm.go
  contrib/rpcimportable/go.mod
  rpc/backend/account_info_test.go
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks.go
  rpc/backend/tx_info.go
  rpc/namespaces/ethereum/eth/api.go
  simulation/simulation.go
  x/fungible/keeper/evm.go
  x/fungible/migrations/v4/migrate.go
Due: zetacore

add other precompiles
  app/app.go
  app/precompiles.go
  contrib/localnet/scripts/start-zetacored.sh
Due: none

test: add tests that reproduce the original race condition vulnerability
  zetaclient/tss/ratelimit/ratelimit_test.go
Due: zetaclient

re-enable sui authenticated call
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/sui.go
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  e2e/contracts/sui/bin/bin.go
  e2e/contracts/sui/bin/connected_legacy.mv
  e2e/contracts/sui/bin/gateway_legacy.mv
  e2e/contracts/sui/bin/token_legacy.mv
  e2e/contracts/sui/protocol-contracts-sui-upgrade-legacy/.gitignore
  e2e/contracts/sui/protocol-contracts-sui-upgrade-legacy/Move.toml
  e2e/contracts/sui/protocol-contracts-sui-upgrade-legacy/README.md
  e2e/contracts/sui/protocol-contracts-sui-upgrade-legacy/sources/evm.move
  e2e/contracts/sui/protocol-contracts-sui-upgrade-legacy/sources/gateway.move
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_sui_token_withdraw_and_call_legacy.go
  e2e/e2etests/test_sui_token_withdraw_and_call_revert_with_call_legacy.go
  e2e/e2etests/test_sui_withdraw_and_call_legacy.go
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call_legacy.go
  e2e/runner/setup_sui.go
  e2e/runner/sui.go
  e2e/runner/sui_gateway_upgrade.go
  pkg/contracts/sui/errors.go
  pkg/contracts/sui/errors_test.go
  pkg/contracts/sui/withdraw_and_call.go
  pkg/contracts/sui/withdraw_and_call_test.go
  zetaclient/chains/sui/signer/signer_test.go
  zetaclient/chains/sui/signer/signer_tx.go
  zetaclient/chains/sui/signer/tss_owned_object.go
  zetaclient/chains/sui/signer/withdraw_and_call.go
  zetaclient/chains/sui/signer/withdraw_and_call_test.go
Due: zetaclient, pkg

add core registry to zeta e2e post upgrade handler
  cmd/zetae2e/local/evm.go
  e2e/contracts/testdappv2/TestDAppV2.sol
  e2e/e2etests/test_zeta_withdraw_and_call.go
  e2e/runner/setup_zevm.go
  e2e/runner/setup_zrc20.go
  e2e/runner/upgrade.go
  e2e/runner/upgrade_v33.go
  go.mod
  go.sum
Due: none

revert legacy test
  cmd/zetae2e/local/evm.go
  e2e/e2etests/legacy/test_zeta_deposit.go
  e2e/runner/setup_evm.go
Due: none

fix: address race condition and underflow issues in RateLimiter
  zetaclient/tss/ratelimit/ratelimit.go
  zetaclient/tss/ratelimit/ratelimit_test.go
Due: zetaclient

test(e2e): add E2E test to check cancun opcodes support (#4073)
  e2e/contracts/opcode/Opcode.abi
  e2e/contracts/opcode/Opcode.bin
  e2e/contracts/opcode/Opcode.go
  e2e/contracts/opcode/Opcode.json
  e2e/contracts/opcode/Opcode.sol
  e2e/contracts/opcode/bindings.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_opcodes.go
Due: none

bump
  contrib/rpcimportable/go.mod
  go.mod
  go.sum
Due: none

update precompile interface
  e2e/contracts/istaking/IStaking.abi
  e2e/contracts/istaking/IStaking.go
  e2e/contracts/istaking/IStaking.json
  e2e/contracts/istaking/IStaking.sol
  e2e/e2etests/test_precompiles.go
Due: none

generate
  app/precompiles.go
Due: none

remove changelogs
  changelog.md
  e2e/e2etests/test_precompiles.go
Due: none

remove new line
  e2e/e2etests/e2etests.go
Due: none

review comment
  e2e/e2etests/test_precompiles.go
Due: none

bump evm
  contrib/rpcimportable/go.mod
  go.mod
  go.sum
Due: none

chore: cosmos evm latest integration (#4076)
  app/ante/interfaces.go
  app/app.go
  cmd/zetacored/root.go
  cmd/zetae2e/local/evm.go
  contrib/rpcimportable/go.mod
  go.mod
  go.sum
  rpc/apis.go
  rpc/backend/account_info.go
  rpc/backend/account_info_test.go
  rpc/backend/backend.go
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks.go
  rpc/backend/node_info.go
  rpc/backend/tx_info.go
  rpc/backend/tx_info_test.go
  rpc/backend/tx_pool.go
  rpc/backend/utils.go
  rpc/ethereum/pubsub/pubsub.go
  rpc/ethereum/pubsub/pubsub_test.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/debug/trace.go
  rpc/namespaces/ethereum/debug/trace_fallback.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  rpc/namespaces/ethereum/eth/filters/filters.go
  rpc/namespaces/ethereum/eth/filters/utils.go
  rpc/namespaces/ethereum/txpool/api.go
  rpc/types/errors.go
  rpc/websockets.go
  server/flags/flags.go
  server/start.go
  simulation/simulation.go
  testutil/keeper/fungible.go
  testutil/keeper/keeper.go
  testutil/keeper/mocks/fungible/evm.go
  x/fungible/keeper/evm.go
  x/fungible/migrations/v4/migrate.go
  x/fungible/types/expected_keepers.go
Due: zetacore

update changes based on comments 1
  changelog.md
  e2e/e2etests/test_zeta_withdraw.go
  e2e/e2etests/test_zeta_withdraw_and_arbitrary_call.go
  e2e/e2etests/test_zeta_withdraw_and_call.go
  e2e/e2etests/test_zeta_withdraw_and_call_revert.go
  e2e/e2etests/test_zeta_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_zeta_withdraw_revert_and_abort.go
  e2e/runner/zevm.go
  x/crosschain/keeper/evm_hooks_test.go
  x/crosschain/keeper/export_private_functions_test.go
  x/crosschain/keeper/v2_zevm_inbound.go
  x/crosschain/keeper/v2_zevm_inbound_test.go
Due: zetacore

temporary disable precompile in param for localnet
  contrib/localnet/scripts/start-zetacored.sh
Due: none

feat: add Cosmos EVM default precompiles support (#4077)
  app/app.go
  app/precompiles.go
  changelog.md
  contrib/localnet/scripts/start-zetacored.sh
  e2e/contracts/istaking/IStaking.abi
  e2e/contracts/istaking/IStaking.bin
  e2e/contracts/istaking/IStaking.go
  e2e/contracts/istaking/IStaking.json
  e2e/contracts/istaking/IStaking.sol
  e2e/contracts/istaking/bindings.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_precompiles.go
Due: none

chore: remove redundant words
  contrib/localnet/README.md
  testutil/simulation/matrix.go
  x/crosschain/keeper/abort.go
  zetaclient/chains/bitcoin/signer/sign.go
Due: zetacore, zetaclient

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
