Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

feat(`zetatools`): cli command to fetch inbound ballot from inbound hash and move to zetatools (#3368)
  changelog.md
  cmd/zetaclientd/inbound.go
  cmd/zetaclientd/main.go
  cmd/zetatool/config/config.go
  cmd/zetatool/config/config_test.go
  cmd/zetatool/config/sample_config.json
  cmd/zetatool/filterdeposit/btc.go
  cmd/zetatool/filterdeposit/evm.go
  cmd/zetatool/filterdeposit/filterdeposit.go
  cmd/zetatool/filterdeposit/filterdeposit_test.go
  cmd/zetatool/inbound/bitcoin.go
  cmd/zetatool/inbound/evm.go
  cmd/zetatool/inbound/inbound.go
  cmd/zetatool/inbound/solana.go
  cmd/zetatool/main.go
  docs/cli/zetatool/filterdeposit.md
  docs/cli/zetatool/readme.md
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
Due: zetaclient

improve comments
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/zevm_msg_passing.go
Due: zetacore

add check for gas price
  rpc/types/utils.go
  rpc/types/utils_test.go
Due: none

add changelog
  changelog.md
  rpc/types/utils.go
  rpc/types/utils_test.go
Due: none

improve RBF test waiting mechanism
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_bitcoin_deposit_and_withdraw_with_dust.go
  e2e/e2etests/test_bitcoin_withdraw_rbf.go
  e2e/utils/zetacore.go
Due: none

rename sample function BTCAddressP2WPKH
  testutil/sample/crypto.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/revert_options_test.go
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/signer/sign_test.go
Due: zetacore, zetaclient

rename sample function BTCAddressP2WPKH
  testutil/sample/crypto.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/revert_options_test.go
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
Due: zetacore, zetaclient

also wait for height 1 in start-zetaclientd
  contrib/localnet/scripts/start-zetaclientd.sh
  e2e/utils/zetacore.go
Due: none

move ton config to a separate package (fix cycle import)
  cmd/zetae2e/config/clients.go
  zetaclient/chains/ton/config/config.go
  zetaclient/chains/ton/liteapi/client.go
  zetaclient/chains/ton/liteapi/client_live_test.go
  zetaclient/chains/ton/observer/observer.go
Due: zetaclient

Implement TON ObserverSigner
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/inbound_test.go
  zetaclient/chains/ton/observer/observer.go
  zetaclient/chains/ton/observer/outbound.go
  zetaclient/chains/ton/observer/outbound_test.go
  zetaclient/chains/ton/signer/signer.go
  zetaclient/chains/ton/signer/signer_test.go
  zetaclient/chains/ton/ton.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/bootstrap_test.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/v2_bootstrap.go
  zetaclient/orchestrator/v2_orchestrator.go
Due: zetaclient

Update changelog
  changelog.md
Due: none

fix token field
  e2e/runner/evm.go
  e2e/runner/liquidity.go
Due: none

Fix typo
  zetaclient/orchestrator/v2_orchestrator.go
Due: zetaclient

Add todos
  zetaclient/orchestrator/v2_bootstrap_test.go
Due: zetaclient

fix compile error after merging develop in
  cmd/zetatool/inbound/bitcoin.go
  cmd/zetatool/inbound/evm.go
  cmd/zetatool/inbound/solana.go
Due: none

remove unused test and comment
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/signer/signer_test.go
Due: zetaclient

Drop mock data from eth client
  zetaclient/chains/evm/client/client.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/testutils/constant.go
  zetaclient/testutils/testrpc/rpc_evm.go
Due: zetaclient

Implement BlockByNumber2
  zetaclient/chains/evm/client/client.go
  zetaclient/chains/evm/client/client2.go
  zetaclient/chains/evm/client/client_live_test.go
  zetaclient/testutils/testrpc/rpc_evm.go
Due: zetaclient

Implement TransactionByHash2
  zetaclient/chains/evm/client/client2.go
  zetaclient/chains/evm/client/client_live_test.go
Due: zetaclient

Converge evm client interface
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/testutils/mocks/evm_rpc.go
  zetaclient/testutils/mocks/zetacore_client.go
Due: zetaclient

fix: add check for gas price (#3416)
  changelog.md
  rpc/types/utils.go
  rpc/types/utils_test.go
Due: none

add comments for SplitErrorMessage function
  pkg/errors/crosschain_error_message.go
  pkg/errors/crosschain_error_message_test.go
Due: pkg

improve parsing
  e2e/e2etests/test_operation_add_liquidity_erc20.go
  e2e/e2etests/test_operation_add_liquidity_eth.go
  e2e/e2etests/test_operation_add_liquidity_spl.go
Due: none

generate
  testutil/keeper/mocks/crosschain/fungible.go
  x/fungible/keeper/deposits_legacy_test.go
Due: zetacore

Update LICENSE
  LICENSE
Due: none

ground work
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.d.ts
  x/crosschain/types/cross_chain_tx.pb.go
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/types/event.go
  zetaclient/types/event_test.go
Due: zetaclient

add emissions simulation
  app/modules.go
  simulation/simulation_test.go
  simulation/state.go
  x/emissions/abci.go
  x/emissions/module.go
  x/emissions/module_simulation.go
  x/emissions/simulation/decoders.go
  x/emissions/simulation/operation_withdraw_emissions.go
  x/emissions/simulation/operations.go
  x/emissions/simulation/simap.go
  x/emissions/types/expected_keepers.go
  x/observer/simulation/operation_add_observer_node_account.go
  x/observer/simulation/operation_update_observer.go
Due: zetacore

remove non withness function
  zetaclient/chains/bitcoin/observer/inbound.go
Due: zetaclient

update tests
  zetaclient/chains/bitcoin/observer/inbound_test.go
Due: zetaclient

changelog
  changelog.md
Due: none

strim address from memo
  zetaclient/chains/bitcoin/observer/event.go
Due: zetaclient

add type field to CCTXerrorMessage
  pkg/errors/crosschain_error_message.go
Due: pkg

fix test
  zetaclient/chains/bitcoin/observer/event_test.go
Due: zetaclient

changelogs
  changelog.md
Due: none

Hide parsing complexity
  zetaclient/chains/evm/client/client2.go
  zetaclient/chains/evm/client/client_live_test.go
Due: zetaclient

chore: sync changelog with v26 changes
  changelog.md
Due: none

Fix Code & Unit tests
  zetaclient/chains/evm/client/client2.go
  zetaclient/chains/evm/common/validation.go
  zetaclient/chains/evm/common/validation_test.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/inbound_test.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/observer_gas.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/evm/observer/v2_inbound_tracker.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/orchestrator/v2_bootstrap.go
  zetaclient/testutils/mocks/evm_rpc.go
  zetaclient/testutils/testdata.go
  zetaclient/testutils/testrpc/rpc_evm.go
  zetaclient/testutils/types/ethrpc.go
Due: zetaclient

Drop old mock
  zetaclient/testutils/mocks/evm_json_rpc.go
Due: none

Drop github.com/onrik/ethrpc
  go.mod
  go.sum
Due: none
