Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

add #gosec G101 back because one single comment won't apply for all test names
  e2e/e2etests/e2etests.go
Due: none

enable all precompiled contracts
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_precompiles_distribute_and_claim.go
  e2e/e2etests/test_precompiles_staking_through_contract.go
Due: none

fix: Add new fields to match current convention
  e2e/runner/balances.go
  e2e/runner/ton.go
Due: none

remove hardcoded invalid sui payload message as long as it replicate execution error
  e2e/e2etests/test_sui_token_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call.go
Due: none

test: add E2E tests for Sui fungible token withdrawAndCall (#3831)
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/config/config.go
  e2e/contracts/sui/connected.mv
  e2e/contracts/sui/example/Makefile
  e2e/contracts/sui/example/Move.lock
  e2e/contracts/sui/example/connected.mv
  e2e/contracts/sui/example/sources/example.move
  e2e/contracts/sui/example/token.mv
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_sui_token_withdraw_and_call.go
  e2e/e2etests/test_sui_token_withdraw_and_call_revert_with_call.go
  e2e/runner/setup_sui.go
  e2e/runner/sui.go
Due: none

fix: Revert approvedAmount
  e2e/e2etests/test_ton_withdrawal.go
Due: none

fix: Remove duplicated code
  e2e/runner/balances.go
Due: none

fix build
  e2e/runner/balances.go
Due: none

fix: change the parameter to accept a single status value
  e2e/runner/ton.go
Due: none

fix: remove unused code
  e2e/utils/contracts.go
Due: none

fix failing e2e tests
  e2e/e2etests/test_precompiles_distribute_and_claim.go
  e2e/e2etests/test_precompiles_distribute_and_claim_through_contract.go
Due: none

cancel tx if withdrawAndCall fails in the on_call
  e2e/contracts/sui/connected.mv
  e2e/contracts/sui/example/sources/example.move
  e2e/e2etests/test_sui_token_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call.go
  e2e/runner/sui.go
  pkg/contracts/sui/errors.go
  pkg/contracts/sui/errors_test.go
  zetaclient/chains/sui/signer/signer_tx.go
Due: zetaclient, pkg

refactor: use a more modern writing style
  pkg/errors/crosschain_error_message.go
  pkg/fanout/fanout.go
Due: pkg

chore: versions JSON
  versions.json
Due: none

add changelog entry
  changelog.md
Due: none

parse solana inbounds from inner instructions
  cmd/zetae2e/local/local.go
  contrib/localnet/solana/connected.so
  contrib/localnet/solana/gateway.so
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_solana_deposit_through_program.go
  e2e/runner/solana.go
  pkg/contracts/solana/gateway.json
  pkg/contracts/solana/inbound.go
  pkg/contracts/solana/inbound_test.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/testdata/solana/chain_901_inbound_tx_result_2TH3fMqFEULjavgmYEXtQrX6qSeMwKMPPgXEmr6QRFomgpVKhj8LNJNDwyqC1dVeSBU1Av2o4TWn75PvNfjncfUH.json
Due: zetaclient, pkg

changelog
  changelog.md
Due: none

cleanup
  e2e/e2etests/e2etests.go
  zetaclient/chains/solana/observer/inbound.go
Due: zetaclient

ad readme
  cmd/zetae2e/local/local.go
  precompiles/README.md
  precompiles/precompiles.go
Due: none

update comment
  zetaclient/chains/solana/observer/inbound.go
Due: zetaclient

disable bank and staking
  changelog.md
  cmd/zetae2e/local/local.go
  docs/spec/precompiled_contracts/overview.md
  e2e/e2etests/test_precompiles_staking_through_contract.go
  precompiles/precompiles.go
Due: none

Bump go-tss
  go.mod
  go.sum
Due: none

fix unit tests
  precompiles/staking/method_get_all_validators_test.go
  precompiles/staking/method_get_shares_test.go
  precompiles/staking/method_move_stake.go
  precompiles/staking/method_move_stake_test.go
  precompiles/staking/method_stake.go
  precompiles/staking/method_stake_test.go
  precompiles/staking/method_unstake_test.go
  precompiles/staking/staking_test.go
  testutil/keeper/keeper.go
Due: none

fix withdraw failure and unit tests
  zetaclient/chains/bitcoin/signer/outbound_data.go
  zetaclient/chains/bitcoin/signer/outbound_data_test.go
Due: zetaclient

rename GetLastStuckOutbound -> LastStuckOutbound; unexport SetLastStuckOutbound
  zetaclient/chains/bitcoin/observer/db_test.go
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/mempool.go
  zetaclient/chains/bitcoin/observer/mempool_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
  zetaclient/chains/bitcoin/observer/utxos_test.go
  zetaclient/chains/bitcoin/observer/witness_test.go
  zetaclient/chains/bitcoin/signer/signer.go
Due: zetaclient

fix move stake test
  go.mod
  precompiles/staking/method_move_stake.go
  precompiles/staking/method_move_stake_test.go
  precompiles/staking/staking_test.go
Due: none

remove IncreaseIntByPercent and use IncreaseUintByPercent instead
  pkg/math/integer.go
  pkg/math/integer_test.go
  zetaclient/chains/bitcoin/client/client_rbf_test.go
  zetaclient/chains/bitcoin/client/helpers.go
  zetaclient/chains/bitcoin/client/mockgen.go
  zetaclient/chains/bitcoin/common/fee.go
  zetaclient/chains/bitcoin/common/fee_test.go
  zetaclient/chains/bitcoin/observer/gas_price.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/signer/fee_bumper.go
  zetaclient/chains/bitcoin/signer/fee_bumper_test.go
  zetaclient/chains/bitcoin/signer/outbound_data.go
  zetaclient/chains/bitcoin/signer/outbound_data_test.go
  zetaclient/chains/bitcoin/signer/sign.go
  zetaclient/chains/bitcoin/signer/sign_rbf.go
  zetaclient/chains/bitcoin/signer/sign_rbf_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/testutils/mocks/bitcoin_client.go
Due: zetaclient, pkg

use test suite
  precompiles/staking/method_claim_rewards_test.go
  precompiles/staking/method_distribute_test.go
  precompiles/staking/method_get_all_validators_test.go
  precompiles/staking/method_get_rewards_test.go
  precompiles/staking/method_get_shares_test.go
  precompiles/staking/method_get_validators_test.go
  precompiles/staking/method_move_stake_test.go
  precompiles/staking/method_stake_test.go
  precompiles/staking/method_unstake_test.go
  precompiles/staking/staking_test.go
  precompiles/types/errors.go
  precompiles/types/errors_test.go
Due: none

use same signer package for unit tests
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/signer/fee_bumper_test.go
  zetaclient/chains/bitcoin/signer/sign_rbf_test.go
  zetaclient/chains/bitcoin/signer/sign_test.go
  zetaclient/chains/bitcoin/signer/signer_test.go
Due: zetaclient

unexport FetchFeeBumpInfo
  zetaclient/chains/bitcoin/signer/fee_bumper.go
  zetaclient/chains/bitcoin/signer/fee_bumper_test.go
Due: zetaclient

add minimum version to e2e tests for precompiled contracts
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/e2etests/e2etests.go
Due: none

have GetTotalMempoolParentsSizeNFees return a struct; add function IsTxNotInMempoolErr to wrap reusable logic
  zetaclient/chains/bitcoin/client/commands.go
  zetaclient/chains/bitcoin/client/helpers.go
  zetaclient/chains/bitcoin/client/mockgen.go
  zetaclient/chains/bitcoin/observer/mempool.go
  zetaclient/chains/bitcoin/signer/fee_bumper.go
  zetaclient/chains/bitcoin/signer/fee_bumper_test.go
  zetaclient/chains/bitcoin/signer/sign_rbf.go
  zetaclient/chains/bitcoin/signer/sign_rbf_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/testutils/mocks/bitcoin_client.go
Due: zetaclient

move timeout handling into context
  zetaclient/chains/bitcoin/client/helpers.go
  zetaclient/chains/bitcoin/client/mockgen.go
  zetaclient/chains/bitcoin/signer/fee_bumper.go
  zetaclient/chains/bitcoin/signer/fee_bumper_test.go
  zetaclient/chains/bitcoin/signer/sign_rbf_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/testutils/mocks/bitcoin_client.go
Due: zetaclient

have BumpTxFee return a result struct BumpResult
  zetaclient/chains/bitcoin/signer/fee_bumper.go
  zetaclient/chains/bitcoin/signer/fee_bumper_test.go
  zetaclient/chains/bitcoin/signer/sign_rbf.go
Due: zetaclient

unexport fee bumper fields
  zetaclient/chains/bitcoin/signer/fee_bumper.go
  zetaclient/chains/bitcoin/signer/fee_bumper_test.go
  zetaclient/chains/bitcoin/signer/sign_rbf.go
Due: zetaclient

remove Live prefix from live tests as we already have the env flag to disable these tests
  zetaclient/chains/bitcoin/client/client_rbf_test.go
  zetaclient/chains/solana/rpc/rpc_live_test.go
Due: zetaclient

wrap live tests function into test runners so IDE can identify the tests
  zetaclient/chains/bitcoin/client/client_rbf_test.go
  zetaclient/chains/solana/rpc/rpc_live_test.go
Due: zetaclient

add comment to the disabled Bitcoin RBF E2E test for clarity
  cmd/zetae2e/local/bitcoin.go
  e2e/e2etests/test_bitcoin_withdraw_rbf.go
Due: none

fix get_rewards query
  e2e/e2etests/test_precompiles_distribute_and_claim.go
  e2e/e2etests/test_precompiles_distribute_and_claim_through_contract.go
  precompiles/staking/method_get_rewards.go
  precompiles/staking/method_get_rewards_test.go
Due: none

use instruction index for event index
  cmd/zetatool/chains/solana.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
Due: zetaclient
