Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

fixes after merge
  pkg/contracts/solana/inbound.go
  pkg/contracts/solana/instruction.go
Due: pkg

changelog
  changelog.md
  pkg/contracts/solana/instruction.go
Due: pkg

parse withdraw payload
  pkg/contracts/sui/withdrawal.go
  pkg/contracts/sui/withdrawal_test.go
Due: pkg

Remove TestWIP function.
  e2e/runner/ton/accounts_test.go
Due: none

remove unused import
  e2e/runner/ton/accounts_test.go
Due: none

Remove TestWIP
  e2e/e2etests/e2etests.go
Due: none

Remove duplicated messages
  e2e/runner/balances.go
Due: none

initiate Sui rejected withdraw E2E test
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call.go
  e2e/runner/sui.go
  pkg/contracts/sui/gateway.go
  zetaclient/chains/sui/client/client.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/signer/signer_tracker.go
  zetaclient/chains/sui/signer/signer_tx.go
Due: zetaclient, pkg

prepare withdraw and call and add payload parsing
  pkg/contracts/sui/withdrawal.go
  zetaclient/chains/sui/signer/payload.go
  zetaclient/chains/sui/signer/payload_test.go
  zetaclient/chains/sui/signer/signer_tx.go
Due: zetaclient, pkg

initialize withdraw and call test
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_sui_withdraw_and_call.go
  e2e/runner/sui.go
Due: none

add format payload function
  e2e/runner/sui.go
  pkg/contracts/sui/payload.go
  pkg/contracts/sui/payload_test.go
  zetaclient/chains/sui/signer/payload.go
  zetaclient/chains/sui/signer/payload_test.go
  zetaclient/chains/sui/signer/signer_tx.go
Due: zetaclient, pkg

changelog
  changelog.md
  e2e/runner/sui.go
Due: none

fix parse inbound tests
  pkg/contracts/solana/inbound_test.go
  pkg/contracts/solana/testdata/22s5ERRRZmZXAuDMRdwUU33VnWZ7m8NHUZM6hyLH52JQPz5R7mXEkFcvHx88ujq3xDnt3z7sZdZ21JK2FC7vPw1o.json
  pkg/contracts/solana/testdata/2GxBKbLxsLC25n4EojhiHxXM26rS4AjFFR3z1vZmmoFXYYxu2U6HBtmp8tBfmPe2JosKRPHvFaQMUQzuGav2ZQSv.json
  pkg/contracts/solana/testdata/3M6UAi5siEjcM25ZfCdHCxHtpfD4UhFncBLckQjYGwJMgzYXvUGgQGCpT19irMGAp7uwVV1SGqqMj8f4UhbXYHZL.json
  pkg/contracts/solana/testdata/5MiGNYQGLfeNf7SYGbR9Rocs2Bya3pDaL3c78CYK5mBHqfbNdDyv4UwGYZFQHrmuo8GZh8rSWYaapoTiKZjE5jsZ.json
  pkg/contracts/solana/testdata/5b7ShhHf8dvUjUBHgMvgH8FFqpfAd7vAGygZLaeNPhugXtY5fatPSACVkn13o7sw6Awob8EJnrwAuiKYqvi7ZkHa.json
  pkg/contracts/solana/testdata/5bXSQaq6BY1WhhF3Qm4pLHXxuyM9Mz1MrdMeoCFbimxw4uv11raQgAj4HGULPEQExPKB231rMhm6666dQMwf9fNN.json
  pkg/contracts/solana/testdata/8UeJoxY6RbMg6bffsUtZ9f79vSnd4HCRdk5EQgNbAEDYQWXNraiKDtGDZBLp91oyF5eQyWdv6pEwW1vcitiB4px.json
  pkg/contracts/solana/testdata/QSoSLxcJAFAzxWnHVJ4s2d5k2LyjC83YaLwbMUHYcEvVnCfERsowNb6Nj55GiTXNTbNF9fzF5F8JHUEpAGMrV5k.json
  pkg/contracts/solana/testdata/SPMngkuRWvmgbrWrhbYJvN4uvFeQco8RNxdAPniTsRRpJxzDoSRJqzVeBrPqtCBYVnMm1GQd53Vkkc5FHSc8HJ3.json
Due: pkg

fix observer inbound tests
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/testdata/solana/chain_901_inbound_tx_result_24GzWsxYCFcwwJ2rzAsWwWC85aYKot6Rz3jWnBP1GvoAg5A9f1WinYyvyKseYM52q6i3EkotZdJuQomGGq5oxRYr.json
  zetaclient/testdata/solana/chain_901_inbound_tx_result_QSoSLxcJAFAzxWnHVJ4s2d5k2LyjC83YaLwbMUHYcEvVnCfERsowNb6Nj55GiTXNTbNF9fzF5F8JHUEpAGMrV5k.json
Due: zetaclient

fix parsing
  cmd/zetae2e/local/local.go
  e2e/runner/sui.go
  pkg/contracts/sui/payload_test.go
Due: pkg

improve testing
  pkg/contracts/sui/payload_test.go
Due: pkg

change returns
  zetaclient/chains/sui/signer/signer_tx.go
Due: zetaclient

clean up nonce faking; comment out tx simulation
  zetaclient/chains/sui/signer/signer_tx.go
Due: zetaclient

add abort address to revert options
  changelog.md
  contrib/localnet/solana/gateway.so
  pkg/contracts/solana/gateway.json
  pkg/contracts/solana/instruction.go
  x/crosschain/types/revert_options.go
Due: zetacore, pkg

update mock
  zetaclient/chains/sui/signer/signer.go
  zetaclient/testutils/mocks/sui_client.go
  zetaclient/testutils/mocks/sui_gen.go
Due: zetaclient

check function
  zetaclient/chains/sui/signer/verifications.go
  zetaclient/chains/sui/signer/verifications_test.go
Due: zetaclient

add revert address to solana deposit and call revert e2e test
  cmd/zetae2e/local/performance.go
  e2e/e2etests/test_solana_deposit.go
  e2e/e2etests/test_solana_deposit_and_call_revert.go
  e2e/e2etests/test_solana_deposit_and_call_revert_with_dust.go
  e2e/e2etests/test_solana_deposit_call.go
  e2e/e2etests/test_solana_deposit_restricted_address.go
  e2e/e2etests/test_stress_solana_deposit.go
  e2e/runner/solana.go
  x/crosschain/types/cctx.go
  x/crosschain/types/revert_options.go
  x/crosschain/types/revert_options_test.go
Due: zetacore

fix e2e tests
  e2e/e2etests/test_solana_deposit_and_call_revert.go
  e2e/runner/solana.go
  pkg/contracts/solana/inbound_test.go
Due: pkg

Bump go-tss
  go.mod
  go.sum
Due: none

refactor(e2e): sign bitcoin transactions locally
  cmd/zetae2e/bitcoin_address.go
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/run.go
  e2e/e2etests/test_bitcoin_deposit_and_call_revert.go
  e2e/e2etests/test_bitcoin_deposit_and_call_revert_with_dust.go
  e2e/e2etests/test_bitcoin_deposit_and_withdraw_with_dust.go
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/e2etests/test_bitcoin_deposit_invalid_memo_revert.go
  e2e/e2etests/test_bitcoin_donation.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call_revert.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call_revert_other_address.go
  e2e/e2etests/test_bitcoin_std_memo_inscribed_deposit_and_call.go
  e2e/e2etests/test_bitcoin_withdraw_segwit.go
  e2e/e2etests/test_crosschain_swap.go
  e2e/e2etests/test_stress_btc_withdraw.go
  e2e/runner/balances.go
  e2e/runner/bitcoin.go
  e2e/runner/runner.go
  e2e/runner/setup_bitcoin.go
  zetaclient/chains/bitcoin/client/commands.go
  zetaclient/chains/bitcoin/client/mockgen.go
Due: zetaclient

deposit in withdraw routine to fund
  cmd/zetae2e/local/bitcoin.go
Due: none

increase btc_deposit default to cover withdraw tests
  e2e/e2etests/e2etests.go
  e2e/e2etests/helpers.go
Due: none

Also remove CreateRawTransaction RPC and ensure deposited values actually match
  e2e/e2etests/test_bitcoin_deposit.go
  e2e/runner/bitcoin.go
  zetaclient/chains/bitcoin/client/commands.go
  zetaclient/chains/bitcoin/client/mockgen.go
Due: zetaclient

fake out execute tx to allow E2E test pass
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call.go
  pkg/contracts/sui/gateway.go
  pkg/contracts/sui/nonce_increase.go
  pkg/contracts/sui/withdrawal.go
  zetaclient/chains/sui/client/client.go
  zetaclient/chains/sui/observer/outbound.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/signer/signer_tx.go
  zetaclient/testutils/mocks/sui_client.go
  zetaclient/testutils/mocks/sui_gen.go
Due: zetaclient, pkg

feedback
  e2e/runner/setup_bitcoin.go
Due: none

chore(e2e): print stack trace on nil dereference (#3751)
  e2e/runner/run.go
Due: none

refactor based on comments
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/observer/params.proto
  typescript/zetachain/zetacore/observer/params_pb.d.ts
  x/crosschain/keeper/export_private_functions_test.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/observer/types/params.pb.go
Due: zetacore

improve fallback tx error handling
  contrib/localnet/solana/connected.so
  contrib/localnet/solana/connected_spl.so
  e2e/e2etests/test_solana_withdraw_and_call_revert_with_call.go
  pkg/contracts/solana/instruction.go
  pkg/contracts/solana/instruction_test.go
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient, pkg

extend unit test
  pkg/contracts/solana/instruction_test.go
Due: pkg

update foreign coin
  x/fungible/keeper/msg_server_update_zrc20_name.go
  x/fungible/keeper/msg_server_update_zrc20_name_test.go
Due: zetacore

e2e test
  e2e/e2etests/test_update_zrc20_name.go
Due: none

Remove not required wallet address
  e2e/runner/balances.go
Due: none

changelog
  changelog.md
Due: none

go generate
  zetaclient/testutils/mocks/bitcoin_client.go
Due: none
