Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      common:
        if_ci_failed: error
        target: 60%
        flags:
          - common

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    carryforward: true
    paths:
      - "x/"
  zetaclient:
    carryforward: true
    paths:
      - "zetaclient/"
  common:
    carryforward: true
    paths:
      - "common/"

ignore:
  - "x/**/client/"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - "*.pb.gw.go"
  - "*.json"
  - ".github/"
  - "app/"
  - "cmd/"
  - "contrib/"
  - "docs/"
  - "rpc/"
  - "proto/"
  - "scripts/"
  - "server/"
  - "testutil/"
  - "typescript/"

refactor crosschain tests
  x/crosschain/keeper/gas_payment_test.go
  x/crosschain/keeper/msg_server_add_to_intx_tracker_test.go
  x/crosschain/keeper/msg_server_add_to_outtx_tracker_test.go
  x/crosschain/keeper/msg_server_migrate_tss_funds_test.go
  x/crosschain/keeper/msg_server_refund_aborted_tx_test.go
  x/crosschain/keeper/msg_server_update_tss_test.go
  x/crosschain/keeper/msg_server_whitelist_erc20_test.go
  x/fungible/keeper/msg_server_update_zrc20_withdraw_fee.go
Due: zetacore

add governance address for message
  app/app.go
  docs/spec/authority/messages.md
  docs/spec/crosschain/messages.md
  docs/spec/fungible/messages.md
  proto/authority/tx.proto
  testutil/keeper/authority.go
  typescript/authority/tx_pb.d.ts
  x/authority/keeper/keeper.go
  x/authority/keeper/msg_server_update_policies.go
  x/authority/keeper/msg_server_update_policies_test.go
  x/authority/types/message_update_policies.go
  x/authority/types/tx.pb.go
  x/crosschain/keeper/gas_payment_test.go
  x/crosschain/keeper/msg_server_update_tss.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
  x/crosschain/keeper/msg_server_whitelist_erc20_test.go
Due: zetacore

docker improvements
  changelog.md
Due: none

delay dynamic depositor fee upgrade by 2 weeks
  zetaclient/bitcoin/bitcoin_client.go
Due: zetaclient

docker improvements
  Makefile
  contrib/athens3/zetacored/docker-compose.yml
  contrib/mainnet/zetacored/docker-compose.yml
  readme.md
Due: none

docker improvements
  Makefile
  contrib/athens3/zetacored/docker-compose.yml
  contrib/mainnet/bitcoind/docker-compose.yml
  contrib/mainnet/zetacored/docker-compose.yml
Due: none

replace map with a list
  x/crosschain/migrations/v5/migrate.go
Due: zetacore

add changelog entry
  changelog.md
Due: none

fix tryprocessout test case
  zetaclient/evm/evm_signer.go
  zetaclient/evm/evm_signer_test.go
  zetaclient/testdata/cctx/cctx_56_68270.json
Due: zetaclient

set mainnet btc deposit fee height to future height (#1818)
  zetaclient/bitcoin/bitcoin_client.go
Due: zetaclient

add nosec directives
  x/crosschain/migrations/v5/migrate.go
Due: zetacore

complete evm_signer test cases and remove hardcoded private key
  zetaclient/evm/evm_signer.go
  zetaclient/evm/evm_signer_test.go
  zetaclient/testutils/mock/mock_tss_signer.go
Due: zetaclient

make generate and lint
  zetaclient/evm/evm_signer_test.go
Due: zetaclient

print error in mock tss signer
  zetaclient/testutils/mock/mock_tss_signer.go
Due: zetaclient

integrate develop changes and fix test cases
  zetaclient/config/types.go
  zetaclient/evm/evm_signer_test.go
Due: zetaclient

ran go imports
  zetaclient/evm/evm_signer_test.go
Due: zetaclient

removed unnecessary tests and made bitcoin withdrawal to restricted address a separate test
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/local/erc20.go
  cmd/zetae2e/local/ethereum.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_bitcoin_withdraw.go
Due: none

fix e2e tests
  contrib/localnet/scripts/start-zetacored.sh
Due: none

add breaking change changelogs
  changelog.md
Due: none

goimport
  x/observer/migrations/v7/migrate_test.go
Due: zetacore

Fix runner args bug
  e2e/runner/runner.go
Due: none

Add default args for most of the e2e tests
  cmd/zetae2e/list_tests.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_bitcoin_deposit.go
  e2e/e2etests/test_bitcoin_withdraw.go
  e2e/e2etests/test_context.go
  e2e/e2etests/test_donation.go
  e2e/e2etests/test_erc20_deposit.go
  e2e/e2etests/test_erc20_multiple_deposits.go
  e2e/e2etests/test_erc20_multiple_withdraws.go
  e2e/e2etests/test_erc20_withdraw.go
  e2e/e2etests/test_eth_deposit.go
  e2e/e2etests/test_eth_withdraw.go
  e2e/e2etests/test_stress_btc_deposit.go
  e2e/e2etests/test_stress_btc_withdraw.go
  e2e/e2etests/test_stress_eth_deposit.go
  e2e/e2etests/test_stress_eth_withdraw.go
  e2e/e2etests/test_zeta_deposit.go
  e2e/e2etests/test_zeta_withdraw.go
Due: none

Add default args for message passing tests
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_message_passing.go
Due: none

updated binary download script
  contrib/docker-scripts/download_binaries.py
Due: none

Fix multiple withdrawals test
  e2e/e2etests/test_erc20_multiple_withdraws.go
Due: none

made OFAC tests separate and moved them to bottom of list
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/local/erc20.go
  cmd/zetae2e/local/ethereum.go
  cmd/zetae2e/local/utils.go
  cmd/zetae2e/local/zeta.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_erc20_deposit.go
  e2e/e2etests/test_zeta_deposit.go
Due: none

Fix sat conversion
  e2e/e2etests/test_bitcoin_withdraw.go
  e2e/e2etests/test_stress_btc_withdraw.go
Due: none

updated binary download script
  contrib/docker-scripts/download_binaries.py
  contrib/mainnet/zetacored/docker-compose.yml
Due: none

remove the patch that is no longer needed
  contrib/docker-scripts/start.sh
Due: none

remove tmux
  Dockerfile
Due: none

fix typo
  contrib/athens3/zetacored/docker-compose.yml
Due: none

refactor: zetaclient metrics (#1783)
  changelog.md
  cmd/zetaclientd/keygen_tss.go
  cmd/zetaclientd/start.go
  cmd/zetaclientd/utils.go
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/bitcoin/bitcoin_client_rpc_test.go
  zetaclient/evm/evm_client.go
  zetaclient/interfaces/interfaces.go
  zetaclient/metrics/chainmetrics.go
  zetaclient/metrics/metrics.go
  zetaclient/metrics/metrics_test.go
  zetaclient/tss/tss_signer.go
  zetaclient/zetacore_observer.go
Due: zetaclient

ci: run build workflow on develop push for code coverage generation (#1793)
  .github/workflows/build.yml
Due: none

test: emissions unit test (#1767)
  changelog.md
  testutil/keeper/emissions.go
  testutil/keeper/keeper.go
  testutil/keeper/mocks/crosschain/bank.go
  testutil/keeper/mocks/crosschain/fungible.go
  testutil/keeper/mocks/crosschain/observer.go
  testutil/keeper/mocks/crosschain/staking.go
  testutil/keeper/mocks/emissions/account.go
  testutil/keeper/mocks/emissions/bank.go
  testutil/keeper/mocks/emissions/observer.go
  testutil/keeper/mocks/emissions/staking.go
  testutil/keeper/mocks/fungible/account.go
  testutil/keeper/mocks/fungible/bank.go
  testutil/keeper/mocks/fungible/evm.go
  testutil/keeper/mocks/fungible/observer.go
  testutil/keeper/mocks/mocks.go
  testutil/sample/observer.go
  testutil/sample/sample.go
  x/emissions/abci.go
  x/emissions/abci_test.go
  x/emissions/genesis_test.go
  x/emissions/keeper/params_test.go
Due: zetacore

remove unused comment
  cmd/zetae2e/config/clients.go
Due: none

chore(codecov.yml): fix ignore extension (#1814)
  changelog.md
  codecov.yml
Due: none

feat: initiated feature of zetaclient-restricted-address (#1790)
  changelog.md
  cmd/zetaclientd/init.go
  cmd/zetaclientd/main.go
  cmd/zetaclientd/start.go
  cmd/zetaclientd/utils.go
  common/utils.go
  x/crosschain/keeper/evm_deposit.go
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/bitcoin/bitcoin_client_rpc_test.go
  zetaclient/bitcoin/bitcoin_client_test.go
  zetaclient/bitcoin/bitcoin_signer.go
  zetaclient/bitcoin/bitcoin_signer_test.go
  zetaclient/bitcoin/inbound_tracker.go
  zetaclient/bitcoin/utils.go
  zetaclient/bitcoin/utils_test.go
  zetaclient/common/utils.go
  zetaclient/common/utils_test.go
  zetaclient/config/config.go
  zetaclient/config/types.go
  zetaclient/evm/evm_client.go
  zetaclient/evm/evm_client_test.go
  zetaclient/evm/evm_signer.go
  zetaclient/evm/inbounds.go
  zetaclient/evm/inbounds_test.go
  zetaclient/interfaces/interfaces.go
  zetaclient/testdata/btc/block_mempool.space_8332_828440.json
  zetaclient/testdata/btc/block_trimmed_8332_828440.json
  zetaclient/testdata/btc/outtx_8332_148_raw_result.json
  zetaclient/testdata/cctx/cctx_1_6270.json
  zetaclient/testdata/cctx/cctx_8332_148.json
  zetaclient/testdata/evm/chain_1_receipt_ZetaSent_0xf3935200c80f98502d5edc7e871ffc40ca898e134525c42c2ae3cbc5725f9d76.json
  zetaclient/testutils/constant.go
  zetaclient/testutils/mock.go
  zetaclient/testutils/utils.go
  zetaclient/zetacore_observer.go
Due: zetacore, zetaclient, common

refactor: remove params from config and introduce app context (#1774)
  changelog.md
  cmd/zetaclientd/debug.go
  cmd/zetaclientd/keygen_tss.go
  cmd/zetaclientd/start.go
  cmd/zetaclientd/start_utils.go
  cmd/zetaclientd/utils.go
  zetaclient/app_context/app_context.go
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/bitcoin/bitcoin_client_rpc_test.go
  zetaclient/config/config.go
  zetaclient/config/config_chain.go
  zetaclient/config/types.go
  zetaclient/core_context/zeta_core_context.go
  zetaclient/evm/evm_client.go
  zetaclient/evm/inbounds.go
  zetaclient/supplychecker/zeta_supply_checker.go
  zetaclient/tss/tss_signer.go
  zetaclient/zetabridge/tx.go
  zetaclient/zetabridge/zetacore_bridge.go
  zetaclient/zetacore_observer.go
Due: zetaclient
