Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

fix zetaclient
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/evm/evm_client.go
  zetaclient/interfaces/interfaces.go
  zetaclient/testutils/stub/core_bridge.go
  zetaclient/zetabridge/query.go
  zetaclient/zetabridge/query_test.go
Due: zetaclient

add breaking changes
  changelog.md
Due: none

Fixes
  e2e/txserver/zeta_tx_server.go
Due: none

Changelog
  changelog.md
Due: none

add more entry in breaking changes
  changelog.md
Due: none

add verification flags in zetaclient
  testutil/sample/lightclient.go
  x/observer/types/crosschain_flags.go
  zetaclient/core_context/zeta_core_context.go
  zetaclient/core_context/zeta_core_context_test.go
  zetaclient/zetabridge/query.go
  zetaclient/zetabridge/query_test.go
  zetaclient/zetabridge/zetacore_bridge.go
  zetaclient/zetacore_observer_test.go
Due: zetacore, zetaclient

PR comments
  changelog.md
  e2e/txserver/zeta_tx_server.go
Due: none

Lint fix
  e2e/txserver/zeta_tx_server.go
Due: none

Remove unused params from fungible module
  app/app.go
  proto/fungible/genesis.proto
  proto/fungible/params.proto
  proto/fungible/query.proto
  testutil/keeper/crosschain.go
  testutil/keeper/fungible.go
  x/crosschain/keeper/keeper.go
  x/fungible/client/cli/query.go
  x/fungible/client/cli/query_params.go
  x/fungible/genesis.go
  x/fungible/genesis_test.go
  x/fungible/keeper/grpc_query_params.go
  x/fungible/keeper/grpc_query_params_test.go
  x/fungible/keeper/keeper.go
  x/fungible/keeper/params.go
  x/fungible/keeper/params_test.go
  x/fungible/module_simulation.go
  x/fungible/types/genesis.go
  x/fungible/types/genesis.pb.go
  x/fungible/types/params.go
  x/fungible/types/params.pb.go
  x/fungible/types/query.pb.go
  x/fungible/types/query.pb.gw.go
Due: zetacore

Make generate
  docs/cli/zetacored/zetacored_query_fungible.md
  docs/cli/zetacored/zetacored_query_fungible_params.md
  docs/openapi/openapi.swagger.yaml
  typescript/fungible/genesis_pb.d.ts
  typescript/fungible/index.d.ts
  typescript/fungible/params_pb.d.ts
  typescript/fungible/query_pb.d.ts
Due: none

Lint fix
  testutil/keeper/crosschain.go
  testutil/keeper/fungible.go
Due: none

Lint fix
  x/crosschain/keeper/keeper.go
Due: none

add evm unit tests
  cmd/zetae2e/config/contracts.go
  e2e/e2etests/test_zeta_withdraw.go
  e2e/runner/runner.go
  e2e/runner/setup_zeta.go
  go.mod
  go.sum
  testutil/contracts/Dapp.abi
  testutil/contracts/Dapp.bin
  testutil/contracts/Dapp.go
  testutil/contracts/Dapp.json
  testutil/contracts/Dapp.sol
  testutil/contracts/Depositor.bin
  testutil/contracts/Depositor.go
  testutil/contracts/Depositor.json
  testutil/contracts/Example.bin
  testutil/contracts/Example.go
  testutil/contracts/Example.json
  testutil/contracts/Reverter.bin
  testutil/contracts/Reverter.go
  testutil/contracts/Reverter.json
  testutil/contracts/Withdrawer.bin
  testutil/contracts/Withdrawer.go
  testutil/contracts/Withdrawer.json
  testutil/contracts/bindings.go
  x/crosschain/keeper/evm_hooks.go
  x/fungible/keeper/deposits.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/evm_test.go
Due: zetacore

add unit tests for ZevmOnReceive and ZevmOnRevert
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/fungible/keeper/deposits.go
  x/fungible/keeper/deposits_test.go
  x/fungible/keeper/evm_test.go
  x/fungible/keeper/zevm_message_passing_test.go
  x/fungible/keeper/zevm_msg_passing.go
  x/fungible/types/errors.go
Due: zetacore

add unit tests for reverts
  testutil/contracts/Dapp.bin
  testutil/contracts/Dapp.go
  testutil/contracts/Dapp.json
  testutil/contracts/Dapp.sol
  testutil/contracts/DappReverter.abi
  testutil/contracts/DappReverter.bin
  testutil/contracts/DappReverter.go
  testutil/contracts/DappReverter.json
  testutil/contracts/DappReverter.sol
  testutil/contracts/bindings.go
  x/fungible/keeper/evm_test.go
  x/fungible/keeper/zevm_message_passing_test.go
Due: zetacore

read verification flags in zetaclient
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/core_context/zeta_core_context.go
  zetaclient/evm/evm_client.go
Due: zetaclient

set verification flags in e2e tests
  cmd/zetae2e/local/local.go
  e2e/runner/setup_zeta.go
  e2e/txserver/zeta_tx_server.go
Due: none

make generate
  e2e/txserver/zeta_tx_server.go
Due: none

fix tests
  zetaclient/core_context/zeta_core_context_test.go
Due: zetaclient

fix bridge test
  zetaclient/zetabridge/query_test.go
  zetaclient/zetabridge/tx_test.go
Due: zetaclient

feat: add Amoy testnet chain ID
  docs/openapi/openapi.swagger.yaml
  pkg/chains/chain.go
  pkg/chains/chains.go
  pkg/chains/chains.pb.go
  pkg/chains/chains_test.go
  proto/pkg/chains/chains.proto
  typescript/pkg/chains/chains_pb.d.ts
Due: none

fix changelogs
  changelog.md
Due: none

rename zrc20 bytecode update
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_update_bytecode_zrc20.go
Due: none

connector test contract
  e2e/contracts/testconnectorzevm/TestZetaConnectorZEVM.abi
  e2e/contracts/testconnectorzevm/TestZetaConnectorZEVM.bin
  e2e/contracts/testconnectorzevm/TestZetaConnectorZEVM.go
  e2e/contracts/testconnectorzevm/TestZetaConnectorZEVM.json
  e2e/contracts/testconnectorzevm/TestZetaConnectorZEVM.sol
  e2e/contracts/testconnectorzevm/bindings.go
Due: none

e2e test
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_update_bytecode_connector.go
Due: none

fix some runtime issues
  cmd/zetaclientd/start_utils.go
  zetaclient/evm/evm_client.go
  zetaclient/evm/evm_rpc_fallback.go
  zetaclient/evm/evm_signer.go
  zetaclient/evm/evm_signer_test.go
  zetaclient/evm/inbounds_test.go
  zetaclient/testutils/stub/evm_json_rpc.go
  zetaclient/testutils/stub/evm_rpc.go
Due: zetaclient

changes to evm deposti
  x/crosschain/keeper/evm_deposit.go
  x/crosschain/types/expected_keepers.go
  x/fungible/keeper/zevm_message_passing_test.go
  x/fungible/keeper/zevm_msg_passing.go
Due: zetacore

Migrate emissions params to store
  app/app.go
  app/setup_handlers.go
  proto/emissions/tx.proto
  testutil/keeper/emissions.go
  x/emissions/exported/exported.go
  x/emissions/keeper/keeper.go
  x/emissions/keeper/migrator.go
  x/emissions/keeper/msg_server_update_params.go
  x/emissions/keeper/params.go
  x/emissions/migrations/v3/migrate.go
  x/emissions/migrations/v3/migrate_test.go
  x/emissions/module.go
  x/emissions/types/keys.go
  x/emissions/types/message_update_params.go
  x/emissions/types/params.go
  x/emissions/types/params_legacy.go
  x/emissions/types/params_test.go
  x/emissions/types/tx.pb.go
  x/fungible/types/codec.go
Due: zetacore

simplified IsSendOutTxProcessed() method and added unit tests
  changelog.md
  cmd/zetaclientd/debug.go
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/evm/evm_client.go
  zetaclient/evm/evm_client_test.go
  zetaclient/evm/inbounds.go
  zetaclient/evm/inbounds_test.go
  zetaclient/evm/outbound_transaction_data.go
  zetaclient/evm/outbounds.go
  zetaclient/evm/outbounds_test.go
  zetaclient/interfaces/interfaces.go
  zetaclient/testdata/cctx/cctx_1337_14.json
  zetaclient/testdata/cctx/cctx_1_8014.json
  zetaclient/testdata/cctx/cctx_1_9718.json
  zetaclient/testdata/evm/chain_1337_outtx_Zeta_0x1487e6a31dd430306667250b72bf15b8390b73108b69f3de5c1b2efe456036a7.json
  zetaclient/testdata/evm/chain_1337_outtx_receipt_Zeta_ZetaReverted_0x1487e6a31dd430306667250b72bf15b8390b73108b69f3de5c1b2efe456036a7.json
  zetaclient/testdata/evm/chain_1_outtx_ERC20_0xd2eba7ac3da1b62800165414ea4bcaf69a3b0fb9b13a0fc32f4be11bfef79146.json
  zetaclient/testdata/evm/chain_1_outtx_Zeta_0x81342051b8a85072d3e3771c1a57c7bdb5318e8caf37f5a687b7a91e50a7257f.json
  zetaclient/testdata/evm/chain_1_outtx_receipt_ERC20_Withdrawn_0xd2eba7ac3da1b62800165414ea4bcaf69a3b0fb9b13a0fc32f4be11bfef79146.json
  zetaclient/testdata/evm/chain_1_outtx_receipt_Zeta_ZetaReceived_0x81342051b8a85072d3e3771c1a57c7bdb5318e8caf37f5a687b7a91e50a7257f.json
  zetaclient/testutils/constant.go
  zetaclient/testutils/stub/chain_client.go
  zetaclient/testutils/stub/core_bridge.go
  zetaclient/testutils/testdata.go
  zetaclient/testutils/testdata_naming.go
  zetaclient/zetabridge/tx.go
  zetaclient/zetacore_observer.go
Due: zetaclient

fix unit test
  zetaclient/zetabridge/tx_test.go
Due: zetaclient

refactor call to use connector for deposit to contract
  testutil/keeper/mocks/crosschain/fungible.go
  x/crosschain/keeper/evm_deposit.go
  x/crosschain/keeper/evm_deposit_test.go
  x/crosschain/types/expected_keepers.go
  x/fungible/keeper/deposits_test.go
  x/fungible/keeper/zevm_message_passing_test.go
  x/fungible/keeper/zevm_msg_passing.go
Due: zetacore

fix unit tests for ZEVMdeposit
  x/crosschain/keeper/msg_server_vote_inbound_tx_test.go
  x/crosschain/keeper/process_inbound_test.go
  x/fungible/keeper/deposits_test.go
  x/fungible/keeper/zevm_message_passing_test.go
Due: zetacore

refactor: remove fungible params (#2004)
  app/app.go
  changelog.md
  docs/cli/zetacored/zetacored_query_fungible.md
  docs/cli/zetacored/zetacored_query_fungible_params.md
  docs/openapi/openapi.swagger.yaml
  proto/fungible/genesis.proto
  proto/fungible/params.proto
  proto/fungible/query.proto
  testutil/keeper/crosschain.go
  testutil/keeper/fungible.go
  typescript/fungible/genesis_pb.d.ts
  typescript/fungible/index.d.ts
  typescript/fungible/params_pb.d.ts
  typescript/fungible/query_pb.d.ts
  x/crosschain/keeper/keeper.go
  x/fungible/client/cli/query.go
  x/fungible/client/cli/query_params.go
  x/fungible/genesis.go
  x/fungible/genesis_test.go
  x/fungible/keeper/grpc_query_params.go
  x/fungible/keeper/grpc_query_params_test.go
  x/fungible/keeper/keeper.go
  x/fungible/keeper/params.go
  x/fungible/keeper/params_test.go
  x/fungible/module_simulation.go
  x/fungible/types/genesis.go
  x/fungible/types/genesis.pb.go
  x/fungible/types/params.go
  x/fungible/types/params.pb.go
  x/fungible/types/query.pb.go
  x/fungible/types/query.pb.gw.go
Due: zetacore

fix and improve test
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_update_bytecode_connector.go
Due: none

changelog
  changelog.md
Due: none

comments
  app/app.go
  cmd/zetae2e/balances.go
  cmd/zetae2e/bitcoin_address.go
  cmd/zetae2e/local/accounts.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/utils.go
  cmd/zetae2e/run.go
  cmd/zetae2e/setup_bitcoin.go
  cmd/zetae2e/show_tss.go
  cmd/zetae2e/stress.go
  docs/spec/lightclient/messages.md
  e2e/e2etests/test_erc20_refund.go
  e2e/e2etests/test_eth_deposit.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/e2etests/test_pause_zrc20.go
  e2e/e2etests/test_update_bytecode.go
  e2e/runner/runner.go
  e2e/runner/setup_zeta.go
  e2e/utils/zetacore.go
  x/crosschain/keeper/msg_server_add_to_intx_tracker.go
  x/crosschain/keeper/msg_server_add_to_outtx_tracker.go
  x/lightclient/client/cli/query.go
  x/lightclient/keeper/msg_server_update_verification_flags.go
  x/lightclient/types/message_update_verification_flags.go
  x/lightclient/types/message_update_verification_flags_test.go
Due: zetacore

recompile proto
  proto/crosschain/tx.proto
  x/crosschain/types/tx.pb.go
Due: zetacore

rename files
  docs/cli/zetacored/zetacored_tx_crosschain_vote-gas-price.md
  x/crosschain/keeper/msg_server_vote_gas_price.go
  x/crosschain/keeper/msg_server_vote_gas_price_test.go
  x/crosschain/types/message_vote_gas_price.go
  x/crosschain/types/message_vote_gas_price_test.go
Due: zetacore

rename all refererences
  app/ante/ante.go
  app/ante/ante_test.go
  contrib/localnet/zetacored/zetacored_zetacore0/config/genesis.json
  contrib/localnet/zetacored/zetacored_zetacore1/config/genesis.json
  docs/cli/zetacored/zetacored_tx_crosschain.md
  docs/cli/zetacored/zetacored_tx_crosschain_gas-price-voter.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  typescript/crosschain/tx_pb.d.ts
  x/crosschain/client/cli/cli_gas_price.go
  x/crosschain/client/cli/tx.go
  x/crosschain/keeper/msg_server_gas_price_voter.go
  x/crosschain/keeper/msg_server_gas_price_voter_test.go
  x/crosschain/types/authz.go
  x/crosschain/types/authz_test.go
  x/crosschain/types/codec.go
  x/crosschain/types/message_gas_price_voter.go
  x/crosschain/types/message_gas_price_voter_test.go
  zetaclient/zetabridge/tx.go
Due: zetacore, zetaclient

Path conditions:
  zetacore: any of: x/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  zetaclient: any of: zetaclient/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  common: any of: common/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
