Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

test: fix sim tests (#3892)
  x/crosschain/simulation/operation_vote_outbound.go
Due: none

fix solana call required accounts number condition
  pkg/contracts/solana/gateway.go
  pkg/contracts/solana/inbound.go
  pkg/contracts/solana/inbound_test.go
Due: pkg

changelog
  changelog.md
Due: none

add sender to execute message hash
  contrib/localnet/solana/gateway.so
  pkg/contracts/solana/gateway_message.go
Due: pkg

Update tongo to v1.16.4
  go.mod
  go.sum
Due: none

bump gateway artifact
  contrib/localnet/solana/gateway.so
  pkg/contracts/solana/gateway.json
Due: none

chore: increase solana_deposit and solana_withdraw suggested amounts (#3865)
  e2e/TESTING_GUIDE.md
Due: none

feat(ton): update tongo to v1.16.4 (#3898)
  go.mod
  go.sum
Due: none

chore: bump gateway artifact v29 (#3899)
  contrib/localnet/solana/gateway.so
  pkg/contracts/solana/gateway.json
Due: none

fix unit tests
  pkg/contracts/solana/gateway_message_test.go
Due: pkg

chore: bump gateway artifact v30 (#3900)
  contrib/localnet/solana/gateway.so
  pkg/contracts/solana/gateway.json
Due: none

validate sender based on execute type
  zetaclient/chains/solana/signer/execute.go
  zetaclient/chains/solana/signer/execute_spl.go
  zetaclient/chains/solana/signer/withdraw_spl.go
Due: zetaclient

lint
  zetaclient/chains/solana/signer/execute.go
Due: zetaclient

feat(ton): update tongo to v1.16.4 (#3897)
  go.mod
  go.sum
Due: none

add special error filter for abort refunded
  x/crosschain/keeper/abort.go
  x/crosschain/keeper/abort_test.go
  x/fungible/keeper/deposits.go
  x/fungible/types/evm.go
Due: zetacore

generate
  docs/cli/zetacored/cli.md
Due: none

more tests
  x/fungible/keeper/deposits_test.go
Due: zetacore

fix: prevent cctx being set as `abortRefunded` if the abort processing failed before the refund (#3901)
  changelog.md
  x/crosschain/keeper/abort.go
  x/crosschain/keeper/abort_test.go
  x/fungible/keeper/deposits.go
  x/fungible/keeper/deposits_test.go
  x/fungible/types/evm.go
Due: zetacore

filter events issue
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/chains/solana/observer/inbound_tracker.go
Due: zetaclient

fix solana call required accounts number condition
  pkg/contracts/solana/gateway.go
  pkg/contracts/solana/inbound.go
  pkg/contracts/solana/inbound_test.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/chains/solana/observer/inbound_tracker.go
Due: zetaclient, pkg

fmt
  zetaclient/chains/solana/observer/inbound_test.go
Due: zetaclient

fix unit tests
  pkg/contracts/solana/inbound_test.go
Due: pkg

fix: inbounds events filtering (#3903)
  pkg/contracts/solana/gateway.go
  pkg/contracts/solana/inbound.go
  pkg/contracts/solana/inbound_test.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/chains/solana/observer/inbound_tracker.go
Due: zetaclient, pkg

improve observer emissions distribution
  x/emissions/abci.go
  x/emissions/abci_test.go
  x/observer/types/ballot.go
  x/observer/types/ballot_test.go
Due: zetacore

port filter inbounds fix
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/chains/solana/observer/inbound_tracker.go
Due: zetaclient

add changelog
  changelog.md
  x/emissions/abci.go
  x/emissions/abci_test.go
  x/observer/types/ballot.go
  x/observer/types/ballot_test.go
Due: zetacore

revert restricted cctx for evm chain, bitcoin and solana so the users won't lose their funds
  e2e/e2etests/e2etests.go
  e2e/e2etests/helpers.go
  e2e/e2etests/legacy/test_erc20_multiple_withdraws.go
  e2e/e2etests/legacy/test_erc20_withdraw.go
  e2e/e2etests/test_bitcoin_withdraw_legacy.go
  e2e/e2etests/test_bitcoin_withdraw_multiple.go
  e2e/e2etests/test_bitcoin_withdraw_p2sh.go
  e2e/e2etests/test_bitcoin_withdraw_p2wsh.go
  e2e/e2etests/test_bitcoin_withdraw_rbf.go
  e2e/e2etests/test_bitcoin_withdraw_restricted_address.go
  e2e/e2etests/test_bitcoin_withdraw_segwit.go
  e2e/e2etests/test_bitcoin_withdraw_taproot.go
  e2e/e2etests/test_eth_withdraw_restricted_address.go
  e2e/e2etests/test_solana_withdraw.go
  e2e/e2etests/test_solana_withdraw_restricted_address.go
  e2e/e2etests/test_solana_withdraw_revert_executable_receiver.go
  e2e/e2etests/test_sui_withdraw_restricted_address.go
  e2e/runner/bitcoin.go
  e2e/runner/solana.go
  e2e/runner/verify.go
  testutil/sample/zetaclient.go
  zetaclient/chains/base/signer.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/signer/outbound_data.go
  zetaclient/chains/bitcoin/signer/outbound_data_test.go
  zetaclient/chains/bitcoin/signer/sign_rbf_test.go
  zetaclient/chains/bitcoin/signer/sign_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/signer/execute.go
  zetaclient/chains/solana/signer/execute_spl.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/withdraw.go
  zetaclient/chains/solana/signer/withdraw_spl.go
  zetaclient/chains/sui/signer/signer.go
Due: zetaclient

add changelog
  x/emissions/abci.go
  x/observer/types/ballot.go
Due: zetacore

add comments
  x/emissions/abci.go
Due: zetacore

add changelog entry
  changelog.md
Due: none

fix: port filter inbounds fix (#3905)
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/chains/solana/observer/inbound_tracker.go
Due: zetaclient

fix upgrade tests
  contrib/localnet/scripts/start-zetacored.sh
Due: none

PR comments
  cmd/zetatool/cli/db_stats.go
Due: none

fix: delete testnet ballots (#3872)
  changelog.md
  docs/cli/zetacored/cli.md
  docs/openapi/openapi.swagger.yaml
  go.mod
  go.sum
  proto/zetachain/zetacore/observer/query.proto
  typescript/zetachain/zetacore/observer/query_pb.d.ts
  x/observer/client/cli/query.go
  x/observer/client/cli/query_ballot.go
  x/observer/keeper/grpc_query_ballot.go
  x/observer/keeper/grpc_query_ballot_test.go
  x/observer/keeper/migrator.go
  x/observer/migrations/v11/migrate.go
  x/observer/migrations/v11/migrate_test.go
  x/observer/module.go
  x/observer/types/query.pb.go
  x/observer/types/query.pb.gw.go
Due: zetacore

feat: add zetatool cmd to analyze size of application.db (#3881)
  changelog.md
  cmd/zetatool/cli/db_stats.go
  cmd/zetatool/main.go
  docs/cli/zetatool/db_stats.md
  docs/cli/zetatool/readme.md
  go.mod
  go.sum
Due: none

resolve comments 1
  x/observer/types/ballot.go
Due: zetacore

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
