Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      common:
        if_ci_failed: error
        target: 60%
        flags:
          - common

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    carryforward: true
    paths:
      - "x/"
  zetaclient:
    carryforward: true
    paths:
      - "zetaclient/"
  common:
    carryforward: true
    paths:
      - "common/"

ignore:
  - "x/**/client/"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - "*.pb.gw.go"
  - "*.json"
  - ".github/"
  - "app/"
  - "cmd/"
  - "contrib/"
  - "docs/"
  - "rpc/"
  - "proto/"
  - "scripts/"
  - "server/"
  - "testutil/"
  - "typescript/"

remove chain nonce hack
  x/observer/keeper/msg_server_reset_chain_nonce.go
  x/observer/keeper/msg_server_update_chain_params.go
Due: zetacore

Reset chain nonces
  proto/observer/tx.proto
  x/observer/client/cli/tx.go
  x/observer/client/cli/tx_reset_chain_nonces.go
  x/observer/keeper/msg_server_reset_chain_nonces.go
  x/observer/keeper/msg_server_reset_chain_nonces_test.go
  x/observer/types/codec.go
  x/observer/types/message_reset_chain_nonces.go
  x/observer/types/message_reset_chain_nonces_test.go
  x/observer/types/tx.pb.go
Due: zetacore

add the reset chain nonce message
  e2e/e2etests/test_migrate_chain_support.go
  x/observer/keeper/msg_server_reset_chain_nonces.go
  x/observer/keeper/msg_server_reset_chain_nonces_test.go
Due: zetacore

various fixes for Zeta
  e2e/e2etests/test_migrate_chain_support.go
  zetaclient/evm/evm_signer.go
Due: zetaclient

make generage
  docs/cli/zetacored/zetacored_tx_observer.md
  docs/cli/zetacored/zetacored_tx_observer_reset-chain-nonces.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/observer/messages.md
  e2e/e2etests/test_migrate_chain_support.go
  e2e/runner/evm.go
  e2e/runner/zeta.go
  typescript/observer/tx_pb.d.ts
  x/observer/keeper/msg_server_reset_chain_nonces.go
  x/observer/keeper/msg_server_update_chain_params.go
Due: zetacore

add migrator logs
  Makefile
  x/crosschain/keeper/migrator.go
  x/observer/keeper/migrator.go
Due: zetacore

feat: add reset chain nonces msg (#1912)
  Dockerfile-versioned-source
  Makefile
  app/setup_handlers.go
  changelog.md
  docs/cli/zetacored/zetacored_tx_observer.md
  docs/cli/zetacored/zetacored_tx_observer_reset-chain-nonces.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/observer/messages.md
  proto/observer/tx.proto
  typescript/observer/tx_pb.d.ts
  x/crosschain/keeper/migrator.go
  x/emissions/genesis_test.go
  x/observer/client/cli/tx.go
  x/observer/client/cli/tx_reset_chain_nonces.go
  x/observer/keeper/migrator.go
  x/observer/keeper/msg_server_reset_chain_nonces.go
  x/observer/keeper/msg_server_reset_chain_nonces_test.go
  x/observer/types/codec.go
  x/observer/types/message_reset_chain_nonces.go
  x/observer/types/message_reset_chain_nonces_test.go
  x/observer/types/tx.pb.go
Due: zetacore

comment out invalid tests
  common/ethereum/proof_test.go
  testutil/sample/common.go
  x/crosschain/keeper/msg_server_add_to_intx_tracker_test.go
  x/crosschain/keeper/msg_server_add_to_outtx_tracker_test.go
  x/observer/keeper/msg_server_add_block_header_test.go
Due: zetacore, common

added some tests
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/bitcoin/bitcoin_client_rpc_test.go
  zetaclient/bitcoin/bitcoin_client_test.go
  zetaclient/core_context/zeta_core_context.go
Due: zetaclient

test:comment out tests using goerli endpoint (#1915)
  common/ethereum/proof_test.go
  testutil/sample/common.go
  x/crosschain/keeper/msg_server_add_to_intx_tracker_test.go
  x/crosschain/keeper/msg_server_add_to_outtx_tracker_test.go
  x/observer/keeper/msg_server_add_block_header_test.go
Due: zetacore, common

created compliance package and move gas price multiplier function to zetabridge package
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/bitcoin/bitcoin_signer.go
  zetaclient/common/logger.go
  zetaclient/compliance/compliance.go
  zetaclient/compliance/compliance_test.go
  zetaclient/evm/evm_client.go
  zetaclient/evm/evm_signer.go
  zetaclient/evm/inbounds.go
  zetaclient/zetabridge/constant.go
  zetaclient/zetabridge/tx.go
  zetaclient/zetabridge/tx_test.go
Due: zetaclient

fix: lower the gas price multiplier for evm chains (#1881)
  changelog.md
  common/constant.go
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/bitcoin/bitcoin_client_test.go
  zetaclient/bitcoin/bitcoin_signer.go
  zetaclient/bitcoin/utils.go
  zetaclient/common/constant.go
  zetaclient/common/logger.go
  zetaclient/compliance/compliance.go
  zetaclient/compliance/compliance_test.go
  zetaclient/evm/evm_client.go
  zetaclient/evm/evm_signer.go
  zetaclient/evm/inbounds.go
  zetaclient/zetabridge/constant.go
  zetaclient/zetabridge/tx.go
  zetaclient/zetabridge/tx_test.go
Due: zetaclient, common

add tests for types package
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/msg_server_migrate_tss_funds.go
  x/crosschain/keeper/msg_server_vote_inbound_tx.go
  x/crosschain/keeper/msg_server_vote_inbound_tx_test.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/cctx_utils.go
  x/crosschain/types/cctx_utils_test.go
  x/crosschain/types/inbound_params.go
  x/crosschain/types/inbound_params_test.go
  x/crosschain/types/outbound_params.go
  x/crosschain/types/outbound_params_test.go
  x/crosschain/types/utils.go
  x/crosschain/types/utils_test.go
Due: zetacore

PR comments and nosec
  changelog.md
  x/observer/keeper/msg_server_reset_chain_nonces.go
Due: zetacore

Gen docs
  docs/cli/zetacored/zetacored_tx_observer.md
  docs/cli/zetacored/zetacored_tx_observer_reset-chain-nonces.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/observer/messages.md
  typescript/observer/tx_pb.d.ts
Due: none

PR comments
  proto/observer/tx.proto
  x/observer/client/cli/tx_reset_chain_nonces.go
  x/observer/keeper/msg_server_reset_chain_nonces.go
  x/observer/keeper/msg_server_reset_chain_nonces_test.go
  x/observer/types/message_reset_chain_nonces.go
  x/observer/types/message_reset_chain_nonces_test.go
  x/observer/types/tx.pb.go
Due: zetacore

Make generate
  docs/spec/observer/messages.md
  typescript/observer/tx_pb.d.ts
Due: none

Use authority keeper and fix tests
  x/observer/keeper/msg_server_reset_chain_nonces.go
  x/observer/keeper/msg_server_reset_chain_nonces_test.go
Due: zetacore

add comments
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/msg_server_migrate_tss_funds.go
  x/crosschain/keeper/msg_server_vote_inbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
Due: zetacore

PR comments
  changelog.md
  x/observer/types/message_reset_chain_nonces_test.go
Due: zetacore

feat: added new cmd "zetatool" and sub cmd filterdeposits (#1884)
  Makefile
  changelog.md
  cmd/zetatool/config/config.go
  cmd/zetatool/config/config_test.go
  cmd/zetatool/filterdeposit/btc.go
  cmd/zetatool/filterdeposit/evm.go
  cmd/zetatool/filterdeposit/filterdeposit.go
  cmd/zetatool/filterdeposit/filterdeposit_test.go
  cmd/zetatool/main.go
  docs/cli/zetatool/filterdeposit.md
  docs/cli/zetatool/readme.md
  go.mod
  go.sum
  tool/filter_missed_deposits/zetatool_config.json
Due: none

initial commit
  go.mod
  go.sum
  zetaclient/zetabridge/query_test.go
  zetaclient/zetabridge/zetacore_bridge.go
Due: zetaclient

setup query testing
  zetaclient/zetabridge/query_test.go
Due: zetaclient

feat: add reset chain nonces msg (#1919)
  changelog.md
  docs/cli/zetacored/zetacored_tx_observer.md
  docs/cli/zetacored/zetacored_tx_observer_reset-chain-nonces.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/observer/messages.md
  proto/observer/tx.proto
  typescript/observer/tx_pb.d.ts
  x/observer/client/cli/tx.go
  x/observer/client/cli/tx_reset_chain_nonces.go
  x/observer/keeper/msg_server_reset_chain_nonces.go
  x/observer/keeper/msg_server_reset_chain_nonces_test.go
  x/observer/types/codec.go
  x/observer/types/message_reset_chain_nonces.go
  x/observer/types/message_reset_chain_nonces_test.go
  x/observer/types/tx.pb.go
Due: zetacore

add Test function signatures
  zetaclient/zetabridge/query_test.go
Due: zetaclient

Fix package in pkg
  pkg/address.go
  pkg/address_test.go
  pkg/authz_tx_types.go
  pkg/authz_tx_types_test.go
  pkg/bitcoin.go
  pkg/bitcoin_test.go
  pkg/chain.go
  pkg/chain_id.go
  pkg/chain_id_test.go
  pkg/chain_test.go
  pkg/chains.go
  pkg/chains_test.go
  pkg/coin.go
  pkg/coin_test.go
  pkg/commands.go
  pkg/common.pb.go
  pkg/constant.go
  pkg/gas_limits.go
  pkg/gas_limits_test.go
  pkg/headers.go
  pkg/headers_test.go
  pkg/proof.go
  pkg/proof_test.go
  pkg/pubkey.go
  pkg/pubkey_test.go
  pkg/tss.go
  pkg/tss_test.go
  pkg/utils.go
  pkg/utils_test.go
  pkg/version.go
Due: none

added some test cases
  zetaclient/zetabridge/query_test.go
Due: zetaclient

Use pkg everywhere instead of common
  cmd/zetaclientd/debug.go
  cmd/zetaclientd/hsm.go
  cmd/zetaclientd/main.go
  cmd/zetaclientd/p2p_diagnostics.go
  cmd/zetaclientd/utils.go
  cmd/zetacored/get_pubkey.go
  e2e/runner/evm.go
  pkg/proof.go
  pkg/proof_test.go
  pkg/pubkey.go
  pkg/pubkey_test.go
  pkg/tss.go
  pkg/tss_test.go
  testutil/keeper/mocks/crosschain/fungible.go
  testutil/keeper/mocks/crosschain/observer.go
  testutil/keeper/mocks/fungible/observer.go
  testutil/sample/observer.go
  testutil/sample/sample.go
  x/crosschain/keeper/gas_payment_test.go
  x/crosschain/keeper/utils_test.go
  x/crosschain/types/message_update_tss_address.go
  x/observer/keeper/utils_test.go
  zetaclient/interfaces/signer.go
  zetaclient/keys/keys.go
  zetaclient/keys/keys_test.go
  zetaclient/tss/tss_signer.go
  zetaclient/tss/tss_signer_test.go
  zetaclient/zetabridge/broadcast.go
  zetaclient/zetabridge/zetacore_bridge.go
Due: zetacore, zetaclient

resolve comments
  e2e/runner/logger.go
  testutil/sample/common.go
  x/authority/types/genesis_test.go
  x/authority/types/policies_test.go
  x/crosschain/keeper/cctx_utils.go
  x/crosschain/keeper/cctx_utils_test.go
  x/crosschain/keeper/events.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/msg_server_migrate_tss_funds.go
  x/crosschain/keeper/msg_server_vote_inbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/errors.go
  x/crosschain/types/keys.go
  x/crosschain/types/message_abort_stuck_cctx.go
  x/crosschain/types/message_abort_stuck_cctx_test.go
  x/crosschain/types/message_refund_aborted.go
  x/crosschain/types/utils.go
Due: zetacore

modify comments based on suggestions
  x/crosschain/keeper/evm_hooks_test.go
  x/crosschain/keeper/msg_server_vote_inbound_tx.go
  x/crosschain/types/cctx.go
Due: zetacore

add error message for add revert
  x/crosschain/keeper/msg_server_vote_inbound_tx.go
  x/crosschain/keeper/msg_server_vote_inbound_tx_test.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/inbound_params_test.go
  x/crosschain/types/outbound_params_test.go
Due: zetacore

initial commit to support different types of BTC addresses
  common/address.go
  common/address_test.go
  common/bitcoin/address_taproot.go
  common/bitcoin/address_taproot_test.go
  e2e/e2etests/test_bitcoin_withdraw_invalid.go
  e2e/runner/bitcoin.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/evm_hooks_test.go
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/bitcoin/bitcoin_client_rpc_test.go
  zetaclient/bitcoin/bitcoin_client_test.go
  zetaclient/bitcoin/bitcoin_signer.go
  zetaclient/bitcoin/bitcoin_signer_test.go
  zetaclient/bitcoin/bitcoin_test.go
  zetaclient/bitcoin/inbound_tracker.go
  zetaclient/bitcoin/txscript.go
  zetaclient/bitcoin/txscript_test.go
  zetaclient/bitcoin/utils.go
  zetaclient/bitcoin/utils_test.go
  zetaclient/compliance/compliance_test.go
  zetaclient/evm/evm_client_test.go
  zetaclient/evm/evm_signer_test.go
  zetaclient/evm/inbounds_test.go
  zetaclient/testdata/btc/block_trimmed_8332_831071.json
  zetaclient/testdata/btc/chain_8332_intx_raw_result_847139aa65aa4a5ee896375951cbf7417cfc8a4d6f277ec11f40cd87319f04aa.json
  zetaclient/testdata/btc/chain_8332_intx_raw_result_8a2f9d30466d4f4fb245a918d5d7ad049d49719c3493e6495c88f969bae1c570.json
  zetaclient/testdata/btc/chain_8332_tx_raw_result_P2PKH_9c741de6e17382b7a9113fc811e3558981a35a360e3d1262a6675892c91322ca.json
  zetaclient/testdata/btc/chain_8332_tx_raw_result_P2SH_fd68c8b4478686ca6f5ae4c28eaab055490650dbdaa6c2c8e380a7e075958a21.json
  zetaclient/testdata/btc/chain_8332_tx_raw_result_P2TR_259fc21e63e138136c8f19270a0f7ca10039a66a474f91d23a17896f46e677a7.json
  zetaclient/testdata/btc/chain_8332_tx_raw_result_P2WPKH_5d09d232bfe41c7cb831bf53fc2e4029ab33a99087fd5328a2331b52ff2ebe5b.json
  zetaclient/testdata/btc/chain_8332_tx_raw_result_P2WSH_791bb9d16f7ab05f70a116d18eaf3552faf77b9d5688699a480261424b4f7e53.json
  zetaclient/testutils/stub/tss_signer.go
  zetaclient/testutils/testdata.go
  zetaclient/testutils/testdata_naming.go
Due: zetacore, zetaclient, common

updates
  zetaclient/zetabridge/query_test.go
Due: zetaclient

add operational group
  docs/openapi/openapi.swagger.yaml
  proto/authority/policies.proto
  testutil/sample/authority.go
  typescript/authority/policies_pb.d.ts
  x/authority/types/policies.go
  x/authority/types/policies.pb.go
  x/authority/types/policies_test.go
  x/observer/migrations/v7/migrate.go
  x/observer/migrations/v7/migrate_test.go
Due: zetacore

address comments
  cmd/zetaclientd/utils.go
  zetaclient/core_context/zeta_core_context_test.go
  zetaclient/evm/evm_signer.go
  zetaclient/zetabridge/zetacore_bridge.go
  zetaclient/zetacore_observer_test.go
Due: zetaclient

run make generate
  zetaclient/zetabridge/zetacore_bridge.go
Due: zetaclient

update the policies to group operational for corresponding messages
  x/crosschain/keeper/msg_server_abort_stuck_cctx.go
  x/crosschain/keeper/msg_server_abort_stuck_cctx_test.go
  x/crosschain/keeper/msg_server_refund_aborted_tx.go
  x/crosschain/keeper/msg_server_refund_aborted_tx_test.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
  x/crosschain/keeper/msg_server_whitelist_erc20_test.go
  x/fungible/keeper/msg_server_deploy_fungible_coin_zrc20.go
  x/fungible/keeper/msg_server_deploy_fungible_coin_zrc20_test.go
  x/fungible/keeper/msg_server_deploy_system_contract.go
  x/fungible/keeper/msg_server_deploy_system_contract_test.go
  x/fungible/keeper/msg_server_remove_foreign_coin.go
  x/fungible/keeper/msg_server_remove_foreign_coin_test.go
  x/fungible/keeper/msg_server_udpate_zrc20_liquidity_cap.go
  x/fungible/keeper/msg_server_udpate_zrc20_liquidity_cap_test.go
  x/fungible/keeper/msg_server_update_system_contract.go
  x/fungible/keeper/msg_server_update_zrc20_paused_status.go
  x/fungible/keeper/msg_server_update_zrc20_paused_status_test.go
  x/fungible/keeper/msg_server_update_zrc20_withdraw_fee.go
  x/fungible/keeper/msg_server_update_zrc20_withdraw_fee_test.go
  x/observer/keeper/msg_server_add_observer.go
  x/observer/keeper/msg_server_remove_chain_params.go
  x/observer/keeper/msg_server_remove_chain_params_test.go
  x/observer/keeper/msg_server_reset_chain_nonces.go
  x/observer/keeper/msg_server_reset_chain_nonces_test.go
  x/observer/keeper/msg_server_update_chain_params.go
  x/observer/keeper/msg_server_update_chain_params_test.go
  x/observer/keeper/msg_server_update_crosschain_flags_test.go
  x/observer/keeper/msg_server_update_observer.go
  x/observer/keeper/msg_server_update_observer_test.go
  x/observer/types/message_crosschain_flags.go
  x/observer/types/message_crosschain_flags_test.go
Due: zetacore
