Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      common:
        if_ci_failed: error
        target: 60%
        flags:
          - common

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    carryforward: true
    paths:
      - "x/"
  zetaclient:
    carryforward: true
    paths:
      - "zetaclient/"
  common:
    carryforward: true
    paths:
      - "common/"

ignore:
  - "x/**/client/"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - "*.pb.gw.go"
  - "*.json"
  - ".github/"
  - "app/"
  - "cmd/"
  - "contrib/"
  - "docs/"
  - "rpc/"
  - "proto/"
  - "scripts/"
  - "server/"
  - "testutil/"
  - "typescript/"

workflow not action
  .github/workflows/e2e.yml
  .github/workflows/reusable-e2e.yml
Due: none

inherit secrets
  .github/workflows/e2e.yml
  .github/workflows/reusable-e2e.yml
Due: none

update
  .github/workflows/e2e.yml
Due: none

update solana program with chain id commit in TSS signature
  contrib/localnet/solana/gateway.so
Due: none

fix the initialize of solana program after update the program
  e2e/e2etests/test_solana_deposit.go
Due: none

test run conditionals
  .github/workflows/e2e.yml
Due: none

fix cache
  .github/workflows/reusable-e2e.yml
Due: none

fix(zetaclient): tolerate absolute path in GetPath()
  zetaclient/config/config.go
Due: zetaclient

zetaclient(solana): observe and filter and parse deposit instruction
  cmd/zetaclientd/utils.go
  zetaclient/chains/solana/constants.go
  zetaclient/chains/solana/observer/observer.go
Due: zetaclient

zetaclient(solana): remember last observed tx to save RPC calls
  zetaclient/chains/solana/observer/observer.go
Due: zetaclient

fix(zetaclient): tolerate absolute path in GetPath() (#2423)
  zetaclient/config/config.go
Due: zetaclient

zetaclient(solana): report to zetacored about deposit
  zetaclient/chains/solana/observer/observer.go
Due: zetaclient

localnet: deploy sol zrc20
  e2e/txserver/zeta_tx_server.go
Due: none

Refactor zetacore client [WIP]
  cmd/zetaclientd/start.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/zetacore/broadcast.go
  zetaclient/zetacore/broadcast_test.go
  zetaclient/zetacore/client_monitor.go
  zetaclient/zetacore/client_query_cosmos.go
  zetaclient/zetacore/client_query_crosschain.go
  zetaclient/zetacore/client_query_ethermint.go
  zetaclient/zetacore/client_query_lightclient.go
  zetaclient/zetacore/client_query_observer.go
  zetaclient/zetacore/client_query_tendermint.go
  zetaclient/zetacore/client_query_test.go
  zetaclient/zetacore/client_vote.go
  zetaclient/zetacore/client_worker.go
  zetaclient/zetacore/constant.go
  zetaclient/zetacore/tx.go
  zetaclient/zetacore/tx_test.go
Due: zetaclient

adjust ok logic (skipped does not work with required status checks)
  .github/workflows/e2e.yml
Due: none

Fix debug cli command
  cmd/zetaclientd/debug.go
  zetaclient/zetacore/client.go
Due: zetaclient

all profile and .env for defaults
  .github/workflows/e2e.yml
  .github/workflows/execute_advanced_tests.yaml
  Makefile
  contrib/localnet/docker-compose.yml
Due: none

fix log dump
  .github/workflows/reusable-e2e.yml
Due: none

or schedule
  .github/workflows/reusable-e2e.yml
Due: none

fix stop-localnet
  Makefile
Due: none

use solana chain from merged commits
  cmd/zetaclientd/utils.go
  e2e/runner/runner.go
  e2e/txserver/zeta_tx_server.go
  zetaclient/chains/solana/constants.go
  zetaclient/chains/solana/observer/observer.go
Due: zetaclient

add .env file
  contrib/localnet/.env
Due: none

adjust defaults
  contrib/localnet/.env
Due: none

fix coderabbit config
  .coderabbit.yaml
Due: none

alternative default syntax
  contrib/localnet/.env
  contrib/localnet/docker-compose.yml
Due: none

do not fail fast, use newer action versions
  .github/workflows/e2e.yml
  .github/workflows/reusable-e2e.yml
Due: none

rename to e2e-ok because status checks are based on job name
  .github/workflows/e2e.yml
Due: none

ci: convert e2e to matrix (#2422)
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/execute_advanced_tests.yaml
  .github/workflows/reusable-e2e.yml
  Makefile
  contrib/localnet/docker-compose.yml
Due: none

ci: add merge_group triggers
  .github/workflows/build.yml
  .github/workflows/generate-files.yml
  .github/workflows/sast-linters.yml
Due: none

fix solana rpc localnet config
  cmd/zetaclientd/utils.go
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/init.go
  e2e/e2etests/test_solana_deposit.go
  e2e/txserver/zeta_tx_server.go
Due: none

run light upgrade tests on merge_group
  .github/workflows/e2e.yml
Due: none

fix coderabbit config (#2429)
  .coderabbit.yaml
Due: none

add unit test to chain activation deactivation; replace pointers of config with non-pointer config and improve thread safety by deep clone
  cmd/zetaclientd-supervisor/lib.go
  cmd/zetaclientd/debug.go
  cmd/zetaclientd/p2p_diagnostics.go
  cmd/zetaclientd/start.go
  cmd/zetaclientd/start_utils.go
  zetaclient/chains/base/logger.go
  zetaclient/chains/base/logger_test.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/base/signer_test.go
  zetaclient/chains/evm/observer/inbound_test.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/compliance/compliance.go
  zetaclient/compliance/compliance_test.go
  zetaclient/config/config.go
  zetaclient/config/config_chain.go
  zetaclient/config/types.go
  zetaclient/config/types_test.go
  zetaclient/context/app_context.go
  zetaclient/context/app_context_test.go
  zetaclient/keys/keys.go
  zetaclient/keys/keys_test.go
  zetaclient/orchestrator/app_context_update_test.go
  zetaclient/orchestrator/chain_activate.go
  zetaclient/orchestrator/chain_activate_test.go
  zetaclient/orchestrator/orchestrator_test.go
  zetaclient/testutils/testdata.go
  zetaclient/tss/tss_signer.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/tx_test.go
Due: zetaclient

only run default tests in mergequeue for now
  .github/workflows/e2e.yml
Due: none

ci: add merge_group triggers (#2431)
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/generate-files.yml
  .github/workflows/sast-linters.yml
Due: none

give more accurate names to methods
  zetaclient/orchestrator/chain_activate.go
  zetaclient/orchestrator/chain_activate_test.go
Due: zetaclient

fix: set pebbledb as default database
  cmd/zetacored/root.go
Due: none

fix unit tests
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/orchestrator/chain_activate_test.go
  zetaclient/testutils/mocks/chain_clients.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/tx_test.go
Due: zetaclient

fix chain params for solana
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/config/config.go
  e2e/txserver/zeta_tx_server.go
  pkg/chains/chain.go
  zetaclient/chains/solana/observer/observer.go
Due: zetaclient

add retest after migration
  Makefile
  cmd/zetaclientd-supervisor/lib.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/migration.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_migrate_tss.go
  e2e/runner/bitcoin.go
  e2e/runner/evm.go
  e2e/runner/setup_bitcoin.go
  e2e/runner/zeta.go
  e2e/utils/require.go
  x/crosschain/keeper/msg_server_migrate_tss_funds.go
  x/crosschain/keeper/msg_server_remove_outbound_tracker.go
  x/crosschain/keeper/msg_server_update_tss.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/outbound.go
Due: zetacore, zetaclient
