Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

use inscription initiator address as Bitcoin inbound sender address
  e2e/e2etests/test_bitcoin_std_memo_inscribed_deposit_and_call.go
  zetaclient/chains/bitcoin/client/client_rbf_test.go
  zetaclient/chains/bitcoin/client/client_test.go
  zetaclient/chains/bitcoin/client/helpers.go
  zetaclient/chains/bitcoin/client/mockgen.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
  zetaclient/common/env.go
  zetaclient/testutils/mempool_client.go
  zetaclient/testutils/mocks/bitcoin_client.go
  zetaclient/testutils/testrpc/rpc_btc.go
Due: zetaclient

use loaded addresses to refresh restricted address book
  zetaclient/config/config.go
  zetaclient/config/config_test.go
Due: zetaclient

add changelog entry
  changelog.md
Due: none

rpc methods wip
  rpc/backend/account_info.go
  rpc/backend/account_info_test.go
  rpc/backend/backend.go
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks.go
  rpc/backend/blocks_test.go
  rpc/backend/call_tx.go
  rpc/backend/call_tx_test.go
  rpc/backend/chain_info.go
  rpc/backend/chain_info_test.go
  rpc/backend/client_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/feemarket_query_client_test.go
  rpc/backend/filters.go
  rpc/backend/filters_test.go
  rpc/backend/node_info.go
  rpc/backend/node_info_test.go
  rpc/backend/sign_tx.go
  rpc/backend/sign_tx_test.go
  rpc/backend/tracing.go
  rpc/backend/tracing_test.go
  rpc/backend/tx_info.go
  rpc/backend/tx_info_test.go
  rpc/backend/utils.go
  rpc/backend/utils_test.go
Due: none

fix unit tests
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/local/evm.go
  cmd/zetae2e/local/local.go
  contrib/localnet/docker-compose.yml
  proto/zetachain/zetacore/crosschain/tx.proto
  x/crosschain/types/cmd_cctxs.go
  zetaclient/chains/evm/signer/signer_admin.go
  zetaclient/chains/evm/signer/signer_admin_test.go
Due: zetacore, zetaclient

namespaces
  rpc/apis.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/debug/trace.go
  rpc/namespaces/ethereum/debug/utils.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  rpc/namespaces/ethereum/eth/filters/filters.go
  rpc/namespaces/ethereum/eth/filters/subscription.go
  rpc/namespaces/ethereum/eth/filters/utils.go
  rpc/namespaces/ethereum/miner/api.go
  rpc/namespaces/ethereum/miner/unsupported.go
  rpc/namespaces/ethereum/net/api.go
  rpc/namespaces/ethereum/personal/api.go
  rpc/namespaces/ethereum/txpool/api.go
  rpc/namespaces/ethereum/web3/api.go
  rpc/websockets.go
Due: none

fix unit tests
  docs/spec/crosschain/messages.md
  typescript/zetachain/zetacore/crosschain/tx_pb.d.ts
  x/crosschain/types/tx.pb.go
Due: none

rpc methods cleanup
  rpc/apis.go
  rpc/backend/account_info.go
  rpc/backend/backend.go
  rpc/backend/blocks.go
  rpc/backend/call_tx.go
  rpc/backend/chain_info.go
  rpc/backend/node_info.go
  rpc/backend/tracing.go
  rpc/backend/tracing_convert_test.go
  rpc/backend/tx_info.go
  rpc/backend/utils.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/eth/filters/filters.go
  rpc/namespaces/ethereum/miner/api.go
  rpc/namespaces/ethereum/personal/api.go
  rpc/namespaces/ethereum/txpool/api.go
  rpc/types/addrlock.go
  rpc/types/block.go
  rpc/types/events.go
  rpc/types/query_client.go
  rpc/types/types.go
  rpc/types/utils.go
  rpc/websockets.go
Due: none

fork json rpc server
  e2e/txserver/zeta_tx_server.go
  pkg/mempool/custom_proposal_handler_test.go
  pkg/mempool/mempool_test.go
  server/config/config.go
  server/config/config_test.go
  server/config/toml.go
  server/flags/flags.go
  server/indexer_cmd.go
  server/indexer_service.go
  server/json_rpc.go
  server/log_handler.go
  server/start.go
  server/util.go
  x/observer/keeper/msg_server_vote_tss.go
Due: zetacore, pkg

use ton localnet v2
  contrib/localnet/docker-compose.yml
  contrib/localnet/scripts/wait-for-ton.sh
  e2e/runner/ton/faucet.go
Due: none

set proper release
  go.mod
  go.sum
Due: none

cleanup remaining static errors
  app/ante/ante_test.go
  app/ante/fees.go
  app/ante/handler_options.go
  app/ante/interfaces.go
  app/ante/system_tx_priority_decorator_test.go
  app/ante/vesting_test.go
  cmd/zetacored/config/config.go
  cmd/zetacored/main.go
  cmd/zetacored/root.go
  simulation/simulation.go
  testutil/keeper/codec.go
  testutil/keeper/keeper.go
  testutil/keeper/mocks/crosschain/fungible.go
  testutil/keeper/mocks/fungible/evm.go
  x/crosschain/keeper/evm_hooks.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/evm_hooks.go
  x/fungible/keeper/evm_hooks_test.go
  x/fungible/types/expected_keepers.go
  x/observer/migrations/v11/migrate.go
Due: zetacore

bump ton localnet
  contrib/localnet/docker-compose.yml
Due: none

revert to old command to start e2e test
  Makefile
Due: none

use official golang image to build zetanode
  Dockerfile-localnet
Due: none

add gas limit argument to erc20 withdrawAndCall E2E test
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_erc20_withdraw_and_call.go
  e2e/e2etests/test_erc20_withdraw_and_call_no_message.go
  e2e/e2etests/test_erc20_withdraw_revert_and_abort.go
  e2e/runner/zevm.go
Due: none

feat: migrate to golangci-lint v2 (#3960)
  .github/workflows/sast-linters.yml
  .golangci.yml
  Makefile
  app/export.go
  cmd/zetacored/root.go
  cmd/zetae2e/stress.go
  cmd/zetatool/cctx/cctx_details.go
  cmd/zetatool/chains/evm.go
  contrib/rpctest/main.go
  e2e/e2etests/legacy/test_erc20_deposit_refund.go
  e2e/runner/solana_gateway_upgrade.go
  e2e/runner/ton/faucet.go
  rpc/namespaces/ethereum/debug/api.go
  scripts/fmt.sh
  scripts/gen-spec.go
  testutil/simulation/rand_observer.go
  x/crosschain/keeper/abort.go
  x/crosschain/keeper/cctx.go
  x/crosschain/keeper/cctx_gateway_observers.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/inbound_tracker.go
  x/crosschain/keeper/msg_server_add_inbound_tracker.go
  x/crosschain/keeper/msg_server_add_outbound_tracker.go
  x/crosschain/types/inbound_parsing.go
  x/fungible/keeper/deposits.go
  x/lightclient/keeper/block_header.go
  x/lightclient/keeper/chain_state.go
  x/observer/keeper/chain_params.go
  x/observer/keeper/hooks.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/evm/common/cctx.go
  zetaclient/chains/evm/observer/v2_inbound.go
Due: zetacore, zetaclient

feat(ton): Implement HTTP-RPC based on toncenter v2 (#3929)
  changelog.md
  contrib/localnet/docker-compose.yml
  zetaclient/chains/ton/rpc/client.go
  zetaclient/chains/ton/rpc/client_live_test.go
  zetaclient/chains/ton/rpc/types.go
  zetaclient/common/env.go
Due: zetaclient

Bump changelog
  changelog.md
Due: none

add setup for connector contract
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/local/local.go
  contrib/rpctest/main.go
  e2e/config/config.go
  e2e/e2etests/e2etests.go
  e2e/runner/legacy_setup_evm.go
  e2e/runner/runner.go
  e2e/runner/setup_evm.go
  go.mod
  go.sum
Due: none

add changelog
  changelog.md
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/fungible/keeper/evm_gateway.go
Due: zetacore

print contract address for new connector v2
  e2e/runner/runner.go
Due: none

add print statement for migration
  cmd/zetae2e/local/local.go
  e2e/runner/runner.go
Due: none

remove message for migration and refactor to using contract directly
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_migrate_connector_funds.go
  proto/zetachain/zetacore/crosschain/events.proto
  proto/zetachain/zetacore/crosschain/tx.proto
  x/crosschain/client/cli/tx.go
  x/crosschain/client/cli/tx_migrate_connector_funds.go
  x/crosschain/keeper/msg_server_migrate_connector_funds.go
  x/crosschain/keeper/msg_server_migrate_connector_funds_test.go
  x/crosschain/types/codec.go
  x/crosschain/types/events.pb.go
  x/crosschain/types/message_migrate_connector_funds.go
  x/crosschain/types/message_migrate_connector_funds_test.go
  x/crosschain/types/tx.pb.go
Due: zetacore

add changelog
  changelog.md
Due: none

export connectorNative
  cmd/zetae2e/config/config.go
Due: none

generate files after removing new message
  docs/cli/zetacored/cli.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_migrate_connector_funds.go
  pkg/constant/constant.go
  typescript/zetachain/zetacore/crosschain/events_pb.d.ts
  typescript/zetachain/zetacore/crosschain/tx_pb.d.ts
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
  x/crosschain/types/cmd_cctxs.go
  x/crosschain/types/cmd_cctxs_test.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_admin.go
  zetaclient/chains/evm/signer/signer_admin_test.go
Due: zetacore, zetaclient, pkg

feat: cosmos v53 upgrade (#3961)
  app/app.go
  changelog.md
  docs/cli/zetacored/cli.md
  go.mod
  go.sum
  pkg/mempool/custom_proposal_handler_test.go
  zetaclient/zetacore/client_test.go
Due: zetaclient, pkg

fix: use loaded addresses to refresh restricted address book (#3971)
  changelog.md
  zetaclient/config/config.go
  zetaclient/config/config_test.go
Due: zetaclient

use 100_000 as default gasLimit in erc20 withdrawAndCall E2E test
  e2e/e2etests/e2etests.go
Due: none

fix(zetaclient/sui): set latest gas price after posting (#3967)
  zetaclient/chains/sui/observer/observer.go
Due: zetaclient

increase gasLimit for erc20 withdraw and call to fix CI failure
  e2e/e2etests/e2etests.go
Due: none

resolve comments
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/contracts.go
  e2e/config/config.go
  e2e/runner/runner.go
  x/fungible/keeper/evm_gateway_test.go
Due: zetacore

update generated files
  zetaclient/chains/evm/signer/signer_admin.go
Due: zetaclient

update generated files
  cmd/zetae2e/local/local.go
Due: none
