Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      common:
        if_ci_failed: error
        target: 60%
        flags:
          - common

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    carryforward: true
    paths:
      - "x/"
  zetaclient:
    carryforward: true
    paths:
      - "zetaclient/"
  common:
    carryforward: true
    paths:
      - "common/"

ignore:
  - "x/**/client/"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - "*.pb.gw.go"
  - "*.json"
  - ".github/"
  - "app/"
  - "cmd/"
  - "contrib/"
  - "docs/"
  - "rpc/"
  - "proto/"
  - "scripts/"
  - "server/"
  - "testutil/"
  - "typescript/"

Revert replace
  go.mod
  go.sum
Due: none

test(e2e): fix liquidity cap advanced test (#2047)
  changelog.md
  e2e/e2etests/test_eth_deposit.go
  e2e/e2etests/test_eth_deposit_liquidity_cap.go
Due: none

use explicit variable names
  zetaclient/zetacore_observer.go
Due: zetaclient

Bump ethermint
  go.mod
  go.sum
Due: none

update schedule
  .github/workflows/execute_advanced_tests.yaml
Due: none

test: run advanced tests nightly to detect breakages
  .github/workflows/execute_advanced_tests.yaml
Due: none

test: run advanced tests nightly to detect breakages (#2064)
  .github/workflows/execute_advanced_tests.yaml
Due: none

separate steps
  .github/workflows/execute_advanced_tests.yaml
Due: none

test: ensure advanced tests fail if orchestrator fails
  .github/workflows/execute_advanced_tests.yaml
Due: none

fix(e2e): adjust docker login conditional
  .github/workflows/build.yml
Due: none

add more fields to the chains struct
  pkg/chains/chain.go
  pkg/chains/chain_test.go
  pkg/chains/chains.go
  pkg/chains/chains.pb.go
  pkg/chains/chains_test.go
  proto/pkg/chains/chains.proto
  testutil/network/genesis_state.go
  testutil/sample/observer.go
  x/observer/types/params.go
  zetaclient/zetabridge/query_test.go
  zetaclient/zetabridge/tx_test.go
Due: zetacore, zetaclient

PR comments
  docs/spec/emissions/messages.md
  x/emissions/keeper/msg_server_update_params.go
  x/emissions/keeper/params.go
Due: zetacore

ci: added two new make commands for building working brances to test non-governance upgrades against a full node fully synced against testnet or mainnet
  Makefile
  changelog.md
  contrib/athens3/zetacored-localbuild/docker-compose.yml
  contrib/athens3/zetacored/docker-compose.yml
  contrib/docker-scripts/start.sh
  contrib/mainnet/zetacored-localbuild/docker-compose.yml
  readme.md
Due: none

ci: added two new make commands for building working brances to test non-governance upgrades against a full node fully synced against testnet or mainnet
  Makefile
Due: none

ci: added two new make commands for building working brances to test non-governance upgrades against a full node fully synced against testnet or mainnet
  changelog.md
Due: none

fix(e2e): adjust docker login conditional (#2069)
  .github/workflows/build.yml
Due: none

add migration script
  app/setup_handlers.go
  pkg/chains/chains.go
  x/observer/keeper/migrator.go
  x/observer/migrations/v8/migrate.go
  x/observer/migrations/v8/migrate_test.go
  x/observer/module.go
Due: zetacore

add comments
  pkg/chains/chain.go
  pkg/chains/chains.go
Due: none

add changelog and generate files
  changelog.md
  docs/openapi/openapi.swagger.yaml
  pkg/chains/chains.go
  testutil/network/genesis_state.go
  typescript/pkg/chains/chains_pb.d.ts
  x/observer/migrations/v8/migrate.go
Due: zetacore

add comments for proto files
  proto/observer/observer.proto
  proto/pkg/chains/chains.proto
Due: none

generate files after adding comments
  docs/openapi/openapi.swagger.yaml
  pkg/chains/chains.pb.go
  proto/pkg/chains/chains.proto
  typescript/observer/observer_pb.d.ts
  typescript/pkg/chains/chains_pb.d.ts
  x/observer/types/observer.pb.go
Due: zetacore

generate files after adding comments
  app/setup_handlers.go
Due: none

handle edge case when pending cctxs span wider block range than sliding window
  x/crosschain/keeper/grpc_query_cctx_rate_limit.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit_test.go
Due: zetacore

test: ensure advanced tests fail if orchestrator fails (#2068)
  .github/workflows/execute_advanced_tests.yaml
Due: none

remove migration script
  app/setup_handlers.go
  x/observer/keeper/migrator.go
  x/observer/migrations/v8/migrate.go
  x/observer/migrations/v8/migrate_test.go
  x/observer/module.go
Due: zetacore

fix uniswap pool
  e2e/e2etests/test_rate_limiter.go
Due: none

refactor enums to use small case
  app/setup_handlers.go
  cmd/zetaclientd/keygen_tss.go
  pkg/chains/chain.go
  pkg/chains/chain_test.go
  pkg/chains/chains.go
  pkg/chains/chains.pb.go
  pkg/chains/chains_test.go
  pkg/chains/status.go
  pkg/chains/status_test.go
  proto/pkg/chains/chains.proto
  testutil/keeper/crosschain.go
  testutil/network/genesis_state.go
  testutil/sample/observer.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/crosschain/types/message_vote_on_observed_outbound_tx.go
  x/crosschain/types/message_vote_on_observed_outbound_tx_test.go
  x/crosschain/types/tx.pb.go
  x/observer/keeper/msg_server_vote_tss.go
  x/observer/keeper/msg_server_vote_tss_test.go
  x/observer/keeper/vote_outbound_test.go
  x/observer/types/message_vote_tss.go
  x/observer/types/message_vote_tss_test.go
  x/observer/types/observer_set.go
  x/observer/types/observer_set_test.go
  x/observer/types/params.go
  x/observer/types/parsers.go
  x/observer/types/parsers_test.go
  x/observer/types/tx.pb.go
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/evm/evm_client_test.go
  zetaclient/evm/outbounds.go
  zetaclient/evm/outbounds_test.go
  zetaclient/zetabridge/tx.go
  zetaclient/zetabridge/tx_test.go
Due: zetacore, zetaclient

generate files 3
  docs/openapi/openapi.swagger.yaml
  pkg/chains/chains.go
  typescript/pkg/chains/chains_pb.d.ts
Due: none

change localnet chain params
  e2e/e2etests/test_rate_limiter.go
  x/observer/types/chain_params.go
Due: zetacore

fix lint
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_zeta_withdraw.go
  e2e/runner/zeta.go
Due: none

added zero rate check; added comment to make unit test clearer
  x/crosschain/keeper/grpc_query_cctx.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit_test.go
Due: zetacore

added unit test and note for method GetAllForeignCoinMap
  x/fungible/keeper/foreign_coins.go
  x/fungible/keeper/foreign_coins_test.go
Due: zetacore

allow zevm coin deposit to unknow addresses
  x/crosschain/keeper/process_outbound_test.go
  x/fungible/keeper/zevm_message_passing_test.go
  x/fungible/keeper/zevm_msg_passing.go
Due: zetacore

add e2e tests
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_zeta_deposit.go
Due: none

add changelog
  changelog.md
Due: none

updated with latest changes, will fix the version issue when building locally
  Makefile
  contrib/athens3/zetacored-localbuild/docker-compose.yml
  contrib/athens3/zetacored/docker-compose.yml
  contrib/docker-scripts/start.sh
  contrib/mainnet/zetacored-localbuild/docker-compose.yml
  contrib/mainnet/zetacored/docker-compose.yml
Due: none

updated the start sequence to not use zetacored but cosmovisor all around...
  contrib/docker-scripts/start.sh
Due: none

updated
  Dockerfile
  contrib/docker-scripts/start.sh
Due: none

updated
  contrib/docker-scripts/start.sh
Due: none
