Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      common:
        if_ci_failed: error
        target: 60%
        flags:
          - common

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    carryforward: true
    paths:
      - "x/"
  zetaclient:
    carryforward: true
    paths:
      - "zetaclient/"
  common:
    carryforward: true
    paths:
      - "common/"

ignore:
  - "x/**/client/"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - "*.pb.gw.go"
  - "*.json"
  - ".github/"
  - "app/"
  - "cmd/"
  - "contrib/"
  - "docs/"
  - "rpc/"
  - "proto/"
  - "scripts/"
  - "server/"
  - "testutil/"
  - "typescript/"

new script
  Makefile
  scripts/fmt-golines.sh
Due: none

changelog
  changelog.md
Due: none

Update proto/zetachain/zetacore/crosschain/tx.proto
  proto/zetachain/zetacore/crosschain/tx.proto
Due: none

Update x/crosschain/client/cli/tx_add_outbound_tracker.go
  x/crosschain/client/cli/tx_add_outbound_tracker.go
Due: zetacore

Update x/crosschain/client/cli/tx_add_inbound_tracker.go
  x/crosschain/client/cli/tx_add_inbound_tracker.go
Due: zetacore

Update zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/observer/outbound.go
Due: zetaclient

Update zetaclient/outboundprocessor/outbound_processor_manager.go
  zetaclient/outboundprocessor/outbound_processor_manager.go
Due: zetaclient

Update zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer.go
Due: zetaclient

Update zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound.go
Due: zetaclient

Update x/crosschain/keeper/outbound_tracker.go
  x/crosschain/keeper/outbound_tracker.go
Due: zetacore

Update x/crosschain/client/cli/query_inbound_tracker.go
  x/crosschain/client/cli/query_inbound_tracker.go
Due: zetacore

Update x/crosschain/client/cli/query_outbound_tracker.go
  x/crosschain/client/cli/query_outbound_tracker.go
Due: zetacore

some renaming
  x/crosschain/genesis.go
  x/crosschain/keeper/grpc_query_outbound_tracker.go
  x/crosschain/keeper/outbound_tracker.go
  x/crosschain/types/genesis.go
Due: zetacore

some renaming
  x/crosschain/types/genesis.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
Due: zetacore, zetaclient

rename processor
  zetaclient/outboundprocessor/outbound_processor_manager.go
Due: zetaclient

rename zetaclient outbound tracker
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/zetacore/broadcast.go
  zetaclient/zetacore/constant.go
  zetaclient/zetacore/tx.go
  zetaclient/zetacore/tx_test.go
Due: zetaclient

fix codec
  x/crosschain/types/codec.go
Due: none

make generate
  docs/cli/zetacored/zetacored_query_crosschain.md
  docs/cli/zetacored/zetacored_query_crosschain_list-all-inbound-trackers.md
  docs/cli/zetacored/zetacored_query_crosschain_list-inbound-tracker.md
  docs/cli/zetacored/zetacored_query_crosschain_list-outbound-tracker.md
  docs/cli/zetacored/zetacored_query_crosschain_show-outbound-tracker.md
  docs/cli/zetacored/zetacored_tx_crosschain.md
  docs/cli/zetacored/zetacored_tx_crosschain_add-inbound-tracker.md
  docs/cli/zetacored/zetacored_tx_crosschain_add-outbound-tracker.md
  docs/spec/crosschain/messages.md
  typescript/zetachain/zetacore/crosschain/tx_pb.d.ts
  x/crosschain/types/tx.pb.go
Due: zetacore

fix unit tests
  zetaclient/testdata/cctx/chain_1_cctx_7260.go
  zetaclient/zetacore/tx_test.go
Due: zetaclient

make generate
  zetaclient/chains/evm/observer/observer_test.go
Due: zetaclient

move mempool logic to pkg
  app/app.go
  cmd/zetacored/root.go
  e2e/e2etests/e2etests.go
  pkg/mempool/custom_proposal_handler.go
  pkg/mempool/custom_proposal_handler_test.go
  pkg/mempool/mempool_test.go
  pkg/mempool/priority_nonce_mempool.go
  pkg/mempool/priority_nonce_mempool_test.go
  pkg/mempool/senders_with_nonce.go
Due: none

remove not used fail flag from tests
  pkg/mempool/custom_proposal_handler_test.go
  pkg/mempool/priority_nonce_mempool_test.go
Due: none

remove letter
  zetaclient/chains/evm/observer/observer_test.go
Due: zetaclient

return error from WaitForZetacoreToCreateBlocks() and SetAccountNumber() and handle them in start.go
  cmd/zetaclientd/p2p_diagnostics.go
  cmd/zetaclientd/start.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/context/zetacore_context_test.go
  zetaclient/zetacore/client.go
Due: zetaclient

add name for sub tests
  pkg/mempool/mempool_test.go
  pkg/mempool/priority_nonce_mempool_test.go
Due: none

add more tests
  pkg/mempool/mempool_test.go
  pkg/mempool/priority_nonce_mempool_test.go
Due: none

chore(ci): upgrade github actions dependencies
  .github/actions/install-dependencies/action.yml
  .github/actions/set-branch-name/action.yml
  .github/actions/upgrade-testing/action.yml
  .github/workflows/build.yml
  .github/workflows/change-log-check.yml
  .github/workflows/docker-build-and-push.yml
  .github/workflows/execute_advanced_tests.yaml
  .github/workflows/generate-files.yml
  .github/workflows/publish-release.yml
  .github/workflows/rc-release.yml
  .github/workflows/sast-linters.yml
  .github/workflows/upgrade_path_testing.yaml
Due: none

removed maxHeightDiff to let observer scan Bitcoin block from where it left off
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/evm/observer/observer.go
Due: zetaclient

added changelog entry
  changelog.md
Due: none

add noop mempool tests to custom proposal handler
  pkg/mempool/custom_proposal_handler_test.go
Due: none

chore(ci): upgrade github actions dependencies (#2221)
  .github/actions/install-dependencies/action.yml
  .github/actions/set-branch-name/action.yml
  .github/actions/upgrade-testing/action.yml
  .github/workflows/build.yml
  .github/workflows/change-log-check.yml
  .github/workflows/docker-build-and-push.yml
  .github/workflows/execute_advanced_tests.yaml
  .github/workflows/generate-files.yml
  .github/workflows/publish-release.yml
  .github/workflows/rc-release.yml
  .github/workflows/sast-linters.yml
  .github/workflows/upgrade_path_testing.yaml
Due: none
