Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

get all txs in a single call and compare prev with new txs
  e2e/e2etests/test_ton_deposit.go
Due: none

paralel solana and spl e2e tests
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/solana.go
  contrib/localnet/solana/start-solana.sh
  e2e/runner/setup_solana.go
Due: none

PR comments wrap errors
  zetaclient/chains/solana/observer/outbound.go
Due: zetaclient

fix lint
  zetaclient/chains/solana/observer/outbound.go
Due: zetaclient

PR comments
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/v2_zevm_inbound.go
Due: zetacore

lint
  zetaclient/chains/solana/observer/outbound.go
Due: zetaclient

debug: log filter conditions and more info on TON txs
  e2e/runner/ton.go
Due: none

fix unit test
  zetaclient/chains/solana/observer/outbound_test.go
Due: zetaclient

rollback to the original filter
  e2e/e2etests/test_ton_deposit.go
  e2e/runner/ton.go
Due: none

Reduce timeout 10m -> 5m. also, delete some non-relevant log messages
  e2e/runner/ton.go
Due: none

fix TON deposit tx lookup
  e2e/e2etests/test_ton_deposit.go
  e2e/runner/ton.go
Due: none

sui withdraw and call e2e using example contract; refactor sui signer withdraw and call logic to use correct object information
  e2e/e2etests/test_sui_withdraw_and_call.go
  pkg/contracts/sui/coin.go
  pkg/contracts/sui/gateway.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/signer/signer_tx.go
  zetaclient/chains/sui/signer/withdraw_and_call.go
Due: zetaclient, pkg

cleanup: remove debug messages
  e2e/e2etests/test_ton_deposit.go
Due: none

Reduce maxRetries 10 -> 3
  e2e/runner/ton.go
Due: none

use example package id as receiver address in e2e; fix missing logger in the sui signer context
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_sui_withdraw_and_call.go
  e2e/runner/setup_sui.go
  zetaclient/chains/sui/observer/outbound.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/signer/signer_tracker.go
  zetaclient/chains/sui/signer/signer_tx.go
  zetaclient/chains/sui/signer/withdraw_and_call.go
  zetaclient/chains/sui/signer/withdraw_and_call_test.go
Due: zetaclient

uncomment sui e2e tests; remove redundant debug log print
  cmd/zetae2e/local/local.go
  e2e/runner/setup_sui.go
  zetaclient/chains/sui/signer/withdraw_and_call_test.go
Due: zetaclient

remove redundant log print; use hardcoded version to replicate InvalidBCSBytes error
  e2e/runner/setup_sui.go
  zetaclient/chains/sui/signer/withdraw_and_call.go
Due: zetaclient

remove log
  x/crosschain/keeper/v2_zevm_inbound.go
Due: zetacore

wip
  e2e/runner/ton.go
  e2e/runner/zevm.go
Due: none

TON inbounds: rely only on liteapi data
  cmd/zetae2e/config/clients.go
  e2e/runner/ton.go
  e2e/runner/ton/client.go
Due: none

feat(e2e): add populate-addresses command
  cmd/zetae2e/populate_addresses.go
  cmd/zetae2e/root.go
Due: none

also populate solana
  cmd/zetae2e/populate_addresses.go
Due: none

skip validate on populate-addresses
  cmd/zetae2e/balances.go
  cmd/zetae2e/bitcoin_address.go
  cmd/zetae2e/config/config_test.go
  cmd/zetae2e/local/config.go
  cmd/zetae2e/populate_addresses.go
  cmd/zetae2e/run.go
  cmd/zetae2e/setup_bitcoin.go
  cmd/zetae2e/show_tss.go
  e2e/config/config.go
  e2e/runner/legacy_setup_evm.go
Due: none

safer version
  cmd/zetae2e/populate_addresses.go
Due: none

PR comment
  zetaclient/chains/solana/observer/outbound.go
Due: zetaclient

fix PTB withdraw and call InvalidBCSBytes and other execution errors
  cmd/zetae2e/local/local.go
  e2e/contracts/sui/bin.go
  e2e/contracts/sui/connected.mv
  e2e/contracts/sui/example.mv
  e2e/contracts/sui/example/sources/example.move
  e2e/contracts/sui/example/sources/token.move
  e2e/runner/setup_sui.go
  zetaclient/chains/sui/signer/withdraw_and_call.go
Due: zetaclient

PR comments
  testutil/sample/crosschain.go
  testutil/testdata/testdata.go
  testutil/testdata/zeta/receipt_gateway_call_to_sol.json
  testutil/testdata/zeta/receipt_gateway_withdraw_and_call_to_sol.json
  testutil/testdata/zeta/receipt_gateway_withdraw_to_sol.json
  testutil/testdata/zeta/receipt_invalid_gateway_call_to_sol.json
  testutil/testdata/zeta/receipt_invalid_gateway_withdraw_to_sol.json
  testutil/testdata/zeta/receipt_invalid_zrc20_withdraw_to_external.json
  testutil/testdata/zeta/receipt_zeta_sent_destination_external.json
  testutil/testdata/zeta/receipt_zrc20_withdraw_to_btc.json
  testutil/testdata/zeta/receipt_zrc20_withdraw_to_eth.json
Due: none

test(e2e): fix ton testnet (#3811)
  cmd/zetae2e/config/clients.go
  e2e/runner/ton.go
  e2e/runner/ton/client.go
  e2e/runner/zevm.go
Due: none

refactor crypto package
  pkg/contracts/sui/address.go
  pkg/contracts/sui/address_test.go
  pkg/contracts/sui/crypto.go
  pkg/contracts/sui/crypto_test.go
Due: pkg

fix address decoding in revert
  pkg/chains/chain.go
  pkg/chains/chain_test.go
  pkg/contracts/sui/address.go
  pkg/contracts/sui/crypto.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/evm_hooks_test.go
Due: zetacore, pkg

refactor: set zeta protocol fee to zero
  x/crosschain/types/keys.go
Due: none

change log
  changelog.md
Due: none

fix signer check
  e2e/e2etests/test_sui_deposit_and_call.go
Due: none

generate
  e2e/e2etests/test_sui_deposit_and_call.go
Due: none

fix withdraw invalid test
  e2e/e2etests/test_sui_withdraw_restricted_address.go
Due: none

add comment
  cmd/zetae2e/populate_addresses.go
Due: none

make Sui withdraw and call E2E test working
  cmd/zetae2e/local/local.go
  pkg/contracts/sui/gateway.go
  pkg/contracts/sui/withdraw_and_call_ptb.go
  zetaclient/chains/sui/signer/signer_tx.go
  zetaclient/chains/sui/signer/withdraw_and_call.go
Due: zetaclient, pkg

fix address check zeta withdraw
  x/crosschain/keeper/evm_hooks.go
Due: zetacore

fix tests
  e2e/e2etests/test_sui_withdraw_restricted_address.go
Due: none

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
