Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

remove duplicate description for call evm error
  docs/zetacore/status_message.md
  x/fungible/keeper/evm.go
  x/fungible/types/errors.go
  x/fungible/types/evm_error_message.go
  x/fungible/types/evm_error_message_test.go
Due: zetacore

add changelog
  changelog.md
  x/fungible/types/errors.go
Due: none

refactor error strings
  x/crosschain/keeper/initiate_outbound_test.go
Due: zetacore

refactor error strings
  x/fungible/keeper/evm.go
Due: zetacore

add check for outbound cointype in cctx_test.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
Due: zetacore

handle integer overflow and correct typo in function comment
  e2e/e2etests/test_bitcoin_withdraw_rbf.go
  pkg/math/integer.go
  pkg/math/integer_test.go
  zetaclient/chains/bitcoin/signer/fee_bumper.go
Due: zetaclient, pkg

renamed a few functions to use capitalized CCTX
  e2e/e2etests/test_bitcoin_withdraw_rbf.go
  e2e/utils/zetacore.go
  x/crosschain/keeper/abci.go
  x/crosschain/keeper/abci_test.go
  x/crosschain/module.go
Due: zetacore

refactor: using slices.Contains to simplify the code
  app/ante/authz.go
  x/crosschain/types/status.go
Due: zetacore

update contracts
  pkg/contracts/testdappv2/TestDAppV2.bin
  pkg/contracts/testdappv2/TestDAppV2.go
  pkg/contracts/testdappv2/TestDAppV2.json
  pkg/contracts/testdappv2/TestDAppV2.sol
Due: pkg

add revert and withdraw test
  cmd/zetae2e/local/evm.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_eth_withdraw_and_call_revert_with_withdraw.go
Due: none

resolve comments
  docs/zetacore/status_message.md
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/msg_server_abort_stuck_cctx.go
  x/crosschain/types/cctx.go
Due: zetacore

unify log fields and add Base chain URL for live test
  zetaclient/chains/evm/rpc/rpc_live_test.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/zetacore/broadcast.go
  zetaclient/zetacore/broadcast_test.go
Due: zetaclient

fix!: set per transaction gas limit to 10M (#3342) (#3344)
  app/app.go
Due: none

upgrade golangci-lint
  .github/workflows/sast-linters.yml
  scripts/fmt.sh
Due: none

refactor: using slices.Contains to simplify the code (#3347)
  app/ante/authz.go
  x/crosschain/types/status.go
Due: zetacore

fix lint failures and disable golangci-lint gosec for now
  .golangci.yml
  pkg/graceful/graceful.go
  rpc/types/utils.go
  x/observer/types/ballot.go
Due: zetacore, pkg

chore: upgrade cosmovisor and go (#3345)
  .github/actions/install-dependencies/action.yml
  .github/workflows/ci.yml
  .github/workflows/sast-linters.yml
  .github/workflows/sim.yaml
  .golangci.yml
  Dockerfile-localnet
  Makefile
  pkg/graceful/graceful.go
  rpc/types/utils.go
  scripts/fmt.sh
  x/observer/types/ballot.go
Due: zetacore, pkg

use CheckAndUpdateCCTXGasPrice to dispatch evm/btc gas price updating; resolve code rabbit comments
  pkg/math/integer.go
  x/crosschain/keeper/abci.go
  x/crosschain/keeper/abci_test.go
  x/crosschain/module.go
  zetaclient/chains/bitcoin/rpc/rpc.go
  zetaclient/chains/bitcoin/rpc/rpc_rbf_live_test.go
  zetaclient/chains/bitcoin/signer/fee_bumper.go
  zetaclient/chains/bitcoin/signer/fee_bumper_test.go
  zetaclient/chains/bitcoin/signer/outbound_data.go
  zetaclient/chains/bitcoin/signer/outbound_data_test.go
  zetaclient/chains/bitcoin/signer/sign.go
  zetaclient/chains/bitcoin/signer/sign_rbf.go
  zetaclient/chains/bitcoin/signer/sign_test.go
Due: zetacore, zetaclient, pkg

add tx response to revert deposit
  x/crosschain/types/expected_keepers.go
  x/fungible/keeper/v2_deposits.go
Due: zetacore

process withdraw
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
Due: zetacore

tests
  cmd/zetae2e/local/evm.go
  e2e/e2etests/test_eth_withdraw_and_call_revert_with_withdraw.go
  testutil/keeper/mocks/crosschain/fungible.go
Due: none

add withdraw and revert check in test
  e2e/e2etests/test_eth_withdraw_and_call_revert_with_withdraw.go
Due: none

comment lint
  e2e/e2etests/test_eth_withdraw_and_call_revert_with_withdraw.go
Due: none

add tests back
  cmd/zetae2e/local/evm.go
  e2e/e2etests/test_eth_withdraw_and_call_revert_with_withdraw.go
Due: none

update changelog
  changelog.md
Due: none

chore: fix changelog with unreleased changes
  changelog.md
Due: none

add unit tests
  testutil/keeper/crosschain.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound_test.go
Due: zetacore

Update changelog.md
  changelog.md
Due: none

fix test
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
Due: zetacore

chore: fix changelogs with unreleased changes (#3351)
  changelog.md
Due: none

double check to ensure the RBF tx is the last tx before broadcasting
  zetaclient/chains/bitcoin/observer/mempool.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/bitcoin/signer/signer_test.go
Due: zetaclient

add liquidity cap to message
  docs/spec/crosschain/messages.md
  docs/spec/fungible/messages.md
  proto/zetachain/zetacore/crosschain/tx.proto
  proto/zetachain/zetacore/fungible/tx.proto
  typescript/zetachain/zetacore/crosschain/tx_pb.d.ts
  typescript/zetachain/zetacore/fungible/tx_pb.d.ts
  x/crosschain/types/tx.pb.go
  x/fungible/types/tx.pb.go
Due: none

update messages and tests
  docs/cli/zetacored/cli.md
  testutil/keeper/mocks/crosschain/fungible.go
  x/crosschain/client/cli/cli_whitelist_erc20.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
  x/crosschain/keeper/msg_server_whitelist_erc20_test.go
  x/crosschain/keeper/utils_test.go
  x/crosschain/types/expected_keepers.go
  x/crosschain/types/message_whitelist_erc20.go
  x/crosschain/types/message_whitelist_erc20_test.go
  x/fungible/client/cli/tx_deploy_fungible_coin_zrc_4.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/evm_test.go
  x/fungible/keeper/gas_coin_and_pool.go
  x/fungible/keeper/gas_coin_and_pool_test.go
  x/fungible/keeper/msg_server_deploy_fungible_coin_zrc20.go
  x/fungible/keeper/msg_server_deploy_fungible_coin_zrc20_test.go
  x/fungible/keeper/msg_server_update_contract_bytecode_test.go
  x/fungible/types/message_deploy_fungible_coin_zrc20.go
  x/fungible/types/message_deploy_fungible_coin_zrc20_test.go
Due: zetacore

fix e2e tests
  e2e/e2etests/test_migrate_chain_support.go
  e2e/e2etests/test_solana_whitelist_spl.go
  e2e/e2etests/test_whitelist_erc20.go
  e2e/txserver/zeta_tx_server.go
Due: none

changelog
  changelog.md
Due: none

fix tests
  precompiles/bank/method_test.go
  precompiles/staking/staking_test.go
  x/crosschain/types/message_whitelist_erc20_test.go
Due: zetacore

add optGenericSkipper to mempool txs watcher
  zetaclient/chains/bitcoin/bitcoin.go
Due: zetaclient

chore: Add ADMIN_UPGRADE_TESTS label to test start-upgrade-test-admin
  .github/workflows/e2e.yml
Due: none

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
