Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

add stress zevm test
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/performance.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_stress_eth_deposit.go
  e2e/e2etests/test_stress_zevm.go
  e2e/txserver/zeta_tx_server.go
  e2e/utils/evm.go
Due: none

some tests
  Makefile
Due: none

changelog
  changelog.md
Due: none

send zevm stress tx as batch
  e2e/e2etests/test_stress_zevm.go
Due: none

add batch support
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_stress_zevm.go
Due: none

revert back local config
  cmd/zetae2e/config/local.yml
Due: none

chore: add Solana to start-localnet to allow to run local tests
  Makefile
Due: none

add sui and ton
  Makefile
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_stress_zevm.go
Due: none

extend timeout for solana
  .github/workflows/e2e.yml
Due: none

ci: increase timeout for solana e2e tests (#4276)
  .github/workflows/e2e.yml
Due: none

use zetae2e ante for upgrade tests
  Makefile
  cmd/zetaclientd/initconfig.go
  cmd/zetae2e/local/local.go
  contrib/localnet/scripts/start-zetaclientd.sh
  e2e/runner/setup_evm.go
  e2e/runner/setup_zevm.go
  e2e/runner/upgrade_v33.go
  e2e/runner/upgrade_v36.go
  testutil/sample/zetaclient.go
Due: none

implement the backlog for failed inbound vote
  pkg/errors/monitor_error.go
  pkg/errors/monitor_error_test.go
  x/crosschain/types/message_vote_inbound.go
  x/crosschain/types/message_vote_inbound_test.go
  zetaclient/chains/base/confirmation_test.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_inbound_backlog.go
  zetaclient/chains/base/observer_inbound_backlog_test.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/base/signer_test.go
  zetaclient/chains/bitcoin/observer/inbound_tracker.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_tracker.go
  zetaclient/chains/sui/observer/inbound.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/zetacore/client_vote.go
Due: zetacore, zetaclient, pkg

add changelog entry
  changelog.md
Due: none

fix changelog grammar
  changelog.md
Due: none

add unconfirmed txs count to config and AppContext; skip observation if mempool is congested
  cmd/zetaclientd/initconfig.go
  zetaclient/chains/bitcoin/bitcoin.go
  zetaclient/chains/bitcoin/signer/signer_test.go
  zetaclient/chains/evm/evm.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/chains/solana/solana.go
  zetaclient/chains/sui/sui.go
  zetaclient/chains/ton/ton.go
  zetaclient/chains/zrepo/client.go
  zetaclient/config/config_chain.go
  zetaclient/config/types.go
  zetaclient/config/types_test.go
  zetaclient/context/app.go
  zetaclient/context/app_test.go
  zetaclient/orchestrator/contextupdater.go
  zetaclient/orchestrator/contextupdater_test.go
  zetaclient/orchestrator/orchestrator_test.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/zetacore/broadcast.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/client_cosmos.go
  zetaclient/zetacore/client_vote.go
  zetaclient/zetacore/tx_test.go
Due: zetaclient

rename functions
  zetaclient/zetacore/client_monitor.go
  zetaclient/zetacore/client_vote.go
Due: zetaclient

improve eth withdraw stress
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_stress_eth_withdraw.go
Due: none

use batch model for deposit stress tests
  cmd/zetae2e/config/local.yml
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_stress_eth_deposit.go
  e2e/e2etests/test_stress_eth_withdraw.go
Due: none

feat: add feature flag for multiple evm calls (#4288)
  Makefile
  changelog.md
  cmd/zetaclientd/initconfig.go
  cmd/zetae2e/local/local.go
  contrib/localnet/scripts/start-zetaclientd.sh
  e2e/contracts/testdappv2/TestDAppV2.bin
  e2e/contracts/testdappv2/TestDAppV2.go
  e2e/contracts/testdappv2/TestDAppV2.json
  e2e/contracts/testdappv2/TestDAppV2.sol
  e2e/e2etests/test_erc20_multiple_deposits.go
  e2e/e2etests/test_eth_multiple_deposits.go
  e2e/e2etests/test_inbound_trackers.go
  e2e/runner/setup_evm.go
  e2e/runner/setup_zevm.go
  e2e/runner/upgrade_v33.go
  e2e/runner/upgrade_v36.go
  testutil/sample/zetaclient.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/evm/observer/v2_inbound_tracker.go
  zetaclient/config/config_chain.go
  zetaclient/config/types.go
  zetaclient/context/feature_flags.go
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

improve retry logic
  Makefile
  e2e/e2etests/test_stress_eth_withdraw.go
  e2e/e2etests/test_stress_zevm.go
  zetaclient/zetacore/client_monitor.go
Due: zetaclient

remove unnecessary logs
  e2e/e2etests/test_stress_eth_deposit.go
  e2e/e2etests/test_stress_eth_withdraw.go
  e2e/e2etests/test_stress_zevm.go
Due: none

fix lint
  e2e/e2etests/test_stress_eth_deposit.go
  e2e/e2etests/test_stress_eth_withdraw.go
Due: none

fix deposit
  e2e/e2etests/test_stress_eth_deposit.go
Due: none

changelogs
  changelog.md
Due: none

add nosec
  e2e/e2etests/test_stress_eth_deposit.go
  e2e/e2etests/test_stress_eth_withdraw.go
  e2e/e2etests/test_stress_zevm.go
Due: none

add outbound tests for alt msgs
  zetaclient/chains/solana/observer/outbound_test.go
  zetaclient/testdata/solana/chain_901_outbound_tx_result_58azV5L9kTLV7p3XRQRioorv6PvYzz1M6bNLfLjfwYoDuRcVv3A52QdCrr81yEYbc3vvVKxRCZdj4DcfTtDQdCPr.json
  zetaclient/testdata/solana/chain_901_outbound_tx_result_ayu91XsBcdpqTPmkxB5vfVRpJUsjxyXZhGg4RTAStU7zufqRQsAjEq3CtWhcAWgjayNZiJ3f5gX8oNfz87sbrHE.json
Due: zetaclient

improve naming and documentation; add log print when skipping observation
  changelog.md
  cmd/zetaclientd/initconfig.go
  zetaclient/chains/bitcoin/bitcoin.go
  zetaclient/chains/evm/evm.go
  zetaclient/chains/solana/solana.go
  zetaclient/chains/sui/sui.go
  zetaclient/chains/ton/ton.go
  zetaclient/config/config_chain.go
  zetaclient/config/types.go
  zetaclient/config/types_test.go
  zetaclient/context/app.go
Due: zetaclient

add detailed description for inbound retry gas limit adjustment
  zetaclient/zetacore/client_vote.go
Due: zetaclient

use the internal tracker terminology; use separate goroutine to process internal trackers
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_inbound_backlog.go
  zetaclient/chains/base/observer_internal_tracker.go
  zetaclient/chains/base/observer_internal_tracker_test.go
  zetaclient/chains/bitcoin/bitcoin.go
  zetaclient/chains/bitcoin/observer/inbound_tracker.go
  zetaclient/chains/evm/evm.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_tracker.go
  zetaclient/chains/solana/solana.go
  zetaclient/chains/sui/observer/inbound.go
  zetaclient/chains/sui/sui.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/ton.go
  zetaclient/config/config_chain.go
Due: zetaclient

fix internal tracker unit test and update changelog description
  changelog.md
  zetaclient/chains/base/observer_internal_tracker_test.go
Due: zetaclient

chore: fix inconsistent function name in comment
  pkg/contracts/sui/ptb_argument.go
  zetaclient/chains/sui/signer/withdraw_and_call.go
Due: zetaclient, pkg

Update changelog.md
  changelog.md
Due: none

apply comments
  e2e/e2etests/test_deposit_and_call_high_gas_usage.go
  e2e/e2etests/test_stress_eth_deposit.go
  e2e/e2etests/test_stress_eth_withdraw.go
Due: none

use deposit and call
  e2e/e2etests/test_stress_eth_deposit.go
Due: none

do not consider zetacore mempool congestion by default
  zetaclient/config/types.go
  zetaclient/config/types_test.go
  zetaclient/context/app.go
  zetaclient/context/app_test.go
Due: zetaclient

consolidate observation skipper functions; print sampled Info logger when observation is skipped
  zetaclient/chains/base/logger.go
  zetaclient/chains/base/observation_skipper.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/bitcoin/bitcoin.go
  zetaclient/chains/evm/evm.go
  zetaclient/chains/solana/solana.go
  zetaclient/chains/sui/sui.go
  zetaclient/chains/ton/ton.go
Due: zetaclient

unit test observation skipper
  zetaclient/chains/base/observation_skipper_test.go
  zetaclient/chains/base/observer_test.go
Due: zetaclient

PR comments coderabbit
  contrib/localnet/solana/start-solana.sh
  e2e/e2etests/test_solana_withdraw_and_call_alt.go
  e2e/e2etests/test_spl_withdraw_and_call_alt.go
  pkg/contracts/solana/instruction.go
  zetaclient/chains/solana/signer/execute.go
Due: zetaclient, pkg

rename Bitcoin mempool monitoring goroutine and improve observation skipper description
  zetaclient/chains/base/observation_skipper.go
  zetaclient/chains/bitcoin/bitcoin.go
  zetaclient/chains/bitcoin/observer/mempool.go
  zetaclient/chains/bitcoin/observer/mempool_test.go
Due: zetaclient

PR comments
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_solana_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_solana_deposit_and_call_revert_with_call_that_reverts.go
  e2e/e2etests/test_solana_withdraw_and_call.go
  e2e/e2etests/test_solana_withdraw_and_call_alt.go
  e2e/e2etests/test_spl_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_spl_withdraw_and_call.go
  e2e/e2etests/test_spl_withdraw_and_call_alt.go
  e2e/e2etests/test_zevm_to_solana_call.go
  e2e/runner/solana.go
  pkg/contracts/solana/gateway_message.go
  pkg/contracts/solana/instruction.go
  zetaclient/chains/solana/observer/outbound_test.go
  zetaclient/chains/solana/signer/execute.go
  zetaclient/chains/solana/signer/execute_spl.go
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient, pkg

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
