Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

chore: remove skipped observer v11 migration (#3683)
  x/observer/keeper/migrator.go
  x/observer/migrations/v11/migrate.go
  x/observer/migrations/v11/migrate_test.go
  x/observer/module.go
Due: zetacore

add DisableTssBlockScan to the chain params equality check function (#3684)
  x/observer/types/chain_params.go
  x/observer/types/chain_params_test.go
Due: zetacore

refactor: use t.TempDir() instead of os.MkdirTemp (#3677)
  app/upgrade_tracker_test.go
  zetaclient/tss/config_test.go
Due: zetaclient

fix: cherry pick remove min gas limit check (#3682)
  zetaclient/chains/evm/common/constant.go
  zetaclient/chains/evm/signer/gas.go
  zetaclient/chains/evm/signer/gas_test.go
  zetaclient/chains/evm/signer/outbound_data_test.go
  zetaclient/chains/evm/signer/sign.go
Due: zetaclient

fix: cherry pick remove min gas limit check (#3685)
  zetaclient/chains/evm/common/constant.go
  zetaclient/chains/evm/signer/gas.go
  zetaclient/chains/evm/signer/gas_test.go
  zetaclient/chains/evm/signer/outbound_data_test.go
  zetaclient/chains/evm/signer/sign.go
Due: zetaclient

feat(e2e): add --test-filter parameter (#3676)
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/test_runner.go
  docs/development/LOCAL_TESTING.md
  e2e/runner/e2etest.go
  e2e/runner/runner.go
Due: none

feat(e2e): add more details sol withdrawal latency breakdown (#3669)
  e2e/e2etests/helpers.go
  e2e/e2etests/test_stress_solana_withdraw.go
  e2e/e2etests/test_stress_spl_withdraw.go
  e2e/runner/solana.go
  e2e/utils/zetacore.go
Due: none

tmp fix to unblock arbitrum sepolia
  zetaclient/chains/evm/signer/gas.go
Due: zetaclient

improve condition
  zetaclient/chains/evm/signer/gas.go
Due: zetaclient

fix comment
  zetaclient/chains/evm/signer/gas.go
Due: zetaclient

fmt
  zetaclient/chains/evm/signer/gas.go
Due: zetaclient

Use zeta's go-tss [DRAFT]
  cmd/zetae2e/local/get_zetaclient_bootstrap.go
  go.mod
  go.sum
  x/observer/client/cli/tx_vote_blame.go
  x/observer/client/cli/utils.go
  x/observer/client/cli/utils_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/tss/config.go
  zetaclient/tss/crypto.go
  zetaclient/tss/healthcheck.go
  zetaclient/tss/keygen.go
  zetaclient/tss/service.go
  zetaclient/tss/service_test.go
  zetaclient/tss/setup.go
  zetaclient/zetacore/client_vote.go
  zetaclient/zetacore/tx_test.go
Due: zetaclient

initiate evm and btc chain tss signature caching
  zetaclient/chains/base/signer.go
  zetaclient/chains/base/signer_test.go
  zetaclient/chains/base/tss_signature_cache.go
  zetaclient/chains/bitcoin/common/constant.go
  zetaclient/chains/bitcoin/signer/sign.go
  zetaclient/chains/bitcoin/signer/sign_test.go
  zetaclient/chains/bitcoin/signer/signer_test.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/signer/signer_test.go
  zetaclient/chains/sui/signer/signer_test.go
  zetaclient/chains/ton/signer/signer_test.go
  zetaclient/orchestrator/v2_bootstrap.go
Due: zetaclient

add a new makefile target to run staking test
  Makefile
  cmd/zetae2e/local/local.go
  contrib/localnet/scripts/start-zetacored.sh
  e2e/runner/staking.go
Due: none

defer tx signing
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/testutils/mocks/solana_rpc.go
Due: zetaclient

add new label to e2e.yml
  .github/workflows/e2e.yml
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/runner/staking.go
Due: none

undo initial stake
  contrib/localnet/scripts/start-zetacored.sh
  e2e/runner/staking.go
Due: none

feat(e2e): add log groups when running under CI (#3665)
  Makefile
  contrib/localnet/docker-compose.yml
  contrib/localnet/orchestrator/start-zetae2e.sh
Due: none

ust Undelegate terminology instead of unstake
  changelog.md
  e2e/runner/staking.go
Due: none

simplified code and fix unit test compile
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/evm/observer/outbound.go
Due: zetaclient

use Undelegate terminology instead of unstake
  cmd/zetae2e/local/local.go
  e2e/runner/staking.go
Due: none

fix(e2e): localnet persistence
  Makefile
  contrib/localnet/docker-compose-persistent.yml
  contrib/localnet/solana/start-solana.sh
Due: none

parse deposit with invalid receiver
  pkg/contracts/sui/deposit.go
  pkg/contracts/sui/gateway_test.go
  zetaclient/chains/sui/observer/inbound.go
  zetaclient/chains/sui/observer/observer_test.go
Due: zetaclient, pkg

Update tongo & tweak liteapi config
  go.mod
  go.sum
  zetaclient/chains/ton/liteapi/client.go
Due: zetaclient

add cctx processing for invalid receiver
  x/crosschain/keeper/cctx_gateway_zevm.go
Due: zetacore

implement e2e test
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_sui_deposit.go
  e2e/e2etests/test_sui_deposit_invalid_receiver_revert.go
  e2e/runner/sui.go
Due: none

changelog
  changelog.md
Due: none

fix unit test
  pkg/contracts/sui/gateway_test.go
Due: pkg

Reflect real gas usage for withdrawals
  zetaclient/chains/sui/sui.go
  zetaclient/chains/ton/observer/observer.go
  zetaclient/chains/ton/observer/outbound.go
Due: zetaclient

Apply gasLimit for deposits
  zetaclient/chains/ton/observer/inbound.go
Due: zetaclient

Update changelog
  changelog.md
Due: none

update package
  go.mod
  go.sum
Due: none

set sender address
  x/fungible/keeper/deposits.go
  x/fungible/keeper/evm_gateway.go
Due: zetacore

move UndelegateToBelowMinimumObserverDelegation to e2e tests
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_staking_undelegate.go
Due: none

remove historical migration scripts
  x/authority/keeper/migrator.go
  x/authority/migrations/v2/migrate.go
  x/authority/migrations/v2/migrate_test.go
  x/authority/module.go
  x/crosschain/keeper/migrator.go
  x/crosschain/migrations/v2/legacytypes.go
  x/crosschain/migrations/v2/migrate.go
  x/crosschain/migrations/v3/migrate.go
  x/crosschain/migrations/v4/migrate.go
  x/crosschain/migrations/v4/migrate_test.go
  x/crosschain/module.go
  x/emissions/keeper/migrator.go
  x/emissions/migrations/v4/migrate.go
  x/emissions/migrations/v4/migrate_test.go
  x/emissions/module.go
  x/fungible/module.go
  x/observer/keeper/migrator.go
  x/observer/migrations/v8/migrate.go
  x/observer/migrations/v8/migrate_test.go
  x/observer/migrations/v9/migrate.go
  x/observer/migrations/v9/migrate_test.go
  x/observer/module.go
Due: zetacore

Update tongo & tweak liteapi config (#3697)
  go.mod
  go.sum
  zetaclient/chains/ton/liteapi/client.go
Due: zetaclient

fix: upgrade cosmos sdk to v0.50.13
  go.mod
  go.sum
Due: none

fix(e2e): localnet persistence (#3694)
  Makefile
  contrib/localnet/docker-compose-persistent.yml
  contrib/localnet/solana/start-solana.sh
Due: none

fix: upgrade cosmos sdk to v0.50.13 (#3702)
  go.mod
  go.sum
Due: none

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
