Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

Implement BTC & EVM RPCs as httptest wrapper
  zetaclient/testutils/btc_rpc_server.go
  zetaclient/testutils/testrpc/rpc.go
  zetaclient/testutils/testrpc/rpc_btc.go
  zetaclient/testutils/testrpc/rpc_evm.go
Due: zetaclient

Implement observer map sync based on chainParams
  zetaclient/chains/base/observer.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/orchestrator/bootstap_test.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/mapping.go
Due: zetaclient

chore: sync changelog with v18 changes
  changelog.md
Due: none

v17.0.1
  changelog.md
Due: none

refactor(fungible): remove chain name from zrc20 name on gas deployment (#2516)
  x/fungible/keeper/gas_coin_and_pool.go
Due: zetacore

chore(changelog.md): sync back changelog with `v17.0.1` and `v18` (#2517)
  changelog.md
Due: none

Implement observer & signer sync worker
  cmd/zetaclientd/start.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/orchestrator_test.go
Due: zetaclient

rename pdaID as pda to be a more correct Solana terminology
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/observer.go
Due: zetaclient

force migration
  app/setup_handlers.go
  x/authority/migrations/v2/migrate.go
  x/observer/migrations/v8/migrate.go
Due: zetacore

goimports
  app/setup_handlers.go
Due: none

chore: use rebased go-tss library (#2514)
  cmd/zetaclientd/gen_pre_params.go
  cmd/zetaclientd/keygen_tss.go
  cmd/zetaclientd/main.go
  cmd/zetaclientd/p2p_diagnostics.go
  cmd/zetaclientd/start.go
  go.mod
  go.sum
  x/observer/client/cli/tx_vote_blame.go
  x/observer/types/utils.go
  x/observer/types/utils_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/tss/tss_signer.go
  zetaclient/zetacore/client_vote.go
  zetaclient/zetacore/tx_test.go
Due: zetacore, zetaclient

Respect chainParam.IsSupported
  zetaclient/orchestrator/bootstap_test.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/mapping.go
Due: zetaclient

Update readme
  changelog.md
Due: none

support Solana wallet address in zetacore for SOL withdraw
  pkg/chains/address.go
  pkg/chains/address_test.go
  pkg/chains/chain.go
  pkg/chains/chain_test.go
Due: none

add changelog entry
  changelog.md
Due: none

Fix conflicts
  cmd/zetaclientd/utils.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/solana/observer/db.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/chains/solana/observer/observer.go
  zetaclient/chains/solana/observer/observer_test.go
  zetaclient/context/app.go
  zetaclient/context/app_test.go
  zetaclient/db/db.go
  zetaclient/orchestrator/bootstap_test.go
Due: zetaclient

Fix SOL observer
  cmd/zetaclientd/utils.go
  zetaclient/chains/solana/observer/observer.go
  zetaclient/context/app.go
  zetaclient/orchestrator/bootstap_test.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/testutils/testrpc/rpc_solana.go
Due: zetaclient

Address PR comments [1]
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/mapping.go
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

Address PR comments [2]
  zetaclient/chains/base/observer.go
Due: zetaclient

Address PR comments [3]
  zetaclient/db/db_test.go
Due: zetaclient

Update coderabbit config
  .coderabbit.yaml
Due: none

ci: fix nightly performance tests
  .github/workflows/ci-nightly-performance-testing.yaml
Due: none

Update coderabbit config (#2520)
  .coderabbit.yaml
Due: none

ci: fix nightly performance tests (#2522)
  .github/workflows/ci-nightly-performance-testing.yaml
Due: none

parse inscription like witness data
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/tx_script.go
  zetaclient/chains/bitcoin/tx_script_test.go
Due: zetaclient

more comment
  zetaclient/chains/bitcoin/tx_script.go
Due: zetaclient

remove unused code
  zetaclient/chains/bitcoin/tx_script.go
Due: zetaclient

parse inscription
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/testdata/btc/chain_8332_inbound_raw_result_37777defed8717c581b4c0509329550e344bdc14ac38f71fc050096887e535c8.json
Due: zetaclient

Update zetaclient/chains/bitcoin/tx_script.go
  zetaclient/chains/bitcoin/tx_script.go
Due: zetaclient

Update zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound.go
Due: zetaclient

Update orchestrator sync cadence
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

erc
  e2e/e2etests/test_erc20_withdraw.go
Due: none

ether
  e2e/e2etests/test_eth_withdraw.go
  e2e/e2etests/test_eth_withdraw_restricted_address.go
Due: none

Address PR comments [4]
  zetaclient/context/app.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/mapping.go
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

add additinal test case
  x/observer/migrations/v8/migrate_test.go
Due: zetacore

Update proto/zetachain/zetacore/observer/chain_nonces.proto
  proto/zetachain/zetacore/observer/chain_nonces.proto
Due: none

Update x/observer/client/cli/query_chain_nonce.go
  x/observer/client/cli/query_chain_nonce.go
Due: zetacore

Update x/observer/migrations/v8/migrate.go
  x/observer/migrations/v8/migrate.go
Due: zetacore

Path conditions:
  zetacore: any of: x/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  zetaclient: any of: zetaclient/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  common: any of: common/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
