Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

fix: use evm chain id from eth config in rpc backend (#4096)
  cmd/zetacored/root.go
  rpc/backend/backend.go
  rpc/backend/backend_suite_test.go
Due: none

generate files
  cmd/zetacored/add_observer_list.go
  docs/cli/zetacored/cli.md
  server/start.go
  server/timeout.go
Due: none

revert unncessary changes
  e2e/contracts/testdappv2/TestDAppV2.sol
  e2e/e2etests/test_update_bytecode_connector.go
  e2e/e2etests/test_zeta_withdraw_and_call_no_message.go
  e2e/runner/legacy_zevm.go
  x/fungible/keeper/export_private_functions_test.go
Due: zetacore

cancel solana WaC if tx size is too large
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_solana_withdraw_and_call_invalid_tx_size.go
  zetaclient/chains/solana/signer/fallback_tx.go
  zetaclient/chains/solana/signer/fallback_tx_test.go
Due: zetaclient

align the comments with the code
  e2e/e2etests/test_solana_withdraw_and_call_invalid_tx_size.go
Due: none

fix: cancel solana WaC if tx size is too large (#4098)
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_solana_withdraw_and_call_invalid_tx_size.go
  zetaclient/chains/solana/signer/fallback_tx.go
  zetaclient/chains/solana/signer/fallback_tx_test.go
Due: zetaclient

fix: nil reference in trace block (#4093)
  app/app.go
Due: none

update to commit be548f7691876e656ec61aa46e31ed337be92f4e , on branch release/v34
  go.mod
  go.sum
Due: none

chore : bump cosmos evm to support querying legacy proposals of type MsgUpdateParams (#4095)
  go.mod
  go.sum
Due: none

apply stringent check on Sui transaction's checkpoint
  zetaclient/chains/sui/observer/inbound.go
  zetaclient/chains/sui/observer/outbound.go
Due: zetaclient

port PR 4090 to v34
  e2e/e2etests/test_bitcoin_deposit_invalid_memo_revert.go
  zetaclient/chains/bitcoin/observer/inbound.go
Due: zetaclient

refactor: use slices.Sort where appropriate
  cmd/zetatool/cli/db_stats.go
Due: none

disable account balance verification for admin tests
  cmd/zetae2e/local/local.go
  x/fungible/keeper/zeta_test.go
Due: zetacore

improve naming for deposit functions
  cmd/zetae2e/local/admin.go
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/local/performance.go
  cmd/zetae2e/stress.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/e2etests/test_pause_zrc20.go
  e2e/runner/evm.go
Due: none

add changelog
  changelog.md
Due: none

remove erc20types module initialization
  Makefile
  app/setup_handlers.go
Due: none

remove sui upgrade tests
  cmd/zetae2e/local/local.go
Due: none

remove index
  app/setup_handlers.go
Due: none

format files
  cmd/zetae2e/local/local.go
Due: none

fix: remove store initilization for erc20 module (#4103)
  Makefile
  app/setup_handlers.go
  cmd/zetae2e/local/local.go
Due: none

update comments
  cmd/zetae2e/local/local.go
  e2e/runner/legacy_zevm.go
Due: none

apply status check on Sui inbound
  zetaclient/chains/sui/observer/inbound.go
  zetaclient/chains/sui/observer/observer_test.go
Due: zetaclient

fix: print error message in detail if unable to decode Bitcoin memo (#4090)
  changelog.md
  e2e/e2etests/test_bitcoin_deposit_invalid_memo_revert.go
  zetaclient/chains/bitcoin/observer/inbound.go
Due: zetaclient

refactor: replace []byte(fmt.Sprintf) with fmt.Appendf
  x/crosschain/keeper/inbound_tracker.go
  x/crosschain/simulation/operation_vote_outbound.go
  x/observer/keeper/tss_funds_migrator.go
  x/observer/types/keys.go
Due: zetacore

chore: remove tx suffix in vote inbound and outbound message names
  x/crosschain/keeper/msg_server_vote_inbound.go
  x/crosschain/keeper/msg_server_vote_inbound_test.go
  x/crosschain/keeper/msg_server_vote_outbound.go
  x/crosschain/keeper/msg_server_vote_outbound_test.go
Due: zetacore

update test legacy test zeta to use EVMAddress
  e2e/e2etests/legacy/test_zeta_deposit.go
Due: none

update tests
  server/start.go
  server/timeout.go
  server/timeout_test.go
Due: none

add changelog entry
  changelog.md
Due: none

remove skipping admin in upgrade setup
  cmd/zetae2e/local/local.go
Due: none

test(e2e): update admin e2e tests to use v2 connector (#4071)
  changelog.md
  cmd/zetae2e/local/admin.go
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/local/legacy.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/performance.go
  cmd/zetae2e/stress.go
  e2e/e2etests/legacy/test_zeta_deposit.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/e2etests/test_pause_zrc20.go
  e2e/e2etests/test_update_bytecode_connector.go
  e2e/runner/evm.go
  e2e/runner/legacy_zevm.go
Due: none

dont return err if tx is not found in get tx receipt
  rpc/backend/tx_info.go
Due: none

fix tests
  rpc/backend/tx_info_test.go
Due: none

changelog
  changelog.md
Due: none

fix flaky solana depositAndCall tests
  e2e/e2etests/legacy/test_eth_deposit_call.go
  e2e/e2etests/test_solana_deposit_call.go
  e2e/e2etests/test_solana_to_zevm_call.go
  e2e/e2etests/test_spl_deposit_and_call.go
  e2e/e2etests/test_ton_call.go
  e2e/e2etests/test_ton_deposit_and_call.go
  e2e/utils/contracts.go
Due: none

docs:Remove duplicate words
  .github/workflows/semgrep.yml
  docs/openapi/openapi.swagger.yaml
  docs/zetacore/status_message.md
  proto/zetachain/zetacore/observer/ballot.proto
  typescript/zetachain/zetacore/observer/ballot_pb.ts
Due: none

add back precompiles
  Makefile
  contrib/localnet/scripts/start-zetacored.sh
Due: none

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
