Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

Fix failing tests
  e2e/e2etests/test_bitcoin_withdraw.go
Due: none

update the way github actions docker pipeline pulls in release title
  .github/workflows/docker-build-and-push.yml
Due: none

fix nosec false positive
  e2e/e2etests/e2etests.go
Due: none

addressed comments
  zetaclient/bitcoin/bitcoin_client_test.go
  zetaclient/evm/base_transaction_data.go
  zetaclient/evm/evm_signer.go
  zetaclient/evm/evm_signer_test.go
  zetaclient/evm/inbounds_test.go
  zetaclient/testutils/stub/mock_core_bridge.go
  zetaclient/testutils/stub/mock_evm_rpc.go
  zetaclient/testutils/stub/mock_tss_signer.go
Due: zetaclient

simply to withdrawing emission amount directly in a message
  proto/emissions/withdrawable_emissions.proto
  testutil/sample/emissions.go
  x/emissions/abci.go
  x/emissions/abci_test.go
  x/emissions/client/cli/tx.go
  x/emissions/client/cli/tx_create_withdraw_emssions.go
  x/emissions/keeper/msg_server_withdraw_emissions.go
  x/emissions/keeper/msg_server_withdraw_emissions_test.go
  x/emissions/keeper/withdraw_emissions.go
  x/emissions/keeper/withdraw_emissions_test.go
  x/emissions/keeper/withdrawable_emissions.go
  x/emissions/keeper/withdrawable_emissions_test.go
  x/emissions/module.go
  x/emissions/types/errors.go
  x/emissions/types/withdrawable_emissions.pb.go
Due: zetacore

generate docs
  docs/cli/zetacored/zetacored_tx_emissions.md
  docs/cli/zetacored/zetacored_tx_emissions_create-withdraw-emission.md
  typescript/emissions/withdrawable_emissions_pb.d.ts
Due: none

reject zero amount withdraws
  x/emissions/types/errors.go
  x/emissions/types/message_withdraw_emissions.go
  x/emissions/types/message_withdraw_emissons_test.go
Due: zetacore

reject zero amount withdraws
  x/emissions/types/errors.go
Due: none

fix e2e test
  zetaclient/evm/evm_signer.go
Due: zetaclient

increase coverage for msg withdraw emissions
  testutil/keeper/emissions.go
  x/emissions/keeper/msg_server_withdraw_emissions.go
  x/emissions/keeper/msg_server_withdraw_emissions_test.go
Due: zetacore

add instructions for run command in local environment
  LOCAL_TESTING.md
  cmd/zetae2e/config/local.yml
  contrib/localnet/docker-compose.yml
Due: none

PR comments
  cmd/zetae2e/list_tests.go
  cmd/zetae2e/run.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_erc20_multiple_withdraws.go
  e2e/runner/runner.go
Due: none

Add more details to readme
  cmd/zetae2e/README.md
Due: none

Cleanup pointers from config
  cmd/zetaclientd/debug.go
  cmd/zetaclientd/main.go
  cmd/zetaclientd/p2p_diagnostics.go
  cmd/zetaclientd/start_utils.go
  cmd/zetaclientd/utils.go
  zetaclient/app_context/app_context.go
  zetaclient/bitcoin/bitcoin_client_rpc_test.go
  zetaclient/common/utils_test.go
  zetaclient/config/config.go
  zetaclient/config/config_chain.go
  zetaclient/config/types.go
  zetaclient/core_context/zeta_core_context.go
  zetaclient/core_context/zeta_core_context_test.go
  zetaclient/evm/inbounds.go
  zetaclient/evm/inbounds_test.go
  zetaclient/keys/keys.go
  zetaclient/keys/keys_test.go
  zetaclient/supplychecker/zeta_supply_checker.go
  zetaclient/testutils/utils.go
  zetaclient/tss/tss_signer.go
Due: zetaclient

Cleanup keygen core context pointer
  cmd/zetaclientd/keygen_tss.go
  cmd/zetaclientd/start.go
  zetaclient/core_context/zeta_core_context.go
  zetaclient/core_context/zeta_core_context_test.go
Due: zetaclient

Add to changelog
  changelog.md
Due: none

Fix lint and masked cfg
  cmd/zetaclientd/start_utils.go
Due: none

Fix lint
  zetaclient/evm/inbounds.go
Due: zetaclient

fixed localnet docker image
  Dockerfile-localnet
Due: none

test: e2e tests for zetaclient restricted addresses (#1791)
  changelog.md
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/local/erc20.go
  cmd/zetae2e/local/ethereum.go
  cmd/zetae2e/local/zeta.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_bitcoin_withdraw.go
  e2e/e2etests/test_crosschain_swap.go
  e2e/e2etests/test_erc20_deposit.go
  e2e/e2etests/test_erc20_refund.go
  e2e/e2etests/test_eth_withdraw.go
  e2e/e2etests/test_stress_eth_deposit.go
  e2e/e2etests/test_zeta_deposit.go
  e2e/runner/evm.go
  e2e/runner/zeta.go
Due: none

removing unused file
  Dockerfile-localnet
Due: none

updating the e2e test with docekr compose to use the localnet dockerfile
  Dockerfile-localnet
  contrib/localnet/docker-compose-stresstest.yml
  contrib/localnet/docker-compose-upgrade.yml
  contrib/localnet/docker-compose.yml
Due: none

fixing the e2e test reference
  Makefile
Due: none

Cleanup
  cmd/zetaclientd/debug.go
  cmd/zetaclientd/start_utils.go
  cmd/zetaclientd/utils.go
  zetaclient/app_context/app_context.go
  zetaclient/config/types.go
  zetaclient/core_context/zeta_core_context.go
  zetaclient/supplychecker/zeta_supply_checker.go
Due: zetaclient

addressed more comments
  zetaclient/evm/base_transaction_data.go
  zetaclient/evm/evm_signer.go
  zetaclient/testutils/stub/core_bridge.go
  zetaclient/testutils/stub/evm_rpc.go
  zetaclient/testutils/stub/tss_signer.go
Due: zetaclient

fix unit tests
  zetaclient/evm/base_transaction_data_test.go
  zetaclient/evm/evm_signer_test.go
Due: zetaclient

Cleanup
  cmd/zetaclientd/start_utils.go
Due: none

ci: Dockerfile & Docker Pipeline & Docker Compose Improvements (#1821)
  .github/workflows/docker-build-and-push.yml
  Dockerfile
  Dockerfile-localnet
  Makefile
  changelog.md
  contrib/athens3/zetacored/docker-compose.yml
  contrib/docker-scripts/download_binaries.py
  contrib/docker-scripts/install_cosmovisor.py
  contrib/docker-scripts/start.sh
  contrib/local-mainnet/zetacored/configs/app.toml
  contrib/local-mainnet/zetacored/configs/client.toml
  contrib/local-mainnet/zetacored/configs/config.toml
  contrib/local-mainnet/zetacored/configs/genesis.json
  contrib/local-mainnet/zetacored/configs/start.sh
  contrib/local-mainnet/zetacored/docker-compose.yml
  contrib/localnet/docker-compose-stresstest.yml
  contrib/localnet/docker-compose-upgrade.yml
  contrib/localnet/docker-compose.yml
  contrib/mainnet/bitcoind/docker-compose.yml
  contrib/mainnet/zetacored/docker-compose.yml
  readme.md
Due: none

fixed to error messages
  x/emissions/client/cli/tx.go
  x/emissions/client/cli/tx_withdraw_emssions.go
  x/emissions/keeper/msg_server_withdraw_emissions.go
  x/emissions/types/errors.go
  x/emissions/types/message_withdraw_emissions.go
  x/emissions/types/message_withdraw_emissons_test.go
Due: zetacore

Update x/emissions/keeper/msg_server_withdraw_emissions.go
  x/emissions/keeper/msg_server_withdraw_emissions.go
Due: zetacore

remove minter for UndistributedObserverRewardsPool
  testutil/keeper/keeper.go
  x/emissions/keeper/msg_server_withdraw_emissions_test.go
Due: zetacore

generate files
  docs/cli/zetacored/zetacored_tx_emissions.md
  docs/cli/zetacored/zetacored_tx_emissions_withdraw-emission.md
  x/emissions/keeper/msg_server_withdraw_emissions.go
Due: zetacore

increase approval amount
  e2e/e2etests/test_bitcoin_withdraw_invalid.go
Due: none

Fix conflicts and adapt added e2e tests
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_bitcoin_withdraw.go
  e2e/e2etests/test_erc20_deposit.go
  e2e/e2etests/test_eth_withdraw.go
  e2e/e2etests/test_stress_eth_deposit.go
  e2e/e2etests/test_zeta_deposit.go
Due: none

Update x/authority/client/cli/query.go
  x/authority/client/cli/query.go
Due: zetacore

Update x/observer/keeper/msg_server_update_observer.go
  x/observer/keeper/msg_server_update_observer.go
Due: zetacore

Fix bitcoin withdraw tests args
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_bitcoin_withdraw.go
Due: none

Path conditions:
  zetacore: any of: x/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  zetaclient: any of: zetaclient/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  common: any of: common/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
