Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

Update pkg/crypto/evm_address.go
  pkg/crypto/evm_address.go
Due: pkg

remove duplicated logs
  x/fungible/keeper/migrator.go
  x/fungible/migrations/v3/migrate_test.go
Due: zetacore

add helper functions
  x/observer/simulation/operation_update_observer.go
Due: none

format code
  simulation/state.go
  testutil/sample/crosschain.go
  testutil/sample/crypto.go
  testutil/sample/observer.go
  x/crosschain/genesis.go
  x/crosschain/keeper/cctx.go
  x/crosschain/keeper/msg_server_abort_stuck_cctx.go
  x/crosschain/keeper/msg_server_vote_inbound_tx.go
  x/crosschain/simulation/operation_add_inbound_tracker.go
  x/crosschain/simulation/operation_add_outbound_tracker.go
  x/crosschain/simulation/operation_gas_price_voter.go
  x/crosschain/simulation/operation_migrate_erc20_custody_funds.go
  x/crosschain/simulation/operation_refund_aborted_cctx.go
  x/crosschain/simulation/operation_remove_outbound_tracker.go
  x/crosschain/simulation/operation_update_erc20_pause_status.go
  x/crosschain/simulation/operation_update_rate_limiter_flags.go
  x/crosschain/simulation/operation_update_tss_address.go
  x/crosschain/simulation/operation_vote_inbound.go
  x/crosschain/simulation/operation_vote_outbound.go
  x/crosschain/simulation/operation_whitelist_erc20.go
  x/crosschain/simulation/operations.go
  x/crosschain/types/expected_keepers.go
  x/observer/genesis.go
  x/observer/keeper/msg_server_update_observer.go
  x/observer/simulation/operation_add_observer.go
  x/observer/simulation/operation_add_observer_node_account.go
  x/observer/simulation/operation_disable_cctx.go
  x/observer/simulation/operation_enable_cctx.go
  x/observer/simulation/operation_remove_chain_params.go
  x/observer/simulation/operation_reset_chain_nonces.go
  x/observer/simulation/operation_update_chain_params.go
  x/observer/simulation/operation_update_gas_price_increase_flags.go
  x/observer/simulation/operation_update_keygen.go
  x/observer/simulation/operation_update_observer.go
  x/observer/simulation/operations.go
Due: zetacore

add restart always to solana container
  contrib/localnet/docker-compose.yml
Due: none

rebase develop
  testutil/keeper/keeper.go
  x/observer/simulation/decoders_test.go
Due: none

tweak params
  e2e/e2etests/e2etests.go
Due: none

chore: use v23 as base in upgrade tests (#3272)
  Makefile
Due: none

add additional check to voting messages to for existing ballots
  simulation/simulation_test.go
  x/crosschain/simulation/operation_vote_inbound.go
  x/crosschain/simulation/operation_vote_outbound.go
  x/observer/simulation/operations.go
Due: none

fmt and changelog
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_stress_spl_deposit.go
  e2e/e2etests/test_stress_spl_withdraw.go
Due: none

cleanup
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_stress_solana_deposit.go
  e2e/e2etests/test_stress_solana_withdraw.go
  e2e/e2etests/test_stress_spl_deposit.go
  e2e/e2etests/test_stress_spl_withdraw.go
Due: none

making tests execution more granular
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
Due: none

revert last change
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
Due: none

add msg vote tss
  simulation/simulation_test.go
  x/observer/keeper/msg_server_vote_tss.go
  x/observer/simulation/operation_add_observer.go
  x/observer/simulation/operation_add_observer_node_account.go
  x/observer/simulation/operation_disable_cctx.go
  x/observer/simulation/operation_enable_cctx.go
  x/observer/simulation/operation_remove_chain_params.go
  x/observer/simulation/operation_reset_chain_nonces.go
  x/observer/simulation/operation_update_chain_params.go
  x/observer/simulation/operation_update_gas_price_increase_flags.go
  x/observer/simulation/operation_update_keygen.go
  x/observer/simulation/operation_update_observer.go
  x/observer/simulation/operation_vote_tss.go
  x/observer/simulation/operations.go
Due: zetacore

add msg vote tss
  x/observer/simulation/operation_update_observer.go
Due: none

remove isPending check for aborted cctx
  testutil/sample/crosschain.go
  testutil/sample/observer.go
  x/crosschain/simulation/operation_abort_stuck_cctx.go
  x/crosschain/simulation/operation_add_inbound_tracker.go
  x/crosschain/simulation/operation_add_outbound_tracker.go
  x/crosschain/simulation/operation_vote_inbound.go
  x/crosschain/simulation/operation_vote_outbound.go
  x/crosschain/simulation/operations.go
  x/fungible/simulation/operations.go
  x/observer/simulation/operation_vote_tss.go
  x/observer/simulation/operations.go
Due: none

fix unit tests
  testutil/keeper/mocks/observer/staking.go
  x/crosschain/simulation/decoders.go
  x/crosschain/simulation/decoders_test.go
Due: none

add comments to simulation_test.go
  Makefile
  simulation/simulation_test.go
Due: none

split perf tests
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/monitor_block_production.go
  cmd/zetae2e/local/performance.go
  e2e/config/config.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_stress_solana_withdraw.go
  e2e/e2etests/test_stress_spl_withdraw.go
Due: none

tweak params
  cmd/zetae2e/local/performance.go
  e2e/e2etests/e2etests.go
Due: none

decrease num of withdrawals back to 30
  e2e/e2etests/e2etests.go
Due: none

run only withdrawals
  cmd/zetae2e/local/local.go
Due: none

run sequentiallyx
  cmd/zetae2e/local/local.go
Due: none

uncomment tests
  cmd/zetae2e/local/local.go
Due: none

params
  e2e/e2etests/e2etests.go
Due: none

fix: enforce checksum format for asset address in ZRC20 (#3278)
  changelog.md
  pkg/crypto/address.go
  pkg/crypto/address_test.go
  pkg/crypto/evm_address.go
  pkg/crypto/evm_address_test.go
  testutil/sample/fungible.go
  x/crosschain/types/message_whitelist_erc20.go
  x/crosschain/types/message_whitelist_erc20_test.go
  x/fungible/keeper/migrator.go
  x/fungible/migrations/v3/migrate.go
  x/fungible/migrations/v3/migrate_test.go
  x/fungible/module.go
Due: zetacore, pkg

Streamline start.go
  cmd/zetaclientd/start.go
  cmd/zetaclientd/utils.go
  pkg/os/console.go
  zetaclient/chains/base/logger.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/config/config.go
  zetaclient/zetacore/client.go
Due: zetaclient, pkg

add e2e test guide
  e2e/TESTS.md
Due: none

rename
  e2e/TESTING_GUIDE.md
Due: none

sol deposit and call
  e2e/TESTING_GUIDE.md
Due: none

add comments and unit tests
  changelog.md
  pkg/chains/chain_filters_test.go
  pkg/coin/coint_test.go
  simulation/simulation_test.go
  simulation/state.go
  testutil/sample/crosschain.go
  testutil/sample/crypto.go
  x/crosschain/genesis.go
  x/crosschain/keeper/refund.go
  x/crosschain/simulation/genesis.go
  x/crosschain/types/outbound_tracker_test.go
  x/fungible/simulation/genesis.go
  x/observer/keeper/msg_server_vote_tss.go
  x/observer/simulation/genesis.go
  x/observer/simulation/operations.go
  zetaclient/chains/evm/observer/outbound.go
Due: zetacore, zetaclient, pkg

add comments to operations
  x/crosschain/simulation/operation_abort_stuck_cctx.go
  x/crosschain/simulation/operation_refund_aborted_cctx.go
  x/crosschain/simulation/operation_remove_outbound_tracker.go
  x/crosschain/simulation/operation_update_rate_limiter_flags.go
  x/crosschain/simulation/operation_update_tss_address.go
  x/crosschain/simulation/operation_vote_inbound.go
  x/crosschain/simulation/operation_vote_outbound.go
  x/crosschain/simulation/operation_whitelist_erc20.go
  x/observer/simulation/operation_add_observer.go
  x/observer/simulation/operation_add_observer_node_account.go
  x/observer/simulation/operation_remove_chain_params.go
  x/observer/simulation/operation_vote_tss.go
Due: none

refactor based on comments
  testutil/sample/crosschain.go
  testutil/sample/crypto.go
  testutil/sample/observer.go
  x/crosschain/simulation/operation_abort_stuck_cctx.go
  x/crosschain/simulation/operation_gas_price_voter.go
  x/crosschain/simulation/operation_migrate_erc20_custody_funds.go
  x/crosschain/simulation/operation_remove_outbound_tracker.go
  x/crosschain/simulation/operation_update_erc20_pause_status.go
  x/crosschain/simulation/operation_update_tss_address.go
  x/crosschain/simulation/operation_vote_outbound.go
  x/crosschain/simulation/operation_whitelist_erc20.go
  x/crosschain/simulation/operations.go
  x/fungible/keeper/deposits.go
  x/observer/simulation/decoders.go
  x/observer/simulation/operation_add_observer.go
  x/observer/simulation/operation_add_observer_node_account.go
  x/observer/simulation/operation_disable_cctx.go
  x/observer/simulation/operation_enable_cctx.go
  x/observer/simulation/operation_reset_chain_nonces.go
  x/observer/simulation/operation_update_chain_params.go
  x/observer/simulation/operations.go
Due: zetacore

move to local
  cmd/zetae2e/local/get_zetaclient_bootstrap.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/root.go
  contrib/localnet/scripts/start-zetaclientd.sh
Due: none

refactor(e2e): use seed address book rather than bootstrap peer
  cmd/zetae2e/get_zetaclient_bootstrap.go
  cmd/zetae2e/root.go
  contrib/localnet/scripts/start-zetaclientd.sh
Due: none

feedback
  cmd/zetae2e/local/get_zetaclient_bootstrap.go
Due: none

review updates
  cmd/zetae2e/get_zetaclient_bootstrap.go
  contrib/localnet/scripts/start-zetaclientd.sh
Due: none

chore: disable coderabbit top level status
  .coderabbit.yaml
Due: none

refactor(e2e): use address_book.seed rather than bootstrap peer (#3277)
  cmd/zetae2e/local/get_zetaclient_bootstrap.go
  cmd/zetae2e/local/local.go
  contrib/localnet/scripts/start-zetaclientd.sh
Due: none
