Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

rpc mocks
  go.mod
  go.sum
  rpc/backend/mocks/client.go
  rpc/backend/mocks/evm_query_client.go
  rpc/backend/mocks/feemarket_query_client.go
Due: none

forking new rpc tests without synthetic txs
  go.mod
  go.sum
  rpc/backend/account_info_test.go
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks_test.go
  rpc/backend/call_tx_test.go
  rpc/backend/chain_info_test.go
  rpc/backend/client_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/feemarket_query_client_test.go
  rpc/backend/filters_test.go
  rpc/backend/node_info_test.go
  rpc/backend/sign_tx_test.go
  rpc/backend/tracing_test.go
  rpc/backend/tx_info_test.go
  rpc/backend/utils_test.go
Due: none

remove v2 from naming
  .github/workflows/e2e.yml
  Makefile
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_erc20_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_migrate_connector_funds.go
Due: none

fix size
  e2e/e2etests/test_eth_withdraw_and_call_big_payload.go
Due: none

trying to run rpc tests wip
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks_test.go
  rpc/backend/client_test.go
Due: none

Fix bugs. E2E for increase_seqno
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_ton_withdraw_masterchain.go
  e2e/e2etests/test_ton_withdraw_restricted.go
  e2e/e2etests/test_ton_withdrawal.go
  e2e/e2etests/test_ton_withdrawal_concurrent.go
  e2e/runner/run.go
  e2e/runner/ton.go
  pkg/contracts/ton/gateway_tx.go
  testutil/sample/zetaclient.go
  zetaclient/chains/ton/rpc/types.go
Due: zetaclient, pkg

Update changelog
  changelog.md
Due: none

fix block rpc tests
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks.go
  rpc/backend/blocks_test.go
  rpc/types/events.go
Due: none

update deposit
  Makefile
  cmd/zetae2e/local/local.go
  e2e/contracts/testdappv2/TestDAppV2.abi
  e2e/contracts/testdappv2/TestDAppV2.bin
  e2e/contracts/testdappv2/TestDAppV2.go
  e2e/contracts/testdappv2/TestDAppV2.json
  e2e/contracts/testdappv2/TestDAppV2.sol
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_zeta_deposit_and_call.go
  e2e/e2etests/test_zeta_deposit_and_call_revert.go
  e2e/runner/evm.go
  e2e/runner/runner.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/evm_deposit.go
  x/crosschain/keeper/gas_payment.go
  x/fungible/keeper/deposits.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/evm_gateway.go
  zetaclient/chains/evm/common/cctx.go
  zetaclient/chains/evm/common/cctx_test.go
  zetaclient/chains/evm/common/constant.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/evm/observer/v2_outbound.go
  zetaclient/chains/evm/signer/v2_sign.go
  zetaclient/chains/evm/signer/v2_signer.go
Due: zetacore, zetaclient

fixing tracing and tx info tests
  rpc/backend/backend_suite_test.go
  rpc/backend/client_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/tracing_convert_test.go
  rpc/backend/tracing_test.go
  rpc/backend/tx_info.go
  rpc/backend/tx_info_test.go
Due: none

add unit tests
  cmd/zetae2e/local/evm.go
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_v2_zeta_deposit.go
  e2e/e2etests/test_zeta_deposit_and_call_revert.go
  e2e/runner/setup_zevm.go
  zetaclient/chains/evm/common/cctx_test.go
Due: zetaclient

remaining rpc backend tests fixes
  rpc/backend/call_tx_test.go
  rpc/backend/evm_query_client_test.go
Due: none

fix rpc types tests
  rpc/types/utils.go
Due: none

lower Bitcoin E2E deposit test tx fee
  e2e/runner/bitcoin.go
Due: none

add unit tests
  .github/workflows/e2e.yml
  Makefile
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/local/evm.go
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/config/config.go
  e2e/e2etests/test_v2_zeta_deposit.go
  e2e/e2etests/test_zeta_deposit_and_call_revert.go
  e2e/runner/accounting.go
  e2e/runner/evm.go
  e2e/runner/legacy_setup_evm.go
  e2e/runner/setup_zevm.go
  x/fungible/keeper/evm_gateway.go
  zetaclient/chains/evm/common/cctx_test.go
Due: zetacore, zetaclient

generate files
  Makefile
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_migrate_connector_funds.go
  e2e/e2etests/test_v2_zeta_deposit.go
  e2e/runner/accounting.go
  e2e/runner/legacy_setup_evm.go
  x/crosschain/keeper/evm_deposit.go
  x/crosschain/keeper/gas_payment.go
  x/fungible/keeper/deposits.go
  x/fungible/keeper/evm.go
  zetaclient/chains/evm/common/constant.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/evm/observer/v2_inbound_test.go
  zetaclient/chains/evm/observer/v2_outbound.go
  zetaclient/chains/evm/signer/v2_sign.go
  zetaclient/chains/evm/signer/v2_signer.go
Due: zetacore, zetaclient

generate files
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/fungible/keeper/deposits.go
Due: zetacore

test: lower Bitcoin E2E deposit tx fee to make nightly test cheaper (#3989)
  e2e/runner/bitcoin.go
Due: none

Address PR comments
  e2e/e2etests/e2etests.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/outbound.go
  zetaclient/chains/ton/signer/signer.go
  zetaclient/chains/ton/signer/signer_compose.go
  zetaclient/chains/ton/signer/signer_test.go
Due: zetaclient

Simplify inbound voting
  zetaclient/chains/ton/observer/inbound.go
Due: zetaclient

outbounds: validate nonce & simplify code
  zetaclient/chains/ton/observer/observer.go
  zetaclient/chains/ton/observer/outbound.go
Due: zetaclient

generate files
  zetaclient/chains/evm/observer/v2_inbound.go
Due: zetaclient

test: add connector fund migration e2e test using contracts only (#3976)
  .github/workflows/e2e.yml
  Makefile
  changelog.md
  cmd/zetae2e/local/local.go
  contrib/localnet/docker-compose.yml
  e2e/e2etests/e2etests.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_erc20_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_migrate_connector_funds.go
  e2e/e2etests/test_v2_zeta_deposit.go
  e2e/runner/evm.go
  e2e/runner/legacy_zevm.go
  e2e/runner/runner.go
  e2e/runner/setup_evm.go
  pkg/constant/constant.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  zetaclient/chains/evm/observer/v2_inbound.go
Due: zetacore, zetaclient, pkg

undo changes based on develop
  .github/workflows/e2e.yml
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/local/local.go
  e2e/config/config.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_erc20_withdraw_and_call_revert_with_call.go
  e2e/runner/evm.go
  e2e/runner/runner.go
  e2e/runner/setup_evm.go
Due: none

update deposit and revert smart contract call
  x/fungible/keeper/evm_gateway.go
Due: zetacore

rename zeta deposit test file
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_zeta_deposit.go
Due: none

rename zeta deposit test file
  Makefile
  changelog.md
  cmd/zetae2e/local/evm.go
  cmd/zetae2e/local/local.go
  e2e/config/config.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_zeta_deposit.go
  e2e/runner/evm.go
Due: none

add abort and revert tests
  cmd/zetae2e/local/evm.go
  cmd/zetae2e/local/local.go
  e2e/config/config.go
  e2e/contracts/testabort/TestAbort.abi
  e2e/contracts/testabort/TestAbort.bin
  e2e/contracts/testabort/TestAbort.go
  e2e/contracts/testabort/TestAbort.json
  e2e/contracts/testabort/TestAbort.sol
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_zeta_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_zeta_deposit_revert_and_abort.go
  x/fungible/keeper/deposits.go
  x/fungible/keeper/deposits_test.go
  x/fungible/keeper/gas_coin_and_pool_test.go
  zetaclient/chains/evm/observer/v2_outbound.go
  zetaclient/chains/evm/signer/v2_sign.go
  zetaclient/chains/evm/signer/v2_signer.go
  zetaclient/zetacore/client_test.go
Due: zetacore, zetaclient

chore: fix some comments
  zetaclient/chains/bitcoin/client/helpers_test.go
  zetaclient/chains/bitcoin/observer/witness.go
Due: zetaclient

add TestZetaDepositAndCallNoMessage
  changelog.md
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/local/evm.go
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_zeta_deposit_and_call.go
  e2e/e2etests/test_zeta_deposit_and_call_no_message.go
  e2e/e2etests/test_zeta_deposit_and_call_revert.go
  e2e/e2etests/test_zeta_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_zeta_deposit_revert_and_abort.go
  x/fungible/keeper/deposits.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/v2_inbound_test.go
  zetaclient/chains/evm/observer/v2_outbound.go
Due: zetacore, zetaclient

add TestZetaDepositAndCallNoMessage
  e2e/e2etests/e2etests.go
Due: none

bump gw
  pkg/contracts/ton/gateway.compiled.json
Due: none

chore: fix some comments (#3993)
  zetaclient/chains/bitcoin/client/helpers_test.go
  zetaclient/chains/bitcoin/observer/witness.go
Due: zetaclient

unit test fix
  pkg/rpc/clients_test.go
Due: pkg

unit tests fixes
  pkg/mempool/custom_proposal_handler_test.go
  zetaclient/zetacore/broadcast_test.go
  zetaclient/zetacore/client_test.go
Due: zetaclient, pkg

remove payable from TestAbort contract
  e2e/contracts/testabort/TestAbort.abi
  e2e/contracts/testabort/TestAbort.bin
  e2e/contracts/testabort/TestAbort.go
  e2e/contracts/testabort/TestAbort.json
  e2e/contracts/testabort/TestAbort.sol
  testutil/keeper/mocks/crosschain/fungible.go
  x/crosschain/keeper/cctx_gateway_zevm_test.go
  x/crosschain/keeper/evm_deposit.go
  x/crosschain/keeper/evm_deposit_test.go
  x/crosschain/keeper/initiate_outbound_test.go
  x/crosschain/types/expected_keepers.go
  x/fungible/keeper/zevm_message_passing_test.go
  x/fungible/keeper/zevm_msg_passing.go
Due: zetacore

rename to LegacyZETADepositAndCallContract
  testutil/keeper/mocks/crosschain/fungible.go
Due: none

unit tests refactoring and fixes
  Makefile
  go.mod
  go.sum
  testutil/keeper/config.go
  testutil/keeper/keeper.go
  x/fungible/keeper/evm.go
  x/ibccrosschain/ibc_module.go
  x/observer/keeper/msg_server_vote_tss.go
  x/observer/migrations/v11/migrate.go
Due: zetacore

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
