Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

Minor refactoring
  pkg/ticker/ticker_test.go
  zetaclient/chains/ton/config.go
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

add more unit tests
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/runner/bitcoin.go
  testutil/helpers.go
  testutil/sample/crypto.go
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
Due: zetaclient

remove fungible type dep from crosschain
  x/crosschain/keeper/v2_zevm_inbound.go
  x/crosschain/types/inbound_parsing.go
  x/crosschain/types/inbound_parsing_test.go
Due: zetacore

keepertest
  x/crosschain/types/inbound_parsing_test.go
  zetaclient/chains/evm/cctx_test.go
Due: zetacore, zetaclient

rename
  docs/rfc/001_standard_memo_format.md
  docs/rfc/images/001_layout.png
Due: none

docs(rfc): non-evm chain memo design standard (#2963)
  docs/rfc/001_standard_memo_format.md
  docs/rfc/images/001_layout.png
Due: none

bump go tss to remove dht
  go.mod
  go.sum
Due: none

Update Makefile
  Makefile
Due: none

Update changelog.md
  changelog.md
Due: none

format simulation.md
  app/app.go
  docs/development/SIMULATION_TESTING.md
Due: none

chore: bump go tss to remove dht (#3027)
  go.mod
  go.sum
Due: none

test: add simulation tests (#2947)
  Makefile
  app/app.go
  app/encoding.go
  app/genesis.go
  app/init_genesis.go
  app/modules.go
  changelog.md
  docs/development/SIMULATION_TESTING.md
  e2e/runner/admin_evm.go
  e2e/runner/report.go
  readme.md
  tests/simulation/sim/sim_config.go
  tests/simulation/sim/sim_state.go
  tests/simulation/sim/sim_utils.go
  tests/simulation/sim_test.go
  testutil/simapp/default_constants.go
  testutil/simapp/simapp.go
Due: none

add whitelist fields
  zetaclient/config/types.go
  zetaclient/tss/tss_signer.go
Due: zetaclient

update go mod
  go.mod
  go.sum
Due: none

Add TON signer
  zetaclient/chains/ton/signer/signer.go
  zetaclient/chains/ton/signer/signer_tracker.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

disable whitelist for localnet
  contrib/localnet/scripts/start-zetaclientd.sh
Due: none

fix upgradable erc20custody setup
  e2e/runner/v2_setup_evm.go
Due: none

bump go-tss
  go.mod
  go.sum
Due: none

fix onCall -> onCrossChainCall
  pkg/contracts/testdappv2/TestDAppV2.abi
  pkg/contracts/testdappv2/TestDAppV2.bin
  pkg/contracts/testdappv2/TestDAppV2.go
  pkg/contracts/testdappv2/TestDAppV2.json
  pkg/contracts/testdappv2/TestDAppV2.sol
  pkg/contracts/testdappv2/bindings.go
Due: none

add test for import export
  Makefile
  app/app.go
  tests/simulation/sim/sim_utils.go
  tests/simulation/sim/sim_utils_cosmos.go
  tests/simulation/sim_test.go
Due: none

disable standard memo for Bitcoin mainnet
  pkg/memo/fields.go
  pkg/memo/fields_v0.go
  pkg/memo/fields_v0_test.go
  pkg/memo/memo.go
  pkg/memo/memo_test.go
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/bitcoin/observer/event_test.go
Due: zetaclient

test sim after import
  Makefile
  tests/simulation/sim_test.go
Due: none

fix gosec
  tests/simulation/sim/sim_state.go
Due: none

uncomment e2e tests
  cmd/zetae2e/local/local.go
Due: none

Add withdrawal parsing; Update Gateway with a fix of https://github.com/zeta-chain/protocol-contracts-ton/pull/19
  pkg/contracts/ton/gateway.compiled.json
  pkg/contracts/ton/gateway.go
  pkg/contracts/ton/gateway_msg.go
  pkg/contracts/ton/gateway_parse.go
  pkg/contracts/ton/gateway_test.go
  pkg/contracts/ton/gateway_tx.go
  pkg/contracts/ton/testdata/06-withdrawal.json
Due: none

fix SetGatewayAddress
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/signer_test.go
Due: zetaclient

add changelog entry
  changelog.md
Due: none

stop dht after 5 min
  go.mod
  go.sum
Due: none

stop dht after 5 min (#3032)
  go.mod
  go.sum
Due: none

fix: SetGatewayAddress might set invalid gateway address (#3030)
  changelog.md
  tests/simulation/sim/sim_state.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/signer_test.go
Due: zetaclient

add bench test
  Makefile
  app/export.go
  tests/simulation/sim_bench_test.go
  tests/simulation/sim_test.go
Due: none

Revert "stop dht after 5 min (#3032)"
  go.mod
  go.sum
Due: none

Revert "stop dht after 5 min (#3032)" (#3034)
  go.mod
  go.sum
Due: none

remove bench
  Makefile
  tests/simulation/sim_bench_test.go
Due: none

add changelog
  Makefile
  changelog.md
  docs/development/SIMULATION_TESTING.md
  tests/simulation/sim_test.go
Due: none

remove cosmos utils
  Makefile
  tests/simulation/sim/sim_utils_cosmos.go
  tests/simulation/sim_test.go
Due: none

remove print lines
  tests/simulation/sim/sim_utils.go
  tests/simulation/sim_test.go
Due: none

Path conditions:
  zetacore: any of: x/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  zetaclient: any of: zetaclient/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  common: any of: common/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
