Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

Add scheduler.Tasks()
  pkg/scheduler/scheduler.go
Due: pkg

Add v2 btc observer-signer 101 test cases. Drop redundant tests
  zetaclient/chains/bitcoin/bitcoin.go
  zetaclient/orchestrator/bootstrap_test.go
  zetaclient/orchestrator/v2_bootstrap.go
  zetaclient/orchestrator/v2_bootstrap_test.go
  zetaclient/orchestrator/v2_orchestrator.go
  zetaclient/orchestrator/v2_orchestrator_test.go
  zetaclient/testutils/mocks/chain_params.go
Due: zetaclient

move functions to separate files; add unit tests for signer, RBF fee bumper, etc.
  zetaclient/chains/bitcoin/observer/db.go
  zetaclient/chains/bitcoin/observer/db_test.go
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/mempool.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/observer/utxos.go
  zetaclient/chains/bitcoin/signer/fee_bumper.go
  zetaclient/chains/bitcoin/signer/fee_bumper_test.go
  zetaclient/chains/bitcoin/signer/outbound_data.go
  zetaclient/chains/bitcoin/signer/outbound_data_test.go
  zetaclient/chains/bitcoin/signer/sign_withdraw.go
  zetaclient/chains/bitcoin/signer/sign_withdraw_rbf.go
  zetaclient/chains/bitcoin/signer/sign_withdraw_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/bitcoin/signer/signer_test.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/testdata/btc/chain_8332_msgtx_030cd813443f7b70cc6d8a544d320c6d8465e4528fc0f3410b599dc0b26753a0.json
  zetaclient/testdata/btc/chain_8332_tx_030cd813443f7b70cc6d8a544d320c6d8465e4528fc0f3410b599dc0b26753a0.json
  zetaclient/testutils/mocks/zetacore_client_opts.go
  zetaclient/testutils/testdata.go
  zetaclient/testutils/testdata_naming.go
Due: zetaclient

mark mempool test as live test
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
  zetaclient/chains/bitcoin/rpc/rpc_rbf_live_test.go
Due: zetaclient

fix: make crosschain-call with invalid withdraw revert (#3321)
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/contracts/withdrawer/Withdrawer.abi
  e2e/contracts/withdrawer/Withdrawer.bin
  e2e/contracts/withdrawer/Withdrawer.go
  e2e/contracts/withdrawer/Withdrawer.json
  e2e/contracts/withdrawer/Withdrawer.sol
  e2e/contracts/withdrawer/bindings.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_bitcoin_deposit_and_withdraw_with_dust.go
  x/crosschain/keeper/evm_deposit.go
  x/crosschain/keeper/evm_deposit_test.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/evm_hooks_test.go
Due: zetacore

Address PR comments
  cmd/zetaclientd/start.go
  pkg/scheduler/scheduler.go
  zetaclient/chains/bitcoin/bitcoin.go
  zetaclient/orchestrator/v2_bootstrap.go
  zetaclient/orchestrator/v2_orchestrator.go
Due: zetaclient, pkg

add function to create evm error message
  x/fungible/types/evm_error_message.go
  x/fungible/types/evm_error_message_test.go
Due: zetacore

make changes for comments 2
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/observer/ballot.proto
  proto/zetachain/zetacore/observer/events.proto
  proto/zetachain/zetacore/observer/query.proto
  typescript/zetachain/zetacore/observer/ballot_pb.d.ts
  typescript/zetachain/zetacore/observer/events_pb.d.ts
  typescript/zetachain/zetacore/observer/query_pb.d.ts
  x/emissions/abci.go
  x/emissions/keeper/events.go
  x/observer/keeper/events.go
  x/observer/keeper/grpc_query_ballot_test.go
  x/observer/types/ballot.go
  x/observer/types/ballot.pb.go
  x/observer/types/ballot_test.go
  x/observer/types/events.pb.go
  x/observer/types/query.pb.go
Due: zetacore

change test names for tests under TestCoinType_SupportsRefund
  pkg/coin/coin_test.go
  pkg/coin/coint_test.go
Due: pkg

Add issue
  zetaclient/orchestrator/v2_orchestrator.go
Due: zetaclient

remove max limit for Ballots query
  x/observer/keeper/grpc_query_ballot.go
Due: zetacore

rename functions updateState to extractState
  pkg/memo/memo_test.go
  simulation/state.go
  testutil/sample/crosschain.go
Due: pkg

update BTC CCTX gas rate in block beginner
  x/crosschain/keeper/abci.go
  x/crosschain/keeper/abci_test.go
  x/crosschain/module.go
Due: zetacore

fix inbound debug cmd
  cmd/zetaclientd/inbound.go
Due: none

Add tss graceful shutdown
  cmd/zetaclientd/start.go
  zetaclient/tss/service.go
Due: zetaclient

Update changelog
  changelog.md
Due: none

rebase develop
  testutil/sample/crosschain.go
Due: none

rpc fixes
  precompiles/staking/staking_test.go
  rpc/backend/account_info.go
  rpc/backend/account_info_test.go
  rpc/backend/backend.go
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks.go
  rpc/backend/blocks_test.go
  rpc/backend/chain_info.go
  rpc/backend/chain_info_test.go
  rpc/backend/client_test.go
  rpc/backend/mocks/client.go
  rpc/backend/sign_tx.go
  rpc/backend/sign_tx_test.go
  rpc/backend/tracing_test.go
  rpc/backend/tx_info.go
  rpc/backend/tx_info_test.go
  rpc/backend/utils.go
  rpc/types/events.go
  rpc/types/events_test.go
  rpc/types/utils.go
  server/start.go
  simulation/simulation.go
  testutil/keeper/authority.go
  testutil/keeper/crosschain.go
  testutil/keeper/emissions.go
  testutil/keeper/fungible.go
  testutil/keeper/ibccrosschain.go
  testutil/keeper/keeper.go
  testutil/keeper/lightclient.go
  testutil/keeper/observer.go
  zetaclient/testutils/mocks/cometbft_client.go
Due: none

fix tss tests
  zetaclient/tss/service_test.go
Due: zetaclient

generate
  app/app.go
  app/export.go
  cmd/zetacored/add_observer_list.go
  docs/cli/zetacored/cli.md
  docs/openapi/openapi.swagger.yaml
  e2e/e2etests/legacy/test_rate_limiter.go
  precompiles/staking/staking_test.go
  rpc/backend/chain_info.go
  rpc/backend/sign_tx_test.go
  server/indexer_cmd.go
  server/json_rpc.go
  server/start.go
  testutil/keeper/authority.go
  testutil/keeper/crosschain.go
  testutil/keeper/emissions.go
  testutil/keeper/fungible.go
  testutil/keeper/ibccrosschain.go
  testutil/keeper/lightclient.go
  testutil/keeper/observer.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit_test.go
  x/emissions/keeper/block_rewards_components.go
  x/observer/keeper/hooks.go
  x/observer/types/chain_params.go
  zetaclient/ratelimiter/rate_limiter_test.go
Due: zetacore, zetaclient

mocks
  testutil/keeper/mocks/crosschain/account.go
  testutil/keeper/mocks/crosschain/authority.go
  testutil/keeper/mocks/crosschain/bank.go
  testutil/keeper/mocks/crosschain/fungible.go
  testutil/keeper/mocks/crosschain/ibccrosschain.go
  testutil/keeper/mocks/crosschain/lightclient.go
  testutil/keeper/mocks/crosschain/observer.go
  testutil/keeper/mocks/crosschain/staking.go
  testutil/keeper/mocks/emissions/account.go
  testutil/keeper/mocks/emissions/bank.go
  testutil/keeper/mocks/emissions/observer.go
  testutil/keeper/mocks/emissions/staking.go
  testutil/keeper/mocks/fungible/account.go
  testutil/keeper/mocks/fungible/authority.go
  testutil/keeper/mocks/fungible/bank.go
  testutil/keeper/mocks/fungible/evm.go
  testutil/keeper/mocks/fungible/observer.go
  testutil/keeper/mocks/ibccrosschain/crosschain.go
  testutil/keeper/mocks/ibccrosschain/transfer.go
  testutil/keeper/mocks/lightclient/authority.go
  testutil/keeper/mocks/observer/authority.go
  testutil/keeper/mocks/observer/lightclient.go
  testutil/keeper/mocks/observer/slashing.go
  testutil/keeper/mocks/observer/staking.go
Due: none

fix testutils keepers
  testutil/keeper/keeper.go
  testutil/sample/sample.go
Due: none

remove BallotDeleteEvent
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/observer/ballot.proto
  proto/zetachain/zetacore/observer/events.proto
  proto/zetachain/zetacore/observer/query.proto
  testutil/sample/logger.go
  typescript/zetachain/zetacore/observer/ballot_pb.d.ts
  typescript/zetachain/zetacore/observer/events_pb.d.ts
  typescript/zetachain/zetacore/observer/query_pb.d.ts
  x/observer/keeper/ballot.go
  x/observer/keeper/ballot_test.go
  x/observer/keeper/events.go
  x/observer/keeper/events_test.go
  x/observer/keeper/export_private_functions_test.go
  x/observer/keeper/grpc_query_ballot.go
  x/observer/keeper/grpc_query_ballot_test.go
  x/observer/types/ballot.go
  x/observer/types/ballot.pb.go
  x/observer/types/ballot_test.go
  x/observer/types/events.pb.go
  x/observer/types/query.pb.go
Due: zetacore

fixes
  precompiles/staking/method_get_rewards_test.go
  precompiles/staking/method_get_validators_test.go
  testutil/network/util.go
  x/authority/keeper/authorization_list.go
  x/crosschain/keeper/msg_server_vote_inbound_tx_test.go
  zetaclient/testutils/mocks/keyring.go
  zetaclient/zetacore/broadcast_test.go
  zetaclient/zetacore/tx.go
Due: zetacore, zetaclient

add mempool tests
  zetaclient/chains/bitcoin/observer/mempool.go
  zetaclient/chains/bitcoin/observer/mempool_test.go
  zetaclient/chains/bitcoin/observer/observer_test.go
Due: zetaclient

add keysign tests
  testutil/sample/crypto.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/revert_options_test.go
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/signer/fee_bumper_test.go
  zetaclient/chains/bitcoin/signer/sign.go
  zetaclient/chains/bitcoin/signer/sign_rbf.go
  zetaclient/chains/bitcoin/signer/sign_rbf_test.go
  zetaclient/chains/bitcoin/signer/sign_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/bitcoin/signer/signer_test.go
Due: zetacore, zetaclient

Fix IntervalUpdater
  pkg/scheduler/opts.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  pkg/scheduler/tickers.go
Due: pkg

Mitigate errors when BTC node is disabled
  zetaclient/chains/bitcoin/common/errors.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/rpc_status.go
  zetaclient/chains/bitcoin/rpc/rpc.go
Due: zetaclient

chore: remove main Dockerfile (#3329)
  .github/actions/build-docker-images-generic/action.yml
  .github/actions/build-docker-images/action.yml
  .github/workflows/docker-build-and-push.yml
  Dockerfile
  Makefile
  contrib/docker-scripts/download_binaries.py
  contrib/docker-scripts/install_cosmovisor.py
  contrib/docker-scripts/start.sh
  contrib/rpc/zetacored/docker-compose.yml
  contrib/rpc/zetacored/init_docker_compose.sh
  contrib/rpc/zetacored/kill_docker_compose.sh
  contrib/rpc/zetacored/networks/.athens3
  contrib/rpc/zetacored/networks/.athens3-localbuild
  contrib/rpc/zetacored/networks/.mainnet
  contrib/rpc/zetacored/networks/.mainnet-localbuild
Due: none

use latest bitcoin-core-docker to be able to call mempool related RPCs
  contrib/localnet/docker-compose.yml
Due: none

disable precompiles
  cmd/zetae2e/local/local.go
  precompiles/precompiles.go
Due: none

complete changelog
  changelog.md
Due: none

set v24 as base for upgrade tests
  Makefile
Due: none

lint error
  cmd/zetae2e/local/local.go
Due: none

chore: prepare v25 (#3338)
  Makefile
  changelog.md
  cmd/zetae2e/local/local.go
  precompiles/precompiles.go
Due: none

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
