Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

refactor: use maps.Copy for cleaner map handling
  zetaclient/config/types.go
Due: zetaclient

remove other reference
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_migrate_erc20_custody_funds.go
  e2e/e2etests/test_pause_erc20_custody.go
  pkg/constant/constant.go
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
  x/crosschain/simulation/operation_update_erc20_pause_status.go
  x/crosschain/simulation/operation_whitelist_erc20.go
  x/crosschain/simulation/operations.go
  x/crosschain/types/cmd_cctxs.go
  x/crosschain/types/cmd_cctxs_test.go
  zetaclient/chains/evm/signer/signer_admin.go
  zetaclient/chains/evm/signer/signer_admin_test.go
Due: zetacore, zetaclient, pkg

changelog
  changelog.md
Due: none

proto
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/crosschain/genesis.proto
  proto/zetachain/zetacore/crosschain/last_block_height.proto
  proto/zetachain/zetacore/crosschain/query.proto
  typescript/zetachain/zetacore/crosschain/genesis_pb.ts
  typescript/zetachain/zetacore/crosschain/last_block_height_pb.ts
  typescript/zetachain/zetacore/crosschain/query_pb.ts
  x/crosschain/types/genesis.pb.go
  x/crosschain/types/last_block_height.pb.go
  x/crosschain/types/query.pb.go
  x/crosschain/types/query.pb.gw.go
Due: none

remove other references
  pkg/rpc/clients_crosschain.go
  testutil/network/genesis_state.go
  testutil/sample/crosschain.go
  x/crosschain/client/cli/cli_last_block_height.go
  x/crosschain/genesis.go
  x/crosschain/genesis_test.go
  x/crosschain/keeper/grpc_query_last_block_height.go
  x/crosschain/keeper/grpc_query_last_block_height_test.go
  x/crosschain/keeper/last_block_height.go
  x/crosschain/keeper/last_block_height_test.go
  x/crosschain/simulation/decoders.go
  x/crosschain/simulation/decoders_test.go
  x/crosschain/types/keys.go
Due: zetacore, pkg

refactor: use coin.CoinType for compliance logging
  zetaclient/chains/base/signer.go
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/signer/increment_nonce.go
  zetaclient/chains/sui/observer/inbound.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/inbound_test.go
  zetaclient/chains/ton/signer/signer_compose.go
  zetaclient/compliance/compliance.go
Due: zetaclient

Update zetaclient/zetacore/client_vote.go
  zetaclient/zetacore/client_vote.go
Due: zetaclient

fix unit tests and add changelog
  changelog.md
  x/crosschain/keeper/msg_server_vote_inbound_test.go
Due: zetacore

adjust comments
  x/crosschain/keeper/msg_server_vote_inbound.go
Due: zetacore

Update zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer.go
Due: zetaclient

fix: add timeout to monitoring routine (#4196)
  zetaclient/chains/base/observer.go
  zetaclient/chains/ton/observer/observer_test.go
  zetaclient/context/context.go
  zetaclient/zetacore/client_vote.go
Due: zetaclient

refactor: use maps.Copy for cleaner map handling (#4198)
  zetaclient/config/types.go
Due: zetaclient

cherry pick changes for context with timeout
  zetaclient/chains/base/observer.go
  zetaclient/chains/ton/observer/observer_test.go
  zetaclient/context/context.go
  zetaclient/zetacore/client_vote.go
Due: zetaclient

format package and fix lint
  zetaclient/chains/base/observer.go
Due: zetaclient

refactor: rename whitelistERC20 into whitelistAsset
  docs/cli/zetacored/cli.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/generated.md
  e2e/e2etests/test_migrate_chain_support.go
  e2e/e2etests/test_solana_whitelist_spl.go
  e2e/e2etests/test_whitelist_erc20.go
  pkg/constant/constant.go
  proto/zetachain/zetacore/crosschain/legacy_msgs.proto
  proto/zetachain/zetacore/crosschain/tx.proto
  typescript/zetachain/zetacore/crosschain/legacy_msgs_pb.ts
  typescript/zetachain/zetacore/crosschain/tx_pb.ts
  x/crosschain/client/cli/cli_whitelist_asset.go
  x/crosschain/client/cli/tx.go
  x/crosschain/keeper/msg_server_whitelist_asset.go
  x/crosschain/keeper/msg_server_whitelist_asset_test.go
  x/crosschain/types/cmd_cctxs.go
  x/crosschain/types/cmd_cctxs_test.go
  x/crosschain/types/codec.go
  x/crosschain/types/legacy_msgs.go
  x/crosschain/types/legacy_msgs.pb.go
  x/crosschain/types/message_whitelist_asset.go
  x/crosschain/types/message_whitelist_asset_test.go
  x/crosschain/types/tx.pb.go
  zetaclient/chains/evm/signer/signer_admin.go
  zetaclient/chains/evm/signer/signer_admin_test.go
Due: zetacore, zetaclient, pkg

e2e test
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_whitelist_asset.go
Due: none

e2e test
  proto/zetachain/zetacore/crosschain/events.proto
Due: none

fix event
  e2e/e2etests/test_migrate_chain_support.go
  e2e/e2etests/test_solana_whitelist_spl.go
  e2e/e2etests/test_whitelist_asset.go
  typescript/zetachain/zetacore/crosschain/events_pb.ts
  x/crosschain/keeper/msg_server_whitelist_asset.go
  x/crosschain/types/events.pb.go
Due: zetacore

simulation
  x/crosschain/simulation/operation_whitelist_asset.go
  x/crosschain/simulation/operations.go
Due: none

changelogs
  changelog.md
Due: none

update auth list
  x/authority/types/authorization_list.go
Due: zetacore

add migration script
  x/authority/keeper/migrator.go
  x/authority/migrations/v6/migrate.go
  x/authority/migrations/v6/migrate_test.go
  x/authority/module.go
  x/authority/types/authorization_list_test.go
Due: zetacore

refactor: add documentation for zetaclient logging fields
  changelog.md
  zetaclient/compliance/compliance.go
  zetaclient/logs/fields.go
Due: zetaclient

Apply suggestion from @lumtis
  x/crosschain/keeper/msg_server_vote_inbound.go
Due: zetacore

refactor check finalized ballot check to be done before adding the finalizing vote to the ballot
  x/crosschain/keeper/msg_server_vote_inbound.go
  x/crosschain/keeper/msg_server_vote_inbound_test.go
Due: zetacore

refactor: remove index field in ballot
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/observer/ballot.proto
  simulation/state.go
  testutil/sample/observer.go
  typescript/zetachain/zetacore/observer/ballot_pb.ts
  x/observer/keeper/ballot.go
  x/observer/keeper/ballot_test.go
  x/observer/keeper/grpc_query_ballot_test.go
  x/observer/keeper/msg_server_vote_blame_test.go
  x/observer/keeper/msg_server_vote_tss.go
  x/observer/keeper/vote_inbound_test.go
  x/observer/keeper/vote_outbound_test.go
  x/observer/keeper/voting.go
  x/observer/keeper/voting_test.go
  x/observer/types/ballot.pb.go
Due: zetacore

adjust comments
  x/crosschain/keeper/msg_server_vote_inbound_test.go
Due: zetacore

skip writing config file
  Makefile
  changelog.md
  contrib/localnet/docker-compose.yml
  docs/openapi/openapi.swagger.yaml
  docs/spec/generated.md
  e2e/e2etests/test_admin_transactions.go
  proto/zetachain/zetacore/fungible/events.proto
  proto/zetachain/zetacore/fungible/system_contract.proto
  proto/zetachain/zetacore/fungible/tx.proto
  server/timeout.go
  testutil/sample/fungible.go
  typescript/zetachain/zetacore/fungible/events_pb.ts
  typescript/zetachain/zetacore/fungible/system_contract_pb.ts
  typescript/zetachain/zetacore/fungible/tx_pb.ts
  x/authority/keeper/migrator.go
  x/authority/migrations/v3/migrate.go
  x/authority/migrations/v5/migrate.go
  x/authority/migrations/v5/migrate_test.go
  x/authority/module.go
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
  x/fungible/keeper/evm_gateway.go
  x/fungible/keeper/evm_test.go
  x/fungible/keeper/grpc_query_system_contract_test.go
  x/fungible/keeper/migrator.go
  x/fungible/keeper/msg_server_update_gateway_gas_limit.go
  x/fungible/keeper/msg_server_update_gateway_gas_limit_test.go
  x/fungible/keeper/system_contract.go
  x/fungible/keeper/system_contract_test.go
  x/fungible/migrations/v5/migrate.go
  x/fungible/migrations/v5/migrate_test.go
  x/fungible/module.go
  x/fungible/types/codec.go
  x/fungible/types/errors.go
  x/fungible/types/events.pb.go
  x/fungible/types/keys.go
  x/fungible/types/message_update_gateway_gas_limit.go
  x/fungible/types/message_update_gateway_gas_limit_test.go
  x/fungible/types/system_contract.pb.go
  x/fungible/types/tx.pb.go
Due: zetacore

skip writing config file
  server/timeout.go
Due: none

use the value of skip-config-overwrite flag without restrictions for mainnet
  server/start.go
Due: none

add comments
  server/start.go
  server/timeout.go
Due: none

remove unused functions
  server/timeout.go
Due: none

remove unit tests for unused functions
  server/timeout_test.go
Due: none

fix: skip writing config file to the filesystem (#4206)
  server/start.go
  server/timeout.go
  server/timeout_test.go
Due: none

lower upgrade height in upgrade tests
  Makefile
Due: none

changes based on comments 1
  e2e/e2etests/test_eth_withdraw_restricted_address.go
  x/crosschain/keeper/cctx_gateways.go
  x/crosschain/keeper/gas_payment.go
  x/crosschain/keeper/initiate_outbound.go
  x/crosschain/keeper/msg_server_vote_outbound.go
  x/crosschain/keeper/msg_server_vote_outbound_test.go
  x/crosschain/types/keys.go
Due: zetacore
