Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

reading inbound for no assset call
  pkg/coin/coin.go
  pkg/coin/coin.pb.go
  pkg/coin/coin_test.go
  proto/zetachain/zetacore/pkg/coin/coin.proto
  x/crosschain/keeper/v2_zevm_inbound.go
Due: zetacore

add comments for validate observer set
  x/observer/types/observer_set.go
Due: zetacore

add comments for tests
  x/observer/keeper/msg_server_vote_tss.go
  x/observer/keeper/msg_server_vote_tss_test.go
Due: zetacore

generate files
  changelog.md
  x/observer/keeper/msg_server_vote_tss_test.go
Due: zetacore

Update x/observer/types/observer_set.go
  x/observer/types/observer_set.go
Due: zetacore

add error messages
  x/observer/keeper/observer_set.go
  x/observer/types/observer_set.go
Due: zetacore

simple call implementation
  cmd/zetae2e/local/local.go
  docs/openapi/openapi.swagger.yaml
  e2e/e2etests/test_v2_evm_to_zevm_call.go
  e2e/e2etests/test_v2_zevm_to_evm_call.go
  e2e/runner/v2_setup_zeta.go
  pkg/contracts/testdappv2/TestDAppV2.sol
  typescript/zetachain/zetacore/pkg/coin/coin_pb.d.ts
  x/fungible/keeper/deposits.go
  x/fungible/keeper/v2_deposits.go
  x/fungible/keeper/v2_deposits_test.go
  x/fungible/keeper/v2_evm.go
  zetaclient/chains/evm/cctx.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/evm/observer/v2_outbound.go
  zetaclient/chains/evm/signer/sign.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/v2_sign.go
  zetaclient/chains/evm/signer/v2_signer.go
Due: zetacore, zetaclient

initialize revert
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  proto/zetachain/zetacore/crosschain/tx.proto
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.d.ts
  typescript/zetachain/zetacore/crosschain/tx_pb.d.ts
  x/crosschain/keeper/cctx.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/v2_zevm_inbound.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/message_vote_inbound.go
  x/crosschain/types/message_vote_inbound_test.go
  x/crosschain/types/revert_options.go
  x/crosschain/types/revert_options_test.go
  x/crosschain/types/tx.pb.go
  x/fungible/keeper/v2_deposits.go
  x/fungible/keeper/v2_evm.go
  zetaclient/chains/evm/cctx.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/evm/observer/v2_outbound.go
  zetaclient/chains/evm/signer/v2_sign.go
  zetaclient/chains/evm/signer/v2_signer.go
Due: zetacore, zetaclient

integrate relayer key into E2E and Solana signer
  cmd/zetaclientd-supervisor/lib.go
  cmd/zetaclientd-supervisor/main.go
  cmd/zetaclientd/import_relayer_keys.go
  cmd/zetaclientd/start.go
  contrib/localnet/scripts/password.file
  contrib/localnet/scripts/start-zetaclientd.sh
  pkg/os/console.go
  pkg/os/console_test.go
  testutil/sample/crypto.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/withdraw.go
  zetaclient/context/app.go
  zetaclient/keys/relayer_key.go
  zetaclient/keys/relayer_key_test.go
  zetaclient/keys/relayer_keys.go
  zetaclient/orchestrator/bootstrap.go
Due: zetaclient

Update zetaclient/chains/evm/signer/admin_cmd.go
  zetaclient/chains/evm/signer/admin_cmd.go
Due: zetaclient

stefan comments
  changelog.md
Due: none

tanmay comments
  docs/spec/crosschain/messages.md
  x/crosschain/keeper/msg_server_migrate_erc20_custody_funds.go
  x/crosschain/keeper/msg_server_migrate_erc20_custody_funds_test.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
  x/crosschain/types/cmd_cctxs.go
  x/crosschain/types/keys.go
Due: zetacore

admin commands
  proto/zetachain/zetacore/crosschain/events.proto
  proto/zetachain/zetacore/crosschain/tx.proto
  x/crosschain/types/message_migrate_erc20_custody_funds.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_admin.go
  zetaclient/chains/evm/signer/signer_admin_test.go
Due: zetacore, zetaclient

make generate
  zetaclient/chains/evm/signer/signer.go
Due: zetaclient

initialize message
  proto/zetachain/zetacore/crosschain/tx.proto
  x/crosschain/keeper/msg_server_update_erc20_custody_pause_status.go
  x/crosschain/types/message_update_erc20_custody_pause_status.go
  x/crosschain/types/message_update_erc20_custody_pause_status_test.go
  x/crosschain/types/tx.pb.go
Due: zetacore

some message fixes
  x/crosschain/keeper/msg_server_update_erc20_custody_pause_status.go
Due: zetacore

implement logic on ZetaClient
  pkg/constant/constant.go
  zetaclient/chains/evm/signer/signer_admin.go
  zetaclient/chains/evm/signer/signer_admin_test.go
Due: zetaclient

update pause status
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  proto/zetachain/zetacore/crosschain/tx.proto
  typescript/zetachain/zetacore/crosschain/tx_pb.d.ts
  x/crosschain/keeper/msg_server_update_erc20_custody_pause_status.go
  x/crosschain/keeper/msg_server_update_erc20_custody_pause_status_test.go
  x/crosschain/types/cmd_cctxs.go
  x/crosschain/types/cmd_cctxs_test.go
  x/crosschain/types/tx.pb.go
Due: zetacore

add in authorization list
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
Due: zetacore

E2E test
  docs/openapi/openapi.swagger.yaml
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_pause_erc20_custody.go
  typescript/zetachain/zetacore/crosschain/tx_pb.d.ts
  x/crosschain/keeper/msg_server_update_erc20_custody_pause_status.go
Due: zetacore

add test in admin workflow
  cmd/zetae2e/local/local.go
Due: none

add event for pausing
  proto/zetachain/zetacore/crosschain/events.proto
  typescript/zetachain/zetacore/crosschain/events_pb.d.ts
  x/crosschain/keeper/msg_server_update_erc20_custody_pause_status.go
  x/crosschain/types/events.pb.go
Due: zetacore

changelogs
  changelog.md
Due: none

Update x/crosschain/types/cmd_cctxs.go
  x/crosschain/types/cmd_cctxs.go
Due: zetacore

cancel context on reload signal
  cmd/zetaclientd-supervisor/main.go
Due: none

remove unused restartChan
  cmd/zetaclientd-supervisor/lib.go
  cmd/zetaclientd-supervisor/main.go
Due: none

ci: enable solona nightly and sort results
  .github/workflows/e2e.yml
Due: none

enable upgrade light tests in mergequeue
  .github/workflows/e2e.yml
Due: none

refactor migration to tss-migration
  Makefile
  contrib/localnet/orchestrator/start-zetae2e.sh
Due: none

fix(e2e): ensure zetaclientd restarts on upgrade (#2686)
  cmd/zetaclientd-supervisor/lib.go
  cmd/zetaclientd-supervisor/main.go
Due: none

ci: update e2e parameters (#2687)
  .github/workflows/e2e.yml
Due: none

set OLD_VERSION before running e2e to tolerate missed upgrade height
  contrib/localnet/orchestrator/start-zetae2e.sh
Due: none

add skip-tracker-check arg
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
Due: none

fix(ci): correct e2e nightly syntax
  .github/workflows/e2e.yml
Due: none

add relayer_key_balance metrics and unit tests
  pkg/crypto/privkey.go
  pkg/crypto/privkey_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/signer_test.go
  zetaclient/keys/relayer_key.go
  zetaclient/metrics/metrics.go
  zetaclient/metrics/metrics_test.go
  zetaclient/testutils/constant.go
  zetaclient/testutils/mocks/solana_rpc.go
Due: zetaclient

use TrimSpace to trim password
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  pkg/os/console.go
  pkg/os/console_test.go
Due: none

add changelog entry
  changelog.md
Due: none

fix the tests
  Makefile
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/v2.go
  e2e/e2etests/test_v2_erc20_withdraw_and_call.go
  pkg/contracts/testdappv2/TestDAppV2.bin
  pkg/contracts/testdappv2/TestDAppV2.go
  pkg/contracts/testdappv2/TestDAppV2.json
  zetaclient/chains/evm/observer/v2_outbound.go
  zetaclient/chains/evm/signer/v2_signer.go
Due: zetaclient

upgrade smart contracts to latest version
  e2e/runner/logger.go
  e2e/runner/v2_evm.go
  e2e/runner/v2_setup_evm.go
  e2e/runner/v2_zevm.go
  go.mod
  go.sum
  x/crosschain/keeper/v2_zevm_inbound.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/evm/observer/v2_outbound.go
  zetaclient/chains/evm/signer/v2_sign.go
Due: zetacore, zetaclient

Path conditions:
  zetacore: any of: x/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  zetaclient: any of: zetaclient/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  common: any of: common/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
