Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

chore: use v26 as base in upgrade tests
  Makefile
Due: none

add spl liquidity e2e
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_operation_add_liquidity_spl.go
  e2e/runner/evm.go
  e2e/runner/liquidity.go
Due: none

make generate
  e2e/runner/evm.go
  e2e/runner/liquidity.go
Due: none

fix allowance check
  e2e/runner/evm.go
Due: none

refactor(e2e): use context cancellation rather than exit/panic
  cmd/zetae2e/balances.go
  cmd/zetae2e/bitcoin_address.go
  cmd/zetae2e/config/config.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/monitor_block_production.go
  cmd/zetae2e/run.go
  cmd/zetae2e/setup_bitcoin.go
  cmd/zetae2e/show_tss.go
  cmd/zetae2e/stress.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/runner/run.go
  e2e/runner/runner.go
Due: none

use json message string for outbound errors
  pkg/errors/crosschain_error_message.go
  pkg/errors/crosschain_error_message_test.go
  x/crosschain/keeper/cctx_gateway_observers.go
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/evm_deposit.go
  x/crosschain/keeper/initiate_outbound_test.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/types/cctx.go
  x/fungible/keeper/evm.go
  x/fungible/types/evm_error_message.go
  x/fungible/types/evm_error_message_test.go
Due: zetacore, pkg

add liquidty cap field to sim tests for MsgWhitelistERC20
  x/crosschain/simulation/operation_whitelist_erc20.go
Due: none

feat(e2e): add optional minimum version to test
  e2e/e2etests/e2etests.go
  e2e/runner/e2etest.go
  e2e/runner/run.go
  e2e/runner/runner.go
Due: none

add liquidty cap field to sim tests for MsgWhitelistERC20 (#3407)
  x/crosschain/simulation/operation_whitelist_erc20.go
Due: none

add InboundParams to InboundParams struct; add additional inbound vote msg digest test for status
  docs/openapi/openapi.swagger.yaml
  e2e/e2etests/test_bitcoin_deposit.go
  e2e/e2etests/test_bitcoin_deposit_abort_with_low_deposit_fee.go
  e2e/e2etests/test_bitcoin_std_deposit.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call_revert.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call_revert_other_address.go
  e2e/e2etests/test_stress_btc_deposit.go
  e2e/runner/bitcoin.go
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  proto/zetachain/zetacore/crosschain/tx.proto
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.d.ts
  typescript/zetachain/zetacore/crosschain/tx_pb.d.ts
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/cctx_gateway_zevm_test.go
  x/crosschain/keeper/cctx_test.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/message_vote_inbound_test.go
  x/crosschain/types/tx.pb.go
Due: zetacore

use upper case for InboundStatus enum
  docs/openapi/openapi.swagger.yaml
  e2e/e2etests/test_bitcoin_deposit_abort_with_low_deposit_fee.go
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.d.ts
  x/crosschain/client/cli/tx_vote_inbound.go
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/cctx_gateway_zevm_test.go
  x/crosschain/keeper/cctx_test.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/inbound_parsing.go
  x/crosschain/types/message_vote_inbound_test.go
  x/crosschain/types/tx.pb.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/zetacore/tx_test.go
Due: zetacore, zetaclient

update error_revert
  pkg/errors/crosschain_error_message.go
  x/crosschain/keeper/cctx_gateway_observers.go
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/evm_deposit.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/fungible/keeper/evm.go
  x/fungible/types/errors.go
Due: zetacore, pkg

more logs
  e2e/e2etests/test_operation_add_liquidity_spl.go
  e2e/runner/evm.go
Due: none

add spl balance in command
  e2e/runner/balances.go
Due: none

Drop outboundprocessor
  zetaclient/chains/base/observer.go
  zetaclient/chains/bitcoin/bitcoin.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/evm.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/ton/signer/signer.go
  zetaclient/chains/ton/signer/signer_test.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/outboundprocessor/outbound_processor.go
  zetaclient/outboundprocessor/outbound_processor_test.go
  zetaclient/testutils/mocks/chain_signer.go
Due: zetaclient

some file renaming
  x/fungible/keeper/deposits.go
  x/fungible/keeper/deposits_legacy.go
  x/fungible/keeper/deposits_legacy_test.go
  x/fungible/keeper/deposits_test.go
  x/fungible/keeper/evm_gateway.go
  x/fungible/keeper/v2_deposits.go
  x/fungible/keeper/v2_deposits_test.go
Due: zetacore

bump ethermint
  go.mod
  go.sum
Due: none

update protocol contracts
  go.mod
  go.sum
Due: none

Move outboundID from observer to signer
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/signer.go
  zetaclient/chains/bitcoin/bitcoin.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/evm.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/ton/signer/signer.go
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

fix typo
  zetaclient/chains/ton/signer/signer.go
Due: zetaclient

more renaming
  testutil/keeper/crosschain.go
  testutil/keeper/mocks/crosschain/fungible.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/types/expected_keepers.go
  x/fungible/keeper/deposits.go
  x/fungible/keeper/deposits_legacy.go
  x/fungible/keeper/deposits_test.go
Due: zetacore

add onAbort to test contract
  pkg/contracts/testdappv2/TestDAppV2.abi
  pkg/contracts/testdappv2/TestDAppV2.bin
  pkg/contracts/testdappv2/TestDAppV2.go
  pkg/contracts/testdappv2/TestDAppV2.json
  pkg/contracts/testdappv2/TestDAppV2.sol
Due: pkg

chore: use v26 as base in upgrade tests (#3404)
  Makefile
Due: none

add autocli opts and fixes after merge
  app/app.go
  cmd/zetacored/root.go
  docs/cli/zetacored/cli.md
  pkg/mempool/custom_proposal_handler.go
  proto/zetachain/zetacore/crosschain/tx.proto
  proto/zetachain/zetacore/fungible/tx.proto
  x/crosschain/types/tx.pb.go
  x/fungible/types/tx.pb.go
Due: pkg

chore: Add ADMIN_UPGRADE_TESTS label to test start-upgrade-test-admin
  .github/workflows/e2e.yml
Due: none

Add tr line back
  .github/workflows/e2e.yml
Due: none

remove extra tr line
  .github/workflows/e2e.yml
Due: none

also enable with upgrade tests in merge queue
  .github/workflows/e2e.yml
Due: none

process abort
  x/crosschain/types/expected_keepers.go
  x/fungible/keeper/deposits.go
  x/fungible/keeper/evm_gateway.go
Due: zetacore

crosschain abort
  x/crosschain/keeper/cctx_gateways.go
  x/crosschain/keeper/msg_server_refund_aborted_tx.go
  x/crosschain/keeper/refund.go
  x/crosschain/keeper/refund_test.go
Due: zetacore

explicitly set amount to zero when depositor deduction fails
  zetaclient/chains/bitcoin/observer/witness.go
Due: zetaclient

handle wrapped json errors
  docs/zetacore/status_message.md
  pkg/errors/crosschain_error_message.go
  pkg/errors/crosschain_error_message_test.go
  x/crosschain/keeper/cctx_gateway_observers.go
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/initiate_outbound_test.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/fungible/keeper/evm.go
Due: zetacore, pkg

move inbound hash and memo string to log fields
  zetaclient/chains/bitcoin/observer/inbound.go
Due: zetaclient

move tx hash to log field
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/witness.go
Due: zetaclient

fix code generation
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/tx.pb.go
Due: none

add check for nil logger
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
Due: zetaclient

fix(e2e): always wait for at least height 1
  cmd/zetae2e/local/local.go
  contrib/localnet/scripts/start-zetaclientd.sh
  e2e/utils/zetacore.go
  zetaclient/zetacore/client_subscriptions.go
Due: zetaclient

add extra arguments to function FilterInboundEvents directly so the debug tool can use it
  cmd/zetatool/inbound/solana.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
Due: zetaclient
