Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

use random payload
  e2e/e2etests/helpers.go
  e2e/e2etests/test_v2_erc20_deposit_and_call.go
  e2e/e2etests/test_v2_erc20_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_v2_erc20_withdraw_and_call.go
  e2e/e2etests/test_v2_erc20_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_v2_eth_deposit_and_call.go
  e2e/e2etests/test_v2_eth_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_v2_evm_to_zevm_call.go
  e2e/e2etests/test_v2_zevm_to_evm_call.go
Due: none

refactor(fungible): ZRC20 Lock/Unlock API do not depend on injected ABI
  precompiles/bank/bank.go
  precompiles/bank/method_deposit.go
  precompiles/bank/method_withdraw.go
  precompiles/staking/method_distribute.go
  precompiles/staking/staking.go
  x/fungible/keeper/zrc20_cosmos_coin_mapping_test.go
  x/fungible/keeper/zrc20_cosmos_coins_mapping.go
  x/fungible/keeper/zrc20_methods.go
  x/fungible/keeper/zrc20_methods_test.go
Due: zetacore

chore: set lower tally params for localnet (#3067)
  contrib/localnet/scripts/start-zetacored.sh
Due: none

chore: use v21 as upgrade base (#3063)
  Makefile
  e2e/e2etests/test_eth_withdraw.go
Due: none

Address PR comments [5]
  zetaclient/chains/ton/signer/signer_tracker.go
Due: zetaclient

Rollback to prev. ton-docker
  contrib/localnet/docker-compose.yml
Due: none

allow test with no args
  cmd/zetae2e/run.go
Due: none

fix lint
  cmd/zetae2e/run.go
Due: none

Address PR comments [6]
  zetaclient/chains/ton/liteapi/client.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/inbound_test.go
  zetaclient/chains/ton/observer/observer.go
  zetaclient/chains/ton/observer/observer_test.go
  zetaclient/chains/ton/observer/outbound.go
  zetaclient/chains/ton/observer/outbound_test.go
  zetaclient/chains/ton/signer/signer_test.go
  zetaclient/chains/ton/signer/signer_tracker.go
  zetaclient/testutils/mocks/ton_liteclient.go
Due: zetaclient

test(e2e): backport improve E2E reliability for tests on live network to v20 branch (#3069)
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/run.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_v2_erc20_deposit_and_call.go
  e2e/e2etests/test_v2_erc20_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_v2_erc20_withdraw_and_call.go
  e2e/e2etests/test_v2_erc20_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_v2_eth_deposit_and_call.go
  e2e/e2etests/test_v2_eth_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_v2_evm_to_zevm_call.go
  e2e/e2etests/test_v2_zevm_to_evm_call.go
  e2e/runner/v2_zevm.go
Due: none

refactor(fungible): ZRC20 Lock/Unlock API do not depend on injected ABI (#3068)
  precompiles/bank/bank.go
  precompiles/bank/method_deposit.go
  precompiles/bank/method_withdraw.go
  precompiles/staking/method_distribute.go
  precompiles/staking/staking.go
  x/fungible/keeper/zrc20_cosmos_coin_mapping_test.go
  x/fungible/keeper/zrc20_cosmos_coins_mapping.go
  x/fungible/keeper/zrc20_methods.go
  x/fungible/keeper/zrc20_methods_test.go
Due: zetacore

test(`e2e`): improve E2E reliability for tests on live network (#3061)
  cmd/zetae2e/run.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_v2_erc20_deposit_and_call.go
  e2e/e2etests/test_v2_erc20_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_v2_erc20_withdraw_and_arbitrary_call.go
  e2e/e2etests/test_v2_erc20_withdraw_and_call.go
  e2e/e2etests/test_v2_erc20_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_v2_eth_deposit_and_call.go
  e2e/e2etests/test_v2_eth_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_arbitrary_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_call_through_contract.go
  e2e/e2etests/test_v2_evm_to_zevm_call.go
  e2e/e2etests/test_v2_zevm_to_evm_arbitrary_call.go
  e2e/e2etests/test_v2_zevm_to_evm_call.go
  e2e/e2etests/test_v2_zevm_to_evm_call_through_contract.go
  e2e/runner/v2_zevm.go
Due: none

fixed some comments
  Makefile
  app/export.go
  docs/development/SIMULATION_TESTING.md
Due: none

remove directory sim
  simulation/config.go
  simulation/simulation.go
  simulation/simulation_test.go
  simulation/utils.go
Due: none

remove directory sim
  .github/workflows/sim.yaml
  simulation/simulation.go
  simulation/simulation_test.go
  simulation/state.go
  simulation/utils.go
Due: none

e2e: use 2 spaces for yaml
  cmd/zetae2e/init.go
  e2e/config/config.go
Due: none

format directory
  simulation/simulation_test.go
Due: none

fixes
  cmd/zetae2e/init.go
  e2e/config/config.go
Due: none

feat(e2e): add latency report to withdrawal performance tests
  e2e/e2etests/test_stress_eth_withdraw.go
  e2e/utils/zetacore.go
  go.mod
  go.sum
Due: none

CI fixes
  pkg/contracts/solana/gateway_message.go
  pkg/contracts/solana/gateway_message_test.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
  x/crosschain/types/message_whitelist_erc20.go
  x/crosschain/types/message_whitelist_erc20_test.go
  zetaclient/testdata/solana/chain_901_inbound_tx_result_MS3MPLN7hkbyCZFwKqXcg8fmEvQMD74fN6Ps2LSWXJoRxPW5ehaxBorK9q1JFVbqnAvu9jXm6ertj7kT7HpYw1j.json
Due: zetacore, pkg

changelog
  changelog.md
Due: none

refactor: max supply check
  testutil/keeper/mocks/fungible/bank.go
  x/fungible/keeper/deposits_test.go
  x/fungible/keeper/zeta.go
  x/fungible/keeper/zeta_test.go
  x/fungible/keeper/zevm_message_passing_test.go
  x/fungible/types/errors.go
  x/fungible/types/expected_keepers.go
Due: zetacore

cleanup parse code instruction for whitelist
  e2e/e2etests/test_solana_whitelist_spl.go
  zetaclient/chains/solana/observer/outbound.go
Due: zetaclient

refactor: max supply check (#3072)
  testutil/keeper/mocks/fungible/bank.go
  x/fungible/keeper/deposits_test.go
  x/fungible/keeper/zeta.go
  x/fungible/keeper/zeta_test.go
  x/fungible/keeper/zevm_message_passing_test.go
  x/fungible/types/errors.go
  x/fungible/types/expected_keepers.go
Due: zetacore

refactor: max supply check (#3073)
  testutil/keeper/mocks/fungible/bank.go
  x/fungible/keeper/deposits_test.go
  x/fungible/keeper/zeta.go
  x/fungible/keeper/zeta_test.go
  x/fungible/keeper/zevm_message_passing_test.go
  x/fungible/types/errors.go
  x/fungible/types/expected_keepers.go
Due: zetacore

create internal func
  x/fungible/keeper/zeta.go
Due: zetacore

Implement InboundTracker; minor refactoring
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/inbound_test.go
  zetaclient/chains/ton/observer/observer.go
  zetaclient/chains/ton/observer/observer_test.go
Due: zetaclient

cleanup
  e2e/runner/solana.go
  zetaclient/chains/solana/signer/whitelist.go
  zetaclient/testutils/constant.go
Due: zetaclient

decoders test
  Makefile
  app/modules.go
  server/start.go
  tests/simulation/sim/sim_state.go
  tests/simulation/sim_test.go
  testutil/keeper/mocks/crosschain/account.go
  testutil/keeper/mocks/crosschain/bank.go
  testutil/sample/crosschain.go
  x/crosschain/keeper/cctx_orchestrator_validate_inbound.go
  x/crosschain/keeper/msg_server_vote_inbound_tx.go
  x/crosschain/module_simulation.go
  x/crosschain/simulation/decoders.go
  x/crosschain/simulation/decoders_test.go
  x/crosschain/simulation/genesis.go
  x/crosschain/simulation/operations.go
  x/crosschain/types/expected_keepers.go
  x/observer/abci.go
  x/observer/keeper/msg_server_disable_cctx_flags.go
  x/observer/module_simulation.go
  x/observer/simulation/simap.go
Due: zetacore

cleanup comments
  pkg/contracts/solana/gateway_message.go
  pkg/contracts/solana/instruction.go
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient, pkg

remove utils file
  simulation/simulation.go
  simulation/utils.go
Due: none

add oeprations
  Makefile
  tests/simulation/sim/sim_state.go
  x/crosschain/simulation/genesis.go
  x/crosschain/simulation/operations.go
Due: none

update WaitCCTXMinedByIndex interval
  e2e/utils/zetacore.go
Due: none

address coderabbit
  e2e/e2etests/test_stress_eth_withdraw.go
Due: none

address feedback
  e2e/config/config.go
Due: none

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
