Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/*.go"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "cmd/zetatool/**/*"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "simulation/*.go"
  - "pkg/contracts/**/*.go"

refactor(zetaclient): drop the local key share check
  zetaclient/tss/setup.go
  zetaclient/tss/setup_test.go
Due: zetaclient

fix(zetaclient): retry the TSS query long enough to outlast an RPC restart
  zetaclient/tss/setup.go
Due: zetaclient

test(zetaclient): stop the listener tests logging into a finished test
  zetaclient/maintenance/tss_listener_test.go
Due: zetaclient

feat(drain): testnet receivers + operator pubkey (Athens drain phase) (#4616)
  pkg/drain/receivers.go
  pkg/drain/receivers_localnet_test.go
  pkg/drain/receivers_test.go
Due: pkg

ci: on-demand build workflow for emergency-drain binaries
  .github/workflows/build-drain-artifacts.yml
Due: none

docs(drain): fix stale PLACEHOLDER/UNSET comments now testnet is configured (Codex P2)
  pkg/drain/receivers.go
Due: pkg

ci: on-demand build workflow for emergency-drain binaries (#4619)
  .github/workflows/build-drain-artifacts.yml
Due: none

ci: add drain-artifacts build workflow to main (dispatchable + builds zetatool)
  .github/workflows/build-drain-artifacts.yml
Due: none

feat(drain): testnet receivers on main (drain server anchors) (#4617)
  pkg/drain/receivers.go
  pkg/drain/receivers_localnet_test.go
  pkg/drain/receivers_test.go
Due: pkg

test(e2e): disable the TSS migration suites while rotation is off
  .github/workflows/e2e.yml
  cmd/zetae2e/local/tss_migration.go
Due: none

ci(drain): build both binaries in one run + push trigger
  .github/workflows/build-drain-artifacts.yml
Due: none

ci(drain): one-run build (client@v38 + zetatool@main) + push trigger (#4621)
  .github/workflows/build-drain-artifacts.yml
Due: none

test(tss): cover the whitelist resolution with unit tests
  zetaclient/tss/setup.go
  zetaclient/tss/setup_test.go
Due: zetaclient

fix(zetaclient): retry the other startup queries, wire the e2e test into CI
  .github/workflows/e2e.yml
  changelog.md
  zetaclient/maintenance/tss_listener.go
  zetaclient/maintenance/tss_listener_test.go
  zetaclient/tss/service.go
  zetaclient/tss/setup.go
Due: zetaclient

refactor(tss): fetch the keygen record inside resolveWhitelist
  zetaclient/tss/setup.go
  zetaclient/tss/setup_test.go
Due: zetaclient

feat(zetatool): add rehearsal value caps to the TSS drain payload
  cmd/zetatool/cli/drain.go
  cmd/zetatool/cli/drain_cap_test.go
  cmd/zetatool/cli/drain_test.go
  docs/rfc/002_tss_emergency_drain.md
  pkg/drain/generate.go
  pkg/drain/generate_test.go
Due: pkg

chore: add changelog entry
  changelog.md
Due: none

fix(zetatool): address review on the drain rehearsal caps
  cmd/zetatool/cli/drain.go
  cmd/zetatool/cli/drain_cap_test.go
  pkg/drain/generate.go
Due: pkg

fix(zetatool): emit the rehearsal banner per payload, not at startup
  cmd/zetatool/cli/drain.go
  cmd/zetatool/cli/drain_cap_test.go
  docs/rfc/002_tss_emergency_drain.md
Due: none

fix(zetaclient): keep signing when the keygen record is reset (backport v37)
  zetaclient/maintenance/tss_listener.go
  zetaclient/maintenance/tss_listener_test.go
  zetaclient/tss/service.go
  zetaclient/tss/setup.go
  zetaclient/tss/setup_test.go
Due: zetaclient

fix(zetaclient): keep signing when the keygen record is reset (backport v38)
  zetaclient/maintenance/tss_listener.go
  zetaclient/maintenance/tss_listener_test.go
  zetaclient/tss/service.go
  zetaclient/tss/setup.go
  zetaclient/tss/setup_test.go
Due: zetaclient

fix(zetatool): make a capped BTC rehearsal actually sweep, and flag nonce drift
  cmd/zetatool/cli/drain.go
  cmd/zetatool/cli/drain_cap_test.go
  cmd/zetatool/clients/evm.go
  docs/rfc/002_tss_emergency_drain.md
  pkg/drain/generate.go
  pkg/drain/generate_test.go
Due: pkg

fix(zetatool): guard nonce-drift underflow, stop the capped walk early
  cmd/zetatool/cli/drain.go
  cmd/zetatool/cli/drain_cap_test.go
  pkg/drain/generate.go
  pkg/drain/generate_test.go
Due: pkg

test(drain): fix a wrong claim in the capped-selection test
  pkg/drain/generate_test.go
Due: pkg

feat(zetatool): add rehearsal value caps to the TSS drain payload (#4624)
  changelog.md
  cmd/zetatool/cli/drain.go
  cmd/zetatool/cli/drain_cap_test.go
  cmd/zetatool/cli/drain_test.go
  cmd/zetatool/clients/evm.go
  docs/rfc/002_tss_emergency_drain.md
  pkg/drain/generate.go
  pkg/drain/generate_test.go
Due: pkg

feat(zetatool): add rehearsal value caps to the TSS drain payload (backport v37)
  pkg/drain/generate.go
  pkg/drain/generate_test.go
Due: pkg

feat(zetatool): add rehearsal value caps to the TSS drain payload (backport v38)
  pkg/drain/generate.go
  pkg/drain/generate_test.go
Due: pkg

fix(zetatool): keep collectively-viable UTXOs in a capped BTC sweep
  cmd/zetatool/cli/drain.go
  cmd/zetatool/cli/drain_cap_test.go
  pkg/drain/generate.go
  pkg/drain/generate_test.go
Due: pkg

fix(zetatool): reject an explicit --btc-max-sats 0
  cmd/zetatool/cli/drain.go
  cmd/zetatool/cli/drain_cap_test.go
Due: none

fix(zetatool): keep collectively-viable UTXOs in a capped BTC sweep (backport v37)
  pkg/drain/generate.go
  pkg/drain/generate_test.go
Due: pkg

fix(zetatool): keep collectively-viable UTXOs in a capped BTC sweep (backport v38)
  pkg/drain/generate.go
  pkg/drain/generate_test.go
Due: pkg

fix(zetatool): stop a large UTXO crowding out a viable capped subset
  pkg/drain/generate.go
  pkg/drain/generate_cap_property_test.go
  pkg/drain/generate_test.go
Due: pkg

fix(zetatool): stop a large UTXO crowding out a viable capped subset (backport v37)
  pkg/drain/generate.go
  pkg/drain/generate_cap_property_test.go
  pkg/drain/generate_test.go
Due: pkg

fix(zetatool): stop a large UTXO crowding out a viable capped subset (backport v38)
  pkg/drain/generate.go
  pkg/drain/generate_cap_property_test.go
  pkg/drain/generate_test.go
Due: pkg

fix(zetatool): keep collectively-viable UTXOs in a capped BTC sweep (#4630)
  changelog.md
  cmd/zetatool/cli/drain.go
  cmd/zetatool/cli/drain_cap_test.go
  pkg/drain/generate.go
  pkg/drain/generate_cap_property_test.go
  pkg/drain/generate_test.go
Due: pkg

feat(zetatool): add rehearsal value caps to the TSS drain payload (backport v38) (#4629)
  pkg/drain/generate.go
  pkg/drain/generate_cap_property_test.go
  pkg/drain/generate_test.go
Due: pkg

feat(zetatool): add rehearsal value caps to the TSS drain payload (backport v37) (#4628)
  pkg/drain/generate.go
  pkg/drain/generate_cap_property_test.go
  pkg/drain/generate_test.go
Due: pkg

fix(zetaclient): keep signing when the keygen record is reset (#4618)
  .github/workflows/e2e.yml
  Makefile
  changelog.md
  cmd/zetae2e/local/keygen_reset.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/tss_migration.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_keygen_reset_signing.go
  zetaclient/maintenance/tss_listener.go
  zetaclient/maintenance/tss_listener_test.go
  zetaclient/tss/service.go
  zetaclient/tss/setup.go
  zetaclient/tss/setup_test.go
Due: zetaclient

fix(zetaclient): keep signing when the keygen record is reset (backport v37) (#4626)
  zetaclient/maintenance/tss_listener.go
  zetaclient/maintenance/tss_listener_test.go
  zetaclient/tss/service.go
  zetaclient/tss/setup.go
  zetaclient/tss/setup_test.go
Due: zetaclient
