Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

initiate impl of Solana restricted address
  cmd/zetaclientd/init.go
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_bitcoin_withdraw_restricted_address.go
  e2e/e2etests/test_erc20_deposit_restricted_address.go
  e2e/e2etests/test_eth_withdraw_restricted_address.go
  e2e/e2etests/test_solana_deposit_restricted_address.go
  e2e/e2etests/test_solana_withdraw_restricted_address.go
  e2e/e2etests/test_zeta_deposit_restricted_address.go
  e2e/runner/poste2e_checker.go
  e2e/runner/setup_zeta.go
  e2e/runner/solana.go
  e2e/runner/trackers.go
  testutil/sample/zetaclient.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/withdraw.go
  zetaclient/testutils/testdata.go
Due: zetaclient

add changelog entry
  changelog.md
Due: none

feat(e2e): add support for dynamically resolving erc20 addresses (#2783)
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/run.go
  e2e/runner/balances.go
  e2e/runner/report.go
Due: none

review feedback
  pkg/rpc/rpc.go
Due: none

feat: add common rpc package
  pkg/rpc/rpc.go
Due: none

update e2e
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/config/config.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/run.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/runner/clients.go
  e2e/runner/runner.go
  pkg/rpc/rpc.go
Due: none

port zetacore high level helpers and tests
  pkg/rpc/clients.go
  pkg/rpc/clients_authority.go
  pkg/rpc/clients_cosmos.go
  pkg/rpc/clients_crosschain.go
  pkg/rpc/clients_ethermint.go
  pkg/rpc/clients_lightclient.go
  pkg/rpc/clients_observer.go
  pkg/rpc/clients_tendermint.go
  pkg/rpc/clients_test.go
Due: none

embed rpc.Clients in zetaclient/zetacored.Client
  pkg/rpc/clients.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/client_cosmos.go
  zetaclient/zetacore/client_query_authority.go
  zetaclient/zetacore/client_query_crosschain.go
  zetaclient/zetacore/client_query_ethermint.go
  zetaclient/zetacore/client_query_lightclient.go
  zetaclient/zetacore/client_query_observer.go
  zetaclient/zetacore/client_query_tendermint.go
  zetaclient/zetacore/client_query_test.go
  zetaclient/zetacore/client_test.go
Due: zetaclient

fmt
  cmd/zetae2e/config/clients.go
  e2e/runner/clients.go
  pkg/rpc/clients.go
  pkg/rpc/clients_test.go
Due: none

fix e2e lint
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/run.go
Due: none

changelog
  changelog.md
Due: none

feat: add common rpc package (#2788)
  changelog.md
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/config/config.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/run.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/runner/clients.go
  e2e/runner/runner.go
  pkg/rpc/clients.go
  pkg/rpc/clients_authority.go
  pkg/rpc/clients_cosmos.go
  pkg/rpc/clients_crosschain.go
  pkg/rpc/clients_ethermint.go
  pkg/rpc/clients_lightclient.go
  pkg/rpc/clients_observer.go
  pkg/rpc/clients_tendermint.go
  pkg/rpc/clients_test.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/client_cosmos.go
  zetaclient/zetacore/client_test.go
Due: zetaclient

doudle check no cctx is increated for restricted inbound
  e2e/e2etests/test_erc20_deposit_restricted_address.go
  e2e/e2etests/test_solana_deposit_restricted_address.go
  e2e/e2etests/test_zeta_deposit_restricted_address.go
  e2e/utils/zetacore.go
Due: none

move changelog entry to Fixes section
  changelog.md
Due: none

e2e test and fixes
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetacored.sh
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_precompiles_staking.go
  precompiles/precompiles.go
  precompiles/staking/IStaking.abi
  precompiles/staking/IStaking.go
  precompiles/staking/IStaking.json
  precompiles/staking/IStaking.sol
  precompiles/staking/staking.go
Due: none

generate
  e2e/e2etests/test_precompiles_staking.go
Due: none

move rpcAlertLatency argument out of rpc methods
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/rpc_status.go
  zetaclient/chains/bitcoin/rpc/rpc.go
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/rpc_status.go
  zetaclient/chains/evm/rpc/rpc.go
  zetaclient/chains/evm/rpc/rpc_live_test.go
  zetaclient/chains/solana/observer/observer.go
  zetaclient/chains/solana/observer/rpc_status.go
  zetaclient/chains/solana/rpc/rpc.go
  zetaclient/chains/solana/rpc/rpc_live_test.go
Due: zetaclient

fix: ask for 3 accounts (signer, pda, system_program) when parsing Sonala inbound signer address (#2787)
  changelog.md
  cmd/zetaclientd/import_relayer_keys.go
  e2e/runner/solana.go
  pkg/contracts/solana/gateway.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/config/types.go
  zetaclient/config/types_test.go
  zetaclient/testdata/solana/chain_901_inbound_tx_result_5LuQMorgd11p8GWEw6pmyHCDtA26NUyeNFhLWPNk2oBoM9pkag1LzhwGSRos3j4TJLhKjswFhZkGtvSGdLDkmqsk.json
  zetaclient/testdata/solana/chain_901_inbound_tx_result_MS3MPLN7hkbyCZFwKqXcg8fmEvQMD74fN6Ps2LSWXJoRxPW5ehaxBorK9q1JFVbqnAvu9jXm6ertj7kT7HpYw1j.json
  zetaclient/testutils/constant.go
Due: zetaclient

fix approval functions
  e2e/runner/evm.go
Due: none

test: add E2E testing for V2 contract migration (#2763)
  .github/workflows/e2e.yml
  Makefile
  changelog.md
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/migration.go
  cmd/zetae2e/local/tss_migration.go
  cmd/zetae2e/local/v2.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetacored.sh
  e2e/config/config.go
  e2e/e2etests/test_migrate_erc20_custody_funds.go
  e2e/runner/accounting.go
  e2e/runner/evm.go
  e2e/runner/v2_migration.go
  e2e/runner/v2_setup_evm.go
  e2e/runner/v2_setup_zeta.go
  e2e/txserver/authority.go
  e2e/txserver/zeta_tx_server.go
  go.mod
  go.sum
  x/fungible/keeper/msg_server_update_gateway_contract.go
  x/fungible/keeper/msg_server_update_gateway_contract_test.go
  x/fungible/keeper/v2_evm.go
  zetaclient/chains/bitcoin/errors.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/orchestrator/orchestrator.go
Due: zetacore, zetaclient

fix tests
  precompiles/staking/staking_test.go
Due: none

refactor is EVM chain
  pkg/chains/chain.go
  pkg/chains/chain_test.go
Due: none

fix unit test
  x/crosschain/keeper/refund_test.go
Due: zetacore

fix view methods required gas
  precompiles/staking/IStaking.abi
  precompiles/staking/IStaking.go
  precompiles/staking/IStaking.json
  precompiles/staking/IStaking.sol
  precompiles/staking/staking.go
  precompiles/staking/staking_test.go
Due: none

add queries unit tests
  precompiles/staking/staking_test.go
Due: none

default liquidity cap
  x/fungible/keeper/evm.go
  x/fungible/keeper/evm_test.go
  x/fungible/types/zrc20.go
Due: zetacore

fix test
  x/fungible/keeper/gas_coin_and_pool_test.go
Due: zetacore

add more unit tests and refactor a bit
  precompiles/precompiles_test.go
  precompiles/staking/staking.go
  precompiles/staking/staking_test.go
Due: none

fmt
  precompiles/staking/staking_test.go
Due: none

add unit test for invalid chain
  pkg/address/validate_address.go
  pkg/address/validate_address_test.go
  x/crosschain/types/validate.go
Due: zetacore

fix(`pkg/chains`): check if VM is EVM for `IsEVMChain` check (#2801)
  pkg/chains/chain.go
  pkg/chains/chain_test.go
  x/crosschain/keeper/refund_test.go
Due: zetacore

set cap in e2e tests
  e2e/txserver/zeta_tx_server.go
Due: none

chore: use btcsuite/btcd/btcec/v2 in x/crosschain/types
  x/crosschain/types/tx_body_verification.go
Due: zetacore

fixes after merge
  codecov.yml
  e2e/e2etests/test_precompiles_staking.go
  precompiles/precompiles.go
  precompiles/staking/staking.go
  precompiles/staking/staking_test.go
Due: none

chore: remove go-tss imports from observer/types
  x/observer/client/cli/tx_vote_blame.go
  x/observer/client/cli/utils.go
  x/observer/client/cli/utils_test.go
  x/observer/types/utils.go
  zetaclient/zetacore/client_vote.go
Due: zetacore, zetaclient

cleanup
  e2e/e2etests/test_precompiles_staking.go
  precompiles/staking/IStaking.abi
  precompiles/staking/IStaking.go
  precompiles/staking/IStaking.json
  precompiles/staking/IStaking.sol
  precompiles/staking/staking.go
  precompiles/staking/staking_test.go
Due: none

PR comments
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_precompiles_staking.go
  precompiles/staking/IStaking.abi
  precompiles/staking/IStaking.go
  precompiles/staking/IStaking.json
  precompiles/staking/IStaking.sol
  precompiles/staking/staking.go
  precompiles/staking/staking_test.go
Due: none

Path conditions:
  zetacore: any of: x/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  zetaclient: any of: zetaclient/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  common: any of: common/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
