Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

configure E2E Solana connected program IDs
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/contracts.go
  e2e/config/config.go
  e2e/e2etests/test_solana_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_solana_deposit_and_call_revert_with_call_that_reverts.go
  e2e/e2etests/test_solana_withdraw_and_call.go
  e2e/e2etests/test_solana_withdraw_and_call_invalid_msg_encoding.go
  e2e/e2etests/test_solana_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_solana_withdraw_revert_executable_receiver.go
  e2e/e2etests/test_spl_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_spl_deposit_and_call_revert_with_call_that_reverts.go
  e2e/e2etests/test_spl_withdraw_and_call.go
  e2e/e2etests/test_spl_withdraw_and_call_revert.go
  e2e/e2etests/test_zevm_to_solana_call.go
  e2e/runner/runner.go
  e2e/runner/setup_solana.go
  e2e/runner/solana.go
  e2e/utils/zetacore.go
Due: none

add changelog entry
  changelog.md
Due: none

use hardcoded program ID only if not set
  e2e/runner/setup_solana.go
Due: none

added print statements for assertions
  e2e/runner/upgrade.go
Due: none

resolve comments 2
  go.mod
  go.sum
  x/crosschain/keeper/export_private_functions_test.go
  x/crosschain/keeper/v2_zevm_inbound.go
  x/crosschain/keeper/v2_zevm_inbound_test.go
  x/fungible/keeper/abort.go
Due: zetacore

remove temporary debugging log prints
  e2e/utils/zetacore.go
Due: none

added print statements for assertions
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/runner/upgrade.go
Due: none

prefiz shell script version with V
  e2e/runner/upgrade.go
Due: none

add check to only assert when running sui tests
  cmd/zetae2e/local/local.go
Due: none

update before upgrade assertion
  cmd/zetae2e/local/local.go
Due: none

Move assert before function to the end
  cmd/zetae2e/local/local.go
Due: none

comments
  e2e/runner/sui_gateway_balance.go
  e2e/runner/sui_gateway_balance_test.go
  zetaclient/chains/sui/observer/outbound.go
  zetaclient/chains/ton/observer/outbound.go
Due: zetaclient

remove check
  zetaclient/chains/bitcoin/observer/event.go
Due: zetaclient

add test
  zetaclient/chains/bitcoin/observer/event_test.go
Due: zetaclient

(fix): vulnerability in Incorrect TxHash assignment
  rpc/types/utils.go
Due: none

fix chain id fetching
  x/crosschain/keeper/abort.go
Due: zetacore

tests
  x/crosschain/keeper/abort_test.go
Due: zetacore

draft ton readme
  zetaclient/chains/ton/readme.md
Due: none

fixes 1
  zetaclient/chains/ton/readme.md
Due: none

fixes 2
  zetaclient/chains/ton/readme.md
Due: none

fix(rpc): vulnerability in Incorrect TxHash assignment (#4027)
  rpc/types/utils.go
Due: none

fix: burn sui stabilty pool balance using a migration script (#4020)
  Makefile
  changelog.md
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/e2etests/e2etests.go
  e2e/runner/runner.go
  e2e/runner/upgrade.go
  x/fungible/keeper/migrator.go
  x/fungible/migrations/v3/migrate.go
  x/fungible/migrations/v3/migrate_test.go
  x/fungible/migrations/v4/migrate.go
  x/fungible/migrations/v4/migrate_test.go
  x/fungible/module.go
Due: zetacore

refactor: enable Bitcoin inscription parsing on mainnet (#4026)
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/bitcoin/observer/event_test.go
Due: zetaclient

refactor(backport/v32): enable Bitcoin inscription parsing on mainnet (#4025)
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/bitcoin/observer/event_test.go
Due: zetaclient

fixes 3
  zetaclient/chains/ton/readme.md
Due: none

fixes 4
  zetaclient/chains/ton/readme.md
Due: none

test: configure Solana E2E connected program IDs (#4022)
  changelog.md
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/contracts.go
  e2e/config/config.go
  e2e/e2etests/test_solana_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_solana_deposit_and_call_revert_with_call_that_reverts.go
  e2e/e2etests/test_solana_withdraw_and_call.go
  e2e/e2etests/test_solana_withdraw_and_call_invalid_msg_encoding.go
  e2e/e2etests/test_solana_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_solana_withdraw_revert_executable_receiver.go
  e2e/e2etests/test_spl_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_spl_deposit_and_call_revert_with_call_that_reverts.go
  e2e/e2etests/test_spl_withdraw_and_call.go
  e2e/e2etests/test_spl_withdraw_and_call_revert.go
  e2e/e2etests/test_zevm_to_solana_call.go
  e2e/runner/runner.go
  e2e/runner/setup_solana.go
  e2e/runner/solana.go
Due: none

improve error handling when decoding Bitcoin inscribed memo standard
  pkg/memo/memo.go
  pkg/memo/memo_test.go
  zetaclient/chains/bitcoin/observer/event.go
Due: zetaclient, pkg

fix(`crosschain`): use correct chain ID when refunding aborted gas and zeta cctx from ZetaChain (#4029)
  x/crosschain/keeper/abort.go
  x/crosschain/keeper/abort_test.go
Due: zetacore

minor line wrap fix
  zetaclient/chains/ton/readme.md
Due: none

subtract gas stability pool
  e2e/runner/accounting.go
Due: none

add link
  e2e/runner/accounting.go
Due: none

test: use grpc to query zeta supply in accounting check
  e2e/runner/accounting.go
Due: none

imports
  e2e/runner/accounting.go
Due: none

fixes after merge
  x/fungible/migrations/v4/migrate.go
Due: zetacore

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
