Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

fix naming
  e2e/e2etests/test_bitcoin_deposit_and_call_revert.go
  e2e/e2etests/test_bitcoin_deposit_and_call_revert_with_dust.go
  e2e/e2etests/test_bitcoin_deposit_and_withdraw_with_dust.go
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/e2etests/test_bitcoin_deposit_invalid_memo_revert.go
  e2e/e2etests/test_bitcoin_donation.go
  e2e/e2etests/test_crosschain_swap.go
  e2e/runner/bitcoin.go
Due: none

Debug message for TON account
  e2e/e2etests/test_ton_deposit.go
Due: none

refactor(e2e): sign bitcoin transactions locally (#3753)
  cmd/zetae2e/bitcoin_address.go
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/run.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_bitcoin_deposit.go
  e2e/e2etests/test_bitcoin_deposit_and_call_revert.go
  e2e/e2etests/test_bitcoin_deposit_and_call_revert_with_dust.go
  e2e/e2etests/test_bitcoin_deposit_and_withdraw_with_dust.go
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/e2etests/test_bitcoin_deposit_invalid_memo_revert.go
  e2e/e2etests/test_bitcoin_donation.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call_revert.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call_revert_other_address.go
  e2e/e2etests/test_bitcoin_std_memo_inscribed_deposit_and_call.go
  e2e/e2etests/test_bitcoin_withdraw_segwit.go
  e2e/e2etests/test_crosschain_swap.go
  e2e/e2etests/test_stress_btc_withdraw.go
  e2e/runner/balances.go
  e2e/runner/bitcoin.go
  e2e/runner/runner.go
  e2e/runner/setup_bitcoin.go
  zetaclient/chains/bitcoin/client/commands.go
  zetaclient/chains/bitcoin/client/mockgen.go
  zetaclient/testutils/mocks/bitcoin_client.go
Due: zetaclient

Add more debug messages
  e2e/e2etests/test_ton_deposit.go
Due: none

add more detail to debug section
  e2e/e2etests/test_ton_deposit.go
Due: none

fix: set updated zrc20 name and symbol in the foreign coin object (#3771)
  e2e/e2etests/test_update_zrc20_name.go
  x/fungible/keeper/msg_server_update_zrc20_name.go
  x/fungible/keeper/msg_server_update_zrc20_name_test.go
Due: zetacore

chore: upgrade mockery
  scripts/mocks-generate.sh
  testutil/keeper/mocks/crosschain/account.go
  testutil/keeper/mocks/crosschain/bank.go
  testutil/keeper/mocks/crosschain/fungible.go
  testutil/keeper/mocks/crosschain/ibccrosschain.go
  testutil/keeper/mocks/crosschain/lightclient.go
  testutil/keeper/mocks/crosschain/observer.go
  testutil/keeper/mocks/crosschain/staking.go
  testutil/keeper/mocks/emissions/account.go
  testutil/keeper/mocks/emissions/bank.go
  testutil/keeper/mocks/emissions/observer.go
  testutil/keeper/mocks/emissions/staking.go
  testutil/keeper/mocks/fungible/account.go
  testutil/keeper/mocks/fungible/bank.go
  testutil/keeper/mocks/fungible/evm.go
  testutil/keeper/mocks/fungible/observer.go
  testutil/keeper/mocks/ibccrosschain/crosschain.go
  testutil/keeper/mocks/ibccrosschain/transfer.go
  testutil/keeper/mocks/observer/lightclient.go
  testutil/keeper/mocks/observer/slashing.go
  testutil/keeper/mocks/observer/staking.go
  zetaclient/testutils/mocks/evm_rpc.go
  zetaclient/testutils/mocks/sui_client.go
  zetaclient/testutils/mocks/ton_liteclient.go
  zetaclient/testutils/mocks/ton_signerliteclient.go
  zetaclient/testutils/mocks/zetacore_client.go
Due: none

refactor(e2e): allow using all UTXOs for deposits
  e2e/e2etests/test_bitcoin_deposit_and_call_revert.go
  e2e/e2etests/test_bitcoin_deposit_and_call_revert_with_dust.go
  e2e/e2etests/test_bitcoin_deposit_and_withdraw_with_dust.go
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/e2etests/test_bitcoin_deposit_invalid_memo_revert.go
  e2e/e2etests/test_bitcoin_donation.go
  e2e/e2etests/test_crosschain_swap.go
  e2e/runner/bitcoin.go
Due: none

limit input UTXOs
  e2e/runner/bitcoin.go
Due: none

linter fixes
  e2e/e2etests/test_bitcoin_deposit.go
  e2e/e2etests/test_crosschain_swap.go
  e2e/runner/bitcoin.go
Due: none

Require NoError
  e2e/e2etests/test_ton_deposit.go
Due: none

fix object version mismatch when executing cancel tx
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/signer/signer_tx.go
Due: zetaclient

parse logs from rpc error
  pkg/contracts/solana/instruction.go
  pkg/contracts/solana/instruction_test.go
  zetaclient/chains/solana/signer/fallback_tx.go
  zetaclient/chains/solana/signer/fallback_tx_test.go
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient, pkg

Remove duplicated debug messages
  e2e/e2etests/test_ton_deposit.go
Due: none

also dynamically calculate fees
  e2e/runner/bitcoin.go
Due: none

Add ton balance
  e2e/runner/balances.go
Due: none

Revert "also dynamically calculate fees"
  e2e/runner/bitcoin.go
Due: none

make naming explicit; improve error handling
  pkg/contracts/sui/cancel_tx_nonce.go
  pkg/contracts/sui/errors.go
  pkg/contracts/sui/errors_test.go
  pkg/contracts/sui/gateway.go
  zetaclient/chains/sui/client/client.go
  zetaclient/chains/sui/observer/outbound.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/signer/signer_tx.go
  zetaclient/testutils/mocks/sui_client.go
  zetaclient/testutils/mocks/sui_gen.go
Due: zetaclient, pkg

Remove support for retrieveing and displaying TON balances
  e2e/runner/balances.go
Due: none

add gateway cancel tx event tests; improve naming
  e2e/runner/sui.go
  pkg/contracts/sui/cancel_tx.go
  pkg/contracts/sui/cancel_tx_nonce.go
  pkg/contracts/sui/cancel_tx_test.go
  pkg/contracts/sui/errors.go
  pkg/contracts/sui/gateway.go
  pkg/contracts/sui/gateway_test.go
  pkg/contracts/sui/withdrawal_test.go
  zetaclient/chains/sui/observer/outbound.go
Due: zetaclient, pkg

add changelog entry
  changelog.md
Due: none

improve changelog description
  changelog.md
Due: none

fix: improve fallback tx error handling (#3770)
  changelog.md
  contrib/localnet/solana/connected.so
  contrib/localnet/solana/connected_spl.so
  e2e/e2etests/test_solana_withdraw_and_call_revert_with_call.go
  zetaclient/chains/solana/signer/fallback_tx.go
  zetaclient/chains/solana/signer/fallback_tx_test.go
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient

Update pkg/contracts/sui/payload.go
  pkg/contracts/sui/payload.go
Due: pkg

fix: cherry pick mainnet bitcoin fix to be able to revert missed inbound w… (#3754)
  changelog.md
  e2e/e2etests/test_bitcoin_deposit_invalid_memo_revert.go
  e2e/runner/bitcoin.go
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
Due: zetaclient

chore(e2e): print stack trace on nil dereference (#3751)
  e2e/runner/run.go
Due: none

fix imports
  pkg/contracts/sui/payload.go
Due: pkg

use const for abi args
  pkg/contracts/sui/payload.go
Due: pkg

Improve error message
  e2e/e2etests/test_ton_deposit.go
Due: none

create payloadCall object
  e2e/runner/sui.go
  pkg/contracts/sui/payload.go
  pkg/contracts/sui/payload_test.go
  zetaclient/chains/sui/signer/signer_tx.go
Due: zetaclient, pkg

add argument for payload
  e2e/e2etests/test_sui_withdraw_and_call.go
  e2e/runner/sui.go
Due: none

Add address and account IDs
  e2e/e2etests/test_ton_deposit.go
Due: none

refactor rawPayload
  pkg/contracts/sui/payload.go
Due: pkg

Add account as aprt of the debug message
  e2e/e2etests/test_ton_deposit.go
Due: none

feat: add payload parsing for Sui withdrawAndCall (#3764)
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_sui_withdraw_and_call.go
  e2e/runner/sui.go
  pkg/contracts/sui/payload.go
  pkg/contracts/sui/payload_test.go
  zetaclient/chains/sui/signer/signer_tx.go
Due: zetaclient, pkg

get raw account ID
  e2e/e2etests/test_ton_deposit.go
Due: none

debug: check gw contract state
  e2e/e2etests/test_ton_deposit.go
Due: none

debug: Add more parameters related to GW contract init
  e2e/e2etests/test_ton_deposit.go
Due: none

use SignBatch for solana outbound tx and fallback tx
  zetaclient/chains/solana/signer/execute.go
  zetaclient/chains/solana/signer/execute_spl.go
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient

changelog
  changelog.md
Due: none
