Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

create test for out of gas
  cmd/zetae2e/local/v2.go
  e2e/contracts/testgasconsumer/TestGasConsumer.abi
  e2e/contracts/testgasconsumer/TestGasConsumer.bin
  e2e/contracts/testgasconsumer/TestGasConsumer.go
  e2e/contracts/testgasconsumer/TestGasConsumer.json
  e2e/contracts/testgasconsumer/TestGasConsumer.sol
  e2e/contracts/testgasconsumer/bindings.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_deposit_and_call_out_of_gas.go
  pkg/contracts/testdappv2/TestDAppV2.bin
  pkg/contracts/testdappv2/TestDAppV2.go
  pkg/contracts/testdappv2/TestDAppV2.json
  pkg/contracts/testdappv2/TestDAppV2.sol
  x/fungible/keeper/v2_evm.go
Due: zetacore, pkg

generate and lint
  e2e/e2etests/test_deposit_and_call_out_of_gas.go
  x/fungible/keeper/v2_evm.go
Due: zetacore

set gas limit
  x/fungible/keeper/v2_evm.go
Due: zetacore

update test
  e2e/e2etests/test_v2_erc20_withdraw_and_call.go
Due: none

set args
  e2e/e2etests/e2etests.go
Due: none

add missing test
  cmd/zetae2e/local/v2.go
Due: none

changelog and add test back
  changelog.md
  cmd/zetae2e/local/v2.go
Due: none

handle error
  e2e/e2etests/test_deposit_and_call_out_of_gas.go
Due: none

add withdraw in testdapp
  pkg/contracts/testdappv2/TestDAppV2.abi
  pkg/contracts/testdappv2/TestDAppV2.bin
  pkg/contracts/testdappv2/TestDAppV2.go
  pkg/contracts/testdappv2/TestDAppV2.json
  pkg/contracts/testdappv2/TestDAppV2.sol
Due: pkg

deposit and withdraw test
  cmd/zetae2e/local/v2.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_deposit_and_withdraw.go
Due: none

test wip for deposit spl and call
  e2e/e2etests/test_solana_deposit_and_call_spl.go
  e2e/runner/solana.go
Due: none

bump go-tss to the merged commit in master branch
  go.mod
  go.sum
Due: none

register withdraw emissions to legacy amino
  x/emissions/types/codec.go
Due: none

revert back to the go-tss commit
  go.mod
  go.sum
Due: none

add changelog entry
  changelog.md
Due: none

fix: replace DHT with private peer discovery (#3041)
  changelog.md
  cmd/zetaclientd/p2p_diagnostics.go
  cmd/zetaclientd/start.go
  go.mod
  go.sum
  zetaclient/metrics/metrics.go
  zetaclient/metrics/telemetry.go
  zetaclient/tss/tss_signer.go
Due: zetaclient

Consolidate files and logic within zetaclientd cli
  cmd/config.go
  cmd/cosmos.go
  cmd/zetaclientd/hsm.go
  cmd/zetaclientd/init.go
  cmd/zetaclientd/main.go
  cmd/zetaclientd/root.go
  cmd/zetaclientd/start.go
  cmd/zetaclientd/start_utils.go
  cmd/zetaclientd/utils.go
  cmd/zetaclientd/version.go
Due: none

check withdraw in test
  e2e/e2etests/test_deposit_and_withdraw.go
Due: none

Update `init` command
  cmd/zetaclientd/init.go
  cmd/zetaclientd/init_config.go
  cmd/zetaclientd/main.go
  cmd/zetaclientd/start.go
Due: none

add gas consumption simulation
  pkg/contracts/testdappv2/TestDAppV2.bin
  pkg/contracts/testdappv2/TestDAppV2.go
  pkg/contracts/testdappv2/TestDAppV2.json
  pkg/contracts/testdappv2/TestDAppV2.sol
Due: pkg

more gas
  pkg/contracts/testdappv2/TestDAppV2.sol
Due: pkg

refactor(zetaclient)!: remove hsm signer
  Makefile
  cmd/zetaclientd/debug.go
  cmd/zetaclientd/hsm.go
  cmd/zetaclientd/init.go
  cmd/zetaclientd/utils.go
  go.mod
  go.sum
  zetaclient/config/types.go
  zetaclient/hsm/hsm_signer.go
  zetaclient/hsm/hsm_signer_test.go
  zetaclient/zetacore/broadcast.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/client_test.go
Due: zetaclient

register update params
  contrib/localnet/scripts/start-zetacored.sh
  x/crosschain/types/authz.go
  x/emissions/types/codec.go
Due: zetacore

remove unused variable
  zetaclient/zetacore/broadcast.go
Due: zetaclient

format code
  x/crosschain/types/authz.go
Due: zetacore

Consolidate TSS commands
  cmd/zetaclientd/encrypt_tss.go
  cmd/zetaclientd/gen_pre_params.go
  cmd/zetaclientd/init_config.go
  cmd/zetaclientd/main.go
  cmd/zetaclientd/start.go
  cmd/zetaclientd/tss.go
  zetaclient/tss/generate.go
  zetaclient/tss/tss_signer.go
Due: zetaclient

Drop HSM cli (https://github.com/zeta-chain/node/pull/3118)
  cmd/zetaclientd/hsm.go
Due: none

Move p2p diagnostic to tss package
  cmd/zetaclientd/start.go
  zetaclient/tss/diagnostic.go
Due: zetaclient

add changelog
  changelog.md
Due: none

refactor changelog entry
  changelog.md
Due: none

remove MsgWithdrawEmissions from zetaclient grants
  contrib/localnet/scripts/start-zetacored.sh
  x/crosschain/types/authz.go
Due: zetacore

add balance check after Bitcoin e2e tests
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/local/local.go
  e2e/runner/accounting.go
  e2e/runner/bitcoin.go
  e2e/runner/require.go
  e2e/runner/run.go
  e2e/runner/setup_bitcoin.go
Due: none

refactor(e2e): only build zetanode once
  .github/workflows/e2e.yml
  .github/workflows/reusable-e2e.yml
  Makefile
Due: none

Refactor relayer commands
  cmd/zetaclientd/import_relayer_keys.go
  cmd/zetaclientd/main.go
  cmd/zetaclientd/relayer.go
  contrib/localnet/scripts/start-zetaclientd.sh
  zetaclient/config/types.go
Due: zetaclient

Rename init config
  cmd/zetaclientd/initconfig.go
Due: none

debug
  .github/workflows/e2e.yml
Due: none

fix
  .github/workflows/e2e.yml
Due: none

remove apt install from orchestrator build and just use zetanode as base
  contrib/localnet/orchestrator/Dockerfile.fastbuild
Due: none

Restructure inbound cmd
  cmd/zetaclientd/inbound.go
  cmd/zetaclientd/main.go
  cmd/zetaclientd/start.go
Due: none

Update changelog
  changelog.md
Due: none

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
