Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

Bump download-artifact to v4 (#3104)
  .github/actions/upgrade-testing/action.yml
Due: none

skip deposit calculation if transaction doesn't involve TSS address
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/witness.go
Due: zetaclient

refactor: use major version in release upgrade handlers (#3159)
  .github/workflows/publish-release.yml
  app/setup_handlers.go
  cmd/zetacored/root.go
  cmd/zetacored/version.go
  contrib/localnet/scripts/start-upgrade-orchestrator.sh
  docs/cli/zetacored/cli.md
  version.sh
Due: none

PR comments
  pkg/contracts/solana/gateway_message_test.go
  pkg/contracts/solana/inbound.go
  pkg/contracts/solana/inbound_test.go
  zetaclient/chains/solana/observer/outbound_test.go
Due: zetaclient, pkg

fix unit test compiler errors
  zetaclient/chains/bitcoin/observer/witness_test.go
Due: zetaclient

skip depositor fee calculation on irrelevant txs
  zetaclient/chains/bitcoin/fee.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
Due: zetaclient

add changelog entry
  changelog.md
Due: none

correct PR number in changelog
  changelog.md
Due: none

update changelog
  changelog.md
Due: none

chore: prepare zetaclient v22.1.0 (#3152)
  changelog.md
  cmd/zetaclientd/p2p_diagnostics.go
  cmd/zetaclientd/start.go
  go.mod
  go.sum
  zetaclient/chains/bitcoin/fee.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
  zetaclient/metrics/metrics.go
  zetaclient/metrics/telemetry.go
  zetaclient/tss/tss_signer.go
Due: zetaclient

fix(ci): move skip_checks to step
  .github/workflows/publish-release.yml
Due: none

fix: skip depositor fee calculation on irrelevant transactions (#3162)
  changelog.md
  zetaclient/chains/bitcoin/fee.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
Due: zetaclient

append opcode decoding err, if any, to log print
  zetaclient/chains/bitcoin/tx_script.go
Due: zetaclient

updated to add listen-dev workflow into the build process
  .github/workflows/ci.yml
  .github/workflows/docker-build-and-push.yml
  .github/workflows/lstn.yml
Due: none

bump lstn version
  .github/workflows/ci.yml
Due: none

fix: avoid panic in inscription parsing (#3155)
  changelog.md
  zetaclient/chains/bitcoin/tx_script.go
  zetaclient/chains/bitcoin/tx_script_test.go
Due: zetaclient

PR comment
  pkg/contracts/solana/gateway_message_test.go
Due: pkg

test: extend solana unit tests (#3158)
  e2e/runner/setup_solana.go
  e2e/runner/solana.go
  pkg/contracts/solana/gateway.go
  pkg/contracts/solana/gateway_message.go
  pkg/contracts/solana/gateway_message_test.go
  pkg/contracts/solana/inbound.go
  pkg/contracts/solana/inbound_test.go
  pkg/contracts/solana/instruction.go
  zetaclient/chains/solana/observer/outbound_test.go
  zetaclient/chains/solana/signer/withdraw_spl.go
  zetaclient/testdata/solana/chain_901_outbound_tx_result_3NgoR4K9FJq7UunorPRGW9wpqMV8oNvZERejutd7bKmqh3CKEV5DMZndhZn7hQ1i4RhTyHXRWxtR5ZNVHmmjAUSF.json
Due: zetaclient, pkg

upgrade contracts
  go.mod
  go.sum
Due: none

test
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
Due: zetacore

test with gas consumption
  cmd/zetae2e/local/v2.go
  pkg/contracts/testdappv2/TestDAppV2.bin
  pkg/contracts/testdappv2/TestDAppV2.go
  pkg/contracts/testdappv2/TestDAppV2.json
  pkg/contracts/testdappv2/TestDAppV2.sol
Due: pkg

increase gas use
  pkg/contracts/testdappv2/TestDAppV2.bin
  pkg/contracts/testdappv2/TestDAppV2.go
  pkg/contracts/testdappv2/TestDAppV2.json
  pkg/contracts/testdappv2/TestDAppV2.sol
Due: pkg

increase gas 2
  pkg/contracts/testdappv2/TestDAppV2.bin
  pkg/contracts/testdappv2/TestDAppV2.go
  pkg/contracts/testdappv2/TestDAppV2.json
  pkg/contracts/testdappv2/TestDAppV2.sol
Due: pkg

fix(crosschain): do not check zetachain sender for failed revert outbound
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
Due: zetacore

fix fix newline
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
Due: zetacore

large gas
  pkg/contracts/testdappv2/TestDAppV2.bin
  pkg/contracts/testdappv2/TestDAppV2.go
  pkg/contracts/testdappv2/TestDAppV2.json
  pkg/contracts/testdappv2/TestDAppV2.sol
Due: pkg

Streamline tss config
  cmd/zetaclientd/start.go
  zetaclient/tss/config.go
Due: zetaclient

check with gasleft
  pkg/contracts/testdappv2/TestDAppV2.bin
  pkg/contracts/testdappv2/TestDAppV2.go
  pkg/contracts/testdappv2/TestDAppV2.json
  pkg/contracts/testdappv2/TestDAppV2.sol
Due: pkg

upgrade to new version
  go.mod
  go.sum
  pkg/contracts/testdappv2/TestDAppV2.sol
Due: pkg

decrease gas
  pkg/contracts/testdappv2/TestDAppV2.bin
  pkg/contracts/testdappv2/TestDAppV2.go
  pkg/contracts/testdappv2/TestDAppV2.json
Due: pkg

change test assertion
  cmd/zetae2e/local/v2.go
  e2e/e2etests/test_v2_eth_deposit_and_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_call_revert_with_call.go
  pkg/contracts/testdappv2/TestDAppV2.bin
  pkg/contracts/testdappv2/TestDAppV2.go
  pkg/contracts/testdappv2/TestDAppV2.json
  pkg/contracts/testdappv2/TestDAppV2.sol
Due: pkg

change assertions
  e2e/e2etests/test_v2_eth_deposit_and_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_call_revert_with_call.go
Due: none

chore: update protocol contract to check gasleft change
  go.mod
  go.sum
Due: none

remove unused keys
  simulation/state.go
  testutil/sample/crosschain.go
  testutil/sample/crypto.go
  testutil/sample/observer.go
  x/fungible/keeper/evm.go
  x/observer/types/keys.go
Due: zetacore

fix comment
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
Due: zetacore

check lower gas succeed
  e2e/e2etests/test_v2_eth_deposit_and_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_call_revert_with_call.go
  pkg/contracts/testdappv2/TestDAppV2.bin
  pkg/contracts/testdappv2/TestDAppV2.go
  pkg/contracts/testdappv2/TestDAppV2.json
  pkg/contracts/testdappv2/TestDAppV2.sol
Due: pkg

fix gas
  pkg/contracts/testdappv2/TestDAppV2.bin
  pkg/contracts/testdappv2/TestDAppV2.go
  pkg/contracts/testdappv2/TestDAppV2.json
  pkg/contracts/testdappv2/TestDAppV2.sol
Due: pkg

fix(crosschain): do not check zetachain sender for failed revert outbound (#3166)
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
Due: zetacore

reduce gas
  pkg/contracts/testdappv2/TestDAppV2.bin
  pkg/contracts/testdappv2/TestDAppV2.go
  pkg/contracts/testdappv2/TestDAppV2.json
  pkg/contracts/testdappv2/TestDAppV2.sol
Due: pkg

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
