Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

move public functions to utils package public
  cmd/zetae2e/local/add_observer.go
  cmd/zetae2e/local/zeta.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetacored.sh
  e2e/utils/utils.go
Due: none

improve naming and simplify the method PassesCompliance
  zetaclient/chains/base/signer.go
  zetaclient/chains/bitcoin/signer/outbound_data.go
  zetaclient/chains/bitcoin/signer/outbound_data_test.go
  zetaclient/chains/bitcoin/signer/signer.go
Due: zetaclient

fix CI performance test; retain original start-e2e-performance-test-1k
  Makefile
Due: none

ci: remove consensus test as required test for merge (#3923)
  .github/workflows/e2e.yml
Due: none

fix: improve observer emissions distribution (#3904)
  changelog.md
  x/emissions/abci.go
  x/emissions/abci_test.go
  x/observer/types/ballot.go
  x/observer/types/ballot_test.go
Due: zetacore

test: add sui E2E performance tests (#3893)
  Makefile
  changelog.md
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/performance.go
  contrib/localnet/docker-compose.yml
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_stress_sui_deposit.go
  e2e/e2etests/test_stress_sui_withdraw.go
  e2e/runner/sui.go
  pkg/contracts/sui/coin.go
Due: pkg

add nosec
  e2e/utils/utils.go
Due: none

fix upgrade test failure by setting minimum version to v30 for restricted address
  e2e/e2etests/e2etests.go
Due: none

feat: revert restricted cctx for evm chain, bitcoin and solana (#3906)
  changelog.md
  e2e/e2etests/e2etests.go
  e2e/e2etests/helpers.go
  e2e/e2etests/legacy/test_erc20_multiple_withdraws.go
  e2e/e2etests/legacy/test_erc20_withdraw.go
  e2e/e2etests/test_bitcoin_withdraw_legacy.go
  e2e/e2etests/test_bitcoin_withdraw_multiple.go
  e2e/e2etests/test_bitcoin_withdraw_p2sh.go
  e2e/e2etests/test_bitcoin_withdraw_p2wsh.go
  e2e/e2etests/test_bitcoin_withdraw_rbf.go
  e2e/e2etests/test_bitcoin_withdraw_restricted_address.go
  e2e/e2etests/test_bitcoin_withdraw_segwit.go
  e2e/e2etests/test_bitcoin_withdraw_taproot.go
  e2e/e2etests/test_eth_withdraw_restricted_address.go
  e2e/e2etests/test_solana_withdraw.go
  e2e/e2etests/test_solana_withdraw_restricted_address.go
  e2e/e2etests/test_solana_withdraw_revert_executable_receiver.go
  e2e/e2etests/test_sui_withdraw_restricted_address.go
  e2e/runner/bitcoin.go
  e2e/runner/solana.go
  e2e/runner/verify.go
  testutil/sample/zetaclient.go
  zetaclient/chains/base/signer.go
  zetaclient/chains/base/signer_test.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/signer/outbound_data.go
  zetaclient/chains/bitcoin/signer/outbound_data_test.go
  zetaclient/chains/bitcoin/signer/sign_rbf_test.go
  zetaclient/chains/bitcoin/signer/sign_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/signer/execute.go
  zetaclient/chains/solana/signer/execute_spl.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/withdraw.go
  zetaclient/chains/solana/signer/withdraw_spl.go
  zetaclient/chains/sui/signer/signer.go
Due: zetaclient

fix: add support for non-base64 formatted payload in Sui DepositAndCall event parsing (#3915)
  pkg/contracts/sui/gateway.go
  pkg/contracts/sui/gateway_test.go
  zetaclient/chains/sui/client/client_live_test.go
Due: zetaclient, pkg

fix: check tx result err in filter inbound events (#3914)
  changelog.md
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/testdata/solana/chain_901_inbound_tx_result_2M5hpf4CNdfV4a44Ra8mYAyQRZr3UX61FjAU6qBmV6K7HxyS6CsSPcvq2fS7eB9QqT8rx8jE2wMoMYauTmuvPgrx.json
Due: zetaclient

feat: add zetatool cmd to analyze size of application.db (#3881)
  cmd/zetatool/cli/db_stats.go
  cmd/zetatool/main.go
  docs/cli/zetatool/db_stats.md
  docs/cli/zetatool/readme.md
  go.mod
  go.sum
Due: none

fix: solana call required accounts number condition (#3895)
  changelog.md
  pkg/contracts/solana/gateway.go
  pkg/contracts/solana/inbound.go
  pkg/contracts/solana/inbound_test.go
Due: pkg

fix: add sender to execute message hash (#3896)
  changelog.md
  contrib/localnet/solana/gateway.so
  pkg/contracts/solana/gateway_message.go
  pkg/contracts/solana/gateway_message_test.go
  zetaclient/chains/solana/signer/execute.go
  zetaclient/chains/solana/signer/execute_spl.go
  zetaclient/chains/solana/signer/withdraw_spl.go
Due: zetaclient, pkg

fix: infinite scan in filter solana inbound events (#3916)
  changelog.md
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/chains/solana/observer/inbound_tracker.go
Due: zetaclient

fix ci
  rpc/backend/backend_suite_test.go
  x/fungible/keeper/evm.go
Due: zetacore

bump gateway.so
  contrib/localnet/solana/gateway.so
Due: none

fix: show correct gas limit for synthetic txs (#3920)
  changelog.md
  go.mod
  go.sum
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks.go
  rpc/types/events.go
  rpc/types/types.go
  rpc/types/utils.go
  x/fungible/keeper/evm.go
Due: zetacore

update gateway program
  contrib/localnet/solana/gateway_upgrade.so
Due: none

test: add-observer e2e test (#3885)
  Makefile
  app/ante/ante.go
  changelog.md
  cmd/zetacored/add_observer_list.go
  cmd/zetacored/collect_observer_info.go
  cmd/zetae2e/local/add_observer.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/tss_migration.go
  cmd/zetae2e/local/zeta.go
  contrib/localnet/docker-compose.yml
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/preparams/zetaclient-new-validator.json
  contrib/localnet/scripts/add-keys.sh
  contrib/localnet/scripts/start-zetaclientd.sh
  contrib/localnet/scripts/start-zetacored.sh
  contrib/localnet/solana/gateway_upgrade.so
  e2e/utils/utils.go
  pkg/parsers/observer_info.go
  pkg/parsers/observer_info_test.go
  x/observer/keeper/msg_server_add_observer_test.go
Due: zetacore, pkg

Add TON HTTP-RPC client skeleton
  contrib/localnet/docker-compose.yml
  zetaclient/chains/ton/rpc/client.go
  zetaclient/chains/ton/rpc/client_live_test.go
  zetaclient/chains/ton/rpc/types.go
Due: zetaclient

Metrics note
  zetaclient/chains/ton/rpc/client.go
Due: zetaclient

RPC WIP [2]
  zetaclient/chains/ton/rpc/client.go
  zetaclient/chains/ton/rpc/client_live_test.go
  zetaclient/chains/ton/rpc/types.go
  zetaclient/common/env.go
Due: zetaclient

RPC WIP [1]
  zetaclient/chains/ton/rpc/client.go
  zetaclient/chains/ton/rpc/types.go
Due: zetaclient

RPC WIP [3]
  zetaclient/chains/ton/rpc/client.go
  zetaclient/chains/ton/rpc/client_live_test.go
  zetaclient/chains/ton/rpc/types.go
Due: zetaclient

Record metrics
  zetaclient/chains/ton/rpc/client.go
  zetaclient/chains/ton/rpc/client_live_test.go
Due: zetaclient

Update changelog
  changelog.md
Due: none

fix gas price bump failure by posting zero priority fee
  zetaclient/chains/evm/observer/observer_gas.go
  zetaclient/chains/evm/observer/observer_gas_test.go
Due: zetaclient

directly use 0 of uint64 for priority fee
  zetaclient/chains/evm/observer/observer_gas.go
Due: zetaclient

fix: post zero priority fee to avoid gas price bump failure in zetacore (#3930)
  zetaclient/chains/evm/observer/observer_gas.go
  zetaclient/chains/evm/observer/observer_gas_test.go
Due: zetaclient

fix: post zero priority fee to avoid gas price bump failure in zetacore (#3931)
  zetaclient/chains/evm/observer/observer_gas.go
  zetaclient/chains/evm/observer/observer_gas_test.go
Due: zetaclient

hardcoded block time related values changes
  cmd/zetacored/root.go
  pkg/constant/constant.go
  x/emissions/types/keys.go
  x/observer/types/crosschain_flags.go
Due: zetacore, pkg

coderabbit comment
  zetaclient/chains/evm/observer/observer_gas.go
Due: zetaclient

fix ci and revert param
  pkg/constant/constant.go
  x/emissions/types/keys.go
  x/emissions/types/params.go
Due: zetacore, pkg

try to reduce constant again
  pkg/constant/constant.go
Due: pkg

fix lint
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/observer_gas.go
Due: zetaclient

fix evm chain gas price bump failure by posting zero priority fee
  zetaclient/chains/evm/observer/observer_gas.go
  zetaclient/chains/evm/observer/observer_gas_test.go
Due: zetaclient

add changelog entry
  changelog.md
Due: none
