Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

fix solana inbounds
  e2e/e2etests/test_solana_deposit_call.go
  e2e/e2etests/test_spl_deposit_and_call.go
  e2e/runner/solana.go
  e2e/utils/contracts.go
  pkg/contracts/solana/gateway.go
  pkg/contracts/solana/inbound.go
  pkg/contracts/solana/inbound_test.go
  pkg/contracts/solana/instruction.go
  testutil/contracts/Example.abi
  testutil/contracts/Example.bin
  testutil/contracts/Example.go
  testutil/contracts/Example.json
  testutil/contracts/Example.sol
Due: pkg

add and fix unit tests for inbound parsing
  pkg/contracts/solana/inbound_test.go
  pkg/contracts/solana/testdata/22s5ERRRZmZXAuDMRdwUU33VnWZ7m8NHUZM6hyLH52JQPz5R7mXEkFcvHx88ujq3xDnt3z7sZdZ21JK2FC7vPw1o.json
  pkg/contracts/solana/testdata/5b7ShhHf8dvUjUBHgMvgH8FFqpfAd7vAGygZLaeNPhugXtY5fatPSACVkn13o7sw6Awob8EJnrwAuiKYqvi7ZkHa.json
  pkg/contracts/solana/testdata/5bXSQaq6BY1WhhF3Qm4pLHXxuyM9Mz1MrdMeoCFbimxw4uv11raQgAj4HGULPEQExPKB231rMhm6666dQMwf9fNN.json
  pkg/contracts/solana/testdata/8UeJoxY6RbMg6bffsUtZ9f79vSnd4HCRdk5EQgNbAEDYQWXNraiKDtGDZBLp91oyF5eQyWdv6pEwW1vcitiB4px.json
  pkg/contracts/solana/testdata/MS3MPLN7hkbyCZFwKqXcg8fmEvQMD74fN6Ps2LSWXJoRxPW5ehaxBorK9q1JFVbqnAvu9jXm6ertj7kT7HpYw1j.json
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/testdata/solana/chain_901_inbound_tx_result_24GzWsxYCFcwwJ2rzAsWwWC85aYKot6Rz3jWnBP1GvoAg5A9f1WinYyvyKseYM52q6i3EkotZdJuQomGGq5oxRYr.json
  zetaclient/testdata/solana/chain_901_inbound_tx_result_MS3MPLN7hkbyCZFwKqXcg8fmEvQMD74fN6Ps2LSWXJoRxPW5ehaxBorK9q1JFVbqnAvu9jXm6ertj7kT7HpYw1j.json
Due: zetaclient, pkg

reduce errors for RefundAbortedCCTX
  simulation/state.go
  testutil/sample/crosschain.go
  testutil/sample/observer.go
  x/crosschain/simulation/operation_refund_aborted_cctx.go
  x/crosschain/simulation/operation_update_tss_address.go
  x/crosschain/simulation/operations.go
Due: none

switch v2 with legacy
  .github/workflows/e2e.yml
  Makefile
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/local/evm.go
  cmd/zetae2e/local/legacy.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/zeta.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/legacy/test_zeta_deposit.go
  e2e/e2etests/legacy/test_zeta_deposit_new_address.go
  e2e/e2etests/legacy/test_zeta_deposit_restricted_address.go
  e2e/e2etests/legacy/test_zeta_withdraw.go
  e2e/e2etests/legacy/test_zeta_withdraw_bitcoin_revert.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/e2etests/test_zrc20_swap.go
Due: none

changelogs
  changelog.md
Due: none

cleanup comments
  pkg/contracts/solana/inbound.go
Due: pkg

reduce errors for RefundAbortedCCTX
  x/crosschain/simulation/operation_add_outbound_tracker.go
Due: none

remove v2 flag
  contrib/localnet/orchestrator/start-zetae2e.sh
Due: none

rename functions
  x/crosschain/genesis.go
  x/crosschain/keeper/cctx.go
  x/crosschain/keeper/cctx_orchestrator_validate_inbound.go
  x/crosschain/keeper/cctx_orchestrator_validate_inbound_test.go
  x/crosschain/keeper/cctx_test.go
  x/crosschain/keeper/export_private_functions_test.go
  x/crosschain/keeper/grpc_query_inbound_hash_to_cctx_test.go
  x/crosschain/keeper/msg_server_migrate_erc20_custody_funds.go
  x/crosschain/keeper/msg_server_migrate_tss_funds.go
  x/crosschain/keeper/msg_server_update_erc20_custody_pause_status.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
  x/crosschain/types/status.go
Due: zetacore

fix: allow processing v2 inbound trackers for gateway calls initiated by smart contracts (#3226)
  e2e/e2etests/test_deploy_contract.go
  e2e/e2etests/test_eth_deposit_call.go
  e2e/e2etests/test_inbound_trackers.go
  e2e/e2etests/test_solana_deposit_refund.go
  e2e/e2etests/test_ton_deposit_refund.go
  e2e/runner/balances.go
  e2e/runner/v2_setup_evm.go
  e2e/runner/v2_setup_zeta.go
  pkg/contracts/testdappv2/TestDAppV2.abi
  pkg/contracts/testdappv2/TestDAppV2.bin
  pkg/contracts/testdappv2/TestDAppV2.go
  pkg/contracts/testdappv2/TestDAppV2.json
  pkg/contracts/testdappv2/TestDAppV2.sol
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/types/status.go
  x/fungible/keeper/v2_deposits_test.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/v2_inbound_tracker.go
Due: zetacore, zetaclient, pkg

fix num of accounts error
  pkg/contracts/solana/inbound.go
  pkg/contracts/solana/inbound_test.go
Due: pkg

PR comment
  pkg/contracts/solana/inbound.go
Due: pkg

fix: fix solana inbounds (#3255)
  e2e/e2etests/test_solana_deposit_call.go
  e2e/e2etests/test_spl_deposit_and_call.go
  e2e/runner/solana.go
  e2e/utils/contracts.go
  pkg/contracts/solana/gateway.go
  pkg/contracts/solana/inbound.go
  pkg/contracts/solana/inbound_test.go
  pkg/contracts/solana/instruction.go
  pkg/contracts/solana/testdata/22s5ERRRZmZXAuDMRdwUU33VnWZ7m8NHUZM6hyLH52JQPz5R7mXEkFcvHx88ujq3xDnt3z7sZdZ21JK2FC7vPw1o.json
  pkg/contracts/solana/testdata/5b7ShhHf8dvUjUBHgMvgH8FFqpfAd7vAGygZLaeNPhugXtY5fatPSACVkn13o7sw6Awob8EJnrwAuiKYqvi7ZkHa.json
  pkg/contracts/solana/testdata/5bXSQaq6BY1WhhF3Qm4pLHXxuyM9Mz1MrdMeoCFbimxw4uv11raQgAj4HGULPEQExPKB231rMhm6666dQMwf9fNN.json
  pkg/contracts/solana/testdata/8UeJoxY6RbMg6bffsUtZ9f79vSnd4HCRdk5EQgNbAEDYQWXNraiKDtGDZBLp91oyF5eQyWdv6pEwW1vcitiB4px.json
  pkg/contracts/solana/testdata/MS3MPLN7hkbyCZFwKqXcg8fmEvQMD74fN6Ps2LSWXJoRxPW5ehaxBorK9q1JFVbqnAvu9jXm6ertj7kT7HpYw1j.json
  testutil/contracts/Example.abi
  testutil/contracts/Example.bin
  testutil/contracts/Example.go
  testutil/contracts/Example.json
  testutil/contracts/Example.sol
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/testdata/solana/chain_901_inbound_tx_result_24GzWsxYCFcwwJ2rzAsWwWC85aYKot6Rz3jWnBP1GvoAg5A9f1WinYyvyKseYM52q6i3EkotZdJuQomGGq5oxRYr.json
  zetaclient/testdata/solana/chain_901_inbound_tx_result_MS3MPLN7hkbyCZFwKqXcg8fmEvQMD74fN6Ps2LSWXJoRxPW5ehaxBorK9q1JFVbqnAvu9jXm6ertj7kT7HpYw1j.json
Due: zetaclient, pkg

fix: cherry pick athens3 hotfixes (#3253)
  changelog.md
  zetaclient/chains/solana/observer/inbound_tracker.go
  zetaclient/chains/solana/rpc/rpc.go
  zetaclient/chains/solana/rpc/rpc_live_test.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/keys/relayer_key.go
Due: zetaclient

reafactor update TSS to use existing cctx
  Makefile
  simulation/simulation_test.go
  simulation/state.go
  x/crosschain/simulation/operation_update_tss_address.go
  x/observer/simulation/decoders.go
Due: none

chore(e2e): tolerate multiple runs of precompile tests
  cmd/zetae2e/local/local.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_precompiles_bank.go
  e2e/e2etests/test_precompiles_bank_through_contract.go
Due: none

initiate Bitcoin RBF live tests
  go.mod
  x/crosschain/keeper/abci.go
  x/crosschain/keeper/abci_test.go
  x/observer/types/crosschain_flags.go
  zetaclient/chains/bitcoin/fee.go
  zetaclient/chains/bitcoin/fee_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
  zetaclient/chains/bitcoin/rpc/rpc_rbf_live_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/common/env.go
Due: zetacore, zetaclient

remove setting nonce to cctx twice
  Makefile
  simulation/simulation_test.go
  x/crosschain/genesis.go
Due: zetacore

rename accounts
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/local/evm.go
  cmd/zetae2e/local/legacy.go
  cmd/zetae2e/local/performance.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetacored.sh
  e2e/config/config.go
Due: none

refactor setup functions
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/stress.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/runner/accounting.go
  e2e/runner/admin_evm.go
  e2e/runner/evm.go
  e2e/runner/legacy_setup_evm.go
  e2e/runner/runner.go
  e2e/runner/setup_evm.go
  e2e/runner/setup_zevm.go
  e2e/runner/upgrade.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/outbound_test.go
Due: zetaclient

generate files
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
Due: zetacore

fix: update pending nonces when aborting a cctx through MsgAbortStuckCCTX (#3230)
  changelog.md
  e2e/utils/zetacore.go
  x/crosschain/genesis.go
  x/crosschain/keeper/cctx.go
  x/crosschain/keeper/cctx_orchestrator_validate_inbound.go
  x/crosschain/keeper/cctx_orchestrator_validate_inbound_test.go
  x/crosschain/keeper/cctx_test.go
  x/crosschain/keeper/export_private_functions_test.go
  x/crosschain/keeper/grpc_query_inbound_hash_to_cctx_test.go
  x/crosschain/keeper/msg_server_abort_stuck_cctx.go
  x/crosschain/keeper/msg_server_abort_stuck_cctx_test.go
  x/crosschain/keeper/msg_server_migrate_erc20_custody_funds.go
  x/crosschain/keeper/msg_server_migrate_tss_funds.go
  x/crosschain/keeper/msg_server_update_erc20_custody_pause_status.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
  x/crosschain/keeper/outbound_tracker_test.go
  x/crosschain/types/errors.go
  x/crosschain/types/status.go
  x/crosschain/types/status_test.go
Due: zetacore

set observe count for even is observer set is empty
  Makefile
  simulation/simulation_test.go
  x/crosschain/genesis.go
  x/observer/genesis.go
Due: zetacore

Simplify base signer
  cmd/zetaclientd/start.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/signer.go
  zetaclient/chains/base/signer_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/bitcoin/signer/signer_test.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/signer_test.go
  zetaclient/chains/ton/signer/signer_test.go
  zetaclient/orchestrator/bootstap_test.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

chore(e2e): tolerate multiple runs of precompile tests (#3256)
  cmd/zetae2e/local/local.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_precompiles_bank.go
  e2e/e2etests/test_precompiles_bank_through_contract.go
Due: none

Base observer: remove header cache
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/solana/observer/observer.go
  zetaclient/chains/ton/observer/observer_test.go
  zetaclient/orchestrator/bootstrap.go
Due: zetaclient

fmt
  pkg/contracts/solana/inbound_test.go
Due: pkg

remove duplicate LiveTest_PendingMempoolTx test
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
Due: zetaclient

add updte keygen message
  Makefile
  simulation/simulation_test.go
  testutil/sample/observer.go
  x/observer/genesis.go
  x/observer/simulation/operation_disable_cctx.go
  x/observer/simulation/operation_enable_cctx.go
  x/observer/simulation/operation_update_keygen.go
  x/observer/simulation/operations.go
Due: zetacore

Update simulation/simulation_test.go
  simulation/simulation_test.go
Due: none

test: add option to run e2e twice
  .github/workflows/e2e.yml
  .github/workflows/reusable-e2e.yml
Due: none

add update chain params
  testutil/sample/observer.go
  x/observer/simulation/operation_update_chain_params.go
  x/observer/simulation/operations.go
Due: none

fix comments and remove unused functions
  simulation/simulation_test.go
  testutil/sample/crosschain.go
  x/crosschain/module_simulation.go
  x/crosschain/simulation/genesis.go
  x/crosschain/simulation/operations.go
  x/fungible/module_simulation.go
  x/fungible/simulation/genesis.go
  x/observer/module_simulation.go
  x/observer/simulation/genesis.go
Due: none

fix comments and remove unused functions
  simulation/simulation_test.go
Due: none

fix unit test
  zetaclient/chains/solana/observer/inbound_test.go
Due: zetaclient

fix: use the ZEVM address pulled from memo as Receiver in MsgVoteInbound (#3242)
  changelog.md
  e2e/e2etests/test_solana_deposit.go
  e2e/e2etests/test_solana_deposit_call.go
  e2e/e2etests/test_spl_deposit.go
  e2e/e2etests/test_spl_deposit_and_call.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
Due: zetaclient

fix: fix solana inbounds (#3261)
  e2e/e2etests/test_solana_deposit_call.go
  e2e/e2etests/test_spl_deposit_and_call.go
  e2e/runner/solana.go
  e2e/utils/contracts.go
  pkg/contracts/solana/gateway.go
  pkg/contracts/solana/inbound.go
  pkg/contracts/solana/inbound_test.go
  pkg/contracts/solana/instruction.go
  pkg/contracts/solana/testdata/22s5ERRRZmZXAuDMRdwUU33VnWZ7m8NHUZM6hyLH52JQPz5R7mXEkFcvHx88ujq3xDnt3z7sZdZ21JK2FC7vPw1o.json
  pkg/contracts/solana/testdata/5b7ShhHf8dvUjUBHgMvgH8FFqpfAd7vAGygZLaeNPhugXtY5fatPSACVkn13o7sw6Awob8EJnrwAuiKYqvi7ZkHa.json
  pkg/contracts/solana/testdata/5bXSQaq6BY1WhhF3Qm4pLHXxuyM9Mz1MrdMeoCFbimxw4uv11raQgAj4HGULPEQExPKB231rMhm6666dQMwf9fNN.json
  pkg/contracts/solana/testdata/8UeJoxY6RbMg6bffsUtZ9f79vSnd4HCRdk5EQgNbAEDYQWXNraiKDtGDZBLp91oyF5eQyWdv6pEwW1vcitiB4px.json
  pkg/contracts/solana/testdata/MS3MPLN7hkbyCZFwKqXcg8fmEvQMD74fN6Ps2LSWXJoRxPW5ehaxBorK9q1JFVbqnAvu9jXm6ertj7kT7HpYw1j.json
  testutil/contracts/Example.abi
  testutil/contracts/Example.bin
  testutil/contracts/Example.go
  testutil/contracts/Example.json
  testutil/contracts/Example.sol
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/testdata/solana/chain_901_inbound_tx_result_24GzWsxYCFcwwJ2rzAsWwWC85aYKot6Rz3jWnBP1GvoAg5A9f1WinYyvyKseYM52q6i3EkotZdJuQomGGq5oxRYr.json
  zetaclient/testdata/solana/chain_901_inbound_tx_result_MS3MPLN7hkbyCZFwKqXcg8fmEvQMD74fN6Ps2LSWXJoRxPW5ehaxBorK9q1JFVbqnAvu9jXm6ertj7kT7HpYw1j.json
Due: zetaclient, pkg

add missing file
  e2e/runner/legacy_setup_zevm.go
Due: none

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
