Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

fix lint
  app/ante/authz.go
  cmd/zetaclientd/start.go
  cmd/zetaclientd/version.go
  e2e/e2etests/test_message_passing_evm_to_zevm.go
  e2e/e2etests/test_migrate_tss.go
  e2e/runner/accounting.go
  e2e/runner/logger.go
  pkg/chains/conversion.go
  x/crosschain/keeper/msg_server_add_inbound_tracker.go
  x/crosschain/keeper/msg_server_add_outbound_tracker.go
  x/crosschain/types/message_update_rate_limiter_flags.go
  x/emissions/keeper/msg_server_update_params.go
  x/fungible/keeper/evm.go
  x/observer/types/message_update_chain_params.go
  x/observer/types/message_vote_block_header.go
Due: zetacore

fix lint
  e2e/runner/report.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/gas_price.go
Due: zetacore

add changelog
  changelog.md
Due: none

include getGasStabilityPoolBalance function
  app/app.go
  e2e/e2etests/test_precompiles_prototype.go
  precompiles/precompiles.go
  precompiles/prototype/prototype.go
Due: none

add Solana RPC status check and refactor EVM and bitcoin RPC status check
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/rpc_status.go
  zetaclient/chains/bitcoin/rpc/rpc.go
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/rpc_status.go
  zetaclient/chains/evm/rpc/rpc.go
  zetaclient/chains/evm/rpc/rpc_live_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/observer/observer.go
  zetaclient/chains/solana/observer/rpc_status.go
  zetaclient/chains/solana/rpc/rpc.go
  zetaclient/chains/solana/rpc/rpc_live_test.go
  zetaclient/common/constant.go
  zetaclient/testutils/mocks/solana_rpc.go
Due: zetaclient

add changelog entry
  changelog.md
Due: none

apply code review fixes
  app/app.go
  changelog.md
  cmd/zetae2e/local/precompiles.go
  codecov.yml
  e2e/config/config.go
  e2e/e2etests/e2etests.go
Due: none

include tests for precompiles package
  precompiles/precompiles_test.go
  precompiles/prototype/testutil/RegularCaller.abi
  precompiles/prototype/testutil/RegularCaller.bin
  precompiles/prototype/testutil/RegularCaller.go
  precompiles/prototype/testutil/RegularCaller.json
  precompiles/prototype/testutil/RegularCaller.sol
Due: none

delete regularcaller
  precompiles/prototype/testutil/RegularCaller.abi
  precompiles/prototype/testutil/RegularCaller.bin
  precompiles/prototype/testutil/RegularCaller.go
  precompiles/prototype/testutil/RegularCaller.json
  precompiles/prototype/testutil/RegularCaller.sol
Due: none

ignore bindings from codecov
  codecov.yml
  e2e/config/config.go
Due: none

introduce more unit testing
  precompiles/precompiles_test.go
  precompiles/types/errors_test.go
  precompiles/types/types.go
  precompiles/types/types_test.go
Due: none

add unit testing for prototype.go
  e2e/e2etests/e2etests.go
  precompiles/prototype/IPrototype.sol
  precompiles/prototype/prototype.go
  precompiles/prototype/prototype_test.go
  precompiles/types/types.go
Due: none

minor linting fixes
  precompiles/prototype/IPrototype.sol
  precompiles/prototype/prototype_test.go
  precompiles/types/errors_test.go
  precompiles/types/types_test.go
Due: none

chore: fix label used in feature request template
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

remove ctx, keep fungible keeper private
  precompiles/precompiles.go
  precompiles/prototype/prototype.go
  precompiles/prototype/prototype_test.go
Due: none

add response status to MsgVoteTSSResponse
  x/observer/keeper/msg_server_vote_tss.go
  x/observer/keeper/msg_server_vote_tss_test.go
Due: zetacore

fix lint errors
  x/observer/keeper/msg_server_vote_tss_test.go
Due: zetacore

increase unit tests coverage
  precompiles/prototype/prototype.go
  precompiles/prototype/prototype_test.go
Due: none

add keys for new user_precompile
  cmd/zetae2e/config/localnet.yml
Due: none

add unit test for failed to set outbound info
  changelog.md
  x/crosschain/keeper/msg_server_migrate_tss_funds.go
  x/crosschain/keeper/msg_server_migrate_tss_funds_test.go
  x/crosschain/types/errors.go
Due: zetacore

add init unit test
  precompiles/prototype/prototype.go
  precompiles/prototype/prototype_test.go
Due: none

refactor: fix lint errors from govet (#2749)
  app/ante/authz.go
  changelog.md
  cmd/zetaclientd/start.go
  cmd/zetaclientd/version.go
  e2e/e2etests/test_message_passing_evm_to_zevm.go
  e2e/e2etests/test_migrate_tss.go
  e2e/runner/accounting.go
  e2e/runner/logger.go
  e2e/runner/report.go
  pkg/chains/conversion.go
  x/crosschain/keeper/msg_server_add_inbound_tracker.go
  x/crosschain/keeper/msg_server_add_outbound_tracker.go
  x/crosschain/types/message_update_rate_limiter_flags.go
  x/emissions/keeper/msg_server_update_params.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/gas_price.go
  x/observer/types/message_update_chain_params.go
  x/observer/types/message_vote_block_header.go
Due: zetacore

switch to double quotes
  cmd/zetae2e/config/localnet.yml
Due: none

chore: fix label used in feature request template (#2761)
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

avoid go:embed
  precompiles/prototype/prototype.go
  precompiles/prototype/prototype_test.go
Due: none

fixes derived from code review
  cmd/zetae2e/local/precompiles.go
  e2e/e2etests/test_precompiles_prototype.go
  precompiles/prototype/prototype.go
Due: none

add RPC alert latency to config file
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
  zetaclient/chains/bitcoin/observer/rpc_status.go
  zetaclient/chains/bitcoin/rpc/rpc.go
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/rpc_status.go
  zetaclient/chains/evm/rpc/rpc.go
  zetaclient/chains/evm/rpc/rpc_live_test.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/chains/solana/observer/observer.go
  zetaclient/chains/solana/observer/observer_test.go
  zetaclient/chains/solana/observer/outbound_test.go
  zetaclient/chains/solana/observer/rpc_status.go
  zetaclient/chains/solana/rpc/rpc.go
  zetaclient/chains/solana/rpc/rpc_live_test.go
  zetaclient/config/config_chain.go
  zetaclient/config/types.go
  zetaclient/orchestrator/bootstrap.go
Due: zetaclient

Update cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/local/bitcoin.go
Due: none

Update contrib/localnet/bitcoin-sidecar/js/src/client.ts
  contrib/localnet/bitcoin-sidecar/js/src/client.ts
Due: none

Update e2e/runner/bitcoin.go
  e2e/runner/bitcoin.go
Due: none

Update e2e/e2etests/test_extract_bitcoin_inscription_memo.go
  e2e/e2etests/test_extract_bitcoin_inscription_memo.go
Due: none

rename migration into tss migration
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/tss_migration.go
Due: none

rename post tss migration
  Makefile
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/post_tss_migration.go
  cmd/zetae2e/local/tss_migration.go
Due: none

initialize migration function body
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/v2.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_v2_migration.go
  e2e/runner/v2_setup_evm.go
  e2e/txserver/authority.go
Due: none

update contract version used
  go.mod
  go.sum
Due: none

Path conditions:
  zetacore: any of: x/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  zetaclient: any of: zetaclient/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  common: any of: common/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
