Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

add changelog entry
  changelog.md
  cmd/zetae2e/local/evm.go
  cmd/zetatool/cctx/cctx_details.go
  cmd/zetatool/cctx/inbound.go
  cmd/zetatool/cctx/inbound_test.go
  cmd/zetatool/cctx/outbound.go
  cmd/zetatool/config/config_test.go
  docs/cli/zetatool/get_ballot.md
  docs/cli/zetatool/readme.md
  docs/cli/zetatool/track_cctx.md
  pkg/rpc/clients_test.go
Due: pkg

add comments on status
  cmd/zetae2e/local/bitcoin.go
  cmd/zetatool/cctx/cctx_status.go
Due: none

check if fee rate is bumped or not in zetaclient
  zetaclient/chains/bitcoin/signer/outbound_data.go
  zetaclient/chains/bitcoin/signer/outbound_data_test.go
Due: zetaclient

remove debug prints
  cmd/zetatool/cctx/inbound.go
  docs/cli/zetatool/get_ballot.md
  docs/cli/zetatool/track_cctx.md
  e2e/e2etests/test_eth_withdraw.go
  x/observer/migrations/v9/migrate.go
Due: zetacore

register group module in MakeEncodingConfig
  app/encoding.go
Due: none

fix comment
  app/encoding.go
Due: none

add changelog
  app/encoding.go
  changelog.md
Due: none

add more test coverage
  pkg/constant/version.go
  pkg/constant/version_test.go
Due: pkg

add interfaces for missing modules
  app/encoding.go
Due: none

add interfaces for missing modules
  changelog.md
Due: none

update changelog to v27.0.1
  changelog.md
Due: none

fix: register the group module sdk.tx interface to the cosmos `InterfaceRegistry` (#3460)
  app/encoding.go
  changelog.md
Due: none

add fine-grained confirmation to chain params; add migration script
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/observer/confirmation.proto
  proto/zetachain/zetacore/observer/params.proto
  testutil/sample/observer.go
  typescript/zetachain/zetacore/observer/confirmation_pb.d.ts
  typescript/zetachain/zetacore/observer/index.d.ts
  typescript/zetachain/zetacore/observer/params_pb.d.ts
  x/observer/keeper/migrator.go
  x/observer/migrations/v10/migrate.go
  x/observer/migrations/v10/migrate_test.go
  x/observer/module.go
  x/observer/types/chain_params.go
  x/observer/types/chain_params_test.go
  x/observer/types/confirmation.pb.go
  x/observer/types/params.pb.go
Due: zetacore

add changelog entry
  changelog.md
Due: none

fix unit test
  zetaclient/testutils/mocks/chain_params.go
Due: none

rebase develop
  simulation/simulation_test.go
Due: none

rename cctxDEtails to cctxTrackingDetails
  cmd/zetatool/cctx/cctx_details.go
  cmd/zetatool/cctx/inbound_test.go
  cmd/zetatool/cli/cctx_tracker.go
  cmd/zetatool/cli/inbound_ballot.go
Due: none

rename Confirmation as ConfirmationParams; remove 0 check on safe inbound, outbound count
  changelog.md
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/observer/confirmation_params.proto
  proto/zetachain/zetacore/observer/params.proto
  testutil/sample/observer.go
  typescript/zetachain/zetacore/observer/confirmation_params_pb.d.ts
  typescript/zetachain/zetacore/observer/confirmation_pb.d.ts
  typescript/zetachain/zetacore/observer/index.d.ts
  typescript/zetachain/zetacore/observer/params_pb.d.ts
  x/observer/migrations/v10/migrate.go
  x/observer/migrations/v10/migrate_test.go
  x/observer/types/chain_params.go
  x/observer/types/chain_params_test.go
  x/observer/types/confirmation_params.pb.go
  x/observer/types/params.pb.go
  zetaclient/testutils/mocks/chain_params.go
Due: zetacore

leave ConfirmationParams as empty in mock chain params, we don't check 0 count any more
  zetaclient/testutils/mocks/chain_params.go
Due: none

chore: add sui localnet container
  contrib/localnet/docker-compose.yml
Due: none

mark chain params ConfirmationCount as deprecated
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/observer/params.proto
  typescript/zetachain/zetacore/observer/params_pb.d.ts
  x/observer/types/chain_params.go
  x/observer/types/chain_params_test.go
  x/observer/types/params.pb.go
  zetaclient/testutils/mocks/chain_params.go
Due: zetacore

fix: register the group module sdk.tx interface to the cosmos `InterfaceRegistry` (#3460)
  app/encoding.go
Due: none

remove duplicate crisistypes
  app/encoding.go
Due: none

make changelog entry explicit; add proto message comment; improve migrate script and unit test
  changelog.md
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/observer/confirmation_params.proto
  testutil/sample/observer.go
  typescript/zetachain/zetacore/observer/confirmation_params_pb.d.ts
  x/observer/migrations/v10/migrate.go
  x/observer/migrations/v10/migrate_test.go
  x/observer/types/confirmation_params.pb.go
Due: zetacore

add new MsgRemoveInboundTracker
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  proto/zetachain/zetacore/crosschain/tx.proto
  typescript/zetachain/zetacore/crosschain/tx_pb.d.ts
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
  x/crosschain/client/cli/tx_inbound_tracker.go
  x/crosschain/keeper/msg_remove_inbound_tracker.go
  x/crosschain/keeper/msg_remove_inbound_tracker_test.go
  x/crosschain/types/codec.go
  x/crosschain/types/message_remove_inbound_tracker.go
  x/crosschain/types/message_remove_inbound_tracker_test.go
  x/crosschain/types/tx.pb.go
Due: zetacore

chore: add sui localnet container (#3465)
  contrib/localnet/docker-compose.yml
Due: none

add changelog
  changelog.md
  docs/cli/zetacored/cli.md
  docs/spec/crosschain/messages.md
  x/crosschain/client/cli/tx.go
  x/crosschain/client/cli/tx_inbound_tracker.go
  x/crosschain/keeper/msg_remove_inbound_tracker.go
Due: zetacore

add changelog
  x/crosschain/keeper/msg_remove_inbound_tracker_test.go
Due: zetacore

validate all chain params during migration; return error if validation fails
  x/observer/migrations/v10/migrate.go
  x/observer/migrations/v10/migrate_test.go
  x/observer/types/chain_params.go
  x/observer/types/chain_params_test.go
Due: zetacore

revert status command
  cmd/zetacored/root.go
Due: none

generate
  docs/cli/zetacored/cli.md
Due: none

small fix
  x/fungible/keeper/deposits.go
Due: zetacore

add query blocks cmds
  cmd/zetacored/root.go
Due: none

add migration script for adding zetachain.zetacore.crosschain.MsgRemoveInboundTracker
  x/authority/keeper/migrator.go
  x/authority/migrations/v3/migrate.go
  x/authority/migrations/v3/migrate_test.go
  x/authority/module.go
  x/crosschain/keeper/msg_remove_inbound_tracker_test.go
  x/crosschain/keeper/msg_server_add_inbound_tracker_test.go
  x/crosschain/types/message_remove_inbound_tracker.go
  x/crosschain/types/message_remove_inbound_tracker_test.go
Due: zetacore

add task for simulation operation
  x/crosschain/simulation/operations.go
Due: none

fix: revert status and query blocks commands (#3470)
  cmd/zetacored/root.go
  docs/cli/zetacored/cli.md
Due: none

fix: register the group module sdk.tx interface to the cosmos `InterfaceRegistry` (#3468)
  app/encoding.go
Due: none
