Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

changelog entry
  changelog.md
Due: none

make generate
  x/crosschain/keeper/cctx_orchestrator.go
Due: zetacore

fix comments
  testutil/sample/authority.go
  x/authority/keeper/authorization_list.go
  x/authority/keeper/authorization_list_test.go
Due: zetacore

generate files
  x/authority/keeper/authorization_list_test.go
Due: zetacore

rename metacore and utxos
  docs/zetaclient/zetaclient_logging.md
  proto/zetachain/zetacore/crosschain/genesis.proto
  x/crosschain/types/genesis.pb.go
  x/crosschain/types/keys.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/signer/signer.go
Due: zetacore, zetaclient

fix initiate outbound tests
  x/crosschain/keeper/cctx_orchestrator.go
  x/crosschain/keeper/initiate_outbound_test.go
Due: zetacore

fix comments
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/authority/query.proto
  x/authority/keeper/grpc_query_authorization_list.go
  x/authority/types/query.pb.go
  x/authority/types/query.pb.gw.go
Due: zetacore

inbound, outbounds
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/observer/observer.proto
  testutil/keeper/crosschain.go
  testutil/sample/observer.go
  typescript/zetachain/zetacore/crosschain/genesis_pb.d.ts
  typescript/zetachain/zetacore/observer/observer_pb.d.ts
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/msg_server_vote_inbound_tx_test.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/crosschain/keeper/process_outbound.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/observer/keeper/msg_server_vote_block_header.go
  x/observer/keeper/utils_test.go
  x/observer/keeper/vote_inbound.go
  x/observer/keeper/vote_inbound_test.go
  x/observer/keeper/vote_outbound.go
  x/observer/keeper/vote_outbound_test.go
  x/observer/types/ballot_test.go
  x/observer/types/observer.pb.go
  x/observer/types/parsers_test.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/signer/outbound_data_test.go
  zetaclient/zetacore/tx.go
  zetaclient/zetacore/tx_test.go
Due: zetacore, zetaclient

manager renaming
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/outboundprocessor/outbound_processor.go
  zetaclient/outboundprocessor/outbound_processor_test.go
Due: zetaclient

fix validate outbound tests
  x/crosschain/keeper/cctx_orchestrator.go
  x/crosschain/keeper/validate_outbound_test.go
Due: zetacore

fix tests
  x/crosschain/keeper/initiate_outbound_test.go
Due: zetacore

fix e2e test
  x/crosschain/keeper/cctx_orchestrator.go
Due: zetacore

fix unit tests
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
Due: zetacore

observer module
  testutil/keeper/mocks/crosschain/authority.go
  testutil/keeper/mocks/observer/authority.go
  x/crosschain/keeper/msg_server_add_inbound_tracker.go
  x/crosschain/keeper/msg_server_add_outbound_tracker.go
  x/crosschain/types/expected_keepers.go
  x/observer/keeper/msg_server_add_observer.go
  x/observer/keeper/msg_server_add_observer_test.go
  x/observer/keeper/msg_server_disable_cctx_flags.go
  x/observer/keeper/msg_server_disable_cctx_flags_test.go
  x/observer/keeper/msg_server_enable_cctx_flags.go
  x/observer/keeper/msg_server_enable_cctx_flags_test.go
  x/observer/keeper/msg_server_remove_chain_params.go
  x/observer/keeper/msg_server_remove_chain_params_test.go
  x/observer/keeper/msg_server_reset_chain_nonces.go
  x/observer/keeper/msg_server_reset_chain_nonces_test.go
  x/observer/keeper/msg_server_update_chain_params.go
  x/observer/keeper/msg_server_update_chain_params_test.go
  x/observer/keeper/msg_server_update_gas_price_increase_flags.go
  x/observer/keeper/msg_server_update_gas_price_increase_flags_test.go
  x/observer/keeper/msg_server_update_keygen.go
  x/observer/keeper/msg_server_update_keygen_test.go
  x/observer/keeper/msg_server_update_observer.go
  x/observer/keeper/msg_server_update_observer_test.go
  x/observer/types/expected_keepers.go
Due: zetacore

fungible module
  testutil/keeper/mocks/fungible/authority.go
  x/fungible/keeper/msg_server_deploy_fungible_coin_zrc20.go
  x/fungible/keeper/msg_server_deploy_fungible_coin_zrc20_test.go
  x/fungible/keeper/msg_server_deploy_system_contract.go
  x/fungible/keeper/msg_server_deploy_system_contract_test.go
  x/fungible/keeper/msg_server_pause_zrc20.go
  x/fungible/keeper/msg_server_pause_zrc20_test.go
  x/fungible/keeper/msg_server_remove_foreign_coin.go
  x/fungible/keeper/msg_server_remove_foreign_coin_test.go
  x/fungible/keeper/msg_server_udpate_zrc20_liquidity_cap.go
  x/fungible/keeper/msg_server_udpate_zrc20_liquidity_cap_test.go
  x/fungible/keeper/msg_server_unpause_zrc20.go
  x/fungible/keeper/msg_server_unpause_zrc20_test.go
  x/fungible/keeper/msg_server_update_contract_bytecode.go
  x/fungible/keeper/msg_server_update_contract_bytecode_test.go
  x/fungible/keeper/msg_server_update_system_contract.go
  x/fungible/keeper/msg_server_update_system_contract_test.go
  x/fungible/keeper/msg_server_update_zrc20_withdraw_fee.go
  x/fungible/keeper/msg_server_update_zrc20_withdraw_fee_test.go
  x/fungible/types/expected_keepers.go
Due: zetacore

lightclient module
  testutil/keeper/mocks/fungible/authority.go
  testutil/keeper/mocks/lightclient/authority.go
  testutil/keeper/mocks/observer/authority.go
  x/authority/keeper/authorization_list.go
  x/authority/keeper/msg_server_update_chain_info.go
  x/authority/keeper/msg_server_update_chain_info_test.go
  x/authority/keeper/policies_test.go
  x/authority/types/authorizations.go
  x/authority/types/authorizations_test.go
  x/fungible/types/expected_keepers.go
  x/lightclient/keeper/msg_server_disable_block_header_verification._test.go
  x/lightclient/keeper/msg_server_disable_block_header_verification.go
  x/lightclient/keeper/msg_server_enable_block_header_verification.go
  x/lightclient/keeper/msg_server_enable_block_header_verification_test.go
  x/lightclient/types/expected_keepers.go
  x/observer/types/expected_keepers.go
Due: zetacore

added base signer and logger
  zetaclient/chains/base/logger.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/base/signer.go
  zetaclient/chains/base/signer_test.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/types/defs.go
Due: zetaclient

Update zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer.go
Due: zetaclient

comments
  e2e/e2etests/helper_bitcoin.go
  e2e/e2etests/test_bitcoin_withdraw_invalid_address.go
  e2e/e2etests/test_bitcoin_withdraw_multiple.go
  e2e/e2etests/test_crosschain_swap.go
  e2e/runner/bitcoin.go
  e2e/runner/setup_bitcoin.go
Due: none

test: add and fix existing ethermint rpc unit test (#2294)
  changelog.md
  codecov.yml
  rpc/backend/account_info_test.go
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks_test.go
  rpc/backend/call_tx_test.go
  rpc/backend/chain_info_test.go
  rpc/backend/client_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/feemarket_query_client_test.go
  rpc/backend/filters_test.go
  rpc/backend/mocks/client.go
  rpc/backend/node_info_test.go
  rpc/backend/sign_tx_test.go
  rpc/backend/tracing_test.go
  rpc/backend/tx_info.go
  rpc/backend/tx_info_test.go
  rpc/backend/utils_test.go
Due: none

test: allow running Bitcoin tests on live networks (tentative) (#2303)
  e2e/e2etests/helper_bitcoin.go
  e2e/e2etests/test_bitcoin_withdraw_invalid_address.go
  e2e/e2etests/test_bitcoin_withdraw_multiple.go
  e2e/e2etests/test_crosschain_swap.go
  e2e/runner/bitcoin.go
  e2e/runner/setup_bitcoin.go
Due: none

comments 3
  testutil/sample/authority.go
  x/authority/keeper/authorization_list_test.go
Due: zetacore

fix spacing
  x/authority/keeper/grpc_query_authorization_list.go
Due: zetacore

feat: add CheckAuthorization function (#2313)
  changelog.md
  testutil/sample/authority.go
  x/authority/keeper/authorization_list.go
  x/authority/keeper/authorization_list_test.go
  x/authority/keeper/policies.go
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
  x/authority/types/errors.go
  x/authority/types/policies.go
  x/authority/types/policies_test.go
Due: zetacore

feat: add queries ShowAuthorization and ListAuthorizations (#2312)
  changelog.md
  docs/cli/zetacored/zetacored_query_authority.md
  docs/cli/zetacored/zetacored_query_authority_list-authorizations.md
  docs/cli/zetacored/zetacored_query_authority_show-authorization.md
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/authority/query.proto
  typescript/zetachain/zetacore/authority/query_pb.d.ts
  x/authority/client/cli/query.go
  x/authority/client/cli/query_authorization_list.go
  x/authority/keeper/grpc_query_authorization_list.go
  x/authority/keeper/grpc_query_authothorization_list_test.go
  x/authority/types/query.pb.go
  x/authority/types/query.pb.gw.go
Due: zetacore

cleanup
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/cctx_orchestrator.go
  x/crosschain/keeper/cctx_orchestrator_test.go
Due: zetacore

try to split initiate and validate outbound for zevm
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/cctx_orchestrator.go
Due: zetacore

make generate
  changelog.md
  x/crosschain/keeper/cctx_orchestrator.go
Due: zetacore

cleanup
  x/crosschain/keeper/cctx_orchestrator.go
Due: zetacore

add default authorization
  x/authority/types/genesis.go
Due: zetacore

add changelog
  changelog.md
Due: none

revert removed telemetry handlers on 8123 port
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/metrics/telemetry.go
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

set related metrics in ts
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/metrics/telemetry.go
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

changelog
  changelog.md
Due: none

restructure crosschain tests
  testutil/keeper/authority.go
  x/authority/keeper/msg_server_add_authorization.go
  x/authority/keeper/msg_server_remove_authorization.go
  x/crosschain/keeper/msg_server_abort_stuck_cctx_test.go
  x/crosschain/keeper/msg_server_add_inbound_tracker_test.go
  x/crosschain/keeper/msg_server_add_outbound_tracker_test.go
  x/crosschain/keeper/msg_server_migrate_tss_funds_test.go
  x/crosschain/keeper/msg_server_refund_aborted_tx_test.go
  x/crosschain/keeper/msg_server_remove_outbound_tracker_test.go
  x/crosschain/keeper/msg_server_update_rate_limiter_flags_test.go
  x/crosschain/keeper/msg_server_update_tss_test.go
  x/crosschain/keeper/msg_server_whitelist_erc20_test.go
Due: zetacore

e2e test fix
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/cctx_orchestrator.go
Due: zetacore

Path conditions:
  zetacore: any of: x/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  zetaclient: any of: zetaclient/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  common: any of: common/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
