Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

Update changelog
  changelog.md
Due: none

chore: deprecate gas limit value in foreign coin (#3713)
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/fungible/foreign_coins.proto
  typescript/zetachain/zetacore/fungible/foreign_coins_pb.d.ts
  x/fungible/types/foreign_coins.pb.go
Due: none

test: e2e staking test for `MsgUndelegate` tx , to test observer staking hooks (#3692)
  .github/workflows/e2e.yml
  Makefile
  changelog.md
  cmd/zetae2e/local/local.go
  contrib/localnet/scripts/start-zetacored.sh
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_staking_undelegate.go
Due: none

fix(ton): fix call data parsing (v29) (#3714)
  changelog.md
  pkg/contracts/ton/gateway_test.go
  pkg/contracts/ton/testdata/07-deposit-and-call-abi.json
  pkg/contracts/ton/tlb.go
Due: pkg

fix changeogs
  changelog.md
Due: none

fix unit test observer
  zetaclient/chains/sui/observer/observer_test.go
Due: zetaclient

feat: use gas budget argument to refund TSS for sui withdraw cost (#3671)
  changelog.md
  e2e/contracts/sui/gateway.mv
  e2e/e2etests/test_sui_deposit_and_call_revert.go
  e2e/e2etests/test_sui_token_deposit_and_call_revert.go
  e2e/e2etests/test_sui_token_withdraw.go
  e2e/e2etests/test_sui_withdraw.go
  zetaclient/chains/sui/observer/outbound.go
  zetaclient/chains/sui/signer/signer_test.go
  zetaclient/chains/sui/signer/signer_tx.go
Due: zetaclient

feat(sui): custom sui_executeTransactionBlock (#3662)
  zetaclient/chains/sui/client/client.go
  zetaclient/chains/sui/client/client_live_test.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/signer/signer_tx.go
Due: zetaclient

changelog
  changelog.md
Due: none

fix auto generated file
  docs/openapi/openapi.swagger.yaml
Due: none

chore: backport v29 sui withdraw changes (#3716)
  changelog.md
  e2e/contracts/sui/gateway.mv
  e2e/e2etests/test_sui_deposit_and_call_revert.go
  e2e/e2etests/test_sui_token_deposit_and_call_revert.go
  e2e/e2etests/test_sui_token_withdraw.go
  e2e/e2etests/test_sui_withdraw.go
  zetaclient/chains/sui/client/client.go
  zetaclient/chains/sui/client/client_live_test.go
  zetaclient/chains/sui/observer/observer_test.go
  zetaclient/chains/sui/observer/outbound.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/signer/signer_test.go
  zetaclient/chains/sui/signer/signer_tx.go
Due: zetaclient

fix solana outbounds
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient

use tx getters to delay relayer signing
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient

typo
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient

fix: fix solana withdraw and call outbounds (#3717)
  changelog.md
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient

make function and variable comment more accurate
  x/crosschain/keeper/abci.go
  x/observer/types/crosschain_flags.go
Due: zetacore

add check min gas limit
  zetaclient/chains/evm/signer/gas.go
Due: zetaclient

comment
  zetaclient/chains/evm/signer/gas.go
Due: zetaclient

more logs
  zetaclient/chains/evm/signer/gas.go
Due: zetaclient

fix: add min gas limit for non-gas outbound transactions (#3719)
  zetaclient/chains/evm/signer/gas.go
Due: zetaclient

fix: remove tj-actions/changed-files action
  .github/workflows/sast-linters.yml
  .github/workflows/sim.yml
Due: none

Remove var interpolation from run context
  .github/workflows/sast-linters.yml
Due: none

Test x changed file check
  x/fungible/types/zrc20.go
Due: zetacore

undo change to test sim workflow
  x/fungible/types/zrc20.go
Due: zetacore

chore: use changed files fork
  .github/workflows/sast-linters.yml
  .github/workflows/sim.yml
Due: none

chore: use changed files fork (#3722)
  .github/workflows/sast-linters.yml
  .github/workflows/sim.yml
Due: none

add todo
  zetaclient/chains/evm/signer/gas.go
Due: zetaclient

Use go-tss fork
  go.mod
  go.sum
Due: none

Use const version from go-tss
  zetaclient/tss/config.go
Due: zetaclient

feat(tss): use zeta's go-tss hard-fork (#3690)
  cmd/zetae2e/local/get_zetaclient_bootstrap.go
  go.mod
  go.sum
  x/observer/client/cli/tx_vote_blame.go
  x/observer/client/cli/utils.go
  x/observer/client/cli/utils_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/tss/config.go
  zetaclient/tss/crypto.go
  zetaclient/tss/healthcheck.go
  zetaclient/tss/keygen.go
  zetaclient/tss/service.go
  zetaclient/tss/service_test.go
  zetaclient/tss/setup.go
  zetaclient/zetacore/client_vote.go
  zetaclient/zetacore/tx_test.go
Due: zetaclient

bump outbound tracker gas limit
  zetaclient/zetacore/constant.go
Due: zetaclient

Replace Github PAT with normal GH token
  .github/workflows/rc-release.yml
Due: none

set Bitcoin priority fee to 0 to fix simulation test failure
  testutil/sample/crosschain.go
Due: none

fix: add min gas limit for non-gas outbound transactions (v29 backport) (#3724)
  zetaclient/chains/evm/signer/gas.go
  zetaclient/zetacore/constant.go
Due: zetaclient

log stack trace in TryProcessOutbound
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
