Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      common:
        if_ci_failed: error
        target: 60%
        flags:
          - common

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    carryforward: true
    paths:
      - "x/"
  zetaclient:
    carryforward: true
    paths:
      - "zetaclient/"
  common:
    carryforward: true
    paths:
      - "common/"

ignore:
  - "x/**/client/"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - "*.pb.gw.go"
  - "*.json"
  - ".github/"
  - "app/"
  - "cmd/"
  - "contrib/"
  - "docs/"
  - "rpc/"
  - "proto/"
  - "scripts/"
  - "server/"
  - "testutil/"
  - "typescript/"

Fix golangcli-lint config (make it up to date)
  .github/workflows/publish-release.yml
  .github/workflows/sast-linters.yml
  .golangci.yml
Due: none

add GetChainList to authority interface
  testutil/keeper/mocks/crosschain/authority.go
  testutil/keeper/mocks/fungible/authority.go
  testutil/keeper/mocks/lightclient/authority.go
  testutil/keeper/mocks/observer/authority.go
  x/authority/keeper/chain_info.go
  x/authority/keeper/chain_info_test.go
  x/crosschain/types/expected_keepers.go
  x/fungible/types/expected_keepers.go
  x/lightclient/types/expected_keepers.go
  x/observer/types/expected_keepers.go
Due: zetacore

Update changelog
  changelog.md
Due: none

replace magic numbers with constants
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/signer/signer.go
Due: zetaclient

updated method name in logging
  zetaclient/chains/bitcoin/observer/outbound.go
Due: zetaclient

chore: initialize coderabbit config to focus review on code (#2374)
  .coderabbit.yaml
Due: none

iteration 1
  x/crosschain/keeper/abci.go
  x/crosschain/keeper/cctx_gateway_observers.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/events.go
  x/crosschain/keeper/evm_deposit.go
Due: zetacore

make generate
  docs/cli/zetacored/zetacored_query_crosschain.md
  docs/cli/zetacored/zetacored_query_crosschain_show-rate-limiter-flags.md
Due: none

rebase for start-e2e-import-mainnet-test
  Makefile
  contrib/localnet/docker-compose-import-data.yml
  contrib/localnet/docker-compose.yml
  contrib/localnet/scripts/import-data.sh
  contrib/localnet/scripts/start-zetacored.sh
Due: none

fix upgrade-test height
  Makefile
Due: none

always use make stop-localnet
  .github/workflows/build.yml
  .github/workflows/execute_advanced_tests.yaml
  .github/workflows/publish-release.yml
Due: none

fix upgrade tests
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-upgrade-orchestrator.sh
Due: none

refactor(localnet): reduce number of docker compose files
  Makefile
  contrib/localnet/docker-compose-additionalevm.yml
  contrib/localnet/docker-compose-monitoring.yml
  contrib/localnet/docker-compose-performance.yml
  contrib/localnet/docker-compose-setup-only.yml
  contrib/localnet/docker-compose-stress.yml
  contrib/localnet/docker-compose-upgrade-light.yml
  contrib/localnet/docker-compose-upgrade.yml
  contrib/localnet/docker-compose.yml
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetaclientd.sh
  contrib/localnet/scripts/start-zetacored.sh
Due: none

add ZETACORED_START_PERIOD and allow user to set E2E_ARGS
  Makefile
  contrib/localnet/docker-compose.yml
Due: none

newlines and readme
  .github/workflows/execute_advanced_tests.yaml
  Makefile
  contrib/localnet/docker-compose-stress.yml
  contrib/localnet/docker-compose-upgrade.yml
  contrib/localnet/scripts/import-data.sh
  docs/development/LOCAL_TESTING.md
Due: none

refactor(localnet): reduce number of docker compose files (#2365)
  .github/workflows/build.yml
  .github/workflows/execute_advanced_tests.yaml
  .github/workflows/publish-release.yml
  Makefile
  contrib/localnet/docker-compose-additionalevm.yml
  contrib/localnet/docker-compose-import-data.yml
  contrib/localnet/docker-compose-monitoring.yml
  contrib/localnet/docker-compose-performance.yml
  contrib/localnet/docker-compose-setup-only.yml
  contrib/localnet/docker-compose-stress.yml
  contrib/localnet/docker-compose-upgrade-light.yml
  contrib/localnet/docker-compose-upgrade.yml
  contrib/localnet/docker-compose.yml
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/import-data.sh
  contrib/localnet/scripts/start-upgrade-orchestrator.sh
  contrib/localnet/scripts/start-zetaclientd.sh
  contrib/localnet/scripts/start-zetacored.sh
  docs/development/LOCAL_TESTING.md
Due: none

added pipeline changes to reflect testing changes for testing
  .github/workflows/execute_advanced_tests.yaml
  .github/workflows/publish-release.yml
Due: none

fix: use correct name for rate limiter flag query (#2367)
  docs/cli/zetacored/zetacored_query_crosschain.md
  docs/cli/zetacored/zetacored_query_crosschain_show-rate-limiter-flags.md
  x/crosschain/client/cli/query_rate_limiter_flags.go
Due: zetacore

Update sast-linters.yml
  .github/workflows/sast-linters.yml
Due: none

testing migrate
  e2e/e2etests/test_migrate_tss_eth_funds.go
  pkg/gas/gas_limits.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/tss/tss_signer.go
Due: zetaclient

Update changelog.md
  changelog.md
Due: none

ci: Update sast-linters.yml (#2377)
  .github/workflows/sast-linters.yml
  changelog.md
Due: none

add changelog
  Makefile
  changelog.md
  x/authority/keeper/migrator.go
  x/authority/migrations/v2/migrate.go
  x/authority/migrations/v2/migrate_test.go
Due: zetacore

add migration for authorization list
  x/authority/keeper/migrator.go
  x/authority/migrations/v2/migrate.go
  x/authority/migrations/v2/migrate_test.go
  x/authority/module.go
  x/authority/types/authorization_list_test.go
Due: zetacore

add forced migration to fix upgrade tests
  app/setup_handlers.go
Due: none

make fmt
  app/setup_handlers.go
Due: none

feat: add migration for authorization list (#2366)
  Makefile
  app/setup_handlers.go
  changelog.md
  x/authority/keeper/migrator.go
  x/authority/migrations/v2/migrate.go
  x/authority/migrations/v2/migrate_test.go
  x/authority/module.go
  x/authority/types/authorization_list_test.go
Due: zetacore

set camelcase for queries
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/observer/query.proto
  x/observer/types/query.pb.go
  x/observer/types/query.pb.gw.go
Due: zetacore

adjusted zetaclient initialization flow
  cmd/zetaclientd/keygen_tss.go
  cmd/zetaclientd/start.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/inbound_test.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/compliance/compliance.go
  zetaclient/compliance/compliance_test.go
  zetaclient/config/config.go
  zetaclient/context/app_context.go
  zetaclient/context/app_context_test.go
  zetaclient/context/zetacore_context_test.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/utils.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/zetacore/client.go
Due: zetaclient

updated
  Makefile
Due: none

modify which evem endpoint is being tested for performance testing
  .github/actions/performance-tests/art.yaml
Due: none

modify which evem endpoint is being tested for performance testing
  .github/workflows/ci-nightly-performance-testing.yaml
Due: none

crosschain refactoring
  pkg/chains/chain.go
  pkg/chains/chain_test.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/evm_hooks_test.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit.go
  x/crosschain/keeper/grpc_query_zeta_conversion_rate.go
  x/crosschain/keeper/initiate_outbound.go
  x/crosschain/keeper/msg_server_add_outbound_tracker.go
  x/crosschain/keeper/msg_server_migrate_tss_funds.go
  x/crosschain/keeper/refund.go
  x/crosschain/migrations/v4/migrate.go
  x/crosschain/types/inbound_params.go
  x/crosschain/types/message_add_inbound_tracker.go
  x/crosschain/types/message_migrate_tss_funds.go
  x/crosschain/types/outbound_params.go
  x/crosschain/types/tx_body_verification.go
  x/crosschain/types/validate.go
Due: zetacore

fungible refacotring
  x/fungible/keeper/evm.go
  x/fungible/keeper/gas_coin_and_pool.go
Due: zetacore

lightclient refactoring
  x/lightclient/keeper/grpc_query_prove.go
  x/lightclient/types/message_disable_verification_flags.go
  x/lightclient/types/message_enable_verification_flags.go
Due: zetacore
