Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

Drop p2p diagnostics
  zetaclient/tss/diagnostic.go
Due: zetaclient

use zetanode:latest
  Dockerfile-localnet
  Makefile
Due: none

lint & pr comments [1]
  cmd/zetaclientd/main.go
  cmd/zetaclientd/relayer.go
  cmd/zetaclientd/tss.go
Due: none

fix fork build
  .github/workflows/e2e.yml
Due: none

ghcr_username
  .github/workflows/e2e.yml
Due: none

cannot use env in env
  .github/workflows/e2e.yml
Due: none

try packages write permission
  .github/workflows/e2e.yml
Due: none

fall back to slow build on forks
  .github/workflows/e2e.yml
Due: none

have to run matrix always()
  .github/workflows/e2e.yml
Due: none

more always()
  .github/workflows/e2e.yml
Due: none

changelog
  changelog.md
Due: none

only check failed status (fork will be skipped)
  .github/workflows/e2e.yml
Due: none

refactor(zetaclient)!: remove hsm signer (#3118)
  Makefile
  changelog.md
  cmd/zetaclientd/debug.go
  cmd/zetaclientd/hsm.go
  cmd/zetaclientd/init.go
  cmd/zetaclientd/utils.go
  go.mod
  go.sum
  zetaclient/config/types.go
  zetaclient/hsm/hsm_signer.go
  zetaclient/hsm/hsm_signer_test.go
  zetaclient/zetacore/broadcast.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/client_test.go
Due: zetaclient

fix up creation of ata
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/local/local.go
  e2e/config/config.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_solana_deposit_and_call_spl.go
  e2e/e2etests/test_solana_deposit_spl.go
  e2e/e2etests/test_solana_whitelist_spl.go
  e2e/runner/runner.go
  e2e/runner/setup_solana.go
  e2e/runner/solana.go
Due: none

add balance assertions for deposit spl e2e tests
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_solana_deposit_and_call_spl.go
  e2e/e2etests/test_solana_deposit_spl.go
  e2e/runner/solana.go
Due: none

CI fixes
  changelog.md
  e2e/runner/solana.go
  x/fungible/keeper/foreign_coins.go
  x/fungible/keeper/foreign_coins_test.go
  zetaclient/chains/solana/observer/inbound.go
Due: zetacore, zetaclient

lint fix
  e2e/e2etests/test_solana_deposit_and_call_spl.go
  e2e/e2etests/test_solana_deposit_spl.go
Due: none

generate files
  changelog.md
  simulation/state.go
  x/crosschain/module_simulation.go
  x/crosschain/simulation/decoders.go
  x/crosschain/simulation/genesis.go
  x/crosschain/simulation/operations.go
  x/fungible/module_simulation.go
  x/fungible/simulation/decoders.go
  x/fungible/simulation/genesis.go
  x/fungible/simulation/operations.go
  x/fungible/types/expected_keepers.go
  x/observer/module_simulation.go
  x/observer/simulation/decoders.go
  x/observer/simulation/genesis.go
  x/observer/simulation/operations.go
  x/observer/types/keys.go
Due: none

Address pr comments [2]
  cmd/zetaclientd/inbound.go
  cmd/zetaclientd/initconfig.go
Due: none

refactor(zetaclient)!: cli improvements (#3122)
  changelog.md
  cmd/config.go
  cmd/cosmos.go
  cmd/zetaclientd/encrypt_tss.go
  cmd/zetaclientd/gen_pre_params.go
  cmd/zetaclientd/import_relayer_keys.go
  cmd/zetaclientd/inbound.go
  cmd/zetaclientd/init.go
  cmd/zetaclientd/initconfig.go
  cmd/zetaclientd/main.go
  cmd/zetaclientd/relayer.go
  cmd/zetaclientd/root.go
  cmd/zetaclientd/start.go
  cmd/zetaclientd/start_utils.go
  cmd/zetaclientd/tss.go
  cmd/zetaclientd/utils.go
  cmd/zetaclientd/version.go
  contrib/localnet/scripts/start-zetaclientd.sh
  zetaclient/config/types.go
  zetaclient/tss/generate.go
  zetaclient/tss/tss_signer.go
Due: zetaclient

Revome block header proofs from zetaclient
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/signer/outbound_tracker_reporter.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/signer/outbound_tracker_reporter.go
  zetaclient/chains/ton/observer/observer_test.go
  zetaclient/chains/ton/observer/outbound.go
  zetaclient/chains/ton/signer/signer_test.go
  zetaclient/chains/ton/signer/signer_tracker.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/zetacore/broadcast_test.go
  zetaclient/zetacore/client_vote.go
  zetaclient/zetacore/tx.go
  zetaclient/zetacore/tx_test.go
Due: zetaclient

Remove proofs from NewMsgAddOutboundTracker
  x/crosschain/client/cli/tx_add_outbound_tracker.go
  x/crosschain/types/message_add_outbound_tracker.go
  x/crosschain/types/message_add_outbound_tracker_test.go
  zetaclient/zetacore/tx.go
Due: zetacore, zetaclient

Removed block header proofs from cctx cosmos module
  proto/zetachain/zetacore/crosschain/outbound_tracker.proto
  proto/zetachain/zetacore/crosschain/tx.proto
  x/crosschain/keeper/msg_server_add_outbound_tracker.go
  x/crosschain/keeper/msg_server_add_outbound_tracker_test.go
  x/crosschain/types/message_add_outbound_tracker.go
  x/crosschain/types/outbound_tracker.pb.go
  x/crosschain/types/tx.pb.go
Due: zetacore

Removed block header proof for vote inbound tracker
  proto/zetachain/zetacore/crosschain/tx.proto
  x/crosschain/keeper/msg_server_add_inbound_tracker.go
  x/crosschain/keeper/msg_server_add_inbound_tracker_test.go
  x/crosschain/types/tx.pb.go
Due: zetacore

Update changelog
  changelog.md
Due: none

Update codegen
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  typescript/zetachain/zetacore/crosschain/outbound_tracker_pb.d.ts
  typescript/zetachain/zetacore/crosschain/tx_pb.d.ts
Due: none

add inbound parse unit test and cleanup
  e2e/e2etests/test_solana_deposit_and_call_spl.go
  e2e/e2etests/test_solana_deposit_spl.go
  e2e/runner/solana.go
  pkg/contracts/solana/gateway.go
  pkg/contracts/solana/instruction.go
  x/fungible/keeper/foreign_coins_test.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/testdata/solana/chain_901_inbound_tx_result_aY8yLDze6nHSRi7L5REozKAZY1aAyPJ6TfibiqQL5JGwgSBkYux5z5JfXs5ed8LZqpXUy4VijoU3x15mBd66ZGE.json
Due: zetacore, zetaclient, pkg

comment
  e2e/runner/solana.go
Due: none

refactor(e2e): only build zetanode once (#3121)
  .github/workflows/e2e.yml
  .github/workflows/reusable-e2e.yml
  Dockerfile-localnet
  Makefile
  contrib/localnet/orchestrator/Dockerfile.fastbuild
Due: none

test: add e2e consensus test
  .github/workflows/e2e.yml
  Makefile
  contrib/localnet/docker-compose.yml
Due: none

Address PR comments
  changelog.md
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/testutils/mocks/zetacore_client.go
Due: zetaclient

move to merge queue
  .github/workflows/e2e.yml
Due: none

fix
  .github/workflows/e2e.yml
Due: none

chore: add coderabbit instructions for tests
  .coderabbit.yaml
Due: none

PR comments
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/local/local.go
  e2e/config/config.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_spl_deposit.go
  e2e/e2etests/test_spl_deposit_and_call.go
  e2e/runner/solana.go
  zetaclient/chains/solana/observer/inbound.go
Due: zetaclient

chore: add coderabbit instructions for tests (#3127)
  .coderabbit.yaml
Due: none

add e2e block production monitor
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/monitor_block_production.go
Due: none

chore: demo consensus test failure
  precompiles/staking/method_distribute.go
Due: none

add unit test
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_precompiles_distribute.go
  e2e/e2etests/test_precompiles_distribute_through_contract.go
  precompiles/staking/method_distribute_test.go
  precompiles/staking/method_get_all_validators_test.go
  precompiles/staking/method_get_rewards.go
  precompiles/staking/method_get_rewards_test.go
  precompiles/staking/method_get_shares_test.go
  precompiles/staking/method_get_validators.go
  precompiles/staking/method_move_stake_test.go
  precompiles/staking/method_stake_test.go
  precompiles/staking/method_unstake_test.go
  precompiles/staking/staking_test.go
  precompiles/types/coin_test.go
  testutil/keeper/keeper.go
Due: none
