Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

call save outbound from Abort stuck cctx
  x/crosschain/keeper/msg_server_abort_stuck_cctx.go
  x/crosschain/keeper/msg_server_abort_stuck_cctx_test.go
Due: zetacore

add check for pending status
  x/crosschain/keeper/msg_server_abort_stuck_cctx.go
  x/crosschain/types/status.go
  x/crosschain/types/status_test.go
Due: zetacore

add changelog
  changelog.md
  x/crosschain/keeper/cctx.go
  x/crosschain/keeper/msg_server_abort_stuck_cctx_test.go
Due: zetacore

update usage for IsTerminalStatus function
  e2e/utils/zetacore.go
Due: none

add test for removing non-existent tracker
  x/crosschain/keeper/outbound_tracker_test.go
Due: zetacore

look into Solana program log message to determine SPL token failure
  pkg/contracts/solana/instruction.go
  pkg/contracts/solana/instruction_test.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/observer/outbound_test.go
Due: zetaclient, pkg

add changelog entry
  changelog.md
Due: none

break SetCctxAndNonceToCctxAndInboundHashToCctx into separate functions and add unit tests
  x/crosschain/keeper/cctx.go
  x/crosschain/keeper/cctx_test.go
Due: zetacore

update comments for SetCctxAndNonceToCctxAndInboundHashToCctx
  x/crosschain/keeper/cctx.go
  x/crosschain/keeper/cctx_test.go
Due: zetacore

update comments for SetCctxAndNonceToCctxAndInboundHashToCctx
  x/crosschain/keeper/cctx.go
  x/crosschain/keeper/msg_server_abort_stuck_cctx.go
Due: zetacore

correct typo
  pkg/contracts/solana/instruction.go
  zetaclient/chains/solana/rpc/rpc_live_test.go
Due: zetaclient, pkg

use chain name as bitcoin database suffix for regnet, signet and testnet4
  zetaclient/orchestrator/bootstap_test.go
  zetaclient/orchestrator/bootstrap.go
Due: zetaclient

integrate deposit fee and audit fixes
  contrib/localnet/solana/gateway.so
  e2e/runner/solana.go
  pkg/contracts/solana/gateway.go
  pkg/contracts/solana/gateway.json
Due: pkg

withdraw spl with non existing ata
  cmd/zetae2e/local/local.go
  contrib/localnet/solana/gateway.so
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_spl_withdraw_fails_if_no_receiver_ata.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/withdraw_spl.go
Due: zetaclient

Disable EIP-1559
  e2e/e2etests/test_eth_withdraw.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/signer/gas.go
  zetaclient/chains/evm/signer/sign_test.go
  zetaclient/chains/evm/signer/signer.go
Due: zetaclient

ci(e2e): use !cancelled() rather than always() (#3229)
  .github/workflows/e2e.yml
Due: none

fix: use different database file names for btc signet and testnet4 (#3225)
  changelog.md
  zetaclient/orchestrator/bootstap_test.go
  zetaclient/orchestrator/bootstrap.go
Due: zetaclient

unit test fix
  pkg/contracts/solana/testdata/aY8yLDze6nHSRi7L5REozKAZY1aAyPJ6TfibiqQL5JGwgSBkYux5z5JfXs5ed8LZqpXUy4VijoU3x15mBd66ZGE.json
Due: none

fix: use different database file names for signet and testnet4 to avoid wrong height (#3224)
  zetaclient/config/types.go
  zetaclient/config/types_test.go
  zetaclient/orchestrator/bootstap_test.go
  zetaclient/orchestrator/bootstrap.go
Due: zetaclient

latest gateway changes
  contrib/localnet/solana/gateway.so
  pkg/contracts/solana/gateway.json
Due: none

latest gateway
  contrib/localnet/solana/gateway.so
Due: none

remove rpc live test for Solana transaction message, it was intended for integration experiments
  zetaclient/chains/solana/rpc/rpc_live_test.go
Due: zetaclient

renamed e2e test for spl withdraw without receiver ata
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_spl_withdraw_no_receiver_ata.go
Due: none

add TODO issue to better handle failed SPL token withdrawals
  e2e/e2etests/test_spl_withdraw_no_receiver_ata.go
Due: none

fix: integrate deposit fee and audit fixes (#3232)
  contrib/localnet/solana/gateway.so
  e2e/runner/solana.go
  pkg/contracts/solana/gateway.go
  pkg/contracts/solana/gateway.json
  pkg/contracts/solana/testdata/aY8yLDze6nHSRi7L5REozKAZY1aAyPJ6TfibiqQL5JGwgSBkYux5z5JfXs5ed8LZqpXUy4VijoU3x15mBd66ZGE.json
Due: pkg

add operation refund aborted cctx
  testutil/sample/crosschain.go
  x/crosschain/keeper/msg_server_refund_aborted_tx.go
  x/crosschain/simulation/operation_abort_stuck_cctx.go
  x/crosschain/simulation/operation_refund_aborted_cctx.go
  x/crosschain/simulation/operation_vote_inbound.go
  x/crosschain/simulation/operation_vote_outbound.go
  x/crosschain/simulation/operations.go
Due: zetacore

Fix linter
  e2e/e2etests/test_eth_withdraw.go
Due: none

disable EIP-1559
  e2e/e2etests/test_eth_withdraw.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/signer/gas.go
  zetaclient/chains/evm/signer/sign_test.go
  zetaclient/chains/evm/signer/signer.go
Due: zetaclient

fixes
  zetaclient/metrics/telemetry.go
Due: zetaclient

feat(zetaclient): add /systemtime telemetry endpoint
  zetaclient/metrics/telemetry.go
Due: zetaclient

changelog
  changelog.md
Due: none

feat(zetaclient): add /systemtime telemetry endpoint (#3235)
  changelog.md
  zetaclient/metrics/telemetry.go
Due: zetaclient

integrate withdraw spl create ata fix
  contrib/localnet/solana/gateway.so
  contrib/localnet/solana/start-solana.sh
  e2e/e2etests/test_spl_withdraw_and_create_receiver_ata.go
  e2e/runner/setup_solana.go
  e2e/runner/solana.go
  pkg/contracts/solana/gateway.go
  pkg/contracts/solana/gateway.json
  pkg/contracts/solana/instruction.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/withdraw_spl.go
Due: zetaclient, pkg

comment
  e2e/e2etests/test_spl_withdraw_and_create_receiver_ata.go
Due: none

make functions private
  e2e/utils/zetacore.go
  x/crosschain/keeper/cctx.go
  x/crosschain/keeper/export_private_functions_test.go
  x/crosschain/keeper/msg_server_abort_stuck_cctx.go
  x/crosschain/types/status.go
  x/crosschain/types/status_test.go
Due: zetacore

add operation update rate limiter flags
  testutil/sample/crosschain.go
  x/crosschain/keeper/msg_server_update_rate_limiter_flags.go
  x/crosschain/simulation/operation_update_rate_limiter_flags.go
  x/crosschain/simulation/operations.go
Due: zetacore

fix: integrate withdraw spl create ata fix (#3238)
  contrib/localnet/solana/gateway.so
  contrib/localnet/solana/start-solana.sh
  e2e/e2etests/test_spl_withdraw_and_create_receiver_ata.go
  e2e/runner/setup_solana.go
  e2e/runner/solana.go
  pkg/contracts/solana/gateway.go
  pkg/contracts/solana/gateway.json
  pkg/contracts/solana/instruction.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/withdraw_spl.go
Due: zetaclient, pkg

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
