Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      common:
        if_ci_failed: error
        target: 60%
        flags:
          - common

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    carryforward: true
    paths:
      - "x/"
  zetaclient:
    carryforward: true
    paths:
      - "zetaclient/"
  common:
    carryforward: true
    paths:
      - "common/"

ignore:
  - "x/**/client/"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - "*.pb.gw.go"
  - "*.json"
  - ".github/"
  - "app/"
  - "cmd/"
  - "contrib/"
  - "docs/"
  - "rpc/"
  - "proto/"
  - "scripts/"
  - "server/"
  - "testutil/"
  - "typescript/"

upgrade function
  e2e/runner/v2_gateway.go
Due: none

add upgrade call
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  docs/cli/zetacored/cli.md
  e2e/runner/v2_gateway.go
Due: none

add recover to InitChainer
  app/app.go
Due: none

generate files
  app/app.go
  changelog.md
  pkg/constant/constant.go
Due: none

add docs link to error message
  app/app.go
  pkg/constant/constant.go
Due: none

add docs back
  docs/cli/zetacored/cli.md
Due: none

move InitChainErrorMessage to app.go
  app/app.go
  pkg/constant/constant.go
Due: none

update tests fixes
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  e2e/runner/logger.go
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  proto/zetachain/zetacore/crosschain/tx.proto
  testutil/sample/crosschain.go
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.d.ts
  typescript/zetachain/zetacore/crosschain/tx_pb.d.ts
  x/crosschain/keeper/abci_test.go
  x/crosschain/keeper/cctx_orchestrator_validate_inbound_test.go
  x/crosschain/keeper/cctx_test.go
  x/crosschain/keeper/gas_payment_test.go
  x/crosschain/keeper/msg_server_vote_inbound_tx_test.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/cmd_cctxs.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/message_vote_inbound.go
  x/crosschain/types/message_vote_inbound_test.go
  x/crosschain/types/tx.pb.go
  zetaclient/testdata/cctx/chain_1337_cctx_14.go
  zetaclient/testdata/cctx/chain_1_cctx_6270.go
  zetaclient/testdata/cctx/chain_1_cctx_7260.go
  zetaclient/testdata/cctx/chain_1_cctx_8014.go
  zetaclient/testdata/cctx/chain_1_cctx_9718.go
  zetaclient/testdata/cctx/chain_1_cctx_inbound_ERC20_0x4ea69a0e2ff36f7548ab75791c3b990e076e2a4bffeb616035b239b7d33843da.go
  zetaclient/testdata/cctx/chain_1_cctx_inbound_Gas_0xeaec67d5dd5d85f27b21bef83e01cbdf59154fd793ea7a22c297f7c3a722c532.go
  zetaclient/testdata/cctx/chain_1_cctx_inbound_Zeta_0xf3935200c80f98502d5edc7e871ffc40ca898e134525c42c2ae3cbc5725f9d76.go
  zetaclient/testdata/cctx/chain_56_cctx_68270.go
  zetaclient/testdata/cctx/chain_8332_cctx_148.go
  zetaclient/zetacore/tx_test.go
Due: zetacore, zetaclient

make getMaturedBallotHeight private
  x/observer/keeper/ballot.go
  x/observer/keeper/ballot_test.go
Due: zetacore

make getMaturedBallotHeight private
  x/observer/keeper/ballot.go
Due: zetacore

change base
  Makefile
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
Due: none

tests fixes
  x/crosschain/keeper/cctx_test.go
  x/crosschain/types/cctx.go
Due: zetacore

fix
  x/crosschain/keeper/cctx_test.go
Due: zetacore

test fix
  x/crosschain/types/cctx_test.go
Due: zetacore

update artillery config
  .github/actions/performance-tests/art.yaml
Due: none

add semgrep sarif upload to GHAS
  .github/workflows/semgrep.yml
Due: none

add wait for block to tss migration test
  e2e/e2etests/test_migrate_tss.go
  e2e/runner/zeta.go
Due: none

add comments
  e2e/runner/zeta.go
Due: none

gas limit fixes
  x/crosschain/keeper/gas_payment.go
Due: zetacore

PR comment fix
  changelog.md
Due: none

fix bad merge
  pkg/contracts/testdappv2/TestDAppV2.sol
Due: none

feat: add sender to revert context (#2919)
  changelog.md
  e2e/e2etests/test_v2_erc20_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_v2_erc20_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_v2_eth_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_call_revert_with_call.go
  go.mod
  go.sum
  pkg/contracts/testdappv2/TestDAppV2.abi
  pkg/contracts/testdappv2/TestDAppV2.bin
  pkg/contracts/testdappv2/TestDAppV2.go
  pkg/contracts/testdappv2/TestDAppV2.json
  pkg/contracts/testdappv2/TestDAppV2.sol
  testutil/keeper/mocks/crosschain/fungible.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/gas_payment.go
  x/crosschain/types/expected_keepers.go
  x/fungible/keeper/v2_deposits.go
  x/fungible/keeper/v2_evm.go
  zetaclient/chains/evm/signer/v2_sign.go
  zetaclient/chains/evm/signer/v2_signer.go
Due: zetacore, zetaclient

refactor identifiers
  e2e/e2etests/test_migrate_tss.go
  e2e/runner/zeta.go
Due: none

update
  .github/workflows/reusable-e2e.yml
Due: none

start prometheus faster
  contrib/localnet/docker-compose.yml
Due: none

ci: add option to enable monitoring stack
  .github/workflows/e2e.yml
  .github/workflows/reusable-e2e.yml
  contrib/localnet/docker-compose.yml
Due: none

Improve ton contracts pkg
  e2e/runner/ton/accounts.go
  pkg/contracts/ton/gateway.go
  pkg/contracts/ton/gateway_op.go
  pkg/contracts/ton/gateway_test.go
Due: none

fmt
  zetaclient/zetacore/client_crosschain.go
Due: zetaclient

use github.com/btcsuite/btcd/btcutil in pkg/chains
  contrib/rpcimportable/go.mod
  contrib/rpcimportable/go.sum
Due: none

use standalone sdkconfig package
  pkg/sdkconfig/sdkconfig.go
  testutil/keeper/config.go
  testutil/keeper/emissions.go
  x/authority/types/genesis_test.go
  x/authority/types/policies_test.go
  x/crosschain/types/message_migrate_erc20_custody_funds_test.go
  x/crosschain/types/message_migrate_tss_funds_test.go
  x/crosschain/types/message_update_erc20_custody_pause_status_test.go
  x/crosschain/types/message_update_tss_address_test.go
  x/crosschain/types/message_whitelist_erc20_test.go
  x/emissions/abci_test.go
  x/observer/types/message_vote_blame_test.go
  x/observer/types/message_vote_block_header_test.go
Due: zetacore

remove app imports types tests
  x/authority/types/genesis_test.go
  x/authority/types/policies_test.go
Due: zetacore

add ci
  .github/workflows/ci.yml
Due: none

fix policies test
  testutil/keeper/emissions.go
  x/authority/types/policies_test.go
  x/crosschain/types/message_migrate_tss_funds_test.go
  zetaclient/zetacore/client_test.go
Due: zetacore, zetaclient

ci: add rpcimportable test
  contrib/rpcimportable/go.mod
  contrib/rpcimportable/go.sum
  contrib/rpcimportable/rpcimportable_test.go
  pkg/rpc/clients_crosschain.go
  pkg/rpc/clients_test.go
  zetaclient/zetacore/client_crosschain.go
  zetaclient/zetacore/client_test.go
Due: zetaclient

move crosschain keeper tests from types to keeper
  x/crosschain/keeper/cctx_test.go
  x/crosschain/types/cctx_test.go
Due: zetacore

add some comments
  contrib/rpcimportable/go.mod
Due: none

never seal config in tests
  x/authority/types/genesis_test.go
  x/crosschain/types/message_migrate_erc20_custody_funds_test.go
  x/crosschain/types/message_update_erc20_custody_pause_status_test.go
  x/crosschain/types/message_update_tss_address_test.go
  x/crosschain/types/message_whitelist_erc20_test.go
  x/emissions/abci_test.go
  x/observer/types/message_vote_blame_test.go
  x/observer/types/message_vote_block_header_test.go
Due: zetacore

use https://github.com/zeta-chain/ethermint/pull/126
  go.mod
  go.sum
Due: none
