Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

chore: fix some spelling issues in comments (#4480)
  .github/actions/upgrade-testing/configs/app.toml
  app/app.go
  app/modules.go
  contrib/localnet/zetacored/common/app.toml
  e2e/e2etests/test_migrate_tss.go
  rpc/backend/blocks.go
  rpc/backend/tx_info.go
  rpc/types/events.go
  x/crosschain/keeper/gas_payment.go
Due: zetacore

test fixes
  x/emissions/abci_test.go
  x/emissions/types/params_test.go
Due: zetacore

fix migration test
  x/emissions/migrations/v7/migrate_test.go
Due: zetacore

fix distributions test
  x/emissions/types/distributions_test.go
Due: zetacore

fix sui tss keysign error by skipping stale block event and using artificial keysign height
  pkg/math/pairing.go
  pkg/math/pairing_test.go
  pkg/scheduler/context.go
  pkg/scheduler/tickers.go
  zetaclient/chains/base/signer.go
  zetaclient/chains/base/signer_test.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/sui.go
  zetaclient/chains/zrepo/client.go
  zetaclient/chains/zrepo/zrepo.go
Due: zetaclient, pkg

add tss migration for sui
  Makefile
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/sui.go
  cmd/zetae2e/local/tss_migration.go
  e2e/runner/setup_sui.go
  pkg/contracts/sui/gateway.go
  pkg/contracts/sui/withdraw_and_call.go
Due: pkg

add changelog
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/runner/setup_sui.go
Due: none

debug changes
  e2e/runner/setup_sui.go
Due: none

update action
  .github/workflows/publish-zetanode-image-internal.yml
Due: none

update message context
  e2e/runner/setup_sui.go
Due: none

update comments
  e2e/runner/setup_sui.go
Due: none

remove unused functions
  cmd/zetae2e/local/sui.go
  e2e/runner/setup_sui.go
  pkg/contracts/sui/gateway.go
Due: pkg

add artificial keysign delay if set in operational flags
  zetaclient/chains/base/signer.go
Due: zetaclient

add description to Sui artificial keysign height
  zetaclient/chains/sui/signer/signer.go
Due: zetaclient

fix: fix sui tss keysign sync error (#4487)
  pkg/math/pairing.go
  pkg/math/pairing_test.go
  pkg/scheduler/context.go
  pkg/scheduler/tickers.go
  zetaclient/chains/base/signer.go
  zetaclient/chains/base/signer_test.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/sui.go
  zetaclient/chains/zrepo/client.go
  zetaclient/chains/zrepo/zrepo.go
Due: zetaclient, pkg

bring back the support for tracerConfig object in evm debug API
  rpc/backend/backend.go
  rpc/backend/tracing.go
  rpc/backend/tracing_test.go
  rpc/namespaces/ethereum/debug/api.go
Due: none

test: add sui to tss migration tests (#4488)
  Makefile
  changelog.md
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/sui.go
  cmd/zetae2e/local/tss_migration.go
  e2e/runner/setup_sui.go
  pkg/contracts/sui/withdraw_and_call.go
Due: pkg

feat: change params for 2s block time (#4484)
  changelog.md
  pkg/constant/constant.go
  x/emissions/abci_test.go
  x/emissions/keeper/migrator.go
  x/emissions/migrations/v7/migrate.go
  x/emissions/migrations/v7/migrate_test.go
  x/emissions/module.go
  x/emissions/types/distributions_test.go
  x/emissions/types/keys.go
  x/emissions/types/params_test.go
Due: zetacore, pkg

trigger
  .github/workflows/publish-zetanode-image-internal.yml
Due: none

add changelog entry
  changelog.md
Due: none

push latest only if no version
  .github/workflows/publish-zetanode-image-internal.yml
Due: none

add unit test for traceConfig object
  rpc/backend/evm_query_client_test.go
  rpc/backend/tracing_test.go
Due: none

fix nil chainParams check in migration script; fix typo and make gas multiplier validation less strict; update changelog
  changelog.md
  x/observer/migrations/v12/migrate.go
  x/observer/types/chain_params.go
  x/observer/types/chain_params_test.go
Due: zetacore

revert to version
  .github/workflows/publish-zetanode-image-internal.yml
Due: none

add ton to tss migration
  Makefile
  changelog.md
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/tss_migration.go
  e2e/runner/setup_ton.go
  pkg/contracts/ton/gateway_msg.go
  pkg/contracts/ton/gateway_send.go
Due: pkg

update comments
  e2e/runner/setup_ton.go
  pkg/contracts/ton/gateway_msg.go
Due: pkg

add migration script
  changelog.md
  x/authority/keeper/migrator.go
  x/authority/migrations/v6/migrate.go
  x/authority/migrations/v6/migrate_test.go
  x/authority/module.go
Due: zetacore

updae changelog
  changelog.md
Due: none

fix: remove PR trigger
  .github/workflows/publish-zetanode-image-internal.yml
Due: none

fix: concurrency and fallback
  .github/workflows/publish-zetanode-image-internal.yml
Due: none

enable ALT in solana inbounds
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_solana_deposit_through_program_alt.go
  e2e/runner/solana.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_tracker.go
Due: zetaclient

fix: Add timeout and cleanup
  .github/workflows/publish-zetanode-image-internal.yml
Due: none

feat: Add action to build & push zetanode image internally (#4482)
  .github/workflows/publish-zetanode-image-internal.yml
Due: none

reindex txlogs if duplicate indexes are present
  rpc/backend/utils.go
  rpc/backend/utils_test.go
Due: none

lint
  zetaclient/chains/solana/observer/inbound.go
Due: zetaclient

changelog
  changelog.md
Due: none

update needs reindex function to check for log index across all groups
  rpc/backend/utils.go
  rpc/backend/utils_test.go
Due: none

add changelog
  changelog.md
Due: none

refactor GetChainsSupportingTSSMigration to use vm instead of consensus to filter for chains
  x/crosschain/keeper/msg_server_update_tss.go
  x/crosschain/keeper/msg_server_update_tss_test.go
Due: zetacore
