Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

fix some logs/comments due to rename
  zetaclient/chains/evm/observer/inbound.go
Due: zetaclient

Update zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/inbound.go
Due: zetaclient

skip precompile
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
Due: none

check cache before calling RPC
  zetaclient/chains/evm/observer/inbound.go
Due: zetaclient

group transaction size related constants to make comments more concise
  zetaclient/chains/bitcoin/fee.go
Due: zetaclient

reorder bitcoin fee related constants
  zetaclient/chains/bitcoin/fee.go
Due: zetaclient

allow parsing Bitcoin memo iwth inscription; improve Bitcoin depositor fee
  zetaclient/chains/bitcoin/fee.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/rpc/rpc.go
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
Due: zetaclient

add changelog entry
  changelog.md
Due: none

fix: modify message vote tss to allow operators to vote on ballots assosiated with discarded keygen . (#2674)
  changelog.md
  x/observer/keeper/msg_server_vote_tss.go
  x/observer/keeper/msg_server_vote_tss_test.go
Due: zetacore

test: cherry pick E2E bitcoin test for inscription
  changelog.md
  contrib/localnet/bitcoin-sidecar/js/pacakge.json
  contrib/localnet/bitcoin-sidecar/js/src/client.ts
  contrib/localnet/bitcoin-sidecar/js/src/index.ts
  contrib/localnet/bitcoin-sidecar/js/src/script.ts
  contrib/localnet/bitcoin-sidecar/js/src/tsconfig.json
  contrib/localnet/bitcoin-sidecar/js/src/util.ts
  contrib/localnet/docker-compose.yml
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_extract_bitcoin_inscription_memo.go
  e2e/runner/bitcoin.go
  e2e/runner/inscription.go
Due: none

Update changelog.md
  changelog.md
Due: none

restore HSM code
  cmd/zetaclientd/hsm.go
  go.mod
  go.sum
  zetaclient/hsm/hsm_signer.go
  zetaclient/hsm/hsm_signer_test.go
  zetaclient/zetacore/broadcast.go
Due: zetaclient

corrected PR# and function comment typos
  changelog.md
  zetaclient/chains/bitcoin/rpc/rpc.go
Due: zetaclient

chore: upgrade go-tss to tss-lib v2
  cmd/zetaclientd/gen_pre_params.go
  cmd/zetaclientd/main.go
  cmd/zetaclientd/start.go
  contrib/localnet/preparams/zetaclient0.json
  contrib/localnet/preparams/zetaclient1.json
  contrib/localnet/preparams/zetaclient2.json
  contrib/localnet/preparams/zetaclient3.json
  go.mod
  go.sum
  zetaclient/tss/tss_signer.go
Due: zetaclient

try to fix generate
  scripts/bindings-stateful-precompiles.sh
Due: none

debug script
  .github/workflows/generate-files.yml
Due: none

install solc in generate files
  .github/workflows/generate-files.yml
Due: none

install abigen
  .github/workflows/generate-files.yml
Due: none

replace GetRecentBlockhash with GetLatestBlockhash; add check on Vsize; misc
  e2e/runner/solana.go
  zetaclient/chains/bitcoin/fee.go
  zetaclient/chains/bitcoin/rpc/rpc.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/signer/withdraw.go
  zetaclient/testutils/mocks/solana_rpc.go
Due: zetaclient

feat: bitcoin depositor fee V2 to achieve better dev experience (#2765)
  changelog.md
  e2e/runner/solana.go
  zetaclient/chains/bitcoin/fee.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/rpc/rpc.go
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/signer/withdraw.go
  zetaclient/testutils/mocks/solana_rpc.go
Due: zetaclient

fix typos
  changelog.md
Due: none

fix typo
  x/emissions/keeper/msg_server_withdraw_emissions.go
Due: zetacore

fix typo
  docs/zetaclient/zetaclient_logging.md
Due: none

fix typo
  docs/cli/zetatool/readme.md
Due: none

fix dockerfile
  contrib/localnet/bitcoin-sidecar/Dockerfile
  contrib/localnet/bitcoin-sidecar/js/package.json
Due: none

chore(zetaclient): remove btc references in Solana client
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient

test: cherry pick E2E bitcoin test for inscription for 19.1.2 (#2769)
  changelog.md
  contrib/localnet/bitcoin-sidecar/Dockerfile
  contrib/localnet/bitcoin-sidecar/js/package.json
  contrib/localnet/bitcoin-sidecar/js/src/client.ts
  contrib/localnet/bitcoin-sidecar/js/src/index.ts
  contrib/localnet/bitcoin-sidecar/js/src/script.ts
  contrib/localnet/bitcoin-sidecar/js/src/tsconfig.json
  contrib/localnet/bitcoin-sidecar/js/src/util.ts
  contrib/localnet/docker-compose.yml
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_extract_bitcoin_inscription_memo.go
  e2e/runner/bitcoin.go
  e2e/runner/inscription.go
Due: none

cleanup action
  .github/workflows/generate-files.yml
Due: none

PR comments pt1
  precompiles/precompiles.go
  readme.md
  x/observer/client/querytests/suite.go
Due: zetacore

group prototype unit tests a bit
  precompiles/prototype/prototype_test.go
Due: none

PR comment missing test
  precompiles/prototype/prototype_test.go
Due: none

feat: enable parsing Bitcoin deposit memo with inscription; deposit fee improvement (#2768)
  changelog.md
  contrib/localnet/bitcoin-sidecar/Dockerfile
  contrib/localnet/bitcoin-sidecar/js/package.json
  contrib/localnet/bitcoin-sidecar/js/src/client.ts
  contrib/localnet/bitcoin-sidecar/js/src/index.ts
  contrib/localnet/bitcoin-sidecar/js/src/script.ts
  contrib/localnet/bitcoin-sidecar/js/src/tsconfig.json
  contrib/localnet/bitcoin-sidecar/js/src/util.ts
  contrib/localnet/docker-compose.yml
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_extract_bitcoin_inscription_memo.go
  e2e/runner/bitcoin.go
  e2e/runner/inscription.go
  e2e/runner/solana.go
  zetaclient/chains/bitcoin/fee.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/rpc/rpc.go
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/signer/withdraw.go
  zetaclient/testutils/mocks/solana_rpc.go
Due: zetaclient

cleanup action a bit
  .github/workflows/generate-files.yml
  scripts/bindings-stateful-precompiles.sh
Due: none

add solc checks to script
  .github/workflows/generate-files.yml
  precompiles/prototype/prototype_test.go
  scripts/bindings-stateful-precompiles.sh
Due: none

cleanup not needed changes
  contrib/localnet/orchestrator/start-zetae2e.sh
  testutil/keeper/crosschain.go
  x/crosschain/client/querytests/suite.go
Due: zetacore

revert ibc change in test
  testutil/keeper/crosschain.go
Due: none

remove new test
  precompiles/prototype/prototype_test.go
Due: none

chore: fix typos (#2770)
  changelog.md
  docs/cli/zetatool/readme.md
  docs/zetaclient/zetaclient_logging.md
  x/emissions/keeper/msg_server_withdraw_emissions.go
Due: zetacore

chore(zetaclient): remove btc references in Solana client (#2774)
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient

Path conditions:
  zetacore: any of: x/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  zetaclient: any of: zetaclient/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  common: any of: common/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
