Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

chore: update changelog for v27 (#3488)
  changelog.md
Due: none

update docs
  changelog.md
  cmd/zetatool/cctx/inbound.go
  cmd/zetatool/cli/cctx_tracker.go
  docs/cli/zetatool/track_cctx.md
Due: none

fix(zetaclient): use chain name in metrics (#3484)
  pkg/rpc/clients_crosschain.go
  zetaclient/chains/bitcoin/bitcoin.go
  zetaclient/chains/evm/evm.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/solana.go
  zetaclient/chains/ton/ton.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/zetacore/client_crosschain.go
Due: zetaclient, pkg

changelog
  changelog.md
Due: none

fix(zetaclient): use chain name in metrics (#3484) (#3493)
  changelog.md
  pkg/rpc/clients_crosschain.go
  zetaclient/chains/bitcoin/bitcoin.go
  zetaclient/chains/evm/evm.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/solana.go
  zetaclient/chains/ton/ton.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/zetacore/client_crosschain.go
Due: zetaclient, pkg

more signer test refactoring
  e2e/utils/sui/signer.go
  e2e/utils/sui/signer_test.go
Due: none

add process abort
  docs/openapi/openapi.swagger.yaml
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.d.ts
  x/crosschain/keeper/abort.go
  x/crosschain/keeper/cctx_gateway_observers.go
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/msg_server_abort_stuck_cctx.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/status.go
  x/crosschain/types/tx.pb.go
Due: zetacore

switch zetaclient to confirmation params; refactor evm, btc inbound observation using block range; add confirmation related helper functions to base observer
  cmd/zetatool/inbound/bitcoin.go
  cmd/zetatool/inbound/evm.go
  x/observer/types/chain_params.go
  x/observer/types/chain_params_test.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_helper.go
  zetaclient/chains/base/observer_helper_test.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_tracker.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/inbound_test.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/evm/observer/v2_inbound_tracker.go
  zetaclient/config/config_chain.go
  zetaclient/testutils/mocks/chain_params.go
Due: zetacore, zetaclient

add changelog entry
  changelog.md
Due: none

use github.com/decred/dcrd/dcrec/secp256k1/v4/ecdsa directly
  e2e/utils/sui/signer.go
  e2e/utils/sui/signer_test.go
Due: none

a bit more signer refactoring and coderabbit feedback
  e2e/utils/sui/signer.go
Due: none

clean unused code and revert unneeded change
  zetaclient/chains/base/observer_helper.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/observer.go
Due: zetaclient

always use wrapper function InboundConfirmationFast() to ensure fallback to safe confirmation
  zetaclient/chains/base/observer_helper.go
  zetaclient/chains/base/observer_helper_test.go
Due: zetaclient

fix unit test failures
  zetaclient/chains/evm/observer/inbound_test.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/testutils/mocks/chain_params.go
Due: zetaclient

fix(e2e): use latest buildkit-cache-dance
  .github/workflows/e2e.yml
Due: none

feat: add Sui chain info (#3489)
  changelog.md
  docs/openapi/openapi.swagger.yaml
  pkg/chains/chain_test.go
  pkg/chains/chains.go
  pkg/chains/chains.pb.go
  pkg/chains/chains_test.go
  proto/zetachain/zetacore/pkg/chains/chains.proto
  typescript/zetachain/zetacore/pkg/chains/chains_pb.d.ts
Due: pkg

write new authorization list
  x/authority/migrations/v3/migrate.go
Due: zetacore

solve lint error
  cmd/zetatool/cli/cctx_tracker.go
Due: none

initalize pacakge with events
  pkg/contracts/sui/bytecode/gateway.mv
  pkg/contracts/sui/event.go
  pkg/contracts/sui/gateway.go
  pkg/contracts/sui/gateway_test.go
Due: pkg

update gomod
  go.mod
  go.sum
Due: none

fix(e2e): use latest buildkit-cache-dance (#3497)
  .github/workflows/e2e.yml
Due: none

add non-nil confirmation params to avoid chain param update error
  e2e/runner/setup_solana.go
  e2e/runner/setup_ton.go
Due: none

sort ballots by creation height
  x/observer/client/cli/query_ballot.go
  x/observer/keeper/grpc_query_ballot.go
Due: zetacore

updates
  e2e/runner/setup_sui.go
  e2e/utils/sui/signer_test.go
Due: none

Improve data
  pkg/contracts/sui/inbound.go
Due: pkg

fix: add non-nil confirmation params in solana/ton E2E test to avoid chain param update error (#3501)
  changelog.md
  e2e/runner/setup_solana.go
  e2e/runner/setup_ton.go
Due: none

fix deployment with ShowObjectChanges: true
  e2e/runner/setup_sui.go
Due: none

add TODOs
  pkg/contracts/sui/gateway.go
  pkg/contracts/sui/inbound.go
Due: pkg

fix comment
  pkg/contracts/sui/gateway.go
Due: pkg

add InboundConfirmationSafe and OutboundConfirmationSafe to make API consistent
  cmd/zetatool/inbound/bitcoin.go
  cmd/zetatool/inbound/evm.go
  x/observer/types/chain_params.go
  x/observer/types/chain_params_test.go
  zetaclient/chains/base/confirmation.go
  zetaclient/chains/base/confirmation_test.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/evm/observer/inbound_test.go
  zetaclient/chains/evm/observer/outbound_test.go
Due: zetacore, zetaclient

add check in e2e for stale ballots
  changelog.md
  cmd/zetae2e/local/local.go
  docs/cli/zetacored/cli.md
  e2e/runner/require.go
Due: none

remove redundant log prints which can be printed by caller
  zetaclient/chains/evm/observer/inbound.go
Due: zetaclient

change ObserverTSSReceive -> ObserveTSSReceive
  zetaclient/chains/evm/observer/inbound.go
Due: zetaclient

generate files
  cmd/zetae2e/local/local.go
  docs/cli/zetacored/cli.md
  e2e/runner/require.go
  x/observer/client/cli/query_ballot.go
Due: none

add unit test for query ballots
  x/observer/keeper/grpc_query_ballot.go
  x/observer/keeper/grpc_query_ballot_test.go
Due: zetacore

improve verification logic
  e2e/runner/require.go
Due: none

feat: `zetatools` cctx tracker (#3455)
  changelog.md
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/local/local.go
  cmd/zetatool/cctx/cctx_details.go
  cmd/zetatool/cctx/cctx_status.go
  cmd/zetatool/cctx/inbound.go
  cmd/zetatool/cctx/inbound_test.go
  cmd/zetatool/cctx/outbound.go
  cmd/zetatool/chains/bitcoin.go
  cmd/zetatool/chains/evm.go
  cmd/zetatool/chains/solana.go
  cmd/zetatool/cli/cctx_tracker.go
  cmd/zetatool/cli/inbound_ballot.go
  cmd/zetatool/config/config.go
  cmd/zetatool/config/config_test.go
  cmd/zetatool/context/context.go
  cmd/zetatool/inbound/bitcoin.go
  cmd/zetatool/inbound/inbound.go
  cmd/zetatool/inbound/solana.go
  cmd/zetatool/main.go
  docs/cli/zetatool/get_ballot.md
  docs/cli/zetatool/readme.md
  docs/cli/zetatool/track_cctx.md
  zetaclient/zetacore/tx.go
Due: zetaclient

correct misspelling in changelog
  changelog.md
Due: none

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
