Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

PR comments
  app/ante/vesting_test.go
  pkg/chains/address_taproot_test.go
  pkg/crypto/pubkey_test.go
  x/authority/types/genesis_test.go
  x/crosschain/keeper/cctx_gateway_observers.go
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/initiate_outbound.go
  x/crosschain/keeper/initiate_outbound_test.go
  x/crosschain/keeper/keeper.go
  x/crosschain/keeper/msg_server_vote_inbound_tx.go
  x/fungible/keeper/evm_test.go
  x/fungible/keeper/msg_server_deploy_system_contract_test.go
  x/observer/types/chain_params_test.go
  x/observer/types/message_disable_cctx_flags_test.go
  x/observer/types/message_enable_cctx_flags_test.go
  x/observer/types/message_update_gas_price_increase_flags_test.go
  zetaclient/chains/bitcoin/fee_test.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
  zetaclient/chains/bitcoin/signer/signer_test.go
  zetaclient/chains/evm/validation_test.go
Due: zetacore, zetaclient

more descriptive err message
  rpc/backend/tx_info.go
Due: none

feat: modify rpc methods to include synthetic txs (#2282)
  changelog.md
  go.mod
  go.sum
  rpc/backend/blocks.go
  rpc/backend/tracing.go
  rpc/backend/tx_info.go
  rpc/types/events.go
  rpc/types/types.go
  rpc/types/utils.go
  x/fungible/keeper/evm.go
Due: zetacore

make generate
  x/crosschain/keeper/cctx_gateway_observers.go
Due: zetacore

add messages
  docs/openapi/openapi.swagger.yaml
  docs/spec/authority/messages.md
  proto/zetachain/zetacore/authority/tx.proto
  typescript/zetachain/zetacore/authority/tx_pb.d.ts
  x/authority/keeper/msg_server_add_authorization.go
  x/authority/keeper/msg_server_add_authorization_test.go
  x/authority/keeper/msg_server_remove_authorization.go
  x/authority/keeper/msg_server_remove_authorization_test.go
  x/authority/types/authorizations.go
  x/authority/types/authorizations_test.go
  x/authority/types/errors.go
  x/authority/types/tx.pb.go
Due: zetacore

add message types
  proto/zetachain/zetacore/authority/policies.proto
  x/authority/client/cli/tx_add_authorization.go
  x/authority/types/authorizations_test.go
  x/authority/types/message_add_authorization.go
  x/authority/types/message_add_authorizations_test.go
  x/authority/types/message_remove_authorization.go
  x/authority/types/message_remove_authorizations_test.go
  x/authority/types/policies.go
  x/authority/types/policies.pb.go
  x/authority/types/policytype.go
Due: zetacore

deploy e2e test
  e2e/e2etests/test_deploy_contract.go
Due: none

add deploy e2e test to list
  e2e/e2etests/e2etests.go
Due: none

make generate
  e2e/e2etests/test_deploy_contract.go
Due: none

changelog
  changelog.md
Due: none

chore: synchronize v17 changelogs
  changelog.md
Due: none

add local check
  e2e/runner/bitcoin.go
Due: none

improve mineblocks
  e2e/e2etests/helper_bitcoin.go
  e2e/e2etests/test_bitcoin_withdraw_invalid_address.go
  e2e/e2etests/test_crosschain_swap.go
  e2e/runner/bitcoin.go
Due: none

include rpc/backend in codecov report
  codecov.yml
Due: none

only generate on local bitcoin
  e2e/e2etests/helper_bitcoin.go
  e2e/e2etests/test_bitcoin_withdraw_multiple.go
  e2e/e2etests/test_crosschain_swap.go
  e2e/runner/bitcoin.go
  e2e/runner/setup_bitcoin.go
Due: none

simplify some functions
  e2e/e2etests/test_crosschain_swap.go
  e2e/runner/bitcoin.go
Due: none

PR comments
  rpc/backend/account_info_test.go
  rpc/backend/backend_suite_test.go
  rpc/backend/call_tx_test.go
  rpc/backend/chain_info_test.go
  rpc/backend/client_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/node_info_test.go
  rpc/backend/sign_tx_test.go
  rpc/backend/tracing_test.go
  rpc/backend/utils_test.go
Due: none

test for msg url
  x/authority/types/message_add_authorizations_test.go
Due: zetacore

allow whole rpc folder in codecov
  codecov.yml
Due: none

chore: synchronize v17 changelogs (#2300)
  changelog.md
Due: none

PR comments
  app/ante/vesting_test.go
  pkg/crypto/pubkey_test.go
  x/crosschain/keeper/initiate_outbound.go
  x/crosschain/keeper/msg_server_vote_inbound_tx.go
  x/crosschain/types/errors.go
  x/fungible/keeper/msg_server_deploy_system_contract_test.go
Due: zetacore

add cli commands
  x/authority/client/cli/tx.go
  x/authority/client/cli/tx_add_authorization.go
  x/authority/client/cli/tx_add_authorizations_test.go
  x/authority/client/cli/tx_remove_authorization.go
Due: zetacore

feat: initialize cctx gateway interface (#2291)
  app/ante/vesting_test.go
  app/app.go
  changelog.md
  pkg/chains/address_taproot_test.go
  pkg/crypto/pubkey_test.go
  testutil/keeper/crosschain.go
  x/authority/types/genesis_test.go
  x/crosschain/keeper/cctx_gateway_observers.go
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/initiate_outbound.go
  x/crosschain/keeper/initiate_outbound_test.go
  x/crosschain/keeper/keeper.go
  x/crosschain/keeper/msg_server_vote_inbound_tx.go
  x/crosschain/keeper/process_inbound.go
  x/crosschain/types/errors.go
  x/fungible/keeper/evm_test.go
  x/fungible/keeper/msg_server_deploy_system_contract_test.go
  x/observer/types/chain_params_test.go
  x/observer/types/message_disable_cctx_flags_test.go
  x/observer/types/message_enable_cctx_flags_test.go
  x/observer/types/message_update_gas_price_increase_flags_test.go
  zetaclient/chains/bitcoin/fee_test.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
  zetaclient/chains/bitcoin/signer/signer_test.go
  zetaclient/chains/evm/validation_test.go
Due: zetacore, zetaclient

add generate files
  docs/cli/zetacored/zetacored_tx_authority.md
  docs/cli/zetacored/zetacored_tx_authority_add-authorization.md
  docs/cli/zetacored/zetacored_tx_authority_remove-authorization.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/authority/messages.md
  typescript/zetachain/zetacore/authority/policies_pb.d.ts
  typescript/zetachain/zetacore/authority/tx_pb.d.ts
  x/authority/client/cli/tx_add_authorization.go
  x/authority/client/cli/tx_add_authorizations_test.go
  x/authority/client/cli/tx_remove_authorization.go
  x/authority/keeper/msg_server_add_authorization.go
  x/authority/keeper/msg_server_add_authorization_test.go
  x/authority/keeper/msg_server_remove_authorization.go
  x/authority/keeper/msg_server_remove_authorization_test.go
  x/authority/types/message_add_authorization.go
  x/authority/types/message_add_authorizations_test.go
  x/authority/types/message_remove_authorization.go
  x/authority/types/message_remove_authorizations_test.go
Due: zetacore

add generate files 2
  changelog.md
  docs/cli/zetacored/zetacored_tx_authority_remove-authorization.md
  docs/spec/authority/messages.md
  x/authority/client/cli/tx_remove_authorization.go
  x/authority/keeper/msg_server_remove_authorization_test.go
  x/authority/types/authorizations.go
  x/authority/types/authorizations_test.go
  x/authority/types/message_add_authorizations_test.go
  x/authority/types/message_remove_authorizations_test.go
  x/authority/types/policytype_test.go
Due: zetacore

add generate files 2
  x/authority/types/policytype_test.go
Due: zetacore

test(`e2e`): add a test to deploy contracts (#2299)
  changelog.md
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_deploy_contract.go
Due: none

removed unused code and unified tx signing logic
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_test.go
Due: zetaclient

added changelog entry
  changelog.md
Due: none

add generated files
  docs/cli/zetacored/zetacored_query_authority.md
  docs/cli/zetacored/zetacored_query_authority_list-authorizations.md
  docs/cli/zetacored/zetacored_query_authority_show-authorization.md
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/authority/query.proto
  typescript/zetachain/zetacore/authority/query_pb.d.ts
  x/authority/client/cli/query.go
  x/authority/client/cli/query_authorization_list.go
  x/authority/keeper/grpc_query_authorization_list.go
  x/authority/keeper/grpc_query_authothorization_list_test.go
  x/authority/types/query.pb.go
  x/authority/types/query.pb.gw.go
Due: zetacore

define contstant for outbound zero amount
  zetaclient/chains/evm/constant.go
  zetaclient/chains/evm/signer/signer.go
Due: zetaclient

fix: adjust upgrade orchestrator scp quoting
  contrib/localnet/scripts/start-upgrade-orchestrator.sh
Due: none

add function to check authorization
  testutil/sample/authority.go
  x/authority/keeper/authorization_list.go
  x/authority/keeper/authorization_list_test.go
  x/authority/keeper/policies.go
  x/authority/types/errors.go
  x/authority/types/policies.go
  x/authority/types/policies_test.go
Due: zetacore

Fix pathname in headers_test
  pkg/proofs/headers_test.go
Due: none

add new authorizations to list
  x/authority/keeper/msg_server_remove_authorization.go
  x/authority/types/authorizations.go
Due: zetacore

start modifying crosschain module
  testutil/keeper/authority.go
  x/crosschain/keeper/msg_server_abort_stuck_cctx.go
  x/crosschain/keeper/msg_server_abort_stuck_cctx_test.go
  x/crosschain/keeper/msg_server_add_inbound_tracker.go
  x/crosschain/keeper/msg_server_add_outbound_tracker.go
  x/crosschain/keeper/msg_server_migrate_tss_funds.go
  x/crosschain/keeper/msg_server_refund_aborted_tx.go
  x/crosschain/keeper/msg_server_remove_outbound_tracker.go
  x/crosschain/keeper/msg_server_update_rate_limiter_flags.go
  x/crosschain/keeper/msg_server_update_tss.go
  x/crosschain/keeper/msg_server_update_tss_test.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
  x/crosschain/types/expected_keepers.go
Due: zetacore

modify comments
  x/authority/keeper/authorization_list.go
  x/authority/types/authorizations.go
Due: zetacore

add changelog
  changelog.md
Due: none

add new messages to the default message list
  x/authority/types/authorizations.go
  x/authority/types/authorizations_test.go
Due: zetacore

Path conditions:
  zetacore: any of: x/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  zetaclient: any of: zetaclient/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  common: any of: common/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
