Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

Minor fixes
  e2e/runner/balances.go
  e2e/runner/ton.go
Due: none

add error test for GetObjectParsedData and use unnamed return values
  zetaclient/chains/sui/client/client.go
  zetaclient/chains/sui/client/client_live_test.go
Due: zetaclient

Minor signer fixes
  zetaclient/chains/bitcoin/bitcoin.go
  zetaclient/chains/bitcoin/signer/outbound_data.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/bitcoin/signer/signer_test.go
Due: zetaclient

fix(e2e): Test TONDepositAndCall to follow the same logic as TONDeposit (#3816)
  e2e/e2etests/test_ton_deposit.go
  e2e/e2etests/test_ton_withdrawal.go
  e2e/runner/balances.go
  e2e/runner/ton.go
Due: none

feat(zetaclient): monitor "nonce too low" tx hashes (#3847)
  changelog.md
  zetaclient/chains/evm/signer/outbound_tracker_reporter.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/chains/solana/signer/outbound_tracker_reporter.go
  zetaclient/chains/sui/signer/signer_tracker.go
  zetaclient/chains/ton/signer/signer_tracker.go
  zetaclient/metrics/metrics.go
  zetaclient/testutils/testrpc/rpc_evm.go
  zetaclient/zetacore/broadcast.go
  zetaclient/zetacore/broadcast_test.go
Due: zetaclient

feat: cancel invalid withdrawAndCall if execution fails with unknown error (#3837)
  changelog.md
  e2e/contracts/sui/connected.mv
  e2e/contracts/sui/example/sources/example.move
  e2e/e2etests/test_sui_token_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call.go
  e2e/runner/sui.go
  pkg/contracts/sui/errors.go
  pkg/contracts/sui/errors_test.go
  zetaclient/chains/sui/signer/signer_tx.go
Due: zetaclient, pkg

update gateway_upgrade.so
  cmd/zetae2e/local/evm.go
  cmd/zetae2e/local/local.go
  contrib/localnet/solana/gateway_upgrade.so
  contrib/localnet/solana/start-solana.sh
  e2e/runner/contract_upgrade_solana.go
Due: none

Fix unit tests
  zetaclient/chains/bitcoin/observer/mempool.go
  zetaclient/chains/bitcoin/observer/mempool_test.go
  zetaclient/chains/bitcoin/signer/sign_rbf_test.go
Due: zetaclient

fix rerun after tss migration
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/runner/setup_solana.go
Due: none

update shared object files
  contrib/localnet/solana/gateway.so
  contrib/localnet/solana/gateway_upgrade.so
Due: none

update CleanValidatorDelegationsUsingContract function
  e2e/e2etests/test_precompiles_staking_through_contract.go
Due: none

add comment to bitcoin client functions and constant variable
  zetaclient/chains/bitcoin/client/commands.go
  zetaclient/chains/bitcoin/client/helpers.go
Due: zetaclient

fix generated file
  zetaclient/testutils/mocks/bitcoin_client.go
Due: none

fix gosec failure in CI
  zetaclient/chains/bitcoin/client/commands.go
  zetaclient/chains/bitcoin/client/mockgen.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/testutils/mocks/bitcoin_client.go
Due: zetaclient

feat(zetaclient): Bitcoin RBF: watch mempool & bump tx fee (#3396)
  changelog.md
  contrib/localnet/docker-compose.yml
  zetaclient/chains/bitcoin/bitcoin.go
  zetaclient/chains/bitcoin/client/client_rbf_test.go
  zetaclient/chains/bitcoin/client/commands.go
  zetaclient/chains/bitcoin/client/helpers.go
  zetaclient/chains/bitcoin/client/mockgen.go
  zetaclient/chains/bitcoin/common/fee.go
  zetaclient/chains/bitcoin/common/fee_test.go
  zetaclient/chains/bitcoin/observer/db_test.go
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/bitcoin/observer/gas_price.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/mempool.go
  zetaclient/chains/bitcoin/observer/mempool_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
  zetaclient/chains/bitcoin/observer/utxos_test.go
  zetaclient/chains/bitcoin/observer/witness_test.go
  zetaclient/chains/bitcoin/signer/fee_bumper.go
  zetaclient/chains/bitcoin/signer/fee_bumper_test.go
  zetaclient/chains/bitcoin/signer/outbound_data.go
  zetaclient/chains/bitcoin/signer/outbound_data_test.go
  zetaclient/chains/bitcoin/signer/sign.go
  zetaclient/chains/bitcoin/signer/sign_rbf.go
  zetaclient/chains/bitcoin/signer/sign_rbf_test.go
  zetaclient/chains/bitcoin/signer/sign_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/bitcoin/signer/signer_test.go
  zetaclient/chains/solana/rpc/rpc_live_test.go
  zetaclient/common/constant.go
  zetaclient/testutils/mocks/bitcoin_client.go
Due: zetaclient

disable Bitcoin rbf test
  cmd/zetae2e/local/bitcoin.go
Due: none

keep the new line for better indentation
  zetaclient/chains/bitcoin/observer/mempool.go
Due: zetaclient

sync changelog file
  changelog.md
Due: none

rename to UpdateTSSAddressSolana
  cmd/zetae2e/local/tss_migration.go
  e2e/runner/setup_solana.go
Due: none

add explanation why RBF test is disabled by default
  e2e/e2etests/test_bitcoin_withdraw_rbf.go
Due: none

generate files
  cmd/zetae2e/local/local.go
Due: none

improve naming; add more description to the RBF e2e test; make 'approve' optional
  e2e/e2etests/helpers.go
  e2e/e2etests/test_bitcoin_withdraw_rbf.go
  e2e/utils/bitcoin.go
  e2e/utils/zetacore.go
Due: none

increment fees for BTC migration
  Makefile
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/e2etests/test_migrate_tss.go
Due: none

add dependency to E2E test structure; inject dependency for Bitcoin RBF test
  cmd/zetae2e/local/bitcoin.go
  e2e/e2etests/e2etests.go
  e2e/runner/e2etest.go
  e2e/runner/run.go
Due: none

add code links for change in btc fees
  changelog.md
  e2e/e2etests/test_migrate_tss.go
Due: none

migration test
  app/app_test.go
  go.mod
  go.sum
  x/observer/keeper/migrator.go
  x/observer/migrations/v11/migrate.go
  x/observer/migrations/v11/migrate_test.go
  x/observer/module.go
Due: zetacore

test: add solana to tss migration test (#3852)
  Makefile
  changelog.md
  cmd/zetae2e/local/tss_migration.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/solana/gateway.so
  contrib/localnet/solana/gateway_upgrade.so
  e2e/e2etests/test_migrate_tss.go
  e2e/runner/setup_solana.go
  pkg/contracts/solana/gateway.go
  pkg/contracts/solana/instruction.go
Due: pkg

versions.md
  versions.json
  versions.md
Due: none

increase evm tx broadcast timeout to 15 seconds
  zetaclient/chains/evm/signer/signer.go
Due: zetaclient

add changelog entry
  changelog.md
Due: none

fix: increase evm tx broadcast timeout to 15 seconds (#3863)
  changelog.md
  zetaclient/chains/evm/signer/signer.go
Due: zetaclient

Use go-tss v0.6.0
  go.mod
  go.sum
Due: none

Add compliance checks for TON inbounds
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/inbound_test.go
  zetaclient/chains/ton/observer/observer_test.go
  zetaclient/compliance/compliance.go
  zetaclient/config/config.go
Due: zetaclient

Add e2e for restricted deposits
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_ton_deposit_restricted_address.go
  e2e/runner/ton.go
Due: none

Update changelog
  changelog.md
Due: none

increase solana_deposit and solana_withdraw suggested amounts
  e2e/TESTING_GUIDE.md
Due: none

fix: broadcast single withdraw tx to avoid nonce mismatch failure (#3850)
  changelog.md
  pkg/contracts/sui/gateway.go
  pkg/contracts/sui/gateway_test.go
  zetaclient/chains/sui/client/client.go
  zetaclient/chains/sui/client/client_live_test.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/signer/signer_test.go
  zetaclient/chains/sui/signer/signer_tx.go
  zetaclient/testutils/mocks/sui_client.go
  zetaclient/testutils/mocks/sui_gen.go
Due: zetaclient, pkg

add sui gateway upgrade e2e test
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/sui/sui_client.yaml
  e2e/config/config.go
  e2e/contracts/sui/gateway.mv
  e2e/runner/runner.go
  e2e/runner/setup_sui.go
  e2e/runner/solana_gateway_upgrade.go
  e2e/runner/sui.go
  e2e/runner/sui_gateway_upgrade.go
  pkg/contracts/sui/crypto.go
  pkg/contracts/sui/crypto_test.go
Due: pkg

fix: cherry pick solana fixes (#11)
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_solana_withdraw_and_call.go
  e2e/e2etests/test_solana_withdraw_and_call_invalid_msg_encoding.go
  e2e/e2etests/test_solana_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_solana_withdraw_revert_executable_receiver.go
  e2e/runner/solana.go
  zetaclient/chains/solana/signer/execute.go
  zetaclient/chains/solana/signer/execute_spl.go
  zetaclient/chains/solana/signer/increment_nonce.go
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient
