Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

lint
  rpc/backend/blocks.go
Due: none

added readmes
  precompiles/bank/README.md
  precompiles/bech32/README.md
  precompiles/distribution/README.md
  precompiles/governance/README.md
  precompiles/p256/README.md
  precompiles/slashing/README.md
  precompiles/staking/README.md
Due: none

Update contrib/localnet/QUICK_START.md
  contrib/localnet/QUICK_START.md
Due: none

go mod
  go.mod
  go.sum
Due: none

make PR against develop branch
  contrib/localnet/config-localnet.json
  contrib/localnet/docker-compose.yml
  contrib/localnet/grafana/dashboards/consensus-metrics.json
  contrib/localnet/grafana/dashboards/cosmos_dashboard.json
  contrib/localnet/grafana/dashboards/eth_balance.json
  contrib/localnet/grafana/dashboards/gas-metrics.json
  contrib/localnet/grafana/dashboards/log_browser.json
  contrib/localnet/grafana/dashboards/rate-limiter.json
  contrib/localnet/grafana/dashboards/transaction-data.json
  contrib/localnet/grafana/dashboards/tss-metrics.json
  contrib/localnet/grafana/dashboards/zetaclient-orchestrator.json
  contrib/localnet/grafana/dashboards/zetaclient_dashboard.json
  contrib/localnet/grafana/dashboards/zrc20-data.json
  contrib/localnet/grafana/datasource.yaml
  contrib/localnet/prometheus/prometheus.yml
Due: none

add monitoring profile to makefile
  Makefile
Due: none

fixes 1
  cmd/zetaclientd-supervisor/lib.go
  contrib/localnet/orchestrator/start-zetae2e.sh
Due: none

update dashboards
  contrib/localnet/grafana/dashboards/transaction-data.json
Due: none

update grafana image
  contrib/localnet/docker-compose.yml
  contrib/localnet/grafana/dashboards/gas-metrics.json
  contrib/localnet/grafana/dashboards/transaction-data.json
Due: none

fix dashboards
  contrib/localnet/grafana/dashboards/consensus-metrics.json
  contrib/localnet/grafana/dashboards/cosmos_dashboard.json
  contrib/localnet/grafana/dashboards/gas-metrics.json
  contrib/localnet/grafana/dashboards/log_browser.json
  contrib/localnet/grafana/dashboards/rate-limiter.json
  contrib/localnet/grafana/dashboards/transaction-data.json
  contrib/localnet/grafana/dashboards/tss-metrics.json
  contrib/localnet/grafana/dashboards/zetaclient-orchestrator.json
  contrib/localnet/grafana/dashboards/zrc20-data.json
Due: none

add issue to track sui upgrade tests
  cmd/zetae2e/local/local.go
Due: none

update namespace to cometbft
  .github/actions/upgrade-testing/configs/config.toml
  contrib/localnet/grafana/dashboards/cosmos_dashboard.json
  contrib/localnet/grafana/dashboards/gas-metrics.json
  contrib/localnet/grafana/dashboards/rate-limiter.json
  contrib/localnet/grafana/dashboards/transaction-data.json
  contrib/localnet/zetacored/common/config.toml
Due: none

fix dashboard typo
  contrib/localnet/grafana/dashboards/cosmos_dashboard.json
Due: none

fix unit test
  zetaclient/chains/base/observation_skipper_test.go
Due: zetaclient

update dashboard defaults
  contrib/localnet/grafana/dashboards/consensus-metrics.json
  contrib/localnet/grafana/dashboards/cosmos_dashboard.json
  contrib/localnet/grafana/dashboards/gas-metrics.json
  contrib/localnet/grafana/dashboards/log_browser.json
  contrib/localnet/grafana/dashboards/rate-limiter.json
  contrib/localnet/grafana/dashboards/transaction-data.json
  contrib/localnet/grafana/dashboards/tss-metrics.json
  contrib/localnet/grafana/dashboards/zetaclient-orchestrator.json
  contrib/localnet/grafana/dashboards/zrc20-data.json
Due: none

feat: localnet monitoring and observability improvements (#4314)
  .github/actions/upgrade-testing/configs/config.toml
  Makefile
  contrib/localnet/config-localnet.json
  contrib/localnet/docker-compose.yml
  contrib/localnet/grafana/dashboards/cosmos_dashboard.json
  contrib/localnet/grafana/dashboards/eth_balance.json
  contrib/localnet/grafana/dashboards/gas-metrics.json
  contrib/localnet/grafana/dashboards/log_browser.json
  contrib/localnet/grafana/dashboards/rate-limiter.json
  contrib/localnet/grafana/dashboards/transaction-data.json
  contrib/localnet/grafana/dashboards/tss-metrics.json
  contrib/localnet/grafana/dashboards/zetaclient-orchestrator.json
  contrib/localnet/grafana/dashboards/zetaclient_dashboard.json
  contrib/localnet/grafana/dashboards/zrc20-data.json
  contrib/localnet/grafana/datasource.yaml
  contrib/localnet/prometheus/prometheus.yml
  contrib/localnet/zetacored/common/config.toml
Due: none

PR comments
  e2e/e2etests/test_solana_withdraw_and_call_alt.go
  e2e/e2etests/test_spl_withdraw_and_call_alt.go
  e2e/utils/parsing.go
Due: none

remove unused constant
  zetaclient/config/config_chain.go
Due: zetaclient

remove useless comment
  e2e/e2etests/test_stress_eth_withdraw.go
Due: none

improve parameters
  x/observer/types/chain_params.go
Due: zetacore

update for local bitcoin
  x/observer/types/chain_params.go
Due: zetacore

fix: adjust inbound retry gas limit; stop broadcasting tx if mempool is congested or base fee too high (#4291)
  changelog.md
  cmd/zetaclientd/initconfig.go
  zetaclient/chains/base/logger.go
  zetaclient/chains/base/observation_skipper.go
  zetaclient/chains/base/observation_skipper_test.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/bitcoin/bitcoin.go
  zetaclient/chains/bitcoin/observer/mempool.go
  zetaclient/chains/bitcoin/observer/mempool_test.go
  zetaclient/chains/bitcoin/signer/signer_test.go
  zetaclient/chains/evm/evm.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/chains/solana/solana.go
  zetaclient/chains/sui/sui.go
  zetaclient/chains/ton/ton.go
  zetaclient/chains/zrepo/client.go
  zetaclient/config/config_chain.go
  zetaclient/config/types.go
  zetaclient/config/types_test.go
  zetaclient/context/app.go
  zetaclient/context/app_test.go
  zetaclient/orchestrator/contextupdater.go
  zetaclient/orchestrator/contextupdater_test.go
  zetaclient/orchestrator/orchestrator_test.go
  zetaclient/testutils/mocks/cometbft_client.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/client_cosmos.go
  zetaclient/zetacore/client_monitor.go
  zetaclient/zetacore/client_vote.go
  zetaclient/zetacore/tx_test.go
Due: zetaclient

fix generte
  zetaclient/chains/base/observer.go
  zetaclient/chains/bitcoin/bitcoin.go
Due: zetaclient

refactor: use maps.Clone to simplify code
  zetaclient/config/types.go
Due: zetaclient

refactor: add client wrappers to Sui and TON
  changelog.md
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/ton/signer/signer.go
  zetaclient/dry/dry.go
  zetaclient/orchestrator/bootstrap.go
Due: zetaclient

feat: add dry-mode to Sui
  zetaclient/chains/sui/observer/inbound.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/sui.go
Due: zetaclient

refactor: improve logging messages and code comments
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/ton/signer/signer.go
  zetaclient/dry/dry.go
Due: zetaclient

remove internal tracker if it was already voted by the observer
  zetaclient/chains/base/observation_skipper_test.go
  zetaclient/chains/base/observer_internal_tracker.go
  zetaclient/chains/base/observer_internal_tracker_test.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/zrepo/client.go
  zetaclient/chains/zrepo/zrepo.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/zetacore/tx_test.go
Due: zetaclient

fix unit test
  zetaclient/orchestrator/orchestrator_test.go
Due: zetaclient

feat: monitor failed inbound vote and add to an inbound tracker cache (#4295)
  changelog.md
  pkg/errors/monitor_error.go
  pkg/errors/monitor_error_test.go
  x/crosschain/types/message_vote_inbound.go
  x/crosschain/types/message_vote_inbound_test.go
  zetaclient/chains/base/confirmation_test.go
  zetaclient/chains/base/observation_skipper_test.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_internal_tracker.go
  zetaclient/chains/base/observer_internal_tracker_test.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/base/signer_test.go
  zetaclient/chains/bitcoin/bitcoin.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_tracker.go
  zetaclient/chains/evm/evm.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/evm/observer/v2_inbound_tracker.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_tracker.go
  zetaclient/chains/solana/solana.go
  zetaclient/chains/sui/observer/inbound.go
  zetaclient/chains/sui/observer/observer_test.go
  zetaclient/chains/sui/sui.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/observer_test.go
  zetaclient/chains/ton/ton.go
  zetaclient/chains/zrepo/client.go
  zetaclient/chains/zrepo/zrepo.go
  zetaclient/chains/zrepo/zrepo_test.go
  zetaclient/config/config_chain.go
  zetaclient/context/context.go
  zetaclient/context/context_test.go
  zetaclient/orchestrator/orchestrator_test.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/testutils/mocks/zetacore_client_opts.go
  zetaclient/zetacore/client_monitor.go
  zetaclient/zetacore/client_vote.go
  zetaclient/zetacore/tx_test.go
Due: zetacore, zetaclient, pkg

feat: add dry-mode to Sui and add client wrappers to Sui and TON (#4313)
  changelog.md
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/sui/observer/inbound.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/sui.go
  zetaclient/chains/ton/signer/signer.go
  zetaclient/dry/dry.go
  zetaclient/orchestrator/bootstrap.go
Due: zetaclient

feat: add dry-mode to Solana
  changelog.md
  zetaclient/chains/solana/signer/signer.go
  zetaclient/dry/dry.go
  zetaclient/orchestrator/bootstrap.go
Due: zetaclient

feat: add dry-mode to Solana (#4317)
  changelog.md
  zetaclient/chains/solana/signer/signer.go
  zetaclient/dry/dry.go
  zetaclient/orchestrator/bootstrap.go
Due: zetaclient

fix eth stress test timeout
  cmd/zetacored/root.go
  cmd/zetae2e/local/performance.go
  pkg/constant/constant.go
  zetaclient/config/types.go
  zetaclient/zetacore/client_monitor.go
  zetaclient/zetacore/constant.go
Due: zetaclient, pkg

decrease default mempool threshold
  zetaclient/config/types.go
Due: zetaclient

increase max block size
  contrib/localnet/scripts/start-zetacored.sh
Due: none

update metric definations
  changelog.md
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/sui/observer/inbound.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/sui.go
  zetaclient/chains/ton/signer/signer.go
  zetaclient/dry/dry.go
  zetaclient/metrics/metrics.go
  zetaclient/orchestrator/bootstrap.go
Due: zetaclient

add issue to track sui upgrade tests
  cmd/zetaclientd-supervisor/lib.go
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
Due: none

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
