Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      common:
        if_ci_failed: error
        target: 60%
        flags:
          - common

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    carryforward: true
    paths:
      - "x/"
  zetaclient:
    carryforward: true
    paths:
      - "zetaclient/"
  common:
    carryforward: true
    paths:
      - "common/"

ignore:
  - "x/**/client/"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - "*.pb.gw.go"
  - "*.json"
  - ".github/"
  - "app/"
  - "cmd/"
  - "contrib/"
  - "docs/"
  - "rpc/"
  - "proto/"
  - "scripts/"
  - "server/"
  - "testutil/"
  - "typescript/"

add unit tests under params test
  proto/zetachain/zetacore/emissions/params.proto
  typescript/zetachain/zetacore/emissions/params_pb.d.ts
  x/emissions/migrations/v4/migrate.go
  x/emissions/migrations/v4/migrate_test.go
  x/emissions/types/keys.go
  x/emissions/types/params.pb.go
  x/emissions/types/params_test.go
Due: zetacore

fix e2e test
  e2e/e2etests/test_precompiles_staking_through_contract.go
Due: none

fixes
  e2e/contracts/teststaking/TestStaking.bin
  e2e/contracts/teststaking/TestStaking.go
  e2e/contracts/teststaking/TestStaking.json
  e2e/e2etests/test_precompiles_staking.go
  e2e/e2etests/test_precompiles_staking_through_contract.go
  precompiles/staking/staking.go
  precompiles/staking/staking_test.go
Due: none

fmt
  e2e/e2etests/test_precompiles_staking_through_contract.go
  precompiles/staking/staking_test.go
Due: none

changelog
  changelog.md
Due: none

cleanup
  e2e/e2etests/test_precompiles_staking_through_contract.go
  precompiles/staking/staking_test.go
Due: none

test(e2e): backport protocol contract v2 migration test (#2821)
  .github/workflows/e2e.yml
  Makefile
  changelog.md
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/v2.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetacored.sh
  e2e/config/config.go
  e2e/runner/accounting.go
  e2e/runner/evm.go
  e2e/runner/v2_migration.go
  e2e/runner/v2_setup_evm.go
  e2e/runner/v2_setup_zeta.go
  e2e/txserver/authority.go
  go.mod
  go.sum
  x/fungible/keeper/msg_server_update_gateway_contract.go
  x/fungible/keeper/msg_server_update_gateway_contract_test.go
  x/fungible/keeper/v2_evm.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/orchestrator/orchestrator.go
Due: zetacore, zetaclient

feat: staking precompile (#2784)
  app/app.go
  changelog.md
  cmd/zetae2e/local/local.go
  codecov.yml
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetacored.sh
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_precompiles_prototype.go
  e2e/e2etests/test_precompiles_staking.go
  precompiles/precompiles.go
  precompiles/precompiles_test.go
  precompiles/prototype/prototype.go
  precompiles/prototype/prototype_test.go
  precompiles/staking/IStaking.abi
  precompiles/staking/IStaking.go
  precompiles/staking/IStaking.json
  precompiles/staking/IStaking.sol
  precompiles/staking/bindings.go
  precompiles/staking/staking.go
  precompiles/staking/staking_test.go
  scripts/bindings-stateful-precompiles.sh
Due: none

chore: use v19 binaries in upgrade tests
  Makefile
  app/setup_handlers.go
Due: none

Dockerize TON localnet
  Makefile
  contrib/localnet/docker-compose.yml
  contrib/localnet/ton/.gitignore
  contrib/localnet/ton/Dockerfile
  contrib/localnet/ton/download-jar.sh
  contrib/localnet/ton/entrypoint.sh
  contrib/localnet/ton/readme.md
  contrib/localnet/ton/sidecar.go
  go.mod
  go.sum
  zetaclient/chains/ton/observer/observer_test.go
  zetaclient/chains/ton/utils.go
Due: zetaclient

test(e2e): call prototype precompile through contract (#2822)
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetacored.sh
  e2e/contracts/testprototype/TestPrototype.abi
  e2e/contracts/testprototype/TestPrototype.bin
  e2e/contracts/testprototype/TestPrototype.go
  e2e/contracts/testprototype/TestPrototype.json
  e2e/contracts/testprototype/TestPrototype.sol
  e2e/contracts/testprototype/bindings.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_precompiles_prototype_through_contract.go
Due: none

test(e2e): extend staking precompile tests (#2830)
  changelog.md
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/contracts/teststaking/TestStaking.abi
  e2e/contracts/teststaking/TestStaking.bin
  e2e/contracts/teststaking/TestStaking.go
  e2e/contracts/teststaking/TestStaking.json
  e2e/contracts/teststaking/TestStaking.sol
  e2e/contracts/teststaking/bindings.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_precompiles_staking.go
  e2e/e2etests/test_precompiles_staking_through_contract.go
  e2e/runner/runner.go
  pkg/rpc/clients.go
  precompiles/staking/staking.go
  precompiles/staking/staking_test.go
Due: none

fix(zetaclient): use on-chain chain struct
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/orchestrator/bootstrap.go
Due: zetaclient

refactor abci_test.go
  docs/releases/v20_breaking_changes.md
  proto/zetachain/zetacore/emissions/params.proto
  typescript/zetachain/zetacore/emissions/params_pb.d.ts
  x/emissions/abci.go
  x/emissions/abci_test.go
  x/emissions/migrations/v4/migrate.go
  x/emissions/migrations/v4/migrate_test.go
  x/emissions/types/distributions.go
  x/emissions/types/distributions_test.go
  x/emissions/types/keys.go
  x/emissions/types/params.pb.go
Due: zetacore

resolve comments
  pkg/address/validate_address.go
Due: none

resolve comments 2
  pkg/address/errors.go
  pkg/address/validate_address.go
  pkg/address/validate_address_test.go
  x/crosschain/types/cctx.go
  x/crosschain/types/message_whitelist_erc20.go
  x/fungible/types/message_update_system_contract.go
Due: zetacore

prevert division by 0 in ScheduleCctxEVM
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

deactivate witness for mainnet
  zetaclient/chains/bitcoin/observer/inbound.go
Due: zetaclient

typos
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

test
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/witness_test.go
Due: zetaclient

make generate
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/solana/observer/inbound.go
Due: zetaclient

log chain params
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

fix log
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

fix: prevent division by 0 in ScheduleCctxEVM (#2837)
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

add new version changelogs
  changelog.md
Due: none

fix 0 division
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

fix: prevent division by 0 in ScheduleCctxEVM (#2840)
  changelog.md
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

regenerate using correct abigen
  precompiles/prototype/IPrototype.go
Due: none

hardcode schedule interval
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

remove return
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

fix: hardcode schedule interval (#2841)
  changelog.md
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

move interval assignment out of cctx loop:
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

move interval assignment out of cctx loop
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

fix: move interval assignment out of cctx loop (#2843)
  changelog.md
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

add pubkey to tss vote
  x/observer/keeper/msg_server_vote_tss_test.go
  x/observer/types/message_vote_tss.go
  x/observer/types/message_vote_tss_test.go
Due: zetacore

add changelog
  changelog.md
Due: none

update changelog
  changelog.md
Due: none
