Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      common:
        if_ci_failed: error
        target: 60%
        flags:
          - common

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    carryforward: true
    paths:
      - "x/"
  zetaclient:
    carryforward: true
    paths:
      - "zetaclient/"
  common:
    carryforward: true
    paths:
      - "common/"

ignore:
  - "x/**/client/"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - "*.pb.gw.go"
  - "*.json"
  - ".github/"
  - "app/"
  - "cmd/"
  - "contrib/"
  - "docs/"
  - "rpc/"
  - "proto/"
  - "scripts/"
  - "server/"
  - "testutil/"
  - "typescript/"

organize some AppContext logic into orchestrator
  cmd/zetaclientd/start.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/evm/constant.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/common/constant.go
  zetaclient/context/zetacore_context.go
  zetaclient/context/zetacore_context_test.go
  zetaclient/orchestrator/app_context_update.go
  zetaclient/orchestrator/app_context_update_test.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/utils.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/tx.go
Due: zetaclient

refactor keygen
  cmd/zetaclientd/keygen_tss.go
  cmd/zetaclientd/start.go
  e2e/e2etests/test_migrate_tss_eth_funds.go
  pkg/gas/gas_limits.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/tss/tss_signer.go
Due: zetaclient

refactor keygen
  cmd/zetaclientd/keygen_tss.go
Due: none

rearrange keygen creations
  cmd/zetaclientd/start.go
Due: none

Make gas{} exported
  zetaclient/chains/evm/signer/gas.go
  zetaclient/chains/evm/signer/outbound_data.go
  zetaclient/chains/evm/signer/signer.go
Due: zetaclient

test default token
  .github/workflows/publish-release.yml
Due: none

changed back to default token
  .github/workflows/publish-release.yml
Due: none

updated changelog
  changelog.md
Due: none

trim prefix
  e2e/config/config.go
Due: none

ci: enable artifact attenstations (#2388)
  .github/workflows/docker-build-and-push.yml
  .github/workflows/publish-release.yml
  .goreleaser.yaml
  changelog.md
Due: none

Fix observer.OpenDB() in-mem sqlite creation (it was creating redundant directory)
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/evm/observer/observer_test.go
Due: zetaclient

Fetch priorityFee from EVM RPC
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/signer/gas.go
  zetaclient/chains/evm/signer/outbound_data.go
  zetaclient/chains/evm/signer/outbound_data_test.go
  zetaclient/chains/evm/signer/signer.go
Due: zetaclient

Update changelog
  changelog.md
Due: none

Revive gas override
  zetaclient/chains/evm/signer/signer.go
Due: zetaclient

modify accounting
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_migrate_tss_eth_funds.go
  e2e/runner/accounting.go
Due: none

feat: add zetae2e serve-addresses
  cmd/zetae2e/root.go
  cmd/zetae2e/serve_addresses.go
  contrib/localnet/docker-compose.yml
  contrib/localnet/orchestrator/start-zetae2e.sh
Due: none

remove checklist
  .github/pull_request_template.md
Due: none

chore: update PR template
  .github/pull_request_template.md
Due: none

e2e: localnet solana WIP: initialize gateway program
  Dockerfile-localnet
  cmd/solana/main.go
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/local/accounts.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/solana.go
  contrib/localnet/docker-compose.yml
  contrib/localnet/solana/Dockerfile.solana
  contrib/localnet/solana/gateway-keypair.json
  contrib/localnet/solana/gateway.so
  contrib/localnet/solana/start-solana.sh
  e2e/config/config.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/e2etests/test_solana_deposit.go
  e2e/runner/runner.go
  e2e/runner/setup_zeta.go
  e2e/runner/solana.go
Due: none

Update pkg/chains/chains.go
  pkg/chains/chains.go
Due: none

add TODO
  pkg/chains/chains.go
Due: none

Update x/authority/keeper/chain_info.go
  x/authority/keeper/chain_info.go
Due: zetacore

Update cmd/zetaclientd/debug.go
  cmd/zetaclientd/debug.go
Due: none

Converge AppContext and ZetaCoreContext
  zetaclient/context/app.go
  zetaclient/context/app_context.go
  zetaclient/context/app_context_test.go
  zetaclient/context/app_test.go
  zetaclient/context/zetacore_context.go
Due: zetaclient

Embed AppContext into context.Context
  zetaclient/context/context.go
  zetaclient/context/context_test.go
Due: zetaclient

Fix code after converging AppContext with ZetaCoreContext
  cmd/zetaclientd/debug.go
  cmd/zetaclientd/keygen_tss.go
  cmd/zetaclientd/start.go
  cmd/zetaclientd/utils.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/base/signer.go
  zetaclient/chains/base/signer_test.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/orchestrator_test.go
  zetaclient/supplychecker/zeta_supply_checker.go
  zetaclient/tss/tss_signer.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/tx.go
  zetaclient/zetacore/tx_test.go
Due: zetaclient

rebase develop
  cmd/zetaclientd/keygen_tss.go
  cmd/zetaclientd/start.go
  e2e/utils/zetacore.go
  zetaclient/tss/tss_signer.go
Due: zetaclient

remove pointers in chains
  pkg/chains/chain.go
  pkg/chains/chain_test.go
  pkg/chains/chains.go
  pkg/chains/chains_test.go
  proto/zetachain/zetacore/observer/observer.proto
  proto/zetachain/zetacore/observer/params.proto
Due: none

fix tests
  pkg/chains/chains_test.go
  testutil/keeper/crosschain.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound_test.go
  x/crosschain/keeper/cctx_utils_test.go
  x/crosschain/keeper/initiate_outbound_test.go
  x/crosschain/keeper/msg_server_add_inbound_tracker_test.go
  x/crosschain/keeper/msg_server_add_outbound_tracker_test.go
  x/crosschain/keeper/msg_server_migrate_tss_funds_test.go
  x/crosschain/keeper/msg_server_vote_gas_price_test.go
  x/crosschain/keeper/msg_server_vote_inbound_tx_test.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/fungible/keeper/grpc_query_gas_stability_pool_test.go
  x/observer/keeper/utils_test.go
  zetaclient/chains/evm/signer/outbound_data_test.go
  zetaclient/zetacore/tx_test.go
Due: zetacore, zetaclient

dmitry comments
  cmd/zetaclientd/debug.go
  pkg/chains/chain.go
  pkg/chains/chain_test.go
  pkg/crypto/pubkey.go
  x/lightclient/types/message_disable_verification_flags.go
  x/lightclient/types/message_disable_verification_flags_test.go
  x/lightclient/types/message_enable_verification_flags.go
  x/lightclient/types/message_enable_verification_flags_test.go
  zetaclient/supplychecker/zeta_supply_checker.go
  zetaclient/zetacore/tx.go
Due: zetacore, zetaclient

Address PR comments
  cmd/zetaclientd/start.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
Due: zetaclient

Add gas test cases
  zetaclient/chains/evm/signer/gas.go
  zetaclient/chains/evm/signer/gas_test.go
  zetaclient/chains/evm/signer/outbound_data.go
Due: zetaclient

Address PR comments
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/signer/outbound_data.go
  zetaclient/chains/evm/signer/outbound_data_test.go
Due: zetaclient

chore: update PR template (#2394)
  .github/pull_request_template.md
Due: none
