Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      common:
        if_ci_failed: error
        target: 60%
        flags:
          - common

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    carryforward: true
    paths:
      - "x/"
  zetaclient:
    carryforward: true
    paths:
      - "zetaclient/"
  common:
    carryforward: true
    paths:
      - "common/"

ignore:
  - "x/**/client/"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - "*.pb.gw.go"
  - "*.json"
  - ".github/"
  - "app/"
  - "cmd/"
  - "contrib/"
  - "docs/"
  - "rpc/"
  - "proto/"
  - "scripts/"
  - "server/"
  - "testutil/"
  - "typescript/"

make build runners 2204
  .github/workflows/build.yml
  .github/workflows/publish-release.yml
  .github/workflows/rc-release.yml
Due: none

ci: update which build runners are being used
  .github/workflows/publish-release.yml
  .github/workflows/rc-release.yml
Due: none

ci: update which build runners are being used
  .github/workflows/publish-release.yml
Due: none

updates
  .github/workflows/publish-release.yml
Due: none

updates
  changelog.md
Due: none

ci: update build runner for publish release to github actions ubuntu 20.04 runners. (#2267)
  .github/workflows/build.yml
  .github/workflows/publish-release.yml
  .github/workflows/rc-release.yml
  changelog.md
Due: none

ci: Update publish-release build runner to GitHub Actions Ubuntu 20.04 Runner. (#2268)
  .github/workflows/publish-release.yml
  .github/workflows/rc-release.yml
  changelog.md
Due: none

comment
  e2e/e2etests/test_migrate_chain_support.go
Due: none

remove action from tx Unpause and Pause
  proto/zetachain/zetacore/fungible/events.proto
  typescript/zetachain/zetacore/fungible/events_pb.d.ts
  x/fungible/client/cli/tx_update_zrc20_paused_status.go
  x/fungible/keeper/msg_server_unpause_zrc20.go
  x/fungible/types/events.pb.go
Due: zetacore

add new messages
  docs/cli/zetacored/zetacored_tx_fungible.md
  docs/cli/zetacored/zetacored_tx_fungible_pause-zrc20.md
  docs/cli/zetacored/zetacored_tx_fungible_unpause-zrc20.md
  docs/cli/zetacored/zetacored_tx_observer.md
  docs/cli/zetacored/zetacored_tx_observer_update-crosschain-flags.md
  testutil/sample/observer.go
  x/observer/client/cli/tx.go
  x/observer/client/cli/tx_disable_cctx_flags.go
  x/observer/client/cli/tx_enable_cctx_flags.go
  x/observer/client/cli/tx_update_gas_price_increase_flags.go
  x/observer/keeper/msg_server_disable_cctx_flags.go
  x/observer/keeper/msg_server_disable_cctx_flags_test.go
  x/observer/keeper/msg_server_enable_cctx_flags.go
  x/observer/keeper/msg_server_enable_cctx_flags_test.go
  x/observer/keeper/msg_server_update_crosschain_flags.go
  x/observer/keeper/msg_server_update_crosschain_flags_test.go
  x/observer/keeper/msg_server_update_gas_price_increase_flags.go
  x/observer/keeper/msg_server_update_gas_price_increase_flags_test.go
  x/observer/types/codec.go
  x/observer/types/message_disable_cctx_flags.go
  x/observer/types/message_disable_cctx_flags_test.go
  x/observer/types/message_enable_cctx_flags.go
  x/observer/types/message_enable_cctx_flags_test.go
  x/observer/types/message_update_crosschain_flags.go
  x/observer/types/message_update_crosschain_flags_test.go
  x/observer/types/message_update_gas_price_increase_flags.go
  x/observer/types/message_update_gas_price_increase_flags_test.go
Due: zetacore

add new messages
  docs/cli/zetacored/zetacored_tx_fungible_update-zrc20-paused-status.md
  docs/cli/zetacored/zetacored_tx_observer_disable-cctx-flags.md
  docs/cli/zetacored/zetacored_tx_observer_enable-cctx-flags.md
  docs/cli/zetacored/zetacored_tx_observer_update-gas-price-increase-flags.md
Due: none

update comments
  docs/cli/zetacored/zetacored_tx_observer.md
  docs/cli/zetacored/zetacored_tx_observer_update-gas-price-increase-flags.md
  docs/spec/observer/messages.md
  x/observer/client/cli/tx_update_gas_price_increase_flags.go
  x/observer/keeper/msg_server_disable_cctx_flags.go
  x/observer/keeper/msg_server_enable_cctx_flags.go
  x/observer/keeper/msg_server_update_gas_price_increase_flags.go
Due: zetacore

add changelog
  changelog.md
  docs/releases/v17_breaking_changes.md
  x/observer/client/cli/tx_update_gas_price_increase_flags.go
Due: zetacore

add pr number to entry
  changelog.md
Due: none

feat: enable e2e orchestrator restart (#2264)
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/contracts.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/config/config.go
Due: none

add chain validate method
  pkg/chains/chain.go
  pkg/chains/chain_test.go
  proto/zetachain/zetacore/authority/genesis.proto
  x/authority/types/genesis.pb.go
Due: zetacore

add chain info type
  testutil/sample/authority.go
  testutil/sample/sample.go
  x/authority/types/chain_info.go
  x/authority/types/chain_info.pb.go
  x/authority/types/chain_info_test.go
Due: zetacore

add chain info type proto
  proto/zetachain/zetacore/authority/chain_info.proto
Due: none

add chain info in genesis
  proto/zetachain/zetacore/authority/genesis.proto
  testutil/sample/authority.go
  x/authority/genesis.go
  x/authority/genesis_test.go
  x/authority/keeper/chain_info.go
  x/authority/keeper/chain_info_test.go
  x/authority/types/chain_info_test.go
  x/authority/types/genesis.go
  x/authority/types/genesis.pb.go
  x/authority/types/genesis_test.go
  x/authority/types/keys.go
Due: zetacore

generate
  typescript/zetachain/zetacore/authority/chain_info_pb.d.ts
  typescript/zetachain/zetacore/authority/genesis_pb.d.ts
  typescript/zetachain/zetacore/authority/index.d.ts
  x/authority/keeper/chain_info.go
  x/authority/types/chain_info.go
  x/authority/types/chain_info_test.go
  x/authority/types/genesis_test.go
Due: zetacore

changelog
  changelog.md
Due: none

proto gen
  pkg/chains/chains.pb.go
  proto/zetachain/zetacore/pkg/chains/chains.proto
Due: none

add field to chains
  pkg/chains/chains.go
Due: none

make generate
  docs/openapi/openapi.swagger.yaml
  typescript/zetachain/zetacore/pkg/chains/chains_pb.d.ts
Due: none

refactor: MsgUpdateZRC20 into MsgPauseZrc20 and MsgUnPauseZRC20 (#2262)
  changelog.md
  docs/cli/zetacored/zetacored_tx_fungible.md
  docs/cli/zetacored/zetacored_tx_fungible_pause-zrc20.md
  docs/cli/zetacored/zetacored_tx_fungible_unpause-zrc20.md
  docs/openapi/openapi.swagger.yaml
  docs/releases/v17_breaking_changes.md
  docs/spec/fungible/messages.md
  e2e/e2etests/test_pause_zrc20.go
  proto/zetachain/zetacore/fungible/events.proto
  proto/zetachain/zetacore/fungible/tx.proto
  typescript/zetachain/zetacore/fungible/events_pb.d.ts
  typescript/zetachain/zetacore/fungible/tx_pb.d.ts
  x/fungible/client/cli/tx.go
  x/fungible/client/cli/tx_update_zrc20_paused_status.go
  x/fungible/keeper/msg_server_pause_zrc20.go
  x/fungible/keeper/msg_server_pause_zrc20_test.go
  x/fungible/keeper/msg_server_unpause_zrc20.go
  x/fungible/keeper/msg_server_unpause_zrc20_test.go
  x/fungible/keeper/msg_server_update_zrc20_paused_status.go
  x/fungible/types/codec.go
  x/fungible/types/events.pb.go
  x/fungible/types/message_pause_zrc20.go
  x/fungible/types/message_pause_zrc20_test.go
  x/fungible/types/message_unpause_zrc20.go
  x/fungible/types/message_unpause_zrc20_test.go
  x/fungible/types/tx.pb.go
Due: zetacore

resolve comments
  x/observer/keeper/msg_server_disable_cctx_flags_test.go
  x/observer/keeper/msg_server_enable_cctx_flags_test.go
  x/observer/keeper/msg_server_update_gas_price_increase_flags_test.go
Due: zetacore

add additional checks to validatebasic
  x/observer/types/message_disable_cctx_flags.go
  x/observer/types/message_disable_cctx_flags_test.go
  x/observer/types/message_enable_cctx_flags.go
  x/observer/types/message_enable_cctx_flags_test.go
Due: zetacore

fix test
  zetaclient/zetacore/tx_test.go
Due: zetaclient

Modify rpc methods to include synthetic txs
  rpc/backend/blocks.go
  rpc/backend/tracing.go
  rpc/backend/tx_info.go
  rpc/types/events.go
  rpc/types/types.go
  rpc/types/utils.go
Due: none

Add todos
  rpc/backend/blocks.go
  rpc/types/utils.go
Due: none

cleanup
  rpc/backend/blocks.go
Due: none

cleanup
  rpc/backend/tx_info.go
Due: none

changelog
  changelog.md
  rpc/backend/blocks.go
  rpc/backend/tx_info.go
Due: none

comments
  x/fungible/keeper/evm.go
Due: zetacore

refactor duplicate code
  rpc/backend/blocks.go
  rpc/backend/tx_info.go
Due: none

make generate
  rpc/backend/blocks.go
Due: none

lint fixes
  rpc/backend/blocks.go
  rpc/backend/tracing.go
  rpc/backend/tx_info.go
  rpc/types/events.go
Due: none
