Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      common:
        if_ci_failed: error
        target: 60%
        flags:
          - common

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    carryforward: true
    paths:
      - "x/"
  zetaclient:
    carryforward: true
    paths:
      - "zetaclient/"
  common:
    carryforward: true
    paths:
      - "common/"

ignore:
  - "x/**/client/"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - "*.pb.gw.go"
  - "*.json"
  - ".github/"
  - "app/"
  - "cmd/"
  - "contrib/"
  - "docs/"
  - "rpc/"
  - "proto/"
  - "scripts/"
  - "server/"
  - "testutil/"
  - "typescript/"

codecov
  codecov.yml
Due: none

revert back legacy tx
  zetaclient/evm/evm_signer.go
Due: zetaclient

Fix PR comments
  x/crosschain/keeper/grpc_query_last_block_height.go
  x/crosschain/keeper/grpc_query_last_block_height_test.go
  x/crosschain/keeper/msg_server_tss_voter.go
  x/crosschain/keeper/msg_server_vote_inbound_tx_test.go
Due: zetacore

disable chain migration test
  cmd/zetae2e/local/local.go
  zetaclient/evm/evm_signer.go
Due: zetaclient

fix test file
  e2e/e2etests/test_migrate_chain_support.go
Due: none

move timeout check location
  e2e/utils/zetacore.go
Due: none

remove invalid test
  zetaclient/bitcoin/bitcoin_client_test.go
Due: zetaclient

PR comments
  x/crosschain/keeper/evm_deposit_test.go
  x/crosschain/keeper/msg_server_migrate_tss_funds_test.go
  x/crosschain/keeper/process_inbound.go
  x/crosschain/keeper/process_inbound_test.go
Due: zetacore

Make generate
  docs/cli/zetacored/zetacored_query_crosschain.md
  docs/cli/zetacored/zetacored_query_crosschain_params.md
  docs/openapi/openapi.swagger.yaml
  typescript/crosschain/genesis_pb.d.ts
  typescript/crosschain/index.d.ts
  typescript/crosschain/params_pb.d.ts
  typescript/crosschain/query_pb.d.ts
Due: none

add issues
  proto/observer/ballot.proto
  x/observer/types/params.go
Due: zetacore

Add missing test
  x/observer/keeper/ballot_test.go
Due: zetacore

Make generate
  typescript/observer/ballot_pb.d.ts
  x/observer/types/ballot.go
  x/observer/types/ballot.pb.go
Due: zetacore

Fix lint
  x/observer/types/ballot.go
Due: zetacore

added live test for intx sender address parsing
  zetaclient/bitcoin/bitcoin_client_live_test.go
  zetaclient/testutils/mempool_client.go
Due: zetaclient

fix CI unit test failure
  x/crosschain/keeper/evm_hooks_test.go
  zetaclient/bitcoin/bitcoin_client_live_test.go
Due: zetacore, zetaclient

updated changelog
  changelog.md
Due: none

format testdata and clean up empty lines
  e2e/e2etests/test_bitcoin_withdraw_invalid.go
  zetaclient/testdata/btc/chain_8332_msgtx_781fc8d41b476dbceca283ebff9573fda52c8fdbba5e78152aeb4432286836a7.json
Due: zetaclient

Added stub for mock sdk client and some unit tests for transactions
  zetaclient/testutils/stub/sdk_client.go
  zetaclient/zetabridge/tx_test.go
Due: zetaclient

added comments for each observation go routine
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/bitcoin/inbound_tracker.go
  zetaclient/evm/evm_client.go
Due: zetaclient

added unit test for updateCoreContext
  zetaclient/zetabridge/tx_test.go
Due: zetaclient

ran make generate
  zetaclient/testutils/stub/sdk_client.go
  zetaclient/zetabridge/tx_test.go
Due: zetaclient

fix: zetaclient should check 'IsSupported' flag to pause/unpause a specific chain (#1969)
  changelog.md
  cmd/zetaclientd/utils.go
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/bitcoin/inbound_tracker.go
  zetaclient/evm/evm_client.go
  zetaclient/evm/inbounds.go
  zetaclient/interfaces/interfaces.go
  zetaclient/testutils/stub/chain_client.go
  zetaclient/zetabridge/zetacore_bridge.go
  zetaclient/zetacore_observer.go
Due: zetaclient

merge develop into fix-crosschain-flags-and-outtx-timeout
  changelog.md
  cmd/zetaclientd/utils.go
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/bitcoin/inbound_tracker.go
  zetaclient/evm/evm_client.go
  zetaclient/evm/inbounds.go
  zetaclient/interfaces/interfaces.go
  zetaclient/testutils/stub/chain_client.go
  zetaclient/zetabridge/zetacore_bridge.go
  zetaclient/zetacore_observer.go
Due: zetaclient

unit tested broadcast.go
  zetaclient/testutils/stub/sdk_client.go
  zetaclient/zetabridge/broadcast.go
  zetaclient/zetabridge/broadcast_test.go
  zetaclient/zetabridge/tx_test.go
Due: zetaclient

fix lint errors
  zetaclient/testutils/stub/sdk_client.go
Due: zetaclient

test(e2e): add testing for external chain migration (#1900)
  Dockerfile-localnet
  changelog.md
  cmd/zetae2e/local/accounts.go
  cmd/zetae2e/local/admin.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/stress.go
  contrib/localnet/anvil/Dockerfile
  contrib/localnet/docker-compose-admin.yml
  contrib/localnet/orchestrator/Dockerfile
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  contrib/localnet/orchestrator/restart-zetaclientd-at-upgrade.sh
  contrib/localnet/orchestrator/restart-zetaclientd.sh
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetaclientd.sh
  docs/spec/observer/messages.md
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_eth_withdraw.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/runner/evm.go
  e2e/runner/runner.go
  e2e/runner/setup_evm.go
  e2e/runner/setup_zeta.go
  e2e/runner/zeta.go
  e2e/txserver/zeta_tx_server.go
  e2e/utils/zetacore.go
  proto/crosschain/events.proto
  typescript/crosschain/events_pb.d.ts
  x/crosschain/keeper/msg_server_whitelist_erc20.go
  x/crosschain/types/events.pb.go
  x/observer/keeper/msg_server_reset_chain_nonces.go
  zetaclient/config/config_chain.go
  zetaclient/evm/evm_signer.go
Due: zetacore, zetaclient

Add more tests for fungible module
  testutil/keeper/mocks/fungible/bank.go
  x/fungible/keeper/deposits_test.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/evm_hooks.go
  x/fungible/keeper/evm_hooks_test.go
  x/fungible/keeper/evm_test.go
  x/fungible/keeper/gas_coin_and_pool_test.go
  x/fungible/keeper/gas_stability_pool_test.go
  x/fungible/keeper/grpc_query_code_hash_test.go
  x/fungible/keeper/grpc_query_gas_stability_pool_test.go
  x/fungible/keeper/grpc_query_system_contract_test.go
  x/fungible/keeper/msg_server_deploy_system_contract_test.go
  x/fungible/keeper/msg_server_update_system_contract_test.go
  x/fungible/keeper/msg_server_update_zrc20_withdraw_fee_test.go
  x/fungible/types/expected_keepers.go
  x/fungible/types/zrc20_test.go
Due: zetacore

Changelog
  changelog.md
Due: none

Try out codecov issue
  codecov.yml
Due: none

Revert
  codecov.yml
Due: none

Add more tests
  x/fungible/keeper/deposits_test.go
  x/fungible/keeper/gas_coin_and_pool.go
  x/fungible/keeper/gas_coin_and_pool_test.go
  x/fungible/keeper/grpc_query_gas_stability_pool_test.go
Due: zetacore

implement add new block logic
  x/lightclient/keeper/block_header.go
  x/lightclient/types/errors.go
Due: zetacore

address comments
  zetaclient/config/types.go
  zetaclient/testutils/stub/keyring.go
  zetaclient/testutils/stub/sdk_client.go
  zetaclient/zetabridge/broadcast.go
  zetaclient/zetabridge/broadcast_test.go
  zetaclient/zetabridge/query_test.go
  zetaclient/zetabridge/tx_test.go
Due: zetaclient

a bit refactor and added unit tests
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/bitcoin/inbound_tracker.go
  zetaclient/core_context/zeta_core_context.go
  zetaclient/core_context/zeta_core_context_test.go
  zetaclient/evm/evm_client.go
  zetaclient/evm/inbounds.go
  zetaclient/zetacore_observer.go
Due: zetaclient

increase test coverage
  zetaclient/zetabridge/broadcast_test.go
  zetaclient/zetabridge/tx_test.go
Due: zetaclient

PR comments
  testutil/keeper/mocks/fungible/bank.go
  testutil/keeper/mocks/observer/staking.go
  x/fungible/keeper/deposits_test.go
  x/fungible/types/expected_keepers.go
  x/observer/keeper/hooks_test.go
  x/observer/keeper/utils_test.go
  x/observer/types/expected_keepers.go
Due: zetacore
