Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

Update changelog
  changelog.md
Due: none

update test contract to support onCal
  testutil/contracts/Dapp.bin
  testutil/contracts/Dapp.go
  testutil/contracts/Dapp.json
  testutil/contracts/DappReverter.bin
  testutil/contracts/DappReverter.go
  testutil/contracts/DappReverter.json
  testutil/contracts/Depositor.bin
  testutil/contracts/Depositor.go
  testutil/contracts/Depositor.json
  testutil/contracts/Example.abi
  testutil/contracts/Example.bin
  testutil/contracts/Example.go
  testutil/contracts/Example.json
  testutil/contracts/Example.sol
  testutil/contracts/Reverter.bin
  testutil/contracts/Reverter.go
  testutil/contracts/Reverter.json
  testutil/contracts/Withdrawer.bin
  testutil/contracts/Withdrawer.go
  testutil/contracts/Withdrawer.json
Due: none

simplify test
  e2e/utils/contracts.go
Due: none

generate files
  docs/cli/zetacored/cli.md
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/cctx_gateway_zevm_test.go
Due: zetacore

rename
  cmd/zetae2e/local/local.go
Due: none

rename function
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/monitor_block_production.go
Due: none

feat(e2e): add optional minimum version to test (#3408)
  e2e/e2etests/e2etests.go
  e2e/runner/e2etest.go
  e2e/runner/run.go
  e2e/runner/runner.go
Due: none

Update e2e/runner/run.go
  e2e/runner/run.go
Due: none

refactor(e2e): use context cancellation rather than exit/panic
  cmd/zetae2e/balances.go
  cmd/zetae2e/bitcoin_address.go
  cmd/zetae2e/config/config.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/monitor_block_production.go
  cmd/zetae2e/run.go
  cmd/zetae2e/setup_bitcoin.go
  cmd/zetae2e/show_tss.go
  cmd/zetae2e/stress.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/runner/run.go
  e2e/runner/runner.go
Due: none

set minimum version for bitcoin_deposit_and_abort_with_low_deposit_fee
  e2e/e2etests/e2etests.go
Due: none

specify crosschain call
  zetaclient/chains/bitcoin/observer/event.go
Due: zetaclient

update status.md with the type field
  docs/zetacore/status_message.md
  e2e/e2etests/test_bitcoin_deposit_abort_with_low_deposit_fee.go
Due: none

fix(e2e): always wait for at least height 1 (#3415)
  cmd/zetae2e/local/local.go
  contrib/localnet/scripts/start-zetaclientd.sh
  e2e/utils/zetacore.go
  zetaclient/zetacore/client_subscriptions.go
Due: zetaclient

refactor(e2e): use context cancellation rather than exit/panic (#3406)
  cmd/zetae2e/balances.go
  cmd/zetae2e/bitcoin_address.go
  cmd/zetae2e/config/config.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/monitor_block_production.go
  cmd/zetae2e/run.go
  cmd/zetae2e/setup_bitcoin.go
  cmd/zetae2e/show_tss.go
  cmd/zetae2e/stress.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/e2etests/e2etests.go
  e2e/runner/e2etest.go
  e2e/runner/run.go
  e2e/runner/runner.go
Due: none

chore: Add ADMIN_UPGRADE_TESTS label to test start-upgrade-test-admin (#3413)
  .github/workflows/e2e.yml
Due: none

fix(zetaclient): only broadcast solana transaction with expected nonce
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient

use op code for calls
  zetaclient/chains/bitcoin/observer/event.go
Due: zetaclient

use 1.5 as multiplier to send outbound txs so that we slightly make profit
  zetaclient/chains/bitcoin/client/client_test.go
  zetaclient/chains/bitcoin/common/fee.go
  zetaclient/chains/bitcoin/common/fee_test.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/witness_test.go
  zetaclient/chains/bitcoin/signer/outbound_data.go
  zetaclient/chains/bitcoin/signer/outbound_data_test.go
  zetaclient/chains/bitcoin/signer/sign.go
  zetaclient/chains/bitcoin/signer/sign_rbf.go
  zetaclient/chains/bitcoin/signer/sign_rbf_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/bitcoin/signer/signer_test.go
  zetaclient/common/constant.go
  zetaclient/zetacore/client_vote.go
  zetaclient/zetacore/tx.go
  zetaclient/zetacore/tx_test.go
Due: zetaclient

disable RBF test by default; it require one-line code change
  cmd/zetae2e/local/local.go
Due: none

include coin type to error message; make code cleaner
  zetaclient/chains/bitcoin/signer/outbound_data.go
  zetaclient/chains/bitcoin/signer/outbound_data_test.go
  zetaclient/chains/bitcoin/signer/sign.go
Due: zetaclient

return error if failed to get signer address; add BTCPayToAddrScript as a method of TSS PubKey
  zetaclient/chains/bitcoin/signer/sign.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/tss/crypto.go
  zetaclient/tss/crypto_test.go
Due: zetaclient

Update zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/bitcoin/signer/signer.go
Due: zetaclient

remove redundant test functions; use testlog for unit test
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/bitcoin/signer/signer_test.go
Due: zetaclient

extract common functions to a new simulation package under testutil
  simulation/simulation_test.go
  simulation/state.go
  testutil/keeper/mocks/emissions/account.go
  testutil/keeper/mocks/emissions/bank.go
  testutil/keeper/mocks/emissions/observer.go
  testutil/simulation/matrix.go
  testutil/simulation/tx.go
  testutil/simulation/utils.go
  x/crosschain/simulation/operation_abort_stuck_cctx.go
  x/crosschain/simulation/operation_add_inbound_tracker.go
  x/crosschain/simulation/operation_add_outbound_tracker.go
  x/crosschain/simulation/operation_gas_price_voter.go
  x/crosschain/simulation/operation_refund_aborted_cctx.go
  x/crosschain/simulation/operation_remove_outbound_tracker.go
  x/crosschain/simulation/operation_update_erc20_pause_status.go
  x/crosschain/simulation/operation_update_rate_limiter_flags.go
  x/crosschain/simulation/operation_update_tss_address.go
  x/crosschain/simulation/operation_vote_inbound.go
  x/crosschain/simulation/operation_vote_outbound.go
  x/crosschain/simulation/operation_whitelist_erc20.go
  x/crosschain/simulation/operations.go
  x/emissions/module_simulation.go
  x/emissions/simulation/decoders.go
  x/emissions/simulation/operation_withdraw_emissions.go
  x/emissions/simulation/operations.go
  x/emissions/types/expected_keepers.go
  x/fungible/simulation/operations.go
  x/observer/simulation/operation_add_observer.go
  x/observer/simulation/operation_add_observer_node_account.go
  x/observer/simulation/operation_disable_cctx.go
  x/observer/simulation/operation_enable_cctx.go
  x/observer/simulation/operation_remove_chain_params.go
  x/observer/simulation/operation_reset_chain_nonces.go
  x/observer/simulation/operation_update_chain_params.go
  x/observer/simulation/operation_update_gas_price_increase_flags.go
  x/observer/simulation/operation_update_keygen.go
  x/observer/simulation/operation_update_observer.go
  x/observer/simulation/operation_vote_tss.go
  x/observer/simulation/operations.go
Due: none

create observer in test suite; use testlog package
  zetaclient/chains/bitcoin/signer/signer_test.go
Due: zetaclient

add description to fee estimation formula
  zetaclient/chains/bitcoin/signer/sign.go
Due: zetaclient

refactor: update cctx status to object to split error message into `error` and `revert_error` (#3326)
  changelog.md
  docs/openapi/openapi.swagger.yaml
  docs/zetacore/status_message.md
  e2e/e2etests/test_bitcoin_deposit_abort_with_low_deposit_fee.go
  e2e/e2etests/test_bitcoin_deposit_and_call_revert_with_dust.go
  pkg/errors/crosschain_error_message.go
  pkg/errors/crosschain_error_message_test.go
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.d.ts
  x/crosschain/keeper/cctx_gateway_observers.go
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/cctx_gateway_zevm_test.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/evm_deposit.go
  x/crosschain/keeper/initiate_outbound.go
  x/crosschain/keeper/initiate_outbound_test.go
  x/crosschain/keeper/msg_server_abort_stuck_cctx.go
  x/crosschain/keeper/msg_server_vote_inbound_tx_test.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/errors.go
  x/crosschain/types/status.go
  x/crosschain/types/status_test.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/evm_test.go
  x/fungible/keeper/zevm_message_passing_test.go
  x/fungible/keeper/zevm_msg_passing.go
  x/fungible/types/errors.go
Due: zetacore, pkg

use structured logs
  zetaclient/chains/bitcoin/signer/sign.go
Due: zetaclient

make AddTxInputs independent method
  zetaclient/chains/bitcoin/signer/sign.go
  zetaclient/chains/bitcoin/signer/sign_test.go
Due: zetaclient

add comments to explain function arguments; improve error wrapping; code simplification
  zetaclient/chains/bitcoin/signer/sign.go
Due: zetaclient

replace ifs with switch case; return original err without overwriting
  zetaclient/chains/bitcoin/client/helpers.go
  zetaclient/chains/bitcoin/observer/utxos.go
Due: zetaclient

seems safe to remove panic recovery in FetchUTXOs
  zetaclient/chains/bitcoin/observer/utxos.go
Due: zetaclient

move Telemetry update to the line before acquiring observer lock
  zetaclient/chains/bitcoin/observer/utxos.go
Due: zetaclient

use testlog package
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/solana/observer/outbound_test.go
Due: zetaclient

chore: sync changelog with v26 changes (#3427)
  changelog.md
Due: none

feat: enable inscription parsing on Bitcoin mainnet (#3425)
  changelog.md
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
Due: zetaclient

Address PR comments
  zetaclient/chains/base/signer.go
Due: zetaclient

refactor(zetaclient): drop `outboundprocessor` (#3410)
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/signer.go
  zetaclient/chains/bitcoin/bitcoin.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/evm.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/ton/signer/signer.go
  zetaclient/chains/ton/signer/signer_test.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/outboundprocessor/outbound_processor.go
  zetaclient/outboundprocessor/outbound_processor_test.go
  zetaclient/testutils/mocks/chain_signer.go
Due: zetaclient

Address PR comments
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/inbound_test.go
  zetaclient/chains/ton/ton.go
  zetaclient/orchestrator/v2_bootstrap.go
  zetaclient/orchestrator/v2_bootstrap_test.go
Due: zetaclient

feat(e2e): add add_liquidity_spl E2E test (#3405)
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_operation_add_liquidity_erc20.go
  e2e/e2etests/test_operation_add_liquidity_spl.go
  e2e/runner/balances.go
  e2e/runner/evm.go
  e2e/runner/liquidity.go
Due: none
