Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

update errors
  x/observer/keeper/voting.go
Due: zetacore

generate
  x/observer/keeper/voting.go
Due: zetacore

reviews suggestions
  e2e/e2etests/test_eth_deposit_call.go
  e2e/e2etests/test_solana_deposit_refund.go
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
Due: zetacore

fix(`observer`): remove error return on staking hooks (#2968)
  x/observer/keeper/hooks.go
  x/observer/keeper/hooks_test.go
  x/observer/keeper/voting.go
Due: zetacore

Simplify E2E
  e2e/e2etests/test_ton_deposit.go
  e2e/e2etests/test_ton_deposit_and_call.go
  e2e/runner/runner.go
  e2e/runner/setup_ton.go
  e2e/runner/ton.go
  e2e/runner/zeta.go
  x/observer/keeper/msg_server_vote_blame.go
Due: zetacore

fix the error for BTC donations
  zetaclient/chains/bitcoin/observer/witness.go
Due: zetaclient

feat: allow parsing Bitcoin deposit memo with inscription (#2957)
  changelog.md
  contrib/localnet/bitcoin-sidecar/Dockerfile
  contrib/localnet/bitcoin-sidecar/js/package.json
  contrib/localnet/bitcoin-sidecar/js/src/client.ts
  contrib/localnet/bitcoin-sidecar/js/src/index.ts
  contrib/localnet/bitcoin-sidecar/js/src/script.ts
  contrib/localnet/bitcoin-sidecar/js/src/tsconfig.json
  contrib/localnet/bitcoin-sidecar/js/src/util.ts
  contrib/localnet/docker-compose.yml
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_extract_bitcoin_inscription_memo.go
  e2e/runner/bitcoin.go
  e2e/runner/bitcoin_inscription.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/witness.go
Due: zetaclient

Simplify liteapi semantics
  pkg/chains/chain.go
  zetaclient/chains/ton/config.go
  zetaclient/chains/ton/liteapi/client.go
  zetaclient/chains/ton/liteapi/client_live_test.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/inbound_test.go
  zetaclient/chains/ton/observer/observer.go
  zetaclient/chains/ton/observer/observer_test.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/testutils/mocks/ton_liteclient.go
Due: zetaclient

Fix comments
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/observer.go
Due: zetaclient

Update zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer.go
Due: zetaclient

include new generated files
  docs/openapi/openapi.swagger.yaml
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.d.ts
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/types/cross_chain_tx.pb.go
Due: zetacore

changelog
  changelog.md
Due: none

add MsgGasPriceVoter
  proto/zetachain/zetacore/crosschain/legacy_msgs.proto
  typescript/zetachain/zetacore/crosschain/legacy_msgs_pb.d.ts
  x/crosschain/types/legacy_msgs.go
  x/crosschain/types/legacy_msgs.pb.go
Due: zetacore

add new message to codec
  x/crosschain/types/codec.go
Due: none

Add gw explanatory comments; address PR comments
  e2e/e2etests/test_ton_deposit.go
  e2e/e2etests/test_ton_deposit_and_call.go
  pkg/contracts/ton/gateway.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/inbound_test.go
Due: zetaclient

Apply fixes for AI suggestions
  pkg/chains/chain.go
  pkg/chains/chain_test.go
  pkg/contracts/ton/testdata/readme.md
  pkg/contracts/ton/testdata/scraper.go
  zetaclient/chains/ton/observer/observer_test.go
Due: zetaclient

make every msg lowercase
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
Due: zetacore

feat: add lockZRC20 capability to fungible keeper
  precompiles/bank/method_deposit.go
  precompiles/bank/method_test.go
  x/fungible/keeper/lock_zrc20_bank.go
Due: zetacore

extract functions to fungible
  precompiles/bank/method_deposit.go
  precompiles/bank/method_withdraw.go
  x/fungible/keeper/lock_zrc20_bank.go
  x/fungible/keeper/zrc20_check_allowance.go
  x/fungible/keeper/zrc20_check_balance.go
  x/fungible/keeper/zrc20_check_token_validity.go
  x/fungible/keeper/zrc20_lock_token.go
  x/fungible/keeper/zrc20_unlock_token.go
Due: zetacore

cleaning up
  precompiles/bank/method_withdraw.go
  x/fungible/keeper/zrc20_unlock_token.go
  x/fungible/types/keys.go
Due: zetacore

applied suggestions
  x/crosschain/keeper/cctx_gateway_observers.go
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/msg_server_vote_inbound_tx_test.go
  x/crosschain/types/cctx.go
  x/crosschain/types/status.go
  x/crosschain/types/status_test.go
Due: zetacore

modify e2e tests
  changelog.md
  e2e/e2etests/test_precompiles_bank.go
  e2e/e2etests/test_precompiles_bank_through_contract.go
  precompiles/bank/method_deposit.go
  precompiles/bank/method_test.go
  x/fungible/keeper/zrc20_check_allowance.go
  x/fungible/keeper/zrc20_check_balance.go
  x/fungible/keeper/zrc20_lock_token.go
  x/fungible/keeper/zrc20_unlock_token.go
  x/fungible/types/keys.go
Due: zetacore

fix unit testing
  precompiles/bank/method_test.go
Due: none

refactor: add error field in cctx (#2952)
  changelog.md
  docs/openapi/openapi.swagger.yaml
  e2e/e2etests/test_eth_deposit_call.go
  e2e/e2etests/test_solana_deposit_refund.go
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  testutil/sample/crosschain.go
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.d.ts
  x/crosschain/keeper/cctx_gateway_observers.go
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/cctx_test.go
  x/crosschain/keeper/initiate_outbound_test.go
  x/crosschain/keeper/msg_server_migrate_tss_funds.go
  x/crosschain/keeper/msg_server_vote_inbound_tx_test.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/migrations/v5/migrate.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/keys.go
  x/crosschain/types/rate_limiter_flags_test.go
  x/crosschain/types/status.go
  x/crosschain/types/status_test.go
Due: zetacore

make deposit and withdraw fail with amount 0
  precompiles/bank/method_deposit.go
  precompiles/bank/method_test.go
  precompiles/bank/method_withdraw.go
Due: none

first round of review
  precompiles/bank/method_deposit.go
  precompiles/bank/method_withdraw.go
  x/fungible/keeper/zrc20_check_allowance.go
  x/fungible/keeper/zrc20_check_balance.go
  x/fungible/keeper/zrc20_check_token_validity.go
  x/fungible/keeper/zrc20_cosmos_coins_mapping.go
  x/fungible/keeper/zrc20_lock_token.go
  x/fungible/keeper/zrc20_unlock_token.go
Due: zetacore

fix: ensure NODE_VERSION and NODE_COMMIT are set for upgrade builds
  Makefile
Due: none

initiated memo package
  go.mod
  pkg/math/bits.go
  pkg/math/bits_test.go
  pkg/memo/arg.go
  pkg/memo/arg_test.go
  pkg/memo/codec.go
  pkg/memo/codec_abi.go
  pkg/memo/codec_abi_test.go
  pkg/memo/codec_compact.go
  pkg/memo/codec_compact_test.go
  pkg/memo/codec_test.go
  pkg/memo/fields_v0.go
  pkg/memo/memo.go
  pkg/memo/memo_test.go
  testutil/sample/memo.go
Due: none

whitelist spl mint wip
  cmd/zetae2e/local/solana.go
  contrib/localnet/solana/gateway-keypair.json
  contrib/localnet/solana/gateway.so
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_solana_whitelist_spl.go
  e2e/runner/setup_solana.go
  e2e/runner/solana.go
  pkg/contracts/solana/gateway.go
  pkg/contracts/solana/gateway.json
  pkg/contracts/solana/gateway_message.go
  pkg/contracts/solana/instruction.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
  x/crosschain/types/message_whitelist_erc20.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/whitelist.go
  zetaclient/testutils/constant.go
Due: zetacore, zetaclient

add unit tests against memo fields version 0
  pkg/memo/fields.go
  pkg/memo/fields_v0.go
  pkg/memo/fields_v0_test.go
  pkg/memo/memo.go
  testutil/sample/memo.go
Due: none

fix: ensure NODE_VERSION and NODE_COMMIT are set for upgrade builds (#2981)
  Makefile
Due: none

fix(e2e): tolerate revert message in both error and status message
  e2e/e2etests/test_eth_deposit_call.go
  e2e/e2etests/test_solana_deposit_refund.go
Due: none

Fix upgrade tests
  e2e/runner/setup_zeta.go
  e2e/runner/zeta.go
  e2e/txserver/zeta_tx_server.go
Due: none

whitelist test wip
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/config/localnet.yml
  e2e/e2etests/test_solana_whitelist_spl.go
  e2e/runner/setup_solana.go
  pkg/contracts/solana/gateway_message.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/whitelist.go
Due: zetaclient

added memo unit tests
  pkg/memo/codec_compact_test.go
  pkg/memo/fields_v0.go
  pkg/memo/fields_v0_test.go
  pkg/memo/memo.go
  pkg/memo/memo_test.go
  testutil/sample/memo.go
Due: none

test fixes
  cmd/zetae2e/local/local.go
  pkg/contracts/solana/gateway_message.go
  zetaclient/chains/solana/signer/signer.go
Due: zetaclient

fmt
  e2e/e2etests/test_solana_whitelist_spl.go
  e2e/runner/solana.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/whitelist.go
Due: zetaclient

use separate file for memo header; add more unit tests
  pkg/memo/fields.go
  pkg/memo/fields_v0.go
  pkg/memo/fields_v0_test.go
  pkg/memo/header.go
  pkg/memo/header_test.go
  pkg/memo/memo.go
  pkg/memo/memo_test.go
  testutil/sample/memo.go
Due: none

extend header to 4 bytes for extension purpose; update doc and diagram; add example code
  docs/rfc/002_standard_memo_format.md
  docs/rfc/images/002_layout.png
Due: none

Path conditions:
  zetacore: any of: x/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  zetaclient: any of: zetaclient/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  common: any of: common/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
