Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

testutil
  testutil/network/genesis_state.go
  testutil/sample/crosschain.go
Due: none

types
  proto/zetachain/zetacore/crosschain/tx.proto
  testutil/sample/crosschain.go
  x/crosschain/client/cli/cli_in_tx_tracker.go
  x/crosschain/client/cli/cli_out_tx_tracker.go
  x/crosschain/client/cli/cli_out_tx_tracker_test.go
  x/crosschain/client/cli/query.go
  x/crosschain/client/cli/query_in_tx_hash_to_cctx.go
  x/crosschain/client/cli/tx_vote_inbound.go
  x/crosschain/types/authz.go
  x/crosschain/types/authz_test.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/codec.go
  x/crosschain/types/genesis.go
  x/crosschain/types/genesis_test.go
  x/crosschain/types/inbound_params.go
  x/crosschain/types/inbound_params_test.go
  x/crosschain/types/key_in_tx_hash_to_cctx.go
  x/crosschain/types/key_inbound_hash_to_cctx.go
  x/crosschain/types/keys.go
  x/crosschain/types/message_add_inbound_tracker.go
  x/crosschain/types/message_add_inbound_tracker_test.go
  x/crosschain/types/message_add_outbound_tracker.go
  x/crosschain/types/message_add_outbound_tracker_test.go
  x/crosschain/types/message_remove_outbound_tracker.go
  x/crosschain/types/message_remove_outbound_tracker_test.go
  x/crosschain/types/message_vote_inbound.go
  x/crosschain/types/message_vote_inbound_test.go
  x/crosschain/types/message_vote_on_observed_outbound_tx.go
  x/crosschain/types/message_vote_outbound.go
  x/crosschain/types/message_vote_outbound_test.go
  x/crosschain/types/outbound_params.go
  x/crosschain/types/outbound_params_test.go
  x/crosschain/types/status.go
  x/crosschain/types/tx.pb.go
  x/crosschain/types/tx_body_verification.go
  x/crosschain/types/tx_body_verification_test.go
Due: zetacore

cli
  x/crosschain/client/cli/tx.go
  x/crosschain/client/cli/tx_add_outbound_tracker.go
  x/crosschain/client/cli/tx_remove_outbound_tracker.go
  x/crosschain/client/cli/tx_vote_inbound.go
  x/crosschain/client/cli/tx_vote_outbound.go
  x/crosschain/client/querytests/inbound_hash.go
  x/crosschain/client/querytests/inbound_tracker.go
  x/crosschain/client/querytests/outbound_tracker.go
Due: zetacore

make generate
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.d.ts
  typescript/zetachain/zetacore/crosschain/events_pb.d.ts
  typescript/zetachain/zetacore/crosschain/genesis_pb.d.ts
  typescript/zetachain/zetacore/crosschain/in_tx_hash_to_cctx_pb.d.ts
  typescript/zetachain/zetacore/crosschain/in_tx_tracker_pb.d.ts
  typescript/zetachain/zetacore/crosschain/inbound_hash_to_cctx_pb.d.ts
  typescript/zetachain/zetacore/crosschain/inbound_tracker_pb.d.ts
  typescript/zetachain/zetacore/crosschain/index.d.ts
  typescript/zetachain/zetacore/crosschain/last_block_height_pb.d.ts
  typescript/zetachain/zetacore/crosschain/outbound_tracker_pb.d.ts
  typescript/zetachain/zetacore/crosschain/query_pb.d.ts
  typescript/zetachain/zetacore/crosschain/tx_pb.d.ts
  typescript/zetachain/zetacore/observer/params_pb.d.ts
Due: none

some fixes
  app/ante/ante.go
  app/ante/ante_test.go
  proto/zetachain/zetacore/crosschain/events.proto
  typescript/zetachain/zetacore/crosschain/events_pb.d.ts
  x/crosschain/genesis.go
  x/crosschain/genesis_test.go
  x/crosschain/keeper/abci.go
  x/crosschain/keeper/abci_test.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/grpc_query_outbound_tracker.go
  x/crosschain/keeper/grpc_query_outbound_tracker_test.go
  x/crosschain/keeper/msg_server_add_outbound_tracker.go
  x/crosschain/keeper/msg_server_add_outbound_tracker_test.go
  x/crosschain/keeper/msg_server_remove_outbound_tracker.go
  x/crosschain/keeper/msg_server_remove_outbound_tracker_test.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/crosschain/keeper/outbound_tracker.go
  x/crosschain/keeper/outbound_tracker_test.go
  x/crosschain/migrations/v4/migrate.go
  x/crosschain/migrations/v4/migrate_test.go
  x/crosschain/migrations/v5/migrate.go
  x/crosschain/migrations/v5/migrate_test.go
  x/crosschain/types/events.pb.go
  x/crosschain/types/outbound_params.go
  x/crosschain/types/outbound_params_test.go
  x/observer/types/chain_params.go
  x/observer/types/chain_params_test.go
  zetaclient/evm/evm_client_test.go
  zetaclient/zetabridge/tx.go
  zetaclient/zetabridge/tx_vote_inbound.go
Due: zetacore, zetaclient

e2e
  cmd/zetae2e/stress.go
  e2e/e2etests/test_bitcoin_withdraw.go
  e2e/e2etests/test_crosschain_swap.go
  e2e/e2etests/test_erc20_refund.go
  e2e/e2etests/test_erc20_withdraw.go
  e2e/e2etests/test_eth_deposit.go
  e2e/e2etests/test_message_passing.go
  e2e/e2etests/test_message_passing_zevm.go
  e2e/runner/logger.go
  e2e/utils/zetacore.go
  testutil/sample/observer.go
Due: none

small fix
  testutil/keeper/crosschain.go
Due: none

ci: adjusted the pipeline for release to essentially only release if the approver condition is met. Removed the action way of doing approvers for github enterprise way of doing approvers.
  .github/workflows/publish-release.yml
Due: none

updated
  .github/workflows/publish-release.yml
Due: none

ci: adding change log entry after testing
  changelog.md
Due: none

updated
  changelog.md
Due: none

ci: fixing comments
  .github/workflows/publish-release.yml
Due: none

fixing comments
  .github/workflows/publish-release.yml
Due: none

ci: add approvers based on github enterprise environments, update release pipeline to follow new release/hotfix strategy. (#2119)
  .github/workflows/publish-release.yml
  changelog.md
Due: none

update release pipeline
  .github/workflows/publish-release.yml
Due: none

update release pipeline (#2123)
  .github/workflows/publish-release.yml
Due: none

remove unused variable and method
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/evm/evm_client.go
Due: zetaclient

added changelog entry
  changelog.md
Due: none

Fix develop upgrade test
  Makefile
  app/setup_handlers.go
  contrib/localnet/scripts/start-zetacored.sh
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/observer/genesis.proto
  proto/zetachain/zetacore/observer/params.proto
  typescript/zetachain/zetacore/observer/genesis_pb.d.ts
  typescript/zetachain/zetacore/observer/params_pb.d.ts
  x/observer/types/genesis.pb.go
  x/observer/types/params.pb.go
Due: zetacore

add latest genesis data to make command
  Makefile
  contrib/localnet/docker-compose-import-data.yml
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/import-data.sh
  contrib/localnet/scripts/start-zetaclientd.sh
  contrib/localnet/scripts/start-zetacored.sh
Due: none

add comments and fix unit tests
  cmd/zetacored/parse_genesis.go
  cmd/zetacored/parse_genesis_test.go
  testutil/sample/sample.go
Due: none

remove unused functions
  cmd/zetacored/parse_genesis.go
Due: none

parameterize import data script
  Makefile
  contrib/localnet/scripts/import-data.sh
Due: none

add changelog.md
  changelog.md
Due: none

add changelog.md and generate files
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetaclientd.sh
  contrib/localnet/scripts/start-zetacored.sh
  typescript/crosschain/genesis_pb.d.ts
  typescript/fungible/genesis_pb.d.ts
Due: none

chore: remove unused variable and method (#2124)
  changelog.md
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/evm/evm_client.go
Due: zetaclient

changelog
  changelog.md
Due: none

changelogs
  changelog.md
Due: none

fix outbound tracker
  contrib/localnet/zetacored/zetacored_zetacore0/config/genesis.json
  contrib/localnet/zetacored/zetacored_zetacore1/config/genesis.json
  testutil/sample/sample.go
Due: none

fix: develop upgrade test (#2125)
  Makefile
  app/setup_handlers.go
  changelog.md
  contrib/localnet/scripts/start-zetacored.sh
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/observer/genesis.proto
  proto/zetachain/zetacore/observer/params.proto
  typescript/zetachain/zetacore/observer/genesis_pb.d.ts
  typescript/zetachain/zetacore/observer/params_pb.d.ts
  x/observer/types/genesis.pb.go
  x/observer/types/params.pb.go
Due: zetacore

add additional comments
  Makefile
  cmd/zetacored/parse_genesis.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/import-data.sh
  contrib/localnet/scripts/start-zetaclientd.sh
  contrib/localnet/scripts/start-zetacored.sh
Due: none

added extra unit tests and improved func name
  pkg/math/float.go
  pkg/math/float_test.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit.go
  x/crosschain/types/rate_limiter_flags.go
  x/crosschain/types/rate_limiter_flags_test.go
Due: zetacore

fix(zetacored): use json upgrade proposal to workaround legacy proposal panic
  contrib/localnet/scripts/start-zetacored.sh
Due: none

fix(zetacored): use json upgrade proposal to workaround legacy proposal panic (#2122)
  contrib/localnet/scripts/start-zetacored.sh
Due: none

Path conditions:
  zetacore: any of: x/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  zetaclient: any of: zetaclient/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  common: any of: common/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
