Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

add feature flag for solana alt
  changelog.md
  contrib/localnet/scripts/start-zetaclientd.sh
  testutil/sample/zetaclient.go
  zetaclient/chains/solana/signer/execute.go
  zetaclient/config/types.go
  zetaclient/context/feature_flags.go
  zetaclient/orchestrator/orchestrator.go
Due: zetaclient

lint
  changelog.md
  e2e/e2etests/test_solana_deposit_and_call_revert_with_call_that_reverts.go
Due: none

fix e2e test
  e2e/e2etests/e2etests.go
Due: none

fix e2e test
  pkg/contracts/solana/instruction.go
Due: pkg

add file based trigger for zetaclient binary download
  cmd/zetaclientd-supervisor/lib.go
  contrib/localnet/docker-compose.yml
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/runner/upgrade.go
Due: none

configure maximum base fee
  cmd/zetaclientd/initconfig.go
  zetaclient/chains/base/observation_skipper.go
  zetaclient/chains/base/observation_skipper_test.go
  zetaclient/chains/zrepo/client.go
  zetaclient/config/types.go
  zetaclient/config/types_test.go
  zetaclient/context/app.go
  zetaclient/context/app_test.go
  zetaclient/orchestrator/contextupdater.go
  zetaclient/orchestrator/contextupdater_test.go
  zetaclient/orchestrator/orchestrator_test.go
  zetaclient/testutils/mocks/zetacore_client.go
Due: zetaclient

fix gas price observation skipper
  zetaclient/chains/base/observation_skipper.go
  zetaclient/chains/base/observation_skipper_test.go
Due: zetaclient

fix last comments
  contrib/localnet/zetacored/common/app.toml
  e2e/e2etests/test_stress_eth_deposit.go
  e2e/e2etests/test_stress_eth_withdraw.go
  e2e/e2etests/test_stress_zevm.go
Due: none

chore: increase upgrade test height
  Makefile
Due: none

test even higher block
  Makefile
Due: none

try 300 block height
  Makefile
Due: none

update zetae2e
  Makefile
  cmd/zetaclientd-supervisor/lib.go
  contrib/localnet/docker-compose.yml
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/e2etests/e2etests.go
  e2e/runner/upgrade.go
  zetaclient/zetacore/client_vote.go
Due: zetaclient

chore: increase upgrade test height (#4303)
  Makefile
Due: none

use 50m for block size
  contrib/localnet/scripts/start-zetacored.sh
Due: none

convert Gwei to wei for the max base fee check
  cmd/zetaclientd/initconfig.go
  zetaclient/context/app.go
  zetaclient/context/app_test.go
Due: zetaclient

put a limit on number of inbound trackers to process per ticker
  zetaclient/chains/base/observer_internal_tracker.go
  zetaclient/chains/base/observer_internal_tracker_test.go
  zetaclient/chains/bitcoin/observer/inbound_tracker.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_tracker.go
  zetaclient/chains/sui/observer/inbound.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/config/config_chain.go
Due: zetaclient

add changelog description for MaxBaseFee
  changelog.md
Due: none

upgrade zetachain-exporter to latest version in node. Bring over protocol dashboards and make compatible with localnet
  contrib/localnet/QUICK_START.md
  contrib/localnet/config-localnet.json
  contrib/localnet/docker-compose.yml
  contrib/localnet/grafana/dashboards/cctx-analytics.json
  contrib/localnet/grafana/dashboards/consensus-metrics.json
  contrib/localnet/grafana/dashboards/cosmos_dashboard.json
  contrib/localnet/grafana/dashboards/e2e-testing.json
  contrib/localnet/grafana/dashboards/eth_balance.json
  contrib/localnet/grafana/dashboards/gas-metrics.json
  contrib/localnet/grafana/dashboards/log_browser.json
  contrib/localnet/grafana/dashboards/rate-limiter.json
  contrib/localnet/grafana/dashboards/transaction-data.json
  contrib/localnet/grafana/dashboards/tss-metrics.json
  contrib/localnet/grafana/dashboards/zetaclient-orchestrator.json
  contrib/localnet/grafana/dashboards/zetaclient_dashboard.json
  contrib/localnet/grafana/dashboards/zrc20-data.json
  contrib/localnet/grafana/datasource.yaml
  contrib/localnet/prometheus/prometheus.yml
Due: none

remove irrelevant dashboards
  contrib/localnet/grafana/dashboards/cctx-analytics.json
  contrib/localnet/grafana/dashboards/e2e-testing.json
  contrib/localnet/grafana/dashboards/transaction-data.json
Due: none

fix decoding of legacy eth txs from cosmos msgs
  go.mod
  go.sum
  rpc/backend/blocks.go
  rpc/backend/tx_info.go
  rpc/types/utils.go
Due: none

add new makefile commands
  Makefile
  cmd/zetaclientd-supervisor/lib.go
  cmd/zetae2e/local/local.go
  contrib/localnet/docker-compose.yml
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/runner/runner.go
  e2e/runner/setup_sui.go
Due: none

ci: remove upgrade tests from merge queue ci
  .github/workflows/e2e.yml
Due: none

update comments
  .github/workflows/e2e.yml
  Makefile
  changelog.md
  cmd/zetaclientd-supervisor/lib.go
  e2e/runner/upgrade.go
  zetaclient/zetacore/client_vote.go
Due: zetaclient

fix tests
  rpc/backend/tx_info.go
Due: none

lint
  rpc/backend/blocks.go
Due: none

Adding ABI for precompiles
  precompiles/bank/abi.json
  precompiles/bech32/abi.json
  precompiles/distribution/abi.json
  precompiles/governance/abi.json
  precompiles/slashing/abi.json
  precompiles/staking/abi.json
Due: none

ci: remove upgrade tests from merge queue ci (#4309)
  .github/workflows/e2e.yml
Due: none

remove wait for upgrade height
  Makefile
  contrib/localnet/orchestrator/start-zetae2e.sh
Due: none

revert back 30m block
  contrib/localnet/scripts/start-zetacored.sh
Due: none

test(`e2e`): improve local stress tests to replicate better live networks (#4293)
  Makefile
  changelog.md
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/local/evm.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/performance.go
  contrib/localnet/scripts/start-zetacored.sh
  contrib/localnet/zetacored/common/app.toml
  contrib/localnet/zetacored/common/config.toml
  e2e/contracts/testgasconsumer/TestGasConsumer.abi
  e2e/contracts/testgasconsumer/TestGasConsumer.bin
  e2e/contracts/testgasconsumer/TestGasConsumer.go
  e2e/contracts/testgasconsumer/TestGasConsumer.json
  e2e/contracts/testgasconsumer/TestGasConsumer.sol
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_deposit_and_call_high_gas_usage.go
  e2e/e2etests/test_stress_eth_deposit.go
  e2e/e2etests/test_stress_eth_withdraw.go
  e2e/e2etests/test_stress_zevm.go
  e2e/txserver/zeta_tx_server.go
  e2e/utils/evm.go
  zetaclient/zetacore/client_monitor.go
Due: zetaclient

chore: fix inconsistent function name in comment (#4297)
  pkg/contracts/sui/ptb_argument.go
  zetaclient/chains/sui/signer/withdraw_and_call.go
Due: zetaclient, pkg

PR comment
  rpc/backend/blocks.go
  rpc/backend/tx_info.go
Due: none

upgrade contracts on zetaclient test
  Makefile
Due: none

fix unit test compile
  zetaclient/chains/bitcoin/signer/signer_test.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/signer/signer_test.go
Due: zetaclient

fix: stop ProcessOutboundTrackers from breaking when it finds an error
  changelog.md
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/sui/observer/outbound.go
Due: zetaclient

add unit tests
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks_test.go
Due: none

fix: stop ProcessOutboundTrackers from breaking when it finds an error (#4305)
  changelog.md
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/sui/observer/outbound.go
Due: zetaclient

fixes
  rpc/backend/blocks.go
  rpc/backend/tx_info.go
Due: none
