Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

fix function call
  x/fungible/keeper/evm_gateway.go
Due: zetacore

test for mainnet
  Makefile
  app/setup_handlers.go
Due: none

add v4 migration back for authority module
  x/authority/keeper/migrator.go
  x/authority/migrations/v4/migrate.go
  x/authority/migrations/v4/migrate_test.go
  x/authority/module.go
Due: zetacore

update setup handler to remove setting erc20 module
  Makefile
  app/setup_handlers.go
  x/authority/keeper/migrator.go
Due: none

e2e test with 2 deposits in same tx
  cmd/zetae2e/local/evm.go
  e2e/contracts/testdappv2/TestDAppV2.abi
  e2e/contracts/testdappv2/TestDAppV2.bin
  e2e/contracts/testdappv2/TestDAppV2.go
  e2e/contracts/testdappv2/TestDAppV2.json
  e2e/contracts/testdappv2/TestDAppV2.sol
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_eth_multiple_deposits.go
  go.mod
  go.sum
  zetaclient/chains/evm/observer/v2_inbound.go
Due: zetaclient

test changes
  Makefile
  cmd/zetae2e/local/evm.go
Due: none

fix lint
  x/authority/keeper/migrator.go
Due: none

feat(backport/v36): make the gas limit used for gateway calls on ZEVM a configurable parameter (#4154)
  Makefile
  changelog.md
  contrib/localnet/docker-compose.yml
  docs/openapi/openapi.swagger.yaml
  docs/spec/generated.md
  e2e/e2etests/test_admin_transactions.go
  proto/zetachain/zetacore/fungible/events.proto
  proto/zetachain/zetacore/fungible/system_contract.proto
  proto/zetachain/zetacore/fungible/tx.proto
  testutil/sample/fungible.go
  typescript/zetachain/zetacore/fungible/events_pb.ts
  typescript/zetachain/zetacore/fungible/system_contract_pb.ts
  typescript/zetachain/zetacore/fungible/tx_pb.ts
  x/authority/keeper/migrator.go
  x/authority/migrations/v3/migrate.go
  x/authority/migrations/v5/migrate.go
  x/authority/migrations/v5/migrate_test.go
  x/authority/module.go
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
  x/fungible/keeper/evm_gateway.go
  x/fungible/keeper/evm_test.go
  x/fungible/keeper/grpc_query_system_contract_test.go
  x/fungible/keeper/migrator.go
  x/fungible/keeper/msg_server_update_gateway_gas_limit.go
  x/fungible/keeper/msg_server_update_gateway_gas_limit_test.go
  x/fungible/keeper/system_contract.go
  x/fungible/keeper/system_contract_test.go
  x/fungible/migrations/v5/migrate.go
  x/fungible/migrations/v5/migrate_test.go
  x/fungible/module.go
  x/fungible/types/codec.go
  x/fungible/types/errors.go
  x/fungible/types/events.pb.go
  x/fungible/types/keys.go
  x/fungible/types/message_update_gateway_gas_limit.go
  x/fungible/types/message_update_gateway_gas_limit_test.go
  x/fungible/types/system_contract.pb.go
  x/fungible/types/tx.pb.go
Due: zetacore

revert to using v32 as base branch for upgrades
  Makefile
  app/setup_handlers.go
Due: none

do not deploy example contract in e2e tests, use pre-deployed example dapp V2 instead
  e2e/e2etests/helpers.go
  e2e/e2etests/test_solana_deposit_call.go
  e2e/e2etests/test_solana_to_zevm_call.go
  e2e/e2etests/test_spl_deposit_and_call.go
  e2e/e2etests/test_ton_call.go
  e2e/e2etests/test_ton_deposit_and_call.go
Due: none

add changelog entry
  changelog.md
Due: none

refactor: remove intx and outtx deprecated queries (#4150)
  docs/openapi/openapi.swagger.yaml
  e2e/e2etests/test_bitcoin_donation.go
  e2e/runner/require.go
  e2e/utils/zetacore.go
  proto/zetachain/zetacore/crosschain/query.proto
  typescript/zetachain/zetacore/crosschain/query_pb.ts
  x/crosschain/types/query.pb.go
  x/crosschain/types/query.pb.gw.go
Due: none

chore: remove redundant word in comment (#4149)
  app/upgrade_tracker.go
Due: none

chore: fix some typos in comment (#4146)
  app/ante/authz.go
  server/timeout.go
  zetaclient/keys/relayer_key_test.go
  zetaclient/ratelimiter/rate_limiter.go
  zetaclient/zetacore/client.go
Due: zetaclient

update to v36 and disable fast confirmation test
  Makefile
  e2e/e2etests/e2etests.go
Due: none

bitcoin fast confirmation
  e2e/e2etests/e2etests.go
Due: none

increase ersion for zeta
  e2e/e2etests/e2etests.go
Due: none

remove erc20 init handler
  app/setup_handlers.go
Due: none

disable zevm to evm revert for older version
  e2e/e2etests/e2etests.go
Due: none

disable zevm to evm revert abort for older version
  e2e/e2etests/e2etests.go
Due: none

increase upgrade height
  Makefile
  e2e/e2etests/e2etests.go
Due: none

chore: set v35 as upgrade test reference and various clean up (#4115)
  Makefile
  app/setup_handlers.go
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/proposals_e2e_end/max_gas.json
  contrib/localnet/scripts/start-zetacored.sh
  e2e/e2etests/e2etests.go
  e2e/runner/accounting.go
  e2e/runner/upgrade_v33.go
Due: none

feat: make the gas limit used for gateway calls on ZEVM a configurable parameter (#4153)
  changelog.md
  cmd/zetae2e/local/evm.go
  contrib/localnet/docker-compose.yml
  docs/openapi/openapi.swagger.yaml
  docs/spec/generated.md
  e2e/e2etests/test_admin_transactions.go
  proto/zetachain/zetacore/fungible/events.proto
  proto/zetachain/zetacore/fungible/system_contract.proto
  proto/zetachain/zetacore/fungible/tx.proto
  testutil/sample/fungible.go
  typescript/zetachain/zetacore/fungible/events_pb.ts
  typescript/zetachain/zetacore/fungible/system_contract_pb.ts
  typescript/zetachain/zetacore/fungible/tx_pb.ts
  x/authority/keeper/migrator.go
  x/authority/migrations/v3/migrate.go
  x/authority/migrations/v5/migrate.go
  x/authority/migrations/v5/migrate_test.go
  x/authority/module.go
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
  x/fungible/keeper/evm_gateway.go
  x/fungible/keeper/evm_test.go
  x/fungible/keeper/grpc_query_system_contract_test.go
  x/fungible/keeper/migrator.go
  x/fungible/keeper/msg_server_update_gateway_gas_limit.go
  x/fungible/keeper/msg_server_update_gateway_gas_limit_test.go
  x/fungible/keeper/system_contract.go
  x/fungible/keeper/system_contract_test.go
  x/fungible/migrations/v5/migrate.go
  x/fungible/migrations/v5/migrate_test.go
  x/fungible/module.go
  x/fungible/types/codec.go
  x/fungible/types/errors.go
  x/fungible/types/events.pb.go
  x/fungible/types/keys.go
  x/fungible/types/message_update_gateway_gas_limit.go
  x/fungible/types/message_update_gateway_gas_limit_test.go
  x/fungible/types/system_contract.pb.go
  x/fungible/types/tx.pb.go
Due: zetacore

add support for <withdrawcap-id> to Sui gateway address
  e2e/runner/setup_sui.go
  e2e/runner/sui_gateway_upgrade.go
  pkg/contracts/sui/gateway.go
  pkg/contracts/sui/gateway_test.go
  zetaclient/chains/sui/client/client_live_test.go
  zetaclient/chains/sui/observer/observer_test.go
  zetaclient/chains/sui/signer/signer_test.go
  zetaclient/chains/sui/signer/signer_tx.go
  zetaclient/chains/sui/signer/tss_owned_object.go
  zetaclient/chains/sui/signer/tss_owned_object_test.go
  zetaclient/orchestrator/bootstrap.go
Due: zetaclient, pkg

clean up debugging log
  e2e/e2etests/test_ton_call.go
Due: none

fix CI upgrade test failure
  e2e/runner/setup_sui.go
  e2e/runner/sui_gateway_upgrade.go
Due: none

increase further upgrade height
  Makefile
Due: none

test(`e2e`): add a gas limit option for ZEVM to EVM call tests (#4145)
  Makefile
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_zevm_to_evm_call.go
  e2e/e2etests/test_zevm_to_evm_call_revert.go
  e2e/e2etests/test_zevm_to_evm_call_revert_and_abort.go
  e2e/runner/zevm.go
Due: none

remove contextapp
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/contracts.go
  e2e/contracts/contextapp/ContextApp.abi
  e2e/contracts/contextapp/ContextApp.bin
  e2e/contracts/contextapp/ContextApp.go
  e2e/contracts/contextapp/ContextApp.json
  e2e/contracts/contextapp/ContextApp.sol
  e2e/contracts/contextapp/bindings.go
  e2e/runner/legacy_setup_zevm.go
  e2e/runner/runner.go
Due: none

remove distribute
  e2e/contracts/testdistribute/TestDistribute.abi
  e2e/contracts/testdistribute/TestDistribute.bin
  e2e/contracts/testdistribute/TestDistribute.go
  e2e/contracts/testdistribute/TestDistribute.json
  e2e/contracts/testdistribute/TestDistribute.sol
  e2e/contracts/testdistribute/bindings.go
Due: none

e2e tests
  cmd/zetae2e/local/evm.go
  e2e/contracts/testdappv2/TestDAppV2.abi
  e2e/contracts/testdappv2/TestDAppV2.bin
  e2e/contracts/testdappv2/TestDAppV2.go
  e2e/contracts/testdappv2/TestDAppV2.json
  e2e/contracts/testdappv2/TestDAppV2.sol
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_erc20_multiple_deposits.go
  e2e/e2etests/test_eth_multiple_deposits.go
  e2e/runner/evm.go
  e2e/runner/setup_evm.go
  go.mod
  go.sum
  zetaclient/chains/evm/observer/v2_inbound.go
Due: zetaclient

inbound trackers for multiple events
  zetaclient/chains/evm/observer/v2_inbound_tracker.go
Due: zetaclient

changelog
  changelog.md
Due: none

generate
  e2e/e2etests/test_erc20_multiple_deposits.go
  e2e/e2etests/test_eth_multiple_deposits.go
Due: none

chore: remove unused DynamicTicker from zetaclient/types
  zetaclient/types/dynamic_ticker.go
Due: zetaclient

fix e2e tests
  e2e/e2etests/test_erc20_multiple_deposits.go
Due: none
