Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/*.go"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "cmd/zetatool/**/*"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "simulation/*.go"
  - "pkg/contracts/**/*.go"

fix(drain): miner-fee-only BTC sweep with dust skipping
  cmd/zetatool/cli/drain.go
  cmd/zetatool/cli/drain_live_test.go
  pkg/drain/generate.go
  pkg/drain/generate_test.go
  pkg/migration/migration.go
  pkg/migration/migration_test.go
Due: pkg

fix(drain): correct BTC chain selection, guard empty final, publish cron immediately
  cmd/zetatool/cli/drain.go
  pkg/drain/server.go
  pkg/drain/server_test.go
Due: pkg

feat(drain): height-gated resumable poller, fail-closed signer gate, chain subset
  cmd/zetaclientd/drain_on.go
  cmd/zetatool/cli/drain.go
  cmd/zetatool/cli/drain_filter_test.go
  zetaclient/drain/poller.go
  zetaclient/drain/poller_test.go
Due: zetaclient

fix(drain): gate localnet anchors by build tag, right-size BTC fee, dedup input cap
  Makefile
  cmd/zetaclientd/drain_on.go
  cmd/zetatool/cli/drain_live_test.go
  e2e/runner/bitcoin.go
  pkg/drain/generate.go
  pkg/drain/generate_test.go
  pkg/drain/receivers.go
  pkg/drain/receivers_localnet.go
  pkg/drain/receivers_localnet_test.go
  pkg/drain/receivers_prod.go
  pkg/drain/receivers_prod_test.go
  pkg/drain/receivers_test.go
  pkg/migration/migration.go
  pkg/migration/migration_test.go
  zetaclient/chains/bitcoin/common/fee.go
  zetaclient/chains/bitcoin/signer/sign.go
  zetaclient/drain/poller.go
Due: zetaclient, pkg

ci(e2e): run the emergency drain test behind a DRAIN_TESTS label
  .github/workflows/e2e.yml
Due: none

chore: fix changelog, formatting, and lint for drain payload cmd
  changelog.md
  cmd/zetatool/cli/drain.go
Due: none

feat(contrib): add snapshot export tool for testnet/mainnet
  Makefile
  contrib/snapshot/export_snapshot.py
Due: none

feat(zetatool): add snapshot command to compute per-address balances
  cmd/zetatool/cli/snapshot.go
  cmd/zetatool/main.go
  cmd/zetatool/snapshot/address.go
  cmd/zetatool/snapshot/address_test.go
  cmd/zetatool/snapshot/compute.go
  cmd/zetatool/snapshot/compute_test.go
  cmd/zetatool/snapshot/output.go
  cmd/zetatool/snapshot/output_test.go
  cmd/zetatool/snapshot/parse.go
  cmd/zetatool/snapshot/parse_test.go
  cmd/zetatool/snapshot/snapshot.go
Due: none

fix(zetaclient): keep drain server up through firing window; treat already-broadcast as done
  cmd/zetatool/cli/drain.go
  zetaclient/drain/poller.go
  zetaclient/drain/poller_test.go
Due: zetaclient

docs(snapshot): add team quick-start README
  contrib/snapshot/README.md
Due: none

fix(zetaclient): address drain review — gas for multisig, resilience, replay guard
  Makefile
  cmd/zetaclientd/drain_on.go
  cmd/zetatool/cli/drain.go
  cmd/zetatool/cli/drain_test.go
  docs/rfc/002_tss_emergency_drain.md
  e2e/e2etests/test_drain_tss.go
  pkg/drain/generate.go
  pkg/drain/generate_test.go
  pkg/drain/receivers_localnet.go
  pkg/drain/receivers_prod.go
  pkg/drain/server_test.go
  pkg/draintx/payload.go
  pkg/draintx/payload_test.go
  pkg/migration/migration.go
  pkg/migration/migration_test.go
  zetaclient/chains/evm/signer/sign_drain.go
  zetaclient/drain/poller.go
  zetaclient/drain/poller_test.go
Due: zetaclient, pkg

feat(zetaclient): emergency TSS native-fund drain (backport v37)
  cmd/zetaclientd/drain_off.go
  cmd/zetaclientd/drain_on.go
  cmd/zetaclientd/drain_on_test.go
  cmd/zetaclientd/start.go
  pkg/drain/generate.go
  pkg/drain/generate_test.go
  pkg/drain/receivers.go
  pkg/drain/receivers_localnet.go
  pkg/drain/receivers_localnet_test.go
  pkg/drain/receivers_prod.go
  pkg/drain/receivers_prod_test.go
  pkg/drain/receivers_test.go
  pkg/drain/server.go
  pkg/drain/server_test.go
  pkg/draintx/payload.go
  pkg/draintx/payload_test.go
  pkg/migration/migration.go
  pkg/migration/migration_test.go
  zetaclient/chains/bitcoin/bitcoin_drain.go
  zetaclient/chains/bitcoin/common/fee.go
  zetaclient/chains/evm/evm_drain.go
  zetaclient/chains/evm/signer/sign_drain.go
  zetaclient/chains/evm/signer/sign_drain_test.go
  zetaclient/drain/fetcher.go
  zetaclient/drain/poller.go
  zetaclient/drain/poller_test.go
  zetaclient/orchestrator/orchestrator_drain.go
Due: zetaclient, pkg

feat(zetaclient): emergency TSS native-fund drain (backport v38)
  cmd/zetaclientd/drain_off.go
  cmd/zetaclientd/drain_on.go
  cmd/zetaclientd/drain_on_test.go
  cmd/zetaclientd/start.go
  pkg/drain/generate.go
  pkg/drain/generate_test.go
  pkg/drain/receivers.go
  pkg/drain/receivers_localnet.go
  pkg/drain/receivers_localnet_test.go
  pkg/drain/receivers_prod.go
  pkg/drain/receivers_prod_test.go
  pkg/drain/receivers_test.go
  pkg/drain/server.go
  pkg/drain/server_test.go
  pkg/draintx/payload.go
  pkg/draintx/payload_test.go
  pkg/migration/migration.go
  pkg/migration/migration_test.go
  zetaclient/chains/bitcoin/bitcoin_drain.go
  zetaclient/chains/bitcoin/common/fee.go
  zetaclient/chains/evm/evm_drain.go
  zetaclient/chains/evm/signer/sign_drain.go
  zetaclient/chains/evm/signer/sign_drain_test.go
  zetaclient/drain/fetcher.go
  zetaclient/drain/poller.go
  zetaclient/drain/poller_test.go
  zetaclient/orchestrator/orchestrator_drain.go
Due: zetaclient, pkg

fix(zetaclient): treat "nonce too low" drain broadcast as failure, not done
  zetaclient/drain/poller.go
  zetaclient/drain/poller_test.go
Due: zetaclient

feat(zetatool): pin non-claimable contracts from a file and verify each pin
  cmd/zetatool/cli/snapshot.go
  cmd/zetatool/cli/snapshot_test.go
  cmd/zetatool/snapshot/compute.go
  cmd/zetatool/snapshot/compute_test.go
  cmd/zetatool/snapshot/snapshot.go
  contrib/snapshot/README.md
  contrib/snapshot/pins_mainnet.txt
Due: none

fix(zetatool): pre-allocate the pin slice to satisfy prealloc
  cmd/zetatool/cli/snapshot.go
Due: none

chore(zetaclient): add drain install target and de-duplicate MaxNoOfInputsPerTx
  Makefile
  e2e/runner/bitcoin.go
  zetaclient/chains/bitcoin/signer/sign.go
Due: zetaclient

fix(zetaclient): keep drain cron alive on transient errors and make the nonce guard mempool-aware
  cmd/zetatool/cli/drain.go
  docs/rfc/002_tss_emergency_drain.md
  pkg/drain/server.go
  pkg/drain/server_test.go
  zetaclient/chains/evm/signer/sign_drain.go
  zetaclient/chains/evm/signer/sign_drain_test.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/drain/poller.go
Due: zetaclient, pkg

fix(zetaclient): keep drain cron alive on transient errors and make the nonce guard mempool-aware
  pkg/drain/server.go
  pkg/drain/server_test.go
  zetaclient/chains/evm/signer/sign_drain.go
  zetaclient/chains/evm/signer/sign_drain_test.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/drain/poller.go
Due: zetaclient, pkg

feat(zetaclient): emergency TSS native-fund drain (backport v38) (#4615)
  Makefile
  cmd/zetaclientd/drain_off.go
  cmd/zetaclientd/drain_on.go
  cmd/zetaclientd/drain_on_test.go
  cmd/zetaclientd/start.go
  e2e/runner/bitcoin.go
  pkg/drain/generate.go
  pkg/drain/generate_test.go
  pkg/drain/receivers.go
  pkg/drain/receivers_localnet.go
  pkg/drain/receivers_localnet_test.go
  pkg/drain/receivers_prod.go
  pkg/drain/receivers_prod_test.go
  pkg/drain/receivers_test.go
  pkg/drain/server.go
  pkg/drain/server_test.go
  pkg/draintx/payload.go
  pkg/draintx/payload_test.go
  pkg/migration/migration.go
  pkg/migration/migration_test.go
  zetaclient/chains/bitcoin/bitcoin_drain.go
  zetaclient/chains/bitcoin/common/fee.go
  zetaclient/chains/bitcoin/signer/sign.go
  zetaclient/chains/evm/evm_drain.go
  zetaclient/chains/evm/signer/sign_drain.go
  zetaclient/chains/evm/signer/sign_drain_test.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/drain/fetcher.go
  zetaclient/drain/poller.go
  zetaclient/drain/poller_test.go
  zetaclient/orchestrator/orchestrator_drain.go
Due: zetaclient, pkg

feat(zetaclient): emergency TSS native-fund drain (backport v37) (#4614)
  Makefile
  cmd/zetaclientd/drain_off.go
  cmd/zetaclientd/drain_on.go
  cmd/zetaclientd/drain_on_test.go
  cmd/zetaclientd/start.go
  e2e/runner/bitcoin.go
  pkg/drain/generate.go
  pkg/drain/generate_test.go
  pkg/drain/receivers.go
  pkg/drain/receivers_localnet.go
  pkg/drain/receivers_localnet_test.go
  pkg/drain/receivers_prod.go
  pkg/drain/receivers_prod_test.go
  pkg/drain/receivers_test.go
  pkg/drain/server.go
  pkg/drain/server_test.go
  pkg/draintx/payload.go
  pkg/draintx/payload_test.go
  pkg/migration/migration.go
  pkg/migration/migration_test.go
  zetaclient/chains/bitcoin/bitcoin_drain.go
  zetaclient/chains/bitcoin/common/fee.go
  zetaclient/chains/bitcoin/signer/sign.go
  zetaclient/chains/evm/evm_drain.go
  zetaclient/chains/evm/signer/sign_drain.go
  zetaclient/chains/evm/signer/sign_drain_test.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/drain/fetcher.go
  zetaclient/drain/poller.go
  zetaclient/drain/poller_test.go
  zetaclient/orchestrator/orchestrator_drain.go
Due: zetaclient, pkg

feat(drain): fill testnet receivers + operator pubkey for the Athens drain
  pkg/drain/receivers.go
Due: pkg

feat(drain): fill testnet receivers + operator pubkey on main (drain server anchors)
  pkg/drain/receivers.go
Due: pkg

test(drain): update anchor tests for configured testnet receivers
  pkg/drain/receivers_localnet_test.go
  pkg/drain/receivers_test.go
Due: pkg

test(drain): pin exact testnet anchors + operator pubkey (Greptile P2)
  pkg/drain/receivers_test.go
Due: pkg

fix(zetaclient): keep signing when the keygen record is reset
  Makefile
  changelog.md
  cmd/zetae2e/local/keygen_reset.go
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_keygen_reset_signing.go
  zetaclient/maintenance/tss_listener.go
  zetaclient/maintenance/tss_listener_test.go
  zetaclient/tss/setup.go
  zetaclient/tss/setup_test.go
Due: zetaclient

test(e2e): fund the deployer before resetting the keygen
  e2e/e2etests/test_keygen_reset_signing.go
Due: none

fix(zetaclient): harden the TSS lookup and correct the rotation note
  zetaclient/maintenance/tss_listener.go
  zetaclient/tss/setup.go
  zetaclient/tss/setup_test.go
Due: zetaclient

refactor(zetaclient): decide TSS absence from local key shares
  zetaclient/tss/setup.go
  zetaclient/tss/setup_test.go
Due: zetaclient

fix(zetaclient): retry the TSS query harder when a key share is held
  zetaclient/tss/setup.go
Due: zetaclient

fix(zetaclient): do not fail startup when local key shares are unreadable
  zetaclient/tss/setup.go
  zetaclient/tss/setup_test.go
Due: zetaclient

fix(zetaclient): never let the key share lookup block the TSS query
  zetaclient/tss/setup.go
Due: zetaclient

chore(zetaclient): tidy the key share comment
  zetaclient/tss/setup.go
Due: zetaclient
