Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

add one comment
  zetaclient/tss/tss_signer.go
Due: zetaclient

feat: add queries for tss funds migrator info (#2372)
  changelog.md
  docs/cli/zetacored/zetacored_query_observer.md
  docs/cli/zetacored/zetacored_query_observer_list-tss-funds-migrator.md
  docs/cli/zetacored/zetacored_query_observer_show-tss-funds-migrator.md
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/observer/query.proto
  typescript/zetachain/zetacore/observer/query_pb.d.ts
  x/observer/client/cli/query.go
  x/observer/client/cli/query_tss_fund_migrator.go
  x/observer/keeper/grpc_query_tss_funds_migrator_info.go
  x/observer/keeper/grpc_query_tss_funds_migrator_test.go
  x/observer/types/query.pb.go
  x/observer/types/query.pb.gw.go
Due: zetacore

add some fixes
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/tss/tss_signer.go
Due: zetaclient

Testing
  .github/workflows/publish-release.yml
Due: none

Testing
  .github/workflows/publish-release.yml
  .goreleaser.yaml
Due: none

Testing
  .goreleaser.yaml
Due: none

Refactor NewOutboundData. Reserve space for EIP-1559
  zetaclient/chains/evm/signer/gas.go
  zetaclient/chains/evm/signer/outbound_data.go
  zetaclient/chains/evm/signer/outbound_data_test.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_test.go
Due: zetaclient

enable all binaries
  .github/workflows/publish-release.yml
  .goreleaser.yaml
Due: none

adding -p to fix the issue running test in pipeline
  contrib/localnet/scripts/import-data.sh
Due: none

updated pipeline name
  .github/workflows/publish-release.yml
Due: none

fix tests
  x/observer/keeper/grpc_query_tss_funds_migrator_info.go
Due: zetacore

adjusting for comments
  .github/workflows/execute_advanced_tests.yaml
Due: none

test: add stateful upgrade test (#2364)
  .github/workflows/execute_advanced_tests.yaml
  .github/workflows/publish-release.yml
  Makefile
  changelog.md
  cmd/zetacored/parse_genesis.go
  contrib/localnet/docker-compose-upgrade.yml
  contrib/localnet/docker-compose.yml
  contrib/localnet/scripts/import-data.sh
  contrib/localnet/scripts/start-upgrade-orchestrator.sh
  contrib/localnet/scripts/start-zetacored.sh
  docs/cli/zetacored/zetacored_parse-genesis-file.md
  e2e/txserver/zeta_tx_server.go
Due: none

more lint fixes
  e2e/runner/runner.go
Due: none

zetacored from config
  Dockerfile-localnet
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetacored.sh
Due: none

localnet config and inject into orchestrator
  cmd/zetae2e/config/config_test.go
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/local/config.go
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/config/config.go
Due: none

generate keys in init
  cmd/zetae2e/init.go
Due: none

docs
  cmd/zetae2e/README.md
Due: none

fmt
  cmd/zetae2e/config/clients.go
  e2e/e2etests/test_migrate_chain_support.go
Due: none

enable all binaries
  .goreleaser.yaml
Due: none

cleanup from testing
  .github/workflows/docker-build-and-push.yml
  .github/workflows/publish-release.yml
  .goreleaser.yaml
Due: none

cleanup from testing
  .github/workflows/publish-release.yml
Due: none

s/deployer/default_account/
  cmd/zetae2e/README.md
  cmd/zetae2e/balances.go
  cmd/zetae2e/bitcoin_address.go
  cmd/zetae2e/config/config_test.go
  cmd/zetae2e/config/example.yml
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/local/local.go
  cmd/zetae2e/run.go
  cmd/zetae2e/setup_bitcoin.go
  cmd/zetae2e/show_tss.go
  cmd/zetae2e/stress.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetacored.sh
  e2e/config/config.go
  e2e/config/config_test.go
Due: none

refactor keygen
  cmd/zetaclientd/keygen_tss.go
  cmd/zetaclientd/start.go
  e2e/e2etests/test_migrate_tss_eth_funds.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/tss/tss_signer.go
Due: zetaclient

Path conditions:
  zetacore: any of: x/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  zetaclient: any of: zetaclient/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  common: any of: common/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
