Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

change original update message auth
  docs/spec/observer/messages.md
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
  x/observer/keeper/msg_server_update_operational_chain_params_test.go
Due: zetacore

changelog
  changelog.md
Due: none

Add test cases for inbounds observation
  zetaclient/chains/sui/observer/inbound.go
  zetaclient/chains/sui/observer/observer.go
  zetaclient/chains/sui/observer/observer_test.go
  zetaclient/testutils/constant.go
  zetaclient/testutils/mocks/sui_client.go
  zetaclient/testutils/mocks/sui_gen.go
Due: zetaclient

fix admin message
  e2e/e2etests/test_migrate_chain_support.go
  e2e/runner/legacy_setup_evm.go
  e2e/runner/setup_solana.go
  e2e/runner/setup_ton.go
  e2e/runner/setup_zevm.go
  x/authority/migrations/v3/migrate.go
  x/authority/migrations/v3/migrate_test.go
Due: zetacore

add e2e test
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_update_operational_chain_params.go
Due: none

remove useless balance check in e2e/e2etests/test_eth_deposit_and_call_no_message.go
  e2e/e2etests/test_eth_deposit_and_call_no_message.go
Due: none

Add test cases for inbound trackers
  zetaclient/chains/sui/observer/observer_test.go
Due: zetaclient

Update changelog
  changelog.md
Due: none

comments
  e2e/e2etests/test_update_operational_chain_params.go
  x/observer/types/chain_params.go
  x/observer/types/message_update_operational_chain_params.go
Due: zetacore

initialize message
  docs/openapi/openapi.swagger.yaml
  docs/spec/fungible/messages.md
  proto/zetachain/zetacore/fungible/tx.proto
  typescript/zetachain/zetacore/fungible/tx_pb.d.ts
  x/fungible/types/codec.go
  x/fungible/types/message_update_zrc20_name.go
  x/fungible/types/message_update_zrc20_name_test.go
  x/fungible/types/tx.pb.go
Due: zetacore

implement message
  docs/spec/fungible/messages.md
  x/fungible/keeper/msg_server_update_zrc20_name.go
  x/fungible/keeper/msg_server_update_zrc20_name_test.go
  x/fungible/keeper/zrc20_methods.go
  x/fungible/keeper/zrc20_methods_test.go
Due: zetacore

add migration authorization
  x/authority/migrations/v3/migrate.go
  x/authority/migrations/v3/migrate_test.go
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
Due: zetacore

e2e test
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_update_zrc20_name.go
Due: none

update changelog
  changelog.md
Due: none

check confirmation params only when chain id is found
  x/observer/keeper/msg_server_disable_fast_confirmation.go
  x/observer/keeper/msg_server_disable_fast_confirmation_test.go
Due: zetacore

refactor: use a more straightforward return value
  rpc/backend/node_info.go
Due: none

fix updatechainparams authority
  e2e/e2etests/test_migrate_chain_support.go
  e2e/runner/legacy_setup_evm.go
  e2e/txserver/zeta_tx_server.go
Due: none

change order admin test
  cmd/zetae2e/local/local.go
Due: none

complete test
  e2e/e2etests/test_update_zrc20_name.go
Due: none

further fix
  e2e/runner/setup_solana.go
  e2e/runner/setup_ton.go
  e2e/runner/setup_zevm.go
Due: none

fix test
  e2e/e2etests/test_update_zrc20_name.go
Due: none

fix event index
  cmd/zetatool/chains/evm.go
  x/crosschain/client/cli/tx_vote_inbound.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/types/inbound_parsing.go
  x/crosschain/types/message_vote_inbound.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/sui/observer/inbound.go
  zetaclient/zetacore/tx.go
Due: zetacore, zetaclient

test create withdraw in onAbort
  e2e/contracts/testabort/TestAbort.bin
  e2e/contracts/testabort/TestAbort.go
  e2e/contracts/testabort/TestAbort.json
  e2e/contracts/testabort/TestAbort.sol
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_eth_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_eth_withdraw_revert_and_abort.go
Due: none

abort because no fee
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_erc20_deposit_revert_and_abort.go
  e2e/e2etests/test_eth_withdraw_revert_and_abort.go
Due: none

Fix message constructor
  pkg/contracts/sui/inbound.go
  zetaclient/chains/sui/observer/inbound.go
  zetaclient/chains/sui/observer/observer_test.go
Due: zetaclient, pkg

comments
  proto/zetachain/zetacore/fungible/tx.proto
  x/fungible/keeper/zrc20_methods.go
Due: zetacore

feat(fungible): implement `MsgUpdateZRC20Name` (#3541)
  changelog.md
  cmd/zetae2e/local/local.go
  docs/openapi/openapi.swagger.yaml
  docs/spec/fungible/messages.md
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_update_zrc20_name.go
  proto/zetachain/zetacore/fungible/tx.proto
  typescript/zetachain/zetacore/fungible/tx_pb.d.ts
  x/authority/migrations/v3/migrate.go
  x/authority/migrations/v3/migrate_test.go
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
  x/fungible/keeper/msg_server_update_zrc20_name.go
  x/fungible/keeper/msg_server_update_zrc20_name_test.go
  x/fungible/keeper/zrc20_methods.go
  x/fungible/keeper/zrc20_methods_test.go
  x/fungible/types/codec.go
  x/fungible/types/message_update_zrc20_name.go
  x/fungible/types/message_update_zrc20_name_test.go
  x/fungible/types/tx.pb.go
Due: zetacore

PR fixes
  pkg/contracts/sui/gateway.go
Due: pkg

fix amount for withdraw
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_eth_withdraw_revert_and_abort.go
Due: none

fix test v2
  e2e/e2etests/test_eth_withdraw_revert_and_abort.go
Due: none

feat(zetaclient): SUI deposits (#3534)
  changelog.md
  cmd/zetatool/chains/evm.go
  pkg/contracts/sui/gateway.go
  pkg/contracts/sui/gateway_test.go
  pkg/contracts/sui/inbound.go
  pkg/contracts/sui/inbound_test.go
  x/crosschain/client/cli/tx_vote_inbound.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/types/inbound_parsing.go
  x/crosschain/types/message_vote_inbound.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/sui/client/client.go
  zetaclient/chains/sui/client/client_live_test.go
  zetaclient/chains/sui/observer/inbound.go
  zetaclient/chains/sui/observer/observer.go
  zetaclient/chains/sui/observer/observer_test.go
  zetaclient/chains/sui/sui.go
  zetaclient/orchestrator/v2_bootstrap.go
  zetaclient/testutils/constant.go
  zetaclient/testutils/mocks/sui_client.go
  zetaclient/testutils/mocks/sui_gen.go
  zetaclient/zetacore/tx.go
Due: zetacore, zetaclient, pkg

Update x/observer/keeper/msg_server_update_operational_chain_params.go
  x/observer/keeper/msg_server_update_operational_chain_params.go
Due: zetacore

some fixes
  e2e/runner/zevm.go
  zetaclient/chains/ton/observer/inbound.go
Due: zetaclient

comment
  e2e/txserver/zeta_tx_server.go
Due: none

refactor: use a more straightforward return value (#3542)
  rpc/backend/node_info.go
Due: none

chore(zetaclient): reduce default scheduler interval to 10 seconds (#3528)
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
Due: pkg

remove log
  e2e/e2etests/test_eth_withdraw_revert_and_abort.go
Due: none

generate
  e2e/e2etests/test_eth_withdraw_revert_and_abort.go
Due: none

feat(observer): implement `MsgUpdateOperationalChainParams` (#3538)
  changelog.md
  cmd/zetae2e/local/local.go
  docs/openapi/openapi.swagger.yaml
  docs/spec/observer/messages.md
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/e2etests/test_update_operational_chain_params.go
  e2e/runner/legacy_setup_evm.go
  e2e/runner/setup_solana.go
  e2e/runner/setup_ton.go
  e2e/runner/setup_zevm.go
  e2e/txserver/zeta_tx_server.go
  proto/zetachain/zetacore/observer/tx.proto
  typescript/zetachain/zetacore/observer/tx_pb.d.ts
  x/authority/migrations/v3/migrate.go
  x/authority/migrations/v3/migrate_test.go
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
  x/observer/keeper/msg_server_update_chain_params_test.go
  x/observer/keeper/msg_server_update_operational_chain_params.go
  x/observer/keeper/msg_server_update_operational_chain_params_test.go
  x/observer/simulation/operation_update_chain_params.go
  x/observer/types/chain_params.go
  x/observer/types/chain_params_test.go
  x/observer/types/codec.go
  x/observer/types/message_update_chain_params.go
  x/observer/types/message_update_operational_chain_params.go
  x/observer/types/message_update_operational_chain_params_test.go
  x/observer/types/tx.pb.go
  zetaclient/context/app.go
  zetaclient/orchestrator/contextupdater.go
Due: zetacore, zetaclient

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
