Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/*.go"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "cmd/zetatool/**/*"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "simulation/*.go"
  - "pkg/contracts/**/*.go"

fix(zetaclient): keep signing when the keygen record is reset (backport v38) (#4627)
  zetaclient/maintenance/tss_listener.go
  zetaclient/maintenance/tss_listener_test.go
  zetaclient/tss/service.go
  zetaclient/tss/setup.go
  zetaclient/tss/setup_test.go
Due: zetaclient

test(e2e): cover the capped drain rehearsal end to end
  .github/workflows/e2e.yml
  e2e/e2etests/test_drain_tss.go
Due: none

test(e2e): cover the capped drain rehearsal end to end (#4631)
  .github/workflows/e2e.yml
  e2e/e2etests/test_drain_tss.go
Due: none

fix(ci): build drain artifacts inside goreleaser-cross, not bare ubuntu-latest
  .github/workflows/build-drain-artifacts.yml
Due: none

fix(ci): build drain artifacts inside goreleaser-cross, not bare ubuntu-latest (#4632)
  .github/workflows/build-drain-artifacts.yml
Due: none

fix(ci): override goreleaser-cross's entrypoint to get a shell
  .github/workflows/build-drain-artifacts.yml
Due: none

fix(ci): override goreleaser-cross entrypoint in drain build (#4633)
  .github/workflows/build-drain-artifacts.yml
Due: none

fix(ci): disable go build's VCS auto-stamping in the drain build
  .github/workflows/build-drain-artifacts.yml
Due: none

fix(ci): disable go build VCS auto-stamping in drain build (#4634)
  .github/workflows/build-drain-artifacts.yml
Due: none

test: assert vesting-account creation is rejected via group proposal
  app/ante/authz_test.go
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_disallow_vesting_via_group_proposal.go
Due: none

docs: add changelog entry for #4635
  changelog.md
Due: none

test: address review — bind to real disabled-msg list, cover periodic + gov
  app/ante/authz_integration_test.go
  app/ante/authz_test.go
  app/app.go
Due: none

test(ante): address review — share ante options, tag-gate, no-retry broadcast
  app/ante/authz_integration_test.go
  app/ante/authz_test.go
  app/app.go
  e2e/e2etests/test_disallow_vesting_via_group_proposal.go
  e2e/txserver/zeta_tx_server.go
Due: none

test: assert vesting-account creation is rejected via group proposal (#4635)
  app/ante/authz_integration_test.go
  app/ante/authz_test.go
  app/app.go
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_disallow_vesting_via_group_proposal.go
  e2e/txserver/zeta_tx_server.go
Due: none

build(drain): set mainnet drain anchors — drain-build/mainnet-client-v37
  pkg/drain/receivers.go
Due: pkg

build(drain): set mainnet drain anchors — drain-build/mainnet-server-main
  pkg/drain/receivers.go
Due: pkg

chore: key Bitcoin testnet4 DNS seeds
  pkg/chains/bitcoin_testnet4.go
Due: pkg

fix(security): bump cosmos/evm to GHSA Aug-2026 patched commit (mainnet/v36)
  go.mod
  go.sum
Due: none

fix(security): bump cosmos/evm to GHSA Aug-2026 patched commit (testnet/v37)
  go.mod
  go.sum
Due: none

fix(security): bump evm to GHSA Aug-2026 patched commit (testnet/v37) (#4638)
  go.mod
  go.sum
Due: none

fix(security): bump evm to GHSA Aug-2026 patched commit (mainnet/v36) (#4637)
  go.mod
  go.sum
Due: none

fix(security): pin evm to the deployed commit, not the merged tip (mainnet/v36)
  go.mod
  go.sum
Due: none

fix(security): pin evm to the deployed commit, not the merged tip (testnet/v37)
  go.mod
  go.sum
Due: none

fix(security): pin evm to the deployed commit, not the merged tip (mainnet/v36) (#4639)
  go.mod
  go.sum
Due: none

fix(rpc): exit newPendingTransactions goroutine when event channel is closed
  rpc/websockets.go
Due: none

changelog
  changelog.md
Due: none

refactor(crypto): use slices.Sort for public keys
  pkg/crypto/pubkey.go
Due: pkg

refactor(graceful): use slices.Backward
  pkg/graceful/graceful.go
Due: pkg

fix(zetaclient): return early in Bitcoin refreshPendingNonce when pending nonces query fails
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/observer/utxos_test.go
Due: zetaclient

chore: add changelog entry
  changelog.md
Due: none

ci: remove simulation test workflow
  .github/workflows/reusable-sim.yml
  .github/workflows/sim.yml
Due: none

docs: add changelog entry for #4645
  changelog.md
Due: none

ci: remove simulation test workflow (#4645)
  .github/workflows/reusable-sim.yml
  .github/workflows/sim.yml
  changelog.md
Due: none
