Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

improve unit test coverage
  x/fungible/keeper/deposits.go
  x/fungible/keeper/deposits_test.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/evm_gateway.go
  x/fungible/keeper/evm_gateway_test.go
  x/fungible/keeper/zeta.go
  x/fungible/types/errors.go
Due: zetacore

reorganize sui e2e tests for incoming adoption of authenticated withdraw and call
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/contracts.go
  e2e/config/config.go
  e2e/contracts/sui/bin/arbi_call_connected.mv
  e2e/contracts/sui/bin/arbi_call_token.mv
  e2e/contracts/sui/bin/bin.go
  e2e/contracts/sui/bin/evm.mv
  e2e/contracts/sui/bin/fake_usdc.mv
  e2e/contracts/sui/bin/gateway.mv
  e2e/contracts/sui/example-arbitrary-call/.gitignore
  e2e/contracts/sui/example-arbitrary-call/Makefile
  e2e/contracts/sui/example-arbitrary-call/Move.lock
  e2e/contracts/sui/example-arbitrary-call/Move.toml
  e2e/contracts/sui/example-arbitrary-call/README.md
  e2e/contracts/sui/example-arbitrary-call/sources/example.move
  e2e/contracts/sui/example-arbitrary-call/sources/token.move
  e2e/contracts/sui/example-authenticated-call/.gitignore
  e2e/contracts/sui/example-authenticated-call/Makefile
  e2e/contracts/sui/example-authenticated-call/Move.toml
  e2e/contracts/sui/example-authenticated-call/README.md
  e2e/contracts/sui/example-authenticated-call/sources/example.move
  e2e/contracts/sui/example-authenticated-call/sources/token.move
  e2e/contracts/sui/gateway.mv
  e2e/contracts/sui/protocol-contracts-sui-upgrade/sources/gateway.move
  e2e/e2etests/test_sui_token_withdraw_and_call.go
  e2e/e2etests/test_sui_token_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_sui_withdraw_and_call.go
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call.go
  e2e/runner/runner.go
  e2e/runner/setup_sui.go
  e2e/runner/sui.go
Due: none

lint fixes
  app/app.go
  e2e/e2etests/helpers.go
  e2e/e2etests/legacy/test_eth_withdraw.go
  e2e/e2etests/legacy/test_rate_limiter.go
  e2e/e2etests/test_donation.go
  e2e/e2etests/test_eth_withdraw_restricted_address.go
  e2e/e2etests/test_sui_token_withdraw_and_call.go
  e2e/e2etests/test_sui_token_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_sui_withdraw.go
  e2e/e2etests/test_sui_withdraw_and_call.go
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_sui_withdraw_invalid_receiver.go
  e2e/e2etests/test_sui_withdraw_restricted_address.go
  e2e/e2etests/test_sui_withdraw_revert_with_call.go
  e2e/runner/evm.go
  e2e/runner/legacy_evm.go
  e2e/runner/legacy_zevm.go
  e2e/runner/logger.go
  e2e/runner/solana.go
  e2e/runner/ton.go
  testutil/keeper/crosschain.go
  testutil/keeper/fungible.go
  testutil/keeper/keeper.go
  x/crosschain/keeper/evm_hooks.go
  x/fungible/keeper/evm_hooks.go
  x/observer/migrations/v11/migrate.go
Due: zetacore

use keys cmd from fork
  cmd/zetacored/keys.go
  cmd/zetacored/root.go
  go.mod
  go.sum
Due: none

gosec
  cmd/zetacored/root.go
  e2e/txserver/zeta_tx_server.go
  rpc/backend/backend.go
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks_test.go
  rpc/backend/node_info.go
  rpc/backend/tx_info.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/debug/trace.go
  rpc/namespaces/ethereum/debug/utils.go
  rpc/types/utils.go
  server/start.go
  zetaclient/zetacore/client.go
Due: zetaclient

gosec
  rpc/backend/blocks_test.go
Due: none

try to fix rpcimportable
  contrib/rpcimportable/go.mod
Due: none

nosec
  rpc/backend/node_info.go
Due: none

adjust sui WAC payload builder arguments
  cmd/zetae2e/local/local.go
  e2e/contracts/sui/bin/auth_call_connected.mv
  e2e/contracts/sui/example-authenticated-call/sources/example.move
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_sui_token_withdraw_and_call.go
  e2e/e2etests/test_sui_token_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_sui_withdraw_and_authenticated_call.go
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call.go
  e2e/runner/sui.go
Due: none

fix sim tests
  simulation/simulation.go
  simulation/simulation_test.go
Due: none

feat(ton): integrate new functionality (#3977)
  .golangci.yml
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_ton_call.go
  e2e/e2etests/test_ton_withdraw_masterchain.go
  e2e/e2etests/test_ton_withdraw_restricted.go
  e2e/e2etests/test_ton_withdrawal.go
  e2e/e2etests/test_ton_withdrawal_concurrent.go
  e2e/runner/run.go
  e2e/runner/ton.go
  e2e/utils/contracts.go
  pkg/contracts/ton/gateway.compiled.json
  pkg/contracts/ton/gateway_msg.go
  pkg/contracts/ton/gateway_parse.go
  pkg/contracts/ton/gateway_send.go
  pkg/contracts/ton/gateway_test.go
  pkg/contracts/ton/gateway_tx.go
  pkg/contracts/ton/testdata/08-call-abi.json
  pkg/contracts/ton/testdata/09-increase-seqno.json
  testutil/sample/ton.go
  testutil/sample/zetaclient.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/inbound_test.go
  zetaclient/chains/ton/observer/observer.go
  zetaclient/chains/ton/observer/outbound.go
  zetaclient/chains/ton/rpc/client_live_test.go
  zetaclient/chains/ton/rpc/types.go
  zetaclient/chains/ton/signer/signer.go
  zetaclient/chains/ton/signer/signer_compose.go
  zetaclient/chains/ton/signer/signer_test.go
  zetaclient/chains/ton/signer/signer_tracker.go
  zetaclient/chains/ton/ton.go
  zetaclient/compliance/compliance.go
Due: zetaclient, pkg

fix tests
  Makefile
  rpc/backend/backend_suite_test.go
  simulation/simulation_test.go
  testutil/keeper/keeper.go
Due: none

Improve logging
  pkg/scheduler/scheduler.go
  pkg/scheduler/tickers.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/evm/signer/outbound_tracker_reporter.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/signer/outbound_tracker_reporter.go
  zetaclient/chains/sui/observer/outbound.go
  zetaclient/chains/ton/observer/outbound.go
  zetaclient/chains/ton/signer/signer.go
  zetaclient/zetacore/client_monitor.go
  zetaclient/zetacore/client_vote.go
Due: zetaclient, pkg

update sim.yml
  .github/workflows/sim.yml
Due: none

add changelog
  .github/workflows/sim.yml
  changelog.md
Due: none

fix unit tests
  x/fungible/keeper/deposits_test.go
  zetaclient/zetacore/client_test.go
Due: zetacore, zetaclient

ci: run simualtion tests nightly (#3999)
  .github/workflows/sim.yml
  changelog.md
Due: none

update comment for handling zeta token zrc20
  x/fungible/keeper/deposits.go
Due: zetacore

test: lower Bitcoin E2E deposit tx fee to make nightly test cheaper (#3989)
  e2e/runner/bitcoin.go
Due: none

chore: fix some comments (#3993)
  zetaclient/chains/bitcoin/client/helpers_test.go
  zetaclient/chains/bitcoin/observer/witness.go
Due: zetaclient

test: add connector fund migration e2e test using contracts only (#3976)
  .github/workflows/e2e.yml
  Makefile
  changelog.md
  cmd/zetae2e/local/local.go
  contrib/localnet/docker-compose.yml
  e2e/e2etests/e2etests.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_erc20_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_migrate_connector_funds.go
  e2e/e2etests/test_v2_zeta_deposit.go
  e2e/runner/evm.go
  e2e/runner/legacy_zevm.go
  e2e/runner/runner.go
  e2e/runner/setup_evm.go
  pkg/constant/constant.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  zetaclient/chains/evm/observer/v2_inbound.go
Due: zetacore, zetaclient, pkg

generate
  e2e/e2etests/helpers.go
Due: none

add test for deposit with big payload
  cmd/zetae2e/local/evm.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_eth_deposit_and_call_big_payload.go
Due: none

generate
  changelog.md
  e2e/e2etests/test_eth_deposit_and_call_big_payload.go
Due: none

update contract version
  go.mod
  go.sum
Due: none

add e2e test
  cmd/zetae2e/local/evm.go
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_zeta_withdraw.go
  e2e/runner/zevm.go
Due: none

try removing test
  cmd/zetae2e/local/evm.go
Due: none

fix wrong method called
  cmd/zetae2e/local/evm.go
  x/fungible/keeper/evm_gateway.go
Due: zetacore

Update zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/outbound.go
Due: zetaclient

PR fixes
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/evm/observer/v2_inbound.go
Due: zetaclient

lint
  zetaclient/chains/evm/observer/outbound.go
Due: zetaclient

docs: generate docs in a single file
  docs/spec/authority/messages.md
  docs/spec/crosschain/messages.md
  docs/spec/crosschain/overview.md
  docs/spec/emissions/messages.md
  docs/spec/emissions/overview.md
  docs/spec/fungible/messages.md
  docs/spec/fungible/overview.md
  docs/spec/generated.md
  docs/spec/lightclient/messages.md
  docs/spec/observer/messages.md
  docs/spec/observer/overview.md
  scripts/gen-spec.go
Due: none

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
