Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

Rename SUI token name to be generic
  e2e/runner/balances.go
Due: none

fix format
  e2e/runner/balances.go
Due: none

capitalize sui token name
  e2e/runner/balances.go
Due: none

fix generated file
  x/observer/client/cli/tx_update_gas_price_increase_flags.go
Due: none

test(e2e): add sui in balance command (#3712)
  e2e/config/config.go
  e2e/runner/balances.go
Due: none

chore: tune zetae2e run (#3737)
  cmd/zetae2e/main.go
  cmd/zetae2e/run.go
Due: none

fix: bump add outbound tracker gas limit (#3736)
  zetaclient/zetacore/constant.go
Due: zetaclient

adjust SignRBFTx to work with local E2E test
  zetaclient/chains/bitcoin/signer/sign_rbf.go
  zetaclient/chains/bitcoin/signer/sign_rbf_test.go
  zetaclient/chains/bitcoin/signer/signer.go
Due: zetaclient

Bump go-tss
  go.mod
  go.sum
  zetaclient/tss/service.go
  zetaclient/tss/service_test.go
  zetaclient/tss/setup.go
Due: zetaclient

feat: (BitcoinRBF-Step1) `zetacore` increast gas price in pending Bitcoin CCTXs and burns additional fees (#3377)
  changelog.md
  docs/cli/zetacored/cli.md
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/observer/crosschain_flags.proto
  testutil/sample/crosschain.go
  testutil/sample/observer.go
  typescript/zetachain/zetacore/observer/crosschain_flags_pb.d.ts
  x/crosschain/keeper/abci.go
  x/crosschain/keeper/abci_test.go
  x/crosschain/module.go
  x/crosschain/types/errors.go
  x/crosschain/types/message_vote_gas_price.go
  x/crosschain/types/message_vote_gas_price_test.go
  x/observer/client/cli/tx_update_gas_price_increase_flags.go
  x/observer/types/crosschain_flags.go
  x/observer/types/crosschain_flags.pb.go
  x/observer/types/message_update_gas_price_increase_flags.go
  x/observer/types/message_update_gas_price_increase_flags_test.go
Due: zetacore

chore(e2e): ensure tests exit if any error
  cmd/zetae2e/run.go
Due: none

chore: use setup-go directly in ci.yml
  .github/actions/install-dependencies/action.yml
  .github/workflows/ci.yml
Due: none

code clean up; improve comments
  zetaclient/chains/bitcoin/common/fee.go
  zetaclient/chains/bitcoin/observer/mempool.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/common/constant.go
Due: zetaclient

add doc
  docs/zetacore/gas_fee.md
  docs/zetacore/managment_for_unused_gas_fee.md
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/crosschain/types/keys.go
Due: zetacore

handle invalid gas priority fee explicitly
  zetaclient/chains/bitcoin/signer/outbound_data.go
  zetaclient/chains/bitcoin/signer/outbound_data_test.go
Due: zetaclient

print ton wallet address
  e2e/runner/balances.go
Due: none

fix variables assignment
  e2e/runner/balances.go
Due: none

remove .ToRaw() method when fetching ton address
  e2e/runner/balances.go
Due: none

Add debug messages for TON addresses
  e2e/runner/balances.go
Due: none

test tostring
  e2e/runner/balances.go
Due: none

Update message
  e2e/runner/balances.go
Due: none

add unit test for migration
  docs/openapi/openapi.swagger.yaml
  docs/zetacore/managment_for_unused_gas_fee.md
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  proto/zetachain/zetacore/observer/params.proto
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.d.ts
  typescript/zetachain/zetacore/observer/params_pb.d.ts
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/gas_payment.go
  x/crosschain/keeper/msg_server_vote_inbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/observer/keeper/migrator.go
  x/observer/migrations/v11/migrate.go
  x/observer/migrations/v11/migrate_test.go
  x/observer/module.go
  x/observer/types/chain_params.go
  x/observer/types/chain_params_test.go
  x/observer/types/errors.go
  x/observer/types/params.pb.go
Due: zetacore

add check for pre upgrade cctxs
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
Due: zetacore

add older logic for handling cctxs created before upgrade
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
Due: zetacore

remove LegacyChainParams
  proto/zetachain/zetacore/observer/params.proto
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/crosschain/types/keys.go
  x/observer/types/params.pb.go
Due: zetacore

add unit test for refund gas fee
  testutil/keeper/mocks/crosschain/fungible.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/crosschain/types/expected_keepers.go
  x/crosschain/types/inbound_parsing.go
  x/fungible/keeper/gas_stability_pool.go
  x/fungible/keeper/refund_gas_fee.go
  x/fungible/keeper/refund_gas_fee_test.go
Due: zetacore

remove old migration
  x/crosschain/types/inbound_parsing.go
  x/observer/keeper/migrator.go
  x/observer/migrations/v10/migrate.go
  x/observer/migrations/v10/migrate_test.go
  x/observer/migrations/v11/migrate_test.go
Due: zetacore

add temp note for PR review
  x/crosschain/types/inbound_parsing.go
Due: zetacore

fix typo
  testutil/keeper/mocks/crosschain/fungible.go
  x/crosschain/types/errors.go
Due: none

fix typo
  changelog.md
  testutil/keeper/mocks/crosschain/fungible.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/types/cctx.go
  x/crosschain/types/errors.go
Due: zetacore

generate files
  typescript/zetachain/zetacore/observer/params_pb.d.ts
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/fungible/keeper/gas_stability_pool.go
  x/fungible/keeper/refund_gas_fee.go
Due: zetacore

Remove failing bits and print raw
  e2e/runner/balances.go
Due: none

print ton balance
  e2e/runner/balances.go
Due: none

add missing }
  e2e/runner/balances.go
Due: none

add missing test case
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
Due: zetacore

add missing test case
  x/crosschain/keeper/v2_zevm_inbound.go
Due: zetacore

chore(e2e): ensure tests exit if any error (#3744)
  cmd/zetae2e/run.go
Due: none

Debug message for failed retrieval of TON wallet addr
  e2e/e2etests/test_ton_deposit.go
Due: none

Debug message on deposit fee
  e2e/e2etests/test_ton_deposit.go
Due: none

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
