Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      common:
        if_ci_failed: error
        target: 60%
        flags:
          - common

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    carryforward: true
    paths:
      - "x/"
  zetaclient:
    carryforward: true
    paths:
      - "zetaclient/"
  common:
    carryforward: true
    paths:
      - "common/"

ignore:
  - "x/**/client/"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - "*.pb.gw.go"
  - "*.json"
  - ".github/"
  - "app/"
  - "cmd/"
  - "contrib/"
  - "docs/"
  - "rpc/"
  - "proto/"
  - "scripts/"
  - "server/"
  - "testutil/"
  - "typescript/"

move changelog to unreleased
  changelog.md
  cmd/zetaclientd/start.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/client_query_observer.go
  zetaclient/zetacore/client_query_test.go
Due: zetaclient

Add bg.OnComplete
  pkg/bg/bg.go
  pkg/bg/bg_test.go
Due: none

refactor: move localnet monitoring to profile (#2574)
  Makefile
  contrib/localnet/docker-compose-monitoring.yml
  contrib/localnet/docker-compose.yml
  contrib/localnet/grafana/dashboards/log_browser.json
  contrib/localnet/grafana/datasource.yaml
  contrib/localnet/grafana/get-tss-address.sh
  contrib/localnet/promtail/config.yaml
Due: none

fix(e2e): update performance test parameters and bump go-tss (#2563)
  Makefile
  cmd/zetae2e/local/performance.go
  cmd/zetae2e/local/test_runner.go
  go.mod
  go.sum
Due: none

fix(ci): remove job concurrency (#2595)
  .github/workflows/build.yml
Due: none

ci: run on PRs to all base branches
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/sast-linters.yml
Due: none

Add maintenance package. Move TSS listener to maintenance
  cmd/zetaclientd/start.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/context/app.go
  zetaclient/maintenance/tss_listener.go
  zetaclient/zetacore/client_tss_migration_listners.go
Due: zetaclient

chore: use cometbft-db
  go.mod
  go.sum
Due: none

add test bodies
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_v2_erc20_deposit.go
  e2e/e2etests/test_v2_erc20_deposit_and_call.go
  e2e/e2etests/test_v2_erc20_withdraw.go
  e2e/e2etests/test_v2_erc20_withdraw_and_call.go
  e2e/e2etests/test_v2_eth_deposit.go
  e2e/e2etests/test_v2_eth_deposit_and_call.go
  e2e/e2etests/test_v2_eth_withdraw.go
  e2e/e2etests/test_v2_eth_withdraw_and_call.go
  e2e/e2etests/test_v2_evm_to_zevm_call.go
  e2e/e2etests/test_v2_zevm_to_evm_call.go
Due: none

chore: use cometbft-db (#2536)
  go.mod
  go.sum
Due: none

add makefile entry
  Makefile
  cmd/zetae2e/local/local.go
Due: none

import
  cmd/zetae2e/local/v2.go
  e2e/e2etests/test_v2_erc20_deposit.go
  e2e/e2etests/test_v2_erc20_deposit_and_call.go
  e2e/e2etests/test_v2_erc20_withdraw.go
  e2e/e2etests/test_v2_erc20_withdraw_and_call.go
  e2e/e2etests/test_v2_eth_deposit.go
  e2e/e2etests/test_v2_eth_deposit_and_call.go
  e2e/e2etests/test_v2_eth_withdraw.go
  e2e/e2etests/test_v2_eth_withdraw_and_call.go
  e2e/e2etests/test_v2_evm_to_zevm_call.go
  e2e/e2etests/test_v2_zevm_to_evm_call.go
  e2e/runner/v2_evm.go
  e2e/runner/v2_zevm.go
Due: none

feat(E2E): add body for smart contract V2 tests (#2609)
  Makefile
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/v2.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_v2_erc20_deposit.go
  e2e/e2etests/test_v2_erc20_deposit_and_call.go
  e2e/e2etests/test_v2_erc20_withdraw.go
  e2e/e2etests/test_v2_erc20_withdraw_and_call.go
  e2e/e2etests/test_v2_eth_deposit.go
  e2e/e2etests/test_v2_eth_deposit_and_call.go
  e2e/e2etests/test_v2_eth_withdraw.go
  e2e/e2etests/test_v2_eth_withdraw_and_call.go
  e2e/e2etests/test_v2_evm_to_zevm_call.go
  e2e/e2etests/test_v2_zevm_to_evm_call.go
  e2e/runner/v2_evm.go
  e2e/runner/v2_zevm.go
Due: none

ci: run on PRs to all base branches (#2607)
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/sast-linters.yml
Due: none

chore: backport ci/e2e fixes to v19 (#2605)
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/sast-linters.yml
  Dockerfile-localnet
  Makefile
  cmd/zetae2e/local/performance.go
  cmd/zetae2e/local/test_runner.go
  contrib/localnet/docker-compose-monitoring.yml
  contrib/localnet/docker-compose.yml
  contrib/localnet/grafana/dashboards/log_browser.json
  contrib/localnet/grafana/datasource.yaml
  contrib/localnet/grafana/get-tss-address.sh
  contrib/localnet/preparams/zetaclient0.json
  contrib/localnet/preparams/zetaclient1.json
  contrib/localnet/preparams/zetaclient2.json
  contrib/localnet/preparams/zetaclient3.json
  contrib/localnet/promtail/config.yaml
  contrib/localnet/scripts/start-zetaclientd.sh
  go.mod
  go.sum
Due: none

resolve 1st wave of comments in PR review
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/e2etests/test_solana_deposit.go
  e2e/e2etests/test_solana_withdraw.go
  e2e/runner/setup_solana.go
  e2e/runner/solana.go
  pkg/contract/solana/gateway.go
  pkg/contract/solana/gateway_message.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/solana/observer/observer_gas.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/orchestrator/bootstrap.go
Due: zetaclient

refactor tracker cleanup
  cmd/zetae2e/local/local.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
Due: zetacore

resolve 2nd wave of comments
  cmd/zetaclientd/init.go
  e2e/e2etests/test_solana_withdraw.go
  e2e/runner/setup_solana.go
  e2e/runner/solana.go
  pkg/contracts/solana/gateway.go
  pkg/contracts/solana/gateway.json
  pkg/contracts/solana/gateway_message.go
  pkg/contracts/solana/gateway_message_test.go
  pkg/contracts/solana/idl.go
  pkg/contracts/solana/instruction.go
  pkg/contracts/solana/instruction_test.go
  pkg/contracts/solana/pda.go
  x/observer/types/chain_params.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/observer.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/observer/outbound_test.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/orchestrator_test.go
Due: zetacore, zetaclient

add changelog
  changelog.md
  docs/cli/zetacored/zetacored_tx_fungible_update-gateway-contract.md
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
Due: zetacore

refactor IsOutboundProcessed as VoteOutboundIfConfirmed; move outbound tracker iteration logic into ProcessOutboundTrackers sub method
  cmd/zetaclientd/init.go
  cmd/zetaclientd/solana_test_key.go
  docs/cli/zetacored/zetacored_tx_fungible_update-gateway-contract.md
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/evm/signer/outbound_data.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/testutils/mocks/chain_clients.go
Due: zetaclient

resolve 3rd wave of PR feedback
  pkg/contracts/solana/instruction.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/observer/outbound_test.go
  zetaclient/chains/solana/signer/outbound_tracker_reporter.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/withdraw.go
Due: zetaclient

added description to explain what do we do about the outbound tracker txHash
  zetaclient/chains/solana/observer/outbound.go
Due: zetaclient

update system contracts
  e2e/txserver/zeta_tx_server.go
  go.mod
  go.sum
Due: none

add protocol contract version in cctx
  Makefile
  docs/cli/zetacored/zetacored_tx_crosschain_vote-inbound.md
  docs/cli/zetacored/zetacored_tx_fungible_update-gateway-contract.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  e2e/runner/v2_setup_zeta.go
  e2e/txserver/zeta_tx_server.go
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  proto/zetachain/zetacore/crosschain/tx.proto
  testutil/sample/crosschain.go
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.d.ts
  typescript/zetachain/zetacore/crosschain/tx_pb.d.ts
  x/crosschain/client/cli/tx_vote_inbound.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/message_vote_inbound.go
  x/crosschain/types/message_vote_inbound_test.go
  x/crosschain/types/tx.pb.go
  zetaclient/zetacore/tx.go
Due: zetacore, zetaclient

read deposit from ZetaClient
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/evm/validation.go
Due: zetaclient

deposit gas token
  testutil/keeper/crosschain.go
  testutil/keeper/mocks/crosschain/fungible.go
  x/crosschain/keeper/evm_deposit.go
  x/crosschain/keeper/evm_deposit_test.go
  x/crosschain/types/expected_keepers.go
  x/fungible/keeper/deposits.go
  x/fungible/keeper/deposits_test.go
  x/fungible/keeper/v2_deposits.go
Due: zetacore

Add `pkg/ticker`
  pkg/ticker/ticker.go
  pkg/ticker/ticker_test.go
Due: none

Sample ticker usage in evm observer
  pkg/ticker/ticker.go
  zetaclient/chains/evm/observer/inbound.go
Due: zetaclient

add extra tests for pending nonces
  x/observer/keeper/pending_nonces_test.go
Due: zetacore

add additional error message; add additional method comment
  pkg/contracts/solana/gateway.go
  zetaclient/chains/base/signer.go
Due: zetaclient

fix gosec err
  cmd/zetaclientd/solana_test_key.go
  zetaclient/config/types.go
Due: zetaclient

add more checks for ballot index
  cmd/zetae2e/local/local.go
  testutil/keeper/crosschain.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
Due: zetacore

replace contex.TODO() with context.Background()
  zetaclient/chains/solana/observer/outbound_test.go
Due: zetaclient

clean up
  changelog.md
  zetaclient/chains/bitcoin/observer/inbound.go
Due: zetaclient

format code
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
Due: zetaclient

feat: detect memo in btc txn from OP_RETURN and inscription (#2533)
  changelog.md
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
  zetaclient/testdata/btc/chain_8332_inbound_raw_result_37777defed8717c581b4c0509329550e344bdc14ac38f71fc050096887e535c8.json
  zetaclient/testdata/btc/chain_8332_inbound_raw_result_7a57f987a3cb605896a5909d9ef2bf7afbf0c78f21e4118b85d00d9e4cce0c2c.json
Due: zetaclient

Resolve conflicts, converge codebase between PRs
  zetaclient/chains/evm/signer/outbound_data.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/orchestrator_test.go
Due: zetaclient

run deposit
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/v2.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_v2_eth_deposit.go
  e2e/runner/logger.go
  e2e/runner/v2_evm.go
  x/observer/types/chain_params.go
  x/observer/types/chain_params_test.go
  zetaclient/chains/evm/observer/v2_inbound.go
Due: zetacore, zetaclient
