Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

chore: use fixed version for typescript proto bindings
  proto/buf.ts.yaml
Due: none

cosmos evm review fixes
  app/ante/fees.go
  app/app.go
  app/modules.go
  contrib/rpcimportable/go.mod
  go.mod
  go.sum
  rpc/backend/chain_info.go
Due: none

chore: use fixed version for typescript proto bindings (#4085)
  proto/buf.ts.yaml
Due: none

Update x/crosschain/keeper/abort.go
  x/crosschain/keeper/abort.go
Due: zetacore

revert accidentally removed decorator
  app/ante/fees.go
Due: none

chore: remove redundant words (#4084)
  contrib/localnet/README.md
  testutil/simulation/matrix.go
  x/crosschain/keeper/abort.go
  zetaclient/chains/bitcoin/signer/sign.go
Due: zetacore, zetaclient

integrate message context ID as dynamic field
  e2e/contracts/sui/bin/gateway.mv
  e2e/contracts/sui/protocol-contracts-sui-upgrade/sources/gateway.move
  e2e/runner/setup_sui.go
  e2e/runner/sui.go
  pkg/contracts/sui/gateway.go
  pkg/contracts/sui/gateway_test.go
  pkg/contracts/sui/withdraw_and_call.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/signer/tss_owned_object.go
  zetaclient/chains/sui/signer/tss_owned_object_test.go
  zetaclient/testutils/mocks/sui_client.go
  zetaclient/testutils/mocks/sui_gen.go
Due: zetaclient, pkg

add changelog entry
  changelog.md
Due: none

make issueMessageContext function self-contained
  e2e/runner/setup_sui.go
Due: none

fix unit test
  zetaclient/chains/sui/signer/signer_test.go
Due: zetaclient

fix: cosmos evm review fixes (#4086)
  app/ante/fees.go
  app/app.go
  app/modules.go
  contrib/rpcimportable/go.mod
  go.mod
  go.sum
  rpc/backend/chain_info.go
Due: none

Fix potential data race
  zetaclient/tss/ratelimit/ratelimit.go
Due: zetaclient

bump cosmos evm
  contrib/rpcimportable/go.mod
  go.mod
  go.sum
Due: none

changelog rename
  changelog.md
Due: none

chore: bump cosmos evm and finalize changelogs for v33 (#4089)
  changelog.md
  contrib/rpcimportable/go.mod
  go.mod
  go.sum
Due: none

refactor: rename test and update changelog to reflect actual improvements
  changelog.md
  zetaclient/tss/ratelimit/ratelimit_test.go
Due: zetaclient

fix: ratelimiting race condition vuln (#4072)
  changelog.md
  zetaclient/tss/ratelimit/ratelimit.go
  zetaclient/tss/ratelimit/ratelimit_test.go
Due: zetaclient

print error message detail when memo decoding failed
  e2e/e2etests/test_bitcoin_deposit_invalid_memo_revert.go
  zetaclient/chains/bitcoin/observer/inbound.go
Due: zetaclient

keep invalid memo log on Info level
  zetaclient/chains/bitcoin/observer/inbound.go
Due: zetaclient

refactor: remove support for v1 revert address for BTC (#4070)
  changelog.md
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
Due: zetacore

remove unused skip-dependency-verification flag in sui package upgrade test
  e2e/runner/sui_gateway_upgrade.go
Due: none

remove --skip-dependency-verification in sui gateway upgrade test
  e2e/runner/sui_gateway_upgrade.go
Due: none

cancel withdrawAndCall on invalid payload
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_sui_token_withdraw_and_call.go
  e2e/e2etests/test_sui_token_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_sui_withdraw_and_call.go
  e2e/e2etests/test_sui_withdraw_and_call_invalid_payload.go
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call.go
  e2e/runner/sui.go
  pkg/contracts/sui/errors.go
  pkg/contracts/sui/payload.go
  pkg/contracts/sui/payload_test.go
  zetaclient/chains/sui/signer/signer_tx.go
Due: zetaclient, pkg

update 1
  cmd/zetacored/add_observer_list.go
  cmd/zetacored/root.go
  contrib/localnet/scripts/add-keys.sh
  contrib/localnet/scripts/start-zetacored.sh
  server/start.go
  server/timeout.go
Due: none

fix nil reference in trace
  app/app.go
Due: none

fmt
  app/app.go
Due: none

adopt new increase_nonce signature to adopt gas refund logic when cancelling a CCTX
  e2e/contracts/sui/bin/gateway.mv
  e2e/contracts/sui/protocol-contracts-sui-upgrade/sources/gateway.move
  e2e/e2etests/test_sui_withdraw_and_call_invalid_payload.go
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_sui_withdraw_revert_with_call.go
  zetaclient/chains/sui/signer/signer_test.go
  zetaclient/chains/sui/signer/signer_tracker.go
  zetaclient/chains/sui/signer/signer_tx.go
Due: zetaclient

update zeta evm
  go.mod
  go.sum
Due: none

log evm chain id and use one from eth cfg
  rpc/backend/backend.go
Due: none

update commit
  go.mod
  go.sum
Due: none

cleanup
  cmd/zetacored/root.go
  rpc/backend/backend.go
Due: none

fix tests
  rpc/backend/backend_suite_test.go
Due: none

add start-skip-consensus-overwrite-test
  Makefile
  contrib/localnet/docker-compose.yml
  contrib/localnet/scripts/start-zetacored.sh
  server/start.go
  server/timeout.go
Due: none
