Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/*.go"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "cmd/zetatool/**/*"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "simulation/*.go"
  - "pkg/contracts/**/*.go"

handle empty metadata
  .github/workflows/e2e.yml
Due: none

fix: check grantee for IsSystemTx (backport #4548) (#4551)
  app/ante/ante.go
  app/ante/ante_test.go
  x/observer/keeper/voting.go
  x/observer/keeper/voting_test.go
  x/observer/types/errors.go
Due: zetacore

fix: check grantee for IsSystemTx (backport #4548)
  app/ante/ante.go
  app/ante/ante_test.go
  x/observer/keeper/voting.go
  x/observer/keeper/voting_test.go
  x/observer/types/errors.go
Due: zetacore

fix: update user paid fee for cointype ZETA to use correct denomination (backport #4542)
  e2e/e2etests/legacy/test_zeta_withdraw.go
  e2e/e2etests/test_erc20_withdraw.go
  e2e/e2etests/test_eth_withdraw.go
  e2e/e2etests/test_zeta_withdraw.go
  e2e/utils/zetacore.go
  x/crosschain/keeper/gas_payment.go
Due: zetacore

fix: add nil guards for Solana tx metadata and safe signature parsing (backport #4550) (#4552)
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_tracker.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/signer/outbound_tracker_reporter.go
Due: zetaclient

fix: check grantee for IsSystemTx (backport #4548) (#4554)
  app/ante/ante.go
  app/ante/ante_test.go
  x/observer/keeper/voting.go
  x/observer/keeper/voting_test.go
  x/observer/types/errors.go
Due: zetacore

fix: reject Solana transactions with nil metadata instead of treating as successful
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_parser.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/signer/outbound_tracker_reporter.go
Due: zetaclient

fix: reject Solana transactions with nil metadata instead of treating as successful
  changelog.md
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/signer/outbound_tracker_reporter.go
Due: zetaclient

fix: reject Solana transactions with nil metadata instead of treating as successful (#4556)
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_parser.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/signer/outbound_tracker_reporter.go
Due: zetaclient

fix: reject Solana transactions with nil metadata instead of treating as successful (#4557)
  changelog.md
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/signer/outbound_tracker_reporter.go
Due: zetaclient

fix: add nil guards for Solana tx metadata and safe signature parsing (backport #4550 to v37) (#4553)
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_parser.go
  zetaclient/chains/solana/observer/inbound_tracker.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/signer/outbound_tracker_reporter.go
Due: zetaclient

refactor: make `zetae2e balances` chain-aware with --network flag
  cmd/zetae2e/balances.go
  e2e/runner/balances.go
  e2e/runner/run.go
Due: none

fix: address review — validate network, always query EVM balances
  changelog.md
  cmd/zetae2e/balances.go
  e2e/runner/balances.go
Due: none

fix: address review — use network constants, always print EVM balances
  e2e/runner/balances.go
Due: none

fix: use networkZEVM constant with "zevm" default instead of empty string
  cmd/zetae2e/balances.go
  e2e/runner/balances.go
  e2e/runner/run.go
Due: none

refactor(e2e): make `zetae2e balances` chain-aware with --network flag (#4558)
  changelog.md
  cmd/zetae2e/balances.go
  e2e/runner/balances.go
  e2e/runner/run.go
Due: none

add tss-number flag
  cmd/zetatool/cli/tss_balances.go
Due: none

add list-observer to zetatools
  cmd/zetatool/cli/list_observers.go
  cmd/zetatool/main.go
Due: none

add changelog
  changelog.md
Due: none

add track-tss-migration
  changelog.md
  cmd/zetatool/cli/db_stats.go
  cmd/zetatool/cli/list_chains.go
  cmd/zetatool/cli/list_observers.go
  cmd/zetatool/cli/table.go
  cmd/zetatool/cli/track_tss_migration.go
  cmd/zetatool/cli/tss_balances.go
  cmd/zetatool/clients/bitcoin.go
  cmd/zetatool/main.go
Due: none

chore: fix lint issues in the node repo (#4549)
  .github/workflows/e2e.yml
  .golangci.yml
  app/app.go
  cmd/zetacore_utils/main.go
  cmd/zetatool/cctx/cctx_details.go
  e2e/e2etests/test_crosschain_swap.go
  e2e/e2etests/test_solana_withdraw_and_call_alt.go
  e2e/e2etests/test_spl_withdraw_and_call_alt.go
  e2e/runner/e2etest.go
  e2e/runner/setup_bitcoin.go
  e2e/runner/setup_solana.go
  e2e/runner/solana.go
  e2e/runner/solana_gateway_upgrade.go
  e2e/utils/zetacore.go
  pkg/contracts/solana/gateway_message.go
  pkg/proofs/bitcoin/bitcoin_spv.go
  simulation/state.go
  x/crosschain/keeper/foreign_coins.go
  x/crosschain/types/key_inbound_hash_to_cctx.go
  x/crosschain/types/keys.go
  x/crosschain/types/types.go
  x/fungible/types/key_foreign_coins.go
  zetaclient/config/config.go
Due: zetacore, zetaclient, pkg

add buffer to migration amount
  cmd/zetatool/cli/tss_balances.go
Due: none

icrease buffer to migration amount
  cmd/zetatool/cli/tss_balances.go
Due: none

update get tss address query
  x/observer/client/cli/query_get_tss_address.go
Due: none

update gas for tss-migration
  zetaclient/chains/evm/signer/gas.go
Due: zetaclient

fix: add signet to BTC client resolveParams
  zetaclient/chains/bitcoin/client/client.go
Due: zetaclient

chore: add changelog entry for #4561
  changelog.md
Due: none

fix(e2e-nightly): add signet to BTC client resolveParams (#4561)
  changelog.md
  zetaclient/chains/bitcoin/client/client.go
Due: zetaclient

fix: add AllowInsecureUnlock guard to eth_sign and eth_signTypedData
  rpc/backend/sign_tx.go
  rpc/backend/sign_tx_test.go
Due: none

Update rpc/backend/sign_tx.go
  rpc/backend/sign_tx.go
Due: none

docs: add changelog entry for eth_sign AllowInsecureUnlock guard
  changelog.md
Due: none

chore: remove repetitive word in multi files
  cmd/zetaclientd/initconfig.go
  cmd/zetae2e/local/local.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/fungible/keeper/abort_test.go
  x/lightclient/keeper/msg_server_disable_block_header_verification._test.go
Due: zetacore

fix: tighten MtA proof bounds in tss-lib (Alpha-Rays / TSSHOCK)
  go.mod
  go.sum
Due: none

chore: add changelog entry for MtA proof bounds fix
  changelog.md
Due: none

fix: tighten MtA proof bounds in tss-lib (backport v38) (#4570)
  go.mod
  go.sum
Due: none
