Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

reduce simple operations gas required to 500
  precompiles/prototype/prototype.go
Due: none

fixes
  .github/workflows/e2e.yml
  Makefile
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/local/v2.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetacored.sh
  e2e/config/config.go
  e2e/runner/evm.go
  e2e/runner/v2_migration.go
  e2e/runner/v2_setup_evm.go
  x/fungible/keeper/msg_server_update_gateway_contract.go
  x/fungible/keeper/msg_server_update_gateway_contract_test.go
  x/fungible/keeper/v2_evm.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/orchestrator/orchestrator.go
Due: zetacore, zetaclient

ci: use single input for e2e workflow_dispatch
  .github/workflows/e2e.yml
Due: none

explicitly ask for 3 accounts on solana gateway deposit
  e2e/runner/solana.go
  pkg/contracts/solana/gateway.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/testdata/solana/chain_901_inbound_tx_result_5LuQMorgd11p8GWEw6pmyHCDtA26NUyeNFhLWPNk2oBoM9pkag1LzhwGSRos3j4TJLhKjswFhZkGtvSGdLDkmqsk.json
  zetaclient/testdata/solana/chain_901_inbound_tx_result_MS3MPLN7hkbyCZFwKqXcg8fmEvQMD74fN6Ps2LSWXJoRxPW5ehaxBorK9q1JFVbqnAvu9jXm6ertj7kT7HpYw1j.json
  zetaclient/testutils/constant.go
Due: zetaclient

added changelog entry
  changelog.md
Due: none

fix: hotfix to unblock Solana inbound (#2778)
  changelog.md
  e2e/runner/solana.go
  pkg/contracts/solana/gateway.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/testdata/solana/chain_901_inbound_tx_result_5LuQMorgd11p8GWEw6pmyHCDtA26NUyeNFhLWPNk2oBoM9pkag1LzhwGSRos3j4TJLhKjswFhZkGtvSGdLDkmqsk.json
  zetaclient/testdata/solana/chain_901_inbound_tx_result_MS3MPLN7hkbyCZFwKqXcg8fmEvQMD74fN6Ps2LSWXJoRxPW5ehaxBorK9q1JFVbqnAvu9jXm6ertj7kT7HpYw1j.json
  zetaclient/testutils/constant.go
Due: zetaclient

ci: use single input for e2e workflow_dispatch (#2777)
  .github/workflows/e2e.yml
Due: none

add some fixes
  cmd/zetae2e/local/post_tss_migration.go
  cmd/zetae2e/local/tss_migration.go
  e2e/config/config.go
Due: none

Update contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/orchestrator/start-zetae2e.sh
Due: none

comments
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/tss_migration.go
  e2e/config/config.go
  e2e/runner/v2_migration.go
  zetaclient/chains/bitcoin/observer/observer.go
Due: zetaclient

changelog
  changelog.md
Due: none

fix config file
  cmd/zetae2e/config/localnet.yml
Due: none

add boilerplate for staking precompile with empty delegate method
  app/app.go
  precompiles/precompiles.go
  precompiles/precompiles_test.go
  precompiles/staking/IStaking.abi
  precompiles/staking/IStaking.go
  precompiles/staking/IStaking.json
  precompiles/staking/IStaking.sol
  precompiles/staking/bindings.go
  precompiles/staking/staking.go
  scripts/bindings-stateful-precompiles.sh
Due: none

add simple undelegate and redelegate methods
  precompiles/staking/IStaking.abi
  precompiles/staking/IStaking.go
  precompiles/staking/IStaking.json
  precompiles/staking/IStaking.sol
  precompiles/staking/staking.go
Due: none

add new methods to run
  precompiles/staking/staking.go
Due: none

chore: upgrade cosmovisor to 1.6.0
  Dockerfile-localnet
Due: none

refactor: SetCctxAndNonceToCctxAndInboundHashToCctx to accept tssPubkey as an argument (#2748)
  changelog.md
  testutil/keeper/crosschain.go
  x/crosschain/genesis.go
  x/crosschain/keeper/cctx.go
  x/crosschain/keeper/cctx_orchestrator_validate_inbound.go
  x/crosschain/keeper/cctx_orchestrator_validate_inbound_test.go
  x/crosschain/keeper/cctx_test.go
  x/crosschain/keeper/grpc_query_inbound_hash_to_cctx_test.go
  x/crosschain/keeper/msg_server_migrate_erc20_custody_funds.go
  x/crosschain/keeper/msg_server_migrate_tss_funds.go
  x/crosschain/keeper/msg_server_update_erc20_custody_pause_status.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
Due: zetacore

Update cmd/zetae2e/local/tss_migration.go
  cmd/zetae2e/local/tss_migration.go
Due: none

Update e2e/txserver/authority.go
  e2e/txserver/authority.go
Due: none

add simple tests
  precompiles/prototype/prototype_test.go
  precompiles/staking/staking.go
  precompiles/staking/staking_test.go
Due: none

add delegator caller checks
  precompiles/staking/staking.go
Due: none

fix del addr origin check
  precompiles/staking/staking.go
Due: none

chore: upgrade cosmovisor to 1.6.0 (#2782)
  Dockerfile-localnet
Due: none

explicitly ask for 3 accounts on solana gateway deposit; use default relayer key path if not set
  cmd/zetaclientd/import_relayer_keys.go
  contrib/localnet/docker-compose.yml
  e2e/runner/solana.go
  pkg/contracts/solana/gateway.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/config/types.go
  zetaclient/testdata/solana/chain_901_inbound_tx_result_5LuQMorgd11p8GWEw6pmyHCDtA26NUyeNFhLWPNk2oBoM9pkag1LzhwGSRos3j4TJLhKjswFhZkGtvSGdLDkmqsk.json
  zetaclient/testdata/solana/chain_901_inbound_tx_result_MS3MPLN7hkbyCZFwKqXcg8fmEvQMD74fN6Ps2LSWXJoRxPW5ehaxBorK9q1JFVbqnAvu9jXm6ertj7kT7HpYw1j.json
  zetaclient/testutils/constant.go
Due: zetaclient

add changelog entry and revert the modification on localnet docker file
  changelog.md
  contrib/localnet/docker-compose.yml
Due: none

feat(e2e): add support for dynamically resolving erc20 addresses
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/run.go
  e2e/runner/balances.go
  e2e/runner/report.go
Due: none

fix lint
  cmd/zetae2e/config/clients.go
Due: none

add unit test for default relayer key path
  zetaclient/config/types_test.go
Due: zetaclient

add unit tests for delegate method
  precompiles/staking/staking.go
  precompiles/staking/staking_test.go
Due: none

add undelegate tests
  precompiles/staking/staking.go
  precompiles/staking/staking_test.go
Due: none

add redelegate unit tests
  precompiles/staking/IStaking.abi
  precompiles/staking/IStaking.go
  precompiles/staking/IStaking.json
  precompiles/staking/IStaking.sol
  precompiles/staking/staking.go
  precompiles/staking/staking_test.go
Due: none

refactor bitcoin error
  zetaclient/chains/bitcoin/errors.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/observer.go
Due: zetaclient

renamings
  precompiles/staking/IStaking.abi
  precompiles/staking/IStaking.go
  precompiles/staking/IStaking.json
  precompiles/staking/IStaking.sol
  precompiles/staking/staking.go
  precompiles/staking/staking_test.go
Due: none

generate
  app/app.go
  precompiles/precompiles.go
  precompiles/staking/staking.go
  precompiles/staking/staking_test.go
Due: none

pr comments
  precompiles/staking/staking.go
Due: none

codecov
  codecov.yml
Due: none

renaming
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_precompiles_prototype.go
Due: none

review feedback
  cmd/zetae2e/run.go
Due: none

Path conditions:
  zetacore: any of: x/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  zetaclient: any of: zetaclient/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
  common: any of: common/, but not: x/**/client/, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/module_simulation.go, x/**/simulation/, *.proto, *.md, *.yml, *.yaml, *.pb.go, *.pb.gw.go, *.json, .github/, app/, cmd/, contrib/, docs/, rpc/, proto/, scripts/, server/, testutil/, typescript/
