Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

fix accounting further
  e2e/runner/accounting.go
Due: none

add issue
  e2e/runner/accounting.go
Due: none

fix: sui accounting by using 0 for the effective gas limit (#4018)
  changelog.md
  cmd/zetae2e/local/sui.go
  e2e/runner/accounting.go
  e2e/runner/sui_gateway_balance.go
  e2e/runner/sui_gateway_balance_test.go
  zetaclient/chains/sui/observer/observer_test.go
  zetaclient/chains/sui/observer/outbound.go
  zetaclient/chains/ton/observer/outbound.go
Due: zetaclient

PR comments
  rpc/backend/account_info_test.go
  rpc/backend/blocks.go
  rpc/namespaces/ethereum/personal/api.go
  server/start.go
Due: none

generate
  docs/cli/zetacored/cli.md
Due: none

test: use grpc to query zeta supply in accounting check (#4035)
  e2e/runner/accounting.go
Due: none

add explanation for memo API change; always handle error returned by API DecodeFromBytes
  pkg/memo/memo.go
  zetaclient/chains/bitcoin/observer/event.go
Due: zetaclient, pkg

check fro upgrade test when disabling sui gateway upgrade
  e2e/runner/upgrade.go
Due: none

use connector native for migration tests
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/tss_migration.go
  e2e/runner/admin_evm.go
  e2e/runner/upgrade.go
Due: none

rebase develop
  e2e/runner/admin_evm.go
Due: none

test(e2e): fix e2e test involving test re-runs (#4037)
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/tss_migration.go
  e2e/runner/admin_evm.go
  e2e/runner/upgrade.go
Due: none

update upgrade height to 280 to allow the first test to run the entire cycle
  Makefile
Due: none

make btc inscription based depositAndCall compatible for live network E2E test
  e2e/e2etests/e2etests.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call.go
  e2e/e2etests/test_bitcoin_std_memo_inscribed_deposit_and_call.go
  e2e/e2etests/test_bitcoin_withdraw_rbf.go
  e2e/e2etests/test_eth_deposit_and_call_big_payload.go
  e2e/e2etests/test_eth_withdraw_and_call_big_payload.go
  e2e/runner/bitcoin.go
  zetaclient/chains/bitcoin/observer/utxos.go
Due: zetaclient

add changelog entry
  changelog.md
Due: none

fix gosec error
  e2e/e2etests/test_bitcoin_std_memo_inscribed_deposit_and_call.go
  e2e/runner/bitcoin.go
Due: none

use SelectUTXOs func to select UTXOs in E2E test
  e2e/runner/bitcoin.go
Due: none

refactor: use slices.Equal to simplify code
  zetaclient/context/app.go
Due: zetaclient

add 1 min delay to gas price vote
  zetaclient/chains/bitcoin/observer/gas_price.go
  zetaclient/chains/evm/observer/observer_gas.go
  zetaclient/chains/solana/observer/observer_gas.go
  zetaclient/chains/sui/observer/observer.go
  zetaclient/chains/ton/observer/observer.go
Due: zetaclient

wrap zeta mints in tmp context
  cmd/zetae2e/local/evm.go
  cmd/zetae2e/local/local.go
  e2e/e2etests/legacy/test_zeta_deposit.go
  e2e/e2etests/test_eth_deposit_fast_confirmation.go
  e2e/runner/legacy_zevm.go
  e2e/runner/run.go
  x/crosschain/keeper/evm_deposit.go
  x/crosschain/keeper/v2_zevm_inbound.go
  x/fungible/keeper/abort.go
  x/fungible/keeper/deposit.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/revert.go
  x/fungible/keeper/zeta.go
  x/fungible/keeper/zevm_msg_passing.go
Due: zetacore

fix typo
  zetaclient/zetacore/broadcast.go
Due: zetaclient

PR fixes
  zetaclient/chains/ton/readme.md
Due: none

Update changelog.md
  changelog.md
Due: none

Update cmd/zetacored/root.go
  cmd/zetacored/root.go
Due: none

add abort
  Makefile
Due: none

docs(ton): add docs for TON observer-signer (#4030)
  zetaclient/chains/ton/readme.md
Due: none

chore: bump to latest cosmos evm (#4041)
  app/app.go
  cmd/zetacored/root.go
  docs/cli/zetacored/cli.md
  go.mod
  go.sum
  rpc/backend/backend_suite_test.go
  rpc/backend/chain_info_test.go
  rpc/backend/evm_query_client_test.go
  server/start.go
  testutil/keeper/keeper.go
Due: none

removing evmd reference
  app/eips/eips.go
  cmd/zetacored/config/activators.go
  cmd/zetacored/config/chain_id.go
  cmd/zetacored/root.go
  contrib/rpcimportable/go.mod
  go.mod
  go.sum
  rpc/backend/backend_suite_test.go
  rpc/backend/chain_info_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/utils.go
Due: none

fixing rpc import table tests
  contrib/rpcimportable/go.mod
Due: none

refactor: improve error handling when decoding Bitcoin inscribed memo standard (#4033)
  changelog.md
  pkg/memo/memo.go
  pkg/memo/memo_test.go
  zetaclient/chains/bitcoin/observer/event.go
Due: zetaclient, pkg

feat(zetaclient): minor code improvements (#4014)
  cmd/zetatool/cctx/cctx_details.go
  pkg/bg/bg.go
  pkg/bg/bg_test.go
  pkg/rpc/clients_crosschain.go
  pkg/rpc/clients_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/zetacore/broadcast.go
  zetaclient/zetacore/broadcast_test.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/client_fungible_test.go
  zetaclient/zetacore/client_monitor.go
  zetaclient/zetacore/client_start.go
  zetaclient/zetacore/client_test.go
  zetaclient/zetacore/constant.go
  zetaclient/zetacore/tx.go
  zetaclient/zetacore/tx_test.go
Due: zetaclient, pkg

increase upgrade hieght
  Makefile
Due: none

ci fixes
  contrib/rpcimportable/go.mod
  rpc/backend/backend_suite_test.go
  rpc/backend/chain_info_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/utils.go
Due: none

Path conditions:
  zetacore: any of: x/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  zetaclient: any of: zetaclient/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
  pkg: any of: pkg/, but not: x/**/client/**/*, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/types/expected_keepers.go, x/**/module.go, x/**/events.go, x/**/migrator.go, x/**/module_simulation.go, x/**/simulation/**/*, **/*.proto, **/*.md, **/*.yml, **/*.yaml, **/*.pb.go, **/*.pb.gw.go, **/*_legacy.go, **/*.json, zetaclient/testdata/**/*, zetaclient/testutils/**/*, .github, app, cmd, contrib, docs, e2e, proto, rpc, scripts, server, testutil, tool, typescript/**/*, precompiles/**/bindings.go, precompiles/**/*.abi, precompiles/**/*.json, precompiles/**/*.sol, precompiles/**/*.gen.go, tests/simulation/**/*
