Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, common

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      common:
        if_ci_failed: error
        target: 60%
        flags:
          - common

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    carryforward: true
    paths:
      - "x/"
  zetaclient:
    carryforward: true
    paths:
      - "zetaclient/"
  common:
    carryforward: true
    paths:
      - "common/"

ignore:
  - "x/**/client/"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - "*.pb.gw.go"
  - "*.json"
  - ".github/"
  - "app/"
  - "cmd/"
  - "contrib/"
  - "docs/"
  - "rpc/"
  - "proto/"
  - "scripts/"
  - "server/"
  - "testutil/"
  - "typescript/"

Fix build
  x/emissions/migrations/v3/migrate_test.go
  x/observer/keeper/migrator.go
Due: zetacore

Regen proto
  pkg/chains/chains.pb.go
  proto/lightclient/chain_state.proto
  proto/lightclient/genesis.proto
  proto/lightclient/query.proto
  proto/lightclient/tx.proto
  proto/lightclient/verification_flags.proto
  x/crosschain/types/genesis.pb.go
  x/crosschain/types/tx.pb.go
  x/emissions/types/params.pb.go
  x/fungible/types/genesis.pb.go
  x/lightclient/types/chain_state.pb.go
  x/lightclient/types/genesis.pb.go
  x/lightclient/types/query.pb.go
  x/lightclient/types/tx.pb.go
  x/lightclient/types/verification_flags.pb.go
  x/observer/types/genesis.pb.go
  x/observer/types/params.pb.go
  x/observer/types/query.pb.go
  x/observer/types/tx.pb.go
Due: zetacore

Fixes for e2e tests
  testutil/keeper/keeper.go
  testutil/keeper/lightclient.go
  x/lightclient/keeper/keeper.go
  x/lightclient/module.go
Due: none

Fix some unit tests
  testutil/keeper/keeper.go
  testutil/network/network_config.go
  x/crosschain/client/querytests/cli_test.go
  x/crosschain/types/authz_test.go
  x/observer/client/querytests/cli_test.go
  x/observer/keeper/ballot_test.go
  x/observer/keeper/grpc_query_chain_params_test.go
  zetaclient/zetabridge/broadcast_test.go
  zetaclient/zetabridge/query_test.go
Due: zetacore, zetaclient

Fix some lint errors
  testutil/keeper/keeper.go
  zetaclient/testutils/stub/keyring.go
Due: zetaclient

update change log and add one more rate limiter flag test
  changelog.md
  x/crosschain/keeper/rate_limiter_flags_test.go
Due: zetacore

add error checks
  cmd/zetacored/parse_genesis.go
Due: none

use outboun amount for calculation
  x/crosschain/keeper/grpc_query_cctx.go
Due: zetacore

add comments
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_message_passing_zevm.go
  go.mod
  testutil/contracts/Dapp.sol
  testutil/contracts/DappReverter.sol
  testutil/keeper/mocks/crosschain/fungible.go
  x/crosschain/keeper/evm_deposit.go
  x/crosschain/keeper/evm_deposit_test.go
  x/crosschain/keeper/process_inbound_test.go
  x/crosschain/keeper/process_outbound_test.go
  x/crosschain/keeper/processs_outbound.go
  x/crosschain/types/expected_keepers.go
  x/fungible/keeper/deposits.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/zeta.go
  x/fungible/keeper/zevm_message_passing_test.go
  x/fungible/keeper/zevm_msg_passing.go
  zetaclient/evm/evm_signer.go
Due: zetacore, zetaclient

add changelog
  changelog.md
Due: none

Fix the error in execution
  x/crosschain/types/errors.go
Due: none

add skip header option
  cmd/zetae2e/local/local.go
Due: none

use option for migration test
  contrib/localnet/orchestrator/start-zetae2e.sh
Due: none

move bitcoin addresses tests to advanced
  cmd/zetae2e/local/local.go
Due: none

show cctx in logs
  e2e/utils/zetacore.go
Due: none

Update cmd/zetacored/parse_genesis.go
  cmd/zetacored/parse_genesis.go
Due: none

Update testutil/contracts/Dapp.sol
  testutil/contracts/Dapp.sol
Due: none

fixed logs and resolved comments 1
  app/ante/ante.go
  e2e/e2etests/test_eth_deposit.go
  e2e/e2etests/test_message_passing_zevm.go
  x/crosschain/keeper/cctx.go
  x/fungible/keeper/evm.go
Due: zetacore

move end to end tests to zeta advanced tests
  cmd/zetae2e/local/local.go
Due: none

move end to end tests to zeta advanced tests
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
Due: zetacore

chore: improve localnet incremental build times (#2049)
  Dockerfile-localnet
  Makefile
Due: none

some minimum code refactor
  testutil/keeper/mocks/crosschain/observer.go
  x/crosschain/keeper/cctx_utils.go
  x/crosschain/keeper/cctx_utils_test.go
  x/crosschain/keeper/grpc_query_cctx.go
  x/crosschain/keeper/msg_server_add_to_outtx_tracker.go
  x/crosschain/types/expected_keepers.go
  x/observer/keeper/chain_params.go
  zetaclient/evm/evm_signer.go
Due: zetacore, zetaclient

created separate file for cctx query with rate limit
  x/crosschain/keeper/grpc_query_cctx.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit_test.go
  x/crosschain/keeper/grpc_query_cctx_test.go
Due: zetacore

Fix more unit tests
  zetaclient/zetabridge/tx_test.go
Due: zetaclient

revert a cctx instead of aborting when message decode fails
  x/crosschain/keeper/evm_deposit.go
  x/crosschain/keeper/process_inbound.go
Due: zetacore

improved a few error handlling
  x/crosschain/keeper/grpc_query_cctx.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit_test.go
  x/crosschain/keeper/grpc_query_cctx_test.go
Due: zetacore

separate processing for ZEVM orginating and non ZEVM originating txs into separate functions
  x/crosschain/keeper/processs_outbound.go
Due: zetacore

PR comments
  testutil/keeper/emissions.go
  x/emissions/abci.go
  x/emissions/abci_test.go
  x/emissions/genesis.go
  x/emissions/keeper/block_rewards_components.go
  x/emissions/keeper/block_rewards_components_test.go
  x/emissions/keeper/grpc_query_get_emmisons_factors.go
  x/emissions/keeper/grpc_query_get_emmisons_factors_test.go
  x/emissions/keeper/msg_server_update_params.go
  x/emissions/keeper/msg_server_update_params_test.go
  x/emissions/keeper/params_test.go
  x/emissions/migrations/v3/migrate.go
  x/emissions/types/errors.go
  x/emissions/types/params.go
  x/emissions/types/params_test.go
Due: zetacore

fix lint issues
  x/crosschain/types/expected_keepers.go
  x/fungible/keeper/evm.go
Due: zetacore

generate files
  cmd/zetacored/parse_genesis.go
  docs/cli/zetacored/zetacored.md
  docs/cli/zetacored/zetacored_parse-genesis-file.md
  docs/cli/zetacored/zetacored_query.md
  docs/cli/zetacored/zetacored_query_crosschain.md
  docs/cli/zetacored/zetacored_query_crosschain_update_rate_limit_flags.md
  docs/cli/zetacored/zetacored_query_fungible.md
  docs/cli/zetacored/zetacored_query_fungible_params.md
  docs/cli/zetacored/zetacored_query_lightclient.md
  docs/cli/zetacored/zetacored_query_lightclient_list-block-header.md
  docs/cli/zetacored/zetacored_query_lightclient_list-chain-state.md
  docs/cli/zetacored/zetacored_query_lightclient_show-chain-state.md
  docs/cli/zetacored/zetacored_query_lightclient_show-verification-flags.md
  docs/cli/zetacored/zetacored_tx.md
  docs/cli/zetacored/zetacored_tx_lightclient.md
  docs/cli/zetacored/zetacored_tx_lightclient_update-verification-flags.md
Due: none

generate files
  docs/cli/zetacored/zetacored.md
  docs/cli/zetacored/zetacored_parse-genesis-file.md
  docs/cli/zetacored/zetacored_query.md
  docs/cli/zetacored/zetacored_query_crosschain.md
  docs/cli/zetacored/zetacored_query_crosschain_update_rate_limit_flags.md
  docs/cli/zetacored/zetacored_query_fungible.md
  docs/cli/zetacored/zetacored_query_lightclient.md
  docs/cli/zetacored/zetacored_query_lightclient_list-block-header.md
  docs/cli/zetacored/zetacored_query_lightclient_list-chain-state.md
  docs/cli/zetacored/zetacored_query_lightclient_show-block-header.md
  docs/cli/zetacored/zetacored_query_lightclient_show-chain-state.md
  docs/cli/zetacored/zetacored_query_lightclient_show-verification-flags.md
  docs/cli/zetacored/zetacored_tx.md
  docs/cli/zetacored/zetacored_tx_lightclient.md
  docs/cli/zetacored/zetacored_tx_lightclient_update-verification-flags.md
Due: none

use old cctx query as fallback when rate limiter is disabled; some renaming
  cmd/zetae2e/stress.go
  docs/openapi/openapi.swagger.yaml
  proto/crosschain/query.proto
  typescript/crosschain/query_pb.d.ts
  x/crosschain/client/cli/cli_cctx.go
  x/crosschain/keeper/abci.go
  x/crosschain/keeper/grpc_query_cctx.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit_test.go
  x/crosschain/keeper/grpc_query_cctx_test.go
  x/crosschain/types/query.pb.go
  x/crosschain/types/query.pb.gw.go
  zetaclient/interfaces/interfaces.go
  zetaclient/testutils/stub/core_bridge.go
  zetaclient/zetabridge/query.go
  zetaclient/zetacore_observer.go
Due: zetacore, zetaclient

fixed unit test compile
  zetaclient/zetabridge/query_test.go
Due: zetaclient

feat: add command to modify genesis before import (#1979)
  app/app.go
  app/init_genesis.go
  changelog.md
  cmd/zetacored/parse_genesis.go
  cmd/zetacored/parse_genesis_test.go
  cmd/zetacored/root.go
  docs/cli/zetacored/zetacored.md
  docs/cli/zetacored/zetacored_parse-genesis-file.md
  testutil/sample/observer.go
  testutil/sample/sample.go
Due: none

Linters
  changelog.md
  rpc/backend/chain_info.go
Due: none
