Repository zeta-chain/node: changes, and which Codecov flags are due for each by the changed paths.
All: zetacore, zetaclient, pkg

codecov.yml:

coverage:
  round: down
  precision: 2
  status:
    project:
      default:
        threshold: 1% # allow this much decrease on project
      zetacore:
        if_ci_failed: error
        target: 60%
        flags:
          - zetacore
      zetaclient:
        if_ci_failed: error
        target: 60%
        flags:
          - zetaclient
      pkg:
        if_ci_failed: error
        target: 60%
        flags:
          - pkg

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true

flags:
  zetacore:
    paths:
      - "x/"
  zetaclient:
    paths:
      - "zetaclient/"
  pkg:
    paths:
      - "pkg/"

ignore:
  - "x/**/client/**/*"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/types/expected_keepers.go"
  - "x/**/module.go"
  - "x/**/events.go"
  - "x/**/migrator.go"
  - "x/**/module_simulation.go"
  - "x/**/simulation/**/*"
  - "**/*.proto"
  - "**/*.md"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/*_legacy.go"
  - "**/*.json"
  - "zetaclient/testdata/**/*"
  - "zetaclient/testutils/**/*"
  - ".github"
  - "app"
  - "cmd"
  - "contrib"
  - "docs"
  - "e2e"
  - "proto"
  - "rpc"
  - "scripts"
  - "server"
  - "testutil"
  - "tool"
  - "typescript/**/*"
  - "precompiles/**/bindings.go"
  - "precompiles/**/*.abi"
  - "precompiles/**/*.json"
  - "precompiles/**/*.sol"
  - "precompiles/**/*.gen.go"
  - "tests/simulation/**/*"

fix: set zeta ante to true in upgrade tests (#4225)
  Makefile
  cmd/zetae2e/local/local.go
  contrib/localnet/scripts/start-zetacored.sh
  e2e/e2etests/test_admin_transactions.go
  e2e/e2etests/test_deposit_and_call_out_of_gas.go
  e2e/runner/upgrade_v36.go
  e2e/runner/zevm.go
Due: none

chore: resync changelogs with v36 changes (#4223)
  changelog.md
Due: none

return error from fetching FlagSkipConfigOverwrite
  server/start.go
Due: none

fix: skip writing config file to the filesystem (#4210)
  changelog.md
  server/start.go
  server/timeout.go
  server/timeout_test.go
Due: none

use ante-zetae2e for admin upgrade tests
  Makefile
Due: none

test fix
  cmd/zetae2e/local/local.go
Due: none

refactor(`observer`): remove deprecated code (#4192)
  Makefile
  changelog.md
  cmd/zetae2e/local/local.go
  cmd/zetatool/cctx/inbound.go
  docs/openapi/openapi.swagger.yaml
  e2e/runner/setup_solana.go
  e2e/runner/setup_sui.go
  e2e/runner/setup_ton.go
  e2e/runner/setup_zevm.go
  e2e/runner/upgrade.go
  e2e/txserver/zeta_tx_server.go
  proto/zetachain/zetacore/observer/chain_params.proto
  proto/zetachain/zetacore/observer/genesis.proto
  proto/zetachain/zetacore/observer/query.proto
  proto/zetachain/zetacore/observer/tx.proto
  testutil/sample/observer.go
  typescript/zetachain/zetacore/observer/chain_params_pb.ts
  typescript/zetachain/zetacore/observer/genesis_pb.ts
  typescript/zetachain/zetacore/observer/query_pb.ts
  typescript/zetachain/zetacore/observer/tx_pb.ts
  x/observer/keeper/migrator.go
  x/observer/keeper/msg_server_update_chain_params_test.go
  x/observer/migrations/v10/migrate.go
  x/observer/migrations/v10/migrate_test.go
  x/observer/module.go
  x/observer/simulation/decoders.go
  x/observer/simulation/decoders_test.go
  x/observer/types/chain_params.go
  x/observer/types/chain_params.pb.go
  x/observer/types/chain_params_test.go
  x/observer/types/genesis.pb.go
  x/observer/types/keys.go
  x/observer/types/query.pb.go
  x/observer/types/tx.pb.go
  zetaclient/testutils/mocks/chain_params.go
Due: zetacore

add support for ALT
  contrib/localnet/solana/connected.so
  contrib/localnet/solana/start-solana.sh
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_solana_withdraw_and_call.go
  e2e/e2etests/test_solana_withdraw_and_call_invalid_tx_size.go
  e2e/e2etests/test_solana_withdraw_and_call_revert_with_call.go
  e2e/runner/solana.go
  e2e/utils/parsing.go
  go.mod
  go.sum
  pkg/contracts/solana/gateway_message.go
  pkg/contracts/solana/gateway_message_test.go
  pkg/contracts/solana/instruction.go
  zetaclient/chains/solana/observer/inbound_parser.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/signer/execute.go
  zetaclient/chains/solana/signer/execute_spl.go
  zetaclient/chains/solana/signer/increment_nonce.go
  zetaclient/chains/solana/signer/outbound_tracker_reporter.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/whitelist.go
  zetaclient/chains/solana/signer/withdraw.go
  zetaclient/chains/solana/signer/withdraw_spl.go
Due: zetaclient, pkg

feat: enable NoAssetCall from Bitcoin (#4218)
  changelog.md
  cmd/zetae2e/local/bitcoin.go
  docs/openapi/openapi.swagger.yaml
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_bitcoin_deposit_abort_with_low_deposit_fee.go
  e2e/e2etests/test_bitcoin_deposit_invalid_memo_revert.go
  e2e/e2etests/test_bitcoin_to_zevm_call.go
  e2e/e2etests/test_bitcoin_to_zevm_call_abort.go
  e2e/e2etests/test_bitcoin_to_zevm_call_excessive_funds_revert.go
  e2e/runner/runner.go
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.ts
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/cctx_gateway_zevm_test.go
  x/crosschain/types/cross_chain_tx.pb.go
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
Due: zetacore, zetaclient

add repo folder and refactor ObserveGasPrice
  zetaclient/chains/ton/observer/gas.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/observer.go
  zetaclient/chains/ton/observer/outbound.go
  zetaclient/chains/ton/repo/errors.go
  zetaclient/chains/ton/repo/gas.go
  zetaclient/chains/ton/repo/repo.go
  zetaclient/chains/ton/repo/writers.go
  zetaclient/chains/ton/ton.go
Due: zetaclient

try diff upgrade height
  Makefile
Due: none

move encode/decode functions to their own modules
  e2e/e2etests/test_ton_deposit_restricted_address.go
  e2e/e2etests/test_ton_withdraw_masterchain.go
  e2e/e2etests/test_ton_withdraw_restricted.go
  e2e/e2etests/test_ton_withdrawal.go
  e2e/runner/ton.go
  zetaclient/chains/ton/encoder/encoder.go
  zetaclient/chains/ton/observer/gas.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/inbound_test.go
  zetaclient/chains/ton/observer/observer_test.go
  zetaclient/chains/ton/observer/outbound.go
  zetaclient/chains/ton/observer/outbound_test.go
  zetaclient/chains/ton/repo/errors.go
  zetaclient/chains/ton/repo/gas.go
  zetaclient/chains/ton/repo/repo.go
  zetaclient/chains/ton/repo/ton.go
  zetaclient/chains/ton/rpc/types.go
  zetaclient/chains/ton/signer/signer_test.go
  zetaclient/chains/ton/signer/signer_tracker.go
Due: zetaclient

upgrade additional fee in upgrade v36 handler
  e2e/runner/upgrade_v36.go
Due: none

add tests for encoder
  zetaclient/chains/ton/encoder/encoder_test.go
Due: zetaclient

add support for external DNS name
  cmd/zetaclientd/initconfig.go
  cmd/zetaclientd/start.go
  contrib/localnet/docker-compose.yml
  contrib/localnet/scripts/start-zetaclientd.sh
  go.mod
  go.sum
  zetaclient/config/types.go
  zetaclient/metrics/telemetry.go
  zetaclient/tss/setup.go
Due: zetaclient

add changelog entry
  changelog.md
Due: none

add a simple check for finalizing vote
  zetaclient/zetacore/client_vote.go
Due: zetaclient

add logs
  zetaclient/zetacore/client_vote.go
Due: zetaclient

add a simple check for finalizing votes
  zetaclient/zetacore/client_vote.go
Due: zetaclient

set 7M gas limit instead of using retryGasLimit
  zetaclient/zetacore/client_vote.go
Due: zetaclient

update total
  zetaclient/zetacore/client_vote.go
Due: zetaclient

update logs
  zetaclient/zetacore/client_vote.go
Due: zetaclient

fix unit tests
  zetaclient/zetacore/tx_test.go
Due: zetaclient

refactor getLastScannedTransaction
  zetaclient/chains/base/observer.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/repo/errors.go
  zetaclient/chains/ton/repo/repo.go
  zetaclient/chains/ton/repo/ton.go
Due: zetaclient

fix: add a simple check for finalizing vote (#4236)
  zetaclient/zetacore/client_vote.go
  zetaclient/zetacore/tx_test.go
Due: zetaclient

feat: multiple evm calls in single tx (#4157)
  changelog.md
  cmd/zetae2e/local/evm.go
  contrib/localnet/docker-compose.yml
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/contracts/testdappv2/TestDAppV2.abi
  e2e/contracts/testdappv2/TestDAppV2.bin
  e2e/contracts/testdappv2/TestDAppV2.go
  e2e/contracts/testdappv2/TestDAppV2.json
  e2e/contracts/testdappv2/TestDAppV2.sol
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_erc20_multiple_deposits.go
  e2e/e2etests/test_eth_multiple_deposits.go
  e2e/e2etests/test_eth_multiple_deposits_legacy.go
  e2e/e2etests/test_inbound_trackers.go
  e2e/runner/evm.go
  e2e/runner/setup_evm.go
  e2e/runner/upgrade_v36.go
  go.mod
  go.sum
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/evm/observer/v2_inbound_tracker.go
Due: zetaclient

rebase develop 2
  e2e/runner/upgrade_v36.go
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.ts
  typescript/zetachain/zetacore/observer/chain_params_pb.ts
Due: none

rebase develop 2
  cmd/zetae2e/local/local.go
Due: none

chore: fix function name in comment
  rpc/types/utils.go
Due: none

chore: fix function name in comment (#4238)
  rpc/types/utils.go
Due: none

Revert "fix: add a simple check for finalizing vote (#4236)"
  zetaclient/zetacore/client_vote.go
  zetaclient/zetacore/tx_test.go
Due: zetaclient

revert: add a simple check for finalizing vote (#4240)
  zetaclient/zetacore/client_vote.go
  zetaclient/zetacore/tx_test.go
Due: zetaclient

Revert "fix(backport): force rescan if inbound vote monitoring fails using a…"
  pkg/errors/monitor_error.go
  zetaclient/chains/base/confirmation.go
  zetaclient/chains/base/confirmation_test.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/bitcoin/observer/db.go
  zetaclient/chains/bitcoin/observer/db_test.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/sui/observer/observer_test.go
  zetaclient/chains/ton/observer/observer_test.go
  zetaclient/context/context.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/testutils/mocks/zetacore_client_opts.go
  zetaclient/zetacore/client_monitor.go
  zetaclient/zetacore/client_vote.go
  zetaclient/zetacore/tx_test.go
Due: zetaclient, pkg

revert: force rescan if inbound vote monitoring fails using a context that can timeout (#4241)
  pkg/errors/monitor_error.go
  zetaclient/chains/base/confirmation.go
  zetaclient/chains/base/confirmation_test.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/bitcoin/observer/db.go
  zetaclient/chains/bitcoin/observer/db_test.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/sui/observer/observer_test.go
  zetaclient/chains/ton/observer/observer_test.go
  zetaclient/context/context.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/testutils/mocks/zetacore_client_opts.go
  zetaclient/zetacore/client_monitor.go
  zetaclient/zetacore/client_vote.go
  zetaclient/zetacore/tx_test.go
Due: zetaclient, pkg

Revert "fix: add timeout to monitoring routine (#4196)"
  zetaclient/chains/base/observer.go
  zetaclient/chains/ton/observer/observer_test.go
  zetaclient/context/context.go
  zetaclient/zetacore/client_vote.go
Due: zetaclient

refactor ObserveInbounds and ProcessInboundTrackers
  zetaclient/chains/base/observer.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/inbound_test.go
  zetaclient/chains/ton/observer/observer_test.go
  zetaclient/chains/ton/observer/outbound.go
  zetaclient/chains/ton/repo/errors.go
  zetaclient/chains/ton/repo/repo.go
  zetaclient/chains/ton/repo/ton.go
  zetaclient/chains/ton/repo/writers.go
  zetaclient/chains/ton/ton.go
Due: zetaclient

refactor outbounds.go
  zetaclient/chains/interfaces/zetacore.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/observer.go
  zetaclient/chains/ton/observer/outbound.go
  zetaclient/chains/ton/observer/outbound_test.go
  zetaclient/chains/ton/repo/errors.go
  zetaclient/chains/ton/repo/repo.go
  zetaclient/chains/ton/repo/ton.go
  zetaclient/chains/zrepo/errors.go
  zetaclient/chains/zrepo/zrepo.go
Due: zetaclient

add logs
  Makefile
  cmd/zetacored/root.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/performance.go
  contrib/localnet/docker-compose.yml
  e2e/runner/run.go
  e2e/utils/zetacore.go
  zetaclient/chains/base/logger.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/zetacore/broadcast.go
  zetaclient/zetacore/client_monitor.go
Due: zetaclient
